[2016-07-06 13:22] daN4cat commented on #39
I read this: `Uncaught SyntaxError: Unexpected token ,`

The issue is with `data: ,`

[2016-07-06 13:25] daN4cat commented on #458
Mhhhh do we really want to do that in 3.0? We will get people reporting that it doesn't work because they don't have that php extension.

[2016-07-06 17:16] jekkos commented on #458
I understand the concern.. of course we'll need to mention it explicitly in the upgrade guide. Beside that some basic explanation on howto troubleshoot and then hopefully most users will know what to do? I'll try to finish the patch (prolly tomorrow) so you can first try and see which kind of issues come up...

then we can still decide to include it or not

[2016-07-06 18:15] daN4cat commented on #39
I created a Items temp table to support the Inventory creation and performance improvement since XSS clean of many rows slows down things. I reduced the fields of one so we have less parsing.

[2016-07-06 18:21] odiea commented on #458
I enabled it in xampp so I will give it a try.

[2016-07-06 23:58] odiea opened #724 "New setup for testing OSPOS."
I just updated my xampp setup. With this new version I am having no errors and it is twice as fast.

xampp-win32-7.0.8-0-VC14-installer.exe

XAMPP Apache + MariaDB + PHP + Perl

Apache Version  Apache/2.4.18 (Win32) OpenSSL/1.0.2e PHP/7.0.8
Apache API Version  20120211
Server Administrator  postmaster@localhost
Hostname:Port  localhost:80
Max Requests  Per Child: 0 - Keep Alive: on - Max Per Conne

[2016-07-07 02:48] agungwizz commented on #24
Dear @jekkos n @daN4cat any news about this?
this module need new table and new role in programing and business process detail
and need for more time....
i am try to create this module  but  I am confused where to start, i am need for add field down payment, Amount Tendered, new payment.
Best Regard

[2016-07-07 08:51] akashneelh opened #725 "Add drop down filed in New Gift Card form"
Dear All,

I just want to add a dropdown field in the new gift card form and put two text values in the drop down list. Please guide how to do that. I have already inserted a new text field in ospos_gifcard table named as 'Reason'.

Pls help.

[2016-07-07 11:22] jekkos commented on #722
The only difference between those headers currently is just one css file, right?

Why don't we then just define the path to that file as an application config record?

[2016-07-07 11:22] jekkos commented on #722
In that case we can get rid of the file itself and use a generic one that can load any theme

[2016-07-07 11:32] odiea commented on #722
It looks like 2 if the style.css is kept.

<link rel="stylesheet" type="text/css" href="templates/spacelab/css/bootstrap.min.css?

		<link rel="stylesheet" type="text/css" href="templates/spacelab/css/style.css"/>

[2016-07-07 11:35] jekkos commented on #722
Yes I just thought about the theming, think it just comes down to copying all different css sheets in their own folder and adding a config option to select the folder you want to load from

the build isn't impacted as these sheets are already separated from the minifcation, think it's quite easy to do

[2016-07-07 11:36] jekkos commented on #722
then in this case flatly style.css and bootstrap.min.css should move to templates/flatly folder.. need a new grunt task to copy those from bower_components/

[2016-07-07 11:37] jekkos commented on #722
Also I wonder whether we need to keep the other files that are now present in the templates dir? Was there anything specifically done for the footer / login files? I think we won't need them anymore.. I'll have a look later (first finish the locale stuff)

[2016-07-07 11:40] daN4cat commented on #722
There is an issue about make OSPOS managing themes better.

[2016-07-07 12:06] odiea commented on #409
bootstrap.min.css appears to be the only difference when I change the themes.

[2016-07-07 12:37] odiea commented on #722
It appears that all that needs to be done is get rid of the template folder then change the bootstrap.min.cc in the dist folder. The style.css is nice to change little bits of the look. Like the topbar looks better to me with the style.cc invoked. So if you can add a template config to Store config that would work great.

[2016-07-07 13:19] jekkos commented on #409
You're right could'nt directly find the issue

[2016-07-07 15:22] daN4cat commented on #722
#409 please...

[2016-07-07 15:25] daN4cat commented on #409
There is an extra css to style things as you want. But if in the end we just want to change overall template styling just the min.css will do. Login needs to change too probably.

[2016-07-07 17:55] jekkos commented on #409
I think login can load the same parameter in the path.. just a matter of adding a config->item in there

[2016-07-07 18:46] odiea commented on #682
And the table does not update the way it should.

[2016-07-07 19:15] jekkos commented on #458
I've added the locale support in latest commit. Also [find a page on the wiki](https://github.com/jekkos/opensourcepos/wiki/Localisation-support) that explains how to set this up correctly. There's a link from a tooltip to this new page.

Lcoale selection will determine the currency symbol by default. This symbol can be overridden by the user afterwards. Currency position is derived from the set l

[2016-07-07 19:17] jekkos commented on #458
Think we should try to use wiki more often from within the application and so we can cross reference the issues that discuss the topic at hand. Some kind of world wide ospos web (wwow)

[2016-07-07 19:19] jekkos commented on #458
One thing the NumberFormatter does it define a formatting mask for a selected locale. This mask can also be edited by hand (but we're currenty not exposing it directly). This is how I currently read out the currency position info.

[2016-07-07 19:34] jekkos opened #726 "Inventory does not support decimal quantities"
Found a bug while testing #458. Inventroy trans_inventory column is of type int(11) and thus does not support decimals.

[2016-07-07 19:55] daN4cat commented on #409
Yes, just set a reminder

[2016-07-07 20:30] odiea commented on #458
Boy this really screwed up my side. Can you make this configurable?

[2016-07-07 21:26] daN4cat commented on #458
Working or not? I don't get it...

[2016-07-07 21:28] odiea opened #727 "Sales Tax not retaining in database"
Since the latest pull Sales tax loses tax 1 name and tax 2 always defaults to 0.00. Now I go into Items update and sales tax 1 is in sales tax 2. I go to the database and there is no name for sales tax 1 even after I save it.

![2016-07-07 15_26_18-wedidit -- powered by os point of sale](https://cloud.githubusercontent.com/assets/10962177/16670391/378a9c5a-4457-11e6-9c6b-07ab7e640a22.png)

![2016-

[2016-07-07 21:36] odiea commented on #727
Here is an image of my database. I changed the tax name in the database when I go to store config I get the following.
![2016-07-07 15_33_33-localhost _ 127 0 0 1 _ ospos1 _ ospos_app_config _ phpmyadmin 4 5 1 - microsof](https://cloud.githubusercontent.com/assets/10962177/16670665/8006bb02-4458-11e6-8605-3940a1345427.png)

[2016-07-07 21:36] odiea commented on #458
Yes It is working now.

[2016-07-07 21:55] odiea commented on #727
I just downloaded the latest. Created a new database and the issue persists.

[2016-07-07 22:28] odiea commented on #727
After I reverted the changes it is working properly now.

[2016-07-07 23:05] odiea commented on #727
@jekkos  Would you please make changes in a new branch before updating the master so it can be tested.

[2016-07-07 23:17] onyema3 commented on #727
Odiea is right, sales tax is not stored in the database

[2016-07-08 00:56] odiea commented on #682
Uncommenting this gave me nothing but a headache. I removed it and the tables are updating properly
 // $this->Item_quantity->reset_quantity($item_id); This should not have been there .

[2016-07-08 05:21] daN4cat commented on #682
I would need to check but you should say which function is that in.

[2016-07-08 08:10] daN4cat commented on #458
I was travelling so didn't have the time to look into this.
I just did a quick test and of course I don't have php5-intl installed on my VPS.
That means I need to recompile Apache and PHP, not big deal but I'm pretty sure a lot of people will complain that their shared web hosting doesn't work nor support this....

Are we really sure we want to pursue this? I make it clear, I will ignore all those

[2016-07-08 08:23] daN4cat commented on #458
OK, one could argue that the match library is another example that requires customisation, I can't remember if that was in the default build on my VPS but I can look into that later.

[2016-07-08 08:54] daN4cat commented on #458
I just fixed a minor thing with a small refactoring, also regen the database scripts as not all were fine.

Recompiled Apache & PHP with intl and all works fine, however now I find that setting en_UK I'm forced to have the thousand separator `,` where I really didn't want and I could remove with the previous setup.

[2016-07-08 11:33] jekkos commented on #458
Ok I understand the annoyance but I wanted to make this configuration setting as flexible as possible. I just found it unefficient to rewrite all this formatting / parsing code myself while there is functionality readily available that does it for us. One could argue that there is now less code to maintain because  we can rely on an widely used and tested php extension. Also intl offers support fo

[2016-07-08 11:38] jekkos commented on #727
@daN4cat already found the culprit through the first code review, it was the empty check in the tax decimal output that caused this issue. Should be fine now.

I suppose I didn't take enough time to test everything through. Might indeed be better in that case to use a new branch in such situation. Will keep that in mind next time.

I have the feeling that there are more users rebasing off master o

[2016-07-08 12:33] daN4cat commented on #726
Probably at the time I converted all the fields to have decimal this was unintentionally skipped.

This must be fixed in 3.0 to be in line with the rest.

[2016-07-08 12:33] daN4cat commented on #726
I can have a look at this later.

[2016-07-08 12:39] daN4cat commented on #727
@jekkos not sure I get. This is working now right? If you refer to my small change in the code from this morning I moved the empty to the common function as the same applies to all fields.

[2016-07-08 12:41] daN4cat commented on #458
Maybe the thousand separator reintroduction would be good to have back.
It just keeps the number more compact, although in my case it's just the sum. We don't sell anything worth at least £1000 !!! I wish though.

[2016-07-08 13:54] #727 closed

[2016-07-08 14:22] odiea commented on #682
That was a copy and paste from Item.php delete to sale.php delete .

[2016-07-08 14:24] daN4cat commented on #682
OK, so the purpose of that is to reset the quantity of items that get deleted.
You shouldn't have to deal with deleting items when you delete a sale, right?
I can't see the connection between the two...

[2016-07-08 14:27] odiea commented on #682
It was a copy and paste mistake. Yes when you delete a sale the items need to go back into inventory

[2016-07-08 14:36] jekkos commented on #727
@daN4cat Indeed I readded this empty check I think this morning as it broke the tax decimal save, thanks for pointing that out.

[2016-07-08 14:37] jekkos commented on #724
Do you think maria db is worth is over mysql?

[2016-07-08 14:39] elijahkato opened #728 "Error when using barcode for multiple sales"
Hello Jekkos, I must admit that you are doin a great work here and i appreciate your efforts.

I installed the latest version 3.00 of the OSPOS on windows 10 runnig Xampp v5.5.30, Apache 2.4.4, MySql 5.5.32 and PHP 5.5.3. Everything works fines but when i enter sales using my barcode scanner it gives me error saying i dont have permission to view this document. Please can u help with the fix. Than

[2016-07-08 14:40] daN4cat commented on #682
And if the items where deleted you need to undelete them

[2016-07-08 14:41] daN4cat commented on #682
And if you undelete a sale you need to restore the items quantity, in case you want to delete/undelete.

Also everytime the inventory is touched a message needs to be logged (deleted sale, undeleted sale POS...)

[2016-07-08 14:43] odiea commented on #724
I don't really know where the improvement is coming from. Some articles say php7 is faster and I think Maria db is faster.

[2016-07-08 14:47] daN4cat commented on #728
Have you checked if you have the right permissions allocated to your name under Employees/ edit ?

[2016-07-08 14:48] daN4cat commented on #724
I read Maria DB is faster over MySQL

[2016-07-08 14:51] daN4cat commented on #724
Probably the best way to check the performance (having time) would be to check the time in displaying a Low Inventory always having the same (large) dataset.

It's the slowest part of OSPOS although I tried to optimise it to become acceptable after the XSS clean introduction.

[2016-07-08 16:18] daN4cat commented on #726
Database change fixed, script 2.4 to 3.0 needs to be run in order to change the field to be decimal (15,3)

[2016-07-08 19:56] odiea commented on #724
@daN4cat My test database only has 100 items in it. If you have phpmyadmin and can export a large database I will try it out with that.

[2016-07-08 21:38] odiea opened #729 "Detailed Sales not showing correctly"
![2016-07-08 15_36_49-wedidit -- powered by os point of sale](https://cloud.githubusercontent.com/assets/10962177/16702240/033d0be2-4522-11e6-956f-82ecb4454413.png)
![2016-07-08 15_37_11-wedidit -- powered by os point of sale](https://cloud.githubusercontent.com/assets/10962177/16702244/06fcfe36-4522-11e6-8147-26d9de05efca.png)

[2016-07-08 21:41] odiea commented on #729
My tax is set at 7.4%
![2016-07-08 15_41_15-wedidit -- powered by os point of sale](https://cloud.githubusercontent.com/assets/10962177/16702317/72b57900-4522-11e6-924b-4c0aee94db92.png)

[2016-07-09 00:42] odiea commented on #682
So here is my current code. It is updating the tables just fine. The only issue so far is the Items will also update again from the deleted table. Any ideas for a filter or anything. The following $this->db->where('deleted', 0); has been working fine for Reports showing the proper amounts of Sales not deleted.
public function delete($sale_id, $employee_id, $update_inventory = TRUE)
	{
		// start a

[2016-07-09 09:17] daN4cat commented on #707
I fixed previous comment issues. I believe this never worked properly even in the past.
In case of returns where an item of smaller value is purchased and some cash is returned things never worked correctly because there is no real payment but the transaction if feasible.

[2016-07-09 09:17] daN4cat commented on #707
It was a bit tricky to fix all the cases, but hopefully now it's fine.

[2016-07-09 11:51] daN4cat commented on #729
I revert a change I made and I don't understand how that could have impacted the config "included_tax", but here you go better to revert and get this fixed.

Please check again and if fine I close this issue.

[2016-07-09 12:01] odiea commented on #729
It is working properly now. Close this issue.

[2016-07-09 12:03] daN4cat commented on #729
Good, thanks and apologies for the regression but whilst sorting out the return/exchange with cash back I realised something was wrong.

[2016-07-09 12:03] #729 closed

[2016-07-09 12:11] #728 closed

[2016-07-09 12:11] daN4cat commented on #728
No replies, I close.

[2016-07-10 08:39] daN4cat commented on #725
Is the purpose to just add a comment or something else?

If it's a comment that you need you can check similar cases in Items where there is a description field that does exactly the same.
For the example you need to check `views/items/form.php, controllers/Items.php and models/Item.php`

To implement your case with Giftcard you need to work on: `views/giftcards/form.php, controllers/Giftcards.php

[2016-07-10 08:44] daN4cat commented on #609
You need to work on controllers/Customers.php search function and in models/Customer.php search function and add the extra search functionality.

[2016-07-10 09:38] daN4cat commented on #514
This is sorted with the latest vs 3.0.0, you can sort the low inventory by location by just clicking the last field in the header.

Therefore I close this one.

[2016-07-10 09:38] #514 closed

[2016-07-10 09:45] daN4cat commented on #508
Yes Sub Total is quantity * cost price.

I close this one as there is nothing to implement.

[2016-07-10 09:45] #508 closed

[2016-07-10 09:50] daN4cat commented on #479
@silut7 there is now the support for a shorter version of the receipt.
Just to go Store Config and Receipt tab and instead of default (large) select short.

That should help, if not then change in your installation in views/sales the file receipt_short.php to fit your needs.

If you find something that works fine with 80mm printer please sned the file so I can add it as a new configurable option f

[2016-07-10 09:51] daN4cat commented on #447
@jekkos with the new local support is the cash rounding something part of that as extra option?

[2016-07-10 09:54] daN4cat commented on #322
@arionkosturi would adding a category column in current inventory do for you or is do you need a dropdown to filter before entering that view?

[2016-07-10 10:06] daN4cat commented on #595
@blhf if you don't insert any serial number your numbering is unique anyway.

You can then go to Store Config and Barcode tab, select the option generate if empty and then go back to Items view. Do multiple selection and click generate barcodes. Now you get unique numbers with codes in the fields updated.

[2016-07-10 10:24] daN4cat commented on #359
@odiea thank you for the link that's useful info.

I believe there are various parts in this story:

1. OSPOS license displaying
2. OSPOS license enforcing
3. Third party code licenses

First I wanted to sort out 3 as for any commercial use we need to list all the code we use and their licenses. This is standard practice when using Open Source Software in any product, you need to provide a license

[2016-07-10 13:09] arionkosturi commented on #322
For me its better to filter before entering the view

[2016-07-10 13:12] ManjuprasadB opened #730 "Add Shutdown Button"
I am Using OSPOS on Raspberry Pi I want to add an shutdown button on webpage to shutdown Raspberry pi which will run shutdown script

[2016-07-10 13:36] daN4cat commented on #730
Do you want to shutdown on logout or have a button on the login page to shutdown?

Besides I didn't look into how to trigger the shutdown for the case, have you searched how to?

[2016-07-10 14:56] daN4cat commented on #359
In my commit:

- Store Config has a License tab to display license files
- COPYING has been modified, please read the key addition. COPYING content must be visible in Store Config License in order to be legally allowed to use OSPOS (we are entitled to claim that because the copyright statement must be visible not only included)
- Third party license files have been created for some key parts, howe

[2016-07-10 15:20] daN4cat commented on #447
Something about cash rounding here: http://ro1.php.net/manual/en/function.ceil.php, see first example:

[2016-07-10 15:38] ManjuprasadB commented on #730
I want to have a button on login page which will run a script to shutdown Raspberry pi like "shutdown -h now" and have an option weather to shutdown on logout.

[2016-07-10 16:14] odiea commented on #359
Small typo Open Surce Point Of Sale 3.0.0

[2016-07-10 16:25] daN4cat commented on #730
OK, but do you have some implementation skills or do you expect us to do for you?

[2016-07-10 16:25] daN4cat commented on #359
Where exactly?

[2016-07-10 16:26] daN4cat commented on #359
ok, everypage is not right for sure. A spacing is missing.

[2016-07-10 16:38] daN4cat commented on #359
Found the "Surce" typo.

[2016-07-10 16:40] ManjuprasadB commented on #730
I have just recently (4 months) started learning about linux, python, Mysql with Raspberry PI.
I am noob, IF you provide guidelines i am willing to lean and do that myself.

[2016-07-10 16:58] daN4cat commented on #359
Fixed.

[2016-07-10 17:31] jekkos commented on #730
Ok nice, you will need to add a script with setuid root to power off the raspi. You can easily call that fro php using `shell_exec` function. Add this in a controller then make the button do a `$.get` for that controller function and you're done

[2016-07-10 17:32] #730 closed

[2016-07-10 17:47] odiea commented on #717
Here is an article about this feature. Seems to explain it pretty well.
https://mycartpos.zendesk.com/hc/en-us/articles/200868343-Enable-kiosk-printing-print-automatically-for-Google-Chrome-on-Windows

[2016-07-10 17:57] odiea commented on #717
Here is another one I found. Maybe you can use it? I have not tested it myself.
http://codeembed.com/source/ff/8366/chrome%2Fcontent%2Foptions.xul#

[2016-07-10 18:02] daN4cat commented on #730
You missed: have fun and good luck :+1:

[2016-07-10 18:06] daN4cat commented on #597
If no issues I would close this set of security improvements.
I know we should test, but unless somebody find the time to help us we need to rely on the manual tests and code reviews done so far.

[2016-07-10 18:09] daN4cat commented on #707
@odiea @usergroup81 does the last change look good to you? If fine I would close.

[2016-07-10 18:10] daN4cat commented on #597
@likozhang since you are good at doing some thorough testing, would you like to look into this and help?

[2016-07-10 18:11] daN4cat commented on #726
@likozhang any chance to help with the testing of this too?

[2016-07-10 18:15] daN4cat opened #731 "OSPOS 3.0.0 Release"
Hi,

is it time to wrap up and release OSPOS 3.0.0?

As far as I can see there are just two bugs open and the rest is completed with just some testing to perform.

Would be good to push 3.0.0 out of the door after so many months of really hard work as this version was a complete overhaul. Can't think of how many things we changed... I guess the release list will be long!

Also summer holiday seaso

[2016-07-10 18:35] odiea commented on #707
Here is Takings and Detailed Sales.

![2016-07-10 12_32_51-microsoft edge](https://cloud.githubusercontent.com/assets/10962177/16715361/98a63d1a-469a-11e6-9c07-87fbfd730264.png)
![2016-07-10 12_33_34-microsoft edge](https://cloud.githubusercontent.com/assets/10962177/16715362/9d83f4f8-469a-11e6-8eec-ee33e484aa66.png)

[2016-07-10 18:42] odiea commented on #707
The 0 ones are exchanges. 906 is a normal Sale. 908 is a return with a smaller item purchased.

[2016-07-10 18:43] odiea commented on #731
Good for you. Please leave your computer at home.

[2016-07-10 18:48] odiea commented on #707
![2016-07-10 12_47_49-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/10962177/16715436/a3ac248e-469c-11e6-83fd-2d558fa118b1.png)

[2016-07-10 18:49] daN4cat commented on #707
It looks good right? Or am I missing something even this time?

The change due of 908 is the result of a negative total, so basically the customer gets an item in exchange and some cash back.

OK, there might be a detail there, the total in Takings should be Cash: -$9.66. Is the total payments showing the correct cash amount with a negative?

[2016-07-10 18:59] odiea commented on #707
The Payment Type does not show when you do a return or exchange.
Debit Card: $33.29 from Takings.
From Detailed Sales
Subtotal: $20.01
Total: $21.49
Tax: $1.48
Cost: -$5.00
Profit: $25.01

[2016-07-10 19:19] odiea commented on #707
On a return when the number is 0 or lower the payment option is blocked out so no payment type is reported.

[2016-07-10 19:28] daN4cat commented on #707
Indeed there is no payment coming in just change due.

[2016-07-10 19:55] daN4cat commented on #707
Unless we want to change the behaviour and log any payment in (positive) and out (negative) and turn to complete only if it's 0.
Then there is no change due unless we want to turn the negative payment (out) in change due?

[2016-07-10 20:03] odiea commented on #707
1. It would be nice to see both types of payments in Takings and Reports.
2. Payment type for 0 would be $this->lang->line(sales_return) ?

[2016-07-10 20:06] odiea commented on #707
At the end of the day if you use Takings as the Daily result then the till would be off by not reporting a cash out payment.

[2016-07-10 20:59] daN4cat commented on #707
At the moment change due total is deducted from cash payments because the assumption is that change due is always cash.
That's why when you select in filters cash you see the transactions with change due too.

[2016-07-10 21:06] odiea commented on #707
So it's just the payment type that is not showing on anything 0 or below?

[2016-07-10 21:51] odiea opened #732 "Gift Card Remaining Balance not showing properly at sales register"
After entering a giftcard and accepting  the payment the remaining value is not the correct amount on the screen.

![2016-07-10 15_47_57-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/10962177/16716301/f6446620-46b5-11e6-9bd5-7757d65a2d80.png)
![2016-07-10 15_48_34-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/10962177/16716303/f9b211b8-

[2016-07-10 21:56] daN4cat commented on #707
Yes, just the payment type because there was no payment by the customer since it's an exchange or return with money back.

[2016-07-10 21:57] odiea commented on #732
This is the original receipt directly from the Sale and giftcard balance is showing correctly.
![2016-07-10 15_54_09-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/10962177/16716321/aa807c64-46b6-11e6-9b3c-7f46a81d6ff0.png)
This is the receipt from Takings. No Giftcard info.
![2016-07-10 15_53_21-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/as

[2016-07-11 01:40] blhf commented on #595
@daN4cat Hi thanks for your reply. :+1:  actually we cannot use that function because there is an assigned serial number for the items, like cellphone that have a unique IMEI.

[2016-07-11 07:59] daN4cat commented on #595
If serial numbers are already assigned to your items, by definition they are unique and you should not have a risk of conflict. So not sure why you need this in the end.

[2016-07-11 08:02] daN4cat commented on #732
OK, something missing there for the remaining amount report and Giftcard Number.
However I'm not sure it's that easy to report the balance on a reprint because we should keep track of balance across the time. I'm afraid that functionality was never there.

[2016-07-11 08:42] jekkos commented on #597
Yes I planned to do some testing here but currently on holidays in France... so I won't have too much time this week

[2016-07-11 09:40] blhf commented on #595
Got your point though. But with the help of your system we can track to where the item with serial number was sold or if it was returned.  E.G Samsung S7 with IMEI: 172938172983 can be bought but later on need to be replaced because of some issue but still under warranty. Serial number is assigned on the box that is where we are gonna barcode it when we sold it.

[2016-07-11 09:42] daN4cat commented on #597
Enjoy your holidays, don't worry about this until your return.

[2016-07-11 09:44] daN4cat commented on #595
But consumer electronics product boxes have their own barcode.
I close this because I don't think there is anything to add.
Tracking of items can be done checking the inventory history.

[2016-07-11 09:44] #595 closed

[2016-07-11 09:59] blhf commented on #595
ok thanks anyway.

[2016-07-11 10:31] odiea commented on #732
Yes You are correct about the stored receipt not retaining the gift card balance.

[2016-07-11 12:34] daN4cat commented on #731
We may need to consider a refresh of translations before we release.

[2016-07-11 18:06] daN4cat commented on #732
I believe to have fixed all the amount reporting issues.

I cannot fix the giftcard remaining amount historical, that would require storing transaction values that are not there. It's a different issue.

[2016-07-11 21:04] usergroup81 opened #733 "Complete button not available if amount tendered = amount due"
I've come across a few transactions where the radio button is not available if you add the amount tendered = to amount due.

No "complete" button
![opensourcepos](https://cloud.githubusercontent.com/assets/20194509/16746530/c05c53be-4788-11e6-9742-2c9029a1d846.PNG)

To show the "complete" button, I had to add one more cent here
![opensourcepos2](https://cloud.githubusercontent.com/assets/20194509/

[2016-07-11 23:23] odiea commented on #732
Here is an easy fix.
$lang["giftcards_remaining_balance"] = "Giftcard %1 remaining value is $%2";
$data['warning'] = $this->lang->line( 'giftcards_remaining_balance', $giftcard_num, number_format($new_giftcard_value,2) );

[2016-07-12 05:56] daN4cat commented on #732
There must be some issue with your locale config and the change introduced recently. By the way I spotted a typo with the error message that I need to fix.

[2016-07-12 15:53] daN4cat commented on #733
This must be due to the precision, decimals in the comparison.

[2016-07-12 16:02] daN4cat commented on #732
I fixed the typo with my last commit, it has nothing to do with the number issue.

That issue is due to `to_currency($new_giftcard_value, TRUE)`, which boils down to the new currency converted/formatter.

[2016-07-12 16:02] daN4cat commented on #732
I assigned to @jekkos for him to check that point in `Controller/Sales line 219`.

[2016-07-12 16:11] daN4cat commented on #732
When I test everything is fine on my side:

![image](https://cloud.githubusercontent.com/assets/636048/16774386/a342b400-4853-11e6-8bbb-fd8d774363b6.png)

[2016-07-12 16:12] daN4cat commented on #732
Here the Giftcard value after the transaction:

![image](https://cloud.githubusercontent.com/assets/636048/16774443/d98fbb02-4853-11e6-8a4f-d0c7b5348ead.png)

[2016-07-12 16:16] onyema3 commented on #732
Same here too.
Thanks

On Tue, Jul 12, 2016 at 5:11 PM, FrancescoUK <notifications@github.com>
wrote:

[2016-07-12 16:29] daN4cat commented on #732
@odiea can you please retest and confirm it's still an issue with you?

[2016-07-12 19:30] odiea commented on #732
Maybe it does not like the US settings.

![2016-07-12 13_27_15-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/10962177/16780610/a04374de-4834-11e6-9167-2e5cb829c2c3.png)
![2016-07-12 13_27_47-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/10962177/16780612/a42800c4-4834-11e6-9756-233921ef5110.png)
![2016-07-12 13_28_37-jump list for notep

[2016-07-12 19:31] odiea commented on #732
After I change it to this it shows just fine.
number_format($new_giftcard_value,2)

[2016-07-12 19:40] odiea commented on #732
It must be the language. You can see the difference. First image is GB second is US.
![2016-07-12 13_37_25-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/10962177/16780908/02de9604-4836-11e6-90e0-3a973c8b2d8f.png)
![2016-07-12 13_38_32-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/10962177/16780924/07458f36-4836-11e6-9202-c4c341b7f631.pn

[2016-07-12 19:46] daN4cat commented on #732
Yep, Jekkos should look into this because it's related to the locale change.

[2016-07-12 20:02] odiea opened #734 "Gift Card Issue"
odiea issues.

[2016-07-12 20:14] odiea commented on #734
So far I cannot edit or create a gift card with a name and also Register does not accept a gift card that does not have a name.

[2016-07-12 20:40] odiea commented on #732
It appears that if you use the $ sign your screwed. en_au does it and when I change the en_GB to a dollar sign it does it.

[2016-07-12 21:08] konceptech opened #735 "Modules is not working when langage is set to French"
![ospos-bug-lang-employee](https://cloud.githubusercontent.com/assets/17205399/16783780/8d6de7f8-4853-11e6-9f62-798d5d93bead.PNG)
On:  Version 3.0.0 - 1c4e5093bfbc

When UI Language is in french, somes modules are not loading properly, see attachement.

Modules concerned: Customers, Suppliers, Employees.

[2016-07-12 21:10] konceptech commented on #731
How can i help with french translations without having to push/pull

[2016-07-12 21:14] konceptech opened #736 "Easy update process"
Is there a way to implement an easy update process, trough the UI or maybe trough an php wizard.

This is mainly for setup that are hosted on shared environement, with no access to the console.

[2016-07-12 21:21] konceptech opened #737 "Include a System Info page in Store Config"
This will be nice to quickly post an issue, and having all the details at one place and properly formatted.

Like a phpinfo does, having several info about the server, php version, DB type, git hash, modules loaded, ...

[2016-07-13 00:47] #734 closed

[2016-07-13 04:00] agungwizz opened #738 "Detailed Sales Report : Price"
![ospos price in detailed sales report](https://cloud.githubusercontent.com/assets/19369660/16791401/bd643666-48e8-11e6-81a1-320b0fece386.png)

Detailed Sales Report : Price
i am need update sub total to price unit
Regard

[2016-07-13 05:00] daN4cat commented on #731
Post the csv files from the translation folder with French translated here

[2016-07-13 06:32] akashneelh commented on #725
Thanks for your reply !

Adding comment is ok,but I need two predefined values as a drop down list & same needs to be inserted in ospos_giftcard table against gift card detail. Pls help how to design these. I tried to follow the same method like there is an option in Customer module to choose between male & Femaile in gender selection.

Request your early response pls!!

[2016-07-13 06:48] daN4cat commented on #734
OK, when I read this over email it sounded strange because I fixed something about that a while back and couldn't make sense of the regression. Good it's not an issue.

[2016-07-13 06:53] daN4cat commented on #725
If you check Items there is Suppliers field that is a drop down, so identify that part in the form.php to understand how to display it. In controllers/Items.php you need to check when the form queries the controller to fetch the data.
I guess I should draw some sequence diagram to understand how this is achieved, but I don't have that much time at the moment to do that, so you need to find your wa

[2016-07-13 06:56] daN4cat commented on #738
You mean changing Subtotal to be price unit?

[2016-07-13 06:59] daN4cat commented on #735
Probably this is due to some translation being empty or similar. It would be better to review all the French translation and make sure it's all cvs files are filled in, run translation_language script and try again.
However I will give a try later on to see what's the issue there.

[2016-07-13 07:03] daN4cat commented on #732
OK, I will check if I can find the time the influence of adding $.

[2016-07-13 07:18] akashneelh commented on #725
ok...let me try & revert you  back

[2016-07-13 15:35] Modding opened #739 "Scan error in Sales"
I have a barcode scanner which scans the EAN code on the product and presses Enter after every scan. Sometimes it is impossible to scan it is the right EAN Code and it displays:

and if i scan again a blank page with following text comes:

But sometimes it adds the Product to the Cart.

[2016-07-13 15:43] Modding opened #740 "Add Payment Error"
If a product or more is scanned right and if i press add Payment the Amount 0,00 is displayed. And you see in the screenshot i cant go further.
![bug](https://cloud.githubusercontent.com/assets/6986957/16809446/a93b5a74-4920-11e6-9d4b-80bb63cc8afc.png)
But if the amount is higher it displays the right amount and the money wich is payed too much and i can go further.
![nobug](https://cloud.githubus

[2016-07-13 15:51] Modding commented on #739
looks like this is a Firefox Issue. on Chrome it works

[2016-07-13 15:52] Modding commented on #740
looks like it cant take amounts with numbers after the ,

[2016-07-13 16:31] daN4cat commented on #740
Please explain exactly how to reproduce this. I can't really get how you got there and what the problem is.

[2016-07-13 16:33] jekkos commented on #736
Something could be set up using git and built in CI db migration functionality

[2016-07-13 16:34] jekkos commented on #735
Probably some kind of js escape error that breaks bstable load

[2016-07-13 21:41] Hashhu opened #741 "fatal error on sales module!"
Message: Class 'NumberFormatter' not found

Filename: helpers/locale_helper.php

Line Number: 29

how to remove this error?

[2016-07-13 21:44] odiea commented on #741
You have to enable or Install sudo apt-get install php5-intl or what ever version of php you are using

[2016-07-14 00:18] odiea commented on #741
xampp/php/php.ini the following code.

;extension=php_intl.dll remove the ; then restart apache. This worked for me.

[2016-07-14 01:28] marcofa opened #742 "Add again location dropdown in the report input screen"
in the "summary items" report it would be necessary to choose the "locations"
can you help me to make the change?

[2016-07-14 07:35] Hashhu commented on #741
iam using WAMP how to edit these settings in wamp ?Odiea

[2016-07-14 07:45] jekkos commented on #735
Ok think I fixed this one.. was an escape problem indeed.

[2016-07-14 07:47] Hashhu commented on #741
i got this line in wamp server and its without ; on my wamp settings.
so now what to do next ?

[2016-07-14 07:48] jekkos commented on #741
Check config page localisation -> locale and open tooltip in browser

[2016-07-14 07:52] #741 closed

[2016-07-14 07:55] jekkos commented on #732
I'll check next week. Still on holidays will leave for a  trip to the mountains today

[2016-07-14 07:59] jekkos commented on #627
This fix is now also merge in [bstales](https://github.com/wenzhixin/bootstrap-table/pull/2373). Think we should upgrade the dependency once they release to inlcude it in ospos.

[2016-07-14 08:02] jekkos commented on #742
I think we have indeed lost the location dropdown field in the report input section after moving to bootstrap. I just did a quick compare with an older version and it's missing in the code

[2016-07-14 08:28] daN4cat commented on #627
Oh good, so we can now take the next bstable release without patching.
Last time I updated to .11 I needed to reapply the patch,

[2016-07-14 08:37] daN4cat commented on #740
@Modding please we need a reply otherwise we close because I haven't heard anybody else flagging a similar issue.

[2016-07-14 08:39] daN4cat commented on #739
This looks like being an issue with your setup.

[2016-07-14 08:59] Modding commented on #740
I made you a Video
https://www.youtube.com/watch?v=nFltAWxfan8

[2016-07-14 09:03] Modding commented on #739
I also made a video:
https://www.youtube.com/watch?v=gCSlrsFFBH0

[2016-07-14 12:09] Modding opened #743 "New German Language created"
Hi,
i altered the de-CH language and created de.

Can i Upload the change?

Greetings

Valentin

[2016-07-14 12:13] Modding commented on #736
you can also create a repository like on Wordpress.

[2016-07-14 13:31] konceptech commented on #735
Simple ask, in the build checkups, is it possible to loop tests for each langages?

[2016-07-14 13:34] ranasrule opened #744 "No way to distinguish between two customers with same name"
No way to distinguish between two customers with same name...maybe the customers phone number could be added after the name in brackets ?
![sc](https://cloud.githubusercontent.com/assets/5023419/16841179/719d8746-49f1-11e6-9c7a-b4cfd0167e66.png)

[2016-07-14 13:47] onyema3 commented on #744
Not same address
On Jul 14, 2016 2:34 PM, "Rana Asim Wajid" <notifications@github.com> wrote:

[2016-07-14 13:53] daN4cat commented on #735
Doable as you can select UI parts to chose new language and then check on translation on each page, but it's always a matter of time.

[2016-07-14 14:03] Modding commented on #744
Should there be the adress in the selection field?

[2016-07-14 14:13] ranasrule commented on #744
I think phone number would be better... Most people give out their cell
phone number which is unique

On Thu, Jul 14, 2016, 7:03 PM Modding <notifications@github.com> wrote:

--

Regards,
Rana Asim Wajid

[2016-07-14 14:23] odiea commented on #744
Application/views/sales/register around line 241 look for if isset customer then you can add this to see the phone number. Place this where you want. Best after any other info is shown.

if(!empty($cust_info->phone_number))
				{
				?>
					<tr>
						<th style='width: 55%;'><?php echo $this->lang->line("common_phone_number"); ?></th>
						<th style="width: 45%; text-align: right;"><?php echo $c

[2016-07-14 14:30] ranasrule commented on #744
This will show the phone number in the search drop down list on the
register page ?

On Thu, 14 Jul 2016 at 19:23 odiea <notifications@github.com> wrote:

--

Regards,
Rana Asim Wajid

[2016-07-14 14:37] ranasrule commented on #744
Adding below code where you asked to put it causes the register to no open....page generates an error

if(!empty($cust_info->phone_number)) { ?> <?php echo $this->lang->line("common_phone_number"); ?> <?php echo $cust_info->phone_number; ?> <?php } ?>

[2016-07-14 14:47] ranasrule commented on #744
I'm simply looking for a way to add the customer phone number in brackets after the customer's name in the customer search drop down list on the register page

[2016-07-14 15:06] Modding commented on #740
Server description:
Raspberri PI 3 (My Development system)
OS: Raspberrian
Kernel: Linux version 4.4.13-v7+
Server version: Apache/2.4.10 (Raspbian)
PHP: PHP 5.6.22-0+deb8u1

[2016-07-14 15:47] Modding commented on #740
I have found the issue ... when you take the locale de_DE you have the numbers like 1.000,99 and the software cant interpret the , (comma).

[2016-07-14 16:20] daN4cat commented on #743
Thanks for the work.
I suppose you changed the .csv files under translations folder, if so zip those files and post the zip here that we will update the code. I assume this is German from Germany, or somewhere else?

[2016-07-14 16:21] daN4cat commented on #740
OK, good feedback. This is something @jekkos needs to look into.

[2016-07-14 16:28] Modding commented on #743
i made a new folder for the application/language folder ... i think this is wrong ... and allover again

[2016-07-14 18:12] mubashirsiddique opened #745 "Item exchange feature"
I want to implement Item exchange feature. Could anyone please help me to indicate what modules should I address to have an impact of an Item Exchange operation.

[2016-07-14 18:16] odiea commented on #744
No if you can get it to work it only shows after you accept a customer name. Like the email should show after you accept the customer name if they have an email address .

[2016-07-14 18:22] odiea commented on #744
You can add the last 4 numbers of the phone in the customers last name . John Doe 4567. Maybe this will work

[2016-07-14 18:26] odiea commented on #744
Sorry I corrected the first layout I showed you. It was missing the first <?php

[2016-07-14 19:01] odiea commented on #744
This will also work if you add the number to their first name.

[2016-07-14 19:03] ranasrule commented on #744
So there is no way to do what I'm looking for?

On Fri, Jul 15, 2016, 12:01 AM odiea <notifications@github.com> wrote:

--

Regards,
Rana Asim Wajid

[2016-07-14 19:09] odiea commented on #744
This is a manually added phone to the last name. It's the best I can do.
![2016-07-14 13_06_27-ugly sweater store -- powered by os point of sale](https://cloud.githubusercontent.com/assets/10962177/16852134/019dde32-49c4-11e6-80d0-1d5171349c55.png)

[2016-07-14 19:12] ranasrule commented on #744
I appreciate that but just for my knowledge... Its the any way to do what
I'm asking for?

On Fri, Jul 15, 2016, 12:09 AM odiea <notifications@github.com> wrote:

--

Regards,
Rana Asim Wajid

[2016-07-14 19:21] odiea commented on #744
Sorry I don't have a clue and the first bit of code probably wont work either. I have my cust info setup differently then OSPOS

[2016-07-14 19:41] jekkos commented on #740
Probably a missing parse function around that quantity, thanks for reporting this will look into it as soon as I can

[2016-07-15 01:02] ranasrule commented on #744
So I guess we are back at square one :(

[2016-07-15 04:12] agungwizz commented on #738
Yes

[2016-07-15 07:44] elijahkato opened #746 "Question: Use OSPOS simultaneously on two networked systems"
Please, can i use OSPOS 3.0 simultaneously on two networked systems for sales. Like two cashiers working.

[2016-07-15 08:31] Modding commented on #743
With wich editor you are editing the csv files? Because OpenOffice doesnt takethe commas right.

[2016-07-15 09:25] jekkos commented on #740
I did a fix for this, can you please test and confirm if this works for you?

[2016-07-15 09:25] jekkos commented on #458
I have added again the thousands separator option. Hope we can close this one.

[2016-07-15 09:40] Modding commented on #740
PERFECT! Works!

[2016-07-15 09:40] #740 closed

[2016-07-15 10:03] #735 closed

[2016-07-15 12:00] Modding commented on #743
I hope that works. I edited it with LibreOffice

[2016-07-15 12:01] Modding commented on #743
https://musiker.cloud/index.php/s/OWU9PTpJnSCFhOy

[2016-07-15 12:09] Modding commented on #743
de is german from Germany ... yes

[2016-07-15 12:18] daN4cat commented on #745
Do you mean a customer returns an item and you exchange it for a new one?
It's already supported. In Sales register select from the dropdown Return, scan the receipt or input the item name, once the item(s) are added move back to sale and sell the replacement item.
Keep going as a normal sale with receipt and etc. Job done.

[2016-07-15 12:20] daN4cat commented on #743
Please add the zip here because I don't click random links.

[2016-07-15 12:22] daN4cat commented on #744
It's doable, just work on the Customer suggest function and what is returned. Instead of simply first name and last name add the phone number and it's done.

[2016-07-15 12:23] ranasrule commented on #744
Can you point me to where that function is?

On Fri, Jul 15, 2016, 5:22 PM FrancescoUK <notifications@github.com> wrote:

--

Regards,
Rana Asim Wajid

[2016-07-15 12:31] mubashirsiddique commented on #745
yes, exactly.

[2016-07-15 12:33] daN4cat commented on #745
So nothing to implement, it's already there.

[2016-07-15 12:33] #745 closed

[2016-07-15 12:35] Modding commented on #743
Sorry i cant ... Github always says it dont support my file.

[2016-07-15 12:37] daN4cat commented on #743
OK, so what about adding the csv files or is that limited too?

[2016-07-15 12:43] daN4cat commented on #744
Just a bit of effort man: Controllers/Customer.php see suggest function.
It calls Models/Customer get_search_suggestions, see:

[code]

change the line in foreach to have phone_number too:

`$suggestions[] = array('value' => $row->person_id, 'label' => $row->first_name.' '.$row->last_name. '['.$row->phone_number.']');`

[2016-07-15 12:48] ranasrule commented on #744
BOOM !!! Thats what I'm talking about....thanks a million.

On Fri, 15 Jul 2016 at 17:43 FrancescoUK <notifications@github.com> wrote:

--

Regards,
Rana Asim Wajid

[2016-07-15 12:49] Modding commented on #743
[translations.zip](https://github.com/jekkos/opensourcepos/files/365963/translations.zip)

[2016-07-15 12:49] Modding commented on #743
it is another Firefox problem

[2016-07-15 13:39] EvandroZanatta opened #747 "System login asking several times"
During navigation between system links, entering different screens, all the time the system asks to be logged again.
I'm using version 3.0

[2016-07-15 13:57] daN4cat commented on #743
Translations added.

[2016-07-15 13:57] #743 closed

[2016-07-15 16:54] daN4cat commented on #747
Please make sure pho has all the library required. Chech the wiki and read me for details.

[2016-07-15 18:24] odiea commented on #746
Yes you can. I tested that and it works.

[2016-07-15 18:33] odiea commented on #746
You use 1 computer as the server then go to the ip address with your browser from a different computer.

[2016-07-15 18:59] daN4cat commented on #739
Can you please scan your barcode in notepad and attach the text file here?
It could be something to do with your scanner that appends something causing a problem.

[2016-07-15 19:00] daN4cat commented on #739
also can you please see if there is any error_log file in your OSPOS installation dir?

[2016-07-15 19:09] daN4cat commented on #458
It doesn't work I'm afraid. Unchecked box but I still see the thousand separator.

[2016-07-15 19:44] elijahkato commented on #746
Thanks, I will give it a try.

[2016-07-15 19:44] #746 closed

[2016-07-15 20:06] daN4cat commented on #458
Apologies, I forgot to copy a file and that's why it didn't work for me.

It looks all fine and working. I close.

[2016-07-15 20:06] #458 closed

[2016-07-15 20:35] sonnysk76 commented on #731
I have to perform a few spanish updates/translation,  for this weekend should be completed.

[2016-07-15 21:01] jekkos commented on #733
Can you retest  with latest version?

[2016-07-15 21:36] jekkos commented on #359
http://www.softwarefreedom.org/resources/2008/foss-primer.html#x1-80002.2.2

Interesting read on licensing

[2016-07-16 05:33] bkrajendra commented on #739
Im also getting this strange problem.
If you add Item#1 through scanner its get added in sales..
If you scan next item#2, the previous item gets deleted from sales....

This is not frequently but observed some time only..
Im little out of time to debug the problem! (tried on both FF n Chrome)

[2016-07-16 06:32] daN4cat commented on #739
Deleting the previous sounds very unusual. I believe I need to look for a scan and test a bit.

[2016-07-16 06:45] daN4cat commented on #731
Sounds good. Please use the latest csv files from master because I've added German yesterday

[2016-07-16 08:24] daN4cat commented on #738
And what are we supposed to do here, not sure I get what you are after. Us to implement for you, you to implement this, something else?

[2016-07-16 08:29] daN4cat commented on #736
Probably this is something we could reuse: https://github.com/jimdoescode/CodeIgniter-GitHub-Updater

It would be indeed nice to have an updating feature pulling the code from github. When back from holidays I will have a look into that lib, for sure it needs an update to CI3.

[2016-07-16 08:31] daN4cat commented on #736
However one problem to solve would be any database upgrade script, but I guess something can be sorted.

[2016-07-16 08:37] daN4cat commented on #359
Is your suggestion to switch from MIT to BSD? Or to add restrictions? I added some restriction, but maybe BSD is better than MIT as framework.
I skimmed through the text but I need a second reading.
For sure what I don't want is GPL as it's a nightmare, especially GPLv3.

Last point is the enforcement part, that's an issue if we want to prevent re-branding and any removal of original copyright hol

[2016-07-16 08:40] daN4cat commented on #731
By the way I would put on hold the release because I would like to sort out another aspect before we release 3.0.0.

[2016-07-16 08:44] daN4cat commented on #737
Maybe we can use this: https://github.com/phpsysinfo/phpsysinfo

[2016-07-16 08:46] daN4cat commented on #737
Alternative suggestions: http://stackoverflow.com/questions/4577433/how-to-get-system-info-in-php

[2016-07-16 09:07] MBISEES opened #748 "inventory reports issue."
ospos v3.0
hosted to online server.
it is running well. but it cannot generate inventory reports. starting download and fail.
tried to look download url it looks like this

/>
please can you suggest annything?

[2016-07-16 09:10] daN4cat commented on #748
Tried Low Inventory and Summary Inventory, clicked download CSV and works fine to me.
Could you please explain exactly how to reproduce this and if you are using the latest version or else?

[2016-07-16 09:11] MBISEES commented on #748
error 403 in my web host is FORBIDDEN ACCESS

[2016-07-16 09:14] MBISEES commented on #748
Page is forbidden 403
The page you are trying to access is private and not accessible with additional permissions.

[2016-07-16 09:20] MBISEES commented on #748
thanks it seem there is problem in my server

[2016-07-16 09:20] #748 closed

[2016-07-16 09:39] daN4cat commented on #748
Yep, I thought about the same too when I read the other messages.

[2016-07-16 18:21] usergroup81 commented on #733
Tested:
`1 parent 68deca1 commit a66868651bec6182d7d7b702f6a0571c912a1a10 @daN4cat daN4cat committed 23 hours ago`

Still having issues on some transactions not showing complete button:
![ospos_bug733](https://cloud.githubusercontent.com/assets/20194509/16896401/90238f4c-4b60-11e6-8c98-f99fbd2ca151.PNG)

[2016-07-16 19:31] daN4cat commented on #733
The tax is 15.804, it's the 0.004 the issue. The comparison at the moment is <= 1e-6 but it should be < 0.005 as the smallest amount that can be rounded up (if not the rounding then it should be < 0.01).
But it needs to be properly checked and tested and I don't have the time to do the change now.
If @jekkos cannot do in the next days I'll do when back from my holidays.

[2016-07-16 20:24] odiea commented on #733
Will it still give you this issue if you change your tax decimal to 2?

[2016-07-17 02:12] usergroup81 commented on #733
@daN4cat no rush. I rolled back to a version not affected by this bug for now.
@odiea I changed the tax decimal from 3 to 2 but issue still persists.

[2016-07-17 09:39] jekkos commented on #698
Better support for printing tables was added in bootstrap tables recently. We might consider to add this [extension](https://github.com/wenzhixin/bootstrap-table/commit/df0634f756e6872b90c5b79de1fb52163b72f520) once it is released for all our tables.

[2016-07-17 10:24] nsk123456 opened #749 "php error"
A PHP Error was encountered
Severity: Warning
Message: Declaration of Employee::save(&$person_data, &$employee_data, &$grants_data, &$employee_id = false) should be compatible with Person::save(&$person_data, &$supplier_data, $person_id = false, &$employee_id = false)
Filename: models/employee.php
Line Number: 367

[2016-07-17 10:38] jekkos commented on #749
I guess you are using php 7? Please read setup requirement carefully in README of this project.

Also read section on reporting bugs. We are missing data and so we can't help you with just this erorr report.

[2016-07-17 10:50] nsk123456 commented on #749
YES IM USING PHP 7..... IS THERE A WAY CAN RECTIFY THIS ERROR MESSAGE ON PHP 7???

[2016-07-17 11:01] jekkos commented on #749
Please read server requirements section in the readme. Php 7 is not yet supported. I will close this issue.

[2016-07-17 11:01] #749 closed

[2016-07-17 11:09] jekkos commented on #732
I guess the problem is that $ is being interpreted by the preg_replace function in MY_Lang.php

[2016-07-17 11:20] jekkos commented on #447
I think that the formatter takes care of the rounding as there are several attributes available that allow us to configure that behavior. I haven't really verified whether these are also set depending on the configured locale, as that would be nice to have.

[2016-07-17 11:33] jekkos commented on #732
Shoudl be fixed now in latest master

[2016-07-17 11:35] jekkos commented on #447
General rounding mode can be configured by setting `NumberFormatter::ROUNDING_MODE`. I have checked some of the default settings for different locales

* fr_CA, en_US and be_NL are all set to HALF_EVEN rounding by default
* MAX_FRACTION digitals is set to 3.

I'm not certain whether this is correct.. We could add an extra config option to define the rounding behavior (only if it can't be explicitl

[2016-07-17 11:51] odiea commented on #732
It is working properly now so I will close this issue.

[2016-07-17 11:51] #732 closed

[2016-07-17 12:33] jekkos commented on #733
I did a fix for this issue. payments_cover_total now compares the amount due with 0 using the scale set by currency_decimals.

[2016-07-17 12:40] jekkos commented on #733
In this case I guess all calculations should be done using currency_decimals * tax_decimals for the decimal scale precision. Rounding can then be done in the end by the numberformatter for the configured currency to reduce the final error as much as possible.

[2016-07-17 12:43] jekkos commented on #733
So if we want to take rounding strategy into account to check if the sale is complete I think we'll need to get the formatted currency from the amount due and compare it with 0 on a currency_decimals scale precision

[2016-07-17 12:45] odiea commented on #733
After your last commit I now have this issue.
![2016-07-17 06_44_24-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/10962177/16900715/05516864-4bea-11e6-8858-54b95023d8cc.png)

[2016-07-17 12:47] jekkos commented on #733
Ok might be better to revert this temporarily and look into the rounding issues first

[2016-07-17 12:47] odiea commented on #733
Good Idea.

[2016-07-17 16:43] jekkos commented on #359
Yes I've read a bit further on the BSD licensing and I think that the 4 clause license suits our situation best.

`3. All advertising materials mentioning features or use of this software
   must display the following acknowledgement:
   This product includes software developed by the <organization>.`

This might be a more general way of asking the footer to remain unchanged.

[2016-07-18 04:59] agungwizz commented on #738
yes changing Subtotal to be price unit, header and content

[2016-07-18 08:43] Modding commented on #739
I have scanned the Barcode to gedit (notepad on linux) and its only as espected the Numbers and a press on Enter. I also debugged it via USB Listen and its only a HID (Keyboard)

But my error is only in FF and not in Chrome.

Greetings

Valentin

[2016-07-18 11:04] jekkos commented on #739
You should check for special invisible characters at the end of the barcode itself, they might not be directly visible in gedit. You can make them visible in notepad++ tho.

It could be a timing issue in firefox (ajax complete not called yet before the next request is submitted). But I should be able to reproduce before I can confirm (and I don't have a scanner here currently)

[2016-07-18 11:25] Modding commented on #739
As i sayed i have testet it with multiple programms like a Keylogger. There is no other charakter like the NUMBER and the Enter.

[2016-07-18 11:35] jekkos commented on #739
Ok then maybe it's a timing issue. If you wait a little longer before you do the second scan, then does it work?

[2016-07-19 11:59] jekkos commented on #742
WIth locations do you mean stock locations or just a custom item attribute? the former should be available in the current version, I mistakenly thought that it was removed.

[2016-07-19 12:07] jekkos commented on #726
Tested and found ok. Will close

[2016-07-19 12:07] #726 closed

[2016-07-19 12:08] jekkos commented on #739
@Modding could you try to reproduce by opening the inspector window in FF (F12) and wait until all requests are finished before entering the next item? In that case, do you see the error?

[2016-07-19 12:09] jekkos commented on #739
I could add a safeguard here to check whether there are no pending ajax requests when submitting the form to make sure csrf tokens are up to date in all forms.

[2016-07-19 13:50] Modding commented on #739
https://youtu.be/DbU28pmpx-g

[2016-07-19 14:46] jekkos commented on #739
OK I can clearly see the error. Weird does not seems to be a direct timing issue. I should be inspecting the network tab in FF inspector panel to understand what is going on here.

[2016-07-19 15:26] Modding commented on #739
https://youtu.be/rjs_w5uxWeA

[2016-07-20 08:05] elijahkato opened #751 "printer issue"
Hello @jekkos
I must say weldone thus far. Please i am using a Veeda thermal printer for printing receipts. After printing the first sale, the second sale prints continuously without stopping until I turn off the printer. It has happened frequently. I tried using chrome, Iexplorer and firefox with js addon enabled. Please can you help me fix this.

Thank you

[2016-07-20 14:05] danesv opened #752 "Error : after scanning the first item is replaced by the second item"
I have the following problem: sometimes in the sales module after scanning the first item is replaced by the second item. Can someone help me on how to solve the problem. Thank you.

[2016-07-20 14:15] odiea commented on #752
Please refer to #739. Currently it is an open issue.

[2016-07-20 18:46] jekkos commented on #733
OK did a fix for this.. precision for calculations is set to quantity precision * tax. In the end everything is rounded to the configured currency precision. I guess that will be sufficient to avoid any obvious rounding issues.

[2016-07-20 18:47] jekkos commented on #742
I've added location dropdown in the input screens for all summary reports. Can you quickly test if everything works fine?

[2016-07-20 18:56] odiea commented on #742
Graphical Items Summary Report.

![2016-07-20 12_54_02-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/10962177/16999071/62a9fd8c-4e79-11e6-88d0-78f1bad6b510.png)

[2016-07-20 18:57] odiea commented on #733
Current issue is it is not charging sales tax now.
![2016-07-20 12_51_27-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/10962177/16999096/86eca47e-4e79-11e6-9a01-d4b786564d25.png)

[2016-07-20 20:34] odiea commented on #733
Here is what I get if tax included is checked.
![2016-07-20 14_32_58-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/10962177/17002114/1c9bcdee-4e87-11e6-992f-0e45a6b7c2e8.png)

[2016-07-20 23:42] jekkos commented on #742
Ok sorry about that, did a fix forgot to add the location_id in the summary section there

[2016-07-20 23:50] jekkos commented on #733
Ok this is weird ;. this part seems to work ok here.
![schermafdruk van 2016-07-21 01-50-17](https://cloud.githubusercontent.com/assets/576234/17007011/86dad39a-4ee5-11e6-854f-3a4dda35c36b.png)

[2016-07-20 23:51] jekkos commented on #733
this screencap was taken after enabling tax inlcusive option
![schermafdruk van 2016-07-21 01-51-05](https://cloud.githubusercontent.com/assets/576234/17007026/a1de1648-4ee5-11e6-8226-403ec2fd10f7.png)

[2016-07-21 00:27] odiea commented on #733
I just downloaded a fresh copy to see if it was a bad pull. I still have the same issue.
![2016-07-20 18_25_52-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/10962177/17007631/9ac9c444-4ea7-11e6-90e4-7f6026edfb67.png)

[2016-07-21 00:34] odiea commented on #742
It works correctly now.

[2016-07-21 03:43] marcofa opened #753 "help migrating to version 2.4"
i tried migrating to version 2.4 by the book, but unfortunately I can not access the system, I use a local version to do the tests, and I can not in the configuration, I followed the manual is not copying the config.php file and database .php, but even I can not get the system working, I could get some help? where am I wrong? an example of a file configured for a localhost

[2016-07-21 05:58] akashneelh commented on #725
Yes I have done this.. But will you ps help me how to change Giftcard Number field to a free text field so that we can put Gift card number manualy (ex.. GV001). in the New Giftcard form?

[2016-07-21 06:46] akashneelh opened #754 "Add comment field with payment type"
Dear Team,

I have configured three types of payment types 1) Advance 2) Cash 3) Card. Against advance , I hav putting some additional information in comment box while saving the bill. Pls guide how to add comment with Advance payment in receipt print out . It is required only with Advance ,not with cash or card.   example for ....  Advance (NV002 taken on 16-aug-16) : 20000

[2016-07-21 09:21] akashneelh commented on #725
Done the above query too. Now I am able to add a text filed in the gift card number. But ,I  am facing an error in Sales screen while adding gift card as a payment type. Error coimg.. "Must enter numeric value for amount tendered". Pls help how to resolve this.

[2016-07-21 10:09] jekkos commented on #742
Ok thanks for testing, I close.

[2016-07-21 10:09] #742 closed

[2016-07-21 10:23] jekkos commented on #733
OK Just did some more testing I'll need to look into it later.. will  be off for the rest of the day. I tested this in a local docker setup and was verifying that everything is uptodate. I have recreated the image and still get an ok test.

[2016-07-21 10:41] mohsin5855 opened #755 "Errors in Reports and Sales Module (dated : 21-07-2016)"
Fatal error: Class 'NumberFormatter' not found in C:\xampp\htdocs\opensourcepos-master\application\helpers\locale_helper.php on line 29

![Uploading image.png…]()

[2016-07-21 11:08] akashneelh commented on #725
Thnks did it myself, removed the validation from ...\application\controllers\sales.php file and it worked

[2016-07-21 11:08] #725 closed

[2016-07-21 11:41] odiea commented on #755
Please read the readme.

FAQ

    If a blank page (HTTP status 500) shows after search completion or receipt generation, then double check php5-gd presence in your php installation. On windows check in php.ini whether the lib is installed. On Ubuntu issue sudo apt-get install php5-gd. Also have a look at the Dockerfile for a complete list of recommended packages.

    If the following error is see

[2016-07-21 11:44] odiea commented on #733
I reverted the update and all is fine now.

[2016-07-21 12:08] aelhofy commented on #584
I added the Arabic translation in the csv files attached
[translations.zip](https://github.com/jekkos/opensourcepos/files/375907/translations.zip)

[2016-07-21 12:20] aelhofy opened #756 "Arabic Translation for Version 3.0"
I am pleased to attache herewith the Arabic translation that has been added to the csv files attached that have been downloaded yesterday from GitHub.

Thanks
[translations.zip](https://github.com/jekkos/opensourcepos/files/375928/translations.zip)

[2016-07-21 13:24] daN4cat commented on #756
Thanks for the contribution

[2016-07-21 13:27] aelhofy commented on #756
Thanks to you and all the contributers for creating such amazing software

[2016-07-21 20:25] odiea commented on #733
It has something to do with removing PRECISION. I cherry picked that commit and it went south after I removed all the PRECISION

[2016-07-22 03:13] marcofa opened #757 "fatal error"
( ! ) Fatal error: Can't use method return value in write context in C:\wamp\www\opensourcepos\application\controllers\Config.php on line 144
Call Stack
#	Time	Memory	Function	Location
1	0.0000	162008	{main}( )	..\index.php:0
2	0.0100	207008	require_once( 'C:\wamp\www\opensourcepos\system\core\CodeIgniter.php' )	..\index.php:315
A PHP Error was encountered

Severity: Compile Error

Message: Can't

[2016-07-22 03:16] marcofa commented on #757
if (empty($config->item('thousands_separator')))

[2016-07-22 07:01] marcofa opened #758 "backup in new version 3.0"
in the new version 3.0 is no longer present backup?

[2016-07-22 07:01] #757 closed

[2016-07-22 11:55] odiea commented on #758
Go to Store Config/General It is on the bottom left side of the page.

[2016-07-22 12:13] #758 closed

[2016-07-22 15:43] usergroup81 commented on #733
Same here, tax is not calculated with commit d8e4bf48d84ac81c9ab20b34d2765028c7cc5415:
![tax_not_calculated_cc5415](https://cloud.githubusercontent.com/assets/20194509/17062570/6ce70ff4-5001-11e6-89f0-3f9b650785c1.PNG)

[2016-07-22 20:28] #752 closed

[2016-07-22 20:28] #755 closed

[2016-07-22 20:54] jekkos commented on #733
OK indeed I can reproduce now will have a closer look

[2016-07-23 01:54] marcofa opened #759 "not calculate tax"
I installed version 3.0, in sales is not taken into account the calculation of taxes, whether they are made in general, that the individual item level

[2016-07-23 01:55] #753 closed

[2016-07-23 01:57] marcofa opened #760 "does not exist the backup function"
the automatic backup function at the exit, it was very important for the security of the system

[2016-07-23 02:14] odiea commented on #760
Sorry it was deemed a nuisance by most users so it was removed.

[2016-07-23 02:14] #760 closed

[2016-07-23 15:43] elijahkato commented on #751
I think i was left alone to solve my problem myself.. I have successfully configured my printer.. Thanks for the Silence

[2016-07-23 15:44] #751 closed

[2016-07-23 19:52] odiea commented on #751
Sorry but the 2 major contributors are currently on a well needed holiday. If you could contribute back  your findings and share with us it may help others.  This is a community based program.

[2016-07-23 20:17] elijahkato commented on #751
So sorry i didnt know.. I got the solution from this link.. it helped alot. [http://news.nexpresslibrary.org/go-live/configure-your-receipt-printers/]

[2016-07-23 20:27] odiea commented on #751
Thanks for contributing your solution.

[2016-07-23 22:03] odiea commented on #759
See issue #733 to see if this pertains to your issue. It is towards the bottom of the issue.

[2016-07-24 09:11] jekkos commented on #759
Sorry for the slow response, my dev laptop os' is screwed up and so I currently have no means to debug this issue. Was trying to fix the former yesterday but didn't get far enough

[2016-07-25 01:15] marcofa commented on #759
![2016-07-25_090949](https://cloud.githubusercontent.com/assets/20449443/17088005/b500733c-5247-11e6-9d71-be36d927c723.png)

this is general configuration not have tax (bonus)

![2016-07-25_090709](https://cloud.githubusercontent.com/assets/20449443/17088019/f28dfbb6-5247-11e6-94ad-3dc5f6c8be29.png)

configuration items have tax (bonus)

![2016-07-25_090854](https://cloud.githubusercontent.com/ass

[2016-07-25 03:42] leominojr opened #761 "Add inventory vs sales report"
Hello Good Day,

I would like to request if it's okay to have an inventory report vs sales report. Which shows the total deducted quantity vs the sales w/ ref no.? When i click the ref no. it goes to sales report where is the transaction.
![data](https://cloud.githubusercontent.com/assets/9472129/17089806/dbe3f3e2-525c-11e6-9840-f60230d165e0.JPG)

[2016-07-25 03:43] leominojr opened #762 "Pop Up of Change After Tendering the transaction"
Hello Guys,

I would like to show my appreciation about the POS its very good. But is it okay that I'll request if there's any way that when the transaction is being tendered. It will pop up a modal shows the change and a close button?

[2016-07-25 08:57] jekkos commented on #759
Found the culprit, will commit a fix later today

[2016-07-25 09:29] mohsin5855 opened #763 "Suppliers Report...."
How Supplier Report Shows Data, My Suppliers Summary Report not showing any record...

Can you please tell me the Steps, how supplier reports get data.
Advance Sorry for this Silly Query....

[2016-07-25 10:31] odiea commented on #762
You can use the following post #557.

[2016-07-25 16:25] jekkos commented on #759
Ok should be fixed now (at least locally). Forgot to reference this issue in the commit properly

[2016-07-25 16:32] jekkos commented on #762
Indeed please refer to #557. Feel free to submit a pr for review once you have added this functionaltiy.

[2016-07-25 16:32] #762 closed

[2016-07-25 16:32] jekkos commented on #733
Ok hope we can close this one soon (after having latest validated)

[2016-07-25 17:08] odiea commented on #759
If you have updated the Master the tax is showing but not the correct amount.
![2016-07-25 11_06_37-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/10962177/17110049/15a87ae4-5258-11e6-96f7-5c82fd3e9765.png)

[2016-07-25 18:24] jekkos commented on #759
OK I have only tested the behavior with less precision .. guess I need to increase it overall.

[2016-07-25 19:35] jekkos commented on #759
OK this case is now rounded using default numberformatter half even mode. In this case result will thus be 4,11

`Rounding mode to round towards the "nearest neighbor" unless both neighbors are equidistant, in which case, round towards the even neighbor. `

[2016-07-25 19:40] jekkos commented on #756
Are these translations specific to a certain country or just general arabic? In the former case I'll need to know the exact locale code

[2016-07-25 19:41] jekkos commented on #747
No extra info after 10 days.. will close this issue as I assume problem has been tackled.

[2016-07-25 19:41] #747 closed

[2016-07-25 19:57] odiea commented on #759
Working great now.

[2016-07-25 20:19] jekkos commented on #759
OK great thanks for the patience and testing effort once again. Wish I could have solved this sooner but just couldn't find the time.

[2016-07-25 20:19] #759 closed

[2016-07-25 20:57] odiea commented on #759
No problem I see everything got working for you.

[2016-07-25 21:39] jekkos commented on #759
Well more or less, got the environment set up on another machine now. I tried to upgrade ubuntu on my regular laptop but that kind of screwed it up.. Will need to find something to fix that later.

[2016-07-25 23:21] odiea commented on #557
I have altered your code a little to work in the Register. Place the following code between lines 373 ( form close) and 374(sale complete.
This will give a modal with change due and the rest of the buttons to finish the sale. Let me know if it works for you.

<div id="due" class="modal fade bs-example-modal-bg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">

[2016-07-25 23:36] odiea commented on #557
Here is the copy and paste version.
[code]

[2016-07-26 00:14] aelhofy commented on #756
Hello,

Its mostly Egyptian ar_EG, however its 95% applicable for all Arabic locals
--
Thanks

Ahmed

On July 25, 2016 10:40:52 PM GMT+03:00, jekkos <notifications@github.com> wrote:

[2016-07-26 04:03] dxchen90 opened #764 "Clean new install with error"
Hi,

I have done new install, but getting the error..

A PHP Error was encountered

Severity: Compile Error

Message: Can't use method return value in write context

Filename: helpers/locale_helper.php

Line Number: 58

Backtrace:

[2016-07-26 05:28] onyema3 commented on #557
@odiea in what file exactly am i to enter these codes?
want to give it a try

On Tue, Jul 26, 2016 at 12:36 AM, odiea <notifications@github.com> wrote:

[2016-07-26 06:46] jekkos commented on #686
Ok did a fix for this one, row count should be equal to the actual number of selected rows.

[2016-07-26 08:54] jekkos commented on #764
You are probably using php 7. Please check setup guide in README in the root of this project.

[2016-07-26 08:54] #764 closed

[2016-07-26 09:20] jekkos commented on #756
Thanks for pointing that out. I will change language name to egyptian (arabic) in that case. Some people might disagree that it suits a general arabic (although it's probably usable enough). Just a matter of being correct.

It's is a tedious task once multiple persons submit translations at the same time. I have to merge yours using git as they are based on an older commit that didn't have the spa

[2016-07-26 09:34] aelhofy commented on #756
it would be better to name it  Arabic(Egypt), because there is no language called Egyptian.

[2016-07-26 09:36] aelhofy commented on #756
why we can't use gettext and  .po files for translations , like this each language will be in a separate file ?

https://www.gnu.org/software/gettext/manual/html_node/PO-Files.html

[2016-07-26 10:11] onyema3 commented on #557
Figured it out, looks good. Thanks

On Jul 26, 2016 12:36 AM, "odiea" <notifications@github.com> wrote:

[2016-07-26 10:31] odiea commented on #557
It should look something like the following after the payment amount is good and before sale complete. If you click on the page ant it disappears before completion just click on a sale item update.
![2016-07-26 04_26_40-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/10962177/17134866/d46e8fa4-52e9-11e6-8256-cf0f30760993.png)

[2016-07-26 10:43] odiea commented on #557
The following code may give you this appearance.
[code]

[2016-07-26 10:49] onyema3 commented on #557
Yes Exactly!

On Tue, Jul 26, 2016 at 11:43 AM, odiea <notifications@github.com> wrote:

[2016-07-26 10:51] onyema3 commented on #557
Like this

On Tue, Jul 26, 2016 at 11:49 AM, Onyemechi Ifende <onyema@ifende.com>
wrote:

[2016-07-26 12:14] jekkos commented on #756
Indeed that's what we're heading for. Check out #439 which has some explanation on the setup I'd like to have. We could use weblate to manage translations more easily.

[2016-07-26 13:47] alvin101 commented on #763
Just my two cents worth... But sorry to not help the issue.

I think in the design of things that Supplier Reports of any kind belong to the accounting system.  A POS or cash register needs to be simple. A report of sales, returns, and cash reconciliation.

I think a good design in a POS would be to pick a good ERP like frontaccounting and maintain a connect-ability.

[2016-07-26 13:57] jekkos commented on #763
Think the supplier report here just aggregates sales of products that have a linked supplier. This way one can quickly see which brand you have sold most during a certain period. If no supplier is selected in any item then I guess this report won't show alot.

[2016-07-26 14:57] jzonetan opened #765 "Slow searching items on Sales"
its weird i have great delay on other computer for searching items i was been push to transfer ospos in different pc due i need to fix the pc for maintenance mode...

[2016-07-26 21:44] odiea commented on #557
Last one. The following code will give the following appearance. With this you do not have to remove the modal just click on complete.
[code]
![2016-07-26 15_39_55-wedidit -- powered by os point of sale](https://cloud.githubusercontent.com/assets/10962177/17156543/a4063796-5347-11e6-9abc-602fd2f0376a.png)

[2016-07-26 21:47] onyema3 commented on #557
wow cool, any specific line number to add it to??

On Tue, Jul 26, 2016 at 10:44 PM, odiea <notifications@github.com> wrote:

[2016-07-26 21:53] odiea commented on #557
Read my first and second post on this issue and it will give you instructions. Both the script and the code goes into application/views/sales/register.php

[2016-07-26 21:55] onyema3 commented on #557
Yeah i know. the first one says around line 373.
is it the same spot?
Does this replace the earlier one?

On Tue, Jul 26, 2016 at 10:53 PM, odiea <notifications@github.com> wrote:

[2016-07-26 21:57] odiea commented on #557
Same location and yes it replaces my earlier version.

[2016-07-26 21:58] onyema3 commented on #557
Thanks

On Tue, Jul 26, 2016 at 10:57 PM, odiea <notifications@github.com> wrote:

[2016-07-26 22:09] onyema3 commented on #557
The complete button not working....

On Tue, Jul 26, 2016 at 10:58 PM, Onyemechi Ifende <onyema@ifende.com>
wrote:

[2016-07-26 22:14] odiea commented on #557
Did you remove all the previous code from my earlier version? It should look like the following. I do not have that issue.
[code]

[2016-07-26 22:20] onyema3 commented on #557
yes i did.

On Tue, Jul 26, 2016 at 11:14 PM, odiea <notifications@github.com> wrote:

[2016-07-26 22:23] odiea commented on #557
I may have left out a part. id="due" See if this changes anything for you.
 id="due" class=" modal-dialog modal-sm alert alert-success" style="right: 1%;"

[2016-07-26 22:28] odiea commented on #557
So don't use the id="due". It messes it all up. Back to the drawing board.

[2016-07-26 22:29] onyema3 commented on #557
yeah messed it up

On Tue, Jul 26, 2016 at 11:28 PM, odiea <notifications@github.com> wrote:

[2016-07-26 22:38] odiea commented on #557
I downloaded the latest and added it into the program with no issues.  The window load function isn't needed anymore either.

[2016-07-26 22:42] onyema3 commented on #557
working now. Thanks

On Tue, Jul 26, 2016 at 11:38 PM, odiea <notifications@github.com> wrote:

[2016-07-27 09:11] daN4cat commented on #557
It would be nice to have it as feature that can be enabled/disabled from Store Config

[2016-07-27 23:20] usergroup81 commented on #733
Awesome! Thank you!

[2016-07-28 08:54] jekkos commented on #765
How many records do you currently have? You might consider to switch to mariadb which should be faster by default (better query optimizer).

Also check you performance statistics in phpMyAdmin. Database performance depends largely on the used configuration and specs of the server it's running on.

[2016-07-28 08:54] jekkos commented on #765
Can't really consider this as an ospos issue as it's probably setup related.

[2016-07-28 08:55] jekkos commented on #761
Feel free to add a new report (see how in the wiki) and make pull request for any changes you do.

[2016-07-28 10:17] paulirish01 opened #766 "Discount Not Updating in Bill"
![discount](https://cloud.githubusercontent.com/assets/20701072/17209402/4d8936e4-54d6-11e6-9fcd-c7ca009716c8.PNG)

[2016-07-28 11:36] jekkos commented on #359
bower licenses

[code]

[2016-07-28 11:39] jekkos commented on #359
I was trying to find a license checker that scans both npm and bower but currently haven't been able to find one. Maybe we don't need to include the npm licenses as these modules are not shipped in our code? They are only used once a user sets up a full dev environment.

[2016-07-28 12:08] daN4cat commented on #359
The most used scanner is called Protex, but we don't need to use it. No need for tools license, just the code or graphic asset we use in the running code.

[2016-07-28 12:22] jekkos commented on #359
OK or we could just display the list of licenses based on the json generated with grunt-license-bower? This way we include them all and once a plugin is added it's license and usage is added as well. Shouldn't be too hard to generate a list from that json (just parse it in php and iterate over the items?)

[2016-07-28 12:23] jekkos commented on #359
Or maybe I can just add the names of used libraries and links to their repo's as a reference (so one can check license on their site?)

[2016-07-28 23:29] brentmeade opened #767 "Calculation of sub total in sales"
I am using version 3.0.  When generating a sale in the sales window and i enter a product with a value of for example $2.75, in the check out window it is rounding off the value to $2.00.  Any item where there is a decimal value, it is rounding down the value.  If i have 10 items with varying quantities, the value is correct in the total on one side of the page but incorrect in the sub total field

[2016-07-28 23:41] odiea commented on #767
You need to download the most current version. That issue has been fixed.

[2016-07-28 23:57] brentmeade commented on #767
Thanks for the response.  I am using Open Source Point Of Sale Version	3.0.0 - 1c4e5093bfbc.  I installed this late last week.  Is there a newer version, and if yes, what files do i change on my server and keep my data and configs?

[2016-07-29 01:53] odiea commented on #767
You appear to be using the most current version. The only thing I can suggest is download and create a program with a different name then attach your current database and see if the issue is gone. Other wise you will have to wait for the more experienced programmers to wake up and notice this issue.

[2016-07-29 06:25] jekkos commented on #598
Following command can be used to test for injection problems and will crawl ospos urls to try and fuzz form data

`sqlmap --crawl 3 -u http://localhost/index.php/home --forms --batch --cookie ospos_session=0286181a77784771a10f7fdf790825abf0e0a7e8 --crawl-exclude logout`

[2016-07-29 06:52] jekkos commented on #767
Don't mind the version string it might be wrong at this point. Did you try a redownload of the latest today?

[2016-07-29 06:53] jekkos commented on #766
When did you download this exact version?

[2016-07-29 07:13] akashneelh commented on #754
Any help guys?

[2016-07-29 09:33] jekkos commented on #763
@alvin101 indeed a REST api would be nice to have here. But his has been discussed in other issues before #615

[2016-07-29 09:33] #763 closed

[2016-07-29 09:35] jekkos commented on #767
Actually the commit hash is just unique for the given file, in this case config.php. It is not equal to the revision info. This is something I need to look into.

[2016-07-29 13:22] alvin101 commented on #615
In my case, I need a POS that would run stand alone without internet, which yes I can do with ospos, and I happen to like the erp frontaccounting system.

So my point is an REST that will update at the next time the net is up.

[2016-07-29 15:24] ipasa opened #768 "How items or any table data loading on a view by using controller and model?"
I want's to understand the application architecture. I am not understand how a table load data using controller and model. i see that here use bootstrap-table plugin, But how this plugin load data from model that i'm not understand. If there any tutorial that helps me to solve this problem that is great for me. And thank you very much @jekkos for this amazing script.

[2016-07-29 16:35] jekkos commented on #768
Tables are loaded by the search() method in each controller. The load is triggered through the bootstrap-tables initializer separately for every controller. Just check your network tab in FF or chrome inspector and then you'll see the ajax calls for this URL going out.

[2016-07-30 08:15] jekkos commented on #766
I've tested this and this seems not to be present in latest version

[2016-07-30 08:21] jekkos commented on #733
I found that amount due would sometimes be negative zero (see also your last screenshot). Also when one would decrement the smallest decimal by one for a new payment amount, the sum of amount paid + amount due would sometimes not be correct. This is due to the totals being more precise in the actual amount due calculation in comparison with the user entered amount paid.

I think it'd be better to

[2016-07-30 10:37] jekkos commented on #754
So you want to show a default comment once you select a specific payment type? You can do this easily by populating the comments field in the sales controller's _reload function with the desired text once you add a payment' for that specific type.

If you want to populate the comments field immediately after changing the selection (thus before clicking the add payment button), then you'll need to

[2016-07-30 12:25] odiea commented on #733
It appeared to be working better before your last update.
![2016-07-30 06_19_13-microsoft edge](https://cloud.githubusercontent.com/assets/10962177/17270355/f7b94cd8-561d-11e6-82dd-71e01b3cc073.png)
This should show the complete sale button.

[2016-07-30 12:31] odiea commented on #733
Sorry was having GitHub issues. This is what it looks like after pressing the add payment button again.

![2016-07-30 06_19_42-microsoft edge](https://cloud.githubusercontent.com/assets/10962177/17270401/07157fa2-561f-11e6-8421-e997fc6cbb79.png)

[2016-07-30 13:50] jekkos commented on #733
OK I guess amount due should be zero or negative to show the complete button?

[2016-07-30 14:00] odiea commented on #733
You can also see in the second image the customer got screwed out of his change due after hitting the last add payment button to show the complete sale button.

[2016-07-30 14:37] odiea commented on #733
@jekkos  I know it would be extra work but maybe you could consider creating another branch with these updates so they can be tested first before the commits go into Master. I think there could be less issues then.

[2016-07-30 15:09] jekkos commented on #733
I was in doubt whether to do it in a branch or not, next time I will. Pushed another one hope this is resolved now

[2016-07-30 17:24] ipasa commented on #768
Thank you very much @jekkos . I'm understand how data loaded and work.

[2016-07-30 17:24] #768 closed

[2016-07-30 19:23] odiea commented on #733
The Register appears to be functioning properly now.

[2016-07-30 21:08] odiea opened #769 "Upgrade 2.3.4 to 3.0 using wamp server"
Hi @jekkos ,

Not sure where I'm supposed to ask questions at?? I'm new to OpenSourcePos, I downloaded the program, and installed it locally using the steps outlined on here. Its working great, but the version I installed is 2.3.4. I'm confused as to how to update to the new 3.0 version? I cannot find anywhere showing me how to do it. Also in ver 2.3.4, when I try and do a backup, I get the follow

[2016-07-30 21:09] odiea commented on #769
What I have done in the past is launch phpmyadmin. Select your current database click on the export feature export it. Now create a new database with a different name. Select it then import your old database. Now you can run the upgrades on your test database and see how it works out. If all is ok then you can try it on your old database or change the name in application/config/database to your ne

[2016-07-30 21:12] odiea commented on #769
Yes you will. That is why I am suggesting you use phpmyadmin now.

[2016-07-31 01:08] bowhunter26 commented on #769
I still cant figure out how to do all this. I'm totally new to php and all, and have no idea what I'm doing. Can someone maybe connect via Remote Control (TeamViewer) and set up this update for me? =)

[2016-07-31 01:28] bowhunter26 commented on #769
I hope I didn't loose all my stuff??  =(

[2016-07-31 01:49] odiea commented on #769
Are you using ospos 3.0 and getting this error?

[2016-07-31 02:29] bowhunter26 commented on #769
I'm not sure if I did it right. I ran the script in the order 2.3.4 - 2.4 and then 2.4 - 3.0, is that the only thing I'm supposed to do?

[2016-07-31 02:36] odiea commented on #769
As far as updating the database you should be good. Now you need to download and install opensourcepos 3.0 unzip it and place it in your www directly if that is what wamp uses. Edit the database config with the required info and you should be good to go. Good luck. Off to bed now.

[2016-07-31 03:37] bowhunter26 commented on #769
Ok, I got the opensourcePOS 3 extracted to the www directory. Now what do I need to do to edit the database config?

[2016-07-31 03:39] onyema3 commented on #769
goto Application/Config/ and edit config.php with your database parameters

On Sun, Jul 31, 2016 at 4:37 AM, bowhunter26 <notifications@github.com>
wrote:

[2016-07-31 03:39] onyema3 commented on #769
Sorry Application/Config and edit the database.php

On Sun, Jul 31, 2016 at 4:39 AM, Onyemechi Ifende <onyema@ifende.com> wrote:

[2016-07-31 03:47] bowhunter26 commented on #769
I'm confused, as too what I'm supposed to do?  Go to import, then Application/Config, and import the database file?

[2016-07-31 03:53] bowhunter26 commented on #769
I figured it out, and it working great!!  Thanks @onyema3 !!

[2016-07-31 03:53] onyema3 commented on #769
You're welcome! Enjoy

On Sun, Jul 31, 2016 at 4:53 AM, bowhunter26 <notifications@github.com>
wrote:

[2016-07-31 04:54] onyema3 commented on #629
$prefs = array(
          'format' => 'zip',
          'filename' => 'ospos.sql'
      );

      $backup =& $this->dbutil->backup($prefs);

The above always throw up error but with a slight change everything works
      $prefs = array(
          'format' => 'zip',
          'filename' => 'ospos.sql'
      );

      $backup = $this->dbutil->backup($prefs);

[2016-07-31 10:24] daN4cat commented on #629
Ok, probably that's due to php version.

[2016-07-31 11:43] #769 closed

[2016-07-31 13:36] onyema3 commented on #629
Oh I see.
Thanks for all your help

On Jul 31, 2016 11:24 AM, "FrancescoUK" <notifications@github.com> wrote:

[2016-07-31 13:44] odiea commented on #629
$backup =& $this->dbutil->backup($prefs); What is the purpose of & in this code?

[2016-07-31 14:12] onyema3 commented on #629
That's for admin backup

On Jul 31, 2016 2:44 PM, "odiea" <notifications@github.com> wrote:

[2016-07-31 14:28] odiea commented on #629
https://www.codeigniter.com/userguide3/database/utilities.html#usage-example appears to have eliminated the & in it's code now.
// Load the DB utility class
$this->load->dbutil();

// Backup your entire database and assign it to a variable
$backup = $this->dbutil->backup();

// Load the file helper and write the file to your server
$this->load->helper('file');
write_file('/path/to/mybackup.gz', $b

[2016-07-31 15:16] odiea opened #770 "Ubuntu Server 16 with php 7 and mysql Ospos 3.0 issue"
Playing around with this new server and here is the error I get when a temp table is used with a Date feature. It shows the same error in Reports Taking and Items. It does not load a table view in Takings or Items. I guess this would be something for the next version. This looks like more a MySQL issue then a PHP issue.

Database Error Occurred

Error Number: 1055

Expression 27 of SELECT list is

[2016-07-31 15:20] odiea commented on #770
Customer,Employee,Giftcard and Item kits load properly.

[2016-07-31 15:39] bowhunter26 opened #771 "Enter does not always update sale line"
When I scan an item, the item comes up on the sale list. When I adjust the price the hit enter, the price goes to $0.00. Also if the price does adjust on say item A, and if I scan another item (B) and adjust that price on (B), the price on (A) changes to ) $0.00. Also entering in a negative (-) price does the same thing. Just upgraded to version 3. This did not happen on version 2.3.4. I'm current

[2016-07-31 15:45] odiea commented on #771
What does it do when you click on update?

[2016-07-31 15:47] onyema3 commented on #771
The update button works fine here

On Jul 31, 2016 4:45 PM, "odiea" <notifications@github.com> wrote:

[2016-07-31 16:07] onyema3 commented on #771
use the update button instead

On Sun, Jul 31, 2016 at 4:39 PM, bowhunter26 <notifications@github.com>
wrote:

[2016-07-31 16:14] ipasa opened #772 "Email Sending Problem on Receipt"
I am using version:3.0.0 and the commit number:1c4e5093bfbcec9a5e41f250c9723e58559c253b.
I am install this version on amazon aws instance. When i send a email using gmail SMTP, there occurs an error(Image-1)

![1](https://cloud.githubusercontent.com/assets/2878902/17277531/dd1843d0-5766-11e6-8751-4273cba4c49d.png)

this is my log file when this error occur.

![2](https://cloud.githubusercontent.co

[2016-07-31 16:23] bowhunter26 commented on #771
Yes, that works!  Thank you @onyema3 !  I didn't have this issue in 2.3.4, I would just hit enter and that worked.

[2016-07-31 16:33] onyema3 commented on #772
Try port 465 and Encryption SSL

[2016-07-31 16:35] daN4cat commented on #771
Enter should work, this is a bug if not.

[2016-07-31 16:37] onyema3 commented on #771
@daN4cat  Enter doesn't work

[2016-07-31 16:42] daN4cat commented on #772
I wouldn't that Gmail stops SMTP from AWS, AWS is used for spamming purposes and hacking stuff. I blocked all the AWS IP address range from my htaccess to avoid the continuous scanning of my website from AWS.

[2016-07-31 16:50] ipasa commented on #772
@daN4cat Any suggestion how can i send email to my customer. How to configure email setting to send email ?

[2016-07-31 17:10] odiea commented on #771
@daN4cat Enter only appears to work on the first item entered. After that it does not work in changing the price.

[2016-07-31 20:01] odiea commented on #770
I ended up replacing mysql with mariadb and all is working properly now.

[2016-07-31 22:31] jekkos commented on #771
Indeed I think I noticed this issue some time ago as well

[2016-08-01 02:27] jzonetan commented on #765
more than 10,000 records already been in pos registered..... seems my laptop specs is not that fast anyways problem solved

[2016-08-01 06:10] #765 closed

[2016-08-01 07:18] daN4cat commented on #772
@ipasa have you tried what @onyema3 suggested?

[2016-08-01 07:32] daN4cat commented on #629
@onyema3 @odiea thanks for the help with figuring out the root cause of this issue, I should have spent a bit of more time to check CI3 upgrades better.
It's fixed and in master now. If no issue after your test we can close.

[2016-08-01 07:40] daN4cat commented on #767
Is this an issue or no?

[2016-08-01 07:47] daN4cat commented on #739
@jekkos is this solved?

[2016-08-01 08:39] onyema3 commented on #629
Fixed

On Mon, Aug 1, 2016 at 8:32 AM, FrancescoUK <notifications@github.com>
wrote:

[2016-08-01 08:48] onyema3 commented on #772
@ipasa also check this
http://easymail7.com/tutorials/use-amazon-ses-smtp/

On Mon, Aug 1, 2016 at 8:18 AM, FrancescoUK <notifications@github.com>
wrote:

[2016-08-01 09:35] onyema3 commented on #693
@daN4cat i'm still having issues sending sms.
my sms api goes like this
$url = "http://smslauncher.com/index.php?option=com_spc&comm=spc_api&username=$username&password=$password&sender=$originator&recipient=$phone&message=$message&dr=1";

Is there an issue here??
Your input will be appreciated. Thanks

[2016-08-01 10:45] #629 closed

[2016-08-01 10:49] daN4cat commented on #693
I fixed something about a similar problem calling a urlencode or similar functionality. I don't have access to the code now so I go by memory. Please check a bit what's there....

[2016-08-01 10:50] daN4cat commented on #693
I mean there should be that function call in the lib code example.

[2016-08-01 10:53] jekkos commented on #767
I can't reproduce it. It might have been a bug a few days ago.

[2016-08-01 11:24] #770 closed

[2016-08-01 11:24] #724 closed

[2016-08-01 11:28] jekkos commented on #771
Did a fix for this one. Could you verify if it works ok now?

[2016-08-01 11:31] #733 closed

[2016-08-01 11:34] odiea commented on #771
Working great here. Happy Bday.

[2016-08-01 11:35] #771 closed

[2016-08-01 11:39] jekkos commented on #739
From the video it looks like the csrf token is not updated after the first refresh. .However when testing this locally without a scanner there is no issue, so I still don't know what caused this.

I might need to see what exactly is sent / received from the server. @Modding can you click the plus icon next to the add request once a request is sent/received? I will need to inspect both sent form fi

[2016-08-01 11:40] jekkos commented on #686
Ok I close

[2016-08-01 11:40] #686 closed

[2016-08-01 11:55] jekkos commented on #666
Problem exists due to a bug (or feature?) in MySQL. Issued query is following

`SELECT *
FROM `ospos_items`
WHERE `item_id` = '2c'
AND `deleted` =0`

which shouldn't give any result but MySQL strips away the character behind the 2 whiich does lead to [some rows in the resultset.](http://stackoverflow.com/questions/15715719/why-does-mysql-return-rows-that-seemingly-do-not-match-the-where-clause)

[2016-08-01 12:01] jekkos commented on #666
Should be fixed now. Replaced the where clause in this query with a like which compares both fields as strings and prevents dropping invalid character

[2016-08-01 12:03] jekkos commented on #598
sqlmap can't find any vulnerabilitties using this way of crawling. However I think that it did not correctly identifiy all forms and their possible values in the application (as some are builtup dynamically). I might want to continue the test a bit and try to enumerate all possible POST urls using burpsuite first, then feed this list into sqlmap for analysis.

[2016-08-01 12:16] odiea commented on #666
This is not working well. Before this I could enter a item id manually and it would work. Now that doesn't work. I get the unable to add item to sale. It appears to be a hit and miss now. Some work and others don't even when I use the dropdown list some do not work now.

[2016-08-01 12:37] daN4cat commented on #767
@brentmeade can you take the latest code from master and test again? If no issue or answer by end of the week we close this.

[2016-08-01 13:40] onyema3 commented on #693
I will check but please if you have the time kindly check and help.
Thanks

On Mon, Aug 1, 2016 at 11:50 AM, FrancescoUK <notifications@github.com>
wrote:

[2016-08-01 13:50] daN4cat commented on #693
Your url string is like the first example, so it should be fine.
You need to check for a PHP example using smslauncher.com as it might be the way the URL call is made.

The issue I was referring earlier was related to message: `$message = rawurlencode($message);`

I hope you didn't remove that before your url string composition.

[2016-08-01 13:54] daN4cat commented on #666
I put a comment on the change, I'm convinced the LIKE is correct as it will give a lot of false positives.

I would revert this for the time being as it's not a critical issue.

[2016-08-01 14:06] onyema3 commented on #693
No i didn't
There is no example there just http://www.smslauncher.com/#api

On Mon, Aug 1, 2016 at 2:51 PM, FrancescoUK <notifications@github.com>
wrote:

[2016-08-01 16:53] leominojr opened #773 "XAMPP Recommended Version"
Hello Good Day,

I'm still getting problems installing ospos in my local server
![capture](https://cloud.githubusercontent.com/assets/9472129/17301777/6d5b7f22-584b-11e6-94cb-6d0818fb2fe7.PNG)
What xampp version do you recommend to fix these errors. All times I add customer it doesn't displays the entire form only the modal.

[2016-08-01 17:10] daN4cat commented on #773
Please read the FAQ first: https://github.com/jekkos/opensourcepos#faq

[2016-08-01 17:10] #773 closed

[2016-08-01 17:45] daN4cat commented on #693
I would get in touch with their support and ask for help. In the end of they want to make business they need to help with such queries.

[2016-08-01 20:03] odiea commented on #666
I reversed this commit  and all is working back to normal.

[2016-08-01 20:20] onyema3 commented on #666
Is it in masters?

On Mon, Aug 1, 2016 at 9:03 PM, odiea <notifications@github.com> wrote:

[2016-08-01 20:22] odiea commented on #666
No it is in my version on my server. You may wait and see if jekkos reverses it or just look at the commit and change it on the one you are using.

[2016-08-01 20:29] onyema3 commented on #666
@odiea  Thanks

On Mon, Aug 1, 2016 at 9:22 PM, odiea <notifications@github.com> wrote:

[2016-08-01 20:49] odiea commented on #666
@onyema3  Were you having similar issues with this last commit with Items in the Sales Register?

[2016-08-01 20:52] onyema3 commented on #666
Yes but not all the time

On Mon, Aug 1, 2016 at 9:49 PM, odiea <notifications@github.com> wrote:

[2016-08-01 21:55] bowhunter26 commented on #771
How do I go about updating?

[2016-08-01 22:50] brentmeade commented on #767
The issue has been resolved. The sales lib code was not correct in the
latest download.  Thanks for the help.

On Aug 1, 2016 08:37, "FrancescoUK" <notifications@github.com> wrote:

@brentmeade <https://github.com/brentmeade> can you take the latest code
from master and test again? If no issue or answer by end of the week we
close this.

—
You are receiving this because you were mentioned.

Reply

[2016-08-02 05:33] #767 closed

[2016-08-02 11:31] asakpke opened #774 "Supported Thermal Printer?"
What are the supported thermal printers if we goes with Linux?

[2016-08-02 11:37] jekkos commented on #666
Ok no idea why it does not work correctly. I changed the like clause with `		$this->db->where('CAST(item_id AS CHAR) = ', $item_id);`and now don't seem to find any obvious problems searching items. @odiea could you give that a try (change the like clause at line 10 in Item.php model with this one and see if it works for you?)

[2016-08-02 11:38] jekkos commented on #666
If it doesn't then I'll revert otherwise we might stick to that latter solution

[2016-08-02 12:00] odiea commented on #666
$this->db->where('CAST(item_id AS CHAR) = ', $item_id); appears to be back to normal.

[2016-08-02 12:01] sweet3025 opened #775 "Enter does not update receive line"
Hi, I am using version 3
When I scan an item, the item comes up on the receive list. When I adjust the price and hit enter, Enter only appears to work on the first item entered. After that it does not work in changing the price.

BTW    The update button works fine here.

A similar issue was in sales Line.
Issue #771

[2016-08-02 12:05] onyema3 commented on #775
That was fixed, take the latest masters and try again

On Tue, Aug 2, 2016 at 1:01 PM, sweet3025 <notifications@github.com> wrote:

[2016-08-02 12:23] sweet3025 commented on #775
Thanks for your quick reply. Yes, it was fixed for the **sales module**. The bug is still there in the **Receive module**.

[2016-08-02 12:34] odiea commented on #775
Thanks for reporting this. We have a tendency to just test the modules we use most frequently.

[2016-08-02 12:36] onyema3 commented on #775
True, just tested and receiving still has the bug

On Tue, Aug 2, 2016 at 1:34 PM, odiea <notifications@github.com> wrote:

[2016-08-02 12:49] odiea commented on #775
If you cant wait for the commit you can go to application/views/receivings/receiving.php and replace line 491 with the fix for register.
$(this).parents("tr").prevAll("form:first").submit();

[2016-08-02 12:54] onyema3 commented on #775
@odiea you beat me to it....that the fix

On Tue, Aug 2, 2016 at 1:49 PM, odiea <notifications@github.com> wrote:

[2016-08-02 13:24] odiea commented on #774
I would think that most printers that work with Linux would work with OSPOS. All you do is try.

[2016-08-02 15:55] jekkos commented on #775
You're right receivings module is often overlooked. Will add the fix there as well.

[2016-08-02 16:23] daN4cat commented on #775
Fixed and in master.

[2016-08-02 16:27] daN4cat commented on #666
Applied the suggested fix and in master.
I couldn't test it so countercheck to make sure it's all fine with different search criteria (even adding an extra char at the beginning or/and end of the searched/scanned item).

[2016-08-02 17:03] asakpke commented on #774
Does anybody knows the list of thermal printer that are supported on Linux Mint/Ubuntu/Debian?

[2016-08-02 17:59] daN4cat commented on #774
I'm afraid no

[2016-08-02 18:00] #774 closed

[2016-08-02 18:49] freemail624 commented on #666
You can test this one, It works good with me

    `public function exists($item_id, $ignore_deleted = FALSE, $deleted = FALSE)
	{
		if(is_numeric($item_id)){
			$this->db->from('items');
			$this->db->where('item_id', $item_id);
			if($ignore_deleted == FALSE)
			{
				$this->db->where('deleted', $deleted);
			}
			return ($this->db->get()->num_rows() == 1);
		}
		return false;
	}`

[2016-08-02 19:20] jekkos commented on #666
is numeric check could be a solution as well, might be a bit cleaner indeed?

[2016-08-02 20:56] CTO1966 opened #776 "Fatal error: Can't use method return value in write context in C:\wamp\www\opensourceposmaster\application\helpers\locale_helper.php on line 67"
A PHP Error was encountered
Severity: Compile Error
Message: Can't use method return value in write context
Filename: helpers/locale_helper.php
Line Number: 67
Backtrace:
67 code is
if (empty($config->item('thousands_separator')))

please fixed this issue

[2016-08-02 21:34] odiea commented on #776
You can use notepad ++ and open application/helpers/locale_ helper and replace line 67and 68 with the following and see if it changes anything.
$sep = $config->item('thousands_separator');
	if (empty($sep))
I got the idea from here http://stackoverflow.com/questions/17139264/cant-use-function-return-value-in-write-context

[2016-08-02 21:42] odiea commented on #666
I tried with the first example in this issue and now I get "cannot add item to sale". If I use just the item_id it works properly.

[2016-08-03 04:11] agungwizz opened #777 "Ask (Created) Detailed Reports Customers and Receiving"
Hello
how to Create
Detailed Reports Customer and Payment Type
Detailed Reports Receiving by Suplier and Payment Type
Best Regard

[2016-08-03 04:12] sweet3025 commented on #775
Awesome Support :+1:

[2016-08-03 04:12] #775 closed

[2016-08-03 05:29] CTO1966 commented on #776
Thank You for your Ripley
Line 67 i use your code($sep = $config->item('thousands_separator');
if (empty($sep)) ) -Login page now open but - sale page link new error

Fatal error: Class 'NumberFormatter' not found in C:\wamp\www\opensourceposmaster\application\helpers\locale_helper.php on line 29
A PHP Error was encountered
Severity: Error
Message: Class 'NumberFormatter' not found
Filename: helpe

[2016-08-03 06:22] daN4cat commented on #776
@CTO1966 please read the FAQ: https://github.com/jekkos/opensourcepos#faq

[2016-08-03 06:29] daN4cat commented on #776
Also please note that PHP 5.5 is required and in any case recommended as 5.4 is obsolete and not supported.

[2016-08-03 06:29] #776 closed

[2016-08-03 06:30] daN4cat commented on #772
@ipasa any news otherwise I close this issue.

[2016-08-03 06:33] #754 closed

[2016-08-03 08:29] Muazm87 opened #778 "Can't add Item/Customer/Supplier"
Can't add Item/Customer/Supplier.

When I click on New Item a new box opens up with a blue Header "New Item" and the footer "New" & "Submit" nothing inbetween.

[2016-08-03 09:15] daN4cat commented on #778
Version of your web server, php and etc. please.

Also make sure you read the readme before coming here to ask for help.

[2016-08-03 12:20] odiea opened #779 "Enhancement for Github Issues."
https://github.com/blog/2111-issue-and-pull-request-templates

[2016-08-03 12:29] CTO1966 opened #780 "Fatal error: Can't use method return value in write context in opensourceposmaster\application\controllers\Config.php on line 144"
hi
Application is working fine on localhost but when i deployed my application on my server. in some pages like

- sale page : http://cadersons.tk/index.php/sales
- receivings page :  http://cadersons.tk/index.php/receivings
- Store config : http://cadersons.tk/index.php/config

 its showing
Fatal error: Can't use method return value in write context in
url : http://cadersons.tk (username and pass

[2016-08-03 13:34] CTO1966 commented on #780
Sorry now its working fine. its boz of settings in our IIS. we forgot to change the setting in IIS which we did on our local wamp.

[2016-08-03 13:34] #780 closed

[2016-08-03 18:34] gergilar opened #781 "Discount on kits"
Hi, i dont know if is here to ask, i am new on Github, but could be good to have a discount price on items in kits.
By this i mean that if i bought a pop that is 1$ and a coke that is 1$ but if they are in the kit they have a 50% discount, so the final price is 1$ for both.
Thanks.

[2016-08-03 18:55] odiea commented on #781
Please refer to issue #625.

[2016-08-03 18:55] #781 closed

[2016-08-03 23:52] RodolfoLopez commented on #778
I had this issue, also an error on the Config/Localization page:

(witch is mentioned on the Readme.md)
Both of them where 'fixed' once I installed/enabled the php-intl extention, by uncommenting it on php.ini:
` ;extension=php_intl.dll`
and reloading the server.

Now I can add items properly.

[2016-08-04 08:27] #778 closed

[2016-08-04 08:28] daN4cat commented on #778
Good. @jekkos @odiea what did I say a month ago about all the issues report about that change? Lost the count of people flagging it....

[2016-08-04 10:25] jekkos commented on #731
Ok so currently all what is left is the security improvements testing?

[2016-08-04 10:29] daN4cat commented on #731
+ Arab translation and there is this issue with the scan.

Ha yes, we haven't closed the license one. I'll recheck next days what you said at that time.

[2016-08-04 11:59] djm777 commented on #429
Hi everyone, for me just change quantity_decimals, its work
![locale_helper](https://cloud.githubusercontent.com/assets/19495053/17401026/666f8d26-5a75-11e6-8625-1382a593e854.PNG)

[2016-08-04 12:03] djm777 commented on #429
the file is in folder: application/helpers/locale_helper

[2016-08-04 12:15] odiea commented on #778
So should this commit be reverted and added to a future release or should the requirements be the first thing a person should read about on the ft page ?

[2016-08-04 12:17] daN4cat commented on #429
@djm777 you are using an old version. This work was for 3.0 which is almost ready for release now.

[2016-08-04 12:18] jekkos commented on #731
Ok and what about the theming? Will we leave it for later? In my opinion this should just be a matter of setting the path to the bootstrap css using a variable in the config section. Bootswatch templates can just be installed using bower (probably no more need for the templates folder).

[2016-08-04 12:18] daN4cat commented on #778
What's done is done. We just need to live with it or improve the template of issues posting. Maybe that makes more sense to avoid the repetition of the same question.

[2016-08-04 12:24] daN4cat commented on #731
If it's easy let's close that too. The template folder I don't know. We need to deal with the custom css.

[2016-08-04 12:29] jekkos commented on #778
Yes indeed think that would be a first step in the right direction.

[2016-08-04 13:25] djm777 commented on #429
@daN4cat, Upss I dont know but this is the view....
in sale register:
![view 1](https://cloud.githubusercontent.com/assets/19495053/17403263/2b948132-5a81-11e6-8e33-b70bce765d8c.PNG)

and...

this is the updated view after sale on inventory:
![view 2](https://cloud.githubusercontent.com/assets/19495053/17403363/8a334ed0-5a81-11e6-9622-005c0d980037.PNG)

[2016-08-04 13:26] djm777 commented on #429
sorry if I'm out of the version

[2016-08-04 13:31] daN4cat commented on #429
Anyway, this problem is solved. Please check the latest code from master.

[2016-08-04 13:43] djm777 commented on #429
Ok, thanks.

[2016-08-04 16:10] daN4cat opened #782 "Upgrade to CI 3.1.0"
CI 3.1.0 was released last week: http://forum.codeigniter.com/thread-65803.html maybe it's better to upgrade to CI3.1 before releasing OSPOS 3.0.0.

[2016-08-04 16:37] mcctech opened #783 "OSPOS 3.0 i have a problem please fix..."
1st error @sale icon select : Fatal error: Class 'NumberFormatter' not found in POS\application\helpers\locale_helper.php on line 29
2nd error @item icon select: can't not entry item

[2016-08-04 18:01] daN4cat commented on #783
Please read the READ me and FAQ

[2016-08-04 18:01] #783 closed

[2016-08-04 19:54] katkevelaers opened #784 "Skip confirm dialog when saving a sale"
When saving a sale I'd like to bypass the confirm dialog and go directly to printing the receipt.  Can you tell me where I can do that?
Thx

[2016-08-04 20:11] daN4cat commented on #784
Use Firefox and jsprinter, you can configure jsprinter in Config Store and print straight your receipt without additional clicks

[2016-08-04 21:34] daN4cat commented on #782
Updated to CI 3.1.0 and now in master.

[2016-08-05 07:02] katkevelaers commented on #784
Thanks for your reply, but when I use firefox and jsprinter, nothing is
printed at all, that's why I wanted to use Chrome.

On 4 August 2016 at 22:11, FrancescoUK <notifications@github.com> wrote:

[2016-08-05 07:40] daN4cat commented on #784
Have you configured jsprinter properly and even in Store Config?

With Chrome you can avoid the print dialog only if you run it in kioskmode, there is #717 covering that.

[2016-08-05 07:48] daN4cat commented on #756
@aelhofy I'm not able to unzip your file, which format is that?

[2016-08-05 07:49] aelhofy commented on #756
Zip done with 7zip
--
Thanks

Ahmed

On August 5, 2016 10:48:13 AM GMT+03:00, FrancescoUK <notifications@github.com> wrote:

[2016-08-05 08:09] aelhofy commented on #756
attached here one more time as .zip and .7z

kindly inform if it is opining with you now

On Fri, Aug 5, 2016 at 10:49 AM, Ahmed ELHOUFFY <aelhofy@gmail.com> wrote:

--

مع خالص التحية والأحترام،،،
____________________________

[2016-08-05 10:11] katkevelaers commented on #784
Yes, I did, but it is the dialog box that asks me to confirm saving the
sale, before moving on to printing.  I do run Chrome in Kiosk mode and that
works fine.  I use it in Dutch so maybe I don't use the right translations,
but when finishing a sale I first click 'pay', than 'confirm' and then a
dialog box pops up to ask the user to confirm again.  Only after clicking
in that box, the printing pro

[2016-08-05 10:16] odiea commented on #784
This sounds like an earlier version. What version are you using?

[2016-08-05 10:23] katkevelaers commented on #784
I'm using
2.3.4

On 5 August 2016 at 12:16, odiea <notifications@github.com> wrote:

[2016-08-05 11:10] daN4cat commented on #784
Maybe it's better to upgrade to 3.0.0 as you'll get better support.
We are not that far from releasing it, just few things to finish off and test.

[2016-08-05 11:12] jekkos commented on #784
@katkevelaers dutch (flemish) speaker? Coincidentally having a business around Leuven? Might indeed be better to upgrade to 3.0 first.

[2016-08-05 11:14] katkevelaers commented on #784
thanks i will!

On 5 August 2016 at 13:10, FrancescoUK <notifications@github.com> wrote:

[2016-08-05 13:03] daN4cat commented on #784
@jekkos it looks like this Kat rings a bell...

[2016-08-05 15:48] katkevelaers commented on #784
@jekkos .... yes indeed

[2016-08-05 15:48] #784 closed

[2016-08-05 18:52] jekkos commented on #784
Always interesting to know how this system is being used ( and in which context ) .. If in need of anything then feel free to drop me a line

[2016-08-06 06:02] katkevelaers commented on #784
Thx!  Will do.

On 5 August 2016 at 20:52, jekkos <notifications@github.com> wrote:

[2016-08-06 09:42] daN4cat commented on #756
Added Arabic (Egypt) translations and now in master.

@aelhofy Many thanks for the contribution and could you please take the latest code and verify, in particular check Items view because translations/items_lang.php had an extra line on your file. But because I cannot understand a bit of Arabic writing I'm of no help.

[2016-08-06 09:44] daN4cat commented on #666
This seems to work to me. I close.

[2016-08-06 09:44] #666 closed

[2016-08-06 09:46] daN4cat commented on #707
No further on this after almost a month, I close.

[2016-08-06 09:46] #707 closed

[2016-08-06 09:47] daN4cat commented on #782
I heard no complaints about this upgrade and it seems to be working fine on my side. I close.

[2016-08-06 09:47] #782 closed

[2016-08-06 09:49] daN4cat commented on #739
@odiea have you tested the latest OSPOS with Firfox and spotted any issue?
If no issues and no updates from @Modding I would suggest to close.

[2016-08-06 10:01] odiea commented on #739
@daN4cat I could not test with a scanner. I Had no manual entry issues.

[2016-08-06 10:07] daN4cat commented on #739
OK, thanks. Let's wait until tomorrow then we can close if no complaints.

[2016-08-06 10:18] odiea opened #785 "Graphical Reports Location Issue."
![2016-08-06 04_12_02-jump list for vmware player](https://cloud.githubusercontent.com/assets/10962177/17456202/cb792db8-5b8c-11e6-9029-9d562df6fde5.png)

[2016-08-06 10:59] daN4cat commented on #785
Fixed.

[2016-08-06 11:02] odiea commented on #785
Yes you did.

[2016-08-06 11:02] #785 closed

[2016-08-06 11:09] daN4cat commented on #731
Arab translation is hopefully sorted pending verification.

Bootswatch template is 3.3.6 where bootstrap is 3.3.7 and in Github is 3.3.7. The Bootswatch-dist is lagging behind one version and I created an issue but not sure it will be picked up. I'm afraid I would need to fork it, update and point our bower.json to our fork to get the latest.

I still need to check better this license story, but I

[2016-08-06 11:32] daN4cat commented on #779
Added the issue report template, please check and let me know if looks fine or else.

[2016-08-06 11:59] odiea commented on #779
Looks god but I would also note that the following extensions need to be installed.
Is php5-intl extension in php.ini enabled.
Is php5-gd installed.

[2016-08-06 12:02] daN4cat commented on #779
That's in the FAQ

[2016-08-06 12:05] odiea commented on #779
Apparently not a lot of people have been reading the Faqs.

[2016-08-06 12:26] daN4cat commented on #779
That's why is a checkbox.

[2016-08-06 12:31] odiea commented on #779
I take it the template is not live yet?

[2016-08-06 12:50] daN4cat commented on #779
It's live, there is no other way.

[2016-08-06 12:52] odiea opened #786 "Enhancement for Github Issues using the provided Template."
Before submitting an issue please make sure you tick and agree all the following check boxes:

- [ ] Checked the current issues database and no similar issue was already discussed
- [ ] Read the README, WHATS_NEW and UPGRADE
- [ ] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [ ] Reporting an issue of an unmodified OSPOS installation
- [

[2016-08-06 12:56] odiea commented on #786
To get this template to work properly you must start a new issue at the bottom of the template you must press the button then you can fill out the form. After filling out the form I guess then you make an additional comment

[2016-08-06 13:00] daN4cat commented on #786
You can even fill in the template straight away adding x between the square brackets to get it checked. Maybe I should add that hint?

[2016-08-06 13:01] daN4cat commented on #779
Let's continue on #786

[2016-08-06 13:01] #779 closed

[2016-08-06 13:20] odiea commented on #786
I think I was expecting the form to appear like the Completed form above with the  submit button at the bottom of the completed form.

[2016-08-06 15:18] daN4cat commented on #786
Unfortunately it doesn't look like, but I'll read more the help. However the example in the guide looks the same. Happy to find a better way if you have any suggestion.

[2016-08-06 20:01] odiea commented on #786
Your doing a great job. Thanks. You can only work with what you got.

[2016-08-06 20:15] aelhofy commented on #756
Hello

Thanks for the merge , I notice some mismatching between translation and string keys due to the merge, I will review all files and update

On August 6, 2016 12:42:47 PM GMT+03:00, FrancescoUK <notifications@github.com> wrote:

--
Best Regards

Ahmed

[2016-08-07 10:07] aelhofy commented on #756
Hello

Attached Arabic translation fixed and verfied, five files where having mismating between strings id and translations

[translations.zip](https://github.com/jekkos/opensourcepos/files/405433/translations.zip)

[2016-08-07 10:45] daN4cat commented on #756
Ok, I'll update them this eve. Thanks

[2016-08-07 16:12] daN4cat commented on #756
OK, updated the translations. I believe this can now be closed.

[2016-08-07 16:12] #756 closed

[2016-08-07 16:28] #786 closed

[2016-08-07 17:52] ferryfernandez opened #787 "How do I limit employee can only add customer ?"
How do I limit employee can only add customer, not able to update, delete and search?

[2016-08-07 18:02] daN4cat commented on #787
You skipped the template. I close this issue.

[2016-08-07 18:02] #787 closed

[2016-08-08 03:43] aelhofy opened #788 "Item update form did not recognize Arabic numbers script as Numbers"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [x] Reporting an issue of

[2016-08-08 03:49] aelhofy commented on #731
Bootswatch template is now 3.3.7, kindly check the below link

https://bootswatch.com/flatly/bootstrap.css

Arabic is OK now

[2016-08-08 06:23] daN4cat commented on #731
Thanks I knew already. What we use to upgrade OSPOS dependencies is stuck to bootswatch 3.3.6 that's why I created an issue but no feedback yet in bootswatch-dist.

[2016-08-08 06:42] jekkos commented on #788
Just did a quick test and indeed, when setting the ar_EG locale javascript validation fails on the number format

[2016-08-08 07:18] daN4cat commented on #788
@jekkos can you solve it easily and test it or is it a difficult one?

[2016-08-08 08:05] jekkos commented on #788
It will be a matter of adapting the jquery validation rule to pass for arabic characters.. will try to solve that later today.

[2016-08-08 08:35] daN4cat commented on #359
I was doing exactly the same and I added another plugin to check the license validity as additional step.
I guess the next one is to read the license/LICENSES from the store config, but as an additional step not replacing everything. Probably I need to move to json file format the other files. I'll look into that this eve.

[2016-08-08 08:38] daN4cat commented on #599
I believe we can close this one.

Support is added and it's what comes with CI, so far everything seems to be working fine.

[2016-08-08 08:38] #599 closed

[2016-08-08 08:40] daN4cat commented on #39
I close this one unless somebody can find the time to do a full test, some manual test showed to be effective.

[2016-08-08 08:40] #39 closed

[2016-08-08 08:40] daN4cat commented on #598
I would close this one as some test is done and we can always find better ways to test or other people to help with this.

[2016-08-08 08:40] #598 closed

[2016-08-08 08:41] daN4cat commented on #597
All children items are close, therefore I close this one too.

[2016-08-08 08:41] #597 closed

[2016-08-08 15:44] daN4cat commented on #359
Licenses read from the grunt generated file.
However the grunt bower-license script is not that much robust, not sure for instance why the version is not read correctly.
Anyway this is the best we can do at the moment.

[2016-08-09 10:05] jekkos commented on #788
I'll solve this by doing numeric validation on the server side using numberformatter (as for arabic some special characters are used instead of digits). This was the primary reason to include php-intl.. it should support parsing and validation of those exotic locales out of the box.

Only disadvantage is that the validation is a little slower in the items forms as there are four extra ajax calls d

[2016-08-09 10:15] aelhofy commented on #788
Could it help if we convert the input to text and take out the special characters (is it thousands seprator and decimal point?) and then convert it again to number and validate at client side

[2016-08-09 11:40] jekkos commented on #788
I think I have a solution ready, I might push to a separate branch for you to test first.

[2016-08-09 13:29] debrajn opened #789 "Can you please remove "bower_components" from gitignore?"
Hi,

Can you please remove "bower_components" from gitignore? So, that I can debug the site and try to get better solution.

Thanks
Deb

[2016-08-09 13:32] odiea commented on #789
You did not fill out the template so I will close this issue.

[2016-08-09 13:32] #789 closed

[2016-08-09 13:51] daN4cat commented on #789
In any case we don't commit bower_components to our master, so it stays in gitignore

[2016-08-09 14:09] jekkos commented on #789
You can use the docker container to load up the dependencies, check the wiki section and development setup for that.

[2016-08-09 14:09] jekkos commented on #789
And indeed it doesn't make sense for us to commit all the source to this repo

[2016-08-09 14:52] paulofrf opened #790 "How to created Detailed Reports filter by Customers Company"
How to Create a Detailed Reports filter by Customer Company
Best Regard

[2016-08-09 15:16] daN4cat commented on #790
What's the issue template saying? I'm afraid I'm forced to close this.

[2016-08-09 15:16] #790 closed

[2016-08-09 17:21] daN4cat commented on #359
@jekkos I noticed you forked `grunt-license-bower` but I checked a bit and the problem is `bower-license` that is used by the other the grunt plugin.

It looks like the version is not read from package.json and in other cases it just looks for the LICENSE file where it should check more options/variants (e.g. LICENSE.md should be acceptable).

[2016-08-09 17:25] daN4cat commented on #409
Maybe we should solve this too given the fact that bootswatch-dist is lagging versions behind.
Maybe we should fetch all the bootswatch themes and switch between min.css selecting the theme from the config file and adding the param as dir selector in the header.php

[2016-08-09 17:26] daN4cat commented on #731
Maybe we should sort out #409 too to get the latest bootswatch and allow multiple theme support.

[2016-08-09 18:28] jekkos commented on #359
yes indeed, I meant to go through that codebase to see why it isn't parsing the version fields properly. I already did a dependency upgrade (as bower-license npm package was quite outdated) hoping that it would improve this behavior already. Will test further on my local setup first.

I did check some of the bower.json files that are installed by bower install and not all of them seem to have a ve

[2016-08-09 18:33] jekkos commented on #731
Yes I guess that's a necessary one to get theming working. I need to have a look at how the packaging is done exactly so we can download all those themes and collect them in one parent folder all together. I already had a quick look at the bootswatch-dist project today to see how we can upgrade to newer versions ourselves (might fork that one later on as well).

[2016-08-09 18:38] daN4cat commented on #359
Yep, would be nice to get that more robust and contribute back.

[2016-08-09 18:39] daN4cat commented on #731
I had something in mind, I'll try it later or tomorrow and see if it works with no big issues.

[2016-08-10 00:29] MexasPT opened #791 "[Question] Date and Time"
Hi,
I need to know how to add time in reports . Currently the reports show only the date and needed some help to change the current code.
Example : Date + Time = 11/11/2016 20:30

Thanks

![date_time](https://cloud.githubusercontent.com/assets/17734465/17538044/b5ef0bce-5e99-11e6-9109-afd963325717.png)

[2016-08-10 02:00] odiea commented on #791
You did not fill out the template so I will close this issue.

[2016-08-10 02:00] #791 closed

[2016-08-10 04:46] debrajn commented on #789
Thank you Jekkos for your support. My requirement was just to work with without minified js and css. "bower_components" contains all the js and css where we can view the source code. Anyway if it's not possible to provide then not an issue I will manage.

Thank you

[2016-08-10 04:55] daN4cat commented on #789
Install npm, grunt and bower and you get all those components on your pc.

[2016-08-10 07:07] jekkos commented on #359
I have regenerated the license file after changing the search order for bower.json in bower-json node module. This time most of the version fields are filled in and some missing license types are also resolved.

WIll need to think about an easy way to extend this behavior in the current plugin setup ( bower-license is using bower-json to parse the metadata .. I guess it'd be best to change as litt

[2016-08-10 08:27] MexasPT opened #792 "[Question] Date and time"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:
- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [ ] Reporting an issue of a

[2016-08-10 10:06] daN4cat commented on #409
Made the bootswatch theme support better with all the themes now available and configurable from config.php.
Removed the bootswatch-dist dependency so we now have 3.3.7 themes available.

I moved all the used css to dist, so we don't need to include js and css dir in the distribution.
Not sure we should move fonts to dist or not, but the bootstrap fonts are in dist at least to avoid issues.

style

[2016-08-10 11:05] odiea commented on #409
Needs a lot more work. The pull looked bad so does the download. It appears something is not working.
![2016-08-10 05_03_40-new notification](https://cloud.githubusercontent.com/assets/10962177/17551545/07040334-5eb8-11e6-8837-037af6920aea.png)

[2016-08-10 11:06] odiea commented on #409
Another one for the test branch.

[2016-08-10 11:12] odiea commented on #409
Ad as you would say.
It would be nice to have it as feature that can be enabled/disabled from Store Config

[2016-08-10 11:41] jekkos commented on #409
@daN4cat thanks for this addition, think it's great to have theming in ospos

@odiea yes needs a small dropdown in the config section (that might just read available theme folders in dist/ to make them user selectable).

[2016-08-10 12:01] daN4cat commented on #409
At the moment is selecting from config.php. I had no more time for the rest, maybe next days but it works fine as I tested.

@odiea it needs adjustment to your installation, yes.

[2016-08-10 12:04] onyema3 commented on #409
@daN4cat i think its need more work as it doesn't display well
This is from the latest masters

On Wed, Aug 10, 2016 at 1:01 PM, FrancescoUK <notifications@github.com>
wrote:

[2016-08-10 12:19] odiea commented on #409
The only adjustment it needs on my end is to revert this commit.

[2016-08-10 12:23] onyema3 commented on #409
Same here

On Wed, Aug 10, 2016 at 1:19 PM, odiea <notifications@github.com> wrote:

[2016-08-10 12:25] odiea commented on #409
I have 2 installations. The one I play with and the Master that never gets changed except when I do a pull. I always check the later first to see what issues will show.

[2016-08-10 12:44] odiea commented on #409
[code]

[2016-08-10 13:01] odiea commented on #409
@daN4cat Once this is working it will be a great addition to OSPOS.

[2016-08-10 13:09] daN4cat commented on #409
Have you upgraded `config/config.php`?

You should see this in the new one at the top:

/*
 |--------------------------------------------------------------------------
 | Theme
 |--------------------------------------------------------------------------
 |
 | This specifies which theme will be used by OSPOS
 |
 |
 */
 $config['theme'] = 'flatly';

[2016-08-10 13:11] odiea commented on #409
This is a new installation and a pull.

[2016-08-10 13:12] odiea commented on #409
| This is the version of Open Source Point of Sale you're running
|
|
*/
$config['application_version'] = '3.0.0';

/*
|--------------------------------------------------------------------------
| Theme
|--------------------------------------------------------------------------
|
| This specifies which bootwatch theme will be used by OSPOS
| Available are: cerulean, cosmo, cyborg, darkly, flatly,

[2016-08-10 13:12] daN4cat commented on #409
Are you talking about the login issue or about the rest?
I'm referring to the initial issues

[2016-08-10 13:13] odiea commented on #409
Both.

[2016-08-10 13:15] daN4cat commented on #409
And you have all the files in dist/

[2016-08-10 13:28] odiea commented on #409
As I said earlier. When I change this second link to any theme it works.
The first link is not working for some reason.
[code]

[2016-08-10 14:00] odiea commented on #409
This is what I am getting with the inspector. The one with the not found is the one that came with the update. The second one is the one I added to get this to work.
![2016-08-10 07_57_03-](https://cloud.githubusercontent.com/assets/10962177/17556310/28ef6462-5ed0-11e6-85c6-071b0444720b.png)

[2016-08-10 14:32] arteiro commented on #409
me or flatly is working

[2016-08-10 15:17] jekkos commented on #409
Ok think I solved the login page css issue.

[2016-08-10 15:24] onyema3 commented on #409
@jekkos welldone! All working now and themes coming up well too!

On Wed, Aug 10, 2016 at 4:17 PM, jekkos <notifications@github.com> wrote:

[2016-08-10 15:26] arteiro commented on #409
OK!

[2016-08-10 15:26] daN4cat commented on #409
Yep, the double " issue was not popping up as a problem in Chrome. It should be fine now.

Selection from Store Config as next step.

[2016-08-10 15:29] arteiro commented on #409
Instead of putting the settings could be on the login page?

[2016-08-10 15:29] onyema3 commented on #409
@daN4cat Yes and thumbs up for this new addition

On Wed, Aug 10, 2016 at 4:26 PM, FrancescoUK <notifications@github.com>
wrote:

[2016-08-10 15:31] daN4cat commented on #409
I prefer to have the login page simple because it's the one anyone in the internet would see first. The less you expose the less to secure.

[2016-08-10 15:33] onyema3 commented on #409
I agree

On Aug 10, 2016 4:31 PM, "FrancescoUK" <notifications@github.com> wrote:

[2016-08-10 15:34] arteiro commented on #409
ok, i agree

[2016-08-10 15:37] jekkos commented on #409
I have a little time on my hands now will try to add the dropdown in config section

[2016-08-10 15:39] onyema3 commented on #409
That would be great!

On Aug 10, 2016 4:37 PM, "jekkos" <notifications@github.com> wrote:

[2016-08-10 16:05] daN4cat commented on #409
One think I didn't test now that comes to my mind, could you please test the invoice email?

[2016-08-10 16:07] daN4cat commented on #409
@jekkos not sure but maybe all fonts dir should be moved to dist/fonts as it's used by css files there. However if we do invoice_email.css needs an update

[2016-08-10 16:59] dxchen90 opened #793 "module locking"
Hi,

Anyone know how to lock the reporting without effect the change of takings on sales?
for example, i am assigning someone to key in the sales daily, but i don't want to let them access for my sales report, But allowing them to change the date of sales entry because some sales are from yesterday night.

Thank you

[2016-08-10 17:00] jekkos commented on #788
Can someone that preferably undestands arabic confrim that the validation is working now?

[2016-08-10 17:03] jekkos commented on #409
Theming now fully works on my local machine with the dropdown in config module. Please pick your flavors!

@daN4cat I moved fonts to dist/bootswatch/fonts now. I collected all themes in one subfolder as this was easier to iterate the names for the dropdown.

I have also added a fallback if the config value is not yet in the app_config table, by default flatly will be chosen.

[2016-08-10 17:05] aelhofy commented on #788
Hello as a someone

Just now tested it and it seems working

Thanks

[2016-08-10 17:06] jekkos commented on #359
One very last thing I might want to add is the #624 composer setup. Should be pretty easy to do and composer also includes some functionality to assemble the licenses of used dependencies.

Should be just a matter of entering a couple of commands to generate the composer.json for CI (and enabling an autoload option in config.php)

[2016-08-10 17:07] jekkos commented on #731
See my  last comment in #359 .. think we're getting close to finish line now.

[2016-08-10 17:41] onyema3 commented on #409
GREAT!

On Wed, Aug 10, 2016 at 6:03 PM, jekkos <notifications@github.com> wrote:

[2016-08-10 18:06] aelhofy opened #794 "Enhanced Translation for some Arabic strings in sales and items"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [X] Checked the current issues database and no similar issue was already discussed
- [X] Read the README, WHATS_NEW and UPGRADE
- [X] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [ ] Reporting an issue of

[2016-08-10 18:19] daN4cat commented on #409
Looks good, thanks

[2016-08-10 18:21] arteiro opened #795 "Translation Portuguese in Brazil"
Translation of the latest inserts on August 10 - Portuguese in Brazil
[translations.zip](https://github.com/jekkos/opensourcepos/files/411812/translations.zip)

[2016-08-10 18:22] #793 closed

[2016-08-10 18:22] daN4cat commented on #793
Please use the issue template

[2016-08-10 18:42] jekkos commented on #616
Docker cloud deploy works nicely now with latest version. There was an issue with the deploy to cloud button on the platform but that has been fixed now.

Pretty cool to see that one can deploy an ospos now within just one minute (and without donig any terminal work or the like). Just create two accounts, create a node and click the deploy button

[2016-08-10 18:53] arteiro opened #796 "Register mode"
Sales register as no longer options?

[2016-08-10 19:10] arteiro opened #797 "Error em receivings"
Um erro no Banco de Dados aconteceu

Error Number: 1054

Unknown column 'reference' in 'field list'

INSERT INTO `ospos_receivings` (`supplier_id`, `employee_id`, `payment_type`, `comment`, `reference`) VALUES ('3', '1', 'Dinheiro', 'te', '')

Filename: C:/www/OSPOS/system/database/DB_driver.php

Line Number: 691

[2016-08-10 20:07] daN4cat commented on #797
Run the database script update 2.4 to 3.0

[2016-08-10 20:08] #797 closed

[2016-08-10 20:08] daN4cat commented on #796
Have you run any database update script?

[2016-08-10 20:17] odiea commented on #409
@jekkos  Could you check the current Master Partial/Header . It appears the head is 3 times the size of what we currently have.

[2016-08-10 20:29] daN4cat commented on #796
Also please read the FAQ as you might have an issue due to the php int library

[2016-08-10 20:38] odiea commented on #409
@daN4cat @jekkos  You two have done a great job on this. Thanks.

[2016-08-10 20:39] #796 closed

[2016-08-10 20:40] jekkos commented on #409
![schermafdruk van 2016-08-10 22-38-43](https://cloud.githubusercontent.com/assets/576234/17570147/7e15b970-5f4b-11e6-9fed-6120902c5524.png)

[2016-08-10 20:41] jekkos commented on #409
size looks quite normal both in chrome (a little smaller)) and FF

[2016-08-10 20:51] odiea commented on #409
I guess I did not make myself clear. When you open the program and go to application/views/partial/header.php that head is much larger than the previous head was. This is a shot of the previous head info.
![2016-08-10 14_49_10-c__xampp_htdocs_shit_application_views_partial_header php - notepad](https://cloud.githubusercontent.com/assets/10962177/17570470/c20f614a-5f09-11e6-89df-7a5d62799dda.png)
N

[2016-08-10 21:02] odiea commented on #409
It also appears that none of the filters are working. Items filter does nothing but Date is working. In Takings it is doing the same thing. Try to change the filter and the only thing that happens is the table refreshes.

[2016-08-10 21:09] daN4cat commented on #409
It's bigger because the header_debug has been exploded back in the section. There is no reason to have it since we don't duplicate the headers anymore.

[2016-08-10 21:11] daN4cat commented on #409
Filter point to be checked.

[2016-08-10 21:50] jekkos commented on #409
@odiea ok I also notice now that the dropdown's content is not showing up (instead the page is immediately refreshed). This issue was present before but only in debug mode (I already had a look at it but couldn't find why it didn't work)

[2016-08-10 21:52] odiea commented on #409
There are also issues now with the tables and not being able to export or not remove a checkmark in the table.

[2016-08-11 00:31] odiea commented on #796
Yes we discovered that most filters and drop downs or table filters were effected with this last update.

[2016-08-11 03:33] daN4cat commented on #409
It's a js clash issue most likely

[2016-08-11 06:04] jekkos commented on #409
I did think that we used a js file from bootswatch in 3.3.6 which isn't there anymore. This one was copied through the main override. Not sure whether this was the original bootstrap.js or a custom one. Also the load order might be important here

[2016-08-11 06:26] jekkos commented on #409
I found that now it works the other way around, filters ok in debug mode but not in the compressed js

[2016-08-11 06:28] jekkos commented on #409
I think the problem was that the old bootstrap.js file was left in my bower_components folder. I have deleted it now an regenerated the js. Seems to work ok now

[2016-08-11 06:59] daN4cat commented on #409
Yes, that was the problem for sure.

[2016-08-11 08:33] daN4cat commented on #409
Tested and works fine now.

[2016-08-11 08:37] daN4cat commented on #624
@jekkos bear in mind that the system language needs to be renamed from english to en. That step needs to be added everytime CI is upgraded.

[2016-08-11 08:38] daN4cat commented on #796
This is now solved.

[2016-08-11 08:40] daN4cat commented on #359
LICENSES file is better now, however we would really need to get the bower plugin to work properly.

[2016-08-11 08:44] daN4cat commented on #794
Translation updated and in master now.
However you should add a translation to the last line of config_lang.php because of the Theme selection addition.

Please add that file here once done so I can update and close.

[2016-08-11 08:44] daN4cat commented on #795
Translation updated and in master now.
However you should add a translation to the last line of config_lang.php because of the Theme selection addition.

Please add that file here once done so I can update and close.

[2016-08-11 08:51] daN4cat commented on #743
@Modding can you please check the config_lang.php last line and translate Theme in German. You can also just copy the translation here and I can add it to the file.

[2016-08-11 08:52] daN4cat commented on #691
@likozhang any chance you contribute the translations in Indonesian back? Take the last master please.

[2016-08-11 08:54] daN4cat commented on #460
@JoeSoftDJ have you managed to update your translations? Please check the latest master for a couple of additions.

[2016-08-11 08:55] daN4cat commented on #438
@joesalty any feedback with regards to Hungarian translations?

[2016-08-11 09:02] daN4cat commented on #359
@jekkos there is a problem with the trigger, if I do bower update I get an error stating that it cannot run `grunt genlicense`

[2016-08-11 09:14] jekkos commented on #359
think you'll need to run npm install again first? I added a new grunt plugin to make the bower license generation work with the versions filled in

[2016-08-11 09:32] daN4cat commented on #359
Yes, I noticed that and I just installed the extra grunt plugin.

[2016-08-11 09:43] Modding commented on #743
$lang["config_theme"] = "Aussehen";

[2016-08-11 09:49] aelhofy commented on #794
Updated Config_Lang attached

On Thu, Aug 11, 2016 at 11:44 AM, FrancescoUK <notifications@github.com>
wrote:

--

مع خالص التحية والأحترام،،،
____________________________

[2016-08-11 09:53] aelhofy commented on #794
Updated config_lang attached
[config_lang.zip](https://github.com/jekkos/opensourcepos/files/412917/config_lang.zip)

[2016-08-11 10:04] #795 closed

[2016-08-11 10:18] aelhofy opened #798 "Right to Left Direction for Arabic"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [ ] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [ ] Reporting an issue of

[2016-08-11 10:18] #788 closed

[2016-08-11 10:39] daN4cat commented on #359
I had now time to run bower update again but despite having installed `grunt-contrib-clean` it still doesn't work and fails in the same way is says `Tasks "[object Object]"` not found.

[2016-08-11 10:55] daN4cat commented on #798
@aelhofy I have a suggestion: what if you do this change and contribute it to the project?

[2016-08-11 11:56] Modding commented on #743
I think in this context it would be more suitible:

$lang["config_theme"] = "Design";

[2016-08-11 12:00] daN4cat commented on #743
OK

[2016-08-11 12:26] daN4cat commented on #794
This is done and I close.

[2016-08-11 12:26] #794 closed

[2016-08-11 12:32] aelhofy commented on #798
I wish if I could, this needs some expertise which I don't have

[2016-08-11 14:57] daN4cat commented on #359
Fixed the issue I had with bower update.

[2016-08-11 16:03] meetmec12 opened #800 "add customied filter (eg empolyee, product name) on detailed report"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [ ] Checked the current issues database and no similar issue was already discussed
- [ ] Read the README, WHATS_NEW and UPGRADE
- [ ] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [ ] Reporting an issue of

[2016-08-11 16:09] RamkrishnaMondal commented on #731
@jekkos @daN4cat

I have modified the 'login.php' and 'login.css' files to get a cleaner look like below , if you wish you can cherry pick and add these files to upstream. A link to the COPYING file also added...so that, one can read the 'Copyright Notice' even before loging into the OSPOS.

![screenshot from 2016-08-11 19 35 45](https://cloud.githubusercontent.com/assets/14151032/17595519/02a6396

[2016-08-11 16:14] meetmec12 commented on #800
I which to add more filters to the detailed report .  eg I want to knw the total sales made by an employee  I also want to knw the total count on each product

[2016-08-11 16:31] daN4cat commented on #409
This is done, so I can close.

[2016-08-11 16:31] #409 closed

[2016-08-11 16:32] daN4cat commented on #359
We can close this issue.

[2016-08-11 16:32] #359 closed

[2016-08-11 17:36] daN4cat commented on #731
Thanks for the suggestion. I have implemented the part with the different input types.
The rest of the style I prefer to stay as per original and the copyright statement & link doesn't work is you use the .htaccess we added as it will block the direct reading of it.

[2016-08-11 18:42] RamkrishnaMondal commented on #731
Well, we can take a screenshot of the COPYING file , place it to 'images' folder and link it to login page.

[2016-08-11 19:20] RamkrishnaMondal opened #801 "Most of the functions / tabs under 'Config Module' are not working/"
![screenshot from 2016-08-12 00 46 15](https://cloud.githubusercontent.com/assets/14151032/17601612/9f9844ce-6026-11e6-9b46-538753ed1272.png)

[2016-08-11 19:22] RamkrishnaMondal commented on #801
Sales and Receiving modules are also showing error...
![screenshot from 2016-08-12 00 51 16](https://cloud.githubusercontent.com/assets/14151032/17601687/01768444-6027-11e6-9ce5-26275862bb66.png)
![screenshot from 2016-08-12 00 51 31](https://cloud.githubusercontent.com/assets/14151032/17601691/056773e2-6027-11e6-89da-937279513bae.png)

[2016-08-11 19:25] onyema3 commented on #801
php intl extension not installed

On Thu, Aug 11, 2016 at 8:22 PM, RamkrishnaMondal <notifications@github.com>
wrote:

[2016-08-11 19:33] RamkrishnaMondal commented on #801
Yea..... that was the problem... thanks.

[2016-08-11 19:33] #801 closed

[2016-08-11 20:43] jekkos commented on #624
You're right I'm currently facing this issue.

[2016-08-12 02:35] aelhofy opened #802 "How to get bower components for local install"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [x] Reporting an issue of

[2016-08-12 07:07] jowinlee opened #803 "Cash Drawer"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [x] Reporting an issue of

[2016-08-12 07:53] daN4cat commented on #802
https://github.com/jekkos/opensourcepos/wiki/Development-setup

[2016-08-12 08:00] daN4cat commented on #803
@jowinlee and the question or issue is?

[2016-08-12 08:14] jowinlee commented on #803
Is it possible to add a function for auto open cash drawer after a sale?

[2016-08-12 08:16] jowinlee commented on #803
Btw, Im sorry, I've failed to mention it

[2016-08-12 08:25] daN4cat commented on #803
Usually the cash drawer pulse cable is connected to the receipt printer.
It's under the control of the printer, so the printer driver not OSPOS can configure the opening of the cash drawer.

[2016-08-12 09:18] #802 closed

[2016-08-12 10:03] jekkos commented on #624
I have updated my grunt-script-link tags fork to use a ignorePath property instead of absolutePath (as seen in wiredep plugni). After pushing that change I realised that current package.json depends on the master HEAD so when updating npm the build might break.

I'll add the commit hash to the package.json to keep the old plugin version for now until I migrate to the newer version (or merge the co

[2016-08-12 13:01] daN4cat commented on #624
@jekkos your change is now causing a problem with the paths, for instance if I run grunt I get in login.php:

`<link rel="stylesheet" type="text/css" href="../../dist/login.css"/>`

instead of:

`<link rel="stylesheet" type="text/css" href="dist/login.css"/>`

[2016-08-12 13:22] jekkos commented on #624
OK that what I wanted to warn for.. doni't update npm modules (yet). The fix would be to change the #master of the plugin to a fixed commit number that has the absolutePath option change. Try to change #master with  #c87d3e1dc8c2acf46e9b0712edc5ee7dc341eba1 or a shorter version of this hash and rebuild?

[2016-08-12 13:23] jekkos commented on #624
Sorry about that I realised that after I pushed to master.. think it isn't really such a good idea anyway to keep updating for the latest (or maybe I shouldn't add any backward incompatible changes as I did now)

[2016-08-12 18:28] aelhofy commented on #794
Few Enhancements to the Arabic translation
[translations.zip](https://github.com/jekkos/opensourcepos/files/415961/translations.zip)

[2016-08-12 20:43] aelhofy opened #804 "Customer name is not appearing on Receipt and Invoice"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [x] Reporting an issue of

[2016-08-12 20:53] daN4cat commented on #794
Done

[2016-08-12 20:57] odiea commented on #804
Have you altered your Receipt or Invoice or made other alterations to the program? Here is what the English version looks like. No issues here. The names appear properly.
![2016-08-12 14_52_36-action center](https://cloud.githubusercontent.com/assets/10962177/17636842/0c0c314e-609d-11e6-969d-0a2198711ee5.png)
![2016-08-12 14_54_09-program manager](https://cloud.githubusercontent.com/assets/1096217

[2016-08-12 21:12] odiea commented on #804
If you changed the receipt_default you should go back and make sure the following is there and properly changed.
if(isset($customer))
		{
		?>
			<div id="customer"><?php echo $this->lang->line('customers_customer').": ".$customer; ?></div>
		<?php
		}
		?>
[code]

[2016-08-13 00:11] odiea opened #805 "Is there a way to limit nominatim.init suggestions."
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [x] Reporting an issue of

[2016-08-13 00:37] odiea commented on #805
![2016-08-12 18_35_16-greenshot](https://cloud.githubusercontent.com/assets/10962177/17640383/b7fd2fb2-60bb-11e6-98eb-012ffec46063.png)

[2016-08-13 00:37] aelhofy commented on #804
I did not change any thing

This un-modified installation except that the theme direction is from right to left

[2016-08-13 01:42] odiea commented on #804
From what I can see in this image is the appearance of the customer name with the : in front of it instead of behind it like the rest of the image shows. I would open receipt_default and make sure it is still there.
![2016-08-12 19_38_34-microsoft edge](https://cloud.githubusercontent.com/assets/10962177/17640754/6910b686-60c4-11e6-8939-e6531e4d8b3e.png)

[2016-08-13 02:48] aelhofy commented on #804
I checked without  theme converted to right to left and same result customer is not appearing, no code changes.
Now using:
OSPOS 3.0.0 - 84033699675e

[2016-08-13 04:16] daN4cat commented on #804
What is the customer name?

[2016-08-13 04:55] aelhofy commented on #804
Bob

[2016-08-13 05:00] daN4cat commented on #804
Just first name? It's important to know to simulate the same test case.

I assume English is the selected language.

[2016-08-13 05:02] aelhofy commented on #804
it is the default customer, arabic is selected, however it is the case even with english selected

[2016-08-13 05:05] aelhofy commented on #804
I tried with name written in Arabic and language is Arabic it is OK

[2016-08-13 05:51] daN4cat commented on #804
So it's some sort of combination that doesn't work. I'll try later standard installation and English but @odiea already said it's fine. So you need to tell us which combination is not fine.

[2016-08-13 08:18] jekkos commented on #805
I guess that's because sometimes information is filtered out, which results in duplicate locations. Maybe an extra step should be added in the end do remove those duplicates.

Also did you configure a country code as search results seem to contain addresses in both germany and usa?

[2016-08-13 08:20] jekkos commented on #804
Maybe it's the right to left that breaks css for the customer field?

[2016-08-13 08:34] daN4cat commented on #804
I tested and I can see the customer name, so must be something peculiar with @aelhofy "alchemy".

I wouldn't treat this as a bug because the standard code works fine.

[2016-08-13 10:18] naxyr opened #806 "include retail price with tax to barcode"
How can i include retail price with tax to barcode labels can any one help me to do this.

[2016-08-13 11:06] odiea commented on #805
I did not enter a country code with this setup so changing that to us did lower the results.
![2016-08-13 05_04_28-greenshot](https://cloud.githubusercontent.com/assets/10962177/17642849/9e72d1b6-6113-11e6-97f6-455211f3773f.png)

[2016-08-13 11:17] daN4cat commented on #805
I didn't know that you had Tom Jones as customer, @odiea . Does he sing "It's Not Unusual" when he comes to your shop :-)

[2016-08-13 11:20] odiea commented on #805
That and more when tony bennet shows to do his thing. Sometimes it tough coming up with a test name.

[2016-08-13 11:28] jekkos commented on #624
Think I got most of this working. The setup is more secure in terms of setup as only index.php and static files are server now on apache using a new  public/ directory in the project root. This simplified .htaccess configuration as all other files in root dir will be inaccessible. Of course this does mean that the setup procedure which I will need to describe in detail.

But I'm facing one more is

[2016-08-13 12:12] aelhofy commented on #804
I tested with every thing English and actually the name is not appearing on sales on the first place so it is not printed

![screenshot from 2016-08-13 15 09 10](https://cloud.githubusercontent.com/assets/3656317/17643110/5727b81c-6168-11e6-90a4-c59f55f4e0bc.png)

[2016-08-13 12:21] daN4cat commented on #804
Yes, but still with a reversed UI.

[2016-08-13 12:22] aelhofy commented on #804
I added one more customer, written in English and every thing is fine , the problem is with the customer I imported only , I hope there is no problem with import

[2016-08-13 12:38] daN4cat commented on #804
This looks like being an issue with your installation. It might be that the first char in the name is a \n so you don't see the name.

[2016-08-13 12:38] #804 closed

[2016-08-13 12:39] daN4cat commented on #624
I'm not sure about this change, but please keep it in a branch for the time being. I thought it was not so disruptive like changing all the project layout.

[2016-08-13 14:03] odiea opened #807 "Composer version First look"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [ ] Checked the current issues database and no similar issue was already discussed
- [ ] Read the README, WHATS_NEW and UPGRADE
- [ ] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [ ] Reporting an issue of

[2016-08-14 07:20] freemail624 commented on #739
I also has the same problem
scan the first item is ok ,but scan the second item it give me this error "The action you have requested is not allowed."
but manually adding item no problem
this only happen when using barcode scanner with firefox but in google chrome work good without error
i test this with the last Version 3.0.0 - 84033699675e.

[2016-08-14 08:18] daN4cat commented on #739
@freemail624 so this happens on a second scan using FF.

@jekkos are you able to reproduce this?

[2016-08-14 08:19] daN4cat commented on #739
@freemail624 we might need more help from you in case we need to debug the issue.

[2016-08-14 08:23] daN4cat commented on #403
I reopen this because it could be a future improvement:

- add a suspended for receivings
- add two different means to store data for cart and reprinting of receipts/invoices (current work around is manual push in suspended and pop from suspended

[2016-08-14 09:26] jekkos commented on #739
I haven't been able to reproduce it (no scanner available here) but might want to give it a try once I have.

[2016-08-14 10:01] jekkos commented on #807
Ok in this case the project root shouldn't be served by apache no more, but it might indeed be better to keep the .htaccess in case someone installs it wrongly.

I have rebased now with latest master and adapted the Dockerfile to include php socket extension, last thing to do is the language loading fix.

[2016-08-14 10:02] jekkos commented on #807
It's the public directory's content that should be mapped into public_html.. the other project files can stay underneath it (thus making them inaccessible by the browser)

[2016-08-14 10:17] daN4cat commented on #807
So in a subdomain case we need to point to public

[2016-08-14 10:20] daN4cat commented on #739
Yes, this needs to be solved before the final release because it's the second report.

[2016-08-14 10:23] odiea commented on #807
Now receiving this after public login.
![2016-08-14 04_22_01-photos](https://cloud.githubusercontent.com/assets/10962177/17648545/c94452c0-61d6-11e6-8b4c-99f649567c75.png)

[2016-08-14 10:30] daN4cat commented on #807
@odiea in the config `--enable-sockets`

[2016-08-14 10:33] daN4cat commented on #624
Not sure but is the file COPYING read from the License tab?

[2016-08-14 11:35] odiea commented on #807
@daN4cat  Sorry I think you need to be  more specific where this --enable-sockets is. I don't see it anywhere in ospos.

[2016-08-14 11:57] daN4cat commented on #807
@odiea I meant in your PHP.

[2016-08-14 12:07] odiea commented on #807
Found it. More hoops to jump through. The average used would not like this OOBE.

[2016-08-14 12:09] daN4cat commented on #807
@odiea could you please write an hello email to francesco(dot)lodolo(dot)uk(at)gmail(dot)com? I'll explain over there why I'm asking this to you.

[2016-08-14 12:38] odiea commented on #807
Done.

[2016-08-14 13:36] freemail624 commented on #739
after scan the first item
![after scan the first item](https://cloud.githubusercontent.com/assets/6794450/17649392/280d84a0-623d-11e6-924c-a90f8fd87d91.jpg)
after scan the second item
![after scan the second item](https://cloud.githubusercontent.com/assets/6794450/17649394/3a2d726c-623d-11e6-92af-da99de80211b.jpg)

[2016-08-14 15:49] daN4cat commented on #739
@freemail624 btw are you using the latest content from dist dir?

[2016-08-14 15:59] freemail624 commented on #739
Yes I downloaded a fresh copy today and test it then I put my comment here in this issue

[2016-08-14 16:43] daN4cat commented on #739
Unusual, the error at the top in the red bar says that style.css is not in dist, but actually it is. That's why I was asking my question.

[2016-08-14 17:55] odiea commented on #807
I just did a pull today and that finally showed in all versions.

[2016-08-14 19:18] daN4cat commented on #807
Sockets support will be required when integrating MailChimp and similar type functionalities in 3.1.

[2016-08-14 19:20] odiea commented on #807
Thanks for the heads up on this Sockets support.

[2016-08-14 20:04] odiea opened #808 "What are the benefits of changing from development to production?"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [x] Reporting an issue of

[2016-08-14 20:28] daN4cat commented on #808
The master version is production not development. The debug flag is off and the only means to enable on a view is adding ?debug=true .
Is there something that you noticed that makes you think differently?

[2016-08-14 20:33] odiea commented on #808
No in Index.php there is a way to change it. So I was just checking to see if there are any benefits for the user to do it.
[code]

[2016-08-14 20:36] daN4cat commented on #808
I will check better, but I don't think we have enabled development mode.

[2016-08-14 20:52] odiea commented on #808
To me it appears that it's only value is to suppress the display of errors.

[2016-08-15 06:15] aelhofy commented on #808
as per CodeIgniter

https://codeigniter.com/user_guide/installation/index.html

"One additional measure to take in production environments is to disable PHP error reporting and any other development-only functionality. In CodeIgniter, this can be done by setting the ENVIRONMENT constant, which is more fully described on the security page"

[2016-08-15 07:55] daN4cat commented on #808
Indeed, that's what I found but more in specific here: https://codeigniter.com/user_guide/general/environments.html

I would need to add to .htaccess the following:

[code]

after having tested it of course.

[2016-08-15 08:01] daN4cat commented on #808
Or alternatively I could change the define to be default production instead of development.

[2016-08-15 11:57] daN4cat commented on #808
SetEnv in .htaccess is problematic and depends on the LAMP setup.

I will change the index.php to be default production and not development if not CI_EVN is set.
That makes more sense here and master should contain production code and leave the development issues to developers.

BTW, good catch @odiea that is a security issue that I should have addressed during the security review a while back.

[2016-08-15 17:32] daN4cat commented on #808
Fixed and in master.

[2016-08-15 18:08] daN4cat commented on #807
I close this as it's a duplicate of #624

[2016-08-15 18:08] #807 closed

[2016-08-15 18:30] freemail624 commented on #739
In the config file I disabled csrf_protection
 $config['csrf_protection'] = False;
and test scan the barcode it works good
I enable it again then i added sales/add to csrf_exclude_uris
$config['csrf_exclude_uris'] = array('sales/add');
and it works also
These links helped me
[codeigniter-csrf-error-the-action-you-have-requested-is-not-allowed](http://stackoverflow.com/questions/21214612/codeignite

[2016-08-15 18:48] aelhofy opened #809 "when hit enter after updating invoice number every thing is flashed"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [x] Reporting an issue of

[2016-08-15 18:51] aelhofy opened #810 "Invoice Number to be latest one + 1"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:
- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [x] Reporting an issue of a

[2016-08-15 19:52] daN4cat commented on #739
@freemail624 you should not do that at all. The issue with the scanner needs to be solved not with workarounds compromising the security.

[2016-08-15 20:59] odiea commented on #809
Yes pressing enter after selecting create Invoice is giving issues. If you do not press enter and then press the complete button it works ok just use the auto generated one or enter a custom number and not press enter just use the complete sale button  it works just fine.

[2016-08-15 21:06] aelhofy commented on #809
The auto generated invoice number is the lasted used number and can not be used because it will be a duplicate and will give error.

The work around by not hiting enter is good temperarry solution till this has been fixed.

[2016-08-15 21:21] odiea commented on #809
I am not getting the auto generated Invoice issue you appear to have. The next sale goes back to that number and it works fine. If at any time you delete a sale that will cause the auto generated Invoice issue. Yes there is a problem if you press enter after selecting Create Invoice.

[2016-08-16 05:34] daN4cat commented on #809
That's another reason why a sale should not be deleted

[2016-08-16 07:16] aelhofy commented on #809
No sales is deleted

On August 16, 2016 8:34:44 AM GMT+03:00, FrancescoUK <notifications@github.com> wrote:

--
Best Regards

Ahmed

[2016-08-16 08:05] payudara opened #811 "Could not edit Store Configuration: Blank form"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [x] Reporting an issue of

[2016-08-16 08:20] jekkos commented on #811
I think you'll need to check phpinfo() to see whether this extension is really enabled. The error says it's not loaded.

You can enable the option when compiling but you still need to add the module to php.ini to enable it.

[2016-08-16 08:44] jekkos commented on #739
Yes disable csrf is a workaround but not a good fix. I'll need to get a hold of a scanner before I can test this issue properly (as I already tried to reproduce it to no avail)

[2016-08-16 11:11] daN4cat commented on #739
@Jekkos you should consider a local and non local setup as latencies might play a role.

[2016-08-16 12:06] odiea commented on #737
I added this to a new tab just for a quick check of the php being used. Is this enough to help diagnose php issues.
[code]
The result.
![2016-08-16 06_06_04-](https://cloud.githubusercontent.com/assets/10962177/17698293/8c66e424-6377-11e6-9679-e997012632e0.png)

[2016-08-17 05:56] payudara commented on #811
The issues have been solved after installing php5_intl.dll extension as requested via my hosting provider's support ticket. So shared intl was not the same as php5_intl.dll. I don't know why they said so in the beginning.

I hope this solution will help others. Cheers.

[2016-08-17 05:56] #811 closed

[2016-08-17 11:05] aelhofy commented on #810
I thing I made it , modification attached for your kind validation
[view-sales-form-modification.zip](https://github.com/jekkos/opensourcepos/files/422399/view-sales-form-modification.zip)

[2016-08-17 21:49] odiea commented on #810
I think what you need to do is using phpmyadmin check your database ospos_sales and check for missing Invoice numbers it's possible that with the changes you made some of them were deleted.

[2016-08-18 01:39] aelhofy commented on #810
As usual you assumed that I did some modifications.

I confirm it is not the case ; however I will check again

[2016-08-18 03:53] naxyr commented on #290
@odiea any update on barcode repeat function.

[2016-08-18 07:27] jekkos commented on #810
Modifications in the sense of a deleted sale?

[2016-08-18 07:28] jekkos commented on #624
I sorted language loading with composer in this latest commit. I did have to adapt the composer install script to make this happen as it didn't allow to install packages in the system folder. Actually I wanted to keep CI language files in there to avoid confusion with the user generated ones.

[2016-08-18 07:28] aelhofy commented on #810
Never done as I remember; any way I will check again
--
Thanks

Ahmed

On August 18, 2016 10:27:26 AM GMT+03:00, jekkos <notifications@github.com> wrote:

[2016-08-18 07:29] jekkos commented on #624
I might want to go for a PR to enable the system folder installation with the original composer installation repo.

[2016-08-18 07:30] jekkos commented on #624
Haven't checked the COPYING functionality there might be errors in there

[2016-08-18 08:02] daN4cat commented on #810
I never paid too much attention to this part because I don't use/need, but it looks like in my case you need to do a +2 jump to get it to work.
I'll see if I can find the time over the week-end to test it more.

[2016-08-18 08:11] daN4cat commented on #624
COPYING needs to stay in master root as READ.md.

What I will do is to add a grunt copy step to copy it to licenses and change the store config code to read it from there.
It makes sense in the end to have all the licenses in the same place,

[2016-08-18 10:36] odiea commented on #810
On my test unit What I did was use my oldest records and replace their blank Invoice numbers with the missing numbers and remember 0 is the first number.

[2016-08-18 14:18] odiea commented on #810
@aelhofy I am not accusing you of anything just this accident occasionally happens.

[2016-08-19 07:44] daN4cat commented on #808
I close this as I heard no complaints about the change. I'll add a note in the FAQ about how to re-enable the development mode.

[2016-08-19 07:44] #808 closed

[2016-08-19 07:50] daN4cat commented on #624
COPYING file sorted and copied with grunt bowercopy into license dir from master root.
Both needs to be in GitHub. In composer branch you would need to adjust the bowercopy path.

[2016-08-19 11:41] rajashani99 opened #812 "sale register did not add item by typing item name"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [x] Reporting an issue of

[2016-08-19 12:09] odiea commented on #812
Currently you have to use the suggested Item from the dropdown menu that matches the item you entered. Click on that item and it should appear in the Register.

[2016-08-19 13:29] aelhofy opened #813 "Sale register and Receving is not suggesting anything for items nor customrs [OSPOS 3.0.0 - 84033699675e]"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [x] Reporting an issue of

[2016-08-19 13:36] rajashani99 commented on #813
same problem is here :-(

[2016-08-19 13:39] odiea commented on #812
Please specify the language you are using to see if that is what is creating these errors.

[2016-08-19 14:09] cakirhal opened #814 "Creating Loans for Customers"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [ x] Checked the current issues database and no similar issue was already discussed
- [ x] Read the README, WHATS_NEW and UPGRADE
- [ x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [ x] Reporting an issue

[2016-08-19 14:15] jekkos commented on #814
Please refer to #24

[2016-08-19 14:15] #814 closed

[2016-08-19 14:16] jekkos commented on #812
Issue is duplicate of #812

[2016-08-19 14:20] odiea commented on #812
Are you also using the conversion mentioned in Issue #798

[2016-08-19 14:50] daN4cat commented on #813
Using the latest master works fine for me.

Are you using the latest code?

[2016-08-19 14:53] aelhofy commented on #813
Yes it is the latest code just 15 mine before submitting the issue

[2016-08-19 15:05] daN4cat commented on #813
It's working fine with Chrome, are you using FF?

[2016-08-19 15:07] aelhofy commented on #813
Yes for me FF on ubuntu

[2016-08-19 15:08] daN4cat commented on #813
Can you please try Chromium?

[2016-08-19 15:09] daN4cat commented on #813
It's a problem with Firefox.

[2016-08-19 15:21] aelhofy commented on #813
Chromium did not work for me

[2016-08-19 15:49] daN4cat commented on #813
Probably something wrong with yesterday's js plugin upgrade. I'll revert that and test it again.
It has nothing to do with the browser, cached js was puzzling things.

[2016-08-19 16:14] rajashani99 commented on #812
the problem is suggested Item from the drop down menu is not appearing even drop down box is not appearing

________________________________
From: odiea <notifications@github.com>
Sent: Friday, August 19, 2016 5:09 PM
To: jekkos/opensourcepos
Cc: rajashani99; Author
Subject: Re: [jekkos/opensourcepos] sale register did not add item by typing item name (#812)

Currently you have to use the suggeste

[2016-08-19 16:15] #812 closed

[2016-08-19 16:16] rajashani99 commented on #812
i am using English language

[2016-08-19 16:16] daN4cat commented on #812
See #813

[2016-08-19 16:17] daN4cat commented on #813
It's an issue with bootstrap-select 1.11.0. I'm trying to understand what is missing or wrong with that new version.

[2016-08-19 16:22] rajashani99 commented on #813
i am also using latest master work i think problem is in any js script

[2016-08-19 16:24] daN4cat commented on #813
Yes, please read what I just said.

[2016-08-19 17:46] daN4cat commented on #813
I've created the issue in bootstrap-select: https://github.com/silviomoreto/bootstrap-select/issues/1475 but meanwhile I revert the plugin to version 1.10.0, regen dist and commit the change to master.

[2016-08-19 17:56] #813 closed

[2016-08-19 18:21] daN4cat commented on #737
I read in forum that for security reasons it's not a good idea to display phpinfo in web pages.

Therefore I close this issue as it's not something we should not implement.

[2016-08-19 18:21] #737 closed

[2016-08-20 04:17] aelhofy commented on #810
@odiea thanks for explanation

[2016-08-20 11:15] philkiangai opened #815 "unable to add new customers , employee, and supplies when uploaded to hosted server"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [ ] Checked the current issues database and no similar issue was already discussed
- [ ] Read the README, WHATS_NEW and UPGRADE
- [ ] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [ ] Reporting an issue of

[2016-08-20 11:38] daN4cat commented on #815
Read your error_log and also make sure all php extensions are installed, including sockets support.

[2016-08-20 22:52] odiea commented on #624
Composer does not load language files.

[2016-08-20 23:05] odiea commented on #624
Also throws an error about form_validation_lang.php.

[2016-08-21 12:49] josemoreta commented on #815
I want to install a module in ospos 3. as I do this.

[2016-08-21 13:27] odiea commented on #815
https://codeigniter.com/user_guide/general/welcome.html is a good place to start.

[2016-08-22 06:35] jekkos commented on #624
Ok I think a database config value is missing in this case `langauge_code` that should be set to `en`. Will add it to the db upgrade script.

[2016-08-22 08:13] #815 closed

[2016-08-22 08:14] daN4cat commented on #624
How far are we with composer change?
I didn't have that much time over the week end and I'll see if I can do something next days, but I'll be a bit busy until end of the month.

[2016-08-22 09:23] jekkos commented on #624
The setup itself has changed and might need some further review (like moving license files after the last merge)

I've got it fully working on my machine, with ability to keep the CI translations up to date using the added scripts. Other additions can now be integrated easily (just a matter of adding the dependencies). A next one would be DOMPdf which is now hard linked into the libraries folder.

[2016-08-22 09:55] daN4cat commented on #624
BTW, should external libraries stay in libraries or go to third party?
I read once in Code Igniter it should go to third party and maybe it's better to adjust to that if true so we setup the whole code correctly once forever.

[2016-08-22 13:22] jekkos commented on #624
I would indeed prefer to add libraries through composer, think it will place these in vendor/ next to CI.. We might want to add the bootstrap logic in ospos application/ folder then instead (and leave CI system untouched)

[2016-08-22 14:18] arteiro opened #816 "Error in new versions after implementation of the new issue with security and copyright."
Updated to the file version in 16/08 and tried again today but is not working, then the login gives 500 error and the page is blank. I do not know what happens, someone could help.
locally settings are:

Use xampp on windows 10

Current PHP version: 5.6.19
PHPINFO
array
(
    [0] => Core
    [1] => bcmath
    [2] => calendar
    [3] => ctype
    [4] => date
    [5] => ereg
    [6] => filter
    [7

[2016-08-22 14:25] daN4cat commented on #816
You need to add Socket support

[2016-08-22 14:58] arteiro commented on #816
Thanks, worked on localhost, now I have to talk to my hosting to release there. Thank you.

[2016-08-22 15:24] arteiro commented on #816
My hospagem eta with php version: 5.4.19 is not working. that although recent has been updated, with no provision for new atualizaçõe. Thanks, I'll have to wait to be able to use the web, I will be locally yet.

[2016-08-22 15:40] #816 closed

[2016-08-24 14:32] jekkos commented on #805
I'm considering to add lodash library to do this filtering in an easy way. It has a lot of utility functions that facilitate working with javascript collections, arrays, .. among them the _.uniq function that filters an array for duplicates.

[2016-08-24 14:32] jekkos commented on #805
I've done this fix locally will test later on today

[2016-08-24 16:22] daN4cat commented on #624
If I tried to regen the dist files I get login.php and header.php with wrong paths (../../../).
I updated the grunt tags to latest master, as per package.json.

[2016-08-24 17:44] jekkos commented on #624
Yes quite some issues due to the different build setups now in those branches. I noticed that the Gruntfile was reverted (don't know how) and has the absolutePath property back in there.. I replaced that one earlier to work with the updated version of grunt tags..

[2016-08-24 17:53] jekkos commented on #624
Ok no I was wrong.. the ignorepath property is still there.. it should strip the relative section of the paths generated by tags plugin.. output looks okay here

[2016-08-24 17:58] jekkos commented on #624
OK I have reverted the grunt tags plugin version to master for composer branch, should be ok now.

[2016-08-24 17:59] jekkos commented on #624
You'll need to update the tags plugin every time you switch branches..

[2016-08-24 20:43] daN4cat commented on #624
Yep I know.

[2016-08-24 21:11] odiea commented on #624
Still getting following errors with composer.

A PHP Error was encountered
Severity: Warning
Message: Invalid argument supplied for foreach()
Filename: hooks/load_config.php
Line Number: 47
Backtrace:
File: C:\xampp\htdocs\composer3\application\hooks\load_config.php
Line: 47
Function: _error_handler
File: C:\xampp\htdocs\composer3\application\hooks\load_config.php
Line: 22
Function: load_langauge_

[2016-08-24 22:11] jekkos commented on #624
Probably because language_code key is not present in the config table. It should be set to en. Ive added it to the DB script

[2016-08-24 22:26] odiea commented on #624
Sorry it is acting like the issue we previously had.
![2016-08-24 16_25_29-microsoft edge](https://cloud.githubusercontent.com/assets/10962177/17950283/88372e4e-6a17-11e6-8fbc-e771d79325de.png)

[2016-08-24 22:29] odiea commented on #624
File or files not found.
![2016-08-24 16_28_26-program manager](https://cloud.githubusercontent.com/assets/10962177/17950339/d5f18a3a-6a17-11e6-9b10-4c1f6df2ea98.png)

[2016-08-24 22:30] odiea commented on #624
Yes I installed a new db from this version and updated my other db with the needed parts.

[2016-08-24 22:53] odiea commented on #624
http://localhost/composer2/public/home?debug=true
![2016-08-24 16_52_11-new notification](https://cloud.githubusercontent.com/assets/10962177/17950862/35e2965c-6a1b-11e6-8d70-2aaad0e710e6.png)

[2016-08-25 00:04] chandrawg commented on #816
i have same problem. my php version 5.6.21.
after login error 500. and i enable extension=php_sockets.dll. i can login and menu is appear. but everytime i click reports, error 500 is appear. and menu in configuration is not function.
i already uncomment extension=php_gd2.dll. please help. thanks.

[2016-08-25 00:12] odiea commented on #816
Did you restart your server?

[2016-08-25 00:19] chandrawg commented on #816
yes already restart

On Thu, Aug 25, 2016 at 8:12 AM, odiea <notifications@github.com> wrote:

[2016-08-25 00:52] odiea commented on #816
Did you download the Master or the Composer version. If it is the composer version yes it is error prone if it is the Master one of the other programmers may know what's going on but they are in Europe and the time zone is different. They will eventually read this.

[2016-08-25 01:09] chandrawg commented on #816
i download from this
![untitled](https://cloud.githubusercontent.com/assets/21230424/17953159/9322d2b8-6aa3-11e6-8924-88d0c9310d17.jpg)

[2016-08-25 01:11] odiea commented on #816
You do have the master so you will have to wait for them to figure out this new bug.

[2016-08-25 01:25] odiea commented on #816
I am testing with this version of xampp-win32-7.0.8-0-VC14-installer.exe and I am having no issues after uncommenting the needed extensions. If you have time you might try it out and see if it helps.

[2016-08-25 01:47] chandrawg commented on #816
already fixed after uncomment extension=php_intl.dll. but now i have
problem with discount price. discount is not summing in total price.

On Thu, Aug 25, 2016 at 9:25 AM, odiea <notifications@github.com> wrote:

[2016-08-25 02:22] odiea commented on #816
There are a few ways to do that. Set your discount rate in config hit submit t save. That will be an auto discount. Far a manual discount you enter the discount rate at the Register the hit update. You can also give each customer an update percent the click update at the register.

[2016-08-25 03:13] chandrawg commented on #816
i use discount percentage on sales cashier. but the total not include discount.

[2016-08-25 04:13] lisandro404 opened #817 "i cant access to config"
i have a local installation.
i can`t access to config>barcode or config>stock or  config>recipt or  config>invoice or  config>email or  config>message or  config>licence.
Why?

![image](https://cloud.githubusercontent.com/assets/21233756/17956556/1246948c-6a61-11e6-904c-dd6771129a94.png)

Thanks.

[2016-08-25 06:29] daN4cat commented on #817
Read the FAQ? Also make sure PHP has Sockets installed.

[2016-08-25 06:29] #817 closed

[2016-08-25 06:31] daN4cat commented on #816
@chandrawg create a new issue , please don't add comments on a unrelated one.

[2016-08-25 06:34] daN4cat commented on #624
Is your web server pointing to public dir?

[2016-08-25 06:42] jekkos commented on #624
Maybe header.php isn't pointing to the correct files.. it seems to fetch the js files from a second public/ subdirectory inside the doc root

[2016-08-25 07:58] jekkos commented on #624
Did you need to add /public in the url itself? Actually the public/ dir contents should go inside of the docbase.. all the other content one directory abotve it (which is inaccessible by the browser)

[2016-08-25 07:59] chandrawg commented on #766
same with me. discount is not updating. xampp v3.2.2, windows 7, ospos v3. please help. thanks

[2016-08-25 10:24] daN4cat commented on #766
@chandrawg can you please write down how to reproduce this, what you exactly see and what you would expect to see?

[2016-08-25 10:47] odiea commented on #624
If public is not added you get the following error.
Access forbidden!

You don't have permission to access the requested directory. There is either no index document or the directory is read-protected.

If you think this is a server error, please contact the webmaster.
Error 403
localhost
Apache/2.4.18 (Win32) OpenSSL/1.0.2e PHP/7.0.8

[2016-08-25 10:48] chandrawg commented on #766
same with above screen. and when i taking receipt for print, discount is not counting too. total must be price - discount.

[2016-08-25 10:53] daN4cat commented on #766
But if you don't give us all the precise information about how to reproduce it we are not able to understand what's wrong.

Please tell us what is your configuration in Store Config for language, currency and etc.
What item we need to create, prices and etc. might be relevant.

Because if I test everything is fine:

![image](https://cloud.githubusercontent.com/assets/636048/17966625/69005796-6aba-

[2016-08-25 10:56] daN4cat commented on #766
I just tried even adding a big number with thousand separator and it seems fine to me:

![image](https://cloud.githubusercontent.com/assets/636048/17966734/00deb6ac-6abb-11e6-8c74-abf6ddeab629.png)

[2016-08-25 10:58] daN4cat commented on #624
I haven't tested, I'll try this eve if I manage to find the time.

[2016-08-25 11:05] chandrawg commented on #766
![untitled-2](https://cloud.githubusercontent.com/assets/21230424/17966910/d2dc26e0-6af6-11e6-86e5-d854e9ff31b6.jpg)
![untitled-3](https://cloud.githubusercontent.com/assets/21230424/17966913/d4a4207c-6af6-11e6-86a7-f143ae98e84e.jpg)
language Indonesia and currency Rp.

[2016-08-25 11:15] onyema3 commented on #766
@daN4cat I seem to be having the same issue
I'm using the current masters

On Thu, Aug 25, 2016 at 11:56 AM, FrancescoUK <notifications@github.com>
wrote:

[2016-08-25 11:18] onyema3 commented on #766
My local settings

​

On Thu, Aug 25, 2016 at 12:05 PM, chandrawg <notifications@github.com>
wrote:

[2016-08-25 11:18] onyema3 commented on #766
No modifications

On Thu, Aug 25, 2016 at 12:18 PM, Onyemechi Ifende <onyema@ifende.com>
wrote:

[2016-08-25 12:02] daN4cat commented on #766
I'll refresh later my setup to make sure I have the same files from master and retest.

[2016-08-25 12:14] odiea commented on #766
I downloaded the master yesterday and I am having no issues .
![2016-08-25 06_13_30-wedidit _ powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/10962177/17968648/2edde1de-6a8b-11e6-8e5f-a68fed13328b.png)

[2016-08-25 12:18] daN4cat commented on #766
@chandrawg @onyema3 can you please tell us how you configure other type of discounts? Have you set something in the Store Config about that?

[2016-08-25 12:21] chandrawg commented on #766
@daN4cat i don't configure any discount in store config. only discount on sale.

[2016-08-25 12:23] onyema3 commented on #766
See my settings

​

On Thu, Aug 25, 2016 at 1:18 PM, FrancescoUK <notifications@github.com>
wrote:

[2016-08-25 12:31] daN4cat commented on #766
@onyema3 there is nothing in your comments. Please post directly in GitHub because I'm afraid email doesn't work equally well.

[2016-08-25 12:36] onyema3 commented on #766
ok

On Thu, Aug 25, 2016 at 1:31 PM, FrancescoUK <notifications@github.com>
wrote:

[2016-08-25 13:33] daN4cat commented on #766
@chandrawg @onyema3 and you sure you have the latest files in dist/ dir as well?

[2016-08-25 13:53] onyema3 commented on #766
Infact i had to download the latest masters again to be sure and same error
not updating discount

On Thu, Aug 25, 2016 at 2:33 PM, FrancescoUK <notifications@github.com>
wrote:

[2016-08-25 14:00] onyema3 commented on #766
![untitled](https://cloud.githubusercontent.com/assets/12876751/17971883/8def9dea-6ad4-11e6-86cd-b348b099fccb.jpg)

[2016-08-25 14:08] chandrawg commented on #766
@daN4cat yes i sure. i download yesterday for update from 2.4

[2016-08-25 15:15] daN4cat commented on #766
And both of you have run the database upgrade scripts, the latest. Correct?

[2016-08-25 15:17] onyema3 commented on #766
Yes

[2016-08-25 15:18] onyema3 commented on #766
Mine is a clean 3.0.0 install

[2016-08-25 19:49] daN4cat commented on #766
I tried the latest code from master with Chrome and Firefox and all works fine here.

Could you please open the console (Inspector or Firebug) and see if any error is displayed?
I really don't know what else it could be as I cannot really reproduce it.

[2016-08-25 20:21] onyema3 commented on #766
Nothing is showing up here. I configured 5% tax and that also is not updating. I'm not sure if it has anything to do with this

[2016-08-25 20:23] onyema3 commented on #766
![sales](https://cloud.githubusercontent.com/assets/12876751/17984666/25385d9c-6b0a-11e6-8cf5-fceb969af16b.png)

[2016-08-25 20:38] odiea commented on #624
Please notify me when you have it fixed. So far no luck.

[2016-08-25 22:21] odiea commented on #766
@jekkos @daN4cat  Have either of you ran the register with ?debug=true. I don't know if this should be happening or not. This is the current master.
![2016-08-25 16_18_49-new notification](https://cloud.githubusercontent.com/assets/10962177/17987891/eefd6c56-6adf-11e6-8ab7-fdfa962d9fd1.png)

[2016-08-25 22:32] odiea commented on #766
All of the Bower components are flagged as not found?

[2016-08-25 23:12] chandrawg commented on #766
i tried with firefox, chrome, ie still not update discount. already run database upgrade script 2.4_to_3.0.sql.

[2016-08-26 09:40] jekkos commented on #624
You mean that you have to add /public at the end of the url to be able to browse the app?

[2016-08-26 10:04] odiea commented on #624
It is doing the same thing as the Latest. Nothing found-No tables working-no language No js.

[2016-08-26 19:10] aelhofy opened #818 "Tabs inside Store config is not appearing when clicking on them [84033699675e]"
Before submitting an issue please make sure you tick (add a x between the square brakets) and agree all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas
- [x] Reporting an issue of

[2016-08-26 19:17] aelhofy commented on #818
after installing  php5-intl "sudo apt-get install php5-intl"

and reboot the server every thing became fine

[2016-08-26 21:48] #818 closed

[2016-08-26 22:42] hzzg6y opened #819 "Ecommerce ERP integration"
Please can someone help which are best ecommerce ERP integration which will integrate with less efforts... Please advice.. Drupal commerce, WebERP etc.

[2016-08-26 22:56] hzzg6y opened #820 "Promotion - Buy 2 get one Free"
Please can you someone advice how should we manage the Items on Promotion when we are offering Buy 2 & get one Free....

[2016-08-26 23:00] hzzg6y opened #821 "Perfomance - Scanning & Page loading DB response"
I know in order to improve performance,  we need to have opcache (OPcache, XCache, APC, etc.) which improves performance... however apart from this for Live Production system, what we need to configure so that Scanning efficiency, Speed of page loading etc can be further improved.

[2016-08-27 04:47] gustavo81988 opened #822 "Password Security"
is it ok to use md5 for password encryption? it's well known that md5 is insecure. Maybe something like bcrypt would be better.

[2016-08-27 05:57] onyema3 commented on #766
Any update on this?

[2016-08-27 07:58] daN4cat commented on #820
The issue template is in place for a reason. If you searched the existing issues you would have found an answer to your question.

[2016-08-27 07:58] #820 closed

[2016-08-27 07:59] #821 closed

[2016-08-27 07:59] daN4cat commented on #821
No template filled, issue closed.

[2016-08-27 08:00] daN4cat commented on #819
No template filled, issue closed.

[2016-08-27 08:00] #819 closed

[2016-08-27 08:04] daN4cat commented on #766
I cannot reproduce. Please open Inspector in Chrome and see if there is any error. Use F12 to open the inspector window console. Also please check if error_log is reporting something. I hope pho math libraries are installed properly.

[2016-08-27 08:06] daN4cat commented on #822
I will check this because md5 is indeed not the correct thing to do.

[2016-08-27 08:30] chandrawg commented on #766
no error_log in root directory and this is what i see in inspector
![untitled](https://cloud.githubusercontent.com/assets/21230424/18026263/6e1ce7e8-6c73-11e6-9f2d-4dee15257b3d.png)

[2016-08-27 09:28] daN4cat commented on #766
Console please.

[2016-08-27 09:34] daN4cat commented on #822
Use bcrypt for password hashing: http://stackoverflow.com/questions/4795385/how-do-you-use-bcrypt-for-hashing-passwords-in-php

[2016-08-27 10:36] onyema3 commented on #766
[25-Aug-2016 21:02:39] PHP Fatal error:  Can't use method return value in write context in /Applications/MAMP/htdocs/opensourcepos-master/application/helpers/locale_helper.php on line 67
[25-Aug-2016 21:02:39] PHP Fatal error:  Call to undefined function error_get_last() in /Applications/MAMP/htdocs/opensourcepos-master/system/core/Common.php on line 688

[2016-08-27 10:36] onyema3 commented on #766
Error Log

[2016-08-27 10:51] jekkos commented on #822
Ok indeed maybe we should change the hashing algorithm, md5 is very easy to crack. Also an upgrade procesdure should be foreseen (to convert from md5 to bcrypt in this case). Maybe use salting to increase hash strength

[2016-08-27 11:13] jekkos commented on #822
http://stackoverflow.com/questions/1533744/how-to-upgrade-a-password-storage-scheme-change-hashing-algorithm

[2016-08-27 12:01] chandrawg commented on #766
no error in my console
![untitled](https://cloud.githubusercontent.com/assets/21230424/18027219/f97f9cfa-6c90-11e6-8a64-846e892999c0.png)

[2016-08-27 13:54] onyema3 commented on #766
@jekkos and @daN4cat I think the code need to be looked at again. I installed an older 3.0.0 with this hash tag 1c4e5093bfbc and this issue is not present.
There must be something causing it in the code
![new](https://cloud.githubusercontent.com/assets/12876751/18027851/2c14e4f2-6c66-11e6-9e73-edacfcc5811c.png)

[2016-08-27 14:30] onyema3 commented on #766
5.5.26

[2016-08-27 18:31] alvin101 commented on #819
I think an e-com integration is best left to an erp system.  I will push later for a two way sync from POS to frontaccounting....