[2020-01-22 09:00] izeblood commented on #2694
Delivery, Take away should also reflect to the receipt...

[2020-01-22 09:05] WebShells commented on #2694
@izeblood to fully apply a restaurant ready interface we should take into consideration several other issues, like items ingredients, kitchen monitor for order queues or kitchen printer for order notification... Item add-ons extra cheese, without tomato, etc...
Over all, i suggest to load a totally different view for the register when restaurant mode is selected and that needs alot of work and tim

[2020-01-22 22:40] daN4cat commented on #2653
@andriux1990 any update?

[2020-01-22 23:54] odiea commented on #2653
This give a little extra code but it works.
[code]

[2020-01-23 07:09] daN4cat commented on #2694
Take away could be a sale item you add to the list of it implies a cost.

[2020-01-23 20:13] saeedhakh2007 opened #2695 "i want to use hijri calendar. which file is belong to calender?"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-01-23 21:33] andriux1990 opened #2696 "Detailed Reports - Suppliers"
It is I who I do not understand or the details of the suppliers do not work. I don't look for the reports and I don't get any results or there are others from dates before the current ones.

[2020-01-23 21:34] andriux1990 commented on #2696
I've been testing this for 4 days. and the last one I did in the online demo of ospos

[2020-01-23 21:37] andriux1990 commented on #2653
Not yet, I've been doing other things to Ospos. I did the first thing @odiea  suggested and for the moment it's fine. but I know it must be done in a better way

[2020-01-23 21:38] andriux1990 commented on #2653
I'll get to work on this tonight

[2020-01-23 21:49] odiea commented on #2653
I have always used  the currently available  code. If you don't want them to change the price then why would you give them the ability to delete the transaction. Sorry that's just the way I look at it.

[2020-01-23 22:00] andriux1990 commented on #2653
It is simple, if the price changes, the employee could steal and from so many sales it is possible to ignore it.
When you delete a transaction, everything returns to the stock and the money from the sale disappears from the report, this is fine as well. It's like canceling an invoice, so to speak. They are two different things

[2020-01-23 22:59] drbeanz commented on #2023
I already have the 3.3.2 and the supplier report is for goods sold from
supplier's stock

On Tue, Jan 21, 2020, 12:40 AM FrancescoUK <notifications@github.com> wrote:

[2020-01-23 23:04] drbeanz commented on #2023
What is needed is when I receive goods from supplier in recieving that is
stored and payments being made to that account partly or wholly with a
history of how much payments being made on multiple date n time...

On Thu, Jan 23, 2020, 5:59 PM Dr. Bean <blessedchild44@gmail.com> wrote:

[2020-01-24 00:07] jekkos commented on #157
I'm writing on the wiki how we currently do this. It's a more or less manual process but it works. Willl also add some SQL queries there for reporting purposes.

[2020-01-24 11:38] murusr commented on #2684
i am happy to work on this. I need this as well. But my idea of doing this is as below:
- Under receiving add one more text box to enter selling price
- Add one check box at general configuration ( update receiving and selling price for receiving ).. something like that..

is this sufficient? or is there more expectation or this?

By the way i am not experience php programmer. I will code the best

[2020-01-24 20:16] odiea commented on #2653
If you have not got this yet the following appears to work in the current Master.
[code]

[2020-01-25 14:00] andriux1990 commented on #2653
hey @odiea, I like this, because we don't add it to the master

[2020-01-25 14:24] andriux1990 opened #2697 "Location sales not selected"
In ospos demo (https://demo.opensourcepos.org) there are two locations.
In sales I give the user permission to sell only from one location, but this does not work properly because it takes the products from the location that is not selected.

This error is in both bintray and the ospos master.
You can check it in the ospos demo where there are two locations and you will see that it takes products

[2020-01-25 17:23] daN4cat commented on #2653
Done and committed to master.

[2020-01-25 17:23] daN4cat commented on #2653
I tested and appears to work fine therefore I close. If you have any issue with the solution reopen the case.

[2020-01-25 17:23] #2653 closed

[2020-01-25 20:15] daN4cat commented on #2648
@odiea because you seem able to reproduce this bug, could you please change this line in 1261 from:

`foreach($this->CI->tax_lib->get_taxes($this->get_cart())[0] as $tax)`

to

[code]

and test again?

[2020-01-25 20:43] odiea commented on #2648
@daN4cat Yes I am receiving no errors now. The errors just showed when in development mode. I tried in the latest Master . I got the error before the fix but no error afterwards. Thanks

[2020-01-25 20:48] daN4cat commented on #2648
OK, I'll commit that change.

What is the error line using the Reward Points?

[2020-01-25 20:53] odiea commented on #2648
No errors in  giftcards or rewards now.

[2020-01-25 20:56] daN4cat commented on #2648
OK, I commit this fix then.

[2020-01-25 20:58] #2648 closed

[2020-01-25 20:59] daN4cat commented on #2667
@WebShells can we close this so I can release 3.3.2?

[2020-01-25 21:02] daN4cat commented on #2696
What kind of Supplier are you selecting? I mean the category you set in suppliers view.

[2020-01-25 21:06] WebShells commented on #2667
@daN4cat sure, the deadline is by 31... Havin some issues with my pc, will try to submit before release date 👍

[2020-01-25 21:12] daN4cat commented on #2667
Thanks

[2020-01-25 21:12] daN4cat commented on #2657
I keep fixing bugs here and there. Few Easter eggs :-(

[2020-01-26 10:49] jekkos commented on #2657
Latest master is on demo now. I should add some script (alert) that checks the sanity as it keeps going down rather often.

[2020-01-26 14:46] SteveIreland commented on #2648
Sorry ... I totally missed this ... glad you worked it out.

[2020-01-26 14:56] SteveIreland commented on #2692
I ran a quick test and didn't encounter any problems with assigning a low sell item.

When you enter something in the low sell field it should be providing a "drop down" selection list of low sell items to select from.  Is there anything being provided?

The list of items provided to select from is only looking for items that are active and are flagged as stocked items.

[2020-01-27 05:28] izeblood commented on #1017
I think that method will be optional and be added to the configuration settings. That would be great.

[2020-01-27 05:51] izeblood commented on #2692
Yes it run well., but my concerned now is the relationship of the package vs each example:

![1](https://user-images.githubusercontent.com/32444665/73152528-37830300-410b-11ea-9270-cc599a9828d0.jpg)
![2](https://user-images.githubusercontent.com/32444665/73152554-508bb400-410b-11ea-8632-39a503456275.jpg)

Based on my presentation above, I assigned two sets of packages, cartoon and pcs. the pcs is

[2020-01-27 14:00] SteveIreland commented on #2692
The intent is to allow you to keep the same item in stock and allow you to track the number of cases that you have in stock and the number of pieces (broken cases).   So the total inventory for the item (in pieces) is the number of cases multiplied by the "quantity per"  plus the number of pieces from the cases that you've already broken down.

[2020-01-27 18:59] ConceptFreak commented on #2164
I have done it here is the code

Model CODE  application\models\Item.php
Add it at the bottom of the model before last  }

public function get_categorieso()
{
$this->db->select('category');
$this->db->from('items');
$this->db->where('deleted', 0);
$this->db->distinct();
$this->db->order_by('category', 'asc');
$this->db->order_by('name', 'asc');
return $this->db->get();
}
public function get_cat_it

[2020-01-27 19:06] ConceptFreak commented on #2164
![Capture](https://user-images.githubusercontent.com/46026370/73205091-14377280-4162-11ea-9dd9-02f081997692.PNG)

[2020-01-27 19:52] odiea commented on #2164
Can you show where and what code goes where to actually view this new list?

[2020-01-28 00:06] izeblood commented on #2692
Is my setup above is correct?

[2020-01-28 00:44] izeblood commented on #2692
When I sale product2 (product 1 and product2 are the same item, they only differ in packages) which is in carton pack and compose of 10 quantity per pack the only item quantity being deducted is the product2 but not in product1.
In my own understanding this product1 and product2 has relationship that every time you choose to sale either of these products will take effect to each other quantity....

[2020-01-28 02:05] izeblood commented on #2657
This is a big mistake... How can you trace the serialized item now? Who take that particular item, when it sold?

[2020-01-28 02:13] izeblood commented on #2657
@jekkos what is the use of having serialized item feature but can't search it in any reports?

[2020-01-28 02:35] izeblood commented on #2657
This makes more difficult to a user to search the warranty of the item by putting the serial number ONLY in the receipt. why because you will search it one-by-one of all the transaction being made by a paticular day, month , year... If you only consider 1000 transaction everyday or more you will rethink it....

[2020-01-28 05:45] akhilnasi opened #2698 "very slow in item module"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-01-28 10:53] daN4cat commented on #2698
Sorry but the information you provided is insufficient to help you.

[2020-01-28 10:54] daN4cat commented on #2657
There is no search capability by serialized item in detail reports anyway.

[2020-01-28 10:57] daN4cat commented on #2657
Also I would recommend to implement a dedicated view for sold items and search by serial number to look up for the receipt.

At the moment detailed reports don't provide anything of that.

[2020-01-28 12:19] andriux1990 commented on #2697
that nobody else notices this error

[2020-01-28 12:27] andriux1990 opened #2699 "Enter key when adding a new product"
Adding a new product and pressing the Enter key activates the button new. and not the submit button as it did before, this can result in creating duplicate products by mistake if it is not pending, since when giving new with enter it leaves all the information and only eliminates the barcode

[2020-01-28 12:30] andriux1990 commented on #2164
Ajax is also needed to add products without reloading the page and flies at the beginning each time a product is add

[2020-01-28 12:32] andriux1990 commented on #2164
Looks good

[2020-01-28 12:33] mckaygerhard commented on #2697
maybe nobody noted due nobody uses complety the system, OR
maybe already noted but developer pass off the issue
and the most possible are:
**maybe reported several times but due almost all the people dont fill propeerty the issue template (that are xtreme complicated to windosers), those reports are pass off**

[2020-01-28 12:34] andriux1990 commented on #2424
Someone could help me here, it doesn't work for me.
thanks

[2020-01-28 12:35] mckaygerhard commented on #2698
as i write several times: issue template are very pass off, if all the people that used opensourcepos are window users that dont read, dont fill the template and dont take time to make that taks..  why not take better template?

about the issue, already reported, i guess..

[2020-01-28 12:36] andriux1990 commented on #2696
I have only supplier with category "Goods supplier"

[2020-01-28 12:41] akhilnasi commented on #2698
@daN4cat ..
I have lots of items .In item module to load the items and searching an item takes more time.

[2020-01-28 13:32] daN4cat commented on #2697
Simply I didn't find the time to test this.
I don't have this setup so the priority for me at the moment is to make sure the deployment I made on 1st Jan works fine with the shop.

Later I will look into other issues...

[2020-01-28 15:22] mckaygerhard commented on #2679
puff..  marked as "question"?, so i'll will translated the issue here:

1. ospos have a "due" payment to represent a "sell by credit but without credit card" and also to "avoid the accountant issues" of course.. very important that lasted
2. due the previous, ospos does not have any report that show that money that "are not really received" so we have  here a "situation"!
3. then @andriux1990  ope

[2020-01-28 17:52] odiea commented on #2679
Try using the Detailed Customer Report. It shows that you can filter on the Due payment.

[2020-01-28 18:40] odiea commented on #2679
Or try using the Takings due filter. Lets not try to reinvent the wheel here.

[2020-01-28 19:33] daN4cat commented on #2698
How many rows (items) are we talking about here?

[2020-01-28 22:24] andriux1990 opened #2702 "serious error in Inventory Summary"
serious error in
Inventory Summary
![DeepinScreenshot_20200128162332](https://user-images.githubusercontent.com/29256343/73310827-a71bef80-41ea-11ea-8241-871816c1aaec.png)
https://demo.opensourcepos.org/reports/inventory_summary/all/more_than_zero

[2020-01-28 23:09] jekkos commented on #2699
That's not a bug, but a feature! We use it to enter items in bulk into our system. Most of the time the only difference between entries is price or just barcode, this makes it really easy.

[2020-01-28 23:11] jekkos commented on #2702
Sorry but, what is the issue here?  I don't understand spanish well enough. Also try to adhere to the template.

[2020-01-28 23:50] odiea commented on #2702
He is correct. There are no amounts shown in the Summary Totals.
![2020-01-28 16_48_39-Window](https://user-images.githubusercontent.com/10962177/73315766-337be180-41ee-11ea-84c0-a196bf366006.png)

[2020-01-28 23:57] mckaygerhard commented on #2679
i must explain again @odiea ? 1000 clients adn 1000 sales and then 1000 products.. oh yeah so easy! pufff how can i forget that? ( mut be a stupid option of course ufff) then check "witch of my client has debit with me.. of so easy"  pifff

[2020-01-29 01:33] izeblood commented on #2657
----------------------------------------------------------------------------------------
..Or adding serial number at the item module using Inventory Count Details
![serial](https://user-images.githubusercontent.com/32444665/73320363-02e18980-427a-11ea-9ac0-521ea0b3c666.jpg)

[2020-01-29 01:58] izeblood commented on #2620
![adminlte1](https://user-images.githubusercontent.com/32444665/73321189-acc21580-427c-11ea-805c-15a07bab6466.jpg)

[2020-01-29 02:06] izeblood commented on #2657
Sorry for the presentation above, In the first line we noticed that there's 5 items being transact so therefore the serial number line also will be 5 lines.....
123456789
1234567810
1234567811
1234567812
1234567813

[2020-01-29 02:11] izeblood commented on #2620
![adminlte2](https://user-images.githubusercontent.com/32444665/73322005-09263480-427f-11ea-8e8c-bd5a0b2e8dba.jpg)

[2020-01-29 02:19] izeblood commented on #2699
Now it's CLEARED...

[2020-01-29 08:16] jekkos commented on #2699
To make myself clear, you should use it from the sales or receivings register so that all new products are added to a ticket first. In case you have any good arguments on changing the behavior, let me know and we can consider adding a switch for this.

[2020-01-29 08:17] jekkos commented on #2657
Ok sure, you can send a PR for that @izeblood

[2020-01-29 08:30] daN4cat commented on #2667
@WebShells please fix this issue so we can close.

[2020-01-29 08:34] WebShells commented on #2667
![IMG_20200129_103336](https://user-images.githubusercontent.com/26513147/73340166-e564ed80-4282-11ea-9377-a19292f46e20.jpg)
@daN4cat i will 😅 hahaha

[2020-01-29 08:35] WebShells commented on #2667
That's happening now... I'll as soon as am done and installed my set of programs... Sorry for being late guys...

[2020-01-29 09:26] mfofanagn opened #2703 "Payment Type order"
![PaymentType](https://user-images.githubusercontent.com/39334501/73341395-78e2f200-4274-11ea-830f-c336de37ee17.PNG)
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

[2020-01-29 09:31] mfofanagn opened #2704 "eMail setting"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-01-29 12:39] andriux1990 commented on #2699
An interuptor would be super. because I was using it in the item module and it happened more than once that I duplicated the products at least with the name. I was already used to pressing the enter key to save the product and close the modal.
but if the switch is created this would be applicable for both cases

[2020-01-29 13:07] andriux1990 commented on #2697
This is a serious mistake. Because Ospos is not taking the items from the selected locations. And this is happening. you can enter the demo of ospos and do the tests for yourself

[2020-01-29 18:57] odiea commented on #2702
@jekkos If you get a chance to fix the above issue could you also fix Low Inventory so that it does not show any deleted locations. Thanks @odiea .

[2020-01-29 19:44] daN4cat commented on #2704
Duplicate of #2682 ?

[2020-01-29 19:46] daN4cat commented on #2704
Read #2374?

[2020-01-29 19:54] odiea commented on #2702
I figured it out. In Models Low_Inventory I added the following below AND item_quantities.quantity <= items.reorder_level.
AND stock_locations.deleted = 0  Now it just shows the current stock location.

[2020-01-29 20:38] daN4cat commented on #2657
It looks like the tax included tax calculation in reports is wrong. This month instead of 20% VAT looks like it's 40%!
I need to fix that over the weekend because it's skewing all the maths with the upgrade.

[2020-01-29 22:06] jekkos commented on #2702
Thanks for that @odiea. I applied your fix + submitted a PR for this other issue, not sure why this was changed recently and will wait for the review before merge.

[2020-01-29 22:08] jekkos commented on #2697
@andriux1990 you're doing a good job there bughunting. Interested in becoming an organisation member?

[2020-01-29 22:46] odiea commented on #2702
After applying your fix. Looks Good to me. Also no logged errors now.
![2020-01-29 15_43_06-Window](https://user-images.githubusercontent.com/10962177/73404216-5cfc4200-42ae-11ea-92e6-fb99dbe69f4f.png)

[2020-01-30 07:58] jekkos commented on #2697
@andriux1990 can you check my PR to verify if the fix works? Thanks!

[2020-01-30 08:49] daN4cat commented on #2657
@jekkos do you have time to check all the reports and tax calculations? With Tax included they are all wrong.
Sales looks calculating correctly the tax.

[2020-01-30 11:01] jekkos commented on #2657
Ouch, and it's not the first time. Some basic unit tests would be so helpful here. I was working on that, have phpunit setup in the project and added a basic case that can be run in a docker container. I'm planning to finalize that first. After I'll try to see if I can leverage it to add some test coverage for some of these tax cases.

[2020-01-30 12:42] andriux1990 commented on #2697
I did tests with firefox. and the problem apparently persists.
![Screenshot_2020-01-30 Neo Store Powered by OSPOS 3 3 2](https://user-images.githubusercontent.com/29256343/73450545-36302100-432b-11ea-96e3-f6a9d18fd7bc.png)
![Screenshot_2020-01-30 Neo Store Powered by OSPOS 3 3 2(1)](https://user-images.githubusercontent.com/29256343/73450546-36302100-432b-11ea-8b7d-783da091b325.png)
 then I tried

[2020-01-30 12:50] andriux1990 commented on #2697
Yes, of course I would like to, I would be happy to be it

[2020-01-30 12:53] WebShells commented on #2697
Welcome to the club @andriux1990 😎.

[2020-01-30 12:54] andriux1990 commented on #2702
this did not work for me

[2020-01-30 13:03] andriux1990 commented on #2697
Thanks you @WebShells

[2020-01-30 13:22] andriux1990 commented on #2702
the problem is here. in controllers / Reports on line 1630
'summary_data' => $this->xss_clean($model->getSummaryData($inputs))
you just have to replace $inputs with "report_data

there are 3 lines 'summary_data' => $this->xss_clean($model->getSummaryData($inputs)) of these in reports

[2020-01-30 16:42] jekkos commented on #2697
@andriux1990 I have sent you an invite. Indeed you might need to logout first to test this fix, as the browser might have the wrong location id set in the session.
So but did it work after refreshing the session?

[2020-01-30 20:21] andriux1990 commented on #2697
Thank you. I received the email and accepted

[2020-01-30 22:22] jekkos commented on #2697
@andriux1990 can we merge this issue? Is it fixed?

[2020-01-31 00:22] WebShells commented on #2667
It's a firefox issue..
For security reasons they blocked copying to users' clipboard through a web button...
Shall we add clipboard library for this page ? or we release this update and keep for later releases ? @opensourcepos/org

[2020-01-31 01:36] izeblood opened #2710 "Adding Filtered Search in Inventory Summary Report"
Tagging from #2406
Adding this filtered search in inventory summary report will support the @SteveIreland's multi package feature in which it can easily search specific products in order to compare their Total Quantity, and Total Low Sell Quantity.

![inventorysummary report](https://user-images.githubusercontent.com/32444665/73505129-92b73d00-440c-11ea-8827-dfa56adaee44.jpg)

[2020-01-31 04:13] Brettmccan commented on #2685
@andriux1990 could you add me to the repository as well? Your work looks amazing!

[2020-01-31 04:31] andriux1990 commented on #2697
yes @jekkos. no longer a problem now, thanks
it works fine you just have to restart session, but this is no problem doing it

[2020-01-31 06:10] daN4cat commented on #2667
I can see the security point, it makes full sense to me.
We should consider a manual way to offer wiki text to be copied and pasted in GitHub.

[2020-01-31 06:13] daN4cat commented on #2697
It's in master now.
Thanks @jekkos for fixing this issue.

[2020-01-31 06:13] #2697 closed

[2020-01-31 06:17] daN4cat commented on #2702
I need to check this over the weekend because it's not following the rest of the reports pattern somehow.

[2020-01-31 10:05] Aravindalp commented on #2286
What will be the solution after upgrading to 3.3.1. version? This method will not work for version 3.3.1. Please help

[2020-02-01 16:34] daN4cat commented on #2657
Got what the tax calculation mistake is, it's calculated against a Total that is not discounted.
I now need to find the bug....

[2020-02-01 16:42] data2base opened #2711 "Report - Payment Summary"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-02-01 16:43] daN4cat commented on #2657
Holy crap.... ospos_sales_items_taxes.item_tax_amount has been wrongly calculated and therefore all the transactions since I migrated to 3.3.1 are wrong....

I need to fix the bug and add a migration script recalculating all the tax amounts :-(

[2020-02-01 16:45] daN4cat commented on #2657
@odiea can you please test the US version of the taxation? On my side I have only Tax included.
You need to discount the items to spot the issue (if it's there....).

[2020-02-01 16:53] jekkos commented on #2657
Glad that you found the error. Did the bug cause the numbers to be higher or lower than expected? Honestly I'm not using any of the tax calculation but we did have a remark from our accountant in the past that the numbers weren't correct. I now have the feeling that you can never be 100% certain there.

[2020-02-01 16:54] jekkos commented on #2711
Not that I know but it doesn't sound too hard to do. Feel free to send us a contribution if you like!

[2020-02-01 16:56] daN4cat commented on #2657
The tax is higher because it's calculated using a non-discounted total.
It's probably only for Tax included but I need to find out....

[2020-02-01 17:43] odiea commented on #2657
Sorry out of the country for a few weeks.

[2020-02-02 10:06] #2340 closed

[2020-02-02 12:30] andriux1990 commented on #2694
We could improve this. not to be like a dedicated pos restaurant but for ospos to work in restaurants.
What I was doing was suspending a sale, making this as an order. and also create a button next to the quote that does the same but print the suspended sale (order) in tiket size and will be sent to the kitchen

[2020-02-02 12:44] daN4cat commented on #2340
Wow...exactly a year later. Good memory 😉

[2020-02-02 12:59] waploaj commented on #2340
aaah it was just a day Francesco 😉

[2020-02-02 14:30] WebShells commented on #2694
How will you divide the sections? I mean categories printing... Salad section print in salad area, drinks section printim beverage area... Etc...?

[2020-02-02 15:29] jokemine4u opened #2712 "Previous transaction displays on current date"
Hello,
I am using ospos v3.3.0
I have issues with dates. My yesterday transaction and expenses displays on current date. I can't get accurate transaction by date. I checked my computer date and it's correct.

Please help.

[2020-02-02 17:22] andriux1990 commented on #2712
check the time zone of ospos

[2020-02-03 16:01] aromal opened #2713 "Page goes blank when completing a sale : key 'PRIMARY' - Invalid query: INSERT INTO `ospos_sales_items_taxes`"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-02-03 16:02] aromal opened #2714 "Page goes blank when completing a sale"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-02-03 16:04] #2714 closed

[2020-02-03 16:04] aromal commented on #2714
accidentally created a duplicate

[2020-02-03 17:42] daN4cat commented on #2713
Have you fiddled with MySQL database directly?

[2020-02-03 20:02] #2712 closed

[2020-02-03 20:16] klisle commented on #2644
Thanks for the reply. I also saw that an invoice could be made with no payments submitted. Then I am able to add more payments than two, reducing the balance each time. Is what you have told me the official way? What about supporting more than two installments? @WebShells

[2020-02-03 20:54] mckaygerhard commented on #2644
@klisle  and @Saiuke puff.. i will explain the "due" expectations:

*  ospos have a "due" payment to represent a "sell by credit but without credit card" and also to "avoid the accountant issues" of course.. very important that lasted
*  due the previous, ospos does not have any report that show that money that "are not really received" so we have here a "situation"! that's a due payment represent

[2020-02-03 21:02] mckaygerhard commented on #2644
about your question @klisle  the right way it's that a "due payment" should not be altered! why! puff that money are not in the cash!...  so what about if i "debt" 10$ and later just modify the "due payment of 10$ to 1$" interesting right? i have a branch that solves that situation!

that' now to answer your question, there's no "right way" to make payments, opensourcepos has the free way to made

[2020-02-03 21:40] mckaygerhard commented on #2703
@mfofanagn  https://github.com/opensourcepos/opensourcepos/blob/8bca8fab53b3336ed87c2c7ec0e6dd6851da8073/application/helpers/tabular_helper.php also you must adde all the langs strins to sales_lang

[2020-02-03 21:40] mckaygerhard commented on #2703
in previous versions of ospos are inside sales.php controller

[2020-02-04 02:00] izeblood commented on #1017
@bkrajendra any updates to this enhancement....?

[2020-02-04 07:37] aromal commented on #2713
No.  This issue is easily reproducible if you configure the taxes as per
the screenshots attached and create a sale.
I just set up a fresh installation and set up the taxes in the same manner
and got the same error.

Thanks & Regards
Aromal

On Mon, 3 Feb 2020 at 23:12, FrancescoUK <notifications@github.com> wrote:

[2020-02-04 08:18] daN4cat commented on #2713
@steveireland this is for you to fix.

[2020-02-04 13:09] #2699 closed

[2020-02-04 15:35] jekkos commented on #2713
The question is, is this a valid usecase?
* If it is, then I think we need to change the constraint
* If it is not, then we handle this error gracefully in the UI and show a proper error message

[2020-02-04 21:29] daN4cat commented on #2657
Fixed the tax amount for Tax included case only.
There is a script that fixes the historical mistake regenerating the table with the correct calculation.

I assume non VAT is fine as nobody ever complained about any issue.

[2020-02-04 21:58] daN4cat commented on #2713
This is more of an anomaly than a normal use case.

[2020-02-04 22:35] jekkos commented on #2713
The error looks weird in a way, that he has a duplicate entry for one sale, line 1 and linked to a specific item? It's not clear to me what he was doing in the register before seeing this error.

[2020-02-05 03:20] SteveIreland commented on #2713
Just saw this and it's a little late for me to dive into it.  I'll take a look at it tomorrow evening.

[2020-02-05 10:17] jokemine4u commented on #2712
It worked. Thank you!

[2020-02-05 11:23] aromal commented on #2713
Hi,

I think it is a valid use case for Indian users. I'm not sure why nobody
reported yet.
Although the error shows like a duplicate entry for one sale, it is not the
case. It even happens with the first sale in a fresh installation.

Thanks & Regards
Aromal

On Wed, 5 Feb 2020 at 04:05, jekkos <notifications@github.com> wrote:

[2020-02-05 14:39] jekkos commented on #2657
@daN4cat Wow, quite a change you had to do there. I hope it's all correct now (as it's already in master). Should we advise users to make a backup before upgrading to this version?

[2020-02-05 14:40] jekkos commented on #2657
Ok I guess that last thing is standard :) Honestly I never did it but this time I will..

[2020-02-05 15:52] daN4cat commented on #2657
The tables are regenerated based on sale priced store somewhere else.
The backup is always recommended no matter.

[2020-02-05 20:03] mhanson-vertis commented on #2578
@SteveIreland this bug still persists in Open Source Point Of Sale version 3.3.1 - c786d4.

I was able to get around it by modifying Office -> Configuration -> Invoice -> Sales Invoice Format.

Initial value was {CO}; final value was INV-%y-{CO}. It appears the application is failing to ensure a unique invoice number by default, or simply fails a check upon attempting to generate the first invoice

[2020-02-05 20:55] daN4cat commented on #2702
Merged the fix, I close this issue.

[2020-02-05 20:55] #2702 closed

[2020-02-06 03:47] SteveIreland commented on #2713
I don't believe that during development I was expect that the tax group code on the jurisdiction table would be anything other than unique for each tax jurisdiction. For tracking purposes it should be unique.

Before we add a constraint to insure that it is unique, is there reason that you would need them to be the same?  I'm curious as to why you configured it that way.

The tax group is a way I

[2020-02-06 06:27] aromal commented on #2713
Hi Steve,
There is no reason that the codes to be the same. I changed it and that error got disappeared. I didn't know the group code must be unique and that wasn't mentioned anywhere in the system. Also, the error I saw in the log was something different and hence it was difficult to track. Thanks for this. I think you should give a proper error message to be shown in that area. Thanks much!

[2020-02-06 08:40] dexterhussain opened #2715 "Change Text on Bar Code [QUESTION]"
This is  Question
Server Ubuntu 16 on Azure
OS POS : OpenSourcePOS 3.3.1

I want to make Bar Code a Bit Larger , When the Bar Code Prints there is a text Item Name : [Item Name] , I want to remove that static text of Item Name any ideas from where i can do that?

[2020-02-06 08:42] daN4cat commented on #2713
@SteveIreland it's better to enforce a rule to avoid similar issue going forward.

[2020-02-06 12:41] #2715 closed

[2020-02-06 12:41] dexterhussain commented on #2715
Found Solution

[2020-02-07 13:07] odiea opened #2716 "Demo server down with the following error"
An Error Was Encountered
Unable to load the requested language file: language/talong/form_validation_lang.php

[2020-02-07 13:44] mckaygerhard commented on #2716
the name are bad written.. of the filename and was refered badly in the code

[2020-02-07 18:35] odiea commented on #2716
Working now.

[2020-02-08 07:54] engehab87 commented on #2164
@ConceptFreak Can you show where and what code goes where to actually view this new list?

[2020-02-08 12:51] andriux1990 commented on #2673
The idea is fine, but there is a problem. The directional arrows are also used to scroll through the browser, if about 15 products are added, you must use the scroll with the directional arrows

[2020-02-08 13:19] andriux1990 commented on #2673
I will do a PR of this.
There are two ways to do it. a separate js file and call it from the header or include these changes in the js script of register.php
which of the two?

[2020-02-08 13:48] data2base commented on #2685
@andriux1990 Would be great to try, can you add me as well?

[2020-02-08 14:03] daN4cat commented on #2673
If it's used in the register only, don't add it elsewhere.

[2020-02-08 14:10] andriux1990 commented on #2673
Mmm OK. I also wanted to use it for reception. but I will do it in each of the scripts

[2020-02-08 20:32] jsoftwares commented on #2182
Have same issue and get this error when i change environment to development

Fatal error: Arrays are not allowed as constants in /var/www/html/taaffeite/application/models/Attribute.php on line 9
A PHP Error was encountered
Severity: Compile Error

Message: Arrays are not allowed as constants

Filename: models/Attribute.php

Line Number: 9

Backtrace:

[2020-02-08 20:57] daN4cat commented on #2182
Php version?

[2020-02-08 21:45] jsoftwares commented on #2182
PHP Version 5.5.9
--

[2020-02-08 21:53] jsoftwares commented on #2182
also, when I comment out that line 9, the login page shows and I see the following:
The installation is not correct, check your php.ini file.
A database migration to 3.3.2 will start after login.

But login is not successful.

[2020-02-09 05:59] daN4cat commented on #2182
It's cle

[2020-02-09 05:59] daN4cat commented on #2182
It's cle

[2020-02-09 09:10] daN4cat commented on #2182
What about fixing that php.ini issue?

[2020-02-09 09:11] daN4cat commented on #2182
Also 5.5 is old and deprecated. We test with 5.6.

[2020-02-09 10:21] jsoftwares commented on #2182
I tried to enable the extensions in /etc/php5/apache2/php.ini

But didn’t solve that issue, though the way the extensions were listed in a
strange manner.

On Sun, 9 Feb 2020 at 10:10, FrancescoUK <notifications@github.com> wrote:

--

Kind Regards,
Jeffrey Onochie
+234 (0) 803 329 1738

[2020-02-09 10:24] jsoftwares commented on #2182
Is it advisable to upgrade to php 5.6 or upgrade to Ubuntu 16 from 14
having in mind that I have OSPOS version 3.0.2 also running on the server.
I’d appreciate your advice on this.

On Sun, 9 Feb 2020 at 10:11, FrancescoUK <notifications@github.com> wrote:

--

Kind Regards,
Jeffrey Onochie
+234 (0) 803 329 1738

[2020-02-09 10:28] daN4cat commented on #2182
Have you read INSTALL.md:https://github.com/opensourcepos/opensourcepos/blob/master/INSTALL.md :?

Also please restart your web server or reboot the machine after the change.

[2020-02-09 10:29] daN4cat commented on #2182
Also please read thie FAQ: https://github.com/opensourcepos/opensourcepos

[2020-02-10 01:44] SteveIreland commented on #2713
@daN4cat work and other stuff kept me busy this weekend so I didn't have a chance to work up anything for this.  So I'll try to slip it in during the week.  Is there a hard date on the 3.3.2 release?  Hopefully it wasn't this weekend.  :-(

[2020-02-10 06:03] daN4cat commented on #2713
@SteveIreland work comes first. Whenever you have time please fix this.

[2020-02-10 06:59] V-Bhadauriya opened #2717 "Facing issue in Installing OpensourcePOS in Docker Compose."
I followed the INSTALL.md for installing and configuring the OpensourcePOS latest in docker-compose.
Every dependent container is up and running fine, but when I am trying to access the UI getting below error.
_**“Your system folder path does not appear to be set correctly. Please open the following file and correct this: index.php”**_
  I checked the index.php file system path is:

**$system_path

[2020-02-10 07:15] daN4cat commented on #2717
What do you use to install docker?
Have you tried the docker/ scripts?
Also is that on a local laptop or hosted on the Internet?

[2020-02-10 07:21] V-Bhadauriya commented on #2717
@daN4cat ,
I have set up a VM of Ubuntu OS 16.x in my vcenter lab.
I have  install the docker with command:
**apt-get install docker docker-compose**

After cloning the OpensourcePOS repo, I have used below command to deploy the OpensourcePOS.

 **bash docker/install-local.sh**

All containers all up and running.

[2020-02-10 11:13] daN4cat commented on #2717
Exactly, using the script will do for you.

Next time it would be good to read INSTALL.md 😉

[2020-02-10 11:13] daN4cat commented on #2717
I close this issue.

[2020-02-10 11:13] #2717 closed

[2020-02-11 17:21] #1139 closed

[2020-02-11 17:21] #1196 closed

[2020-02-11 17:21] #2017 closed

[2020-02-11 17:22] #2079 closed

[2020-02-11 17:23] #2540 closed

[2020-02-11 17:51] andriux1990 commented on #2540
Find the right Android application to connect to your bluetooth printer. Then you have to change the receip_defauld a bit and the printing works for you.

In fact, you can do this even from an Android webview app.

[2020-02-11 18:12] WebShells commented on #2540
@andriux1990 i think android web view app will print the receipt as an image... Some lines will be barely readable...

[2020-02-12 00:36] OliviaMourning commented on #2676
I'm getting the same 404 error @sadiqtronics describes in a fresh local LAMP install. Only difference is, my environment is known to be good as I can successfully get to a php info page and see the extensions are loaded.

[2020-02-12 04:00] andriux1990 commented on #2540
@WebShells To solve this, what is done is that by touching the print button there will be the application of the printer and then it will be printed.

the other thing that I did was next to the print button, create another button that I exported in PDF receipt and then open it and print

[2020-02-12 04:03] izeblood commented on #1585
@daN4cat Is this request solved? @bkrajendra can you share some of your thoughts regarding this matter based on your presentation....

[2020-02-12 05:35] daN4cat commented on #1585
No it's not implemented and this is a duplicate. Please leave a comment on the other issue.

[2020-02-12 05:39] daN4cat commented on #2676
Is the rewrite module enabled in Apache?
Are OSPOS folders assigned to the correct user and with the correct permissions?
If installed in a subfolder are the .htaccess files in public folder configured correctly?

[2020-02-12 05:53] OliviaMourning commented on #2676
Rewrite is enabled, OSPOS were originally owned by root. I tried changing it to www-data then back to root, and it's installed in my web root (/var/www/html) with the defalut .htaccess (not modified for a subfolder install).

[2020-02-12 11:07] daN4cat commented on #2676
Are you running code taken from a release package or Git repo cloning?
Also which version?

[2020-02-12 11:08] daN4cat commented on #2676
Also have you checked the file and folder permissions? Not ownership I mean permissions.

[2020-02-12 13:46] objecttothis commented on #2666
I just downloaded and installed 3.3.1 to test with a copy of my production database before going live and there are still some issues with the date selector.
1- You cannot manually enter a date.  It requires you to use a selector. I would think it would be better to allow either the selector or manually entering the date with a formatting check to confirm that the date entered matches the localiza

[2020-02-12 13:49] objecttothis commented on #2607
@daN4cat did the favicon change somehow not make it into 3.3.1?  I just downloaded and installed 3.3.1 and it appears that the color correction on the login screen is in there, but the favicon is the one without transparency and OSPOS removed.

[2020-02-12 14:06] objecttothis commented on #2607
OK #2720 is ready for review and merger.

[2020-02-12 15:18] OliviaMourning commented on #2676
I'm running 3.3.1 from the release package (https://github.com/opensourcepos/opensourcepos/releases/download/3.3.1/opensourcepos.20191214181241.3.3.1.c786d4.zip), I'll have to check permissions when I am in the office at my computer later this morning.

[2020-02-12 15:20] daN4cat commented on #2666
They are in 3.3.2 bit we didn't release it yet.
Could you please latest master?
It's stable and I use it in production.
HOWEVER, if you use Tax included please let's talk before you update. I fixed few issues around that and fixes the database history.

[2020-02-12 15:21] daN4cat commented on #2607
Merged. I close.

[2020-02-12 15:21] #2607 closed

[2020-02-12 15:48] WebShells commented on #2540
@andriux1990 i believe the printed data should be sent as RAW data to the printer in order to print in text format... Or else it will print a low quality jpg image..

[2020-02-12 16:12] OliviaMourning commented on #2676
Permissions were set using "chmod -R 755 /var/www/html", same error. It almost seems like it's trying to find the directory /public/login rather than parsing it how CI should. I haven't used CI before, but I read up on it a bit before installing.

[2020-02-12 17:23] daN4cat commented on #2676
And the database connection is fine?

[2020-02-12 17:24] daN4cat commented on #2676
Are you running using http or https?

[2020-02-12 17:51] OliviaMourning commented on #2676
Presumably it is, I used the root account as I am just testing it at the moment. Verified the credentials, db name, etc. are correct in /application/config/database.php. Currently using http. You can see it at http://oliviaa.fortiddns.com/public

[2020-02-12 17:52] OliviaMourning commented on #2676
Also http://oliviaa.fortiddns.com/public/test.php to see my info.

[2020-02-12 20:01] objecttothis commented on #2666
I'll download the latest master then.  I saw the tax conversation but didn't pay attention to it entirely.  Our taxes is included into the price of the item, so I'm not sure if it applies to us or not, but it would be nice to be able to generate reporting showing net profit which would ideally remove the included tax.

[2020-02-12 23:40] bamne123 commented on #2676
I have used Local Docker Installation, I also face 404 for `http://localhost/public`.

[2020-02-13 02:03] izeblood commented on #1017
@bkrajendra  HOW ABOUT THIS:
![1](https://user-images.githubusercontent.com/32444665/74394302-4ece2a00-4e47-11ea-8f51-ce2a8b2db09a.jpg)
![2](https://user-images.githubusercontent.com/32444665/74394546-c69c5480-4e47-11ea-987b-27f74b0f38e1.jpg)

[2020-02-13 02:05] izeblood commented on #1017
![3](https://user-images.githubusercontent.com/32444665/74394712-488c7d80-4e48-11ea-872d-09cf0f15c580.jpg)

[2020-02-13 02:06] izeblood commented on #1017
THAT'S ONLY A PRESENTATION in order to visualize additional feature for ospos

[2020-02-13 03:41] andriux1990 commented on #1017
@izeblood looks very interesting

[2020-02-13 07:35] bkrajendra commented on #1017
@izeblood looks good.
But this will only work if we are typing product item name.
What if we are scanning an item with barcode reader. it immediately puts entire barcode into text box and sends ENTER. and products gets added.
So we need to show a popup incase it has more than one prices, else just add to cart.

We need to handle two things.
2) Same Barcode but two different items (Item might be sa

[2020-02-13 08:13] daN4cat commented on #2676
Docker local install takes some time to start up and run.

[2020-02-13 08:19] daN4cat commented on #2676
@OliviaMourning can you please check Apache error log and see if it logs anything about the problem?
Also please make sure MySql/MariaDB is properly connected. Please search past issues because I remember similar problems due to database misconfig issues.

[2020-02-13 14:04] andriux1990 opened #2721 "Error query at sales report details"
### Background information

- [x] Reporting an issue of an unmodified OSPOS installation
- [ ] Checked [open and closed issues](https://github.com/opensourcepos/opensourcepos/issues?utf8=%E2%9C%93&q=is%3Aissue) and no similar issue was already reported (please make sure you searched!)
- [ ] Read [README](https://github.com/opensourcepos/opensourcepos/blob/master/README.md), [WHATS_NEW](https://git

[2020-02-13 16:49] daN4cat commented on #2721
Version please....

[2020-02-13 16:51] daN4cat commented on #2721
That's the sql_mode=only_full_group_by issue

[2020-02-13 16:51] andriux1990 commented on #2721
opensourcepos.20200205205545.master.ca2907

[2020-02-13 17:07] daN4cat commented on #2721
How to reproduce in OSPOS?

[2020-02-13 21:12] daN4cat commented on #2721
@jekkos this is another of the same issues. Could you please check and fix?

[2020-02-14 07:24] objecttothis opened #2722 "Bug in items table sort"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-02-14 07:33] objecttothis opened #2723 "Bug in items table with search in attributes selected"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-02-14 07:42] daN4cat commented on #2721
I'll check myself over the week end.

[2020-02-14 10:28] jekkos commented on #2723
Ouch, seems like a regression as I saw this working in the past

[2020-02-14 10:32] jekkos commented on #2691
@wak29 any chance providing the files to us?

Maybe we should [configure a bot ](https://github.com/fastlane/issue-bot) that closes 'stale' issues after some time, as the tracker has so many that might not be relevant anymore..

[2020-02-14 10:34] jekkos commented on #2722
If you have 'no items', then that probably means the server had an internal error, can you check the http status code and verify if any logging is available?

[2020-02-14 11:03] objecttothis opened #2724 "Master-Slave Attributes"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-02-14 11:44] objecttothis commented on #2723
If you do a basic search without searching attributes it still works.  It's only when you search attributes that it has a problem.

[2020-02-14 11:57] objecttothis commented on #2722
@jekkos upon investigating further it appears to be working but there is anywhere between a 4 and 10 second delay where it says "no items to display".  I just wasn't waiting long enough. I wonder if we shouldn't do some optimization of the sort or if we could change the display while its waiting to something more indicative of the fact that it's sorting.

[2020-02-14 12:02] objecttothis commented on #2722
There is definitely something funny going on with the sort though.  When I try to sort by any of my attributes it changes the view, but isn't actually sorting them.  You can see from the attached image that I've sorted by my "Category" attribute (not to be confused with Category in the items table) but it's clearly not sorted by the attribute.

![Annotation 2020-02-14 113249](https://user-images.g

[2020-02-14 14:37] mckaygerhard commented on #2721
the proble are the excesive usage of GROUP CONCAT that are the famous _aggregate_ function that concatenates strings from a group into a single string_ but here are used to make cross-query with various options.

![imagen](https://user-images.githubusercontent.com/1571724/74537010-9ddf9200-4f0f-11ea-8c02-3c05a092229b.png)

it converts the vaues of rows as colums.. that can be made with php code..

[2020-02-14 14:38] andriux1990 opened #2725 "Locations Kit"
When you have more than one location and products are added to a kit.
From which location are the products sold?

This is something that has not been taken into account

[2020-02-14 14:46] mckaygerhard commented on #2721
the problem are the excessive usage of GROUP CONCAT that are the famous _aggregate_ function that concatenates strings from a group into a single string_ but here are used to make cross-query with various options.

![imagen](https://user-images.githubusercontent.com/1571724/74537010-9ddf9200-4f0f-11ea-8c02-3c05a092229b.png)

it converts the vaues of rows as colums.. that can be made with php code.

[2020-02-14 14:49] mckaygerhard commented on #2721
the problem are the excessive usage of GROUP CONCAT that are the famous _aggregate_ function that concatenates strings from a group into a single string_ but here are used to make cross-query with various options.

![imagen](https://user-images.githubusercontent.com/1571724/74537010-9ddf9200-4f0f-11ea-8c02-3c05a092229b.png)

it converts the values of rows as columns.. that can be made with php cod

[2020-02-14 15:07] mckaygerhard commented on #2725
sounds complicated.. lest check:

i have a kit.. with two products, product1 from location1 and product2 from location2 so how we will xporess that in the kit?

[2020-02-14 16:00] daN4cat commented on #2691
The problem is that some are new feature requests.

[2020-02-14 21:23] jekkos commented on #2724
Aha, this feature is actually already there!
You should use a GROUP attribute for this. Next create another attribute type, DROPDOWN most probably and link the created GROUP as a parent.

[2020-02-14 21:25] jekkos commented on #2724
I use it in such a scenario to link different sizes to a category. In this case for shoes
Men shoes, has 'child' attributes 6, 7, 8, 9
Women shoes: has a different set 5, 6, 7, 8

[2020-02-14 23:56] jekkos commented on #2725
Not sure if the inventory level changes if you just configure the kit? Otherwise if you sell one, the currently selected location will be taken into account, no?

[2020-02-15 00:03] jekkos opened #2726 "Stale issue bot configuration"
Just to inform all, I added an issue bot tracker to the project that willl

* Mark issues as 'stale' after 30 days
* Close issues with label 'stale' after 7 days

I just want to see that open questions are answered and closed and that only relevant tickets stay open.

Current configuration ignores issues with the 'enhancement' and 'needsowner' labels. I'll add 'bug' label as well.

First let's see

[2020-02-15 00:05] #1497 closed

[2020-02-15 02:30] #2053 closed

[2020-02-15 08:01] #2647 closed

[2020-02-15 08:02] #2661 closed

[2020-02-15 08:03] #2622 closed

[2020-02-15 08:05] #547 closed

[2020-02-15 19:52] andriux1990 commented on #2721
thanks

[2020-02-15 19:53] andriux1990 commented on #2721
This could be a serious problem in the future. thanks

[2020-02-15 21:21] daN4cat commented on #2721
@andriux1990 please forget about he says. Keeps producing river of words and solve nothing, even miunderstanding what people say. Unfortunately....

[2020-02-15 21:27] #1902 closed

[2020-02-15 22:17] daN4cat commented on #2721
@andriux1990 I commited a change to master. Wait for a new version to be packaged and made available in bintray and then test it.
If you get a similar error with another field, please repeat the fix I made in line 148 - MAX(name) AS name - to the next one that produces the error.

I can't test this properly because I don't have a setup with attributes and sql_mode=only_full_group_by  enabled to se

[2020-02-15 22:19] daN4cat commented on #2696
@andriux1990 did you manage to debug this and understand why it doesn't work?

[2020-02-15 22:37] mckaygerhard commented on #2721
interesting i dont care my commet was deleted a hole community was clear.. thanks for the RIGHT fix, all my comment always come in mail form also .. X-;

[2020-02-15 23:08] daN4cat commented on #2721
@andriux1990 travis build failed. I don't think it's my change but I don't have time to check the issue now. Pick up the files I changed and replace the ones you have with those.

[2020-02-16 06:50] Aravindalp commented on #970
how to print multiple bar codes for single product for new versions like 3.3.0 and above?

[2020-02-16 10:20] #2308 closed

[2020-02-16 13:00] #2677 closed

[2020-02-16 15:18] andriux1990 commented on #2721
OK. Where do you think the error may be?
The changes I had made was just adding a MAX and an AS.

it makes sense but it doesn't seem to be enough

[2020-02-16 15:58] daN4cat commented on #2721
@andriux1990 what is the new error log?

[2020-02-16 16:43] mckaygerhard commented on #2725
well as i explained.. of course.. but currently it happened as is? @jekkos ?

[2020-02-17 16:57] equinenigeria commented on #1442
I will like to restore my ospoos backup. How I will I go about doing that. Thank you

[2020-02-17 17:55] SteveIreland commented on #1442
Try googling how to restore a mysql database.  It really isn't an OSPOS application issue.  However, I'll give you a tip that one of your steps should be to "SET FOREIGN_KEY_CHECKS=0;"   At least that has been my experience.  If you need more help please open up a new issue.   This ticket has been closed.

[2020-02-18 07:04] ramemon opened #2728 "Adding Dinner Table on Printed Receipt"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-02-18 07:24] objecttothis commented on #2724
@jekkos I cloned my production database to see if I could get this to work, but I'm a little confused about how it is supposed to work.  I created a GROUP and called it "location/category".  I added my attribute called "location" which is of type DROPDOWN.  I then added my attribute called "category" which is also of type DROPDOWN.

The problem is that I see no place to assign a relationship betwe

[2020-02-18 10:55] objecttothis opened #2729 "No new BinTray builds?"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-02-18 11:47] daN4cat commented on #2729
I posted a comment the other day, I cannot get where Travis build is configured/controlled now.

[2020-02-18 11:50] objecttothis commented on #2729
I must have missed that comment.  Do we have a place for contributors can have these kinds of discussions without needing to open issues?  There is an opensourcepos/devroom in gitter that would suit that very well, but either we aren't all aware of it, or don't use it consistently.  Thoughts?

[2020-02-18 11:57] daN4cat commented on #2729
It was in Release 3.1.2 but this issue is the correct way to deal with this. So no worries.

I hope @jekkos can reply soon.

[2020-02-18 11:57] objecttothis commented on #2729
OK, sounds good.

[2020-02-18 14:34] odiea commented on #2728
In application/views/sales/receipt_default add the following after if invoice enabled and see if that works for you.
[code]

[2020-02-18 20:58] daN4cat commented on #2721
@andriux1990 any news?

[2020-02-18 21:04] daN4cat commented on #2729
I don't know why I couldn't see .travis.yml file the other day... I was probably too tired :-S

[2020-02-18 21:05] daN4cat commented on #2729
Let see if the run goes trough without errors.

[2020-02-18 21:36] daN4cat commented on #2729
I gave a try but fixed the composer docker issue to bump into another, which is the lack of gd extension.
No time now to check that....

[2020-02-18 22:43] odiea commented on #2679
@andriux1990 Have you been able to do anything with this yet?

[2020-02-19 02:23] mckaygerhard commented on #2679
@odiea if you try to explain more .. maybe he can make something.. as i guess.. he are not developer.. and i noted i m also interesting in that?

so directly **please explain detailed expression to make a report--** do you noted hoy i populated the wiki! that's a explanation in the developer part! okey!

[2020-02-19 03:39] digitaloffensive opened #2730 "500 Error"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-02-19 03:51] minaslim opened #2731 "please"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-02-19 04:37] #2731 closed

[2020-02-19 05:00] andriux1990 commented on #2721
It seems to be working fine, the registry log doesn't show me this problem now. Thank you @daN4cat

[2020-02-19 05:12] andriux1990 commented on #2679
What I want to do is double the total spent table and rename it Total due. and that this column shows me the total payments due.
by the time I change the debt status to cash, I can see how much the customer owes.
This is very useful for not being in reports leaking from a certain date to the date to see how much is the total sales due

[2020-02-19 05:15] andriux1990 commented on #2679
Unfortunately not yet. I think I got where the matter is to solve this. but I lack knowledge to develop it. @odiea if you have the way to do it I would appreciate it very much

[2020-02-19 06:39] daN4cat commented on #2721
Was my fix enough or have you added more MAX and AS?

[2020-02-19 06:42] andriux1990 commented on #2721
Yes @daN4cat and thank you

[2020-02-19 07:37] jekkos commented on #2729
Looks like the composer image was changed for some reason. I might want to install gd manually then.

[2020-02-19 07:38] jekkos commented on #2724
Ok indeed, it's not 100% what you need here, you actually need to have it preselected (this feature only speecds up the selection itself). The parent-child relationship is modelled through a fk of the defintiion table to itself. It could be reused like that combined with a different definition type.

[2020-02-19 07:52] #2721 closed

[2020-02-19 07:52] daN4cat commented on #2721
Good, case closed.

[2020-02-19 07:54] daN4cat commented on #2729
Yes composer/composer needed to change to be just composer.

However if you could amend the Travis script install gd hopefully we are good again.

[2020-02-19 07:55] daN4cat commented on #2729
I don't understand why they break backward compatibility with those docker image name changes. It's a maintenance nightmare to do that.

[2020-02-19 10:33] #2698 closed

[2020-02-19 12:43] objecttothis commented on #2729
@daN4cat I assume that your working on this here is why bintray is empty now and there are no builds in it?  I wish we had a more reliable build repository that Bintray.

[2020-02-19 13:15] objecttothis commented on #2730
We need more background to understand the situation.  Is this a new install?  Fresh database? Did you read the install.md to confirm you have all of the required php modules installed?

PHP needs to have php-gd, php-bcmath, php-intl, php-openssl, php-mbstring and php-curl installed and enabled.
in the config file you should increase the log threshold and make sure that your log directory has prope

[2020-02-19 13:16] objecttothis commented on #2729
Are there instructions somewhere on how to manually build the whole project?  I looked at the install.md and it doesn't seem to point anywhere for that level of detail.

[2020-02-19 13:36] objecttothis commented on #2625
I'm going to have to call the attribute type CHECKBOX because bool is a reserved word in both MySQL and PHP and boolean is a reserved work in Mysql.

[2020-02-19 15:00] jekkos commented on #2729
It seems that one of our depencies needs gd installed and composer decided to strip most php extensions.

I went through their docs, they suggest to import composer into another docker image and run like this. So in this case we'd have to build a custom container that has both php and gd, and then also composer itself, unless we find something else that has these three things included.

[2020-02-19 15:08] jekkos commented on #2729
It seems that one of our depencies needs gd installed and composer decided to strip most php extensions.

I went through their docs, they suggest to import composer into another docker image and run like this. So in this case we'd have to build a custom container that has both php and gd, and then also composer itself, unless we find something else that has these three things included.

[2020-02-19 17:22] daN4cat commented on #2729
Or run the docker image php 7.x and install composer from run cmd line and then run the composer script.

[2020-02-19 17:52] digitaloffensive commented on #2730
The install is new.

PHP installed modules:
apt install php libapache2-mod-php php-common php-mbstring php-xmlrpc php-soap php-gd php-xml php-intl php-mysql php-cli php-zip php-curl

apt install php php-bcmath php-openssl

OpenSSL support | enabled
cURL support | enabled
The whole list can be seen in the attached file
[phpinfo.txt](https://github.com/opensourcepos/opensourcepos/files/4226522/phpin

[2020-02-19 22:09] OliviaMourning commented on #2676
@daN4cat No errors in the Apache logs, just verified the database credentials. It looks like it may be working after editing /etc/apache2/apache2.conf to set AllowOverride to All.

[2020-02-19 23:20] digitaloffensive commented on #2730
I have found one issue and corrected it though now I get a new error:

An uncaught Exception was encountered
Type: Error

Message: Call to undefined function bcscale()

Filename: /var/www/html/application/hooks/load_config.php

Line Number: 42

Backtrace:

File: /var/www/html/public/index.php
Line: 315
Function: require_once

The previous issue was I had a line commented out in the database.php

[2020-02-20 03:06] #2730 closed

[2020-02-20 05:35] objecttothis commented on #2729
Deleted duplicate comments

[2020-02-20 06:07] bowenjnr opened #2732 "new item"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- **[X]** Reporting an issue of an unmodified OSPOS installation
- [X] Checked [open and closed issues](https://githu

[2020-02-20 06:10] bowenjnr commented on #2732
![image](https://user-images.githubusercontent.com/46376364/74906002-c27cb380-53c0-11ea-9a25-ffeedd037130.png)

the New button is inactive

[2020-02-20 06:56] OliviaMourning commented on #2676
@daN4cat So it looks like it should be working (no more 404), but the database migrations are failing now. Apache logs (I've tried logging in a couple times, waiting for each to finish completely before trying again) are here: https://pastebin.com/S61A9Mdt

[2020-02-20 07:16] daN4cat commented on #2676
You mean database migration of an old database or new empty one?

[2020-02-20 07:19] OliviaMourning commented on #2676
A new database, I just ran the database/database.sql to create the structure before attempting to login.

[2020-02-20 07:38] daN4cat commented on #2732
Please fill in the issue template.

[2020-02-20 07:40] daN4cat commented on #2676
Is the database user allocated to ospos granted of all the privileges like create and delete tables and etc.?

[2020-02-20 07:42] daN4cat commented on #2730
Usually that is due to rewrite module not being enable or similar issues.
If you found a solution already please add it here so other people facing the same issue know what to check when searching for past cases.

[2020-02-20 07:45] OliviaMourning commented on #2676
Yes, I created a new user and allowed privileges to ospos.*

[2020-02-20 07:49] bowenjnr commented on #2732
Thanks. I have filled the issue template on the earlier on submitted issue by amending it.

[2020-02-20 09:26] odiea commented on #2732
Now please read the Issues and you will find the answer.

[2020-02-20 10:12] objecttothis opened #2733 "Default permissions on logs directory"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-02-20 11:30] bowenjnr commented on #2732
Thanks I have read and found an answer

[2020-02-20 11:36] #2732 closed

[2020-02-20 12:53] bowenjnr opened #2734 "Newly added items not displaying"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-02-20 14:04] daN4cat commented on #2734
Have you added the item from the UI or directly in the database?

[2020-02-20 14:06] daN4cat commented on #2732
Was the answer the known issue about the database configuration with full group by?

[2020-02-20 14:09] daN4cat commented on #2676
This is weird... you sure all phone extensions are added?
Also make sure migration folder and sub folder are accessible to web server.

[2020-02-20 14:45] OliviaMourning commented on #2676
I just double checked, and the only one that isn't there is openssl. I've tried installing it through apt-get but can't seem to find it. www-data has ownership of all files/directories in /var/www.

[2020-02-20 15:04] bowenjnr commented on #2734
I added from the UI

[2020-02-20 15:21] odiea commented on #2734
Can you enable error logging to see what shows?

[2020-02-20 17:41] OliviaMourning commented on #2676
I actually just deleted the whole database and ran the sql file again. It appears to be working now, not sure what went wrong but I'm guessing the initial database.sql import failed in some way originally. Thanks for the help!

[2020-02-20 17:43] daN4cat commented on #2676
Great, I was really running out of suggestions...
I need to look up all these 4ex and 5ex issues and add them to the FAQ.

[2020-02-20 17:43] #2676 closed

[2020-02-20 17:48] andriux1990 commented on #2734
#2452

[2020-02-20 21:38] daN4cat commented on #2734
Yep, good point. What is that you input in your item?

[2020-02-21 09:03] andriux1990 opened #2735 "get category search suggestions only in stock"
I don't know how to do this.
in models / item.php 'public function get_search_suggestions'
i duplicate line 582 "$ this-> db-> like ('name', $ search);" and I made an or_like category "$ this-> db-> or_like ('category', $ search);" so that in register I also look for the items when I write their category.

This does very well, the problem is that also when I write a category it shows me results of

[2020-02-21 09:48] daN4cat commented on #2735
where('deleted', 0)

[2020-02-21 09:51] daN4cat commented on #2735
Hmmm ok, you have already a deleted there. What is passed in filters['is_deleted']

[2020-02-21 09:53] andriux1990 commented on #2735
yes, but in or_like it shows me deleted items

[2020-02-21 09:55] andriux1990 commented on #2735
it doesn't work for me

[2020-02-21 10:05] daN4cat commented on #2735
Because the or_like probably makes the previous optional.

You need to build the query with open and close sub filters.

[2020-02-21 10:06] daN4cat commented on #2735
In config enable the sale query logging so in logs you can see which SQL queries are issued.

[2020-02-21 10:13] andriux1990 commented on #2735
I understand.
i will try. thanks

[2020-02-21 10:37] daN4cat commented on #2735
I meant sql logging. Mobile phone spell checker changed it.

[2020-02-21 12:17] andriux1990 commented on #2735
@daN4cat where is that of sql logging that explains that I can't find anywhere ...

[2020-02-21 12:31] daN4cat commented on #2735
In logs folder

[2020-02-21 13:24] mckaygerhard commented on #2735
wow so explicite and clear as always: X-D

@andriux1990  here the documentation:  in the first place there's the application log (disabled by default) and the system components log (apache log that includes php error log, database error log), let see how to enabled/activate those:

### Application error log:

It's disabled by default, since 3.1 OSPOS, can be enabled in a directive in `application/

[2020-02-21 20:32] odiea commented on #2679
I have it this far if you are still interested. It is also set to show in customer as  due in the Register. The Due row  is not sortable.
![2020-02-21 13_25_01-Window](https://user-images.githubusercontent.com/10962177/75069359-42347c00-54ae-11ea-873c-9aef1a9d6513.png)

[2020-02-21 20:42] andriux1990 commented on #2679
Wow

[2020-02-21 20:44] andriux1990 commented on #2679
Yeah right. I'm interested.
@odiea How did you do it to do it?

[2020-02-21 21:07] odiea commented on #2679
I need to transfer my changes over to the current Master to make sure it still works. I will add the code after that. Always test in a local version before you add it to your current Master.

[2020-02-21 21:11] mckaygerhard commented on #2679
great! odiea! it's a great work.. i'm also interesting iin that! maybe also a explanation to make by ourselft also was equal appreciated.. but thanks in any case! i make a rudimentary credit pay based on due.. maybe if all of us join efforts we have a intersting featured to added to due payment

[2020-02-21 21:35] andriux1990 commented on #2679
Ok, please, I want to know what I did wrong because it didn't work for me, as I was doing

[2020-02-21 22:11] odiea commented on #2679
The key change was to add the following to the customer model get stats_2
[code]
And I hope i did not leave anything out.
views/sales/register in load customer data I added above Total.

[code]
controller/sales/ I added the following lines in load_customer_data to show due amount in the Register
[code]
In models/customer I added this below the other get stats
[code]
In controller/sales
[code]
help

[2020-02-21 22:40] andriux1990 commented on #2679
Thank you very much @odiea I'm going to test it

[2020-02-21 23:25] odiea commented on #2735
Try placing the $this->db->where('deleted', $filters['is_deleted']); above the order by. It worked for me.

[2020-02-22 00:28] jekkos commented on #2729
Builds are back in bintray. I changed the travis setup a bit and have created my own 'buildbox' for the project. Cool thing is that this setup contains only the dependencies we need, and won't break as we I maintain it myself.

For the dockerfile, check out [github.com/jekkos/composer](github.com/jekkos/composer).

Idea is to keep the required dependencies for building the project separate from th

[2020-02-22 00:35] #2729 closed

[2020-02-22 00:35] jekkos commented on #2733
OK sure feel free to adapt this, normally we run with the same user as the one that owns the actual files.

[2020-02-22 01:08] #2288 closed

[2020-02-22 01:08] #2381 closed

[2020-02-22 01:08] #2422 closed

[2020-02-22 01:08] #2035 closed

[2020-02-22 01:08] #1937 closed

[2020-02-22 01:08] #2315 closed

[2020-02-22 01:08] #2428 closed

[2020-02-22 01:08] #2505 closed

[2020-02-22 01:08] #1960 closed

[2020-02-22 01:08] #2511 closed

[2020-02-22 01:08] #2493 closed

[2020-02-22 01:08] #2518 closed

[2020-02-22 01:09] #2251 closed

[2020-02-22 01:09] #2563 closed

[2020-02-22 01:09] #2584 closed

[2020-02-22 01:09] #2591 closed

[2020-02-22 01:09] #2592 closed

[2020-02-22 01:09] #2599 closed

[2020-02-22 01:09] #2605 closed

[2020-02-22 01:09] #2569 closed

[2020-02-22 01:09] #2623 closed

[2020-02-22 01:09] #2650 closed

[2020-02-22 01:09] #2649 closed

[2020-02-22 01:09] #2674 closed

[2020-02-22 01:09] #2683 closed

[2020-02-22 02:58] #1361 closed

[2020-02-22 02:58] #1374 closed

[2020-02-22 02:58] #1400 closed

[2020-02-22 02:58] #1749 closed

[2020-02-22 02:58] #1879 closed

[2020-02-22 02:58] #1877 closed

[2020-02-22 02:58] #1989 closed

[2020-02-22 02:58] #2015 closed

[2020-02-22 02:58] #2000 closed

[2020-02-22 02:58] #2034 closed

[2020-02-22 02:58] #1992 closed

[2020-02-22 02:58] #2092 closed

[2020-02-22 02:58] #2084 closed

[2020-02-22 02:58] #2093 closed

[2020-02-22 02:58] #2005 closed

[2020-02-22 02:58] #2173 closed

[2020-02-22 02:58] #2207 closed

[2020-02-22 02:58] #2234 closed

[2020-02-22 02:58] #2160 closed

[2020-02-22 02:58] #1995 closed

[2020-02-22 02:58] #2074 closed

[2020-02-22 02:58] #2249 closed

[2020-02-22 02:58] #2255 closed

[2020-02-22 02:58] #593 closed

[2020-02-22 02:58] #2254 closed

[2020-02-22 05:17] daN4cat commented on #2733
I need to check but I probably set 750 in my case.

[2020-02-22 07:07] objecttothis commented on #2733
The safest is 750. For those using shared hosting where they have no control over who else is in the group, 750 should be default. Everyone else can manually change it to what's needed...

[2020-02-22 09:10] jekkos commented on #2726
Ok the setup seems to work, first we have a notification that sends to the people involved. If they don't tag the issue properly or react to that then the issue is closed.

[2020-02-22 09:10] #2726 closed

[2020-02-22 09:14] jekkos commented on #2625
Yeah actually I tried to add this type of control, but it looked a little weird imho (having a label and then just a checkbox next to it).

Indeed name it checkbox would make more sense.

[2020-02-22 09:43] daN4cat commented on #2726
Yes, we should be careful in tagging the issues properly.
I reopened a couple of them that can be fixed easily since the author added the code (CLI mode).

[2020-02-22 12:20] andriux1990 commented on #2735
I have done what you say here and it does not work for me, I still see the products deleted in register when I search by category.
How does it work for you?

[2020-02-22 12:29] odiea commented on #2735
It works fine for me. Before I relocated it I was seeing deleted Items afterwards the deleted Items did no show

[2020-02-22 12:32] andriux1990 commented on #2679
Everything works fine here until the last two lines

[2020-02-22 12:43] odiea commented on #2679
I guess you should look in your error log to see what it shows. Still works fine here.

[2020-02-22 12:53] andriux1990 commented on #2735
Well, it worked for me. what happens is that I have more changes here, but with the teacher if it works well

I have some small changes on get_search_suggestions, I will see why it happens to me

[2020-02-22 13:12] odiea commented on #2735
If you are using 3.3.1 make sure full_group is disabled. Lots of bugs with this.

[2020-02-22 13:34] andriux1990 commented on #2735
@odiea It is for this reason that it does not give me, when you already have more than one or_like.
I have three because I like to use description to put information that I do not want to be printed in the resivo and to also be able to search from there.

			$this->db->like('name', $search);
			$this->db->or_like('category', $search);
			$this->db->or_like('description', $search);

[2020-02-22 13:43] daN4cat commented on #2735
I don't believe full_group is the issue here.

@andriux1990 have you enabled the query log as I suggested? What do you see of your query in that log?

[2020-02-22 13:57] odiea commented on #2735
Neither do I. But why play around with it when this is a known issue.

[2020-02-22 14:01] andriux1990 commented on #2735
this way if it works

		$this->db->like('name', $search);
		$this->db->or_like('category', $search);
            $this->db->where('deleted', $filters['is_deleted']);
		$this->db->or_like('description', $search);

[2020-02-22 14:02] andriux1990 commented on #2735
I already do it, I want to see what logs are causing

[2020-02-22 14:02] andriux1990 commented on #2735
I already do it, I want to see what logs are causing

[2020-02-22 15:07] odiea commented on #2735
Yes that works better after adding the description filter.

[2020-02-22 17:46] odiea commented on #2679
You may have to go back and revert the changes you previously made or just Replace tabular helper with the current one.

[2020-02-22 17:55] andriux1990 commented on #2679
Everything except this image works for me. I have reserved time to review this, to know what I did wrong

[2020-02-22 17:58] andriux1990 commented on #2679
This interests me and I like how you did it,
@odiea you are a good developer.

I imagine you must have a super ospos.
Thanks a lot

[2020-02-22 18:04] odiea commented on #2679
I just changed to location of stats in the Update form if that is what you are asking about.

[2020-02-22 18:05] odiea commented on #2679
I have no programming skills I just copy and paste and then test for errors. Mr Hit and Miss

[2020-02-22 19:15] #2735 closed

[2020-02-23 12:33] #2686 closed

[2020-02-23 15:09] andriux1990 commented on #2444
Look @odiea I already did it
![WhatsApp Image 2020-02-23 at 9 01 51 AM](https://user-images.githubusercontent.com/29256343/75114514-1b945380-561c-11ea-9254-d9dfe8596b3f.jpeg)

[2020-02-23 16:05] andriux1990 commented on #2444
If you are interested in the changes, I can send them to you. although I know that you are very intelligent and capable and that you probably already have this.

There is something I could not. If you have any suggestions, I would appreciate it.
is to be able to use the search suggestions to show me the quantity that I have in stock.
this is currently available but only when a product is added for

[2020-02-23 17:41] daN4cat commented on #2666
Is this DATETIME attribute still a problem?

[2020-02-23 17:44] objecttothis commented on #2666
I'll check in the morning when I'm back in the office.

[2020-02-23 17:47] #2229 closed

[2020-02-23 17:49] #2250 closed

[2020-02-23 17:51] #2696 closed

[2020-02-23 17:52] daN4cat commented on #2713
Fix in master. I close.

[2020-02-23 17:52] #2713 closed

[2020-02-23 18:17] daN4cat commented on #2722
@jekkos , have you looked into this sorting issue?

[2020-02-23 18:17] daN4cat commented on #2723
@jekkos any chance to look into this?

[2020-02-23 18:19] daN4cat commented on #2733
I actually have 740.

[2020-02-23 18:20] andriux1990 commented on #2696
I would have liked to test this. but the last bintray ospos just doesn't start

[2020-02-23 18:24] daN4cat commented on #2733
So not sure I understand, what is that needs to be changed here?

[2020-02-23 18:42] daN4cat commented on #2667
Right, where are we with this?

[2020-02-23 20:07] daN4cat commented on #2696
Have you tried the demo site?

[2020-02-23 21:14] WebShells commented on #2667
@daN4cat i didn't proceed... Maybe i should add something that needs to allow permission to copy... Ill re look into this...

[2020-02-23 21:19] odiea commented on #2444
Sorry I do not have the knowledge to do that but it would be a nice added feature.

[2020-02-23 22:18] andriux1990 commented on #2444
if also, it would be very interesting, so we would not have to add the product to see if we have in stock, we would look at the quantity from the search suggestion.

at night I will try this again to see if I get it

[2020-02-23 22:25] andriux1990 commented on #2696
I just did it right now, and it doesn't work for me. @daN4cat  Tell me what I'm doing wrong, because I don't have any results in the supplier details
![Screenshot_2020-02-23 DIANE Powered by OSPOS 3 3 2](https://user-images.githubusercontent.com/29256343/75121379-11dd1100-5659-11ea-9ddb-0dd62c10cd97.png)

[2020-02-23 22:52] odiea commented on #2696
Di you make any Sales using that Supplier today?

[2020-02-23 23:01] andriux1990 commented on #2696
make sales or purchases?
How can I make a sale using a supplier...

[2020-02-23 23:13] odiea commented on #2696
The suppliers name is attached to the Item that you Sell in the Register.

[2020-02-23 23:26] andriux1990 commented on #2696
Well, I did tests as you say and everything is fine.
Thanks a lot

[2020-02-24 04:33] objecttothis commented on #2666
Tested and working.  The only way to enter a date is through the date selector, but that isn't a bug.  Perhaps down the road I'll create an issue with a datetime enhancement to either use the selector or manually type in the date.  Doing so would require some format checking to verify that the date is the correct format for the locale.

[2020-02-24 04:33] #2666 closed

[2020-02-24 05:49] objecttothis commented on #2733
Sorry, part of this was from my misunderstanding about the nature of zip files.  Zip files do not preserve permissions, so the permissions get set to whatever the OS sets them to when the unzip is performed.

@WebShells did a great job on the installation info, but the check for logs (and probably other folders) should show red if the permissions for the folder are too high, thus posing a security

[2020-02-24 07:15] daN4cat commented on #2696
Yes, the detailed report by supplier is for the sales. Now I understand where you were coming from.
It doesn't represent any purchase from a supplier, which will be a bit tricky to create.

[2020-02-24 07:25] WebShells commented on #2733
Team i apologize for not being able to follow up lately... Been away for a while, will be back on track in a few... @opensourcepos/org

[2020-02-24 08:47] objecttothis commented on #2733
@WebShells No worries at all.  All of us are here in one way or another on a volunteer basis. Your help is appreciated.

[2020-02-24 10:40] objecttothis opened #2736 "Bug in Employee Update on Detailed Transaction Report"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-02-24 11:09] andriux1990 commented on #2696
Many suppliers distribute the same product. What to do in this case?

[2020-02-24 12:19] daN4cat commented on #2696
Are those suppliers or agents?

[2020-02-24 12:21] daN4cat commented on #2696
In any case there is many to many relationship supported by OSPOS. It's one (supplier) to many (items).

[2020-02-24 12:53] andriux1990 opened #2737 "bintray ospos bang"
Symfony and vlucas directories are not in this version.
so autoload.php have also changed in vendor directory and composer directory files

[2020-02-24 13:54] andriux1990 commented on #2679
according to your instructions to the letter. This was my result.
in sales the total customer information owed it's correct,
![Screenshot_2020-02-24 Farmacia SENOR DE ESQUIPULA Powered by OSPOS 3 3 2](https://user-images.githubusercontent.com/29256343/75157961-c8cda100-56da-11ea-802e-ac5dadbb57bc.png)
but in customers module the column is clean.
![Screenshot_2020-02-24 Farmacia SENOR DE ESQUIPULA

[2020-02-24 14:18] odiea commented on #2679
In Tabular_helper the lines should look like this.  Now the table search is different from the stats search so it does not show the Customer Total any longer in the table view.
[code]
Then showing the Amount Due should look like this.
[code]

[code]

[2020-02-24 14:26] jekkos commented on #2737
that's because I change the line to only install non dev dependencies.
If you expect them to be in there then those dependencies are declared in the wrong place.

[2020-02-24 14:30] andriux1990 commented on #2679
I just made, checked and even copied and pasted and I still have the same problem, now I think the problem is not in tabular_herlper
![Screenshot_2020-02-24 Farmacia SENOR DE ESQUIPULA Powered by OSPOS 3 3 2(4)](https://user-images.githubusercontent.com/29256343/75160614-f2d59200-56df-11ea-9949-46dfcaa1e447.png)
![Screenshot_2020-02-24 Farmacia SENOR DE ESQUIPULA Powered by OSPOS 3 3 2(5)](https:/

[2020-02-24 14:38] andriux1990 commented on #2679
this where exactly goes
$stats = $this->Customer->get_stats($person->person_id);
to
$stats = $this->Customer->get_stats_2($person->person_id);

[2020-02-24 14:39] andriux1990 commented on #2737
from here I have downloaded them https://bintray.com/jekkos/opensourcepos/opensourcepos#files

[2020-02-24 14:39] mckaygerhard commented on #2737
seeem he are talking about bintray @jekkos ...  do you noted he never used directly the github files? puff...

[2020-02-24 14:40] andriux1990 commented on #2737
so is. I always use bintray

[2020-02-24 14:48] odiea commented on #2679
Sorry that should be in Controller Customer not Sales in search
[code]

[2020-02-24 14:51] andriux1990 commented on #2679
I can't find this line $stats = $this->Customer->get_stats($person->person_id); controls / sales as explained above

[2020-02-24 14:53] odiea commented on #2679
It is not in sales but in controller customer

[2020-02-24 15:00] andriux1990 commented on #2679
Thank you. although now there are not so much sales sales as total expirations.
I have only due sales
![Screenshot_2020-02-24 Farmacia SENOR DE ESQUIPULA Powered by OSPOS 3 3 2(6)](https://user-images.githubusercontent.com/29256343/75163036-24505c80-56e4-11ea-9a80-750d7d580d06.png)

[2020-02-24 15:03] odiea commented on #2679
Yes. That is all that will show now so you will have to look in stats to see the total spent.

[2020-02-24 18:52] daN4cat commented on #2679
I guess you may want to have a filter like in items to select only the customers with a due amount.
Check Items to understand how that's achieved.
Happy coding! And submit a PR when completed :-)

[2020-02-24 21:13] andriux1990 commented on #2679
I dont have the skils.. i just only copy and paste indications from odiea.. i want some changes but not have enought skils.. seems make a filter its a bit complicated.. please dive more refers.. i cannot understand the artifacts involved .. inclusivelly now with recents changes in master

[2020-02-24 21:18] andriux1990 commented on #2444
I have not succeeded. makes it difficult for me when there are more stock locations :(

[2020-02-25 09:46] objecttothis opened #2738 "Question about updating attribute value logic"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-02-25 14:30] odiea opened #2740 "Removing the Customer from a Sale does not remove the customer discount from the Sale in Register"
OSPOS Installation Info: 3.3.2 - ca2907
Language Code: en-US

Extensions & Modules:
» GD: Enabled ✓
» BC Math: Enabled ✓
» INTL: Enabled ✓
» OpenSSL: Enabled ✓
» MBString: Enabled ✓
» Curl: Enabled ✓

User Settings:
.Browser: Chrome
.Server Software: Apache/2.4.38 (Debian)
.PHP Version: 7.3.14
.DB Version: 5.5.5-10.1.21-MariaDB-1~jessie
.Server Port: 80
.OS: Linux 9d3791fdb000 4.15.0-66-generic #7

[2020-02-25 18:39] odiea commented on #2736
Yes I see that detailed Receivings has a dropdown for the Employee while Detailed Transactions does not.

[2020-02-25 19:21] odiea commented on #2736
This is where it changed.
Change Employee input type in Sales edit form master
@daN4cat
daN4cat committed on Jan 19
1 parent b4eabd2 commit 5007410c1a37c14838c6e0545593eedb1b620b82

[2020-02-25 21:35] daN4cat commented on #2736
I need to test it again. The reason why I changed is because old sale where an employee was deleted showed the current employee where it should be a choice.
Also I replaced the dropdown with a suggest to hide old names and identities and avoid having big dropdown.
In the end if you want to replace an employee name you know the new name therefore should be quicker to select a new name.

[2020-02-25 21:40] jekkos commented on #2737
Ok yes that's clear @andriux1990. I wonder do you need the dotenv? I would guess it's only useful for development?

[2020-02-25 21:42] jekkos commented on #2722
Not yet, it's on my list though. I fixed the build first and have another branch pending (that's mostly finished but still needs final validation)

[2020-02-26 05:19] objecttothis commented on #2736
It's OK with me if it's a suggest instead of a dropdown but it needs to only accept correctly spelled employee names.  Knowing some of my staff, if it doesn't, you will get all kinds of mis-spellings and employees that don't exist (deleted or otherwise).

In our use case, it's better if only non-deleted employees show up in the suggest or dropdown, but I can see a case where people might want to b

[2020-02-26 05:45] daN4cat commented on #2736
Agreed, I need to check and fix but not before the weekend. If an urgent matter please feel free to check and fix.

[2020-02-26 06:21] andriux1990 commented on #2737
I don't know if I'm wrong. but the bintray ospos is ready to be installed.
the problem is that these new versions I can not make them work on my computer

[2020-02-26 06:43] daN4cat commented on #2737
What is that doesn't work? Can you be more precise?

[2020-02-26 13:03] andriux1990 commented on #2737
after unzipping the version that you downloaded from bintray and set database.php to connect to my database. Then I go to the browser and open the site. i have error "This non-functional page host cannot process this request at this time."

I don't know if this happens to me alone, or I have to make extra settings on my computer. because if I replace the seller folder with an earlier version of on

[2020-02-26 15:05] odiea commented on #2737
Indeed there is an issue with the new bintray files. Will not load anything.

[2020-02-26 15:19] odiea commented on #2737
It loads properly after you comment out the following in config/hooks
[code]

[2020-02-26 17:55] jekkos commented on #2737
Ok thanks @odiea for clarification. I guess the dotenv dependency is in the wrong place then, will add it to the production deps now.

[2020-02-26 22:51] jekkos commented on #2737
Should be fixed now.

[2020-02-26 23:50] odiea commented on #2737
I downloaded the following and still get the following error.
https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20200226231825.multistage-docker.123f4c.zip
Filename: C:\wamp64\www\today\application\config\hooks.php

An uncaught Exception was encountered
Type: Error

Message: Class 'Dotenv\Dotenv' not found

Line Number: 32

Backtrace:

File: C:\wamp64\www\today\public\

[2020-02-26 23:59] jekkos commented on #2737
Thanks for testing! I did two commits actually, this one is the first (amended and overwrote it in fact). So you'll need to find the build for `b8174a85eeff0c7a5c760050de57c126cf342a1a` instead

[2020-02-27 00:32] odiea commented on #2737
I tried that build also and got the same result. Will try again tomorrow.

[2020-02-27 03:50] bua2020 commented on #2286
Hello, I would like to ask, does this core feature works with continuous label paper? I have 4 stickers per row without cell-space. Please kindly suggest sir! Thank you very much in advance!

[2020-02-27 11:59] odiea commented on #2737
An uncaught Exception was encountered
Type: Error

Message: Class 'Dotenv\Dotenv' not found

Filename: C:\wamp64\www\today\application\config\hooks.php

Line Number: 32

Backtrace:

File: C:\wamp64\www\today\public\index.php
Line: 315
Function: require_once

[2020-02-28 10:56] odiea commented on #2737
@jekkos I still got the above issue in my last test. How about reverting the following commit.
commit 556335918b684214601edf8d9f5ce1f848ba3427 to see if that is the issue.

[2020-02-28 18:09] odiea commented on #2679
@daN4cat I tried something similar to that but all the stats were then using the filtered db so it was not showing the Customers stats correctly. Si I used this to just show the amount due in the Table view and the correct stats in the Customer form.

[2020-02-28 20:26] odiea commented on #2737
@jekkos It works again after your last commit. Thanks. You might want to delete the older master files now to prevent further issues if someone decides to download from Bintray .

[2020-02-28 20:44] odiea commented on #2737
This issue has been solved. Now in Bintray unstable. So I will close it.

[2020-02-28 20:44] #2737 closed

[2020-02-28 21:14] giftonian opened #2743 "Delete button at every page is not working"
why Delete button at any page is not working? When I click, it does nothing

[2020-02-28 21:21] odiea commented on #2743
Closed until proper info is submitted. The issue form.

[2020-02-28 21:21] #2743 closed

[2020-02-29 09:01] giftonian commented on #2743
I have installed version 3.3.2.
When I go to Customers or Items listing page, there is a Delete button at top left corner of the listing table. I select an item/customer and then press Delete button. Nothing happens, no message, no action, the selected record remains as it is.

[2020-02-29 13:18] odiea commented on #2743
IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.

[2020-02-29 13:39] odiea commented on #2685
@andriux1990 any update on your branch?

[2020-02-29 15:23] andriux1990 commented on #2685
I don't have it ready yet. I want the interface to be self-sustainable, como ospos. but I still haven't got it. Admeas the code is a spaghetti.
here you can take a look and tell me how it looks

http://45.181.68.3:8080/~andu/demo/neo/public

[2020-02-29 15:28] WebShells commented on #2685
Please keep it live... I'd like to check it... Thanks

[2020-02-29 15:31] odiea commented on #2685
User name and password?

[2020-02-29 15:33] andriux1990 commented on #2685
admin

admin1234

[2020-02-29 15:37] andriux1990 commented on #2685
It's still very green, there are mistakes I can't solve.
What do you think?

[2020-02-29 15:45] odiea commented on #2685
Looks good. It appears that you have already put a lot of work into it.

[2020-02-29 15:50] WebShells commented on #2685
I agree @odiea, looks really nice over here.. Mobile version... @andriux1990 alot of good work was made here 👍👌. Thanks for contributing back...

[2020-02-29 15:55] andriux1990 commented on #2685
Thank you. It is more in the graphical interface. In the background is the pure ospos. I did it this way so you don't have any problems with bintray updates.
What do you think of my fork ospos ... any suggestions?

[2020-02-29 15:55] odiea commented on #2685
I have no idea on how to use admin lte for error checking. So far the only issue I saw was with the Detailed reports not showing. Is there a way to enable error reporting?

[2020-02-29 15:56] odiea commented on #2685
How can we download your fork and did you make any db changes?

[2020-02-29 15:58] andriux1990 commented on #2685
It is true not shown. It was fine, I don't know what it is. then I see it to fix it, maybe one (,) nothing serious

[2020-02-29 16:00] andriux1990 commented on #2685
If the mobile version is super good. It can be sold in a very easy way

[2020-02-29 16:05] andriux1990 commented on #2685
I will make a documentation and create a better zip to integrate it and you can download it, I will also explain how to apply these changes in a very easy way

[2020-02-29 17:36] andriux1990 commented on #2685
I already sent you the invitations. First I will upload the latest version of ospos and then I will apply the changes by making a step-by-step committee.

where I have trouble is in register with the ajax. maybe you can help me ah

[2020-02-29 17:39] odiea commented on #2685
Yes I received the Invite. I will try to help you out when I can.

[2020-02-29 21:07] #2695 closed

[2020-03-01 01:43] discapacidad5 commented on #546
install everything following the instructions and I get the same error I see this information but I do not know where I should paste the have not put all the complete information where I should place this data.

[2020-03-01 17:52] daN4cat commented on #2736
Fixed and in master. I close.

[2020-03-01 17:52] #2736 closed

[2020-03-02 13:03] nathanzky opened #2744 "Import Item csv"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-03-02 13:27] andriux1990 commented on #2744
You must be doing something wrong ... because the CSV import works fine. check the columns that everything is in order and that each cell has what it should have, and if they have barcodes, make sure they are not already in the db

[2020-03-02 17:13] daN4cat commented on #2744
Have you generated the csv with excel or something else?

[2020-03-02 21:16] myosotisgit opened #2745 "Detailed Transactions report is not displaying details by default. (expand/collapse)"
### Background information

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.com/opensourcepos/opensourcepos/issues?utf8=%E2%9C%93&q=is%3Aissue) and no similar issue was already reported (please make sure you searched!)
- [x] Read [README](https://github.com/opensourcepos/opensourcepos/blob/master/README.md), [WHATS_NEW](https://git

[2020-03-02 21:21] myosotisgit commented on #2744
@nathanzky
I have spend a few hours on the importing of a csv file, generated from a very old version of ospos (v1.x). I finally managed.

Please note that ospos (current version) can be picky on what is imported! For example,
- empty rows/columns will not work
- NULL values will not be imported, for example on the ID column
- any value in columns like 'allow alt descr' will enable the option. If

[2020-03-02 21:27] myosotisgit commented on #2744
Another tip, If you work with 1 or more stock locations use this procedure:

- First create the stock location(s) (config > Stock)
In my example i have 1 location called "winkel" so i changed the default value.

Go to items
download the csv template

Add your articles to this csv.
Upload the csv file.

I have included an xslc example (with my stock location column) that works

[Copy of import_item

[2020-03-03 02:13] izeblood commented on #2734
The cause of not displaying all items right after you upload it using CSV import is the Timezone. Synchronize your OSPOS timezone and your computer timezone. that's it... I'll test it several times......

[2020-03-03 02:16] izeblood commented on #2734
there is no bug here...only the timezone must be sync between pc and ospos

[2020-03-03 02:31] izeblood commented on #2734
To whom it may concern.
 I encourage everyone to please test it first all the possible way in order to solve problem so that we can simplify complex problem to minimize the STRESS of the developers.
:-)

[2020-03-03 06:32] ramemon opened #2746 "Implement feature of Discount on Subtotal"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-03-03 06:52] #2746 closed

[2020-03-03 06:53] daN4cat commented on #2746
No information. I close.

[2020-03-03 06:55] daN4cat commented on #2734
Sometimes you don't really consider all the possible scenarios.
To be honest I'm not sure I understand the time implication between client and server with CSV import.
Can you please tell us how to recreate it?

[2020-03-03 07:04] daN4cat commented on #2734
CSV import is a red herring.
The problem is that the web browser time is used for the filtering where the items are indeed saved using the server time.

It's something to flag in the FAQ and installation procedure.

[2020-03-03 07:06] daN4cat commented on #2734
It will be an installation note, not a fix but we can probably highlight something in the System Info tab under Configuration.

@webshell can you please add the time sync check to that page?

[2020-03-03 07:09] daN4cat commented on #2744
@objecttothis any chance you can improve the import feature to avoid the issues reported above?

[2020-03-03 07:09] daN4cat commented on #2744
@myosotisgit thanks a lot for all the tips, very good. I'll add to the FAQ this link.

[2020-03-03 07:15] ramemon commented on #2746
@daN4cat , you need information regarding what?

[2020-03-03 07:32] daN4cat commented on #2746
Read the template.

[2020-03-03 08:31] objecttothis commented on #2744
Do you mean these?

I need more information on what "empty columns will not work" means.  If, by empty columns, it means that if any cell is empty then it kicks an error, then I can change that so that if required cells are empty it will kick an error, but otherwise will process the row without error, but I need clarification.

I can change the code so that it just skips empty rows without error.

[2020-03-03 09:56] WebShells commented on #2734
Sure will

[2020-03-03 12:23] myosotisgit commented on #2744
Logically speaking, empty columns (no required ones) will throw an error. Makes sense.
But empty rows should be ignored. But you shouldnt have empty rows on the import file anyway i hope :-)

This is understood and appreciated!

With documentation this could be made clear :-)

Now that you mention it. The error modal (popup) disappears after a few seconds.
It would be nice if this modal would stay

[2020-03-03 13:10] daN4cat commented on #2744
I agree for the unchecked cases.

[2020-03-03 14:28] myosotisgit commented on #2745
Im searching through the code to find the "plus" and "minus" expand functionality. But so far i cannot find it. Im guessing i should look in the /application/helpers ?

[code]

[2020-03-03 14:54] myosotisgit opened #2747 "Column selector options are not stored/saved after page reload"
To reproduce:
- Go to Reports > Detailed transactions
- Deselect "type, Sold To, sold By"
- Reload page
The columns that you just deselected are displayed again...

And where are the "default" columns defined anyway?

### Background information
- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.com/opensourcepos/opensourcepos/issues?u

[2020-03-03 14:58] odiea commented on #2745
Look under app/views/reports/tabular_details at the bottom you will see. onExpandRow:

[2020-03-03 15:17] myosotisgit commented on #2745
Found it. If i understand it correctly, the function onExpandRow will show the detailed data for this transaction. This function is found in the minified js file and inside the Bower_compenents.

Now how to trigger it so the details always expand by default ?

[2020-03-03 15:22] odiea commented on #2745
That's as far as I can help.

[2020-03-03 15:24] myosotisgit commented on #2745
i found this on the Bootstrap Table website: https://bootstrap-table.com/docs/api/events/#onexpandrow

**onExpandRow**
jQuery Event: expand-row.bs.table
Parameter: index, row, $detail
Detail: Fires when click the detail icon to expand the detail view, the parameters contain:
index: the index of the expanded row.
row: the record corresponding to the expanded row.
$detail: the DOM element of the det

[2020-03-03 15:35] myosotisgit commented on #2745
This is some complex Javascript wizardry inside bootstrap-table  js .........
Goes above my head right now

[2020-03-03 16:30] daN4cat commented on #2745
Have you checked whether there is any property allowing you to have it expanded by default?

[2020-03-03 16:52] myosotisgit commented on #2570
I checked the code that is used to generate the overview of total/amount due. Here are the changes that are needed. **Pls note that any manual change to the core code will be overridden once you install an update!!!** you are warned

This code could be added to the source but i (still) dont know how to do that (aka pull request)

- open file application/views/sales/register.php
- Find line 449 (se

[2020-03-03 18:53] myosotisgit commented on #2745
I understand the code a little bit better (but the core team can correct me).
This app uses the bootstrap-table (with a few more extensions) for bootstrap core.
In bootstrap-table are included the "toggle", "export" and also this onExpandRow functionality.

So the question is where is the jquery that checks the mouse click to expand, set it to true by default.
Or add a jquery to body-onload to exp

[2020-03-03 19:57] jekkos commented on #2738
@objecttothis Did my answer in the PR suffice on this one?

[2020-03-04 07:24] objecttothis commented on #2744
I'll get on it then.  I have a bit of a backlog, so if it's needed before 3.4.0, I'll need some help.  Someone updating the documentation would speed things along.

Planned changes:
- Empty rows are ignored.
- If a checkbox value is 0, FALSE, '', or spaces then this will be submitted to the database as unchecked.  ANY other value will translate to checked.
- Update documentation to reflect the abo

[2020-03-04 09:51] objecttothis opened #2748 "Money not properly representing in OSPOS"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-03-04 12:06] daN4cat commented on #2748
I was under the impression that we stored values with more than 2 decimals. I believe we had in the past cases for 3 decimals.

[2020-03-04 12:10] daN4cat commented on #2748
BTW the problem with storing it as integer is that if you move from 2 to 3 decimals due to some new regulatory obligation you would have old data x 100 and new data x 1000.
How are you going to manage that with an integer story?
Where having a float with 3 or 4 decimals will not be a problem for you.

[2020-03-04 18:51] objecttothis commented on #2748
I'm not married to the idea of storing it as an integer.  I think that is the limitation of storing as an integer.  Although, if you change the number of required decimals, the old data is easy to change... you just run a migration script that would multiply all money fields by 10 (if increasing the number of decimals).  Decreasing would require you to either truncate or round (going from 4 to 3,

[2020-03-04 18:54] objecttothis commented on #2748
My database says 15,2 for unit_price in the items table.  What does yours say?  Mine was migrated from an old 1.x version, so maybe I missed some boat somewhere.

At any rate, I'm getting a wonky value and I'm guessing that its endemic of the system not just my code since my code is using our locale_helper to get it's values.  The question is, what do we do about it?

[2020-03-04 20:33] myosotisgit commented on #2745
I went to the bootstrap-table github page and asked a similar question. This is an answer i got. Now the real question is how to integrate this into ospos?
https://github.com/wenzhixin/bootstrap-table/issues/4922#issuecomment-594092935

And here is the JSFiddle
https://live.bootstrap-table.com/code/UtechtDustin/2095

[2020-03-04 21:53] odiea commented on #2745
All I had to do was to add the following after the last function and before the </script> in app/views/reports/tabular_details . Then click on any + sign and all the tables will Expand.  Appears to work good but you have to - each one individually.
[code]

[2020-03-04 22:05] SteveIreland commented on #2748
unit_price has been stored as 2 decimals for years.  If you take it out of the database as a 2 decimal position value and then through some JSON transformation a rounding issue manifests itself then it seems logical that this is a but in the transformation code and not a database issue.

If you run a simple SQL against the data does it display something other than 2 decimal positions?  That would

[2020-03-04 22:10] myosotisgit commented on #2745
YES!
That works beautifully. I dont mind to click the minus multiple times. (or just reload, that also works!!)

I was digging a little deeper into Bootstrap-table. It seems that the included version for bootstrap-table is 1.12.x. Current version (with more options for toggles, etc) is 1.16.x.

But im very happy with the code from Bootstrap-table and the comment by @odiea on where to put the code

[2020-03-04 22:10] #2745 closed

[2020-03-04 22:36] myosotisgit commented on #2747
I looked into this a bit. The toolbar (and table) is generated by the "Bootstrap-table" bower plugin. And this plugin (see bootstrap-table.com) also does not store/save the deselected/selected column toggles. So it might be a stretch to get this functionality.

However, in v1.16.x of bootstrap-table they have added the option "showColumnTogleAll".
https://bootstrap-table.com/versions/1.15.5/docs/a

[2020-03-04 23:15] odiea commented on #2747
It does work but it removes the ability to upload any tables and it also adds the Rewards table twice for some reason.

[2020-03-05 00:08] izeblood commented on #2685
@andriux1990 could you add me to your repository? Good Job!

[2020-03-05 01:29] #2692 closed

[2020-03-05 09:55] myosotisgit commented on #2747
I dont understand the "removes the ability to upload tables". Is there an option to upload tables??

I have added the "showColumnsToggleAll" option but in my installation i dont see the option in the pulldown menu

![image](https://user-images.githubusercontent.com/10197201/75969877-dc91b800-5ecf-11ea-9e68-390b573f98e1.png)

[2020-03-05 10:43] odiea commented on #2747
This is the appearance I get using the example.
![2020-03-05 03_41_14-Window](https://user-images.githubusercontent.com/10962177/75974084-75eea900-5e93-11ea-8771-f022cd6a233f.png)

[2020-03-05 10:46] myosotisgit commented on #2747
Did you add the "showColumnsToggleAll" option to application/views/reports/tabular_details.php ?

[2020-03-05 10:52] odiea commented on #2747
This below load view partial header
[code]
Then
[code]

[2020-03-05 11:52] myosotisgit commented on #2570
As mentioned in my previous comment, i edited the minified css file directly. Of course this is not the most ideal way.. Here is a way to avoid this and use your own custom.css file

1. Add custom.css to /public/css
2. Add stylesheet definition to application/views/partial/header.php
3. Add custom css to custom.css

If you follow the steps above your css modifications will not get lost when updati

[2020-03-05 11:54] myosotisgit commented on #2570
I would go further and suggest that the css styling of "Amount due" will only change when the amount due is anything other then 0...

[2020-03-05 13:35] andriux1990 commented on #2685
Yes of course @izeblood. I recently started working but this time under adminLTE 3

[2020-03-05 16:39] odiea commented on #2747
It does add quite a few Improvements over the standard table.

[2020-03-05 17:11] daN4cat commented on #2747
Maybe we should update the table widget but with 3.4.0.

[2020-03-05 17:23] odiea commented on #2747
It allows page refresh, auto expand works ,full screen display and Toggle all .
[code]

[2020-03-05 17:54] odiea commented on #2747
@daN4cat Let me know what to change and I will give that a try.

[2020-03-05 20:23] odiea commented on #2747
Appears to work good in Detailed Transactions but the other Reports that use Tabular_details do not.

[2020-03-06 09:41] jitendrac opened #2749 "Trying adding new items, form appears as blank box."
https://github.com/opensourcepos/opensourcepos/blob/f4487947c5e5fc7c1d1ff09162bb9482459bcbee/application/views/items/manage.php#L66

I tried to find view,Debugger shows Internal Server Error at Ajax request to public/items/view
I also renamed form.php to form_view.php, Its still not working.
/application/views/items/form.php seems to have some error.

[2020-03-06 12:38] odiea commented on #2749
IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.

[2020-03-06 12:38] #2749 closed

[2020-03-06 18:30] jekkos commented on #2657
I'll have a look at those bugs assigned to me maybe tonight, hope that won't take too long.

[2020-03-06 19:31] jitendrac opened #2750 "Trying adding new items, form appears as blank box."
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-03-06 20:02] odiea commented on #2750
If you see the item edit dialog box empty starting with version 3.3.0, please disable only_full_group_by option from MySQL/MariaDB. See issue #2538.

[2020-03-06 20:30] #2704 closed

[2020-03-06 20:54] odiea opened #2751 "Thanks Jekkos. The latest commits wiped out my Master."

[2020-03-06 21:10] neilsuk opened #2752 "Database creation"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-03-06 21:19] odiea commented on #2752
Yes you need to download from bintray under install.md

[2020-03-06 22:04] jekkos commented on #2380
@tmn14 It seems that there are no more official hebrew files for CI. Demo server was set to hebrew today and I found it in a bad state (not able to load any page). I temporarily removed the option until a solution is found.

[2020-03-06 22:06] jekkos commented on #2380
@tmn14 you could either try to contributre system translation to ci-translations project as a solution, or otherwise if you agree to use english as a base language, also fine.

[2020-03-06 22:09] jekkos commented on #2751
How do you mean?

[2020-03-06 22:14] odiea commented on #2751
After getting the commits all I see now is a small login on the upper left corner and nothing works.

[2020-03-06 22:17] jekkos commented on #2751
Ok are you on a git clone of the project?

[2020-03-06 22:18] odiea commented on #2751
Yes I am

[2020-03-06 22:18] jekkos commented on #2751
Ok I see the issue. Something wrong in the resource loading, lemme check.

[2020-03-06 22:23] jekkos commented on #2751
Ok pushed a fix for this.

[2020-03-06 22:39] jekkos commented on #2751
@odiea problem fixed or?

[2020-03-06 22:42] odiea commented on #2751
It appears to be so I will try and recover whats left after I get my grand kids

[2020-03-06 22:54] jekkos commented on #2751
It seems that docker hub images weren't build for quite some time, trying to fix that as well now.

[2020-03-07 08:53] jitendrac commented on #2750
Thanks, Disabling option made it works.
The default behavior of newer mysql versions will all raise same error, It should be marked as required change, and added to projects todo list.

[2020-03-07 08:53] #2750 closed

[2020-03-07 11:42] odiea commented on #2751
Thanks. Worked as expected this morning.

[2020-03-07 11:42] #2751 closed

[2020-03-07 12:58] odiea commented on #2750
It should also be read from the FAQS prior to Installing OSPOS.

[2020-03-07 13:56] jekkos commented on #2751
I've added a cronjob to the demo to refresh every hour, let's see if that helps for stability.

[2020-03-07 14:03] jekkos commented on #2751
Seems that the docker hub access token disappeared for unknown reasons. I regenerated the token now to get the autodeploy up and running again. Let's see if that works.

[2020-03-07 14:13] jekkos commented on #2657
Ok spent too much time trying to get build/deploy pipeline back up and running, I'll have to find another moment to take a look. Docker push works again now, demo server webhook kicks the redeploy after, but there's one more issue when you run the app in testing (due to changes in `config.php`)

[2020-03-08 10:49] #2752 closed

[2020-03-08 10:49] #2728 closed

[2020-03-08 14:20] odiea commented on #2751
The only issue I have now is with the following screen overlay not disappearing. Any Ideas. I have tried replacing the Items Controller and Model with no luck. Not important just wondering.
![2020-03-08 08_17_15-Window](https://user-images.githubusercontent.com/10962177/76164564-9168e680-6115-11ea-8b26-054190fba49e.png)

[2020-03-09 03:48] andriux1990 commented on #2728
Super .. very good @odiea

[2020-03-09 10:25] objecttothis commented on #2665
@jekkos, Do you want me to do this one or do you want it?  We need to be able to use a colon in the attribute values, so it looks like either we are going to need to use a different character as a separator or we will need to read out the result from the data structure like you proposed.

[2020-03-09 10:53] #2740 closed

[2020-03-09 18:11] #2711 closed

[2020-03-09 18:56] jekkos commented on #2722
I have disabled sorting for now, I'll try to see if I can come up with a solution to make it work, but it does not seem to be straightforward.

[2020-03-09 23:06] discapacidad5 commented on #2463
Hi I do not speak English, I am using the Google translator but I am also interested in this AAPI
I would like that when you sell an item the system sends an Api Rest to an external system
the idea would be that the program has a space in which you place your reset code of your external system and in each article you place the variable that is filled in the code in this way it would be an app and

[2020-03-09 23:32] discapacidad5 commented on #2676
I want to inform you that I was looking for the same problem for many hours and this simple step solved all my problem.

[2020-03-10 00:41] discapacidad5 commented on #1988
I did the installation of this program because I loved this option of the double currency but it is searched for all the forms and it does not appear to me to establish the double currency I thought it was my installation and I went to the demo version and it does not appear either could you inform me a little more like being able to use this alternative.

[2020-03-10 08:35] daN4cat commented on #1988
@discapacidad5 I'm afraid it's not implemented.

[2020-03-10 08:40] daN4cat commented on #2676
So it was the AllowOverride All issue ???

[2020-03-10 08:41] daN4cat commented on #2463
@objecttothis is working on hooks to call external APIs.
It's part of a development branch.

[2020-03-10 08:45] objecttothis commented on #2463
@discapacidad5 once the 3rd party integration feature is released, you will still need to develop the integration that talks to the API that you are wanting to communicate with.  I am developing one for a CMS that we use, but it's specific to that API.

[2020-03-10 10:07] trongcauhcmus opened #2755 "Wrong path nginx config file"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-03-10 12:25] odiea opened #2756 "Current bintray files displaying the following."
Cannot add an item to Receivings or Sales
ERROR - 2020-03-10 06:21:00 --> Severity: error --> Exception: Class 'Token_barcode_price' not found C:\wamp64\www\3112020\application\models\tokens\Token.php 30
ERROR - 2020-03-10 06:21:35 --> Severity: error --> Exception: Class 'Token_barcode_price' not found C:\wamp64\www\3112020\application\models\tokens\Token.php 30
ERROR - 2020-03-10 06:22:24 --> Se

[2020-03-10 12:29] andriux1990 opened #2757 "error adding item in bintray and master"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-03-10 13:23] andriux1990 commented on #2466
Because we don't push this. I'm going to test thoroughly, day by day to see how it goes

[2020-03-10 14:04] daN4cat commented on #2755
Thanks for the report, I probably fixed already in 3.3.2. Not release yet.

[2020-03-10 14:33] odiea commented on #2756
I have also noticed that in Sales and Receivings there is no longer a default quantity of 1. What happened to that?

[2020-03-10 18:41] discapacidad5 commented on #1988
In the tutorials appears and appears the way how to enable it in the system there is no such option already install even the latest version in development and is not.

https://github.com/opensourcepos/opensourcepos/wiki/Alternate-Currency-Receipts-and-Invoices

[2020-03-10 18:55] discapacidad5 commented on #2676
I did several tests I installed several times even several versions have the tutorial do not specify that this should be done but it is important because otherwise you already passed the system after you put the password I show an error page in login So you left here a copy of the modification that must be done to make everything work.

`#nano /etc/apache2/apache2.conf`

CTRL + w   search  ` <Dire

[2020-03-10 20:09] discapacidad5 commented on #2463
Not necessarily
Because if for example in the OSPOS in each article I put an additional field that each person can name and that field becomes a variable
 then in settings created an empty field to paste an Api Rest & with the parameters as I want the RESET to be sent
 those parameters will collect the variables that were saved in each product then in the pay button placed the shipment of that API

[2020-03-10 21:05] jekkos commented on #2757
Yeah I'm aware.. fix is underway

[2020-03-10 23:16] jekkos commented on #2757
Ok I have reverted these changes, master should be fine again.

[2020-03-10 23:17] jekkos commented on #2756
Thanks for reporting this. This should be fixed. I have reverted this accidental commit until it is fully validated.

[2020-03-11 09:12] #2757 closed

[2020-03-11 09:12] #2756 closed

[2020-03-11 11:47] daN4cat commented on #2676
Thank you for the clarification

[2020-03-11 12:29] andriux1990 commented on #2757
Thank you @jekkos

[2020-03-11 14:16] objecttothis opened #2758 "DROPDOWN values containing '&' added to existing attributes fail"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-03-11 21:31] #2644 closed

[2020-03-11 22:31] #2703 closed

[2020-03-12 07:31] khadev commented on #1607
1-you must edit php.ini file on xampp  c:\xammp\php\php.ini
2-than downloading the following DLL file from https://fr.dll-files.com/ :
oci.dll
fbclient.dll
libsodium.dll
3-after copy the dll file on C:\Windows\System32\
that's all

[2020-03-13 08:02] objecttothis commented on #2758
In my debugging, I'm discovering that this likely has to do with the view.  It's unclear to me why, but when the attribute exists and you submit a new DROPDOWN value containing an '&' the post('definition_values') variable is null from the view.  If the definition doesn't exist or exists but the new value does not contain '&' then the variable is fine.

Here is the $_POST sent to Attributes->save_

[2020-03-13 08:06] objecttothis commented on #2758
The second example appears to be sending through a JSON encoded definition_value, but a pre-existing attribute doesn't send that through.

[2020-03-13 08:34] daN4cat commented on #2758
Checked with different browsers?

[2020-03-13 08:38] objecttothis commented on #2758
No, so I just checked it in IE and Edge.  Both have identical behavior to Firefox described above.

[2020-03-13 08:40] objecttothis commented on #2758
Curiously, jquery doesn't kick back an 'invalid character' error.  It just never gets JSON encoded and sent in that particular variable.

[2020-03-13 08:59] objecttothis commented on #2665
@jekkos, I'm not seeing where we are using the colon (:) for delimiting.  If I remove "\:" from
/views/attributes/form.php (140)
`        if ($("#definition_value").val().match(/(\||:)/g) != null)`

It passes all of the tests that I've thrown at it.
- Add a DROPDOWN attribute value containing a colon
- Add multiple DROPDOWN attribute values with one or more containing colons
- select an attribute

[2020-03-13 12:27] objecttothis commented on #2758
I'm getting closer

The offending code in the /views/attributes/form.php (145-162) is treating new attributes differently than existing.  When the attribute is new, it uses `values.push(value);`, but when the attribute definition is pre-existing, it sends the value, unescaped in the POST.  I'm guessing, based on the article below, that the unescaped & is breaking the POST, so nothing for that vari

[2020-03-13 12:30] objecttothis commented on #2758
OK, so by changing
`			$.post('<?php echo site_url("attributes/save_attribute_value/");?>' + value, {definition_id: definition_id});`
to
`			$.post('<?php echo site_url("attributes/save_attribute_value/");?>' + escape(value), {definition_id: definition_id});`

The bug goes away.

[2020-03-13 13:35] objecttothis commented on #2748
@SteveIreland I don't think the database is the issue.  I think it's PHP that is the issue.  There are dozens of articles about PHP and other languages talking about how they handle floating point values and how to "tame the beast".

Honestly, I'd prefer the least invasive change that gets the job done.  No need to overhaul the code if we can help it.  We can also make a mistake if we ignore it as

[2020-03-13 21:25] jekkos commented on #2748
@objecttothis how did you get to this value? I think it should be easy now to add a unit test that verifies this behavior in our code. I would be surprised that if we set formatting to use the configured amount of decimals, it ends up with a lot more.

Issue might be somewhere after in generating the json (yet another way of representing numbers there).

[2020-03-13 21:26] jekkos commented on #2758
Thanks for solving this @objecttothis ! Indeed this sounds like a html entity escape issue.

[2020-03-13 21:39] jekkos commented on #2665
@objecttothis indeed currently I think only underscores and pipes are not allowed. So I should update the code to validate on those tokens instead.

[2020-03-14 01:01] jekkos commented on #2667
@WebShells any chance of testing whether we can just select the text and copy it?

[2020-03-14 07:16] #2758 closed

[2020-03-14 16:07] bhojkamal opened #2765 "problem with adding new item, updating item, after attributed is added."
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-03-14 16:10] compuls1v3 commented on #2744
I'm also getting the same error.

[2020-03-14 16:26] objecttothis commented on #2744
I think I can work on this Monday when I'm back in the office.

[2020-03-14 16:38] odiea commented on #2765
Background information
IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.

[2020-03-14 16:38] #2765 closed

[2020-03-15 15:46] myosotisgit commented on #2744
I looked on other issues for the import csv functionality as i am looking to find an answer on these questions:
- Can i import with the item_id column ?
- Can i update, for example, stock quantities by re-importing an updated csv file?

Its seems that this functionality is planned for a future version?
See
- https://github.com/opensourcepos/opensourcepos/issues/2636
- https://github.com/opensource

[2020-03-15 16:14] WebShells commented on #2667
Will find a workaround for this :/

[2020-03-16 01:38] andriux1990 opened #2766 "Error between the barcode and the item id. by adding it for sale"
I have an item that has the id with the same barcode number from another product.
The mistake is that when I select this product by barcode the same id as another product. then the wrong product is added to the sale. Instead of adding the product by its barcode, it adds it by its id.

[2020-03-16 06:32] daN4cat commented on #2766
What about the information in the template?

[2020-03-16 07:28] objecttothis commented on #2738
I'm not seeing which response was addressing the issue of attribute links being removed and then recreated each time.  Can you tell me which PR it was in?

[2020-03-16 12:17] andriux1990 commented on #2766
![DeepinScreenshot_20200316061406](https://user-images.githubusercontent.com/29256343/76757598-73bb0300-674d-11ea-8e28-315f3c82583f.png)
![DeepinScreenshot_20200316061422](https://user-images.githubusercontent.com/29256343/76757599-74ec3000-674d-11ea-869a-ac139ca643a1.png)

For example look here at the two selected products. one has an id number 22, and the other element has a barcode number 22. w

[2020-03-16 14:55] #2673 closed

[2020-03-16 15:25] objecttothis commented on #2625
@opensourcepos/org We need to decide on how we want the CSV import to process certain values in OSPOS CHECKBOX attribute types.

0:
NULL: Do not create attribute.
FALSE:
"": Do not create attribute.
[spaces]: Do not create attribute.
1: Create attribute and mark it as checked.
TRUE: Create attribute and mark it as checked.
[All other values]: Create attribute and mark it as checked.

From the list

[2020-03-16 18:04] mckaygerhard commented on #2766
i cannot understand what happened! two products has same barcode? in any case if this are possible! of course the difference will be the id of the product (id field at the database table)

can you elaborate it? please @andriux1990 ?

[2020-03-17 13:10] data2base opened #2767 "Auto logout OSPOS"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-03-17 13:43] daN4cat commented on #2767
If tour internet connection change IP constantly that might cause the log out.
Check the config.php file and disable that option. But that reduces the security protection of your system.

[2020-03-17 13:57] data2base commented on #2767
Thanks, what should i remove from the config.php file?

[2020-03-17 14:15] data2base commented on #2767
An is it in applications/config/config.php?

[2020-03-17 15:12] daN4cat commented on #2767
That's the file but can't remember from the top of my head the correct line. Read the file through to find out.

[2020-03-17 15:53] odiea commented on #2767
Could it be this line?
$config['sess_match_ip'] = TRUE;

[2020-03-17 18:05] daN4cat commented on #2767
Yes

[2020-03-17 19:28] Jazu512 opened #2768 "database file not found"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-03-17 19:33] odiea commented on #2768
IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.

[2020-03-18 06:31] data2base commented on #2767
Thanks I've made the changes, ill advise later in the day.

[2020-03-18 09:26] objecttothis commented on #2667
@WebShells I would imagine that the quickest way to resolve this would be to have the link give you pre-formatted wiki-text to highlight, then copy/paste manually.  Then later we can look into a library to work around the issue without introducing vulnerabilities.

[2020-03-18 09:28] objecttothis commented on #2744
@myosotisgit currently the import treats all rows as new.  There is a planned functionality to allow an update import, but several issues need to be navigated in the design of that feature.  You're welcome to contribute code if you would like to speed things along, Otherwise, it is a future planned change.

[2020-03-18 09:33] objecttothis commented on #2625
@daN4cat @jekkos  thoughts on my above comment?

[2020-03-18 11:02] objecttothis commented on #2625
OK, I am submitting the pull request with 0 and FALSE creating a checkbox but setting it's value to unchecked (0).  If people feel strongly that we should do something else, then I will come back to it at that time.

[2020-03-18 12:32] objecttothis commented on #2744
Pull Request #2739 changes behavior:
- Empty rows are ignored
- 0, FALSE values translate as an attribute checkbox being created but unchecked.
- "", NULL and spaces cause no checkbox attribute to be created.
- TRUE, 1 and all other values cause a checkbox attribute to be created and checked.
- Non-required fields no longer throw an error.

[2020-03-18 12:57] objecttothis commented on #2744
OK, the rest of this needs an owner

https://github.com/opensourcepos/opensourcepos/wiki/Import-data-from-CSV-file updated to reflect
- the current file structure of the CSV Item import.
- The current handling of different attribute types (acceptable values, unacceptable values)

With the quarantine it is imperative that I get some of these other pull requests moving so that our business can switc

[2020-03-18 14:46] andriux1990 commented on #2766
Perhaps this does not concern them. Because this tends to cause problems when you have products with id equal to the barcode

[2020-03-18 14:49] andriux1990 commented on #2685
I have not had time. this weekend I will commit with adminlte 3 and upload changes

[2020-03-18 20:01] odiea commented on #2766
Can't you set that up to see the item with search suggestions.

[2020-03-19 09:05] data2base commented on #2767
Seems to be working! Thanks for the help. :)

[2020-03-19 09:05] #2767 closed

[2020-03-19 09:52] #2768 closed

[2020-03-19 10:06] daN4cat commented on #2767
Good but an ISP changing IP so often is unusual. I would check the reason for that because it might be due to some connectivity issues.

[2020-03-19 10:22] daN4cat commented on #2768
I will create a label "Crystal ball required" for these cases.

[2020-03-19 14:01] andriux1990 commented on #2766
if this could be done. the problem is that I pass the barcode reader over the product and add another product for sale

[2020-03-19 14:09] andriux1990 commented on #2452
I tried to solve this, but I couldn't. I had trouble with special characters every time I use a new ospos branch. and if I change to FALSE, I can't add images to the products.

[2020-03-20 03:10] WebShells commented on #2716
Demo server facing issues again, not my fault this time guys ;p... Had some time wanted to check the installation info page... Please check demo, thanks <3

[2020-03-20 07:05] jekkos commented on #2716
Logged into it, seems fine?

[2020-03-20 11:43] WebShells commented on #2716
Yesterday it wasn't, the tables weren't displaying, the system info tab was redirecting to main home... Anyway working fine now ! Will close

[2020-03-20 12:24] objecttothis commented on #2748
@SteveIreland here is an example that you asked for:
![database values](https://user-images.githubusercontent.com/17935339/77162210-db15e180-6ac4-11ea-8d9a-e1c8eab1d9dd.jpg)

and here is the JSON that my 3rd party integration is spitting out:
![JSON](https://user-images.githubusercontent.com/17935339/77162959-8ffcce00-6ac6-11ea-9b6b-e7fa5bae23b7.jpg)

The code in the items controller is `'unit_pri

[2020-03-21 08:44] jekkos commented on #2748
@objecttothis Ok this is really weird, as I showed in the unit test, the decimal rounding works as it should. Can you check the code in between the parse en the display? Maybe extend the unit test to see where the formatting changes.

[2020-03-21 08:48] #2723 closed

[2020-03-21 08:50] jekkos commented on #2733
@WebShells Any chance you can look into this? So we can get the 3.3.2 out.

[2020-03-21 22:45] WebShells commented on #2716
Demo bad gateway...

[2020-03-22 13:54] odiea commented on #2716
Working now.

[2020-03-22 16:48] #2691 closed

[2020-03-23 05:58] WebShells commented on #2716
Demo: Unable to load the requested language file: language/lao/form_validation_lang.php

[2020-03-23 08:22] objecttothis commented on #2470
In the item view, these attributes would be represented using the TEXTAREA input type which would allow newline by pressing enter.  Normally the enter key submits the form, but if the active input field is a TEXTAREA then it creates a new line.  We could potentially use jQuery to expand the field on focus (https://stackoverflow.com/questions/6379745/onclick-expand-textbox-width/21977908) and then

[2020-03-23 10:14] objecttothis commented on #2748
@jekkos, my code isn't manipulating the value, it's just passing it through as is until the json_encode.  I traced it back and I think I found the problem.  The save function in the Items Controller, doesn't call parse_decimals the same way you do in your unit test.  It calls the function as:
`'unit_price' => parse_decimals($this->input->post('unit_price')),`

your unit test calls
`$decimals = par

[2020-03-23 11:19] objecttothis commented on #2748
A little addendum.  I added the precision on my local copy and it didn't fix the issue.  I've traced it all the way back to my json_encode statement.  I'm going to look into understanding why json_encode is messing up the variable precision.

[2020-03-23 11:36] objecttothis commented on #2748
Found it: https://stackoverflow.com/questions/42981409/php7-1-json-encode-float-issue/43056278
I wish they would leave things alone.  We need to assess how this will affect other aspects of the code.  @daN4cat are we generally only using JSON for displaying success messages?  It seems like with versions of PHP starting in 7.1, they use a serialize with precision of 14 and you have to manually set

[2020-03-23 14:08] mikolok92 opened #2769 "Editing The Category Report Template"
Hi there, I would like to modify my report template (The category one) so that I can get reports via a selected category. If possible at the report input section, I get a dropdown for selecting a category then when I submit i get the report for the selected category. Any help will be appreciated.

### Background information

__IMPORTANT: If you choose to ignore this issue report template, your iss

[2020-03-23 21:41] jekkos commented on #2748
Well we could mock out the db call in this case so we can still verify behavior when we do not have any decimals defined (see the other test as an example, where I set barcode format that in the test itself).

[2020-03-23 21:44] jekkos commented on #2748
@objecttothis I already had a suspicion that it would be due to converting to json in this case, good find!

I think we should align the json behavior with what we configure in php for decimal and currency precision. Maybe the best place to configure this is in the decimal formatting code itself. We're not keeping any state in PHP beside what is processed in a request, so we don't have a lot of op

[2020-03-24 17:20] #2725 closed

[2020-03-25 04:23] izeblood commented on #2766
@andriux1990 The problem you raised is based on the experienced you encounter but this problem is very impossible. why? because barcode is cannot be done by your own... it is based on the product itself once manufacturer registered their product. common barcode composed of 12 to 13 digits and it's has different parts and symbol in order to facilitate the thousands of different items around the glo

[2020-03-25 13:29] objecttothis opened #2770 "$item_id not added to $item_data on Item Update in Items->save Controller"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-03-25 18:14] odiea commented on #2770
The following is the error I received when I changed the way you suggested. Now the name and category has dissappeared.
success: false, message: "Error adding/updating item coke", id: null}
success: false
message: "Error adding/updating item coke"
id: null

[2020-03-26 08:59] objecttothis commented on #2770
yeah, it fails for me as well.  I need to investigate why, if the item_id is part of item data, the save function in the model fails. I can also assign the item_id to the item_data after it does the save but before the trigger call, but I want to understand the code better, so I don't just resort to a hack.

[2020-03-26 10:00] objecttothis commented on #2770
Sorry, it was failing because I was setting the item_id to null essentially.  The code should read

[code]
I'm testing it now, to see if it behaves.

[2020-03-26 10:14] odiea commented on #2770
Could this be part of the issue. I tried the new way and also get the null error.
PRIMARY KEY (`item_id`),
  KEY `item_number` (`item_number`),
  KEY `supplier_id` (`supplier_id`)

[2020-03-26 15:54] wduvan opened #2771 "Subtotal error when Use Destination Based Tax"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [X] Reporting an issue of an unmodified OSPOS installation
- [X] Checked [open and closed issues](https://github.co

[2020-03-27 09:34] odiea commented on #2770
Yes that did the trick. I did not read very well on how you changed the $item_data['item_id'] = $item_id;

[2020-03-27 10:10] odiea commented on #2771
It appears that in 1 image you are using Tax included and not in the other image. So both appear to be correct.

[2020-03-27 10:13] objecttothis commented on #2770
Yeah, it's easy to miss.  I missed it the first time too.

[2020-03-27 15:42] wduvan commented on #2771
In both images the system is configured including taxes, please try and tell me

[2020-03-27 15:55] jekkos commented on #2771
no in the first you have `tax included` ticked, in the second image it's not ticked.

[2020-03-27 16:23] odiea commented on #2771
In tax module under Tax Jurisdiction change that to tax included and see if that does it for you.

[2020-03-27 20:46] wduvan commented on #2771
it's always been like this `Tax included`, pleas echeck the image...
![tax_included](https://user-images.githubusercontent.com/13259650/77799105-12930980-7042-11ea-8f3d-fe9d8efae52b.png)

[2020-03-28 02:04] SteveIreland commented on #2771
I'll do some testing over the weekend to see if I can identify the issue.  I have a lot more time available while isolating in the house trying to dodge Covid-19.  ;-)

[2020-03-28 19:26] SteveIreland commented on #2771
I've confirmed the issue and started working on a fix.  Why didn't the 5% tax show up in your example?  Is there something special about it or was it just not added to the item?

[2020-03-28 19:34] wduvan commented on #2771
I don't add tax to item, only 19 for the example

[2020-03-28 22:44] SteveIreland commented on #2771
Okay, I believe I've found and fixed. the issue.  You must be the first person on the planet to be exploring "destination based taxes" in an "tax included" scenario!

I'm going to run through various test scenarios for different tax configurations tomorrow to determine if I've inadvertently broken something else as a result of the change, but since it's actually a rather small fix I believe that's

[2020-03-29 14:46] wduvan commented on #2771
Sup, thank you!!!

[2020-03-29 15:12] saurabh261187 opened #2772 "Is there any way to bulk update the quantity of items? Lets say I did a stock check and found some discrepancies. Now I want to update all item quantities as per an excel sheet. What would be the easiest way to do that ?"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-03-29 21:36] SteveIreland commented on #2771
Unfortunately when I expanded my tests beyond just the sales component into the reporting area I found that the reports are also impacted and this raises the level of complexity of the change. I'm working on them now, but because the area of reporting is more complex I'll need to be much more careful and not rush it.  So I might not make the Sunday evening publishing deadline previously committed

[2020-03-30 03:34] SteveIreland commented on #2771
Definitely not going to make it tonight but I'm making progress.  The Daily Sales and the Detailed Transaction reports seem to be providing valid data again, but there are more scenarios to be tested.

[2020-03-30 11:36] jekkos commented on #2772
I can't think of any way beside using SQL directly here

[2020-03-30 16:48] WebShells commented on #2667
Well, Guys... I had the chance yesterday to look over it... Copy and paste can be reworked through firefox using ClipboardJS... Any problem attaching it to our header ?... If no problem the only thing to worry about is reformatting the final paste results... Currently can paste as unformatted text.

[2020-03-30 20:10] daN4cat commented on #2667
Add the js only to that page not everywhere please.

[2020-03-31 21:52] andriux1990 commented on #2766
you are right, thanks

[2020-03-31 21:52] #2766 closed

[2020-03-31 21:58] andriux1990 opened #2773 "auto focus items search"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-04-01 15:02] odiea commented on #2773
As far as I can tell that's the way it currently works.

[2020-04-01 15:09] andriux1990 commented on #2773
@odiea I just wanted to know what is the file where the form_input field is for searches in the item module

[2020-04-01 18:22] andriux1990 opened #2774 "CSV Import Suppliers"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-04-01 18:26] andriux1990 commented on #1412
is there any progress with updating the products with import csv?

[2020-04-01 18:46] objecttothis commented on #1412
The changes are finished and already merged into the master I believe. I don't think it's been released yet.

[2020-04-01 19:21] andriux1990 opened #2775 "employee view only for cashups that have been opened"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-04-01 20:00] andriux1990 commented on #1412
... how would this be ... would you have to put the product id for it to be updated?

[2020-04-02 12:28] objecttothis commented on #1412
Sorry, I misread your question. I thought you were talking about updating the import so that it didn't error on blank lines or missing fields that were not mandatory.  I understand now that you were asking about the ability to do a product update through csv import. It's a ways off I'm afraid unless someone else wants to implement it. I have some other very important tasks that have increased in u

[2020-04-02 17:50] andriux1990 commented on #1412
I understand, thanks for taking the time.
I have used csv imports lately and they are much better than before.

and everyone be careful with the coronavirus.

[2020-04-02 19:48] andriux1990 opened #2776 "Receivings"
Receivings do not receive much support or importance. And it is true that receivings is not as important as sales. But it is very fundamental in a business.

I am working on the maximum quantity, which would be the minimum quantity, but for the maximum and it sends me a warning when I buy more than recommended. I almost have this part. If you think it's convenient, I can do a PR for ospos.

I also

[2020-04-02 19:52] edwinhamers commented on #2772
This is currently not possible because the CSV import function does not support uploading with an product id. This question was raised before and even proposed changes were made. Make sure you use the search

[2020-04-02 21:41] aliferozrupani opened #2777 "Blank page issue after migration from Localhost to Hosting - Point of Sale"
Hello,

Hope you all are in good health. I'm having a issue of blank page after migrating my POS from localhost to live. Script based on Laravel PHP. Would you guys have any solutions? I'm using Salepro POS script.

POS-script link:
https://codecanyon.net/item/lims-stock-manager-pro-with-pos/22256829

[2020-04-02 21:45] odiea commented on #2777
What does this have to do with OSPOS?

[2020-04-02 21:52] odiea commented on #2775
You forget that OSPOS is really a Single User System.

[2020-04-02 22:03] andriux1990 commented on #2775
I know, I am very aware of that, but I have loved ospos so much that I was looking for a way to do it.

[2020-04-03 05:56] #2777 closed

[2020-04-03 14:02] jekkos commented on #2775
You could solve this by linking the cashup to a location. I wouldn't link it to an employee as that does not make sense. In fact this is something you need a multi-tenant setup for indeed.

[2020-04-03 14:52] andriux1990 commented on #2775
@jekkos you're right. the best way would be with location, and in expenses it could also be done with location. so that the cashups takes the expenses that I have made only this user and not the expenses that another user has made.

and the user with all the locations can see all the cashups and expenses

[2020-04-03 16:49] salarsheikh opened #2778 "how to handle customer credit"
Hello,

Can anyone tell me how to handle credit in point of sale software

[2020-04-03 16:53] salarsheikh opened #2779 "how to handle customer credit"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-04-03 16:54] #2778 closed

[2020-04-03 16:55] salarsheikh commented on #2778
close

[2020-04-03 17:04] #2779 closed

[2020-04-03 19:40] odiea commented on #2775
The issue I see with using locations is what if the location has multiple Registers ? Each employee would need to do their own cashup.

[2020-04-04 16:08] SteveIreland commented on #2771
I submitted pull request #2780 for this.  It impacts tax calculations so someone might want to make sure I didn't break their sales tax calculations and sales reporting.

If I did, please let me know and I'll apologize and make the necessary corrections.

[2020-04-04 18:17] daN4cat commented on #2771
Hope this didn't revert the fixed I made to the tax included calculations because they were not right.

[2020-04-05 00:06] SteveIreland commented on #2771
I also hope not ... tomorrow I'll look at history to find what it was you changed and confirm I didn't step on it.

[2020-04-05 12:27] andriux1990 commented on #2775
What exactly do you mean by this? In fact, the employee can see the sales of each employee in the reports. And you can also see the total sales total where all records of all employees are located.

The problem with cash and expenses is that any employee can change the information of another employee. Suppose there is an employee with bad intentions, you can do wrong with that and make changes to

[2020-04-05 12:35] andriux1990 commented on #2778
this worked for me #1427

[2020-04-05 12:45] odiea commented on #2775
What I tried to say was Yes filtering it by location would work if the Location only has 1 register. When the location has more then 1 Register I think it should be filtered by Employee also.

[2020-04-05 15:42] odiea commented on #2775
In employees I now have a checkbox for admin,manager and clerk to show what position they hold.
 I have each employee isolated to just show their sales, cashups and expenses.  What I would like to do is use the cashups open employee id to be used as the current employee id instead of using $employee_id = $this->session->userdata('person_id');.  Anyone have an idea on how to extract that info from

[2020-04-06 09:33] akhilnasi opened #2781 "Item Module is very very slow"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-04-06 13:26] andriux1990 commented on #2781
I don't know exactly what it could be ... the same thing happened to me with windows, I switched to Linux and I don't have this problem.

I don't have that many products, I barely have 7000 because I never repeat the products ... but ospos is super super fast.

check that the rows are 25 lines and see if xss is not affecting you

[2020-04-06 15:08] odiea commented on #2775
I will let you know once I figure out the admin or manager cashup issue. The cashups look ok once they are closed but not before if the manager or admin want to check to see how an employee is doing.

[2020-04-06 18:24] saydfuad opened #2782 "Receiving detailed report not showing all items"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-04-06 19:31] odiea commented on #2782
I am not able to replicate this issue.
![2020-04-06 13_29_53-Window](https://user-images.githubusercontent.com/10962177/78597512-e67a4400-780a-11ea-908f-b2ce7f7ba626.png)

[2020-04-06 19:54] saydfuad commented on #2782
@odiea  can you please try to replicate here : https://demo.opensourcepos.org/

[2020-04-06 20:58] waploaj commented on #2463
I have create a custom apis for receiving,sales,customer,items and supplier module , that communicate with our android app. But we have customise it to fit our business needs.i could share the project so you can tweak it to meet you requirements.

[2020-04-07 06:36] saydfuad commented on #2782
@odiea  any idea how you make your version work? I need to implement this ASAP

[2020-04-07 09:33] jekkos commented on #2463
@waploaj sure it would be nice to see what you made there and whether it is usable as a generic version. If you did a generic API for all these modules then I hope you could take the time to submit a PR so we can have a look there?

[2020-04-07 09:49] odiea commented on #2782
Lucky I guess. Where did you download this version from? Stable or unstable?

[2020-04-07 09:55] odiea commented on #2782
Does the Detailed Transaction  Report show a similar result with a multiple Item Sale?

[2020-04-07 11:46] saydfuad commented on #2782
I downloaded from Stable and yes it shows a similar result with a multiple sales

[2020-04-07 12:14] salarsheikh opened #2783 "When i delete customers it delete from the software but not from database."
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-04-07 12:33] odiea commented on #2783
Yes Customer uses a soft delete. This means it is marked as deleted but not deleted from your database.

[2020-04-07 12:41] salarsheikh commented on #2783
Why is it so?IS this a bug or it will should goes in this way?

[2020-04-07 12:45] salarsheikh commented on #2783
If this is a bug Can u guide e how to fix that ?

[2020-04-07 12:48] odiea commented on #2783
No it is not a bug. You can change this at your own risk.

[2020-04-07 12:53] salarsheikh commented on #2783
okay can u guide me how?

[2020-04-07 13:04] odiea commented on #2783
No it is not a bug. You can change this at your own risk.

[2020-04-07 13:06] salarsheikh commented on #2783
i wanted to change on my pc can u guide me how?

[2020-04-07 17:22] #2783 closed

[2020-04-07 17:23] daN4cat commented on #2783
It's called soft delete and it's normal practice to avoid having tables out of sync.
This is how the software has been designed.

[2020-04-07 21:08] andriux1990 commented on #2775
@odiea. any news, did you achieve any progress?

[2020-04-07 21:43] odiea commented on #2775
No. Still not showing correct amounts until the Cashup is closed.

[2020-04-08 14:18] salarsheikh commented on #2783
Ok thanks :)

[2020-04-08 20:16] andriux1990 opened #2784 "Secondary barcodes"
Hello ... I hope all is well in these difficult times.

this is not a mistake, I just have a problem with a few products.
I keep the products with the code that the box brings, it turns out that sometimes these same products come in smaller boxes. (Obiameten with less quantity but it is the same product). and it is very annoying to me not to be able to use the bar code with this, because if I chan

[2020-04-08 21:31] odiea commented on #2784
Have you tried using the allow duplicate barcodes under barcode in configs?

[2020-04-08 23:08] andriux1990 commented on #2784
Not because if I do it this way I would have to create more products of a single type.
I sell in units and these do not have barcodes, use the code to speed up the sale. (For example, if you sold pills, by units, they do not have barcodes)

[2020-04-09 01:41] andriux1990 opened #2785 "item_pics - create_thumb"
I take full advantage of the images that we can put on our products in ospos.

I don't just use it in the item module. I also use them in sales, as you can see here.
It is true that my ospos is fornicated, I do not deny it.

![CON ICONOS](https://user-images.githubusercontent.com/29256343/78847749-e6c23d00-79cc-11ea-8081-c032e4d43368.png)
![ICONOS](https://user-images.githubusercontent.com/2925634

[2020-04-09 09:20] odiea commented on #2685
@andriux1990 We are still waiting to see whats going on with this..

[2020-04-09 13:28] andriux1990 commented on #2685
@odiea do you have telegram?

[2020-04-09 15:54] odiea commented on #2685
I do not understand what you are asking for.

[2020-04-09 15:55] odiea commented on #2685
If you can upload it to your branch that would be great

[2020-04-09 17:27] odiea commented on #2685
Yes I just installed it. Did not know anything about it

[2020-04-09 19:11] odiea commented on #2685
As an example of how it is done could you zip and then upload a copy of the Register view?

[2020-04-09 19:54] andriux1990 commented on #2685
Ok i do it now

[2020-04-09 20:14] andriux1990 commented on #2685
Download adminLTE 3 https://adminlte.io.
then unzip and save to public dist

[2020-04-09 20:16] andriux1990 commented on #2685
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<base href="<?php echo base_url();?>" />
	<title><?php echo $this->config->item('company') . ' | ' . $this->lang->line('common_powered_by') . ' Neo ' . $this->config->

[2020-04-09 20:17] andriux1990 commented on #2685
This is the header (application / view / partial)

[2020-04-09 20:23] andriux1990 commented on #2685
![Screenshot_20200409_142216](https://user-images.githubusercontent.com/29256343/78937371-9ea72700-7a6d-11ea-8e9b-a4bea72fc059.png)

[2020-04-09 20:35] odiea commented on #2685
Sorry I just wanted a zipped copy of your Register view so I don't have to copy and paste all that info. Thanks. I already have adminlte3.

[2020-04-09 20:40] andriux1990 commented on #2685
Ahh ok. I understand, I'm in charge.
Look and you have the images, as I have. I need help there. because register does not show me the thumb images

[2020-04-09 20:43] andriux1990 commented on #2685
[register.zip](https://github.com/opensourcepos/opensourcepos/files/4458558/register.zip)

tell me if you downloaded it

[2020-04-09 20:51] odiea commented on #2685
I downloaded it thanks.

[2020-04-09 22:28] andriux1990 commented on #2685
success:function(r){
				var data  = jQuery.parseJSON(r);
				var result ="";
				$.each(data,function(i,item){

				     if(item.icon){
				       		var iconSrc=item.icon;
					    }else{
					    	var iconSrc="<?php echo site_url('items/pic_thumb/no-img.png'); ?>";
					    }

						result +="<a href='' class='select_item' rel='"+item.value+"'>";
						result +="<div class='sales__category--imag

[2020-04-09 22:41] odiea commented on #2685
Sorry I will look in the morning

[2020-04-10 01:54] andriux1990 opened #2787 "The MIT License (MIT)"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-04-10 02:27] WebShells commented on #2787
Added @andriux1990, welcome abroad :)

[2020-04-10 08:15] andriux1990 commented on #2787
Thank you very much to all. It feels great to be a part of this project.
because i love ospos

[2020-04-10 09:14] #2787 closed

[2020-04-10 09:28] odiea commented on #2685
I guess I will need the whole thing. Including a test db if possible. Yes I did install telegram.

[2020-04-10 10:41] objecttothis opened #2788 "Problems with Item->get_all() returning null for category"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-04-10 10:47] objecttothis commented on #2788
OK, this is clearly a bug.  I think it has something to do with the joins in the query and CI QueryBuilder.  If I add a Supplier to the item.  In this case SupplierID is 362, then it reports Category has having value 0 instead of null.  This tells me that something is not right because the actual category should be "Books", not 0.  It's unclear about where the '0' is coming from.

[2020-04-10 11:08] objecttothis commented on #2788
I've narrowed it down to this line

`		$this->db->join('suppliers', 'suppliers.person_id = items.supplier_id', 'left');

If I comment the code out, then I get a proper result.

[2020-04-10 11:25] objecttothis commented on #2788
When I write the query out by hand in phpmyadmin
[code]
It gives me a proper result.  This might be a bug with QueryBuilder.  I'm going to replicate the same query in the code without using QueryBuilder and see if it works properly.

[2020-04-10 11:41] objecttothis commented on #2788
I'm scratching my head.  The above query in phpmyadmin returns correct results for category, but when I hand write the query in the function it still gives me bad data for category:
[code]
That likely means its not QueryBuilder, but it could still be within the codeigniter framework that I am sending the query and it's formatting the results.  @daN4cat @jekkos thoughts?

[2020-04-10 12:26] objecttothis commented on #2788
It's not CI.  I wrote the query out completely bypassing CI and got the same bad results (incorrect data in Category).  I don't understand why a direct query (above) gives me correct results in phpmyadmin, but incorrect results here:

[code]

[2020-04-10 13:08] andriux1990 commented on #2685
it's okay
What is your Telegram account or phone number?

[2020-04-10 13:20] odiea commented on #2685
How do I find my account

[2020-04-10 13:27] andriux1990 commented on #2685
It is the username you have entered. you can put for example odiea

[2020-04-10 13:28] andriux1990 commented on #2685
you can find me by andruix1990

[2020-04-10 13:33] odiea commented on #2685
Odie A ?

[2020-04-10 13:39] andriux1990 commented on #2685
I can not find you. You can look for me as @ andriux1990 or
add me +505 88200410

[2020-04-10 13:42] gkapaino opened #2789 "Call to undefined function bcscale() IN NGINX Installation"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-04-10 13:43] gkapaino commented on #2789
An uncaught Exception was encountered
Type: Error

Message: Call to undefined function bcscale()

Filename: /var/www/html/kibahaonline/pos/application/hooks/load_config.php

Line Number: 42

Backtrace:

File: /var/www/html/kibahaonline/pos/public/index.php
Line: 315
Function: require_once

[2020-04-10 13:56] gkapaino commented on #2789
solved by install bcmath in php.ini

[2020-04-10 13:56] #2789 closed

[2020-04-11 02:26] tkintenn opened #2790 "Unable to send mail"
#2054 # Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [X] Reporting an issue of an unmodified OSPOS installation
- [X] Checked [open and closed issues](https://githu

[2020-04-11 13:06] jekkos commented on #2788
Might be an issue in the type mapping logic of the mysqli driver itself? I bet there will be some way to configure this behavior

https://stackoverflow.com/questions/2430640/get-mysql-query-results-as-their-native-data-type

[2020-04-11 13:57] tkintenn commented on #2790
@daN4cat  I see you labeled this as a bug. Is there a work around I can put in place until it's fixed in 3.4.0? Trying to be paperless if possible, so it would be awesome if we could email receipts. can the string values in Email_lib.php be manually filled in?

[2020-04-12 05:33] mckaygerhard commented on #2785
no updte on this?

that's what you called "thunbs" are just a resized image!.. and on each "request" are "requested" that "thumbs".. so it takes of course time to procesed!..

there's 3 only solutions:

1. alternate already cached images! that's are not so controlled and are not so recommended! if product changes a lot online!
2. alternate already resized cached (manually managed) apart of the mai

[2020-04-12 06:48] mckaygerhard commented on #2775
i reviewed that @andriux1990  :

it looks like a multitier case! so if we can sole that! ospos can be used as a multilocation with only one database .. as @jekkos  said:

that a hint for multiuser management! and when ospos team allow the cashup !" the multiuser case comes with that feature @odiea  so .. we have now a big problem in the future!

[2020-04-12 06:52] mckaygerhard commented on #2685
seems windos user! do not use telegram!

i posted detailed process on #2785

[2020-04-12 07:00] mckaygerhard commented on #2671
hi @buckbowl  htere's some documentation in the wiki how to started to make changes in ospos.. and only a hint! each report are take from dinamic tables not directly from data tables.. here used so many temp tables in each wquery to make more easy the filtering and management of data by the ajax calls!

[2020-04-12 07:01] mckaygerhard commented on #2570
i have made some similar changes in the responsive commet and in the own folrk!

[2020-04-12 07:04] mckaygerhard commented on #2452
XSS filtering seems will be removed form codeigniter! very interesting! XD

[2020-04-12 07:12] mckaygerhard commented on #2285
@Jalani7575  you are talking about accountant relationship! ospos are not accountant. due has a large prfit hisotory not completed in ospos! sorry.. i have a smal diff to make it work as basic Accounts receivable.. but not as Accounts payable!.. and  i not use the "poor due" string of ospos!

[2020-04-12 07:17] mckaygerhard commented on #2283
this feature already made it in the Admin LTE wIP issue .. please close it and move discussion to #2685

[2020-04-12 07:23] mckaygerhard commented on #2045
deleted ! XD please.. ok @mclaos  https://github.com/opensourcepos/opensourcepos/issues/2275 .. same request for!

[2020-04-12 07:28] mckaygerhard commented on #1912
any progress with this? puff why not all the developers are just linux users? there's a previous issue about that: employee permission.. see  #1992 and #204 also some part are made in my forks but not great permissions

[2020-04-12 07:30] mckaygerhard commented on #1811
quite some time passed! this was merged in main code? or seems not? i guess there's a couple of issues marked as fearues duplicat of this!

[2020-04-12 17:49] objecttothis commented on #2788
Thanks for the help @jekkos.  Unfortunately that didn't resolve it.  I tried inserting `$mysqli->options(MYSQLI_OPT_INT_AND_FLOAT_NATIVE, 1);` into the code which seemed to be the only driver customization in https://www.php.net/manual/en/mysqli.options.php that seemed like it could be related.

Could you or someone else test this on their system to see if at least someone else is getting a proper

[2020-04-12 20:06] jekkos commented on #2788
@objecttothis might be nice to wrap this in a phpunit integration test quickly. Let's see if I can do that.

[2020-04-13 07:23] objecttothis commented on #2788
@jekkos.  You have been rightly pushing on unit testing for awhile now.  I want to begin doing unit testing as well, but I'm fairly new to it.  I'm looking at your Unit Test for Barcode_lib and have a few questions.  One is what you are using to kick off unit tests.  I've come acrossed SimpleTest and PHPUnit and would like to use the same thing across the board.  Can you link to any articles that

[2020-04-13 08:26] objecttothis commented on #2788
@jekkos I just discovered the problem after posting on StackOverflow.  Both the items table and the supplier table have a field called 'category'.  What's happening is that our code is pulling both with the left join and the last one it comes to overwrites the result value for 'category'.  In this case its suppliers.category.

I think the reason that we haven't run into this bug before is that is

[2020-04-13 08:28] objecttothis commented on #2788
The same problem with 'deleted' BTW.

[2020-04-13 08:43] objecttothis commented on #2788
The only way I can see to do this where you get both sets of information with the handwritten query is:

[code]
I don't think anyone is currently using suppliers.deleted or suppliers.category in results for get_all, but they possibly could in the future.  This is also not pretty from the perspective that the alias of suppliers_deleted and suppliers_category is a bit of a hack and the user would ne

[2020-04-13 08:52] objecttothis commented on #2788
This problem BTW will likely rear it's head at some point anywhere in the code where we have a join AND the select includes columns of the same name in both tables.  We probably should come up with a system-wide way of dealing with this problem.

For example, if I used Item->get_all() and then use PHP to find deleted items, I won't get a proper result, since the array uses the last value it found

[2020-04-13 09:09] objecttothis commented on #2788
So, currently Stock_location->save() is the only function to use Item->get_all().  That function is only calling it to get the item_id for all items and doesn't use any of the other fields.

My proposal here is to consider Item->get_all() as only relevant for getting information from the items table and let any apps that need to bring in supplier data to put the results in a foreach loop and call

[2020-04-13 09:42] jekkos commented on #2788
@objecttothis normally when there are fields having a similar name in a select, mysql should complain that they are ambiguous as lons as you don't specify exactrly which one you want to use? So this way they force you to think about this and adapt your query accordingly.

I don't really think the proposal is a scalable one was you will have a [n+1 situation](https://stackoverflow.com/questions/971

[2020-04-13 09:45] jekkos commented on #2788
You can find more documentation on how to write unit tests [in this page](https://github.com/kenjis/ci-phpunit-test/blob/master/docs/HowToWriteTests.md).

If you want to run such a test locally, ytou need to start a mysql first (in my case I just start the docker-compose dev container).

Next I just run the test from intellij (right click run on the test itself using a phpunit run configuration).

[2020-04-13 09:46] objecttothis commented on #2788
@jekkos, both Item->get_all() and Item->get_info() do this left join.  So, remove the left join from both so that they are consistent?

[2020-04-13 09:49] jekkos commented on #2788
or we could just skip the category field in the select section and only pick the fields we actually use in the resultset?

[2020-04-13 09:58] objecttothis commented on #2788
I just did a search of the code in the CLI and I can't find any references to Item->get_info() where the resulting supplier information is used, so removing the left join from Item->get_info() and Item->get_all() wouldn't have regression effects.

[2020-04-13 10:02] objecttothis commented on #2788
Assuming that $this->db->select() doesn't have a problem with it, I could add items.*, item_quantities.*, suppliers.person_id, suppliers.company_name, suppliers.account_number, suppliers.tax_id, suppliers.agency_name

I'm guessing that it won't properly append the ospos_ to it though.  You'll notice that I also left out suppliers.deleted because that is a duplicate too.

The other thing to keep in

[2020-04-13 14:08] andriux1990 commented on #2785
Well, there are things that are often complicated, but there are simple ways to do it, ways that do not take as much effort.

Why not show thumb images already at once, instead of the browser converting them every time you go through them.

This is what i try to say

[2020-04-13 14:12] andriux1990 commented on #2775
of course yes ... this would be great .. and I think ospos is not far from this.

@odiea Do you have any progress

[2020-04-14 07:36] saydfuad commented on #2782
After multiple checking and trying, I found out I was running unstable release, stable release working fine.
Please fix this in the master branch

[2020-04-14 13:56] mckaygerhard commented on #2775
the problems @andriux1990  **are that ospos developers seems are bit of confused: lest check history:**

1. in past 2015 there's a first attemp to make multi tier installations at this issue #150 that seems was the first intent to make ospos multi-install capable..
2. amonth the history multiple times was asked in some ways as in #1670 #1113 and #1664  but the most interesting response are in the

[2020-04-14 14:13] mckaygerhard commented on #150
i already see that muti tenant are not a target amont years in opensourcepos.. adn as i can see this issue has many years as i explained in #2775 , but the most interesting response are in the comment of #1937 "i will not work for free" of @daN4cat the "lead architect" and i understand their reasons.. we all need money to buy food of course!.  So! @jekkos and others please read carefully my propos

[2020-04-14 19:33] odiea opened #2793 "Kit Name not showing on Receipt if Items not shown"
OSPOS Installation Info: 3.3.2 - dev
Language Code: en-US

Extensions & Modules:
» GD: Enabled ✓
» BC Math: Enabled ✓
» INTL: Enabled ✓
» OpenSSL: Enabled ✓
» MBString: Enabled ✓
» Curl: Enabled ✓

User Settings:
» Browser: Chrome
» Server Software: Apache/2.4.33 (Win64) OpenSSL/1.1.0g PHP/7.3.2
» PHP Version: 7.3.2
» DB Version: 5.7.21
» Server Port: 80
» OS: Windows NT PAVILION23 10.0 build 1836

[2020-04-14 21:59] #2793 closed

[2020-04-15 15:47] abhiabhiab opened #2794 "Multiple Tax for each item"
How to add multiple taxes and tax rate for each item? (by following GST-India)

[2020-04-15 18:42] SteveIreland commented on #2794
There is a section for Taxes in the Wiki that is a good starting point (if you start with Rules of Operation).

https://github.com/opensourcepos/opensourcepos/wiki/Taxes#rules-of-operation

I don't believe that it's so far out of date that it's useless.

But I definitely need to update the page.

[2020-04-16 01:44] SteveIreland commented on #2793
@odiea I just saw this.  Did you figure it out or was there an oversight on my part?   Hopefully it was just a matter of nailing the configuration.

[2020-04-16 10:00] odiea commented on #2793
Yes I did. I had to add a no stock kit Item to the To the Item Name under the kit name. Never really thought about it until I starting experimenting with it. Thanks for your response.

[2020-04-16 13:15] WebShells commented on #1651
@izeblood @daN4cat Multi stocks doesnt offer the option to set multi prices, just different quantities can be set... I'll reopen this issue.

[2020-04-16 13:15] data2base opened #2795 "View invoices and Quotes sent"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x Checked [open and closed issues](https://github.com

[2020-04-16 13:23] WebShells commented on #1651
Duplicate, closed lol !

[2020-04-16 13:23] #1651 closed

[2020-04-16 14:33] abhiabhiab commented on #2794
Actually, I followed the steps mentioned in this doc.
https://github.com/opensourcepos/opensourcepos/wiki/India-GST

Added the various taxes and tax rates but i can assign only one tax for one item.

[2020-04-16 15:41] #2755 closed

[2020-04-16 16:15] andriux1990 commented on #2775
what do you think can be the solution?

[2020-04-17 00:36] tkintenn opened #2796 "allow option to use self signed certs for email"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-04-17 02:58] SteveIreland commented on #2794
Okay, that's odd.  I have a few questions.

Are you migrating an existing database from an earlier version?

What version are you trying to set up?  I need to know that before trying to replicate the issue.

How many tax jurisdictions have you added?  The tax rate maintenance program should allow you to add a separate tax rate for each tax jurisdiction for the same tax category.  If not then that

[2020-04-17 11:09] abhiabhiab commented on #2794
No.
We started with version 3.3.0
Added 3 Tax Jurisdictions.

[2020-04-17 13:15] odiea commented on #2795
You should be able to see them in either Takings or Detailed Transactions.

[2020-04-17 14:16] jekkos commented on #2657
Ok @WebShells will look into the three last open issues, so we can push out this next release soon.

[2020-04-17 14:22] SteveIreland commented on #2794
Okay, I'll download and test the published  3.3.0 release tonight.

[2020-04-17 14:24] jekkos commented on #2782
Thanks @odie and @saydfuad for reporting this bug. I'll have a look this weekend.

[2020-04-17 14:26] jekkos commented on #2796
So that means you have a certificate installed that does not match the hostname of your mailserver? I wouldn't recommend such a setup and don't want to support disabling this verification as it's crucial in identifying that you are actually talking to the host you expect to talk to.

[2020-04-17 14:26] jekkos commented on #2796
So it feels like something you should fix on the mailserver side.

[2020-04-17 14:29] jekkos commented on #2781
@akhilnasi were you able to solve this issue?

[2020-04-17 18:03] tkintenn commented on #2796
@jekkos you realize many smaller hosting companies use self-signed certs for postfix and there's a good chance that someone is hosting their POS software, they're probably using their own mail server. We use office365 and i'm not going to pay for each service account i need, so we use our own hosting server and a secondary domain for things like printers, apps, pos, etc.

It wouldn't really be an

[2020-04-18 00:42] SteveIreland commented on #2794
I downloaded and tested 3.3.0 and didn't have a problem.  However, during the process I remembered an issue that has been fixed since 3.3.0 that might have something to do with this.

The tax jurisdiction group code needs to be unique as shown in the example below.  If you are using the same code for both tax jurisdictions then that could be a problem.

![image](https://user-images.githubuserconte

[2020-04-18 02:53] WebShells commented on #2667
Updated system info directly to master please let me know  if there is still any problem with firefox...
As suggested, ill try to add time comparison to check if server and local time are synced... Any ideas ?
@odiea @objecttothis can you test it please ? Thanks for your time.

[2020-04-18 09:28] abhiabhiab commented on #2794
Can you please share the tax rates screenshot ?
How to assign this 2 tax for item ?

[2020-04-18 10:00] odiea commented on #2667
Works like a champ.
Chrome, Firefox, Opera and IE returned the same info.

OSPOS Installation Info: 3.3.2 - dev
Language Code: en-US
Extensions & Modules:
» GD: Enabled ✓
» BC Math: Enabled ✓
» INTL: Enabled ✓
» OpenSSL: Enabled ✓
» MBString: Enabled ✓
» Curl: Enabled ✓

User Configuration:
.Browser: Edge
.Server Software: Apache/2.4.33 (Win64) OpenSSL/1.1.0g PHP/7.3.2
.PHP Version: 7.3.2
.DB Vers

[2020-04-18 12:27] jekkos commented on #2796
The verify peer should not be an issue even if you are using a selfsigned cert on your mailserver.

If you choose to trust this provider's CA then at least they should install a certificate on the mailserver with a correct common name (CN). It's just a plain misconfiguration and using it this way  defeats the purpose of using SSL.

[2020-04-18 12:44] jekkos commented on #2790
I think you should be able to configure the email sending from the CI settings directly. Not sure how the email config works exactly (I haven't used it) but maybe on some systems it just can't be configured? (shared hosting eg)

[2020-04-18 13:02] WebShells commented on #2667
Will close this, moving to permissions and time sync issue...  Sorry for all the delay people <3

[2020-04-18 13:02] #2667 closed

[2020-04-18 14:49] SteveIreland commented on #2794
Sure, the list is ...
![image](https://user-images.githubusercontent.com/23066623/79640832-ced38180-8161-11ea-8e0e-d26a5bd8a9de.png)

And the entry follows.  All that is necessary is to make sure that the drop downs reflect how the tax should should be configured.  In the example I'm adding a new state sales tax for items that are categorized as Alcohol products ...
![image](https://user-images.gi

[2020-04-18 15:51] WebShells commented on #2733
![image](https://user-images.githubusercontent.com/26513147/79642290-61494480-81a5-11ea-80e5-7c55da5213d4.png)

@objecttothis @odiea @daN4cat @jekkos thoughts ? What color would best fit the warning in our case ? The setup could still be used because folders are written, but this is not secure so we should display a warning... So green should still be there since the software is usable with no iss

[2020-04-18 16:18] odiea commented on #2733
@WebShells . For me it does not matter because I would use this in house only.

[2020-04-18 16:52] jekkos commented on #2733
You could argue and say that it"s a warning, ospos will work but it's not the ideal configuration in terms of security?

[2020-04-18 18:03] objecttothis commented on #2733
IMO Security warnings should be in red and more strongly worded. Something like "Security vulnerability warning: permissions higher than xxx leave this software vulnerable to attack." or something like that.

[2020-04-18 18:18] objecttothis commented on #2733
@jekkos anyone running this on a server that has no exposure to the WAN has little to be concerned about, however if ports 80, 443 and potentially others (sftp, ftp, ssh, etc) then this does need to be taken seriously from a tech security standpoint.

I believe we should make no assumption that people don't expose certain ports.  For our team, during this quarantine, everyone is working from home.

[2020-04-18 21:16] WebShells commented on #2733
![image](https://user-images.githubusercontent.com/26513147/79671452-fb73b180-81d2-11ea-84d1-3950417b5dcd.png)
Looks better ? @opensourcepos/org

[2020-04-18 21:16] jekkos commented on #2733
Ok good point @objecttothis . Maybe we should indeed rephrase the sentence to make a user aware of the potential risks involved.

[2020-04-18 21:17] WebShells commented on #2733
@jekkos lol we are commenting the exact same second ;p ! Hi man!

[2020-04-18 21:17] jekkos commented on #2733
Indeed. doing a great job there.

[2020-04-19 00:44] WebShells commented on #2733
Ok that's what i've reached...
If all permissions were set correctly:
![image](https://user-images.githubusercontent.com/26513147/79676524-cd509a80-81ef-11ea-98b3-80e1bd310a68.png)

If permissions weren't set correctly / But no security risks
![image](https://user-images.githubusercontent.com/26513147/79676533-dd687a00-81ef-11ea-9eae-d0919790a600.png)

If permissions were set correctly but causing

[2020-04-19 08:49] objecttothis commented on #2733
Looks good to me

[2020-04-19 12:38] jamrogers commented on #2604
I fixed this by increasing max_execution_time to 120 (2 mins) in php.ini running apache2, you may have to experiment

[2020-04-19 13:26] WebShells commented on #2733
Good then, will apply few editions and submit a PR about it... I'll merge System Info tab with License Tab and do sub tabs for them to reduce the tabs from the menu...

[2020-04-19 15:47] gaaytrimaa commented on #2784
After acitvating duplicate barcodes, the first item is selected by default when I use a barcode scanner in the sales window.
Rather the desired output should be that a choice must be given for duplicate barcode items as to which one to select.
Another important thing to mention is that if I type the barcode manually then two options are shown for the same barcode products but this is not the case

[2020-04-19 16:10] adesurahman32 commented on #1480
Your system folder path does not appear to be set correctly. Please open the following file and correct this: index.php for me now.. please help me..  version 3.3.1

[2020-04-19 16:23] jekkos commented on #2784
You can do a simple workaround here by configuring your scanner to stop sending a return after the number sequence.

[2020-04-20 03:13] WebShells commented on #2733
PR #2798 submitted, please let me know in case any more editions are needed.

[2020-04-20 03:48] abhiabhiab commented on #2794
Ok , then How to connect this with Items ?

[2020-04-20 06:23] mckaygerhard opened #2799 "BUG: revert of barcode rework not complety done?"
Lasted commit over Sales controller has some errors:

@jekkos  in commit 4300f0a3c6968ae57136d9af58ad00af6094add9#diff-0e317d549720855158cc3e1741af5fbe erase the ´$price´ variable..

**but in revert of commit 4f60465fa02367748674f737d04cda9ff1843b6e#diff-0e317d549720855158cc3e1741af5fbe this variable does not return..**

i revised some problems in reports about filtering and noted that! i dont kno

[2020-04-20 06:26] mckaygerhard opened #2800 "BUG: employee name in suspended forms commit remove dinner table permited configuration! =??"
in commit efd53cbccf12fce469215853992104c93dbd9ada#diff-0e317d549720855158cc3e1741af5fbe removed the ´dinner_table_enable´ variable from ´$data´ sended to form @daN4cat .. its'n taht necesary or not for able to do for the configured store?

[2020-04-20 06:47] mckaygerhard opened #2801 "NOTE: spanish has inconsistence strings"
in lasted ospos commits translations (i cannot find where due are large history) check papers now said "Comprobación de ventas" .. event "Cheques".. of course seems this string are common to two places..

[2020-04-20 07:05] mckaygerhard opened #2802 "Language scrip generation are not available for developers usage"
how we can contrib if important files are not present or removed from repo: https://github.com/opensourcepos/opensourcepos/commit/5d047303a0ed1d4d7e5e7f50db028d60238c0329#diff-603cec361156417f2912b1d03b6bf5c5

i always noted how dificult are to sync the lang files and now noted that an immportant script are removed from reṕo.. i cannot write good developers help wiki or we cannot contribute in rig

[2020-04-20 07:07] akhilnasi commented on #2781
no

On Fri, Apr 17, 2020 at 5:30 PM jekkos <notifications@github.com> wrote:

[2020-04-20 10:13] mckaygerhard commented on #2679
i made some of the changes proposed here but i noted several problem in this project:

1. i ask several times among otthers how to made a report.. opensource team makes code and code! but none of documentation..
2. here we ask how to make an report and seems the question was evaded!
3. here issue /2802 i noted several tools need to property made own develop are not present @andriux1990  and in the

[2020-04-20 13:56] andriux1990 opened #2803 "Avoid double Submit"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-04-20 16:08] mckaygerhard commented on #2803
this are due you use huge databases! it takes a time to process .. so **the solution are that in each buton when are cllicked.. toggle blocked ui of the button .. in the ajax king we must made a extra script to detect the end of the process and re-enable the button!** thsi are not so easy to made!

[2020-04-20 16:10] mckaygerhard commented on #2781
@akhilnasi  you use windo shit in both sides.. it's a well know problems if you search at the issues code base here and check same behaviour with more than 5000 products codebase and 2G ram on stanar low end machines! .. use a real OS like linux

[2020-04-20 16:12] mckaygerhard commented on #2775
solution need of the recent comments i posted in the #150 ... checked and later then we can made easyle the cashup per user and per location

[2020-04-20 16:19] odiea commented on #2803
The one thing I have done is to put the db on a separate server then use the local Terminal to access the db. Yes I have used a vm with a Ubuntu server as just a db server. This may or may not be the answer to your dilemma but it sure seemed to speed things up.

[2020-04-20 16:31] mckaygerhard commented on #2785
of course.. but that's as i xplained are not easy in never way! sorry

[2020-04-20 16:34] mckaygerhard commented on #2785
was xplained  are not easy in any way! ok! so dont xpected some one will doit quicklty. it will take some time!

[2020-04-20 16:40] mckaygerhard commented on #2452
i make a pull request some time ago and was rejected.. that wolved the situation.. great guys!

[2020-04-20 17:30] abdulsalamkhan82 opened #2804 "CSV Import is required"
Why there is not CSV Import in "Item Kits", "Suppliers".

[2020-04-20 17:47] odiea commented on #2804
Probably no one has taken the time to add it.

[2020-04-20 17:56] abdulsalamkhan82 commented on #2804
it is necessary because i have to import 5000 products and also have to convert those products into kits during that import.

[2020-04-20 18:25] odiea commented on #2804
In that case you may have to do it yourself. The major contributors are probably working like everyone else.

[2020-04-20 18:34] abdulsalamkhan82 commented on #2804
I'm not a Developer / Programmer, I'm a Solution Implementer and really appreciate you people efforts. I also want to point out one more lacking feature i.e; I want to buy in Pack and sell them individually likewise in QuickBooks POS "Unit of Measure" feature, but in OSPOS I found "Multiple Packages for each item" in General Settings sounds confusing and doesn't even work.

[2020-04-20 18:47] WebShells commented on #2803
The best thing in this case is to disable/block the submit button for 3 seconds after clicked... This will not cause any data duplicate or double entering stock locations, etc...