[2017-05-18 14:21] paulg10me commented on #1069
The only other difference I can find is that my server is using PHP Version 7.0.15-0ubuntu0.16.04.4. Don't know if this could be affecting it.

[2017-05-18 15:37] Raoufasker opened #1306 "discount"
### New Feature / Enhacement

help me to make
Add a discount on invoice total Not every single product
i need to make discount on invoice total 20% then 10% then 5 %

[2017-05-18 22:50] daN4cat commented on #970
Ok but I don't think custom1 which is a field has a function save unless I'm missing something from your code extract.

[2017-05-19 01:23] SteveIreland commented on #1305
This will be interesting.  I'm always open to try new things, but it feels like you're introducing things faster than I can catch up. :cold_sweat:

But if you're simplifying then I am jumping on board with both feet!

[2017-05-19 11:32] jekkos commented on #1305
Well think we should have a better source / binary separation and omit those generated artifacts from the source repository (as they don't belong there)...

So but this means that you'll either get the source (and do the build setup) or get a dist zip that contains all you need to run (but then doesn't contains git information)

[2017-05-19 21:33] nvk1990 commented on #970
@daN4cat I've added below code to save method in application\models\Receiving.php

`$this->custom1->save(array('quantity' => item[$custom1], 'item_id' => $item['item_id'],
											  'location_id' => $item['item_location']), $item['item_id'], $item['item_location']);`

Also created a application\models\custom1.php and added the below method.
`public function save($location_detail, $item_id, $loc

[2017-05-20 01:13] mchablet commented on #1014
root@OsPos:/var/www/html# docker-cloud container exec web-1 chown -R www-data:www-data /app/public/uploads
Not authorized

[2017-05-20 06:57] daN4cat commented on #970
Ok how are you creating custom1 object?

[2017-05-20 12:23] rbwilkinson opened #1307 "Blank page"
I am not able to get working.
All files and .htaccess are set.
Config and Database files are set.
I get no errors reported in my logs.
Just a blank page.

Using Apache2 on Ubuntu 16.04 with Virtualmin.

[2017-05-20 15:28] nvk1990 commented on #970
@daN4cat I've added only the above code.. is there something I'm missing..?

[2017-05-20 21:31] Altoubi commented on #1307
Please note that PHP needs to have php-gd, php-bcmath, php-intl, php-sockets, php-mcrypt and php-curl installed and enabled.

You can easily install it by this command:
sudo apt-get install php-****

[2017-05-20 21:42] nvk1990 commented on #970
@daN4cat I've tried the approaches using Google to solve the error but solving one leads to other and ultimately it seems to circle to the first one. If it's not too much complex could you please share the code..

[2017-05-21 01:37] rbwilkinson commented on #1307
All components are installed.

Initially no errors but now...
I have just now gotten this error.
**session_start(): Failed to initialize storage module**

[2017-05-21 05:10] katrexx opened #1309 "On submit double entry"
(Version: 3.1.0) In all entry modal, by pressing tab button and last selection Submit button then press Enter button from keyboard, that's job dual entry.

[2017-05-21 05:53] thegm90 commented on #1297
Wanted to check in with you guys and see if there are any developments with the database.php?

[2017-05-21 06:07] daN4cat commented on #1307
Db is not right. Are you upgrading something preexisting by any chances?

[2017-05-21 08:27] rbwilkinson commented on #1307
A new installation. Downloaded from github.com

[2017-05-21 08:28] rbwilkinson commented on #1307
I will try to reinstall for 3rd time if necessary. I am keen to see the advances that have been made.

[2017-05-21 08:51] daN4cat commented on #1307
Ok so it might be a database configuration issue.

[2017-05-21 12:11] rbwilkinson commented on #1307
As this is a new installation I surmise that I only need to use database.sql. Correct?

[2017-05-21 13:02] rbwilkinson commented on #1307
It works. Not sure what went wrong but we are happy.

[2017-05-21 19:23] #1307 closed

[2017-05-21 19:55] daN4cat commented on #1306
Duplicate of #911

[2017-05-21 19:55] #1306 closed

[2017-05-21 19:58] daN4cat commented on #1301
This comment has a better solution managing UTF-8 and exceptions: http://php.net/manual/en/function.mb-convert-case.php#92317

[2017-05-21 20:00] daN4cat commented on #970
@nvk1990 I'm sorry but I'm afraid I don't have time at the moment to look into this. I just tried replying with few questions to help you but I cannot do more than that.

[2017-05-21 20:20] Raoufasker commented on #911
please add Feature make client can loop the discount on the total price such as make discount 20% result total price after discount appear then discount again on total result after first discount and make it again and again

[2017-05-22 01:54] aterad opened #1310 "How to remove "are you sure you want to submit this? this sale cannot be undone" message"
Question

Hello house,
I am new to opensourcepos 3.0.2 and i must confirm is a wonderful piece.
However, to cut the repetition and time wasted during sales, i will like to know which file to edit or line to comment out to bye pass the
"are you sure you want to submit this? this sale cannot be undone" message after transaction is completed before proceeding to print out of receipt during sales or r

[2017-05-22 10:05] ebenezery4 commented on #1248
Please is anyone open for job offer. i have a project i want any intrested
person to take up. reply me via ebenezer.adebayo@gmail.com

Thanks

On Wednesday, 19 April 2017, FrancescoUK <notifications@github.com> wrote:

[2017-05-22 17:31] jekkos commented on #1288
Ok fixed done and can be verified. Sum of inventory movements is always equal to  zero for all stock locations after delete

[2017-05-23 03:09] nvk1990 commented on #970
@daN4cat Np mate :) got it figured out.. I was missing the entry from autoload.php. After I added it it's working fine now..
Thanks a lot for asking the correct questions.. helped me to learn and understand a lot of stuff..

BTW.. this original question of generating multiple barcodes for multiple items can be marked as closed now.. The new barcode_sheet file I provided seems to work properly .. a

[2017-05-23 05:55] daN4cat commented on #970
Maybe you can learn how to submit a Pull Request (PR) so we can merge your code.

[2017-05-23 11:26] odiea commented on #970
@nvk1990  The new barcode sheet works great.

[2017-05-24 07:23] jekkos commented on #1309
Did a fix for this, quite a tedious bug hunt sifting through js code. Can you check if fixed now?

[2017-05-24 07:25] jekkos commented on #1297
I checked my latest conrtainer and it does have database.php in it. Did you try remove and redownload the container from docker hub? Do a docker rmi -f jekkos/opensourcepos and then compose up again to see if that resolves the issue?

[2017-05-24 10:24] daN4cat commented on #970
@odiea willing to contribute?

[2017-05-24 10:29] slumiesboi opened #1311 "I have installed the open source pos, when I am at the login page and I enter credentials and after clicking on GO I get the error "/public/login was not found on this server""
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-05-24 10:36] odiea commented on #970
The only issue I have with this is it probably needs an app config . I believe currently custom 1 may be in use with other users that are using the custom fields. Any ideas?

[2017-05-24 13:38] the133448 opened #1312 "Question When is the sale entered into the database"
Hello,

Could someone point me when the sale is entered into the databse? So after it is tendered, Im looking to send sales to a web reporting database, and I just wanted to ask which file I shoudl look in so I can send off the correct info.

So say I wish to send to an external database the sale id, total price of every sale, which method can I hook into?

[2017-05-24 20:28] odiea commented on #1310
I downloaded and installed 3.0.2 and I cannot duplicate this issue. It goes directly to the receipt screen after pressing the Complete button.

[2017-05-25 01:09] aterad commented on #1310
Hello Odea,
Yes what i am saying is that, immediately you click complete button,  It prints directly by passing both d cannot be undone notice page and receipt screen page.
Please how do I go about editing this.
Thanks

[2017-05-25 04:02] ramddansyahreezdan opened #1313 "stuck at loading"
Hello,
Why the screen stuck loading  when the menu button choose? How to repair?
I cannot open the store config because it stuck while loading.
![untitled](https://cloud.githubusercontent.com/assets/12878378/26435322/09738d80-4141-11e7-8b47-19b13dfe73c5.png)

[2017-05-25 10:09] slumiesboi commented on #1311
Sorry, I have resolved the issue, my I ran a2enmod rewrite and it all worked

[2017-05-25 10:09] #1311 closed

[2017-05-25 18:38] bill-goldberg opened #1314 "Unable to install OSPOS along with standalone Apache, PHP, MariaDb Setup"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-05-25 18:48] bill-goldberg commented on #1314
I installed Apache, PHP and MariaDb individually. Put the master.zip (extracted and renamed ospos) in Apache24/htdocs/ , uploaded and configured the database. Also enabled some php extensions like intl, gd, curl, sockets etc from php.ini file. but unable to successfully setup the installation.

Please guide me about this type of installation. Apache and PHP are installed successfully.
![github](ht

[2017-05-26 11:10] odiea commented on #1313
No template info.

[2017-05-26 11:10] #1313 closed

[2017-05-26 15:32] odiea opened #1315 "Giftcard auto numbering stuck on 10"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-05-27 03:51] ramddansyahreezdan opened #1316 "Stuck at loading"
Hello,
Why the screen stuck loading when the menu button choose? How to repair?
I cannot open the store config because it stuck while loading.
I m use OSPOS 3.1.0
![image](https://cloud.githubusercontent.com/assets/12878378/26517796/a7980706-42d2-11e7-9fe5-e028ca36b7f4.jpg)

[2017-05-27 06:39] daN4cat commented on #1316
Fill in the issue template please.

[2017-05-27 06:40] #1316 closed

[2017-05-27 06:40] the133448 opened #1317 "PHP Fatal error: session_start():"
### Bug

### Installation information

I followed the installation instructions on https://github.com/jekkos/opensourcepos/wiki/Installing-on-Raspberry-PI---Orange-PI-(Headless-OSPOS) Exactly. Everything went fine until the last step when I went and  went to http://192.168.0.22/opensourcepos/public/ where I got a error 500 on the page.
After going to the error log this is what I found.

[Sat May 2

[2017-05-27 06:47] the133448 commented on #1317
Well I was editing the local opesourcepos on the pi not the one I moved to var/www Whoops!

[2017-05-27 06:47] #1317 closed

[2017-05-27 09:24] daN4cat commented on #1314
The issues under windows are always the same, missing php extension (or impression it's enabled but it is not in reality), web server pointing to the wrong folder (should be public), issue with .htaccess config if you installed in a subfolder.
All discussed again and again....

[2017-05-27 09:24] #1314 closed

[2017-05-27 09:25] daN4cat commented on #1315
@joshua1234511 you recently reworked this part, would you mind to check this issue please?

[2017-05-27 12:01] asadjaved63 opened #1318 "How to add item in cart through Ajax request"
Hi @jekkos And @daN4cat
I'm sending ajax request for submitting  item, request submitting successfully, but callback function return all page , can you   guide me, how to add item data in cart, thanks

`jQuery(document).ready(function(){
var $=jQuery;
$('#add_item_form').submit(function(e){
    var $this=$(this);
    var item = $this.find('#item').val();
    $.post($this.attr('action'), {item: ite

[2017-05-27 12:01] neofins opened #1319 "Getting Blank Screen on login after Installation, please help"
![untitled](https://cloud.githubusercontent.com/assets/5234292/26521266/d2e103ac-4301-11e7-8be5-b2d472de66ca.jpg)

I installed opensource-POS as per instruction, on my local machine, (Win7, XAMPP, MySQL 5.6, PHP 5.6.23)
1. I got the login page
2. I used the given id pass ( admin, pointofsale ) to login..
3. Login done
4. I got a directory in URL Bar is ( http://localhost/neofins/public/home )

Iss

[2017-05-27 12:08] odiea commented on #1319
Read the Wiki and check the Application/Config/database.php has been correctly edited. We assume you are using 3.1.0.

[2017-05-27 12:16] neofins commented on #1319
![image](https://cloud.githubusercontent.com/assets/5234292/26521345/24243e44-4304-11e7-969c-9fe9421c780f.png)
![untitled](https://cloud.githubusercontent.com/assets/5234292/26521352/43cbcc08-4304-11e7-8bdf-f2d0538fe784.jpg)

Yeah i am using 3.1.0 version on XAMPP... but getting blank screen...

[2017-05-27 12:23] odiea commented on #1319
I removed the images due to your password being shown. I assume this is a new install and all the necessary php extensions have been enabled.

[2017-05-27 12:27] neofins commented on #1319
YEAH

[2017-05-27 13:04] odiea commented on #1319
All I can suggest is to double check everything. I would suggest using the Xampp mysql and not a stand alone version and see how that works. I downloaded and installed 3.1.0  using XAMPP for Windows 5.6.15 with Maria db and I could not duplicate this issue.

[2017-05-27 15:57] kandesmond commented on #886
Hello there,

I have replaced the application/models/Dinner_table.php and application/views/sales/suspended.php with the newer codes that were dated on March 13 and I am still having the table issues.  Could anyone here help?

Thanks for your help in advance.
-Desmond

[2017-05-27 16:01] odiea commented on #886
Download the latest version and do the database updates or create a new database.

[2017-05-27 18:21] Raoufasker opened #1320 "How can I change the invoice format"
How can I change the invoice format?

[2017-05-27 19:52] kandesmond commented on #886
I think I am using the latest version - 3.1.0 - 4f5ad57.  Please let me know this is not the latest version.  I will give it a try to drop and re-create the new database.

Thanks for your prompt response.

[2017-05-27 20:32] odiea commented on #886
You should download todays current 3.1.0. This is still a Beta with additions being added or changed weekly.

[2017-05-27 21:43] WebShells commented on #1243
Updates ?

[2017-05-27 23:06] odiea commented on #1243
Don't hold your breath waiting for this one.

[2017-05-27 23:44] themichaelmitchell commented on #1297
Apologies on the delay. After wiping clean the web server (`docker rmi $(docker images` and `docker system purge`), recloning the github project, rebuilding and upping the containers, the database file appears to still be missing. Is there further info that I can provide that could help?

[2017-05-28 06:13] kandesmond commented on #886
ok.  I have downloaded the latest version (the time stamp on the codes are May 24th) and reload everything from scratch, dropped and re-created the database and I am still having the suspended table issues.  Please help !!!

Thanks,
-d

[2017-05-28 12:00] odiea commented on #886
What is the issue. Is it the Table number still shows in the dropdown list after a table has been suspended or other issue. @jlctmaster  would you please look into the table suspend feature not working properly.

[2017-05-28 16:17] kandesmond commented on #886
The issue is ... the table name doesn't stick to the original one every time I UN-suspeneded it.  It got reset it back to the first table in the drop down.  Below is the sample.

Table name
------------
Delivery
Take way
Table 1
Table 2
Table 3

I suspended a sale for table 2 and the sale will get reset it back to "Delivery" every time I UN-suspended it.

Thanks for looking into this.

-Desmond

[2017-05-28 22:01] jekkos commented on #1318
Hi, if you want to revamp this functionality then you'll need to refresh most of the page's components after the submit is done. So this means that you will need to rework the way the register view is structured by rendering it using a separate method that handles the ajax post request..

see also #876

[2017-05-29 03:50] nvk1990 commented on #1320
@Raoufasker Please take a look at the below file if you require changing the invoice layout.
\application\views\sales\invoice.php

[2017-05-29 03:57] nvk1990 commented on #1252
@joshua1234511 @Aravindhanari I'm also currently checking to implement a similar feature to add sales person during sales. Please let me know if there is any progress made on this. Thanks!

[2017-05-29 06:46] bill-goldberg opened #1322 "Removing Update button from Sales Module"
I am facing a problem with the update button in Sales Register. When i have to sell more than 10 items then it takes too much time to update each of the single line in the cart.

I want to remove that functionality. Is there any way to handle this ?
![snapcrab_noname_2017-5-29_12-15-32_no-00](https://cloud.githubusercontent.com/assets/23611136/26539182/ac476f3e-4468-11e7-8ca7-91de4676faa4.png)

[2017-05-29 06:54] jekkos commented on #1322
I think that most of the fields should already auto update after change?
I guess you're then talking about bulk update eg adding a discount and apply it to all items at once? It can be done with a bit of js code

[2017-05-29 07:10] jekkos commented on #1309
Seems to be an open issue in https://github.com/nakupanda/bootstrap3-dialog/issues/333)(bootstrap-modal project. So probably this can't be fixed in our code but fix has to be done in the library itself.

[2017-05-29 07:28] bill-goldberg commented on #1322
I know that there is a jquery focusout function which automatically reload the page and update the quantity or any input field ... but i also don't want to reload page every time ...

[2017-05-29 07:57] zhumingyu commented on #915
@daN4cat sorry,i got the same problem.is there any wrong?
![2017-05-29-155642_486x239_scrot](https://cloud.githubusercontent.com/assets/10820548/26541251/86987f02-4487-11e7-8f5b-7a65d3723c12.png)

[2017-05-29 08:23] ziko1153 opened #1323 "After Login Blank All Pages"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-05-29 08:43] joshua1234511 commented on #1315
@daN4cat
Looking into it

[2017-05-29 10:40] daN4cat commented on #1322
The right job would be to use a ajax to upload just the updated cell. But that's part of the register rewrite story....

[2017-05-29 10:43] daN4cat commented on #1323
again and again always the same questions with windows. Please read the wiki and past closed issues. ..

[2017-05-29 10:43] #1323 closed

[2017-05-29 10:43] daN4cat commented on #1315
Thanks

[2017-05-29 11:02] ziko1153 commented on #1323
i was also reading wiki but couldn't solve it.. i am the newbie please bro help me.. or suggest what should i do

[2017-05-29 12:20] daN4cat commented on #1323
Searched the closed issues. I don't use Microsoft stuff so I won't be able to help you.

[2017-05-29 12:41] odiea commented on #1323
You did not give much info. Are you using any of the amp's servers. No indication of sql. Try using xampp. Works good for me. Make sure all the needed extensions are setup properly.

[2017-05-29 13:45] ziko1153 commented on #1323
i have spent around 6 hours to solve this issue.. but i am failed.... i am using xampp and read every topics on wiki but not solved.and i assure didn't any change of the original code and also every extensions are setup correctly .. actually why this issue has been occurred?  do  u know?

[2017-05-29 13:48] odiea commented on #1323
Which version of Xampp?

[2017-05-29 13:49] ziko1153 commented on #1323
xampp--> 3.2.2

[2017-05-29 13:51] ziko1153 commented on #1323
bro give me your  email or any contact pls.. i need this solution as soon as possible,.. please brother help me... please

[2017-05-29 13:57] odiea commented on #1323
Here is the list of extensions currently enabled in 2.2.2
Current PHP version: 7.0.8 The following Php modules are enabled !

Array
(
    [0] => Core
    [1] => bcmath
    [2] => calendar
    [3] => ctype
    [4] => date
    [5] => filter
    [6] => hash
    [7] => iconv
    [8] => json
    [9] => mcrypt
    [10] => SPL
    [11] => pcre
    [12] => Reflection
    [13] => session
    [14] => standa

[2017-05-29 14:03] ziko1153 commented on #1323
bro all the modules are enabled.bro give me your email or any contact pls.. i need this solution as soon as possible,.. please brother help me... please

[2017-05-29 14:13] odiea commented on #1323
Sorry I do not give out my email address. Just make sure the extracted program is in the htdocs folder and your database is set correctly. Also if you downloaded it with Edge or Internet Explorer you will need to make sure the file has been unblocked to properly extract it. Also make sure you did not edit the Index.php or the .htaccess files that are in the public folder.

[2017-05-29 14:24] ziko1153 commented on #1323
it is downloaded from firefox and my firewall is disabled on my computer and i downloaded directly from github... so whats wrong with this?

[2017-05-29 14:55] odiea commented on #1323
I sent you an email to your git address. I do have to go to work now so I will try later to see what is going on.

[2017-05-29 15:18] jekkos commented on #1309
Think I found a fix though, will clone bootstrap dialog to my own and include that dependency, rebuild, and then let you validate. If it works then I'll submit a PR to the original author so we can swtich dependencies again.

[2017-05-29 18:15] SteveIreland opened #1324 "Request to be able to add fractional quantities to labor items"
### New Feature / Enhancement

I was asked to allow the number of hours to be entered for labor for a service item and I couldn't sell them on breaking hours into units and charging by the units.

So I need to change the sales item quantity to allow fractions of an hour.  My thought at the moment is to add a new item type of labor and only labor items would allow fractional quantities - everything

[2017-05-29 18:19] SteveIreland opened #1325 "Alternate description needs to be longer."
### New Feature / Enhancement

I had assumed that the alternate description was the same length as the item description.  However, the item description is 255 and the alternate description is limited to 30 characters.  I'd like to expand that to 255 characters.

Is this change okay to make to OSPOS?

[2017-05-29 21:02] nvk1990 opened #1326 "Query: Implementing a new search function that uses autocomplete"
###Question###
@jekkos @daN4cat @odiea

Hi .. I'm trying to implement a sales person functionality in "sales screen" where the operator can select a sales person(Someone from employee list) similar to what he does for selecting a customer. I've implemented the functionality in application\views\sales\register.php that helps in creating a search bar, anchor, form  and the  javascript part in the sa

[2017-05-29 22:04] jekkos commented on #1325
How much characters can we actually display on the invoice? Might not make a lot  of sense to make the db field a lot larger than that?

[2017-05-29 22:16] jekkos commented on #1309
Ok did the fix in the library itself. @katrexx can you verify? This has cost me a bit of time.. specially for you ;)

I'll make the PR to the original repo already so once intergrated there we can point back to their repo

[2017-05-29 22:44] jekkos commented on #1312
One should do this through a rest api. See also #615

[2017-05-29 22:46] jekkos commented on #1297
Ok the dev container does seem to have the file. It might be the regular one that has it missing. I'll check later this week.

[2017-05-29 22:46] odiea commented on #1309
I only tried this on Giftcard and it appears the issue has been resolved.

[2017-05-29 23:24] odiea commented on #1324
Is this something new. When I was fixing cars it was 1.0 or 1.3 or 1.5 or 2.5 is the way we charged for labor.

[2017-05-30 01:13] SteveIreland commented on #1324
You are absolutely correct.  I was demoing the system and they entered .5.  The system calculated a price based on the fractional quantity entered, but the quantity was refreshed to zero, so I assumed it was a database issue (without actually checking it).  I just now checked it and sure enough decimals are supported for the quantity field.  So it must be a bug it in the system somewhere.  I'll do

[2017-05-30 01:13] #1324 closed

[2017-05-30 02:13] joshua1234511 commented on #1315
Issue Fixed
https://github.com/jekkos/opensourcepos/pull/1327

[2017-05-30 06:08] daN4cat commented on #1315
@joshua1234511 many thanks, it's merged. @odiea please test and close the issue if all fine. Thanks

[2017-05-30 06:42] jekkos commented on #1318
Also #1322

[2017-05-30 06:42] jekkos commented on #1309
Ok great, thanks for testing @odiea. I close.

[2017-05-30 06:42] #1309 closed

[2017-05-30 06:46] jekkos commented on #1305
Ok the upload from the featue branch seems  to work, but for some reason the folders included in the zip archive are empty. .to be investigated

[2017-05-30 06:46] jekkos commented on #1305
https://bintray.com/jekkos/opensourcepos/opensourcepos/

[2017-05-30 08:11] ziko1153 commented on #1323
the email has not been sent please sent again bro ... i didn't receive yet

[2017-05-30 11:08] ziko1153 commented on #1323
Okay solved it bro ... uninstall XAMPP and install WAMP 3.0.2 version and it runs smoothly.sorry for disturbing bro... extremely sorry
![ospos](https://cloud.githubusercontent.com/assets/14893207/26580582/89fc979a-455a-11e7-8979-f05cab444cc2.png)

[2017-05-30 11:24] WebShells commented on #1243
Hello Odiea, why ? already jekkos said he did it before... maybe sharing it or giving an idea how it can be done so i can proceed on my own...

[2017-05-30 11:48] SteveIreland commented on #1325
When I see "alternate" I assume that it is a replacement for the existing description.  The terms, additional, or supplemental would suggest that it should be added to the description.

I was assuming replacement so it should not be adding to the amount of information displayed.

However, if that's not actually how it should be implemented then this might be a change best left to my  branch only -

[2017-05-30 12:03] SteveIreland opened #1328 "Register tabbing behavior"
### Issue / Question / Bug

I've found, when using the alternate description, that the behavior of the automatic updates when tabbing through the price and quantity results in the use of the tab key to essentially be useless because when I tab out of the price field or tab out of the quantity field then the full page is resubmitted and the cursor is re-positioned on the selection field.

I find it

[2017-05-30 12:11] daN4cat commented on #1323
This confirms again my theory that people should read the wiki and stick to what works especially on Windows!

[2017-05-30 12:22] #1315 closed

[2017-05-30 13:06] RamkrishnaMondal commented on #1324
You will need to set 'quantity decimal' to >0 in config to enable fractional quantity.

[2017-05-30 13:16] RamkrishnaMondal commented on #1069
After this, i moved to LEMP  server.

https://github.com/jekkos/opensourcepos/wiki/Local-Deployment-using-LEMP

[2017-05-30 14:03] odiea commented on #1323
Ya. The Windows ampps are kind of a hit and miss proposition with Windows.  I guess it's what ever the User gets working. I do believe the wiki is an important feature that should be read by all users.

[2017-05-30 19:54] daN4cat commented on #1328
@SteveIreland sounds a bug to me, if you want to fix it you are welcome.

[2017-05-30 19:57] daN4cat commented on #1325
I have no opinion since I don't use this feature.

[2017-05-30 20:17] daN4cat commented on #1326
As you said checking the customer search box in register should tell you want to do. Better than that example I don't see what else we could say.
I hope you understand that an ajax call is involved and the model needs to return a list of found strings based on the passed partial term.

[2017-05-30 20:20] daN4cat commented on #915
@zhumingyu since you are using a subdir you need to check the .htaccess under public and set the rules to use the subdir.

By the way, I'm not sure you want to set +Indexes, probably you may want to state -Indexes.

[2017-05-30 20:22] #1320 closed

[2017-05-30 20:25] #1319 closed

[2017-05-30 20:28] daN4cat commented on #1310
That was removed, not sure why you see that. Is it a completely new installation or some mix up of stuff?

[2017-05-30 20:28] #1310 closed

[2017-05-30 20:29] #1288 closed

[2017-05-30 20:41] jekkos commented on #1325
Well indeed I think it just truncates the description before displaying it to screen..

[2017-05-31 03:08] SteveIreland commented on #1325
Actually there were three parts to fix this.  The first is that the sales_items.description field had to be changed from VARCHAR(30) to VARCHAR(255).  Then the save method had to be changed to substring the fiield at 255 characters instead of 30.  Then finally the quote view had to be changed so that the entire 255 characters would be displayed instead of being truncated by a too small viewing por

[2017-05-31 09:28] daN4cat commented on #1325
So is the conclusion to extend the field to 255?

[2017-05-31 13:01] odiea commented on #1325
@SteveIreland  Will there be alternate Invoices and Receipts for this update?

[2017-05-31 13:33] SteveIreland commented on #1325
The way I'm coding it for the client is that it always prints the item name, but will only print the item description if the item is flagged to use alternate descriptions, otherwise it will not print the item description but will only print the item name.  However, if this seems like something that would be useful to OSPOS I'd probably add a system config option that will identify whether or not t

[2017-05-31 14:11] SteveIreland commented on #1325
So I should also pay attention to the receipt document too?  I expect that my client will use the receipt printer for part sales and quotes and invoices for repair and service sales - so that won't include item descriptions or alternate item descriptions.

I'm currently adapting quotes to be used as "Work Orders" which will be used to track repairs as they proceed from what the customer asks for t

[2017-05-31 14:25] odiea commented on #1325
With your new system can a Quote be changed to a Receipt when repairs are finished to prevent redundant typing of Entries?

[2017-05-31 16:47] kandesmond commented on #886
Hello there,

Any luck on the fix?

Thanks,
Desmond

[2017-05-31 19:16] daN4cat commented on #886
@jlctmaster can you please look into this issue?

[2017-05-31 19:59] odiea commented on #886
The following link will get you the original dinner table feature minus anything that has been added since this commit. It appears to be working  https://github.com/jekkos/opensourcepos/tree/6826115b2d029f6282e4fc2d7469b7576b0b436d

[2017-05-31 20:05] kandesmond commented on #886
got it.  so this build (the timestamp on this build is Feb 26.  So I guess the changes in this build was not merged into the latest build?

Thanks for the link.  I will give this build later tonight.

I will keep you guys posted.

[2017-05-31 20:06] odiea commented on #886
The latest does contain this feature but was broken after other new code was added.

[2017-05-31 20:14] kandesmond commented on #886
Got it.  Good to know.  Also, Is it possible to have a "floor plan" with all the tables in system? if not, will this feature be added or is it already on the roadmap somewhere?  if no, can this feature be requested?

Thanks,
Desmond

[2017-05-31 20:17] odiea commented on #886
If you want to use the Customer Rewards feature the following link is also working. Currently I believe most requests are on hold unless some User is willing to add that feature.
https://github.com/jekkos/opensourcepos/tree/cdc401dd7e1ad0827f96f511a65671d19c819c2a

[2017-05-31 20:19] odiea commented on #886
View issue #1196. Another requested feature.

[2017-05-31 20:27] daN4cat commented on #886
The table part really needs a dedicated owner otherwise I see it hard to progress. Neither I nor @jekkos have any driving reason to work on this as not a retail use case.

[2017-05-31 21:02] kandesmond commented on #886
ok.  Thanks for the heads up on the feature request.
Also, do you have any ETA when the latest build will have the fix for the suspended table issues.
I don't want to go back to the older build if the fix is coming soon ?

Thanks for your understanding.

P.S. I really like to stay with OSPOS because OSPOS is the best out of all the POS systems that I have tried so far.

-Desmond

[2017-05-31 21:04] daN4cat commented on #886
I hope @jlctmaster can help here and fix the issue. I don't have that much time to dedicate to this project at the moment.

[2017-05-31 21:17] kandesmond commented on #886
dan4ca,

Thanks.

jlcaster,

Please help !!!
:)

Thanks for all of your help as always.
I am really appreciated all of your help.
-Desmond

[2017-05-31 22:11] nvk1990 commented on #1326
@daN4cat I'm currently looking at the ajax call as well and it looks ok. However, I'm getting the below error in my code flow.

**views\sales\register.php**
`
<?php
		if(isset($salesperson))
		{
		?>
			<table class="sales_table_100">
				<tr>
					<th style='width: 55%;'><?php echo $this->lang->line("sales_salesperson"); ?></th>
					<th style="width: 45%; text-align: right;"><?php echo $salesper

[2017-06-01 02:52] Raoufasker opened #1329 "Arabic Translate"
Please Complete Arabic Translate To Project

[2017-06-01 05:17] daN4cat commented on #1329
Read the wiki and check how you can use Weblate yourself to complete the translations. Help is welcomed and don't expect others to fix everything for your case.

[2017-06-01 05:17] #1329 closed

[2017-06-01 13:31] jlctmaster commented on #886
Hi, sorry for the absence, I have been short of time by a project that I am currently working on, I understand that the error they report is when the suspended sale is restored, it is not tied to the original table with which the order was made, if not with the default being "Delivered."

This is so it?

[2017-06-01 13:35] odiea commented on #886
That and the suspended table still shows in the dropdown list of available tables.

[2017-06-01 14:16] kandesmond commented on #886
Jlcmaster,

Yes.  That's correct.

Please help.

Thanks for your help in advance.

Cheers
-d

[2017-06-01 15:24] dmiralles opened #1331 "Unable to login /public/login was not found on this server"
### Issue / Question / Bug

### Installation information
Fresh installation on the cloud. Installed over MySQL 5.5 and PHP5. Database.sql file imported.

### Actual behaviour
After installation is completed and database is imported, I'm unable to login the application with credentials provided in the Readme file. admin // pointofsale

### Steps to reproduce the issue
Complete installation and try

[2017-06-01 15:48] daN4cat commented on #1331
Read past and closed issues. This was covered few times.

[2017-06-01 15:48] #1331 closed

[2017-06-01 20:19] odiea commented on #886
It appears that the issue is the way suspended sales are now being kept in the database. When I suspend sales in a working version of Dinner Tables and then go to the newer version it functions properly until the suspended sales are all unsuspended.

[2017-06-01 20:50] daN4cat commented on #886
@odiea do you have time to understand when this suspended feature was touched?

[2017-06-01 21:33] odiea commented on #886
That's what I have been trying to find out. I believe it was introduced with @SteveIreland  new Tax feature. I did a work around in Controller/Sales.php that if Dinner tables was used it would revert back to the old suspended tables. I will include it for your inspection.
[code]

[2017-06-01 21:43] odiea commented on #886
It is part of the 3.0.2_to_3.1.0.sql database.
ALTER TABLE `ospos_sales`
  ADD COLUMN `quote_number` varchar(32) DEFAULT NULL,
  ADD COLUMN `sale_status` tinyint(2) NOT NULL DEFAULT 0;
The Sale Status is where it appears suspended sales are now being tracked.

[2017-06-01 22:04] odiea commented on #886
This link shows when it first appeared.
https://github.com/jekkos/opensourcepos/search?utf8=%E2%9C%93&q=sale_status+&type=

[2017-06-02 02:32] SteveIreland commented on #886
Just to add my 2 cents (about what it's worth).  The design intent was to ultimately drop the old suspended tables so that we no longer have to deal with both.  I'd hate to have been responsible for creating a situation where suspended sales are kept in both sets of tables.

The only reason I didn't drop them immediately was because of the existing data in the suspended sales tables.  At that time

[2017-06-02 02:41] odiea commented on #886
The issue is can you get the dinner table feature to work with your newer suspended feature because it does not work properly now.

[2017-06-02 02:57] SteveIreland commented on #886
I'll start getting up to speed on the Dinner table issue.  I'm sure it won't be wasted time since it's always been a fantasy of mine to open up a pop up Tex-Mex restaurant.  :smile:

[2017-06-02 03:48] kandesmond commented on #886
Steve,

Thanks for working hard on this.

I am really appreciated it.

-d

[2017-06-02 13:55] nvk1990 commented on #1326
@daN4cat @jekkos @odiea I've implemented the sales person functionality along with roles as Operator/Sales that can be edited/added to employees. However, on the sales screen I'm not able to show the search suggestions on the screen as it happens for items/customers. I have debugged the code using firebug and the response returned looks good. Below screenshots are for reference.

![image](https://

[2017-06-02 17:29] daN4cat commented on #1326
Commit a Pull Request so I can see what you have done as without checking the code it's just guesswork....

[2017-06-02 17:39] asadjaved63 commented on #24
have you start work on  customer debt function ?

[2017-06-02 19:45] jekkos commented on #1288
This query can be used to correct inventory quantities

[code]

[2017-06-03 10:57] eadjeidjan opened #1332 "I followed all the procedure to install but on lunch in browser, i get error 404"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-06-03 11:26] odiea commented on #1332
No template info.

[2017-06-03 11:26] #1332 closed

[2017-06-04 10:02] daN4cat commented on #1133
@odiea @meadlin I don't have more time today to test, but could you please check the reports are working fine now with regards to taxes?
I know there are many test scenarios to go through....

[2017-06-04 10:07] daN4cat commented on #1179
@joshua1234511 there were few regressions that I fixed in detailed reports, also there was no flag to remove the extra reward detail line if the feature was disabled.

BTW, there is a problem with the config, when the submit if clicked there is no pop up notification confirming all is fine. Could you please check into that?

[2017-06-04 10:09] daN4cat commented on #886
There is a problem with the config, when the submit is clicked there is no pop up notification confirming all is fine. @SteveIreland, when fixing this could you please check into that issue as well?

[2017-06-04 10:14] daN4cat commented on #886
Also the behaviour of the input boxes is not correct when the checkbox is unticked and submit is clicked. They should stay grey/disabled.

[2017-06-04 10:14] daN4cat commented on #1179
Also the behaviour of the input boxes is not correct when the checkbox is unticked and submit is clicked. They should stay grey/disabled.

[2017-06-04 12:13] odiea commented on #886
@daN4cat I cannot duplicate the config issues. Both appear to be working correctly .

[2017-06-04 12:41] daN4cat commented on #886
Strange I can see:

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: Delivery</p>
<p>Filename: models/Dinner_table.php</p>
<p>Line Number: 14</p>

[2017-06-04 12:52] daN4cat commented on #886
I wouldn't that it's a PHP version related issue. Which version do you use? I have 5.6

[2017-06-04 13:01] odiea commented on #886
7 something.

[2017-06-04 13:03] daN4cat commented on #886
I found the root cause.Quick testing. It's probably due to the PHP version.

[2017-06-04 13:11] odiea commented on #886
I will try it in 5.6 and see what it does.

[2017-06-04 13:26] odiea commented on #886
PHP Version 5.6.15 I tried it on this version with a new db and I have no issues.

[2017-06-04 13:27] odiea commented on #886
The Dinner Tables feature is still not working in Sales with a new db but the config looks ok on my end.

[2017-06-04 13:32] daN4cat commented on #886
Fixed the Config tables pop up issue.

[2017-06-04 13:34] daN4cat commented on #1179
The notification pop up at config submit time is fixed, however there is another error:

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined index: points_percent</p>
<p>Filename: controllers/Config.php</p>
<p>Line Number: 626</p>

Please check with PHP 5.6 if that could make a difference.

[2017-06-04 13:44] odiea commented on #1179
I still have no issues with 5.6.

[2017-06-04 13:51] daN4cat commented on #1179
And latest master?

[2017-06-04 13:56] odiea commented on #1179
I did a merge before and after I tested and all was ok. I will download the latest and see what that does.

[2017-06-04 14:12] odiea commented on #1179
I am not getting any errors from the current master. When does this error show?

[2017-06-04 14:45] daN4cat commented on #1179
When you go to rewards, unchecked the box and submit. The pop up not notification will not show but beneath with the inspector you can see there is that error.

[2017-06-04 14:51] odiea commented on #1179
No issues here. I am using Mariadb and not Mysql. Pop up shows just fine.

[2017-06-04 15:02] odiea commented on #1179
I just fired up my vm with the following and I am having no issues there either.

    Server: Localhost via UNIX socket
    Server type: MySQL
    Server version: 5.7.18-0ubuntu0.16.04.1 - (Ubuntu)
    Protocol version: 10
    User: root@localhost
    Server charset: UTF-8 Unicode (utf8)

Web server

    Apache/2.4.18 (Ubuntu)
    Database client version: libmysql - mysqlnd 5.0.12-dev - 20150407 -

[2017-06-04 15:23] odiea commented on #1179
Here is what I see with both php versions after removing the check mark.
![2017-06-04 09_21_16-program manager](https://cloud.githubusercontent.com/assets/10962177/26762907/5e3d29fc-4907-11e7-9f56-562d53a8ea36.png)

[2017-06-04 17:21] SteveIreland commented on #886
I'll rebase again on the latest master and give my changes some more testing.  It does include the fix for the unsuspending dinner table issue.

[2017-06-05 02:47] zhumingyu commented on #915
thks

[2017-06-05 03:17] edzofcit commented on #24
Hi guys very willing to support this debt function.

On Sat, Jun 3, 2017 at 1:39 AM asadjaved63 <notifications@github.com> wrote:

[2017-06-05 03:23] thegm90 commented on #1297
Hey Jekkos, any news on your findings?

[2017-06-05 03:43] SteveIreland commented on #886
Testing and debugging is going pretty well.  However, I want to focus on VAT tax testing tomorrow night.

And I just wanted to add that I tested the config changes and they are working fine on 7.0.10 of PHP and 5.7.14 of MySQL for me.  Thanks.

[2017-06-05 04:09] ishtiaquesarwar commented on #24
That would be great

On Jun 5, 2017 09:17, "edzofcit" <notifications@github.com> wrote:

[2017-06-05 05:44] daN4cat commented on #886
Config for tables it's fine since I fixed it.

[2017-06-05 05:45] daN4cat commented on #1179
Thanks @odiea I'll have a better look into this later.

[2017-06-05 05:47] kandesmond commented on #886
Thanks everyone.

Is there a way to get the fix for the suspended tables issues?
Thanks

-d

[2017-06-05 08:40] daN4cat commented on #886
@kandesmond it's ongoing, @SteveIreland is testing his fix.

[2017-06-05 14:34] kandesmond commented on #886
Got it.  Thanks.

[2017-06-05 20:56] nvk1990 commented on #868
@dayano @freemail624 Hi, I was looking at a similar requirement and mine is simple. I always wanted to export all the records irrespective of the records displayed on the page or selected records.

I was able to achieve it by modifying the code below in **public\dist\opensourcepos.min.js**
From
`exportDataType: "basic"`
To
`exportDataType: "all",`

Not sure if anyone has a simple requirement as I

[2017-06-06 05:04] daN4cat commented on #868
If you are all OK I can change that value to all by default.

[2017-06-06 12:58] SteveIreland commented on #868
Defaulting to all  sounds good to me.

[2017-06-07 07:15] i92guboj opened #1333 "Any way to change origin/destination of order AFTER completing it?"
Sorry for the question but, is there an easy way to change the origin or destination of a given order after completing it?

It has happened to me lots of times. After completing an order or requisition, I notice I entered it on the wrong storage location.

What I do now is:
A) I go to reports, search the order and delete it (haven't found another way to delete orders)
B) I enter again the whole or

[2017-06-07 08:04] leominojr opened #1334 "Item Kit Question"
Hello Good Day,

Is it possible that the item kit can be tendered on quantity?

Example.

Item Kit Name: Christmas Pack 1
Item Components:
1. Apple : 5PCS
2. Wine : 2 PCS
3. Spaghetti: 1
4. Spaghetti Sauce: 1

When you tendered Christmas Pack 1
The item components should not be seen in the register. By which only the christmas pack and the quantity.

if you put christmas pack 1 and quantity 2
The

[2017-06-07 09:04] jekkos commented on #1333
You'll have to return the order first.

[2017-06-07 09:05] jekkos commented on #1297
I had another short look and indeed, the file is not in the container, didn't directly understand why. Will need to find some more time to investigate further.

[2017-06-07 09:46] i92guboj commented on #1333
I don't understand that. Please, care to elaborate a bit more?

I can return the order, yes. Or I can just delete it because it should have never been ordered. From my point of view, and for this concrete case, it makes no difference.

But then I have to re-do manually the order again against the correct store(s).

Am I missing something?

What I am asking is if there's a way to automatically redo

[2017-06-07 13:10] dprimax commented on #920
if you are running OSPOS with nginx you cannot use above method (editing .htaccess file)

you should add below configuration to your nginx.conf under

[code]
but with above configuration you will still have a problem with images. For complete guide if you are using nginx you can see it [here](https://github.com/jekkos/opensourcepos/wiki/Deployment-of-OSPOS-with-LEMP-on-Raspberry-Pi-3-Model-B)

[2017-06-07 13:51] SteveIreland commented on #1334
That's not supported by the item kit process.  Once the items associated with the kit are added then it's unfortunately necessary to change the quantities on the individual components.

[2017-06-07 15:13] lexcorp commented on #1292
This opensource application enable food delivery tracking:

https://github.com/crunchbutton

[2017-06-07 15:21] jlctmaster commented on #886
Hello everyone, I have been able to review the recent changes and I have applied the correction to the error presented with the feature of the dinner table, please check the PR.

[2017-06-07 18:21] SteveIreland commented on #886
I assume that means I'll need to rebase again and resolve conflicts.  But that's cool.  I'm becoming an expert at rebasing.

[2017-06-07 18:26] jlctmaster commented on #886
You were working on solving this bug? I'm sorry.

[2017-06-07 18:45] daN4cat commented on #886
I merged the fix, @kandesmond please test and confirm it's fixed. Same for @odiea and @SteveIreland if you find the time.

[2017-06-07 18:45] daN4cat commented on #886
Thanks @jlctmaster for the help

[2017-06-07 18:52] jlctmaster commented on #886
No problem sorry for the delay

[2017-06-07 19:07] #1326 closed

[2017-06-07 19:48] kandesmond commented on #886
I will definitely try it out later tonight.

Thanks everyone.

[2017-06-07 20:08] daN4cat commented on #1179
I close this as in the end I don't use/need. If somebody spots the same issue we will reopen.

[2017-06-07 20:08] #1179 closed

[2017-06-07 20:15] daN4cat commented on #1133
All, we need to test this tax functionality as it's the last part before we can deliver 3.1.0 outside a couple of last bug fixes.
Let's put an effort as many complained about this functionality not be up to expectation and we are almost there.

[2017-06-07 20:47] meadlin commented on #1133
Sorry, was recovering from surgery. I pulled the latest and tried my test case today, and the reports are still incorrect. Was there a DB change as well? or just code?

[2017-06-07 21:04] daN4cat commented on #1133
DB changed too. You need to run migrate. Make sure it's enabled to admin as you need to see an icon in the main menu in order to access it.

[2017-06-07 21:10] odiea commented on #886
Appears back to being functional again. Drop down does not show suspended tables and when unsuspended the table name or number is retained. Good Work.

[2017-06-07 21:29] meadlin commented on #1133
made the DB change but it didn't correct the reports. Both the detailed and summary reports are rounding down.

[2017-06-07 21:36] daN4cat commented on #1133
@SteveIreland comments?

[2017-06-07 21:58] meadlin commented on #1133
My setup/test is pretty simple: 2 tax rates (4.75% and 3.75%) and the sale of a single item at $450.00
The sale/receipt is correct in showing $38.26 in tax, but the taxings/detailed/summary reports all show 38.25 in tax.

[2017-06-08 01:24] kandesmond commented on #886
it's fixed and it's working great now.

Thanks for fixing it.

Cheers
-d

[2017-06-08 02:18] leominojr commented on #1334
I cannot change the quantity of how many kits the customer will purchase. Is it possible for future?

[2017-06-08 03:02] SteveIreland commented on #1133
I apologize for the delay in returning to this.  Unfortunately I had to put all of my attention on adding support for work orders to OSPOS ... this is critical to their operations - I simply adapted quotes for this purpose.

I should be able to refocus on taxes this weekend.

@meadlin Do you have your tax decimals set to 3?  That should result in the tax amounts at the `sales_item_taxes` being sto

[2017-06-08 03:29] SteveIreland commented on #1334
Yes ... if @jekkos and @daN4cat haven't banned me before then ... whenever "then" is.  It was something I wanted to do, but I was my first change and I wasn't sure I wanted to bite off a non-trivial database change.

[2017-06-08 04:13] meadlin commented on #1133
@SteveIreland Yes the tax decimals is set to 3.

[2017-06-08 04:51] kandesmond commented on #886
I found one minor issue and I don't think it's a big major issue but I figure out that I should point it out.

below is my settings.
Table name
--------------
Delivery 1
Take away 1
Delivery 2
Take away 2
Table 1
Table 2
....
Table 10

I suspended a sale for "Delivery 1" and it got suspended and un-suspended without any issues but "Delivery 1" is still available in the drop down for the new sales.

[2017-06-08 05:11] daN4cat commented on #886
@jlctmaster can you please check the new issue and fix?

[2017-06-08 05:24] kandesmond commented on #886
Sorry, one more.  i just tested it ... it's also happening to Take away 1.

I have tested it all the way to Table 6 and it's fine.

so it seems it's only happening to the first Two tables in the drop down.

[2017-06-08 08:59] leominojr commented on #1334
Thank you

[2017-06-08 13:21] waynebr76 opened #1336 "Discount Issue with Checkout"
### Issue / Question / Bug

Before submitting an issue please make sure you remove the first section of the template and you tick (add a x between the square brakets) and agree with all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensource

[2017-06-08 13:49] odiea commented on #1336
If you selected Invoice or Quote from the drop down then you will have to also select a Customer for either of those to work.

[2017-06-08 13:58] waynebr76 commented on #1336
Hi thanks for the quick reply, I am performing this in sale mode

[2017-06-08 14:04] odiea commented on #1336
I could not duplicate your issue.
![2017-06-08 08_02_16-program manager](https://user-images.githubusercontent.com/10962177/26932547-0221c9f8-4c21-11e7-9823-5421a48239ef.png)

[2017-06-08 14:31] waynebr76 commented on #1336
Hi that's strange. I've tested on 2 pcs and my phone and the add payment button dies not change to complete. I used a fresh download from here

[2017-06-08 14:37] odiea commented on #1336
All I can suggest is make sure Register says Sale. Have you tried it with a customer name selected?

[2017-06-08 14:45] waynebr76 commented on #1336
Yes I have tried these and still the same issue. Invoice works normally but not sale

[2017-06-08 17:37] daN4cat commented on #1336
How is the tax calculated? Is that applied to the item or else? The issue might be related to the tax changes....

[2017-06-08 18:01] waynebr76 commented on #1336
All of our tax is included so ospos works out the 20% from the price

[2017-06-08 20:39] jlctmaster commented on #886
Hello, this is not an error but the basic functionality of this feature, since according to the logic with which this functionality was tested is the following, the records that come preloaded "delivery" and "take away" should not be reserved in the sale, if it is true that at the moment of suspending the sale this keeps the selected record, however, these should always be available.

With the res

[2017-06-08 21:25] jlctmaster commented on #1287
Hello, I have created a small article of what I consider describes the characteristic of the [dinner table](https://github.com/jekkos/opensourcepos/wiki/Dinner-Table), if lack content, please let me know.

[2017-06-08 22:44] kandesmond commented on #886
Steve,

Got it.  Thanks for your answers.

-d

[2017-06-09 06:15] bill-goldberg opened #1337 "for Pharmacy Stores"
I am using this application for my small medical store. Sometimes customer ask for only 1-5 tablets from a Strip of 10 tablets. So how can i manage this kind of sale , also handling the quantity during sale.
As of now sale module adds quantity 1 as default.

[2017-06-09 09:11] #886 closed

[2017-06-10 22:10] nvk1990 commented on #1337
@bill-goldberg
Hi.. Did you try updating the "Quantity Decimals" under Store Config--> Localization to the desired value(Maybe 2?). Also, when you update the quantity, consider it in batches the tabs comes in.

For example, if paracetamol comes in strips of 10 and Insulin comes in multiples of 5, use item description like " paracetamol 10 tabs", "Insulin batch of 5" etc. When you perform a sale, e

[2017-06-10 23:20] kandesmond opened #1338 "Print a billing/invoice before complete the sale ?"
Hello there,

Is there a way to generate or print a billing/invoice before complete the sale ?

I see there's a feature named "invoice, quote and sale with invoice" but none of them allow me to print it before completing the sale?

I am going to use the POS at a restaurant so it's common and standard thing to generate and print a billing or invoice and show it to the customers when they are ready

[2017-06-11 04:17] RamkrishnaMondal commented on #1334
It's doable.....if the customer wish to buy say,  2 nos of 'Christmas Pack 1', just enter the kit twice in sales register.

[2017-06-11 07:52] xuzo opened #1339 "I'm trying to get this done:"
I'm running windows 7 with Xampp, PHP5.6 , I see this in FAQ but I have NO IDEA how to do it! Any simple tutorial on this, no command line, just fix code in certain files manually?

`If a blank page (HTTP status 500) shows after search completion or receipt generation, then double check php5-gd presence in your php installation. On windows check in php.ini whether the lib is installed. On Ubuntu i

[2017-06-11 08:50] daN4cat commented on #1339
Read past closed issues and wiki.

[2017-06-11 08:50] #1339 closed

[2017-06-11 18:52] bill-goldberg commented on #1337
Thank you @nvk1990

[2017-06-11 20:47] jekkos commented on #1287
@jlctmaster thanks for the writeup, was on holiday for a week but now back and good to followup again a bit

[2017-06-12 06:03] bill-goldberg commented on #1337
Would you please like to give any suggestion regarding handling batch numbers for a same medicine.
How to track particular batch during sale , receive ?

[2017-06-12 08:03] dmiralles commented on #1331
Hi,

I've followed your advices but unfortunately, It is not working for me.

I'm installing OSPOS on the GCE Cloud -> Linux -> Ubuntu 14.04.

My configuration is the following:
- MySQL 5.5
- Apache 2.4.7
- PHP 5.5.9

I've used database.sql file imported to DB and I'm connecting properly.
I've added my encryption key in the config.php, just a test with "test123"

Also, these are the extensions ena

[2017-06-12 09:30] nvk1990 commented on #1337
@bill-goldberg you can use the custom fields available under store config->General to hold the batch details and modify the code to track it during sale, receive and reporting.

Cheers!

[2017-06-12 09:45] dmiralles commented on #1331
mcrypt is also installed as PHP extension

[2017-06-12 10:22] daN4cat commented on #1331
And have you checked your htaccess file inside public folder?
Is that configured correctly especially if you have a subdir?

[2017-06-12 10:42] dmiralles commented on #1331
Could you please provide me, some steps to check this information you mention?
I've installed the repo on var/www/html and to access through web-browser I've to enter ip/public to go to login page.

Thanks!

[2017-06-12 13:15] daN4cat commented on #1331
check the htaccess file in public. Have you opened it?

[2017-06-12 13:16] daN4cat commented on #1331
The fact that it's a subfolder requires a different rule in that htaccess file. Read the comments in the file...

[2017-06-12 21:52] odiea commented on #1331
Not Found The requested URL /opensourcepos/public/login was not found on this server. #920. Pay attention how to enable rewrite. I followed these directions on a new 10.04 server install and all worked ok .

[2017-06-13 09:24] odiea opened #1340 "Sale by Quote is no longer being automatically suspended."
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-06-13 12:16] dmiralles commented on #1331
Got it! Thank you so much! This information must be documented in the FAQ section. You'll avoid several questions like this one. :)

[2017-06-13 12:57] odiea commented on #1331
That is where the information came from.

[2017-06-13 13:30] dmiralles commented on #1331
I've not seen nothing related to .htaccess on the FAQ.

[2017-06-13 13:40] odiea commented on #1331
![2017-06-13 07_39_58-jekkos_opensourcepos_ open source point of sale is a web based point of sale sys](https://user-images.githubusercontent.com/10962177/27085112-947df34c-500b-11e7-8718-bf230663bb17.png)

[2017-06-13 13:54] waynebr76 opened #1341 "TAX Migration Issue"
### issue/Question / Bug

Before submitting an issue please make sure you remove the first section of the template and you tick (add a x between the square brakets) and agree with all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepo

[2017-06-13 13:59] SteveIreland commented on #1340
I'll download and install a fresh snapshot tonight and check it out.  However, I have to ask, when you mean it's not suspended are you referring to the fact that it is no longer being written to the "suspended sales" tables?

Quotes are still being suspended in my working branch (i.e. being flagged as suspended in the usual sales tables) ... so I'll check to make sure that something didn't break i

[2017-06-13 14:24] odiea commented on #1340
Previously when a quote was created it had the option on the print screen to discard. If it was not discarded it would then be suspended for future editing. The suspend part is not happening now.

[2017-06-13 14:27] SteveIreland commented on #1340
Okay.  The way it should be working now is by the time it gets to the print screen it is already "suspended".  The option to "Discard" should delete it from the sales tables and return the user to the sales register.

[2017-06-13 17:19] jekkos commented on #1297
Should be fixed now @thegm90. Can you verify? Thanks!

[2017-06-13 17:20] jekkos commented on #1341
Ok thanks for testing this! We need help. Can you elaborate a bit on the specific configuration settings?
Using tax included or multiple taxes on items? Thanks.

[2017-06-13 17:22] jekkos commented on #1328
I kind of like to fix these little quirks for some reason, will have a look later this week.

[2017-06-13 17:24] jekkos commented on #1333
You can do a requisition from one location to another. You'll need the receiving number and then input it in the order screen after setting mode to requisition. Then delete the items that were correct and move the wrongly inserted to the right location.

[2017-06-13 17:44] waynebr76 commented on #1341
Hi I am using tax included on my previous and current version

[2017-06-13 17:45] waynebr76 commented on #1341
And it is just a single tax rate

[2017-06-13 19:32] daN4cat commented on #1341
VAT @ 20% included case. @SteveIreland we need you to finish this tax work since you promised support and bug fixing.....

[2017-06-13 19:33] daN4cat commented on #1341
The migration probably added the tax on old transactions without taking account the tax included option.

[2017-06-13 19:50] waynebr76 commented on #1341
Thanks is it possible to rectify it once the migration had taken place?

[2017-06-13 19:57] daN4cat commented on #1341
I hope you created a databse backup

[2017-06-13 20:20] waynebr76 commented on #1341
I do have a backup but didn't test the reports at the time so have a few days of sales in the new system. I guess I will just have to use the old system for historical reports

[2017-06-13 22:11] SteveIreland commented on #1341
At this point I didn't think the reports have been changed.  However, it's no surprise to me that this came up today.  I've been slammed with sofware issues from all corners today.

Thanks @waynebr76 for giving it try from the tax included side.  The migration can be rerun at any point if you clear the `sales_taxes` table.  During my development and testing I reran it numerous times.  But, of cour

[2017-06-13 22:27] waynebr76 commented on #1341
I'm not sure what you mean by extended amounts but the sales after the migration date Ppear to be adding up. I did also report an issue in that adding a discount at sale won't process and it was suggested that this may also be an issue in the tax update.

[2017-06-13 22:49] SteveIreland commented on #1340
I just wanted to report the results of my simple test.

I downloaded the latest master branch and set up a test environment for it with a fresh database and added a single item and customer.

I was able to prepare a quote and the quote was automatically suspended.

I was able to "unsuspend" the quote, but when I went to prepare an invoice from it the system failed with an undefined variable named

[2017-06-13 22:55] SteveIreland commented on #1338
I suppose that the quote and invoice could be adapted for that purpose since the quote can easily be printed before any payments are made (the sale is suspended at that point) and then the final receipt (or invoice for that matter) can be printed after the payment has been processed.

[2017-06-13 22:55] odiea commented on #1340
Did you try multiple quotes. It appeared it did not show until the 2nd or 3rd try.

[2017-06-13 22:56] SteveIreland commented on #1340
I did not, but will do that now.

[2017-06-13 23:05] SteveIreland commented on #1340
I did 10 in a row with no problems - same customer and same item.  They are all showing under suspended sales for that customer.

Any other thoughts as to what might be unique to your setup that is different than mine?  The only configuration option I selected was to enable the Sales tax feature and I added a default state sales tax.

[2017-06-13 23:06] SteveIreland commented on #1340
What markup are you using for assigning quote numbers?

[2017-06-13 23:19] odiea commented on #1340
I think I found my issue. I have customer sales tax support enabled. If I do a quote for a person with the sales tax code it suspends just fine but if no sales tax is set or set to 1 for the customer that is when it will not store the quote.
![2017-06-13 17_17_17-wedidit _ powered by ospos 3 1 0](https://user-images.githubusercontent.com/10962177/27108755-55db5f66-505c-11e7-9f90-e0d65b5ce41b.png)

[2017-06-13 23:20] kandesmond commented on #1338
Steve,

I found the post of https://github.com/jekkos/opensourcepos/issues/352 is the answer to my question.  So my next question is the solution in #352 will be implemented or is it already on the road map already?

thanks for your help as always.
-Desmond

[2017-06-13 23:21] odiea commented on #1340
It also does not charge Sales tax on the Sale if the Tax Code is set to 1.

[2017-06-13 23:29] odiea commented on #1338
Yes the Proforma is now the quote feature. So if you save the Sale as a Quote and print it for the customer it then can be turned into a paid receipt at the register once it is unsuspended.

[2017-06-13 23:32] kandesmond commented on #1338
Hum ... I didn't see a way or any option to print it as a quote?  Also, am i supposed to add my receipt printer as a ticket printer?  I don't see a way to add my receipt printer as a ticket printer as well.

Thanks
-d

[2017-06-13 23:34] kandesmond commented on #1338
My current setup is to print the receipt from the firefox

[2017-06-13 23:38] odiea commented on #1338
Yes I see what you mean. Maybe an appconfig can be added to either use the Invoice format or the receipt format for Quotes.

[2017-06-13 23:43] kandesmond commented on #1338
Hummm i thought i am just missing a button to click for print out the quote/unsuspended sale ?  Also, may i know what appconfig is?  Thanks

[2017-06-13 23:48] odiea commented on #1338
For the Quote and Invoice function to work you must enable it under Invoice in store config. Then to use the Quote or Invoice you have to select a customer from the customer list.

[2017-06-13 23:53] kandesmond commented on #1338
"Invoice" in store config has been set to enable it since day 1 but I just don't see any way to let me print it as a quote .... let me try it again tonight and post some screenshot with some outputs here tonight.

Thanks for your steps.

[2017-06-13 23:57] odiea commented on #1338
Sale must contain a customer.
![2017-06-13 17_55_19-wedidit _ powered by ospos 3 1 0](https://user-images.githubusercontent.com/10962177/27109693-9b7fb2a6-5061-11e7-835c-2777baef6f52.png)
 Click on Quote button and you will get the following.
![2017-06-13 17_55_42-wedidit _ powered by ospos 3 1 0](https://user-images.githubusercontent.com/10962177/27109710-b3dfdff6-5061-11e7-9087-98bd9e8bf37f.png)

[2017-06-14 00:04] kandesmond commented on #1338
Oh, no wonder.  I missed the customer info.  So is it possible to have the system to print out a quote without the customers name?  Is it easy to modify the codes to make the system to print without the customer info?

[2017-06-14 00:52] kandesmond commented on #1338
This POS is going to be for my restaurant to use.  I hope it make senses to you guys why i would like to print it as a quote without the customer info since the customers from restaurant seldom leave their names when they are ready to checkout.

[2017-06-14 00:52] SteveIreland commented on #1340
Okay, I'll take a look at that scenario now.

I just submitted a pull request to fix the the dinner table status error I was encountering.

[2017-06-14 00:58] SteveIreland commented on #1340
I'm assuming that you did not configure a default origin sales tax code under the general tab to be used for customers that don't have a specific tax code assigned.

[2017-06-14 01:34] odiea commented on #1340
Of course I did. Gotta figure out how to make things work or break.

![2017-06-13 19_32_06-wedidit _ powered by ospos 3 1 0](https://user-images.githubusercontent.com/10962177/27111689-1a1aee16-506f-11e7-90c9-d220d8d5bb81.png)

[2017-06-14 02:05] SteveIreland commented on #1340
I can't get it to break.  I'll pound on it some more tomorrow.

[2017-06-14 02:28] odiea commented on #1340
I do not test with debug or any other aid. I just download the app and try it out. I could not see your error or the errors @daN4cat saw earlier with another issue.

[2017-06-14 22:31] odiea commented on #1340
I downloaded the latest. Created a new db and everything is working correctly except when I go to discard a Quote it is still appearing in the suspended sales tables.

[2017-06-15 08:18] odiea commented on #1340
I am assuming that after I create a quote and do not want to accept it then the red button on the below image should remove the quote from the suspended table.
![2017-06-15 02_14_45-open source point of sale _ powered by ospos 3 1 0](https://user-images.githubusercontent.com/10962177/27172001-c5740944-5170-11e7-9057-d6bbc75463a9.png)

[2017-06-15 08:22] odiea commented on #1340
And I quote you from a previous comment.
"Okay. The way it should be working now is by the time it gets to the print screen it is already "suspended". The option to "Discard" should delete it from the sales tables and return the user to the sales register."

[2017-06-15 08:34] erastus91 opened #1343 "Hello!. I have a question. Can I take part of your code ?. I will create an opensource cms"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-06-15 08:35] odiea commented on #1343
It appears you can not read a template so I will assume they will say no.

[2017-06-15 08:40] erastus91 commented on #1343
do you speak Spanish?. I use google translate

[2017-06-15 08:43] odiea commented on #1343
Cerveza and Bano is the extent of my Spanish. So no.

[2017-06-15 08:50] erastus91 commented on #1343
ok. For what I read, talks about the complete point of sale. But it says nothing about extracting a piece of code.

[2017-06-15 08:54] erastus91 commented on #1343
Could be taken as part of code developer.

[2017-06-15 10:11] daN4cat commented on #1343
CMS is not a POS system. CMS would be too generic to build a POS.

[2017-06-15 10:12] daN4cat commented on #1343
With regards to contribute, please check the list of open issues and see if you want to pick up a feature and develop it.

[2017-06-15 12:46] diranetafen commented on #1297
HI @jekkos  , I was facing the same issue ( database.php missing in latest docker images)  last week, after your update all is OK now Thanks !

[2017-06-15 14:58] erastus91 commented on #1343
The feature I would like to take is the controller extension, Secure_controller.php

[2017-06-15 15:41] odiea commented on #1340
The issue of not suspending Sales was due to me enabling the Customer tax.

[2017-06-15 17:39] daN4cat commented on #1340
So is there a bug or no?

[2017-06-15 17:45] odiea commented on #1340
Only issue now is It is not discarding the Suspended Sale when pressing the Discard button. The other issues were my not using the Customer Tax properly.

[2017-06-15 18:04] i92guboj commented on #1333
Hello and thank you for your help.

I can't manage to do it though. I've been trying but there's either something obvious that I am missing here, or we are missing each other's point hehe.

So, I'll illustrate with an example, keep in mind I use spanish localization, so the exact English words I'll use to refer to program options might not be exact, but I hope you'll be able to follow me.

Let's i

[2017-06-15 18:07] daN4cat commented on #1343
I'm not sure I get, what would be that feature since there is already a Secure_controller?
Do you mean a better access control feature or else?

[2017-06-15 18:21] erastus91 commented on #1343
Controller_secure.php if I can occupy it for the cms project?

On the other hand clone this repository and find an error.
Hashes do not match
Footer.php has this hash 4f5ad57
And session_sha1 has 93f24f6

![screenshot_4](https://user-images.githubusercontent.com/6712397/27195721-775558aa-51cd-11e7-8b76-39b96ee1ff63.png)

[2017-06-15 20:20] diranetafen opened #1344 "Change Language to French make php container crash with 500 error code"
Hi,
I have succefully BUILD and RUN docker container for opensourcepos.
But I am facing an issue, when i change the language to French the web server crash with 500 error code, and i'm not facing any issue using other language (chinise, German ...)
Please can you help me ?
Thanks in advance

Another thing : How can i view error log of php container, the "docker logs" command show me only access lo

[2017-06-15 20:30] erastus91 commented on #1344
speaking spanish?

[2017-06-15 20:33] diranetafen commented on #1344
@erastus91  No i am speaking French but i try to write my message en english. My problem is when i try to change the language to French the server web (php container) crash with 500 error code

[2017-06-15 20:39] erastus91 commented on #1344
Switch from production to development to see the error

[2017-06-15 20:40] daN4cat commented on #1344
Most likely some translation is missing. Check the wiki to understand how you can help with the translations using Weblate.

[2017-06-15 20:42] diranetafen commented on #1344
Thanks for your answers.
@erastus91  how to make this (Switch from production to development to see the error) ?

[2017-06-15 20:52] erastus91 commented on #1344
in the file public/index.php
![screenshot_5](https://user-images.githubusercontent.com/6712397/27201251-9ec55b96-51e2-11e7-965e-5bdd170792e8.png)

[2017-06-15 21:00] diranetafen commented on #1344
Thanks @erastus91  ; I will try this :-)

[2017-06-15 21:09] jowinlee commented on #1338
My simple workaround with that is to simply create a guest customer like "Dine-In Guest"
![guest](https://user-images.githubusercontent.com/6857572/27201898-f4bc9ff4-5251-11e7-87b9-afed9c79b46a.png)

[2017-06-15 21:12] kandesmond commented on #1338
Yes i guess i will go with that option for now.

Thanks everyone
-d

[2017-06-15 21:14] erastus91 commented on #1344
You send a catch so we can see the error. The new version includes the French language, you need to indicate the version you have and the commit hash, to follow the error.

[2017-06-15 21:26] odiea commented on #1340
Here is the error I am getting after clicking on the discard button in quote
![2017-06-15 15_24_07-wedidit _ powered by ospos 3 1 0](https://user-images.githubusercontent.com/10962177/27202464-f7703350-51de-11e7-8db3-fcc333379778.png)

[2017-06-15 21:32] erastus91 opened #1345 "UI is blocked"
Hashes do not match
Footer.php has this hash 4f5ad57
And session_sha1 has 93f24f6

no he realizado modificación
![screenshot_4](https://user-images.githubusercontent.com/6712397/27202610-e2580cdc-51e7-11e7-8645-e84b359ff66f.png)
![screenshot_6](https://user-images.githubusercontent.com/6712397/27202680-1c29eec6-51e8-11e7-8f47-f092413f262d.png)
![screenshot_7](https://user-images.githubusercontent.

[2017-06-16 06:07] diranetafen commented on #1344
[Version]
![version](https://user-images.githubusercontent.com/18481009/27213842-9091921a-5269-11e7-9d53-e868f42b2bf2.PNG)

[Commit]
I am using the latest commit of the project

[Step to reproduce the error]

Step 1 : connect to web page and change language
![step1](https://user-images.githubusercontent.com/18481009/27213962-2f7caeb4-526a-11e7-9f9d-f0344f871bfb.PNG)

Step 2 : Submit the new langua

[2017-06-16 07:41] erastus91 commented on #1345
Solved !. Download the previous version and copy the file  application/views/partial/footer.php. To the new repository

[2017-06-16 09:24] diranetafen commented on #1344
After switch to development mode, the error was displayed :

![error](https://user-images.githubusercontent.com/18481009/27220676-4f9ab7f6-5286-11e7-9577-17db920a76c3.PNG)

[2017-06-16 09:43] diranetafen commented on #1344
I have solved my issue ! :-)

In the "/app/application/language/fr/config_lang.php" we have those <<"\\\\\ .....\\\\">>  character :

![pb1](https://user-images.githubusercontent.com/18481009/27221230-1f2e321c-5288-11e7-89cf-bfce4f9e5645.PNG)
![pb2](https://user-images.githubusercontent.com/18481009/27221231-1f32ad1a-5288-11e7-856a-472e1add2043.PNG)

After remove those <<"\\\\>> and <<\\\\">> my p

[2017-06-16 14:31] odiea opened #1346 "Payments Graphical Reports not showing properly"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-06-16 14:52] diranetafen opened #1347 "Receivings Module issue"
I'm facing the following error with the receivings module :

![issue](https://user-images.githubusercontent.com/18481009/27231587-5b39b6fc-52b3-11e7-9e53-9e844cf49420.PNG)

he have an incoherence between quantity of item in the total at the right side.

Thank you in advance for your answer :-)

[2017-06-16 14:54] #1345 closed

[2017-06-16 14:56] jekkos commented on #1333
Ok normally under requisition you should be able to enter the receiving id. This could be a bug as I recall that it worked in the past.

[2017-06-16 14:56] jekkos commented on #1333
To be investigated

[2017-06-16 14:58] jekkos commented on #1328
Think the submit triggers once the field blurs.. it might be more defensive to do that only if something was changed (thus by using change handler instead of blur or focusout)

[2017-06-16 15:05] i92guboj commented on #1333
Please, double check it. I don't want to trigger unnecessary alarms because of local setup issues. Maybe it's something in my cloned repo.

[2017-06-16 16:04] ebenezery4 opened #1348 "BLOCKED INTERFACE ON LOGIN"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-06-16 17:18] erastus91 commented on #1348
https://github.com/jekkos/opensourcepos/issues/1345

[2017-06-16 18:24] odiea commented on #1347
Would you please test my fork and see if it fixes the issue. To work properly you must run receivings.sql from database.

[2017-06-16 22:49] diranetafen commented on #1347
@odiea  where can i find this receivings.sql  file ?

[2017-06-16 22:51] odiea commented on #1347
It is located in the Main directory in the database folder.

[2017-06-16 22:53] diranetafen commented on #1347
@odiea  I don't see receivings.sql  file name

[2017-06-16 22:55] odiea commented on #1347
It is a simple script that changes all the 0 to 1 in the items receiving quantity. You can run it .
UPDATE ospos_items SET receiving_quantity = 1 WHERE receiving_quantity = 0;

[2017-06-16 22:56] diranetafen commented on #1347
Ok i try it now

[2017-06-16 22:57] odiea commented on #1347
Click on my name and it will take you to my update. It is not in thsi branch.

[2017-06-16 23:09] diranetafen commented on #1347
![database](https://user-images.githubusercontent.com/18481009/27247483-2b45076c-52f9-11e7-9574-dab287acfd43.PNG)

The issue still present

![issue2](https://user-images.githubusercontent.com/18481009/27247517-a3d030da-52f9-11e7-8a07-054903095383.PNG)

[2017-06-16 23:11] odiea commented on #1347
And did you get this from my fork?

[2017-06-16 23:11] odiea commented on #1347
You will have to download the full branch and test it.

[2017-06-16 23:12] diranetafen commented on #1347
all the source code ? because i have only take your script and execute it to my current mariadb container (on official repo)

[2017-06-16 23:12] odiea commented on #1347
Yes I had to change 3 or 4 separate files.

[2017-06-16 23:13] diranetafen commented on #1347
So i have to use your repository to build new container ?

[2017-06-16 23:14] odiea commented on #1347
The database had to be updated because 0 * an amount will still be 0.

[2017-06-16 23:15] odiea commented on #1347
Yes. I did not know your were using a container.

[2017-06-16 23:16] diranetafen commented on #1347
yes so the command that  i was using previously need to be run on the new build environnement using your repo ?

[2017-06-16 23:16] odiea commented on #1347
Yes.

[2017-06-16 23:17] odiea commented on #1347
I am not familiar with using the docker setup.

[2017-06-16 23:18] diranetafen commented on #1347
Ok i will do it in the morning (currently 01 a.m :-) )
Thank you for your help. I will give you the result

[2017-06-16 23:22] odiea commented on #1347
Thanks. I would like to have it tested before I ask for a pull request to the Master repo. Goodnight.

[2017-06-17 09:45] ebenezery4 commented on #1348
Which of the previous version should i download?

On 16 June 2017 at 18:18, erastus <notifications@github.com> wrote:

[2017-06-17 10:52] #1348 closed

[2017-06-17 13:13] diranetafen commented on #1347
Hi @odiea ! It's working fine thanks for your support !!

![solved](https://user-images.githubusercontent.com/18481009/27253161-8f98cc64-536f-11e7-989e-3d9ceaf2df18.PNG)

[2017-06-17 13:14] odiea commented on #1347
Glad to hear that.

[2017-06-17 14:38] #1347 closed

[2017-06-18 08:56] daN4cat commented on #1133
@SteveIreland any progress on the tax issue? We should get to an end of this story.

[2017-06-18 17:31] SteveIreland commented on #1133
Please believe me, there is no one  that wants to get to the end of this story than me!!!

I've been dealing with one crisis after another for the last three weeks. Although the latest crisis isn't resolved yet I am going to put some more time in to it his afternoon.

[2017-06-18 20:57] jekkos commented on #1344
So then this issue also appear in the normal version? Can anyone confirm?

[2017-06-18 21:01] #1297 closed

[2017-06-19 20:07] jekkos commented on #1344
Should be fixed now

[2017-06-19 20:07] #1344 closed

[2017-06-19 21:30] odiea opened #1351 "Issues with latest updates."
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-06-20 12:55] SteveIreland commented on #1351
I have a similar issue.  I downloaded the latest 3.1 beta last night and was going to set up 2 or 3 test environments only to discover I couldn't add an item.  I ran out of time to figure out why, but I wasn't even getting a PHP error.

[2017-06-20 13:03] odiea commented on #1351
I was able to get it working after reverting this commit or just changed it back to the original.
![2017-06-20 07_02_18-show string placeholders if translations are missing 1349 jekkos_opensource](https://user-images.githubusercontent.com/10962177/27334433-8abebd16-5586-11e7-9772-6010cda49ebd.png)

[2017-06-20 16:34] daN4cat commented on #1351
@jekkos can you please fix?

[2017-06-20 19:24] OnePlus5 opened #1352 "Invoice Problem"
Thanks for this wonderful opensource software. Yesterday I've installed this on my Desktop.
So my question is what if customer is paying after few days.(borrowing) or paying less amount of the actual bill. How to create this type of invoices?  And how to track this transactions I mean how can I find how much money they need to pay me.

[2017-06-20 19:26] odiea commented on #1352
Currently the solution is to export the Invoices to a spreadsheet and track it from there.

[2017-06-20 20:41] jekkos commented on #1351
Ok should be fixed now

[2017-06-20 21:44] odiea commented on #1346
This appears to be working now. I close

[2017-06-20 21:44] #1351 closed

[2017-06-21 01:21] SteveIreland commented on #1351
This fix also resolved the issue I was having with adding a new item. Good job!

[2017-06-21 06:26] jekkos commented on #1328
Should be fixed now.

[2017-06-21 07:32] shimul2209 commented on #1340
without full payment why i don't print any sale invoice page.

[2017-06-21 07:59] HamidCh commented on #440
How Does KotieSmit's Cashup Module Work? I have Downloaded his Source But Can't find a way to use cashups

[2017-06-21 09:12] daN4cat commented on #440
My mind went blank, what's KotieSmith?

[2017-06-21 10:53] odiea commented on #440
6th comment down from top .You referred to it but apparently he never finished or submitted it.

[2017-06-21 13:32] jekkos commented on #1351
Ok really? Changed the behavior a bit when we have missing translations.. Hope this way people get motivated to contribute them as most languages have quite a few missing

[2017-06-21 13:33] #1328 closed

[2017-06-21 20:44] daN4cat commented on #440
Ha ha and it was even a comment I posted.... most likely that code works on an old version of OSPOS, maybe even 2.4. We never checked that code and migrated to 3.x. We need a brave developer to take it and upgrade it to the latest and contribute it back

[2017-06-21 20:50] odiea commented on #440
I downloaded it and tried it but it appears nothing works as far as the cashup feature is concerned. You even need to add the module into modules and setup permissions and grants.

[2017-06-22 18:27] erastus91 opened #1353 "How to get $ config ['commit_sha1']"
Where you get $ config ['commit_sha1'].

[2017-06-22 20:29] #1353 closed

[2017-06-23 12:29] ebenezery4 opened #1354 "Quote Register Mode Deducting from Item"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-06-23 14:08] odiea opened #1355 "English lang issue."
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-06-23 17:04] odiea commented on #1354
It also appears now when you suspend a sale it removes it from Inventory and after you unsuspend it and cancel the sale it does not return it back into the Inventory. This is a normal sale that has been suspended. No quote or Invoice attached to it.

[2017-06-23 21:29] odiea opened #1356 "Customer tables slow to load"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-06-24 10:48] waynebr76 opened #1357 "Support Question"
### IMPORTANT IMPORTANT IMPORTANT

###  Question

Before submitting an issue please make sure you remove the first section of the template and you tick (add a x between the square brakets) and agree with all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github

[2017-06-24 12:06] odiea commented on #1357
You can try deleting your browser history and see if it reloads properly. If you changed languages try changing it back to English

[2017-06-24 12:13] daN4cat commented on #1301
Fixed using a composer library doing exactly what I needed: https://github.com/tamtamchik/namecase

[2017-06-24 12:13] daN4cat commented on #1301
@Raoufasker could you please check if it works fine with Arabic? It should support UTF-8 properly.

[2017-06-24 12:20] daN4cat commented on #1356
@odiea that's strange, I tested and the difference for me with large customer numbers and large number of items is of just 100ms.
It's true customer is slightly slower, but that's due to the lack of a dimensional table to contain customer name and stats.
Improving perfomance would require some time that I don't have right now.

[2017-06-24 12:27] daN4cat commented on #1355
With or without table enabled I don't see that issue:

![image](https://user-images.githubusercontent.com/636048/27508605-dbfef666-58e0-11e7-9a55-c0792fde280f.png)

[2017-06-24 12:33] daN4cat commented on #1355
OK, I see it's missing indeed. I checked the code

[2017-06-24 12:39] daN4cat commented on #1355
Fixed

[2017-06-24 12:44] #1343 closed

[2017-06-24 13:24] waynebr76 commented on #1357
Thanks I tried deleting browser and this wont work, I have tried a different browser and PC and its the same issue. I am trying to restore the database from a backup but for some reason i'm having issues importing the Items table as i keep getting issues with duplicate primary key. Using a fresh install with no data it works fine but If I switch the database to the existing database then I get the

[2017-06-24 16:47] daN4cat commented on #1341
@SteveIreland you need to look into this.

[2017-06-24 16:48] daN4cat commented on #1340
@SteveIreland you need to look into this.

[2017-06-24 17:00] waynebr76 commented on #1357
I am now getting an issue with the new master download, I  get a 500 error when trying to access OSPOS using the new files, has something changed that I should be updating in the new setup?

[2017-06-24 17:21] daN4cat commented on #1357
what's the version of OSPOS that you used to create the original database?

[2017-06-24 17:25] waynebr76 commented on #1357
It was 3.0.2, I can access the old version of the site using the old database and the upgrade worked up till last night and not sure what happened. I also cannot load the new OSPOS module I just get a 500 error - the old version 3.0.2 still loads on the same site but from a different folder

[2017-06-24 17:27] odiea commented on #1357
It appears you will need to do the database updates.

[2017-06-24 17:35] waynebr76 commented on #1357
Hi I did the updates, it was working and not sure why but overnight it stopped working, The database updates wouldnt cause the 500 error would it?

[2017-06-24 18:53] odiea commented on #1357
1. Have you enabled all the necessary php extensions.
2. Are you accessing it using the localhost/ospos/public.

[2017-06-24 18:55] SteveIreland commented on #1341
Okay

[2017-06-24 19:07] waynebr76 commented on #1357
I'm accessing it through www. And I believe all extensions are enabled is I'm using the previous version on the same server and this works.

[2017-06-24 19:12] odiea commented on #1357
All I can suggest now is to read the FAG's and the Wiki.You did not give info on OS or type of web server you are using.

[2017-06-24 19:21] odiea commented on #1357
Not Found The requested URL /opensourcepos/public/login was not found on this server. #920

[2017-06-24 19:24] waynebr76 commented on #1357
Thanks, I'm using the normal steps for installing it on a Ubuntu 14 04 server. I will check again tomorrow I may just have to stick to the older version as that's working

[2017-06-24 19:37] daN4cat commented on #1357
You need to change the .htaccess if you installed OSPOS in a subdir, that was discussed various times.

Having said that, 3.1 is not release yet and still under development. Therefore if you plan to use it in production I would say it's not a good idea.

[2017-06-24 20:23] #1355 closed

[2017-06-24 20:29] SteveIreland commented on #1357
NOW you tell me!

[2017-06-24 20:42] SteveIreland commented on #1354
I'm assuming that everyone agrees that quotes should not affect inventory.  However, that brings up an interesting little twist since I'm dealing with work orders.  A product added to a work order SHOULD reserve/reduce inventory since the item will be used to satisfy the job.  On another note I've been instructed to NOT remove work orders from the system. Normally I would since a work order and qu

[2017-06-24 20:48] SteveIreland commented on #1336
I'm looking into this nowl

[2017-06-24 21:09] odiea commented on #1354
Are you now adding another feature "work order"? I think Quotes should not change Inventory Items.

[2017-06-24 21:50] SteveIreland commented on #1354
Yes.  I'm still wondering what the rules should be for  work orders since they can be in progress for weeks and inventory can be consumed at any point in the life  of the work order.  Reality can be a bit complex so I'm going to go ahead and change both to not affect inventory.

[2017-06-25 20:08] daN4cat commented on #1163
I believe #1133 is covering any remaining issue with the tax rework and calculation

[2017-06-25 20:09] #1163 closed

[2017-06-26 02:50] SteveIreland commented on #1336
I believe I have a fix coming soon.  I found there was more than one issue and I have rewritten the code a bit to make it faster and hopefully cleaner. (relatively speaking) and will be submitting a pull request for this by tomorrow night (as long as there isn't a personal or work crisis that needs to be dealt with).

The fix is simple enough but the testing is a bit slow because I have to test it

[2017-06-26 04:56] daN4cat commented on #1354
I merged @SteveIreland's fix, please check and confirm it's all fixed and no regressions.

[2017-06-26 05:00] daN4cat commented on #1336
The more features we add the more testing scenarios. I believe the next release after this needs to focus on testing because we are not controlling anymore the situation. Not blaming anybody, it's the effect of the way we are working at the moment.

[2017-06-26 07:29] daN4cat commented on #1354
@ebenezery4 could you please test and confirm it's now fixed?

[2017-06-26 12:30] odiea commented on #1340
This is still an active issue when trying to Discard a Quote. In development mode the php errors show and Quote remains  Suspended. In production the quote will not be discarded.

[2017-06-26 13:38] SteveIreland commented on #1340
Okay, I'll take a shot at replicating this tonight and if I can then I'll include a fix for it along with with the fix for the discount amounts in a VAT scenario.  I'll try to submit a pull request for it tomorrow night.

[2017-06-26 21:52] dennis-in-pdx opened #1361 "Report Display & Print Formatting"
I recently did a rollout of version 3.1.0 - 4f5ad57 for a non-profit thrift shop.  Along the way, I found that most reports were excessively wide for our older monitors and also for landscape printing.  Similarly, sales and receivings receipts were too wide for portrait printing as was done by the prior desktop program which OSPOS replaced.  I wanted to use CSS styles to reduce widths for individu

[2017-06-27 01:22] ebenezery4 commented on #1354
Ok fixed!

On 26 June 2017 at 08:29, FrancescoUK <notifications@github.com> wrote:

[2017-06-27 05:21] #1354 closed

[2017-06-27 05:23] daN4cat commented on #1340
I merged @SteveIreland's change, please test.

[2017-06-27 05:28] daN4cat commented on #1361
Have you created just one I'd covering both screen and print cases or are those separate?
For the receipts you could have created a different php and add it to the list of receipts.

[2017-06-27 08:48] gg009 opened #1363 "access forbidden error please help me guys"
Access forbidden!

You don't have permission to access the requested directory. There is either no index document or the directory is read-protected.

If you think this is a server error, please contact the webmaster.

Error 403

localhost
Apache/2.4.25 (Win32) OpenSSL/1.0.2j PHP/7.1.6

i am using xampp server  v3.2.2
i imported the database file thats fine
i also changed the credential of the dat

[2017-06-27 10:27] aelhofy commented on #1073
I have same error , please tell what to be edited to make it works?

[2017-06-27 12:38] odiea commented on #1340
Tested and now works properly.

[2017-06-27 12:38] #1340 closed

[2017-06-27 13:07] jekkos commented on #1336
Yes indeed, maybe there should be some feature freeze or just a focus on testing scenarios.
I tried to plead for this when this tax story began. I knew it was going to bring us a huge stabilization effort. There's just too many ways and we can't currently see whether we introduce some regression in the logic there.

For this kind of functionality I think we could easily add some unit tests to veri

[2017-06-27 13:09] jekkos commented on #1336
Might be best to try and  add those tests for tax calculation right now since the knowlegde is still fresh.. but then this will first require us to have a build running on travis (which is problably a task I'll have to tackle)

[2017-06-27 13:36] SteveIreland commented on #1340
For the record I need to correct an earlier comment.  The pull request did not include any other fixes because after identifying the cause of the issue, fixing it and testing it I didn't have adequate time to test the other fixes so I elected to create a push request just for this one.

[2017-06-27 16:35] daN4cat commented on #1340
Good approach I prefer to go one step at time.

[2017-06-28 12:40] odiea commented on #1363
Read the Faq's and the Wiki.

[2017-06-28 12:40] #1352 closed

[2017-06-28 12:40] #1363 closed

[2017-06-28 12:41] #1338 closed

[2017-06-28 14:18] bill-goldberg opened #1364 "opensourcepos javascript file"
can i get the opensourcepos.js file ? presently only minified file is available in the source code.

[2017-06-28 14:46] daN4cat commented on #1364
You can create it, follow the developer instructions.

[2017-06-28 14:46] #1364 closed

[2017-06-28 15:01] bill-goldberg commented on #1364
i want to use latest jquery for this application. what will be the impact after removing this opensourcepos.js file?

[2017-06-28 15:32] jekkos commented on #1361
It would certainly be nice to have the screen more responsive and adapter to different screen and print sizes. Alas I'm no real UI expert so would be glad if someone else can contribute this to the project. I guess that some rework of the html might be needed to make it flexible enough.

[2017-06-28 15:33] jekkos commented on #1361
So div nesting is one thing, but I wouldn't want to pollute our serverside code with too much of a view logic. I know CSS3 supports quite some things that allows one to make responsive designs easily..

[2017-06-28 15:45] bill-goldberg commented on #1364
Can you please describe it more... i didn't understand  the reply "follow developer instructions"

[2017-06-28 16:38] daN4cat commented on #1364
Sorry to be blunt and straight but after reading your previous post I recommend you to drop this idea. I'm under the impression that you are a bit confused of this js story.

[2017-06-30 02:51] SteveIreland opened #1366 "Sales Report to include option for Quotes"
### New Feature / Enhancement

Right now the Sales Detail and Sales Summary reports filter on All, Returns, and Sales.  I would like to add a filter that will include Quotes so that a report that includes all pending quotes (or in my case Work Orders that are in progress) can be generated.

Would it be agreeable to contribute this small change here?

[2017-06-30 04:40] daN4cat commented on #1366
Yes

[2017-06-30 14:59] sojitechnic opened #1367 "OSPOS Home page Blur"
After I login to the home page of OSPOS it show it content but I am unable to click anything because it was blur and loading without stopping.

Please I don't know what is wrong.

[2017-06-30 15:50] SteveIreland commented on #1367
The answers in the FAQ found in the README.md document should help resolve your issue.  It is found at the bottom of the following page.

https://github.com/jekkos/opensourcepos

[2017-06-30 16:13] katika opened #1368 "/login not found on this server"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### Issue / Question / Bug

Before submitting an issue please make sure you remove the first section of the template and you tick (add a x between the square brakets) and agree with all the fol

[2017-06-30 17:06] #1367 closed

[2017-06-30 17:16] daN4cat commented on #1368
Please check previous closed issues as this was covered for sure.

[2017-06-30 18:14] daN4cat commented on #1336
@waynebr76 latest master should contain @SteveIreland's fix to this issue, please test and confirm it's all fine.

[2017-06-30 18:21] waynebr76 commented on #1336
Thanks, I have reverted to my previous version and I will have to test once I get chance

[2017-06-30 19:08] katika commented on #1368
is this issue always related to .htaccess configuration ?

[2017-06-30 19:20] daN4cat commented on #1368
Do you have ospos under a subdir in html/public root?

[2017-07-01 02:59] SteveIreland commented on #1336
I've been testing it in a vat tax configuration and can't get it to break.  So hopefully it's a big better.

[2017-07-01 09:08] bill-goldberg commented on #1364
please tell me what are the steps to create opensourcepos. js uncompressed version

[2017-07-01 09:33] katika commented on #1368
yes, in /var/www/html

[2017-07-01 11:12] bkrajendra opened #1369 "Making OSPOS compatible with Indian GST"
### Issue / Question / Bug
Dear all,
Just want to know if anyone is working here on making this software specific to Indian context.
As whenever i go though all technical documentation, I found really strange TAX system and accounting done in OSPOS.

I need help from someone which can make it simple as now Indian government started single TAX system GST.

Please help!

[2017-07-01 11:53] odiea commented on #1369
If you include tax in your item price the item and Check Tax included if not don't check tax included. Then in Tax Rate place a description and tax percent. Ignore the other tax items in General config

[2017-07-01 14:07] daN4cat commented on #1369
I always had in mind that if you sort out the US tax system you can also go to the moon. Not sure Indian one managed to get more complicated, but happy to hear if it's VAT based or not, and if the latter what more than the US one....

[2017-07-01 15:06] SteveIreland commented on #1369
Isn't India's GST a VAT tax based system with multiple rates?  If I correctly understand GST  the rates simply vary by item or item type.  For that you currently need to specify the tax rate on the individual item.

The "strange tax system" is the new support for the current U.S. tax model and is engaged only if you check "Customer Sales Tax Support".  For VAT you check "Tax Included" which is wha

[2017-07-01 15:25] daN4cat commented on #1369
Maybe they expect VAT rates to be associated by categories so to easy the process.

[2017-07-01 15:28] RamkrishnaMondal commented on #1369
New Indian GST explained here:

https://www.quora.com/What-is-the-difference-between-the-current-taxation-and-the-new-goods-and-services-tax-GST-in-India-What-is-the-impact

[2017-07-01 15:36] RamkrishnaMondal commented on #1369
4 GST Rates Slabs for India, i.e GST Rates in India is 5%, 12%, 18% & 28%.

[2017-07-01 15:39] daN4cat commented on #1369
I would recommend some developer from India to contribute that tax system to OSPOS.

Given how many take and rebrand OSPOS as theirs in India (and I know there are a number), I would not put any effort here for the case.

[2017-07-01 15:43] bkrajendra commented on #1369
India has got new Tax reforms from today. 1st July, 2017.
Earlier we used to have many taxes as given below:
![image](https://user-images.githubusercontent.com/994083/27763405-b0330bc4-5ea0-11e7-91fa-076fdaf53555.png)

but now all these are replaced by single tax called Goods and Services Tax (GST).
Itsw collected by sate and center as follows:
![image](https://user-images.githubusercontent.com/99

[2017-07-01 15:52] bkrajendra commented on #1369
Yes @daN4cat  I understand, we do need Indian developer for OSPOS GST porting.
I'm always ready... as from the beginning my problem is with framework .. an OSPOS is Codeigniter!
I'm good in Laravel/Octobercms.
I'm working on porting OSPOS to laravel and will report you all as soon as something considerable is done!

[2017-07-01 16:13] RamkrishnaMondal commented on #1369
If I am not wrong, most of the Indian users will be just fine with current dual-tax option of OSPOS (utilizing Tax1 for CGST and Tax2 for SGST). Problem arises only for those, who are involved in inter-state trade. they will need a Tax3 for IGST.

[2017-07-01 16:23] daN4cat commented on #1369
@bkrajendra yes, let us know how it goes.

@RamkrishnaMondal maybe a Tax3 would do but it should all go to the generic module @SteveIreland build and remove the old tax structure.

The ideal solution would really be one where you define your tax tiers in one place with all the tax rules and then assign to the items selecting the tax tier from a drop down, not like it is at the moment.
I'm pretty s

[2017-07-01 16:47] daN4cat commented on #1369
BTW, enabling the Tax by customer I see a tax dropdown under the Tax1 & Tax2, but how do you edit that list @SteveIreland ?
I didn't pay attention in the past but I'm confused about that part without editing capabilities.

[2017-07-01 16:55] daN4cat commented on #1301
@Raoufasker any feedback?

[2017-07-01 16:58] bkrajendra commented on #1369
GST slabs are pegged at 5%, 12%, 18% & 28%.
These rate are applied to different item categories called Harmonized System of Nomenclature (HSN) codes.
Every product falls under some HSN code. And different tax slab is assigned to different HSN codes
So similarly we can have different HSN as product category.

[2017-07-01 16:59] daN4cat commented on #1369
Tier = Slab

[2017-07-01 17:07] daN4cat commented on #1336
Hi @SteveIreland, I was testing with am item costing 7.50, VAT 20% included and applied 10% discount:

![image](https://user-images.githubusercontent.com/636048/27764030-9826aedc-5e87-11e7-83f8-09c407ca3af0.png)

Here the decimals configuration:

![image](https://user-images.githubusercontent.com/636048/27764044-ec892310-5e87-11e7-992b-8aeca027ab98.png)

The issue I see is that the total is correc

[2017-07-01 17:13] daN4cat commented on #1336
And now checking the Detailed Sales Report I see:

![image](https://user-images.githubusercontent.com/636048/27764096-d5aee1f6-5e88-11e7-9386-78990f8e0fba.png)

the rounding is different in the subtotal

[2017-07-01 17:14] daN4cat commented on #1336
But reprinting the receipt gives the view from the sale register:

![image](https://user-images.githubusercontent.com/636048/27764108-213b8818-5e89-11e7-9023-5ad097327461.png)

[2017-07-01 18:18] WebShells commented on #1243
Updates :/ ?
Who can i talk to for paid development ?

[2017-07-01 18:21] odiea commented on #1369
@daN4cat  To get taxes to show in the drop down list you must first add them in the Tax module. In the Tax module you can edit also them.

[2017-07-01 20:08] daN4cat commented on #1369
I've added but I don't see them. Hmm something I need to check then.

[2017-07-01 20:50] odiea commented on #1369
Default Origin Tax Code needs to be manually edit . It appears there is no drop down list. Sorry been up since 2 am.

[2017-07-01 20:51] daN4cat commented on #1369
ok, time to go to sleep man...

[2017-07-01 22:36] SteveIreland commented on #1369
From what I understand there are essentially three tax jurisdictions - CGST, SGST, and IGST.  Additionally the tax rate depends on the item category.

My next phase of tax changes is to use tax categories for VAT taxes and this seems like a good time to make that happen.  I added item tax category for sales tax - but that can easily be made available to use for VAT tax and then we wouldn't be limi

[2017-07-02 02:04] bmghandi opened #1370 "How can I replace field name: UPC/EAN/ISBN"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add a x between the square brakets with no spaces) and agree with all the following check boxes:

- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
- [x] I read the FAQ (https://github.com/jekkos/o

[2017-07-02 02:55] odiea commented on #1370
You can edit application/language/yourlanguage/items_lang.php
And change the following line.
$lang["items_item_number"] = "UPC/EAN/ISBN";
This should get you to where you want to change.
This may alter other tables or line of code.

[2017-07-02 03:20] bkrajendra commented on #1369
What I understand is to keep development specific to POS.
Considering POS is used locally for stores, Material either comes from local distributor or out of state distributors.

So only Case 1 and Case 2 applies to most of the sales. In this case it can only be treated as input tax and output tax.

I don't feel the need for customer TAX as mostly 100% customer is local and comes at store as it is

[2017-07-02 03:53] bmghandi commented on #1370
Yes, that worked, thanks.
In the same file, I also changed the line:
$lang["items_number_required"] = "UPC/EAN/ISBN is a required field" accordingly.

[2017-07-02 04:05] SteveIreland commented on #1336
I'm not a specialist in VAT tax, so I was trying to avoid changing the tax calculation that was in place in 3.0.2.  I've been using 3.0.2 as my point of reference for tax calculations - except for that annoying issue of not being able to complete the sale which I believe is still "fixed" but it probably wouldn't be a bad idea for me to retest it.

I ran your example in 3.0.2 and come up with a sub

[2017-07-02 05:51] daN4cat commented on #1369
@bkrajendra customer tax applies to online / mail sale, so I understand.

[2017-07-02 05:56] daN4cat commented on #1369
@SteveIreland you can work on the more flexible VAT story, but after we have sorted the current issues with tax calculations and etc. I prefer to get closed what we have done so far before moving to the next.

[2017-07-02 05:58] daN4cat commented on #1370
@odiea @jekkos should we change that translation to a generic Barcode one?

[2017-07-02 06:03] daN4cat commented on #1336
Probably it's better to round up the tax as it is at the moment and fix the subtotal in the reports. I'll see if I can find the time today for that.

[2017-07-02 08:13] bkrajendra commented on #1369
Also how does TAX include feature work currently for non taxable items.
Like I have some items which do not have input tax and outgoing TAX, so what happens in case of 0% tax items?

[2017-07-02 08:53] daN4cat commented on #1369
If you create attachable Tax slabs/tiers/categories (you chose the name) for items with 0 tax you attach none.

[2017-07-02 09:28] katika commented on #1368
Any suggestions?

[2017-07-02 10:18] daN4cat commented on #1368
Check some old issues or wiki, I remember somebody said something about Apache configuration and what to pay attention to.

[2017-07-02 10:40] odiea commented on #1370
Thats a tough one. In Items view it is designated as either of the 3 barcode options. If a user is using the item id for barcodes then it does not show in that table view. It would need the option of replacing item_number with item_id to view the items proper barcode.

[2017-07-02 10:49] odiea commented on #1370
This is the code I was able to use in the Register view that changed that option.
[code]
![2017-07-02 04_44_37-wedidit _ powered by ospos 3 1 0](https://user-images.githubusercontent.com/10962177/27769179-69b55dd2-5ee1-11e7-8ed0-e7c80c2f6666.png)
But with my limited skill I could not get that to change in Table_helper.

[2017-07-02 14:34] daN4cat commented on #1336
@SteveIreland I believe to have fixed the rounding issue resulting in a subtotal or total (example above being one).

However I tested mainly with Tax included and VAT so invite you and @odiea to test the US version of the taxation and check totals are right in reports in various scenarios, and mainly consistent with receipt (print & reprint).

I now need to go for a walk as I spent most of the da

[2017-07-02 14:39] daN4cat commented on #1133
@meadlin could you please test with the latest code in master and see if the fixes I made to the reports are working for you?

[2017-07-02 14:44] daN4cat commented on #1341
@SteveIreland could you please look into this? Thanks

[2017-07-02 15:06] SteveIreland commented on #1341
I addressed the issue where "adding a discount at sale won't process".  Hopefully that is resolved.  I tested numerous times in a VAT tax scenario with discounts after the fix that is already installed and it did what it was supposed to be doing for me.

I've made two failed attempts to start looking at the tax impact on reports (failed in the sense that I started it but had to abandon it to work

[2017-07-02 15:40] bkrajendra opened #1371 "Error Add/Update New Item"
### Issue / Question / Bug
- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
- [x] I read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas (in specific PHP has php-

[2017-07-02 16:28] daN4cat commented on #1371
Which tax configuration?

[2017-07-02 17:04] jekkos commented on #1243
Actually what I did at the time was make a websocket talk to a serial device (in this case a scale) and readout the byte stream in the register... once something changed on the scale then quantity was updated in the register. Also this quantity in barcode sounds familiar to me.. think it was somewhere in that branch as well.

I could try to integrate this functionality in upstream however, I'll ha

[2017-07-02 18:05] daN4cat commented on #1301
No complaints, I close.

[2017-07-02 18:05] #1301 closed

[2017-07-02 18:06] daN4cat commented on #1305
@jekkos what's the status of this task?

[2017-07-02 18:07] daN4cat commented on #1333
@jekkos any chances to push this through?

[2017-07-02 19:02] jekkos commented on #1305
I have to pick it up again, I had the  build running on travis and upload seemed to succeed with the build archive, however I couldn't find it on bintray.. will have a further look maybe somewhere this week if time permits

[2017-07-02 19:33] daN4cat opened #1372 "Mummy has tidied up the play room..."
Mummy has tidied up the play room from the "mess", try to behave now :-)

[2017-07-02 20:29] jekkos commented on #1369
I think we should then try to attach tax rates to item attributes as described in #68. Let that  be the first new feature I want to release after 3.1 (which could go fast once the functionality is public).
In terms of roadmap I'd first like to have this iteration finished  an released. Then we can improve and link to categories.

[2017-07-02 20:31] jekkos commented on #1370
In my inventory I hardly have any product without UPC or barcode. There's a couple of generic items that shouldn't have inventory for which we generated barcodes, but that's about it.

[2017-07-02 20:42] daN4cat commented on #1370
The point here is just a translation, instead of "UPC/EAN/ISBN" simply call it "Barcode". It's a more human (sale assistant) digestible name. Techie stuff is not equal to great user experience (UX).

[2017-07-02 20:50] bill-goldberg opened #1373 "Items loading is too slow in Items Module"
I have just 1000 items in my items modules. And i set to 500 items per page view... now the items take 2 minutes to load.
is this happening with me only or it is really slow.

[2017-07-02 20:52] daN4cat commented on #1370
Done, old techie acronyms gone forever...

[2017-07-02 20:52] #1370 closed

[2017-07-02 20:55] daN4cat commented on #1373
What about the template?

Which version are you talking about?

[2017-07-02 21:08] daN4cat commented on #1373
BTW 500 lines is surely too much. I would suggest no more than 50, 100 max.

[2017-07-02 21:09] daN4cat commented on #1373
The paging is done to overcome those delays.

[2017-07-02 21:36] #1312 closed

[2017-07-02 21:36] #1357 closed

[2017-07-02 21:37] daN4cat commented on #1336
I fixed the complete button issue....

[2017-07-02 21:37] #1336 closed

[2017-07-02 21:39] daN4cat commented on #1133
There is still an issue between detail sale reports and summary sale reports when the prices are half pence (penny). One side shows a cumulative +1p the other side not.
It's a neverending story.... I will need to relook again at this approximation story

[2017-07-02 22:45] waynebr76 commented on #1336
Thanks

[2017-07-03 04:54] bkrajendra commented on #1371
Tax Include, i'm not using latest TAX system (customer tax)

[2017-07-03 05:18] gg009 commented on #1363
sir we are doing an project i want to speak with you sir.when you are free
please intimate me sir

On Wed, Jun 28, 2017 at 6:10 PM, odiea <notifications@github.com> wrote:

[2017-07-03 07:54] benchonaut opened #1374 "[New Feature/Issue] Search result variations"
@jekkos @daN4cat @SteveIreland

Hello ,
in a recent Setup ( OSPOS 3.0.2, most recent MariaDB),

the user has the Problem of finding "too much" ,
because full text search returns SQL "LIKE" Results,
so if you enter "OM" it will find any result containing "OM" , even in the Word ,
but does not return the items starting with "OM" or containing " OM " first (sorting btw).

Firstly i removed the "remov

[2017-07-03 08:01] #1373 closed

[2017-07-03 08:09] daN4cat commented on #1371
Tested with latest master using 20% VAT tax included and had no issues in creating a new item.

Please check you installation or write down the exact steps to reproduce the issue

[2017-07-03 08:44] daN4cat commented on #1363
Have you searched the closed issues?

[2017-07-03 09:42] benchonaut opened #1375 "[Enhancement/Issue] Special Taxation for Second Hand articles"
@jekkos @SteveIreland

Hi, i don't know about other countries in detail ,
but in germany the formula for taxation of second hand things is not
VALUE*1.19 ,
instead you subtract the price you gave to the previous owner
e.g.  (19% tax)
Somebody brings a used shirt to your shop,
you pay him EUR 3
you sell it for EUR 10 ( would be 8,4x EUR without taxes for retail things)
tax calculation in this case

[2017-07-03 10:26] hzzg6y commented on #1305
Hi,
     Please can you help me to download the uncompressed developer version of this POS.  I don't need any compressed javascript or any tools used to compressed it. I am just looking for developer version with steps to bring up the website locally. Please advice.

I know I am hijacking the topic.. but any pointers will really help.

Rgds,

[2017-07-03 11:43] pvernekar-cci commented on #1371
Unable to add new item.

[2017-07-03 12:30] odiea commented on #1371
Are these new installs or upgrades?

[2017-07-03 12:35] katika commented on #1368
thanks, i'll check

[2017-07-03 12:44] daN4cat commented on #1371
Nobody knows... "just doesn't work" and you guess

[2017-07-03 12:47] pvernekar-cci commented on #1371
@odiea  it is new install

[2017-07-03 12:47] odiea commented on #1371
I just downloaded it. "Saw my mistake" and had no issues with adding items using Xampp version.
 Windows Version:  Home  64-bit
XAMPP Version: 5.6.15
Control Panel Version: 3.2.2  [ Compiled: Nov 12th 2015 ]

[2017-07-03 13:20] pvernekar-cci commented on #1371
On mac it doesnt work?

[2017-07-03 13:24] odiea commented on #1371
Sorry I do not have a Mac. The only suggestion is to re-download the current version from https://github.com/jekkos/opensourcepos and create a new database using database.sql.

[2017-07-03 13:29] odiea commented on #1371
You do have to remember this is not a Release version it is still in Beta so do not use it for production unless you are willing to put up with Things not working properly.

[2017-07-03 13:57] stlocobudi opened #1377 "any one can help me... cannt open the site"
helo...

i'm new using this POS web base...

i have moved the file to httdoc in my local server.. but when i open the site, i cannt open the site...
and when i checked, i didn't find index.php

some one can help me about this...

thank you so much....

[2017-07-03 14:12] odiea commented on #1377
Yes read the Faq's and the Wiki also look under open or closed issues. No template info so I will close this issue

[2017-07-03 14:12] #1377 closed

[2017-07-03 19:16] daN4cat commented on #1133
I believe I fixed this time for the Tax included cases. Sale detailed and summary and receipts are showing all the same correct amounts.

Now the testing is with the US tax system on your side guys.

[2017-07-03 19:24] daN4cat commented on #1133
@meadlin do you mind to retest with the latest code from master and let me know if you still have the same issue?

[2017-07-03 19:25] meadlin commented on #1133
:( Just did a pull. Sale/receipt look good. Summary, detailed and takings are all off by the penny. Currently on SHA 3f73e449f0a2650274cbc857d2d7be4e4db745c0

[2017-07-03 19:26] daN4cat commented on #1341
@waynebr76 any chance you can retest your issue with the latest code from master and see if it's fine?

[2017-07-03 19:29] daN4cat commented on #1325
What's the status of this? Being addressed, coming to 3.1.0 or else?

[2017-07-03 19:33] daN4cat commented on #1133
@meadlin is that the latest latest?

[2017-07-03 19:39] waynebr76 commented on #1341
Its going to take a while before I can test it as I have to start from scratch. For some reason I have an issue uploading backups of my existing set up as It fails with errors in the database tables.  Ive got some other issues to resolve first so might be a couple of weeks before I can try again

[2017-07-03 20:12] odiea commented on #1133
I do not appear to be getting his issue after the latest pull. All the Reports appear to be the same amounts.
![2017-07-03 13_47_15-wedidit _ powered by ospos 3 1 0](https://user-images.githubusercontent.com/10962177/27806738-8a528b28-5ff9-11e7-811b-3524c879de5d.png)
![2017-07-03 13_55_00-wedidit _ powered by ospos 3 1 0](https://user-images.githubusercontent.com/10962177/27806740-8cf0144a-5ff9-11

[2017-07-03 20:17] daN4cat commented on #1133
Good, it could really be a corner case. But I'll try other amounts still with VAT included. If you could test others scenarios with multiple taxes US cases that would help.

[2017-07-03 20:19] odiea commented on #1133
I had no issues with a single tax on the amount showing differently in any of the Reports either.

[2017-07-03 20:53] odiea commented on #1133
The only issue I have found so far with Reports is Payment Summary Report . The Selection of teh returns filter does not change the report to show only Returns

[2017-07-03 21:04] meadlin commented on #1133
![detailedreport](https://user-images.githubusercontent.com/22114210/27807847-d5d75bbc-6000-11e7-9e28-9f78f0fe27fb.png)
![register](https://user-images.githubusercontent.com/22114210/27807850-d5d96038-6000-11e7-8259-1f9aebdd4213.png)
![salesreciept](https://user-images.githubusercontent.com/22114210/27807849-d5d8ca1a-6000-11e7-9fb8-24590fd00458.png)
![summaryreport](https://user-images.githubuserc

[2017-07-03 21:08] daN4cat commented on #1133
@odiea I fixed the payment summary report missing return and location filter functionality

[2017-07-03 21:16] daN4cat commented on #1133
@meadlin how many decimals have you set in the tax (in StoreConfig)?

[2017-07-03 21:24] daN4cat commented on #1133
@meadlin I tested exactly your scenario using 2 decimals for totals and taxes and works fine with me. The totals are correct in details, summary, takings and receipt.

[2017-07-03 21:27] daN4cat commented on #1133
The problem appears only if you set to 3 decimals for the tax

[2017-07-03 21:30] daN4cat commented on #1133
But the mistake seems to be with the sale register and receipt. Probably they should show the 3 decimals for the taxes.

However, to be honest, I don't have any need for this 3 or 4 tax decimals. @SteveIreland if you want to look into that as far as I'm concerned reports are fine and consistent now and with 2 tax decimals all works fine Tax included and not.

[2017-07-03 21:41] #1371 closed

[2017-07-03 21:41] #1368 closed

[2017-07-03 22:03] meadlin commented on #1133
Sadly, due to a general information letter from my state, I believe I need 3 decimal tax. It appears I'm required to keep non-rounded tax to the 10th of a cent, on books, then round come tax filing time

[2017-07-04 02:49] SteveIreland commented on #1133
Open source work is frustrating.  If I could afford to quit and work full time on OSPOS I would.  However, I can't so I shall stay frustrated.

@meadlin The reporting system isn't modeled to support your requirements so I'm pretty sure there is always going to be a rounding issue when taxes are reported at an item level (as opposed to how they are collected in the real world) - especially when the

[2017-07-04 03:00] SteveIreland commented on #1366
I started this assuming that it was going to be a trivial add of a filter.  However, I found that it wasn't so trivial due to the use of  temporary tables.  Since there were changes to the SQL statements this weekend I'm going to start over again tomorrow after reviewing the latest changes to Sales.php

[2017-07-04 04:01] meadlin commented on #1133
Sadly, closed source work can be just as frustrating...

@SteveIreland I understand there will always be a rounding issue, I'm just hoping to be able to control the cutoff point for the rounding.

I technically have 5 tax rates, that combine down to two. These two taxes go to two different collection entities, so they cannot be combined into one, as each has their own rounding requirements. If my

[2017-07-04 05:22] ismail-mti opened #1378 "Discount On Order Total"
### New Feature / Enhacement

*Kindly add option for Discount on order total. Currently discount is available only at individual item level*

[2017-07-04 05:53] daN4cat commented on #1133
I can see if I find the time to print the taxes with the correctly selected decimals as at the moment it's cut to 2. However I cannot guarantee it will work fine.
Unfortunately this area of work is really time consuming and I can't find anymore all the time required. It's 2 years that I work on the complete overhaul of OSPOS and strange enough I didn't manage to implement all it's needed to get my

[2017-07-04 07:43] meadlin commented on #1133
Totally understandable, life comes first.

[2017-07-04 07:46] daN4cat commented on #1133
but @meadlin I will make an effort, at least one shot

[2017-07-04 08:14] meadlin commented on #1133
@daN4cat Nothing else, point me in the right direction in the code and maybe I can help out. I just gotta get the thumbs up from work before I can really do anything.

[2017-07-04 11:23] odiea commented on #1378
This request has been covered multiple times. Read the open issues.

[2017-07-04 11:23] #1378 closed

[2017-07-04 11:27] WebShells commented on #1243
Hello Jekkos,

Thanks for your reply, can i have any private messaging details ? email ? am ready for the donations required in order to accomplish this feature.
Kindly share a way to contact you...
Regards

[2017-07-04 14:00] jekkos commented on #1375
So but this only applies to second hand items? You mean that in other cases you have tax eclusive pricing?

Currently the  POS only allow you to set tax included for the whole setup. Not sure if this is something foreseen in the taxes story of @SteveIreland?

[2017-07-04 15:21] gfidelia commented on #923
I have the same problem at login. I have just installed op pos. I followed all the steps. But at the login screen a got an err 500 message.
Please Help.
![image](https://user-images.githubusercontent.com/20665665/27835852-6b56d8ba-60a2-11e7-97a6-f1d1712f68bd.png)

[2017-07-04 16:39] daN4cat commented on #1375
Tax categories/slabs/tiers should be entities that define taxation rules at item level or customer level and attachable to one of the two core objects.

[2017-07-04 18:58] bill-goldberg opened #1379 "opensourcepos.min.js"
I am looking for Opensource developer version code having no minified js ( javascript). I don't need docker image, bower or grunt to be used. I just need the plain source code which I can deploy & use it.

I am  not able to locate how to get the developer version. Please help or advice on steps or point for documentation for same.

[2017-07-04 18:59] odiea commented on #911
Here is a simple solution to add a Total discount at the Register.
application/models/sale/Sale.php and add the following at line 977 above check.
$payments[$this->lang->line('customers_discount')] = $this->lang->line('customers_discount');
This will work only for a set amount discount.

[2017-07-04 19:42] jekkos commented on #1379
Look no further! the plain source is not in this repository. In fact parts are but other parts are installed by bower!
and these are not included as you'll need to download them yourself. So no other way than to install grunt / bower if you want a dev environment.

[2017-07-04 19:46] #1379 closed

[2017-07-04 21:19] daN4cat commented on #1133
@meadlin it's not so trivial as putting your hands on this tax story will be one of the most complicated parts.
I attempted to extend the tax visualisation to 3 decimals, including touching the rounding in tax_lib but I get other approximation errors.
I can't find now the time to really start root causing that as probes into new code @SteveIreland developed and not sure I want to touch instead of

[2017-07-04 21:44] jekkos commented on #1375
Ok was just looking into the upgrade SQL for tax categories. There are no foreign key constraints between the tables which I rather have fixed.

Also how is one supposed to manage tax categories? There seems to be no way of editing what is in the db. After clearing out this table things seem a bit broken. It might be more efficient to replace the tax categories with part of the attributes story, e

[2017-07-05 02:35] SteveIreland commented on #1375
I was wondering if anyone would notice the lack of tax category management besides myself.  I figured I could add that before anyone noticed or as soon as someone needs to add something different. I predefined the traditional sales tax item categories of Service typically 0% tax rate, Standard tax rate, and Alcohol (typically a higher tax rate).

When you do the "attributes story", if we develop s

[2017-07-05 02:55] SteveIreland commented on #1375
For this particular request, it seems to be a unique VAT tax calculation that is triggered based on the sale of a particular item type ... maybe?  A new item type of  "Resale Item" that computes the tax amount for the sale of that item based on the difference between the extended sale price and the extended cost (instead of simply the extended price?  I'm not a vat tax person, but that seems to be

[2017-07-05 04:21] daN4cat commented on #1375
BTW @jekkos attributes are descriptions of your data whilst tax categories have rules affecting the end result. I wouldn't mix up the two although are both aggregate to items, but tax category can be even aggregated to customers.

@SteveIreland the fact that tax categories cannot be edited is something I spotted and reported already. Those should be editable. However I'm getting confused between t

[2017-07-05 06:30] jekkos commented on #1375
@daN4cat Well the fact that you cannot edit them could be solved easily by letting a user attach a set of tax rules to a category. For me that's where the two worlds  come together, on one hand you have your item description together with categorization, to which you can optionally then attach a set of tax rules.

[2017-07-05 06:53] bmghandi opened #1381 "Discount as value not as percentage"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add a x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
-

[2017-07-05 09:11] jekkos commented on #1243
Contact me directly on jeroen DOT peelaerts
and then at googlemail dot com
Please confirm so I can delete this message (rather not share my address publicly)

[2017-07-05 12:39] SteveIreland commented on #1243
Too late ... I have it.

[2017-07-05 12:53] benchonaut commented on #1375
(The whole Setup is running with "VAT included" to be legit, since the "sale price" was imported from a previous solution)

(And yes, the Problem of how you detect the item state [new|used] is a good question , in this case a custom field is used for the state of the article (5 new , 4 mint , 3 very good and so on) ..
so a custom rule editor ( e.g. IF(CUSTOM_X==5) THEN TAXFORMULA=PRICE*0.19 ... EL

[2017-07-05 19:31] SteveIreland commented on #1375
hmmm .... complication .... I assumed that a used item would have a different item code and therefore I could assign a new item type to it that would trigger the new resale tax calculation.

Adding a new product state value field seems to move it into the custom development domain - but that's a decision for the deciders.

[2017-07-05 19:56] SteveIreland commented on #1375
Regarding Tax Categories, for now I'll add support for changing the values of item tax categories.  It will just be another Store Configuration option for taxes similar to dinner tables.  There should be three "starting" categories that can be renamed and then additional tax categories can be added.

[2017-07-05 20:25] odiea commented on #1381
@daN4cat @jekkos I got this figured out but I need an app config name for it. Currently Receipts, Takings, Detailed and Summary Reports are showing the same values. I plan on not showing the other discounts in Customer and Store config once this is enabled. Preferably something already in the language files.

[2017-07-05 22:26] SteveIreland commented on #1381
I don't think it is a simple as this.  My guess is that you have a significant queue of problems lined up for you.

[2017-07-05 22:35] SteveIreland commented on #911
How would this affect VAT tax reporting?   For sales tax calculations the sales taxes are calculated based on what is being sold.  Won't an invoice level discount mean that we would be over-collecting on taxes?  That doesn't sound right.  For VAT taxes you obviously wouldn't be over-collecting, but you might be over-reporting.

[2017-07-05 22:37] odiea commented on #911
And do you think anyone really paid attention to this joke.

[2017-07-05 23:02] SteveIreland commented on #911
Wait ... this was a joke?

[2017-07-06 05:12] daN4cat commented on #1375
@SteveIreland since you are adding something to Store Config,  could you please create a tax tab and move all the tax configurations to it? Now it's time to have a dedicated tab.

[2017-07-06 05:16] daN4cat commented on #1381
Is the discount by item or against the total,?

[2017-07-06 05:21] daN4cat commented on #911
Yep the implications of fix discount and tax per item is not a trivial one. Discounting the subtotal however implies that the total tax is calculated against the subtotal but the break down by item needs to be cascaded proportionally.

[2017-07-06 06:53] bmghandi commented on #1381
It is by item.

On Thu, Jul 6, 2017 at 8:16 AM, FrancescoUK <notifications@github.com>
wrote:

[2017-07-06 07:30] daN4cat commented on #261
#302

[2017-07-06 07:36] daN4cat commented on #1381
And do you want fixed discount or % discount, or both at the same time?

Anyway to change all the discount logic from % to fix amount there are different parts to change, not only sale register but also receipts/invoices and all the database tables.
Quite some work....

Yet another example where things should be more a composition to items rather then being part of the cart item itself.
The cost o

[2017-07-06 10:11] bmghandi commented on #1381
Many thanks for your kind responses.

I would love to have the option of choosing one or the other.  But if I had to choose one, I would prefer the fix amount rather than % as that is the most prevalent in my situation.

In pursuit of my temporary solution, while still hoping the developers will take a serious look at this issue, I have managed to now have the cost of items evaluated correctly by

[2017-07-06 10:22] waynebr76 commented on #1341
Hi I made some time to test, It does look like it is rectified

[2017-07-06 10:22] #1341 closed

[2017-07-06 13:06] SteveIreland commented on #1375
Okay

[2017-07-06 19:46] daN4cat commented on #1133
@meadlin I anyway submitted the code to visualise the tax according to the set decimals, not like it used to be.
However I didn't touch the code that does the tax calculation to set the tax value to the selected decimals as that will skew the tax rounding and introduce errors that I don't have time to fix.

So this change is not the complete story but it's a stepping stone in case you or @SteveIre

[2017-07-06 20:01] thegm90 opened #1382 "###Question Reprint/ Review Customer Receipts?"
We run a liquidation business, I was curious if you guys are aware of a feature to pull up a specific receipt for reviewing purposes, or to reprint for a customer?

[2017-07-06 20:02] #1382 closed

[2017-07-06 20:02] thegm90 commented on #1382
Under receiving, you can review.

[2017-07-06 20:04] daN4cat commented on #1382
Indeed

[2017-07-06 20:06] thegm90 commented on #1382
I'm so sorry @daN4cat for spamming. Is there a way to search the customer and see? if they came back and didn't remember the date they came, would make it easier.

[2017-07-06 20:25] daN4cat commented on #1133
As far as I am concerned this can be closed and any additional work for the 3 tax decimals should go under a different issue. Please create it.

[2017-07-06 20:25] #1133 closed

[2017-07-06 20:25] #1372 closed

[2017-07-06 20:26] #1278 closed

[2017-07-06 20:28] daN4cat commented on #1242
@SteveIreland what's left now from your magic hat? Just the tax category and tax tab in StoreConfig or something more?

[2017-07-06 20:28] daN4cat commented on #1242
@jekkos there are a couple of outstanding issues on you that would be great if you could fix so we wrap up here this 3.1.0 release.

[2017-07-06 20:28] daN4cat commented on #1242
... and then we enjoy the summer!

[2017-07-06 20:51] daN4cat commented on #1382
Reports -> specific customer

[2017-07-06 21:00] thegm90 commented on #1382
Love it! Thank you

[2017-07-06 21:09] daN4cat commented on #1366
This is done and needs just a bit of testing.

[2017-07-06 21:20] #1263 closed

[2017-07-06 21:23] odiea commented on #1366
I did a little bit of testing. If  a quote has been suspended it does not show up in the Reports until quotes is selected.

[2017-07-06 21:25] daN4cat commented on #1366
Is that an expected behaviour @SteveIreland ?

[2017-07-06 21:30] daN4cat commented on #1278
Added reference to ApiGen and this issue in the wiki.

[2017-07-06 21:30] odiea commented on #1366
I believe that is what @SteveIreland intended. It is not considered a Sale until it turns into an Invoice or paid for when it is finished. It's just in limbo as work progresses on it.

[2017-07-06 21:40] daN4cat commented on #1242
@jekkos you'll need to resync the language files as some new english strings were added and some changed. So we can get the translations back before we can close 3.1.0.

[2017-07-06 22:06] jekkos commented on #1242
Already enjoying summer for sure.. You're right I need to finish up these issues, will probably do that coming days (have to get back in the 'zone' first)

[2017-07-07 01:04] SteveIreland commented on #1366
That is correct. Also, in many situations a quote can be a commitment for a period of time to a certain price.  So it needs to be considered "active" until the quote is no longer valid and is cancelled.  That would be one reason that some businesses might want to report and manage active quotes.

[2017-07-07 03:50] esbyrt opened #1383 "Stop identical items from grouping together so discount can be applied to one item"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add a x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
-

[2017-07-07 04:17] esbyrt opened #1384 "Can't select payment type for sale returns"
###Issue / Question / Bug

Before submitting an issue please make sure you tick (add a x between the square brackets with no spaces) the following check boxes:

 I'm reporting an issue of an unmodified OSPOS installation
 I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
 I read the README, WHATS_NEW and UPGRADE
 I read the FAQ (h

[2017-07-07 04:47] daN4cat commented on #1383
Use the serialised checkbox in the item edit form and each item will be one new line the registry cart. In that way you can apply different discounts.

[2017-07-07 04:48] #1383 closed

[2017-07-07 04:50] daN4cat commented on #1384
There is no OSPOS 3.2.2 version. Are you using an original?

[2017-07-07 04:53] esbyrt commented on #1384
Sorry it is 3.0.2

[2017-07-07 04:53] daN4cat commented on #1242
O'right...

[2017-07-07 05:26] esbyrt commented on #1383
Thank you for the quick answer! That did the trick beautifully after I updated my item table.

[2017-07-07 08:11] RamkrishnaMondal commented on #1384
Look here and change the related files accordingly: https://github.com/jekkos/opensourcepos/commit/53dcdc02cfd47564e44f1f97102c4dafce3e7706

[2017-07-07 10:55] daN4cat commented on #1384
Right 3.0.2 had that big and I fixed twice in 3.1.0

[2017-07-07 12:28] SteveIreland commented on #1242
Don't resync language files just yet.  I'm setting up the tax config panel and that will affect the language files a bit.

[2017-07-07 15:03] ravindug commented on #1091
Install you Printer as RAW printer... .https://qz.io/wiki/Setting-Up-A-Raw-Printer-in-Windows

[2017-07-07 17:21] esbyrt commented on #1384
daN4cat - my apologies. I have looked all over the site for updates and haven't been able to find one. I guess I'm not looking in the right place. Still can't find it.

[2017-07-07 17:27] esbyrt commented on #1384
RamkrishnaMondal thanks for pointing me in the right direction. Just one question ( I am not a programmer and new to OSPOS) are the lines in red to be deleted and replaced with the lines in green?

[2017-07-07 17:46] daN4cat commented on #1242
@SteveIreland what else do you have in mind to do after that tax configuration story? Not sure there is more to do beside just test what we have, jekkos docker stuff, add a bit of documentation on the wiki for a couple of features.

[2017-07-07 18:33] SteveIreland commented on #1242
For this release I think I can cut it off.  Based on recent requests there is a lot more that needs to be done in the area of taxes ... particularly tax reporting, but I those changes can wait until the next release if you are comfortable with what is there.

[2017-07-07 19:45] daN4cat commented on #1242
I'll check later but probably if there was something else you said you wanted to work but indeed it would be better to cut off here.
There would be more to do on tax side as now there will be 3 different things and I'm worried it will be confusing. Customer tax, tax categories and tax rates... somebody will need to clarify this.

[2017-07-07 19:59] daN4cat commented on #943
@odiea is this fixed now with the changes you made?

[2017-07-07 20:02] daN4cat commented on #1384
@esbyrt yes the red goes and the green replaces it.

[2017-07-07 20:02] #1384 closed

[2017-07-07 20:03] odiea commented on #943
I believe it is. The only issue would be it the db upgrade script wasn't run.

[2017-07-07 20:13] #777 closed

[2017-07-07 20:13] #631 closed

[2017-07-07 21:11] daN4cat commented on #943
The db change is in the db upgrade script

[2017-07-07 21:12] #943 closed

[2017-07-07 21:45] SteveIreland commented on #1325
I'm already using it in production at my site, but it is wrapped up with the work I was doing for work orders.  However, work orders is NOT a prerequisite for this change, so if you'd like it included in 3.1.0 I can probably do so easily enough this weekend by cherry picking the changes and creating a separate pull request for just that purpose.

Do you want it in this release?  I'm pretty close t

[2017-07-07 22:02] SteveIreland commented on #1242
Taxes?  Clarity?  "To dream, the impossible dream ..."

I think earlier I wanted to address the tax calculation in the reports.  But I'll defer that until after 3.1.0 is published.

[2017-07-08 04:42] swtrpeter1 commented on #477
I would really like to be able to make coupons ! That would be great ! I would love to do 10% off an entire order or some promotional things like that. Someone please add this in !

[2017-07-08 06:14] daN4cat commented on #1325
@SteveIreland it looks not a big change and if you have it already I would include it. I don't need but limiting the alt description doesn't make sense to me. So yes submit this change and we close this.

[2017-07-08 06:16] daN4cat commented on #1242
Yes tax will need another step with the next release.

[2017-07-08 09:59] daN4cat commented on #1333
@odiea do you have time to test this scenario and confirm if an issue or not? I don't have that much time this week end.

[2017-07-08 10:44] odiea commented on #1333
For a Return to be found it has to be inputed RECV-space-then the recv number. RECV 12 otherwise it is not found. Requisition only uses Item numbers to transfer from 1 location to the other. So for his issue a requisition would have been fine. He could then add info to comments for an audit trail.

[2017-07-08 11:09] daN4cat commented on #1333
And requisition still works fine in 3.1.0?

[2017-07-08 11:09] daN4cat commented on #1333
If yes we close this.

[2017-07-08 11:15] odiea commented on #1333
Receive input is Item number.
Return input is RECV space number.
Requisition is Item number.
And yes all still works.

[2017-07-08 11:15] #1333 closed

[2017-07-08 11:37] daN4cat commented on #810
@odiea with the latest invoice changes is this still an issue?

[2017-07-08 11:53] odiea commented on #810
Yes it is. I deleted a sale with an Invoice number. I created an invoice and got the Unique number warning. I then edited a different sale and added an invoice number to it and the issue went away. I guess it is still using the invoice count to create the next invoice.

[2017-07-08 12:10] nvk1990 commented on #1369
@bkrajendra @RamkrishnaMondal Hi Guys.. How are you handling the cost price with GST? If an item XYZ costs Rs. 128(Actual price: 100 + SGST: 14% + CGST 14%) how is the entry made in OSPOS? The current setup I believe, will allow us only to define Rs. 128 as the cost price. While a sale is made, Tax is again calculated on SGST and CGST values. Any ideas?

[2017-07-08 12:34] daN4cat commented on #1369
I see big issues with this GST taxation system in India, maybe somebody from India could contribute the tax solution in the next release.

[2017-07-08 12:38] SteveIreland commented on #810
It is there if you use the invoice count token for determining the next invoice number to use.  I feel the better approach is to use the new "last used invoice number" token.  Using the new approach doesn't introduce the database anomalies in the invoice number scheme.

[2017-07-08 12:40] daN4cat commented on #810
ok, so this is solved.

[2017-07-08 12:56] odiea commented on #810
Maybe I am doing something wrong here. This is the last invoice used. I then changed the value to 418
![2017-07-08 06_48_18-wedidit _ powered by ospos 3 1 0](https://user-images.githubusercontent.com/10962177/27985563-3a30c114-63aa-11e7-88f7-f56998c07b24.png)
Here is what I get when trying to enter a new Invoice.
![2017-07-08 06_51_00-wedidit _ powered by ospos 3 1 0](https://user-images.githubuse

[2017-07-08 15:47] RamkrishnaMondal commented on #1369
@nvk1990  Have you tried this ? Don't forget to un-check the "Tax included" checkbox in General config.

![screenshot from 2017-07-08 21 10 28](https://user-images.githubusercontent.com/14151032/27986835-4d2d8680-6422-11e7-91a6-e36508c0d2f2.png)

![screenshot from 2017-07-08 21 15 32](https://user-images.githubusercontent.com/14151032/27986854-9c9e8dea-6422-11e7-8428-9af16af126ad.png)

[2017-07-08 16:18] nvk1990 commented on #1369
@RamkrishnaMondal Yes, I've tried it. However, there is a small confusion on the item prices for me. From the above example, I assume that the cost price includes Tax. If it is true, it implies that we are adding GST on already Taxed product. Could you please confirm if this is the correct way..

[2017-07-08 16:27] RamkrishnaMondal commented on #1369
Personally, I use tax-included as a composite dealer. But after testing in different ways, i think correct method will be as under:

![screenshot from 2017-07-08 21 10 28](https://user-images.githubusercontent.com/14151032/27987258-3d2906f0-6428-11e7-8052-2be9414a49c4.png)

![screenshot from 2017-07-08 21 54 13](https://user-images.githubusercontent.com/14151032/27987261-45f7edfa-6428-11e7-8263-0d

[2017-07-08 18:12] nvk1990 commented on #1369
@RamkrishnaMondal In the above example, the profit calculation is correct but it's implying that the cost price of Rs. 100/- is inclusive of GST imposed by Supplier. Now, when we perform a sale we shouldn't really add our GST component on the top of already taxed value, can we?

[2017-07-08 18:46] RamkrishnaMondal commented on #1369
Yes, that's the way VAT or GST works.
You have to deposit the extra GST, being collected  from your  customer  (i,e CGST: 21-14=7 and SGST: 21-14=7) to the concerned tax authority, within 20th of the next month.

[2017-07-08 19:41] nahianfaiz opened #1385 "Show "false" in Reports Module."

[2017-07-08 19:44] odiea commented on #1385
Yes it will. 3.0.2 was not setup to use php7. 5 or 6 is needed.

[2017-07-08 19:46] nahianfaiz commented on #1385
Thank U..@odiea

[2017-07-08 19:56] RamkrishnaMondal commented on #1369
@daN4cat  Yes, they have made it very complex.
For example if I supply a Printer to other state, it will attract 28% IGST, on the other hand it will attract 14% CGST+14% SGST if supplied within the state.
So, we need 'on_the_fly' selection of 'tax name' and 'tax rate'.

Other complex part is return filing, in case of Business to Business sales, we have to upload each and every invoice details with

[2017-07-08 20:13] #1385 closed

[2017-07-08 21:41] daN4cat commented on #1369
If you have state based tax you should use the customer based taxation. Just create dummy customers with the state name and assign different customer tax to it. When you sell something assign the state as customer and problem solved. Of course if you have known customers assign to them the correct tax and assign them to the sale.

[2017-07-08 21:42] daN4cat commented on #1369
The customer based taxation is what @SteveIreland created.

[2017-07-08 21:45] daN4cat commented on #1369
The category tax is there just the config is going to be added by @SteveIreland soon. So you can solve the B2C with that.

[2017-07-09 11:50] jekkos commented on #1242
Ok we can do another iteration afterwards but I find it quite important to have consistent figures in sale / receivings and reports.. so not sure what you mean with addressing tax caluclation in the reports? Is this just a refactoring we're talking about or a functional problem here?

[2017-07-09 11:50] jekkos commented on #1242
@SteveIreland I'll await your approval for language file sync..

[2017-07-09 16:53] odiea commented on #810
This will be solved if the default Sales Invoice format is set to INV-%y{ISEQ:6}. I read the wiki!

[2017-07-09 18:58] daN4cat commented on #810
So we can close

[2017-07-09 19:14] #810 closed

[2017-07-10 03:43] mamusthafa commented on #1369
How can we display category name of each product  as HSN in invoice and receipt?

[2017-07-10 03:43] SteveIreland commented on #1242
@daN4cat I noticed that some of the cleanup involved changing the sales documents to print taxes with the number of decimal positions specified in the "tax decimals".  For US tax, the tax amounts are required to be printed on the documents with currency decimals and the number of tax decimals is used to refine the intermediate tax calculation per the regulations specified by the regulating tax jur

[2017-07-10 03:44] mamusthafa commented on #1369
"HSN code"

[2017-07-10 04:57] daN4cat commented on #1242
@SteveIreland ok I'll put currency decimals back in receipt and invoice. Not sure if reports can stay with 3 or need to be changed too?

[2017-07-10 06:09] bill-goldberg opened #1388 "Tax 1 and Tax 2 in New item form gets swapped while updating the item."

[2017-07-10 06:24] bill-goldberg commented on #1388
![snapcrab_noname_2017-7-10_11-48-1_no-00](https://user-images.githubusercontent.com/23611136/28005108-811132b8-6566-11e7-9710-6f5fe78e4519.png)
![snapcrab_noname_2017-7-10_11-48-12_no-00](https://user-images.githubusercontent.com/23611136/28005107-810e72da-6566-11e7-9d4e-914badc364df.png)

[2017-07-10 11:04] daN4cat commented on #1388
@bill-goldberg what if you put a non-zero value in the default?

[2017-07-10 11:26] bill-goldberg commented on #1388
i don't want to assign any digit for tax by default except 0.

[2017-07-10 11:31] SteveIreland commented on #1242
I'd suggest leaving the tax amounts for reporting purposes at tax decimal positions - especially at the detail level which might help explain to some why details tax amounts don't always match the total tax amounts which should always be rounded to the currency decimal (even if it's displayed with the tax decimals).  But if you decide to use the currency tax decimal positions in the sale and summa

[2017-07-10 11:53] SteveIreland commented on #1369
Are you referring to the item category or the tax category for the item?

It should be already included in the tax detail for the invoice and receipt.  If that's not happening then I'll need to fix that - I'll go ahead and run some tests to confirm that nothing has inadvertently been broken.

What happens is I combine the tax rate and the tax category description to form a "tax group" and each gro

[2017-07-10 11:55] SteveIreland commented on #1325
The pull request has been submitted for this.

[2017-07-10 13:10] mamusthafa commented on #1369
Thank you steve irland.. i mean item category. I want to display item category on invoice and receipt. Please help me to do that. Thanks in advance

[2017-07-10 13:23] mamusthafa commented on #1369
Thank you steve.. i mean item category... i want to display the item
category in invoice and receipt.. please can you help me.

Thanks & regards
Musthafa MA
www.digitalcoorg.com
Kushalnagar

On 10 Jul 2017 5:23 p.m., "Steve Ireland" <notifications@github.com> wrote:

[2017-07-10 13:36] SteveIreland commented on #1369
I don't have a lot of time at this moment to do the research necessary to provide a complete answer.
 Keep in mind that Issue #68 might eventually impact any solution that is introduced.

In Sale_lib.php around statement 668 you would need to add the item category to the $item array.  That would make it available to use in invoice.php.

However, you didn't say whether you want items within a categ

[2017-07-10 14:11] mamusthafa commented on #1369
Its done... thank you very much for helping  mr.steveireland...  you saved my day...

[2017-07-11 16:52] BitMari opened #1389 "Stock Location Updates"
I changed/updated the name of my stock locations but i have noted if i go to permissions there is the old names and now everything is confusing and i cant do anything about it. Any idea how i can resolve this

[2017-07-11 16:53] BitMari commented on #1389
They are the old and the new location names but yet its still the same location with just a different name

[2017-07-11 21:43] hemakumar08 opened #1390 "What is the best way learn OSPOS ? Contribute Back to community ?"
Hi Everyone,
I am not a PHP developer but have an experience with Web application development. I would like start learning this application and Contribute my knowledge to this community.
To start off what are developement tools that we use in this project..
PHP
Codeigniter
MySQL

Whatare visual developement tools and best practices that are used across the board.
Give us some suggestions.

[2017-07-11 21:58] daN4cat commented on #1389
Yes, there is a problem. If you change name it creates a new entry instead of changing the name

[2017-07-11 22:01] daN4cat commented on #1325
I merged but didn't test the alt description. However I found out that the invoice pdf sent over email contain an error in the subtotal line.
Unfortunately the error dump is cut so I can't read the code line number.

[2017-07-11 22:04] daN4cat commented on #1242
All the reward, table, tax category config don't work properly. You can add but not remove or it gets removed but not added. It's a common error that needs to be fixed and replicated in all the save config functions.

[2017-07-12 03:54] SteveIreland commented on #1242
Thanks for updating master with the  pull requests.  I was surprised when you mentioned that tax categories were not updated properly.  So I just now downloaded the latest master and tested it.   Tax category removal is working but not the additions.  I'll have it fixed by tomorrow night, I had the  category maintenance working on adds but it looks like my changes to fix the removals broke the add

[2017-07-12 04:01] SteveIreland commented on #1242
At least the success notification is popping up now.  Thanks!

[2017-07-12 04:02] SteveIreland commented on #1325
I've never seen or tried out the PDF.  So I'll start looking into that too.

[2017-07-12 06:21] daN4cat commented on #1325
That's when you email the invoice as pdf attachment.

[2017-07-12 08:39] jekkos commented on #1389
OK actually I rewrote that configuration part in the multistore branch .. but it has only been rebased up to 3.0... could be scheduled for 3.3 release for example

[2017-07-12 08:45] jekkos commented on #1389
If I remember well then stock location config was then moved to the multistore module itself.. it would allow one to create dozens of locations for ospos all using the same database..

[2017-07-12 10:35] mamusthafa commented on #1369
Hi steve ... i need some customization on ospos. If you can do that i can pay you the required amount. Its just to display invoice taxes on horizontal manner.  I mean in a single line tax1 and tax2 should be there.

[2017-07-12 13:44] SteveIreland commented on #1369
I'm afraid I'm not in a position to provide customizations.  My current workload already consumes every available nanosecond .. plus some.

[2017-07-12 16:39] mamusthafa opened #1391 "Displaying tax1 and tax2 along with item listing row instead of displaying below table"
### IMPORTANT IMPORTANT IMPORTANT

1. Chose what you want to report between the sections "New Feature / Enhacement" and "Issue / Question / Bug".
2. Remove just the one of the two sections you don't need
3. Remove this section as it's just a guideline
4. Fill in all the details as requested by the section you chose

If you remove the complete template when submitting a Bug your issue will be close

[2017-07-12 16:40] mamusthafa commented on #1391
On invoice and receipt

[2017-07-12 16:42] mamusthafa commented on #1391
I need to display tax1 and tax2 on same item listing row on invoice and receipt.

[2017-07-12 16:43] mamusthafa commented on #1391
If somebody helps me i can donate some amount. Whatever .

[2017-07-12 19:11] daN4cat commented on #1390
Yes those technologies and also js and css + html for the front end.

Read the wiki to understand what's required for the development.

Of course the first step is Github. .....

[2017-07-12 21:23] daN4cat commented on #1389
I fixed this, you can rename the stock location. However there is now the common issue that none of the added entries can be deleted.

[2017-07-12 21:40] daN4cat commented on #1242
Now all the add entries in config allow to add, rename and etc. but not delete.
Quite some mistakes but the root cause of delete is unclear. Also the ajax call to refresh the table might play a role... not sure that's doing the right thing here. It might not actually

[2017-07-12 22:20] SteveIreland commented on #1390
One must also learn the ways of the F-Force.  Difficult to achieve, but a noble goal, it is.

[2017-07-12 22:30] robards opened #1392 "An Error Was Encountered The action you have requested is not allowed."
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
-

[2017-07-12 23:39] layoutng commented on #971
hello
pls i am a student. i am interested in the ospos integration with FA

[2017-07-13 01:06] robards commented on #1392
I opened a browser on the server, let it sit, and it did do the same thing.

[2017-07-13 01:46] SteveIreland commented on #1242
I implemented the delete functionality by make sure that the array of key values to be saved was updated with the actual value of the record that was just added (it changes due to the AUTO_INCREMENT functionality but I see that code was refactored out.

If you  restore that (within the context of the changes you made) then hopefully the delete functionality will be restored.

[2017-07-13 03:57] SteveIreland commented on #971
I too am interested.  What's the general impression of FrontAccounting?  Is someone that is using OSPOS also using FrontAccounting?  I might be easily talked into providing an integration from OPSPOS into FrontAccounting for the purpose of A/R, Purchasing, and Accounts Payable tracking.  But I'd like to make sure that it is a viable alternative to QuickBooks.   Thoughts and Opinions?

[2017-07-13 04:07] pcrcastro commented on #971
Hi,

I do not understand your mail,

I needed that integration a long time ago, but the project closed due to lack of funding.

excuse me,

Besto Regards, Cesar

________________________________
De: layoutng <notifications@github.com>
Enviado: miércoles, 12 de julio de 2017 07:40 p.m.
Para: jekkos/opensourcepos
Cc: pcrcastro; Mention
Asunto: Re: [jekkos/opensourcepos] frontaccounting integration (

[2017-07-13 04:08] pcrcastro commented on #971
Hi,

I do not understand your mail,

I needed that integration a long time ago, but the project closed due to lack of funding.

excuse me, best regards Cesar

________________________________
De: Steve Ireland <notifications@github.com>
Enviado: miércoles, 12 de julio de 2017 11:57 p.m.
Para: jekkos/opensourcepos
Cc: pcrcastro; Mention
Asunto: Re: [jekkos/opensourcepos] frontaccounting integration

[2017-07-13 05:49] daN4cat commented on #1242
The problem was that the old was throwing an exception so I reused the same approach as the other similar pieces of functionality. However I will check what you did and restore the basic logic.

[2017-07-13 05:51] daN4cat commented on #1392
I've got this issue a couple of times. Not sure if it's a cookies issue or else.

[2017-07-13 09:08] rmbaba commented on #1042
I'm also getting the same error how do I solve it on the database layer?

[2017-07-13 10:09] rmbaba opened #1394 "a lot of errors on first installation"
Hello,

I'm using the OSPOS for first time, I'm trying to install it since more than 3 days on local server, it was only giving blank page, after moving to linux webserver I noticed a lot of problems in the error_log which is attached below (Truncated not all the log)

[13-Jul-2017 08:36:11 UTC] PHP Fatal error:  session_start(): Failed to initialize storage module: user (path: sessions) in /var/h

[2017-07-13 12:43] SteveIreland commented on #971
Timing is everything.

I see that you initiated this thread back in November 2016. @daN4cat decided this would be a good enhancement to OSPOS in February 2017, and @layoutng brought this thread to my attention by posting on it.

I need a back office app for OSPOS for my client.  Funding is not an issue for me, so I will be doing some research on FrontAccounting this weekend.  I'll probably go ahea

[2017-07-13 12:52] robards commented on #1392
pi@raspberrypi:~ $ iceweasel
1499880720122	addons.productaddons	ERROR	Request failed certificate checks: [Exception... "SSL is required and URI scheme is not https."  nsresult: "0x8000ffff (NS_ERROR_UNEXPECTED)"  location: "JS frame :: resource://gre/modules/CertUtils.jsm :: checkCert :: line 145"  data: no]
1499893795571	addons.productaddons	ERROR	Request failed certificate checks: [Exception...

[2017-07-13 13:00] jlctmaster commented on #971
I aim for this contribution, please @SteveIreland  include me during the development phase, as this feature is very requested for this system.

Greetings.

[2017-07-13 13:59] daN4cat commented on #971
@SteveIreland first we close 3.1 and then we move to the next.....

[2017-07-13 14:00] daN4cat commented on #971
And it can be for 3.2.0, yes

[2017-07-13 21:45] #1389 closed

[2017-07-13 21:46] #1366 closed

[2017-07-13 21:46] daN4cat commented on #1325
@SteveIreland one fix to go...

[2017-07-13 21:48] daN4cat commented on #1242
OK, add and remove of entries in Rewards, Location, Table and Tax category in Store Config is now working fine. Took a while to get what the problem was but I don't think the original code was ever right or at least working for all the cases.

[2017-07-13 21:50] daN4cat commented on #1392
Above errors point to an installation/setup issue, nothing to do with OSPOS I'm afraid.

[2017-07-13 22:03] robards commented on #1392
Hmmmm, any suggestions? When you replicated it was your issue the same? I will be glad to wipe and start over.

[2017-07-13 22:04] daN4cat commented on #1242
@jekkos can you please now resync all the language stuff?

I'm going on holidays for two weeks, so hopefully we get the last couple of fixes in and the translations too. Some more testing and we should be good to release 3.1.0 at the end of the month.

But please guys let's try to give this last push before jumping on 3.2.0 boat :-)

[2017-07-13 22:08] daN4cat commented on #1392
I know that sometimes I login but get an error page. Not sure what happens. I need to test as you said leaving it for some time and debug with inspector to see if it's some cookie or else.

However above errors look different. Also you should follow the rasperry pi installation guideline in the wiki and install nginx, hph7 and mariadb so you have a better performing installation of OSPOS.

[2017-07-13 23:19] robards commented on #1392
Ok, will do. Trying to test before we install on our LAMP server in our NOC.

[2017-07-14 04:49] daN4cat commented on #1392
If you have in mind to use LAMP stack, use that and not the LEMP one I suggested.

[2017-07-14 07:47] jekkos commented on #1392
Probably csrf token expiration? Not sure if the token is time bound in any way

[2017-07-14 09:12] daN4cat commented on #1392
I get 403 as response. Try to leave the client open for some time and you logged out. You enter the login credentials and you get the error (at least with Chrome).

Request Header

Response Header

csrf token is passed but not sure you would need it in a login page? It's clear that it has an expiring date and time

@jekkos could you please check this issue? It probably appeared a couple of months

[2017-07-14 09:37] daN4cat opened #1396 "Tax category error in sale register"
@SteveIreland

now that there is proper support for adding and removing of tax categories, some errors are coming to the surface.
Add a tax category, then if you remove later you get errors in different places like sale register, customer tax editing and etc.

I'm not sure the way it's managed at the moment to remove completely from the database is correct.
If I look at rewards, stock location, ta

[2017-07-14 09:45] jekkos commented on #1392
there might be a csrf token sent using POST in this case.. did you omit it perhaps from the request?
maybe the browser should clear it if there's no cookie or whatsoever, so we start with a clean sheet

[2017-07-14 10:24] daN4cat commented on #1392
You mean the form data?

[2017-07-14 10:25] daN4cat commented on #1392
And last part is this:

[2017-07-14 10:31] daN4cat commented on #1325
OK, I fixed receipts and invoice and receipt emails.

@SteveIreland no need to work on this. Please check the new tax category issue.

[2017-07-14 10:31] #1325 closed

[2017-07-14 10:36] jekkos commented on #1392
yes indeed, it's probably duie to the token in the form there

[2017-07-14 10:38] jekkos commented on #1392
Think I should just add a check to see if there is a session currently and if not remove the token..

[2017-07-14 10:38] daN4cat commented on #1392
Yep, I leave to you but it should be fixed. You have the info...

[2017-07-14 10:49] daN4cat commented on #1300
The problem with % is that it could represent an SQL injection attack, that's filtered.
I guess it should be analysed how to work around that filtering for the case.

[2017-07-14 11:09] jekkos commented on #1396
I also found that code isn't foreseen to handle no tax categories at all. Think either we should make it more robust to deal with that or either prevent the user to delete all categories.
For the latter we need to think if this makes sense in a functional way or not. If it does then I'd opt for the first

[2017-07-14 12:30] daN4cat commented on #1396
Agreed

[2017-07-14 13:16] SteveIreland commented on #1396
My preferred choice would be to insure that the user is unable to delete a tax category that has an active reference.  I'm not a big fan of the soft delete logic because it introduces the potential for stale data that never goes away or that requires another layer of maintenance to keep clean. (Although admittedly I have written more than my fair share of soft delete logic).

Since deleting a tax

[2017-07-14 13:27] daN4cat commented on #1396
The issue is if you add a 3rd tax category and then remove it you get the errors. That's what happened to me because I tested the add and remove so I created dummy categories. However when I start deleting I've got errors in different places.

[2017-07-14 18:58] SteveIreland commented on #1396
Okay, I'll explore this scenario tonight.   Thanks.

[2017-07-15 08:58] i92guboj commented on #1333
Hi.

I've finally found some time to test this. Yes, it works that way.

However that doesn't address my issue.

I can undo a reception this way. But I don't see how this is different from just erasing the reception in reports.

What I wanted was to find a way to move a reception from incorrect storage A to correct storage B without having to input all lines one by one again.

I've been trying and

[2017-07-15 10:48] i92guboj commented on #1333
This would be useful not only to correct human errors when entering orders, but also to mimic the served/not served state for a given order. For example, I could then enter the order when I -actually- order the product to my provider, and keep that order in a store called ORDERED. Then, when the packages enter by the door and I have the shop full of customers I'd only need to move the order from t

[2017-07-15 13:01] odiea commented on #1333
Have you tried using a barcode scanner for returns or Item input.

[2017-07-15 14:32] i92guboj commented on #1333
I can do the input faster, no doubt. I was just asking whether there's a way to avoid having to duplicate the input.

If all comes down to that, I'll just SQL it and don't bother with the UI mechanics at all. ;)

[2017-07-15 17:35] SteveIreland commented on #971
Discussed with my client and he agreed to move forward with Front Accounting.  I checked it out and was a bit disappointed that it seems to have some issues with the later version of PHP, but it doesn't seem to be a show stopper. So I'll be moving forward with this.

[2017-07-15 19:24] daN4cat commented on #1396
@SteveIreland sorry to be a pain but please let's fix this issue over the week end so we release 3.1.0 at the end of the month.

[2017-07-15 20:45] odiea commented on #971
It installs just fine using php 5.6 but will not install using php 7.0.

[2017-07-15 21:00] SteveIreland commented on #1396
Okay.

[2017-07-15 21:09] daN4cat commented on #1396
@odiea do you mind to test master and confirm?

[2017-07-15 21:09] daN4cat commented on #1396
Thanks both for the help

[2017-07-15 21:14] daN4cat commented on #971
Latest version looks to be Php7 compatible, see http://frontaccounting.com/wb3/pages/posts/release-2.4.1216.php

[2017-07-15 21:22] odiea commented on #971
I read that too.
![2017-07-15 15_16_53-frontaccounting-2 4 1](https://user-images.githubusercontent.com/10962177/28242739-f1f0d598-6970-11e7-8b9c-29345993fa00.png)
And here is what error I received. I did not get this error installing on php 5.6
Notice: Trying to get property of non-object in C:\xampp\htdocs\frontaccounting\includes\errors.inc on line 74

Fatal error: Uncaught Error: Call to undef

[2017-07-15 21:28] odiea commented on #971
This is the error I got from his last 2.3.26 version on php7.
Fatal error: Uncaught Error: Call to undefined function user_company() in C:\xampp\htdocs\frontaccounting\includes\errors.inc:87 Stack trace: #0 C:\xampp\htdocs\frontaccounting\install\isession.inc(72): error_handler(8192, 'Methods with th...', 'C:\\xampp\\htdocs...', 19, Array) #1 C:\xampp\htdocs\frontaccounting\install\isession.inc(72

[2017-07-15 22:41] odiea commented on #1396
Was common_unknown left out of the language file. See rounding code.
![2017-07-15 16_38_40-wedidit _ powered by ospos 3 1 0](https://user-images.githubusercontent.com/10962177/28243113-7125e046-697c-11e7-97ae-dd680edf0c6a.png)

[2017-07-15 22:58] SteveIreland commented on #1396
Good catch.   I'll submit a pull request for that immediately.

[2017-07-15 23:14] odiea commented on #1396
Just making sure I am testing this correctly.
I had to enable customer Support.
The following table Tax category have a number to the right. What is suppose to be inputed there?
![2017-07-15 17_10_05-wedidit _ powered by ospos 3 1 0](https://user-images.githubusercontent.com/10962177/28243261-c04c07f0-6980-11e7-9e0d-e4ae9fac4d5a.png)

[2017-07-15 23:30] SteveIreland commented on #1396
That is a number that is optionally used to control the sequence of taxes listed on the invoice.  It is written to the `sales_taxes` table.

[2017-07-15 23:38] odiea commented on #1396
When I try to add a new Tax Category and press Submit nothing happens. But you can see a new out of sequence Category number shows after I exit then try to add a new Tax Category.
![2017-07-15 17_34_07-wedidit _ powered by ospos 3 1 0](https://user-images.githubusercontent.com/10962177/28243366-14f98086-6984-11e7-8a30-31ecebd368c2.png)

[2017-07-16 00:06] SteveIreland commented on #1396
I can temporarily recreate the missing "Tax Category 4" if I delete a category, but when the page is reloaded they are resequenced.

[2017-07-16 00:06] SteveIreland commented on #1396
Did you apply the auto_increment database change to the tax_categories table?

[2017-07-16 00:24] odiea commented on #1396
SQL query:

This is the error I get when doing the following.

ALTER TABLE `ospos_tax_categories`
  MODIFY COLUMN `tax_category_id` int(10) NOT NULL AUTO_INCREMENT
MySQL said: Documentation

#1062 - ALTER TABLE causes auto_increment resequencing, resulting in duplicate entry '1' for key 'PRIMARY'

BTW here is what the current update db is showing.

ALTER TABLE `ospos_tax_categories`
  MODIFY COLUM

[2017-07-16 00:32] odiea commented on #1396
This is what I got after dropping the table then re-entering the table then adding the data
Error
SQL query:

INSERT INTO `ospos_tax_categories` ( `tax_category_id`,`tax_category`, `tax_group_sequence` ) VALUES
  (0, 'Standard', 10),
  (1, 'Service', 12),
  (2, 'Alcohol', 11)
MySQL said: Documentation

#1062 - Duplicate entry '1' for key 'PRIMARY'

[2017-07-16 00:37] odiea commented on #1396
For some reason I had to close phpmyadmin then open it and it then allowed me to enter the above data. Yes it is now accepting new tax categories. I will play with it more tomorrow.

[2017-07-16 00:50] SteveIreland commented on #1396
I'm glad you figured it out.  I was scratching my head on on that last one trying to understand how that was even possible.

I added a fix to the upgrade script to the last pull request to remove the duplicate ALTER TABLE statement.

[2017-07-16 02:21] SteveIreland commented on #1396
I was still uncomfortable with the issue that you reported and did a bit more research and I believe I understand the problem now.

When I added the tax_category_id to the `item` table the field (by default) was preloaded with zero and I was going to adopt that as "Standard" tax.  Logically that makes perfect sense to me (and I wasn't using AUTO_INCREMENT at that time).  However, AUTO_INCREMENT ap

[2017-07-16 02:41] odiea commented on #1396
Glad I could help. Keep up the good work.

[2017-07-16 07:21] daN4cat commented on #1396
It's always tricky when you start with a couple of use cases in mind and then you discover others you didn't cover breaking the toy.... some refactoring time.

[2017-07-16 11:23] odiea commented on #1396
Just checking to see if I missed something. I did the following db changes.

DELETE FROM `ospos_tax_categories` where tax_category_id in (0, 1, 2, 3);

INSERT INTO `ospos_tax_categories` ( `tax_category_id`,`tax_category`, `tax_group_sequence` ) VALUES
  (1, 'Standard', 10),
  (2, 'Service', 12),
  (3, 'Alcohol', 11);

ALTER TABLE `ospos_items`
  MODIFY COLUMN `tax_category_id` int(10) NOT NULL DE

[2017-07-16 11:56] daN4cat commented on #1396
That's the error I was talking about without touching the db just adding and removing categories during my testing.

[2017-07-16 12:30] odiea commented on #1396
This is also preventing Taxes to be applied to a Sale.

[2017-07-16 12:52] SteveIreland commented on #1396
I did say that this was going to be a pain.  Sorry ... working on the additional changes this requires now.  Will be publishing soon.

[2017-07-16 13:16] odiea commented on #1396
Scenario.
I just updated to the Customer Sales Tax.
I have not had the time to Update all the Customers with the new Tax Code.
Is there now a way to then default to the Item Tax or The Default Origin Tax?

[2017-07-16 14:13] odiea commented on #1396
The Php errors are gone and the default tax code is being used on the customer.

[2017-07-16 14:15] SteveIreland commented on #1396
Good.  Are you experiencing the same tax code maintenance problem I am - Instead of the green pop-up box it goes to another page to display the message?

[2017-07-16 14:21] odiea commented on #1396
No that is not showing up. But it now does not update the Tax code to the former tax code. It also appears the tax math is way off. I tried the different rounding options but that didn't change anything probably because I have the same decimal set on  both cash and tax. I sent pic on your pull request.

[2017-07-16 14:46] odiea commented on #1396
After deleting the new Tax it now reverts back to the old tax but It now uses the liquor tax which I cannot delete From the edit screen. I have tried 3 times to remove it.
![2017-07-16 08_44_47-wedidit _ powered by ospos 3 1 0](https://user-images.githubusercontent.com/10962177/28248533-4670873e-6a03-11e7-9665-e0dd11fdbaf6.png)

[2017-07-16 21:08] layoutng commented on #971
me too, I aim for this contribution, please @SteveIreland
<https://github.com/steveireland> include me during the development phase,
as this feature is very requested for this system.
Greetings

On Sat, Jul 15, 2017 at 10:28 PM, odiea <notifications@github.com> wrote:

[2017-07-17 07:03] jekkos commented on #1396
Last time I checked I  also found that there were no foreign key constraints between items and tax categories. Might be good to add them for consistency..

Also for the delete
- when removing something e that's not 'active', we might consider to use cascading deletes on the database. It will then clean up all entities linked to the category and resolve the problem of having missing references.
- o

[2017-07-17 07:06] jekkos commented on #1396
Actually I'd prefer to  configure the delete behavior on database level. One can easily add an update constraint on items table so that foreign key to the removed category is nulled out on delete.
All tax related entities should then just be removed together with it. Think this will be the easiest and cleanest solution as you guarantee consistent behavior even if you run a delete query on the data

[2017-07-17 10:50] jekkos commented on #971
Won't we need #615 for this one?

[2017-07-17 12:21] SteveIreland commented on #971
We can include the requirements for #615 into this effort.  I don't personally have a requirement for disconnected use of OSPOS, but if that's a common use case then it makes sense to incorporate it.

[2017-07-17 12:29] bill-goldberg opened #1399 "Receiving Quantity, Reorder level default 1"
I want to set receiving quantity, reorder level = 1 as default in the new item form.
Please guide me where to look for changing this value.

[2017-07-17 12:34] odiea commented on #1399
![2017-07-17 06_33_13-update items php changed receiving_quantity to 1 by odiea pull request 1376](https://user-images.githubusercontent.com/10962177/28268036-e733e312-6ab9-11e7-8505-ac9bb265638e.png)

[2017-07-17 13:55] daN4cat commented on #1399
Exactly, isn't this in master already?

[2017-07-17 13:56] odiea commented on #1399
Yes it is. That was from my pull request.

[2017-07-17 15:14] #1399 closed

[2017-07-18 06:47] jekkos commented on #1392
Actually there is no csrf token in the login page.. do you get the error when logging in after being redirected because the session timed out?
Or do you see the erorr when proceeding with an expired session before you are redirected to login? The second would make more sense to me and can be fixed easily

[2017-07-18 06:53] jekkos commented on #1392
I have pushed a change, token is only added if there is a valid value in the cookie..

[2017-07-18 06:53] jekkos commented on #1392
Can someone test / :verify

[2017-07-18 07:39] daN4cat commented on #1392
I can't test until end of the month, but the error is from login page after the session timed out. Basically from any page you are redirected to login, insert the credentials again and you get the error page.

The testing will take some time and test runs.

[2017-07-18 08:14] morra2020 opened #1400 "Call a Rest service when Completing a sale that has Credit Card payment method"
### Question
### Installation information

- OSPOS version is: 3.1.0
- OSPOS git commit hash is: 4f5ad57
- PHP version is:   ( 7.1)
- MySQL or MariaDB version is:   (MySQL 5.7)
- OS and version is:   (Windows 10)
- WebServer is:   (Apache 2.4)
- (If applicable) Installation package for the LAMP/LEMP stack is:   ( XAMPP)

### Question

I am relatively new to PHP and i was wondering whether it would

[2017-07-18 09:39] sanubari97 commented on #613
please tell me how to do that specifically ? I know nothing about the coding.
just the font size. how should I type it ?
I'm in the latest ver. and nothing happened in css.

[2017-07-18 09:53] sanubari97 opened #1401 "Receipt Fonts and Blurry"
How can I change the font size. Well i read in issue 613 about adding some line in the receipt.php, but i dont know how exactly. Im really poor with the coding. Please someone tell me what should i type and in which line ?
![tmpdoodle1500371702521](https://user-images.githubusercontent.com/30258590/28311430-3b63ebd4-6be2-11e7-974f-660b26786b30.jpg)

And the text not so readable..

[2017-07-18 10:54] daN4cat commented on #1401
Have you tried adjusting the margins in your printer driver? It looks to me like the left margin is to wide and makes the printing smaller.

[2017-07-18 15:46] asadjaved63 commented on #1318
@jekkos @daN4cat .
  Hi guide me for best approach sending Ajax request and handle response ,  ... See it  im using this approach .. its would be good or not?..
`jQuery(document).ready(function(){
var $=jQuery;
	$('#add_item_form').submit(function(e){
    	var $this=$(this);
    	var item = $this.find('#item').val();
    		$.post($this.attr('action'), {item: item},
			function(data) {
			**$("body

[2017-07-18 16:06] jekkos commented on #1392
@robards can you verify and close if OK?

[2017-07-18 23:36] robards commented on #1392
Is there a nightly build I need to download? Can I upgrade or do I do a fresh install?

[2017-07-19 03:00] sanubari97 commented on #1401
where should I change it ? I tried in the receipt.css but no result. I tried in the option printer and set it to minimum, it looks better now but the fonts is still like not clearly written.
and I tried the custom margin in the option but I confuse how to use it, bette is minimum but if the receipt.css could work, that will be much better.

[2017-07-19 03:51] SteveIreland commented on #1396
Do you want these changes in 3.1 or just include them in the Tax changes for 3.2?

I think the latest iteration of the pull request should be close to being finished ... but I can keep working on it.  I'll just need to find time for it and I think I'm going to be  pretty busy this next weekend, but might have time to work on it the following weekend - but then there will probably be another week o

[2017-07-19 04:31] SteveIreland commented on #971
Does anyone using FrontAccounting have any opinions of this module?  Is this something we can use?

http://frontaccounting.com/fawiki/index.php?n=Devel.SimpleAPIModule

[2017-07-19 05:00] SteveIreland commented on #971
If found @alvin101 made an inquiry about this module back in November 2016.

https://github.com/andresamayadiaz/FrontAccountingSimpleAPI/issues/25

Based on that brief inquiry it looks like we could use it for our purposes.

[2017-07-19 08:18] daN4cat commented on #1401
You need to sort it out at printer configuration level in Opera.
Set scale 100 and set margin minimum order none as starting point. Also the fact that you don't have paper size is unusual.
Try to play with that part before touching OSPOS css

[2017-07-19 09:37] sanubari97 commented on #1401
I think the browser print set up is okay. I use another POS to test it and it prints fine .
![photo_20170719_115728](https://user-images.githubusercontent.com/30258590/28360699-d3bc4018-6ca8-11e7-8b6c-e2784833ff04.jpg)

[2017-07-19 09:46] DipeshSangani opened #1402 "Which company printer, barcode scanner and drawer is best fit for this."
### IMPORTANT IMPORTANT IMPORTANT

1. Chose what you want to report between the sections "New Feature / Enhacement" and "Issue / Question / Bug".
2. Remove just the one of the two sections you don't need
3. Remove this section as it's just a guideline
4. Fill in all the details as requested by the section you chose

If you remove the complete template when submitting a Bug your issue will be close

[2017-07-19 13:07] ravindug commented on #1401
Use Firefox and install jsPrint add on as said in wiki, and install your printer (mine cheap Chinese thermal printer with ECS support) as RAW printer. Thenyou can fix this issue..

[2017-07-19 13:15] ravindug commented on #1402
Whatever printer support ECS code, I use use Chinese cheap thermal printer and work great for me..just install your printer as RAW device and use Firefox with jsPrint add on installed

[2017-07-19 14:33] DipeshSangani commented on #1402
thanks ravindug

[2017-07-19 14:33] #1402 closed

[2017-07-19 16:48] jekkos commented on #1392
Yes just take the latest zip from this repository

[2017-07-19 21:05] DipeshSangani opened #1403 "Hi, Thanks for this awesome product. I just downloaded the code and try to run locally. When i clicked on to Sales my screen get hanged, I can't click anywhere into the browser. I killed the browser session and launched the page the result is same. Could you please help. Thanks and Really appreciate."
### IMPORTANT IMPORTANT IMPORTANT

1. Chose what you want to report between the sections "New Feature / Enhacement" and "Issue / Question / Bug".
2. Remove just the one of the two sections you don't need
3. Remove this section as it's just a guideline
4. Fill in all the details as requested by the section you chose

If you remove the complete template when submitting a Bug your issue will be close

[2017-07-19 21:31] odiea commented on #1403
Read and fill out the template. Read the faqs, wiki, open and closed issues.

[2017-07-19 21:31] #1403 closed

[2017-07-19 21:40] DipeshSangani commented on #1403
Thanks a lot.

[2017-07-20 03:30] sanubari97 commented on #1401
mehh, firefox is slow. And when I click print, nothing happened

[2017-07-20 06:55] petercdee opened #1404 "Lookup field to search for more than the barcode or name"
### New Feature / Enhancement

Multiple barcodes or plu/sku numbers

Would it be possible to lookup for products on fields other than the barcode and name?

Items may have more than one barcode and even sometimes a PLU or SKU number. Sometimes the supplier changes packaging and you want to be able to add more barcodes for the item. Currently you can use a custom field to record the extra barcode b

[2017-07-20 10:45] igorokb opened #1405 ""docker-compose up" fails on database migration stage (local installation)"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
-

[2017-07-20 10:48] igorokb commented on #1405
I am new in OSPOS, so the quick fix worked for me as a temporary solution:
replaced INSERT INTO with INSERT **IGNORE** INTO everywhere where the `ospos_tax_categories` table is been inserted

[2017-07-20 12:06] ravindug commented on #1401
install  [jsPrint Firefox Add On](https://addons.mozilla.org/en-US/firefox/addon/js-print-setupl), Firefox is very fast for me works fine..

[2017-07-20 13:30] jekkos commented on #1405
I wonder whether executing clean database.sql against a newly created schema works then.. @odiea any idea?

[2017-07-20 13:31] jekkos commented on #1400
see also #864

[2017-07-20 13:31] odiea commented on #1405
No idea.

[2017-07-20 13:32] jekkos commented on #1401
Not really an ospos issue but rather related to printer / print configuration setup..

[2017-07-20 22:10] robards commented on #1392
Sorry to be such a noob, I downloaded, extracted and moved all those extracted files to /var/www/html where all files were. Let it sit and it did the same thing. Is there a way I can verify the latest version? The login screen still shows 3.0.2

[2017-07-20 22:37] odiea commented on #1392
https://github.com/jekkos/opensourcepos Download or Clone

[2017-07-21 10:18] ashishkaushik commented on #1087
Any quick fixes suggested for this ?

[2017-07-21 12:07] robards commented on #1392
Yep, That's the one I grabbed.

[2017-07-21 12:16] lucianopalhares opened #1406 "trying to install in the localhost windows but no success"
I am trying to install in localhost in windows but no success; I followed all instructions but nothing. My windows is 8.1 and my php is 7; the localhost appear the msg 'page not found'

[2017-07-21 12:25] odiea commented on #1392
You might have to do a clean install. I just downloaded the current master and here is what I get.
![2017-07-21 06_21_29-microsoft edge](https://user-images.githubusercontent.com/10962177/28463383-55d6028e-6ddd-11e7-8535-766daf31b504.png)
![2017-07-21 06_22_01-microsoft edge](https://user-images.githubusercontent.com/10962177/28463390-5f8e6ff0-6ddd-11e7-81d4-c6f082376075.png)

[2017-07-21 12:40] robards commented on #1392
Ah, I thought something was up. I will do.

[2017-07-21 22:41] #1406 closed

[2017-07-22 08:12] daN4cat commented on #1087
@chris-pilly any progress with this feature?

[2017-07-22 08:13] daN4cat commented on #1087
To look up by phone number should not be a big deal.

[2017-07-22 10:13] uditsingh07 commented on #1390
you should also go for jQuery, PLsql, TLSql and javascript

[2017-07-22 11:25] somvannda opened #1407 "Getting 403 forbidden error"
Hi,

I followed exactly the same thing as it is stated in the instruction for running this project in the localhost, but I am getting 403 forbidden error. Is there any solution to solve this issue?

Note: I downloaded the master branch.

Thanks
Somvannda

[2017-07-22 11:32] odiea commented on #1407
The Template is there for a reason as are the faqs and the wiki and open and closed issues.

[2017-07-22 11:32] #1407 closed

[2017-07-22 14:31] bill-goldberg opened #1408 "Bootswatch Themes How to add them in OSPOS"
There are 2 new themes available at bootswatch site...  Please help me about how to add those themes to OSPOS.

[2017-07-22 14:31] bill-goldberg commented on #1408
2 New themes are Lumen & Simplex

[2017-07-22 14:51] mac10046 opened #1409 "Cannot Add new customers and taxes"
![image](https://user-images.githubusercontent.com/4290573/28492163-5f795d6a-6f1b-11e7-9baf-4a87e06d149b.png)

![image](https://user-images.githubusercontent.com/4290573/28492159-40a89b62-6f1b-11e7-8ad2-ec6adac49553.png)

[2017-07-22 15:11] mac10046 commented on #1409
solved it ... by correcting the database.sql

I removed the id column from the insert statement and then when to database to change the id as per the insert statement

INSERT INTO `ospos_tax_categories` ( `tax_category`, `tax_group_sequence` ) VALUES
  ('Standard', 10),
  ('Service', 12),
  ('Alcohol', 11);

a error occurs when you execute the database.sql - first I ignored it
this happened becaus

[2017-07-22 16:36] ishtiaquesarwar opened #1410 "How to migrate version 3.0 to latest version?"
Hello

Can any one provide the safest way to migrate the 3.0 version data to 3.10 without data loss?

Thanks in advance
ishtiaque

[2017-07-22 16:39] ishtiaquesarwar opened #1411 "How to run OSPOS as SaaS platform?"
Hi
In project description it was described that ospos is a SaaS type project, but i have not found any way to turn it into a SaaS based solution over cloud. Any way out, would appreciate your kind guidance

Regards
ishtiaque

[2017-07-22 18:20] daN4cat commented on #1409
@SteveIreland is this solved with your fix?

[2017-07-22 18:21] daN4cat commented on #1411
Click the button deploy on DigitalOcean and you get the cloud based installation.

[2017-07-22 18:30] ishtiaquesarwar commented on #1411
My plan is not to share the source code with any business but sell the
service on monthly subscription fee. Digital ocean is just a host platform.

Every business will get an username and password for transaction, stock
from a same domain where their database and other information will be kept
separate but operation from one single installation.

How to do that? Does that require additional code w

[2017-07-22 19:16] SteveIreland commented on #1409
Yes, the starting key is now 1.

[2017-07-22 20:06] odiea commented on #1409
I only get this issue with an upgrade and not a clean install. I have tried it twice with the current master.

[2017-07-22 21:22] SteveIreland commented on #1409
An upgrade from what version?  3.02 or from some random point in the 3.1.0 upgrade stream?   :smile:

[2017-07-22 21:38] odiea commented on #1409
On my upgrade it was a current database. I reported the issue about the time you introduced the auto incrementing. I had to delete that table then re add it to get the new numbering to work. I just can't seem to find that pull request or maybe it was reported in some issue.

[2017-07-22 21:39] SteveIreland opened #1412 "CSV Item Import Update mode"
### Enhancement

I need to add the capability to import an items CSV file (similar to the ones I used to originally populate the `items` table but this time it's to update prices (or any other attributes).

Primarily it is to add items missing in the original import and to update prices that weren't originally provided or that have changed.

So I'm modifying it to both add and update.  Since the v