[2017-08-23 08:00] bill-goldberg opened #1505 "Please have a look at this"
![github](https://user-images.githubusercontent.com/23611136/29605035-17a6342c-8807-11e7-8b68-9b495bc1766f.jpg)

[2017-08-23 08:02] bill-goldberg commented on #1505
it should show payment_type such as cash, credit card etc in sales detailed reports. but it is showing amount tendered.

Please confirm that why there is amount tendered instead payment type.

[2017-08-23 08:06] #1505 closed

[2017-08-23 08:35] bill-goldberg opened #1506 "highlighting some rows of table in the reports"
![github](https://user-images.githubusercontent.com/23611136/29606484-12d46856-880c-11e7-810e-7b01902dde25.jpg)

[2017-08-23 08:37] bill-goldberg commented on #1506
Is there any easy way to highlight the rows of table in the reports module on a particular field value.
Like i added a credit option for payment type... i want to highlight all sales which having the payment_type as credit as i have to collect payment from my customers in future. highlighting will help me to quickly visualize the unpaid sales/receivings

[2017-08-23 08:39] katika opened #1507 "strangely slow"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
-

[2017-08-23 08:40] katika commented on #1507
Please see attached file, screenshoot from chrome network console.
![selection_002](https://user-images.githubusercontent.com/29801120/29606730-11b5cd2c-87e7-11e7-8485-8f2ec4565c9f.jpg)

[2017-08-23 08:44] katika commented on #1507
From apache logs: "Analytics Host not reachable! Error: Host name lookup failure". Perharps the reason?

[2017-08-23 08:48] saruban commented on #1507
I am also having the same slow issue. I installed the ospos today and added one product only.
Some times it's loading very slow. taking 1-3 mins.

[2017-08-23 09:07] katika commented on #1507
Is it possible to disable request to Google Analytics ?

[2017-08-23 09:10] odiea commented on #1507
Store config - General uncheck
Send Statistics and see if that helps.

[2017-08-23 09:29] katika commented on #1507
Thanks. It works.

[2017-08-23 09:29] #1507 closed

[2017-08-23 10:09] objecttothis commented on #1498
[https://stackoverflow.com/questions/28417781/jquery-add-csrf-token-to-all-post-requests-data](Check here)
This guys is using ajaxPreFilter to do it.  I agree that it should be in the 3.2.0 milestone.

[2017-08-23 16:25] odiea commented on #1356
I will close this again.

[2017-08-23 18:21] daN4cat commented on #1356
I need to add the option to enable/disable it, so I leave it open, but again I don't believe the code you copied & pasted above is correct.
A proper fix will come with 3.2 or later when I find the time to fix database data model properly.

[2017-08-23 18:47] odiea commented on #1356
If you get a chance you could look at Application/Controllers/Customers.php > This is where I made my changes to only public function search().

[2017-08-23 20:11] daN4cat commented on #1485
Yep, en_GB is still empty. I cannot proceed.

[2017-08-23 20:42] daN4cat commented on #1491
I submitted the change to master.

[2017-08-23 20:45] daN4cat commented on #1497
@SteveIreland to be honest I have no idea. Where is that $_doctypes?

[2017-08-23 20:47] daN4cat commented on #1497
OK, found it, it's in application/config/doctypes.php. It's a CodeIgniter thingy.

[2017-08-23 21:00] daN4cat commented on #1497
@SteveIreland you probably need to check what needs to change in our views.
I didn't look in great detail myself, but I assume you first need to change the DOCTYPE in login.php and partial/header and then UTF-8 and etc.

However the issues will pop up from the deprecated tags. And I'm sure they are used, so it's a tedious job to validate all the views.

See details about HTML 5 changes: https://ww

[2017-08-23 21:02] daN4cat commented on #1433
Yes, indeed. Also I need to find the time to deal with this change.

[2017-08-23 21:03] daN4cat commented on #593
@pedrojsaba what's that supposed to do?

[2017-08-23 21:05] jekkos commented on #1485
Ok just pulled in last changes from the repo, rebuilding indexes now, should be fine in a minute

[2017-08-23 21:07] pedrojsaba commented on #593
When you use a mobile browser, you get this view.
![image](https://user-images.githubusercontent.com/1163827/29638519-1b07cc64-881d-11e7-9034-5a420e99f9c5.png)

[2017-08-23 21:08] jekkos commented on #593
Look nice indeed

[2017-08-23 21:28] daN4cat commented on #1488
I just copied and pasted your updates in the upgrade script and tested.
All is working fine except `ospos_items_columns` because that's not an OSPOS table.

I submitted the new upgrade script to master. Thanks again for the time spent in verifying this and contributing a solution.

[2017-08-23 21:29] daN4cat commented on #1488
Also the change from double to decimal will make the memory consumption of MySQL better and some queries faster.

[2017-08-23 21:38] daN4cat commented on #593
Almost... tested sale register and looks awful. No way to resize it or else.

[2017-08-23 21:39] pedrojsaba commented on #371
I'm interested in this, could you share it with me? We could coordinate some cost

[2017-08-23 21:39] daN4cat commented on #1485
@jekkos nothing on weblate....

[2017-08-23 21:42] daN4cat commented on #593
@pedrojsaba have you checked all the views?

[2017-08-23 21:44] daN4cat commented on #371
@pedrojsaba credit payment (due) is already in 3.1. Is that what you need?

[2017-08-23 21:46] pedrojsaba commented on #593
I have tried it from a tablet and embedded in a android view. This according to my need, in my case nobody will make sales from a cell phone.

[2017-08-23 21:59] daN4cat commented on #593
The problem is that I cannot commit this change to everybody as not everything works fine.

[2017-08-23 22:00] pedrojsaba commented on #593
Ok, no problem.

2017-08-23 16:59 GMT-05:00 FrancescoUK <notifications@github.com>:

[2017-08-23 22:01] tenkodoy commented on #1137
@bill-goldberg. Please can you give me a step by step instruction on how you were able to let the custom field (in this case expiry date) to show up in Items Column

[2017-08-24 09:45] objecttothis opened #1509 "Constraint issue in 2.3_to_2.3.1.sql"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
-

[2017-08-24 10:16] daN4cat commented on #1509
You probably manually deletes something from the database and therefore you get this issue.
I had something similar when I did my dry tests using an existing database. You need to manually fix the gaps.

[2017-08-24 10:36] jekkos commented on #1485
Things went awry after I renamed the language folder to be in line with the way we concatenate locale.. was trying to figure out how to fix that yesterday, en us changes are still in weblate but not available in the git

[2017-08-24 10:37] jekkos commented on #1485
Have to find a way to sync both again as the languages were created under the weblate convention which is en_US vs en-US

[2017-08-24 12:09] objecttothis opened #1510 "Master broken"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
-

[2017-08-24 12:42] objecttothis commented on #1509
@daN4cat I did some more digging and the sql is failing because ospos_permissions.sales_stock and ospos_permissions.receivings_stock do not exist and they should. Since the ospos_permissions table is dropped and then recreated in earlier in the script, this is a matter of those two entries not being created.  I have been vindicated!!!! bwhahahaha

I'll submit the pull request

[2017-08-24 13:02] SteveIreland commented on #1490
It's finally coming together.  It will be like walking in through the front door of the store.  Then those that know where the office door is and who have a key to it will be able to access the office modules.

In other words, logging in always takes you to the modules assigned to the home page.  Then you can go to the modules assigned to the office app.  The office link is manually entered (repla

[2017-08-24 13:08] pedrojsaba commented on #371
after git clone version 3.1, I give this message:
Your system folder path does not appear to be set correctly. Please open the following file and correct this: index.php

[2017-08-24 13:15] paooxide commented on #1480
I was able to resolve this: If using linux OS (mine is debian based)

do the following;
- open a terminal in the project folder

then enter;
    composer install

# this should install the code igniter vendor folder and update dependencies. make sure internet connection is available as you may be required to update some php packages.

[2017-08-24 14:33] bill-goldberg opened #1517 "Latest php mysql or marida"
### IMPORTANT IMPORTANT IMPORTANT

1. Chose what you want to report between the sections "New Feature / Enhancement" and "Issue / Question / Bug".
2. Remove just the one of the two sections you don't need
3. Remove this section as it's just a guideline
4. Fill in all the details as requested by the section you chose

If you remove the complete template when submitting a Bug your issue will be clos

[2017-08-24 14:55] odiea commented on #1510
opensourcepos.20170823212937.master.bdc63c.zip

Localhost/redirect/
Access forbidden!

You don't have permission to access the requested directory. There is either no index document or the directory is read-protected.

If you think this is a server error, please contact the webmaster.
Error 403
localhost
Apache/2.4.18 (Win32) OpenSSL/1.0.2e PHP/7.0.8

localhost/redirect/public.

Works as expected.

[2017-08-24 15:12] objecttothis commented on #1510
@odiea I think you misunderstood.  opensourcepos.20170823212937.master.bdc63c.zip is the one giving the error which is why I went back to opensourcepos.20170823204301.master.120b93.zip which does work.  Perhaps it's human error, so if others aren't having the problem then that's good.

[2017-08-24 16:24] odiea commented on #1510
Yes I did misunderstand you but opensourcepos.20170823204301.master.120b93.zip still gives me the same result.

[2017-08-24 18:09] pedrojsaba commented on #371
After install bower and composer, I can't download publid/dist folder. Please help me to use this version

[2017-08-24 18:16] daN4cat commented on #371
Run bin/devinstall.sh

[2017-08-24 18:17] daN4cat commented on #1517
This is becoming spam...

[2017-08-24 18:17] #1517 closed

[2017-08-24 18:34] pedrojsaba commented on #371
But to Windows, What file run?

El 24 ago. 2017 1:16 p. m., "FrancescoUK" <notifications@github.com>
escribió:

[2017-08-24 19:02] bill-goldberg opened #1518 "Latest Versions of Apache PHP and MySQL/MariaDB"
Can you please tell me that the latest versions of AMP stack which can be supported by this application.
I want to use the latest version of AMP stack so that i can get improved performance from this application.

[2017-08-24 19:51] objecttothis commented on #1518
I am using Apache 2.4.27, MySQL 5.7.19 and PHP 5.6.31 on FreeBSD 11.0

I do not know the status of compatibility with PHP 7.0 and 7.1.  Perhaps someone else has tested it.

[2017-08-24 19:51] SteveIreland commented on #1518
That is all in the readme under server requirements.

[2017-08-24 19:57] daN4cat commented on #1518
Indeed.

[2017-08-24 19:57] #1518 closed

[2017-08-24 20:02] daN4cat commented on #371
No windows but you can read the script to understand what it does. You can skip the gendocs part, you don't need it.

[2017-08-24 20:18] pedrojsaba commented on #371
I can execute commands manually, but not download folder dist.

npm install --only=dev
composer install
php bin/install.php translations develop
bower install

2017-08-24 15:02 GMT-05:00 FrancescoUK <notifications@github.com>:

[2017-08-25 04:40] jnar commented on #1203
I, just maged to solve this.  In my case was related to bitnami Wamp not loading php extension php_fileinfo.dll, check this: https://stackoverflow.com/a/40544223

[2017-08-25 05:46] pedrojsaba commented on #371
Finally, I was able to raise the web but I have this error that I have already reported before but there is a clear solution, I have all the files without any mood.
https://github.com/jekkos/opensourcepos/issues/887 - Same Error

[2017-08-25 07:56] saruban commented on #1494
Now its working fine.

[2017-08-25 08:00] daN4cat commented on #1203
I will add this php extension check at login time with log dumping to error_log so we get sorted all these extension problems

[2017-08-25 08:01] #1494 closed

[2017-08-25 08:02] daN4cat commented on #1494
Sometimes not answering is the answer, so people find their own way out.

[2017-08-25 08:03] daN4cat commented on #1494
@saruban and the solution to your problem was?

[2017-08-25 08:05] daN4cat commented on #371
Check php extensions

[2017-08-25 08:06] saruban commented on #1494
I tried to add tax in store configuration.  But it didn't help me. After I checked "Tax Inclusive"  in store config, its working fine

[2017-08-25 08:42] daN4cat commented on #1494
@saruban can you please explain which version you are using and how to reproduce your issue?
Also is that an original OSPOS or modified one?

[2017-08-25 09:22] saruban commented on #1494
Version is.  3.0.2.
Original version.  Modified images and icons only.

[2017-08-25 09:26] daN4cat commented on #1494
And I assume you are not using MySQL5.7 nor PHP7.x, right?

Your comment on another issue was related to the latest 3.1.0 code, so you cannot mixup 3.0.2 with 3.1.0

[2017-08-25 09:36] saruban commented on #1494
I am using now 3.0.2.  No more 3.0.1. If I confused you by the different versions please sorry.

[2017-08-25 09:42] saruban commented on #1494
mysql - 5.1.73
PHP version: 5.6.30

[2017-08-25 09:48] saruban commented on #1494
I like to update items(stocks) as bundle or case.  If we add coca cola bottles as case how can we do this?
If we add 1 case the stock should take this as 24 bottles.  If we sell 1 case, the stocks in the warehouse should detect this and subtract 24 items.

If any related issue here like this, please refer me. or I will open new.

Thanks .

[2017-08-25 10:19] daN4cat commented on #1494
Latest master is 3.1.0, we are not too far to release it. Hopefully in a week or two.

[2017-08-25 10:54] saruban commented on #1494
Can I get to know the new key features only?

[2017-08-25 11:03] daN4cat commented on #1494
There is a Readme in the github front page.

[2017-08-25 11:20] saruban commented on #1494
I got it. Thanks.

What about this ;

"I like to update items(stocks) as bundle or case. If we add coca cola bottles as case how can we do this?
If we add 1 case the stock should take this as 24 bottles. If we sell 1 case, the stocks in the warehouse should detect this and subtract 24 items.

If any related issue here like this, please refer me. or I will open new. "

[2017-08-25 12:07] daN4cat commented on #1494
It was discussed in the past, search the open/closed issues.

@SteveIreland adjusted the items_kit for similar purposes, but now I can't remember from the top of my head if he in the end addressed that specific issue.

[2017-08-25 12:08] daN4cat commented on #1509
I assume this is done and I close now.

[2017-08-25 12:08] #1509 closed

[2017-08-25 12:12] jekkos commented on #1485
Ok think I managed to recover for now, I pushed the work from weblate back now, but I should rename the language folder so we can

[2017-08-25 12:26] objecttothis opened #1522 "Data issue in ospos_giftcards causing problem with upgrade script 2.3_to_2.3.1.sql"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
-

[2017-08-25 13:37] SteveIreland commented on #1490
I've started some documentation on the effort on the wiki at [Menus and Permissions](../wiki/Menu-and-Permissions)

[2017-08-25 14:17] daN4cat commented on #1522
Among all the changes you committed, is this now fixed? I've got lost a bit....

[2017-08-25 14:18] daN4cat commented on #1485
en_GB in weblate is still empty

[2017-08-25 14:29] objecttothis commented on #1522
No, it isn't fixed in any of my commits. I fixed it internally because I don't know if the problem is specific to my build or if it's a problem others who are upgrading will experience. For now we can close it and Mark it as won't fix and of other people have the same issue I will work on an SQL script that will properly migrate the faulty entries in ospos_giftcards

_Sent from my Android XT1575 u

[2017-08-25 17:18] RamkrishnaMondal commented on #1494
Just put (Purchase price - tax paid ) as 'Cost Price' and (sales price - tax collected) as 'Retail Price'. You will get correct profit.

[2017-08-25 18:07] objecttothis commented on #1510
No longer having an issue with 404 errors but for some reason the redirect isn't working for me.  I'm going to test the redirect on another server to eliminate my server as the cause.

[2017-08-25 18:43] odiea commented on #1510
I always  got the redirect to show the public folder but that was as far as it got.

[2017-08-25 18:44] #1522 closed

[2017-08-25 19:00] bill-goldberg opened #1527 "Error - using latest master"
![screenshot 16](https://user-images.githubusercontent.com/23611136/29728502-c46fd98e-89f5-11e7-8283-d0154f4ad690.png)

[2017-08-25 19:07] odiea commented on #1527
Read the issues before reporting another of your issues. #1480

[2017-08-25 19:07] #1527 closed

[2017-08-26 01:55] saruban commented on #1494
@RamkrishnaMondal Thanks but it solved and you can check previous comments.
Can you please help me in this;
"I like to update items(stocks) as bundle or case. If we add coca cola bottles as case how can we do this?
If we add 1 case the stock should take this as 24 bottles. If we sell 1 case, the stocks in the warehouse should detect this and subtract 24 items."

[2017-08-26 03:39] RamkrishnaMondal commented on #1494
Create an items_kit say, 'Coca Cola Case' and add 24 bottles to it. When you sell one case, ospos will deduct 24 bottles from the stock.

[2017-08-26 03:42] saruban commented on #1494
It's working. Good method.
In future ,  hope the case or bundle stock items will be added in reports > inventory summary

[2017-08-26 03:46] saruban opened #1528 "Distributor's stock management"
Most of the companies sending their stock through distributors (vehicle). End of the day distributors may return some stocks back to inventory.
Owner should keep updated the out going and incomming stocks which handled by distributors every day.

This feature help almost all people.

[2017-08-26 08:27] shinzu1214 opened #1529 "i am facing an issue, my sales and store config and recieiving pages are freezing, the module or php extension u have to install is installed on my server."
i am facing an issue, my sales and store config and receiving pages are freezing, the module or php extension u have to install is installed on my server.

and one more thing, when i uplodaded this ospos on my remote server hosting i gor from godaddy. its giving error there as well, when i login it says unable to handle this request.

[2017-08-26 12:20] daN4cat commented on #1528
Very specific business case, I can't see how this will "help almost all".

[2017-08-26 12:30] odiea commented on #1528
Have you tried creating multiple stock locations then use Requisition to transfer stock from the main  location then back to the main location at the end of the day?

[2017-08-26 12:35] saruban commented on #1528
@daN4cat  Only small retailers don't need this feature.  But agents and companies need this. So people in all industries can use this ospos.

[2017-08-26 12:36] saruban commented on #1528
@odiea Thanks for the suggestions.  I will check it out now.

[2017-08-26 12:47] saruban commented on #1528
@odiea how can i use Requisition in ospos.  Any special method to do this?

Can you please assist me?

[2017-08-26 13:04] odiea commented on #1528
You will need to have at least 2 locations. Then from the drop down menu you will have the choice to use requisition. It will then give the option of transferring items to and from  locations.

[2017-08-26 13:15] odiea commented on #1528
Once you create the different locations under store config then you go into the Receivings module and transfer inventory using Receivings.

[2017-08-26 14:03] objecttothis opened #1530 "Location to stock_location change question"
### Question

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
- [x] I read th

[2017-08-26 15:16] objecttothis opened #1531 "Barcode Number required to be unique"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
-

[2017-08-26 16:59] SteveIreland commented on #1531
And just to add my 2 cents to this discussion.  The item_id is our unique item identifier but that is automatically assigned by the system so it's not extremely useful as a business item identifier.  Not all items have barcodes so it's not useful as a consistent business item identifier.  In my world the distributor will have their item identifier and the vendor/manufacturer will have their item i

[2017-08-26 17:01] daN4cat commented on #1531
I appreciate the problem but this will complicate the matter at till time because you'll get multiple with the same and it won't be one scan one item and straight process.

Also the risk is that people will reintroduce again and again the same item easily creating duplications.

If you want to intrude such support it has to be optional otherwise it becomes a nightmare of sales assistant mistakes f

[2017-08-26 17:04] daN4cat commented on #1528
Indeed good thought @odiea as it's already there.

[2017-08-26 17:05] #1528 closed

[2017-08-26 17:18] objecttothis commented on #1531
I'm ok with it being implemented as an option.  I can see that there are businesses that do it both ways. There are two things to note:
- Barcode scanners are programmed (through scanning specialized barcodes) to either hit enter after a scan or not inserting a newline after a scan.  Not inserting a newline after a scan allows the item to be scanned and then selected at till time.
- The second not

[2017-08-26 17:31] RamkrishnaMondal commented on #1369
![screenshot from 2017-08-26 23 00 10](https://user-images.githubusercontent.com/14151032/29743551-794fbcfe-8ab2-11e7-99a7-8182d5bc77b6.png)

[2017-08-26 17:33] daN4cat commented on #1531
The suggestion line format line is subjective, in my case I would need some attributes and not Barcode nor price.

[2017-08-26 17:40] objecttothis commented on #1531
So what if I implemented it in a way similar to the implementation of the barcode printer function where you can choose from three attributes to be displayed in the sales search suggestions?

[2017-08-26 18:04] daN4cat commented on #1531
Yes that would make sense, but it's better to wait for the attributes change to come in and then add this feature.

[2017-08-26 18:36] objecttothis commented on #1531
Sounds good
________________________________
From: FrancescoUK <notifications@github.com>
Sent: Saturday, August 26, 2017 10:05:00 PM
To: jekkos/opensourcepos
Cc: objecttothis; Author
Subject: Re: [jekkos/opensourcepos] Barcode Number required to be unique (#1531)

Yes that would make sense, but it's better to wait for the attributes change to come in and then add this feature.

—
You are receivin

[2017-08-26 20:11] daN4cat commented on #1530
I understand it represent different location for your stock. Could be in a warehouse, stock room, 1st floor of your shop, ground floor of your shop, on a mobile shop... etc.

[2017-08-26 20:11] daN4cat commented on #1529
no template being filled in, I close.

[2017-08-26 20:11] #1529 closed

[2017-08-26 20:13] daN4cat commented on #1502
I don't get, what's the issue and how can you reproduce it?

[2017-08-26 20:57] daN4cat commented on #1501
Somebody gave source code for the expenses support, but it would need to be ported to latest 3.1.0 and polished.

We can make that code available only under the condition that you contribute it back and make it to work with 3.1.0.

[2017-08-26 21:00] daN4cat commented on #1499
This would be better supported once we introduce Reportico, see #1433

[2017-08-26 21:00] #1499 closed

[2017-08-26 21:01] daN4cat commented on #1500
Not sure I understand, what do you mean with "4 nos"?

[2017-08-26 21:11] daN4cat commented on #1479
@SteveIreland I can see that you want to focus on PO only, not the full management from PO, to receiving / invoice and subsequent supplier payment. Is that intentional?

[2017-08-26 21:14] daN4cat commented on #1479
In our case we receive order confirmations from suppliers in pdf documents or even scan of manually filled papers, and then after the goods are received we receive pdf copies of invoices, or scan of invoices.
We just need to attach those files and track everything down to the payment, and also for the quarterly VAT payment (so a quarter needs to be tagged for filtering purposes).

[2017-08-26 23:17] SteveIreland commented on #1479
@daN4cat Nope.  I just haven't had time to revisit it.  I went ahead and started the page so that if anyone else wanted to add any thoughts to it then they could do so.  I definitely need to and plan to integrate receiving and invoice reconciliation.

[2017-08-26 23:19] SteveIreland commented on #1479
@RamkrishnaMondal I'll need to do a bit more research to understand the GST requirements but I'll make sure that's included.

[2017-08-27 02:22] SteveIreland commented on #1490
A pull request has been submitted for this change.  But it's primarily for testing and as a foundation for future development for additional modules such as purchasing, customer debt management, and vendor invoice reconciliation.  I don't expect it to be a 3.1 feature.

[2017-08-27 06:57] daN4cat commented on #1490
Maybe I can pull it in a feature branch

[2017-08-27 06:57] daN4cat commented on #1490
And thank you for the contribution

[2017-08-27 08:28] objecttothis commented on #1530
The problem is that when searching inventory or selling items you have to know what stock location the item is in to find it.  If not, it doesn't appear in the search results or tells you that you have insufficient stock.

[2017-08-27 11:06] arrazka opened #1534 "return mode not sum up already item in cart"
using : 3.1.0 - 4f5ad57

return mode --> scan sale id -> item loaded = 2 line  / product ( this same like in the first sale_mode)
product 1 = item_id =1
product 2 = item_id = 2
scan product 1 (item_id =1) ... cart cleared and only produt 1 in the cart, scan again product 1..  quantity not change still -1. scan product 2 (item_id =2) quantity for product1 (item_id =1) change to  -3.  but when I sca

[2017-08-27 12:12] jekkos commented on #1458
Should be fixed now

[2017-08-27 12:31] odiea commented on #1458
No problem selecting a language now that it is in it's proper location.

[2017-08-27 12:50] jekkos commented on #1471
Hm ok I just had a brief look and after setting countrycode to gb, it does seem to search for addresses in the uk. It does look like the output format changed a bit, as you said I do see some POI information being returned from time to time.

maybe I need to refine the query further and check how the contract specifications were changed

[2017-08-27 17:49] daN4cat opened #1535 "CSRF error at login time"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
-

[2017-08-27 17:50] daN4cat commented on #1535
@jekkos the CSRF error at login time persists. I can systematically reproduce it now.
Probably 1 day is not necessary but try waiting few hours and I bet you can reproduce it.

[2017-08-27 19:13] ajaykumarji commented on #1499
Good, you are genius,
and believe you can do it.

[2017-08-27 19:20] ajaykumarji commented on #1501
yes definitely, i will contribute to introduce new module, idea so that OSPOS will be a not only POS but more then that like a small ERP based on double entry system of accounting.

[2017-08-27 19:29] daN4cat commented on #1501
@ajaykumarji ok, good. Here the branch containing that code based off 3.0.2: https://github.com/jekkos/opensourcepos/commits/feature/expenses

I never tested, just took it with the idea that one day we will add the feature.
So here you, first try to get it to work as it is based on 3.0.2 and then rebase it with 3.1.0.

Looking forward for you contribution, I guess you will have a bit of work to do

[2017-08-27 19:31] ajaykumarji commented on #1500
i mean, group of tax/ category of tax be one tax i.e.

1. Sales Tax State- Group
      Tax1  5%
      Tax2  5%
      Tax3  5%

2. Sales Tax Export- Group
      Tax1  6%
      Tax2  6%
      Tax3  6%

Like above, we can select any one for sales

Thanks

[2017-08-27 19:33] daN4cat commented on #1500
Have you checked what @SteveIreland added? Maybe you can see with him how to complete that work and get what you need.

[2017-08-27 19:42] #1481 closed

[2017-08-27 19:53] daN4cat commented on #1534
@arrazka
I tested and everything works fine in return mode. Scan multiple times each product and each scan adds -1 to the selected product.
Please check your scanner, barcodes and etc. because you have some mixup with your setup most likely.

[2017-08-27 19:57] daN4cat commented on #1458
@arrazka can you please check with the latest bintray zip file and see if everything works fine with your selected language?

[2017-08-27 20:22] daN4cat commented on #922
@joshua1234511 I saw no news about whatsapp integration and so I deleted the branch to avoid keeping it up to date with the latest master

[2017-08-28 01:37] RamkrishnaMondal commented on #1479
@SteveIreland Thanks in advance.
Please let me know, if you need any help from me regarding the Indian GST.

[2017-08-28 02:54] SteveIreland commented on #1500
Is this a VAT tax situation?

[2017-08-28 10:23] aterad opened #1536 "PROFIT DETAILS NOT SHOWING IN OSPOS 3.0.2 REPORT MODULE"
Hello house,
Please there is an error in the report module.
the profit column and summary of the generated report has no record. its reading zeros.
Please any solution.
Thanks house
![report](https://user-images.githubusercontent.com/26612432/29769649-2e256ecc-8be3-11e7-95cd-d6218b702d0b.PNG)

[2017-08-28 10:31] daN4cat commented on #1536
Fixed in 3.1.0

[2017-08-28 10:31] #1536 closed

[2017-08-29 07:19] bill-goldberg opened #1537 "adding search feature to reports tabular details"
How can i add the search functionality to reports modules within the tabular details page... for searching fast about a particular record

[2017-08-29 09:17] jekkos commented on #1501
Ok we'll have to check and see if it complies with our interface design standards..

[2017-08-29 09:36] saruban commented on #1242
Hope it will be released before this week end

[2017-08-29 09:58] #1448 closed

[2017-08-29 09:58] jekkos commented on #1458
Ok would be good to have confirmation so we can close

[2017-08-29 09:59] daN4cat commented on #1501
Should be using the new js tables and etc. Of course we need to review the code and etc.

[2017-08-29 10:01] daN4cat commented on #1242
I'm waiting for @jekkos to sort out the en_gb translation issue. I probably need to check if anything else is left open. If not we should be good to release after a bit of notes write up.

[2017-08-29 10:01] jekkos commented on #1242
It will be released when it's done.. there's currently still a couple of issues open that need investigation / fixing

[2017-08-29 10:17] jekkos commented on #1485
Translations are prefilled now in weblate..

[2017-08-29 12:45] Ibnumarjan opened #1538 "Paper Size and Printer setup"
### IMPORTANT IMPORTANT IMPORTANT

1. "Issue / Question / Bug".
4. Fill in all the details as requested by the section you chose

If you remove the complete template when submitting a Bug your issue will be closed as we cannot help without basic information.

### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the f

[2017-08-29 12:50] odiea commented on #1538
Have you tried using Firefox with the JSPrint plug-in installed?

[2017-08-29 13:17] beinafuushop commented on #1479
Hello Team,
I have updated the Wiki with more requirement, Can some one check and let me know if they are clear?

[2017-08-29 13:22] beinafuushop commented on #1479
@RamkrishnaMondal, @SteveIreland , @daN4cat, Can you please let us know the way foward for this.

[2017-08-29 13:33] Ibnumarjan commented on #1538
No, But I am using Chrome,
Is there any specific paper size assigned in the system (OSPOS)?

[2017-08-29 13:45] odiea commented on #1538
Not that I am aware of. Selecting the printer features were designed to be used with jsprint in Firefox.

[2017-08-29 14:10] saruban commented on #1242
Great.  Thanks for making the ospos more and more best

[2017-08-29 14:12] SteveIreland commented on #1242
Surely there will be a 3.1.1 release the following week ... right?   :-)

[2017-08-29 18:31] objecttothis commented on #1486
Hi everyone. I'm not going to be able to consistently be around for the next week or so. Sadly our 2-year-old son fell out of the 2nd floor window of our friend's house and is in intensive Care at the moment so I need to see to that. I may make a few commits here and there to get my mind off things though. Thank you for understanding.

_Sent from my Android XT1575 using [FastHub](https://play.goog

[2017-08-29 18:36] SteveIreland commented on #1479
If you are asking if those requirements can be incorporated in the design and development then yes.  I don't personally have a need for it yet.  Our shop (at this time) is only 1 or 2 sales/office staff and the owner doesn't want to touch the computer.  So operationally there are not a lot of checks and balances, it is mostly "after the fact" reviews and reports.

I'd be interested to know the siz

[2017-08-29 18:49] daN4cat commented on #1486
@objecttothis I'm really sorry to hear that, such a awful incident. I wish your son to get well soon and please stay close to him.

[2017-08-29 18:51] SteveIreland opened #1539 "New Feature: Work Orders"
### New Feature / Enhancement

We've been using an enhancement I made to OSPOS for awhile now.  I recall submitting a pull request for it awhile back but pulled it because it was rushed and wasn't really well thought out in the context of a general purpose open source project.

I'm rewriting it so that it is much more flexible.  Essentially it will provide basic support for a small shop that needs

[2017-08-29 20:28] daN4cat commented on #1486
If the doctors are not against it, read him a book of nice stories. I'm sure he will be happy to hear his daddy reading something to him, and to see you close to him.

Also please don't worry about OSPOS at the moment.

[2017-08-29 20:47] jekkos commented on #1535
I understand that this is an annoying bug, but on the other hand I want to question a bit the urgency to have it fixed for 3.1. Is it really that much of a blocker ? Maybe we better postpone for a later bugfix release and invest time in getting 3.1 out of the door

[2017-08-29 20:48] jekkos commented on #1356
Same for this one, it pops up on my radar for 3.1, but for me this is more something we should tackle in a 3.1.1 release (as there will be other bug reports probably)

[2017-08-29 20:50] jekkos commented on #1488
@daN4cat @objecttothis can we close this one?

[2017-08-29 20:51] jekkos commented on #1471
I don't really think the search is  broken as it is now, and won't consider this critical enough to stop us from releasing 3.1. Other opinions? Otherwise I'll change the milestone.

[2017-08-29 20:52] odiea commented on #1471
Works good enough for me.

[2017-08-29 21:27] objecttothis commented on #1488
Yes I think we can.

_Sent from my Android XT1575 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-29 21:43] #1488 closed

[2017-08-29 21:44] #1471 closed

[2017-08-29 21:47] daN4cat commented on #1485
I translated en_GB. I also updated some French translations but not completed all, and accepted some Portuguese (Brazilian) suggestions.

[2017-08-29 21:50] daN4cat commented on #1458
@arrazka ?

[2017-08-29 23:46] SteveIreland commented on #1485
I'm getting a bit confused so if someone can provide some clarity for me I would appreciate it.  In a recently pulled instance I have en, en-GB, en_US, and en-US.

I think en_US (with the underscore) was probably a mistake.

When I do development should I put my language text statements in en, en-GB, or en-US?  Which is home base?

[2017-08-30 02:32] objecttothis commented on #1486
Good call @daN4cat. I've got my wife bringing a few books to read to him.

_Sent from my Android XT1575 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-30 05:56] daN4cat commented on #1485
en is the Base. BTW I should fix some sentences because during the en-GB translation I found out few mistakes

[2017-08-30 09:58] beinafuushop commented on #1539
@SteveIreland Am not sure if i get how the work order functionality works, Can you please open the Wiki and put some insight for our understanding?

[2017-08-30 10:14] SteveIreland commented on #1539
Yes. The wiki will be updated when I submit the pull request this weekend.

[2017-08-30 19:52] saruban commented on #1486
I am praying for your son. Don't worry @objecttothis , he will be alright and play like before happily.

[2017-08-30 20:53] daN4cat commented on #1485
@jekkos could you please take Weblate translations and sync master with them?

[2017-08-31 03:56] sanubari97 opened #1540 "Windows 7 Installation"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [0] I'm reporting an issue of an unmodified OSPOS installation
- [0] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [0] I read the README, WHATS_NEW and UPGRADE
-

[2017-08-31 04:00] sanubari97 commented on #1540
I read and googled, cant resolve the problem..

[2017-08-31 04:01] SteveIreland commented on #1540
OSPOS 3.0,2 isn't compatible with the platform you are running on.  You will need to install 3.1.0.

[2017-08-31 04:11] sanubari97 commented on #1540
where do I get that ?

[2017-08-31 06:18] #1540 closed

[2017-08-31 18:46] objecttothis commented on #1486
@saruban Thank you, we appreciate it.  The surgery today went well to repair the bones around his left eye and insert a pin into his left femur.  He will have a bit to heal, but we are so grateful to have not lost him.

[2017-08-31 18:47] objecttothis commented on #1485
Make sure not to overwrite en_US on weblate with either the weblate english or the current master english.  I made corrections and changes from British English when I finished the en_US translation on weblate.

[2017-08-31 19:26] SteveIreland commented on #1485
How come en_US is not en-US?

[2017-08-31 19:39] objecttothis commented on #1485
http://codel10n.com/what-is-correct-locale-tag-en_us-vs-en-us/

[2017-08-31 19:54] SteveIreland commented on #1485
Okay, so that wasn't particularly definitive.  So since both are "standard" then shouldn't we follow the naming convention which seems to already be in place for OSPOS which would be en-US?

[2017-08-31 21:00] #1469 closed

[2017-08-31 21:00] #1470 closed

[2017-08-31 21:01] #1458 closed

[2017-08-31 21:01] #1472 closed

[2017-08-31 21:01] #1483 closed

[2017-08-31 21:02] #1534 closed

[2017-09-01 01:15] objecttothis commented on #1485
what I gathered from the article is that for Unix POSIX and Java use underscore and for just about everything else use the hyphen

[2017-09-01 01:51] SteveIreland commented on #1485
But with an application that's deployed to both platforms it's not definitive.  And each browser seems to follow it's own set of conventions.  So I'm still leaning toward thinking the naming convention should be consistent across all languages files within the application.

[2017-09-01 02:05] SteveIreland commented on #1485
But since there isn't an en-TEXAS I really don't  have any skin in this game.  :-)

[2017-09-01 05:10] objecttothis commented on #1485
haha, yes voted the state most likely to secede 241 years in a row. we will have to work on that translation later. the standard has less to do with what platform it's deployed on and more to do with what language it's written in. I'm fine with either.

[2017-09-01 06:15] 3suneetha commented on #920
Hai,
I am getting not found error while clicking go button in login page
Not Found

The requested URL /os3108/public/login was not found on this server.

Apache/2.4.10 (Ubuntu) Server at 192.168.1.150 Port 80

my .htaccess is

# if in web root
#RewriteRule ^(.*)$ index.php?/$1 [L]

# if in subdir comment above line, uncomment below one and replace <OSPOS path> with your path
 RewriteRule ^(.*)$ /<

[2017-09-01 06:34] jekkos commented on #1485
Ok I pushed  latest weblate changes to this repository. So but languages are not yet selectable from the UI, so we still need a change for that. Also I'd have to reconfigure weblate to use en_US as the source language and get rid of  the plain en folder.

[2017-09-01 13:55] daN4cat commented on #920
@3suneetha

Change the line:

RewriteRule ^(.*)$ //public/index.php?/$1 [L]

to be:

RewriteRule ^(.*)$ /os3108/public/index.php?/$1 [L]

[2017-09-01 14:49] sameeerz opened #1541 "need help regarding inventery"
i want too add free issues option for example when i receive 10 item of 100 rs (MRP) my price 80 rs each each i get 2 item for  free
so when i sell them for 10 item my profit is 20 rs and for the remaining my profit is 100%
so how can i implement free issues option and how can i add 2 MRP option because some product i receive at rs 100 and next time it can be 110 but still i have old stock of 100

[2017-09-01 19:47] daN4cat commented on #1541
what about filling in the template as requested before submitting something?

[2017-09-01 19:47] #1541 closed

[2017-09-01 21:21] daN4cat commented on #1485
OK, now master contains the support for en-US and en-GB, with en-US being the default language.

Please note that I removed the en and en_US language folders.

@jekkos you need to switch weblate to use en-US as master language.

[2017-09-02 10:04] daN4cat commented on #1485
I tested a bit more and this seems to work fine with both: en_GB and en_US.

I believe we can close and leave the Weblate fix to @jekkos when he finds the time.

[2017-09-02 10:04] #1485 closed

[2017-09-02 10:06] daN4cat commented on #1287
This will need some help and time. I've added a Mailchimp link in the Config Store to know where to the the API Keys. I'll see if I can find the time today to just write some in the wiki about Mailchimp, but I close this issue as it's an open ended story.

[2017-09-02 10:06] #1287 closed

[2017-09-02 10:11] daN4cat commented on #1242
@jekkos all 3.1.0 issues are closed. I believe we are good to release as I didn't hear any major complaints in recent time.

Please @odiea @SteveIreland whilst I prepare the release notes, make sure language support is working fine with American English. There is an upgrade line at the end of the 3.0.1 to 3.1.0 database script that should change from en to en_US and I set en_US as default in new i

[2017-09-02 10:53] saruban commented on #1242
Great to hear from you @daN4cat
In future i will try to contribute surely.

[2017-09-02 11:25] odiea commented on #1242
For some reason I get the following error using the db update. Changes lang from en to en-US after I manually changed it in app_config.

UPDATE `ospos_app_config` SET `language_code` = 'en-US' WHERE `language_code` = 'en';
Error
SQL query:
UPDATE `ospos_app_config` SET `language_code` = 'en-US' WHERE `language_code` = 'en'
MySQL said: Documentation

#1054 - Unknown column 'language_code' in 'where

[2017-09-02 11:41] daN4cat commented on #1242
@odiea yes, correct that's a mistake. Fixing

[2017-09-02 11:44] daN4cat commented on #1242
fix in master. thanks for the bug report @odiea

[2017-09-02 11:46] daN4cat commented on #1538
@Ibnumarjan I'm afraid that's a printer setup issue and page size selection story. Check your configuration setting in your windows / linux / mac printer driver.

[2017-09-02 11:50] daN4cat commented on #1318
See #446 as connected to this.

[2017-09-02 11:53] daN4cat commented on #1318
@asadjaved63 just wondering if you gave up or still want to proceed. With a small steps approach you should be able to do something.
It's probably a matter of take one part at the time and update. Thinking on using that approach it should be doable and just rework the controller a bit. However the Sale_lib calculates everything, so it's just a matter of get/set data to that lib via a controller an

[2017-09-02 11:55] daN4cat commented on #1479
BTW, how is this different from #566 ?

[2017-09-02 11:58] daN4cat commented on #566
@SteveIreland have you ever read this discussion thread?

[2017-09-02 12:01] odiea commented on #1242
@daN4cat Works great now.

[2017-09-02 12:02] daN4cat commented on #1539
I remember you submitted something about this as additional state to the sale transaction together with suspended, quote and etc. Right?
We should also consider the state cancel or delete. I know you don't fancy the soft delete but having numbered sale transitions it's better to do soft deletes in case of fiscal controls otherwise they will argue about the gaps in the enumeration sequence.

[2017-09-02 12:03] daN4cat commented on #1242
so, are we good now?

[2017-09-02 12:20] daN4cat commented on #1242
OK, release notes and etc are ready.
I'm just waiting for Travis CI to complete the build and then I take bintray zip file and add to the release.

Once that's done, @jekkos @odiea @SteveIreland are you ok to release 3.1.0?

[2017-09-02 12:26] SteveIreland commented on #566
Yes. I've read it a few times but not in the last month.  Thanks for bringing it to my attention again.  I'll make sure that we've got it covered in the requirements..

[2017-09-02 12:32] SteveIreland commented on #1242
Yes please.  I am champing at the bit to start 3.2.

[2017-09-02 12:39] jekkos commented on #1242
@daN4cat thanks for getting it out of the door! Lots of hard work done, thanks to all involved.

[2017-09-02 12:39] daN4cat commented on #1242
Good, so everything is ready. I push the magic button!

[2017-09-02 12:40] daN4cat commented on #1242
Done: it's released! https://github.com/jekkos/opensourcepos/releases/tag/3.1.0

[2017-09-02 12:40] #1242 closed

[2017-09-02 12:44] SteveIreland commented on #1539
Yes.  You are psychic.  I added support for it this last week. I had to add a canceled state to the sale_status field in order to handle a request that work orders not be lost when they are canceled.   They want to be able to generate a sales lost analysis report.  Your reason is more comprehensive so I'll go back and make sure that all cancellations are "soft".  (Auditors trump management every t

[2017-09-02 12:48] SteveIreland commented on #1242
Awesome!  Thank  you all.  So now are we starting on 3.1.1 or 3.2?  In other words ... how I should name the next database migration script?

[2017-09-02 12:56] jekkos commented on #1538
There's something here on the wiki that explains how to use print configuration. Check

https://github.com/jekkos/opensourcepos/wiki/Receipt-auto-printing

[2017-09-02 13:12] jekkos commented on #1242
It depends, I would do one extra minor release as we will probably have more users on 3.1 soon that might reporting bugs we didn't find yet..

[2017-09-02 13:16] daN4cat commented on #1242
@SteveIreland starts with 3.1.0_to_<feature>.sql then we can merge all those upgrade scripts in one.

I agreed with @jekkos that we should wait as we might get a 3.1.1 for some minor issue or even for translation only.

[2017-09-02 13:20] daN4cat commented on #1242
@jekkos any idea why the badge in readme page still shows 3.0.2? I remember having fixed that once... but can't remember what was :-(

[2017-09-02 13:27] daN4cat commented on #1242
I remember, I fixed older tags because we needed to follow the semantic version. The tag is correct 3.1.0, it probably requires a bit of time before it's synchronised (I suppose....)

[2017-09-02 16:50] BitMari opened #1542 "been trying to reach you , do you have a python version?"
Question

been trying to reach you , do you have a python version?

### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make s

[2017-09-02 17:01] SteveIreland commented on #1542
How about a Cobol version - or even better a Fortran version?

[2017-09-02 17:07] daN4cat commented on #1542
Maybe we should re-implement OSPOS in Scala.

The answer to the question is: sorry, no.
And what would be the benefit of Python versus PHP 7.x?

[2017-09-02 17:07] #1542 closed

[2017-09-02 23:29] SteveIreland opened #1543 "New Feature: Office Menu"
### New Feature / Enhancement

To support  modules that might be considered to be part of "back office" functionality as opposed to "point of sale" functionality there needs to be a clear separation between storefront modules and back office modules.

Back office modules might be purchasing and vendor invoice reconciliation, debt management (a.k.a receivables).

More detail regarding the new menu

[2017-09-03 02:24] SteveIreland commented on #1543
A pull request has been submitted for it and the wiki updated to reflect some of the last second changes.

[2017-09-03 02:47] saruban commented on #1242
What is the different between opensourcepos.20170902121753.3.1.0.52ab4c.zip and
Source code (zip) in releases.

[2017-09-03 05:41] daN4cat commented on #1242
Long name zip is the full installation

[2017-09-03 07:56] saruban commented on #1242
Thanks.

[2017-09-03 09:15] gargdhruv opened #1545 "can we search customer by contact number instead of name in sales section"
### IMPORTANT IMPORTANT IMPORTANT

1. Chose what you want to report between the sections "New Feature / Enhancement" and "Issue / Question / Bug".
2. Remove just the one of the two sections you don't need
3. Remove this section as it's just a guideline
4. Fill in all the details as requested by the section you chose

If you remove the complete template when submitting a Bug your issue will be clos

[2017-09-03 10:35] daN4cat commented on #1545
What about searching old issues as per template indication? See #1087

[2017-09-03 10:35] #1545 closed

[2017-09-03 10:37] daN4cat commented on #1419
Related to #1084 too

[2017-09-03 10:41] daN4cat commented on #1543
Good and well done. Maybe I should import this into a feature branch. I assume this is the first part of the back office + purchase order story, correct? Maybe I can call the branch feature/backoffice

[2017-09-03 11:58] SteveIreland commented on #1543
Thanks, and yes this the purchase order system will be assumed to be located in the office menu.

My preference would be to go ahead and merge it in to master so that I don't need to rebase it every time the master branch changes.  I've found that activity quickly consumes a lot of my limited time - especially since I now need to spend a bit more time building out each of the sub-releases when I r

[2017-09-03 12:33] daN4cat commented on #1543
I merge to feature/backoffice and make that the 3.2.0. If nothing relevant pops up out of 3.1.0 requiring a 3.1.1 then I can move that to master. Anyway 3.1.1 should be minor fixes so rebasing will be easy. I'll try to keep up with that. OK?

[2017-09-03 12:42] SteveIreland commented on #1543
Okay.  Sounds like a plan.  Thanks.

[2017-09-03 12:45] daN4cat commented on #1543
Now in feature/backoffice. A bin tray build with the full zip should be ready within 30 min.

[2017-09-03 12:54] daN4cat commented on #1242
Readme page badge now reports 3.1.0.

[2017-09-03 14:54] daN4cat opened #1546 "Release 3.1.1"
I'm afraid we will need to issue a Release 3.1.1.

I found a bug with Giftcard.
When you create a new one and save it, there is an error thrown and the dialog box doesn't close.

[2017-09-03 14:55] daN4cat commented on #1546
I need to check if there are more similar issues, somehow something went wrong in recent time.
Time to retest everything before seal a 3.1.1.

[2017-09-03 15:18] daN4cat commented on #1546
Also found out that some en_GB translations for Giftcard are not correct, fixing those too in file and on Weblate to keep them in sync.

[2017-09-03 16:00] odiea commented on #1546
Which Giftcard setting are you using?  It looks ok using generate in series.

[2017-09-03 16:12] daN4cat commented on #1546
@jekkos there is something strange with Weblate, it messed up quite some strings and replaces all the "You have successfully deleted {Gifcard, Employee, Customer, etc.}" with the same string all over the different modules. Basically I've got all the came sentence with Giftcard. I'm changing in GitHub but you need to sync back to Weblate and check why this link between strings.

[2017-09-03 16:13] daN4cat commented on #1546
Create a new card with random generation. I got an error and there is a bug in the code.

[2017-09-03 16:18] SteveIreland commented on #1539
Documentation for Work Orders can now be found on the wiki at

[Work Orders](../wiki/Work-Orders)

Also once installed, records in the sales tables will no longer be physically deleted.  They will be "soft deleted".

[2017-09-03 16:19] odiea commented on #1546
And you have Gift Card number set to generate random. I do not get this issue.

[2017-09-03 16:22] daN4cat commented on #1546
Also I just found out that tax calculation with tax included (VAT 20%) doesn't appear to be right in reports, I mean the total at least. Oh well.... this tax story, how much I love it!

[2017-09-03 17:04] daN4cat commented on #1546
I'm puzzled by the VAT mistake I saw. It might be an issue moving the old database to the new version. So something wrong with my migration?

[2017-09-03 18:35] objecttothis commented on #1546
Not sure if this is new to 3.1.0 but when changing the currency symbol manually it throws a HTTP 400 error after hitting tab "http://domain/subfolder/public/[object Object]" The type of request is post.  I have tested this on both my server and an external server to eliminate my server as being the culprit.

[2017-09-03 18:36] objecttothis commented on #1546
I'm also noticing on two different servers that the .htaccess mod_rewrite is not working to forward to the /public/ folder.  In both cases I am using a subdirectory.  I will look into why it's not working and submit a pull request.

[2017-09-03 18:49] daN4cat commented on #1546
The migrate function is not working correctly with Tax included (VAT) case.

[2017-09-03 18:51] daN4cat commented on #1546
@objecttothis I've got a problem with an Apache option to control syblink race condition exploits.
Make sure you don't any such thing enabled when testing. I disabled even because that Apache patch is not recommended in any case.

[2017-09-03 18:55] SteveIreland commented on #1546
@daN4cat Did you want me to take a look at the migration issue this week?  It will take me some time because I'm already booked to my eyebrows with commitments this weekend plus I'll need to set  up 3.0.2 for a VAT scenario and create some test data to work with.

[2017-09-03 18:56] objecttothis commented on #1546
localization is also messed up for az and az_AZ. For az it populates the currency symbol as ¤ but it should be ₼ (https://en.wikipedia.org/wiki/Azerbaijani_manat) and the currency side should be right, not left.  for az_AZ and az-AZ it makes the currency symbol "man." which is the old currency.  the currency code is actually AZN.  In either case the symbol should be ₼.  I believe this was correct

[2017-09-03 18:58] objecttothis commented on #1546
@daN4cat one test environment I am using is running nginx and the other apache.  On the apache build I will look into this option to disable it.

[2017-09-03 18:59] daN4cat commented on #1546
@SteveIreland can you please help? I'm getting lost in the nesting of code for this Tax calculation story.
The migration routine doesn't calculate the correct tax in tax included case.

Example: Tax is 20% (VAT).
Total 50
Calculate tax is 10, where it should be 8.33

[2017-09-03 19:00] SteveIreland commented on #1546
Will do.

[2017-09-03 19:12] objecttothis commented on #1546
@daN4cat I checked on my apache install that mod_ruid was not enabled and I changed the Options directive from +SymlinkIfOwnersMatch to +FollowSymLinks and then restarted apache.  That did not have any effect.

[2017-09-03 19:23] daN4cat commented on #1546
@objecttothis make sure you use PHP 7.1 so libraries are latest. The currency support is a php extension story.

[2017-09-03 19:28] turtledude01 opened #1547 "Feature request: Signature capture"
I took a quick stroll through the current issues and requests, I don't believe this has been requested previously, but what I would like to see is a signature capture on reciepts, invoices, etc.  The business I am looking at using this FOSS in is a computer repair shop, so signatures are almost required.  The current service We use allows us to use something called a Topaz signature reader.  Thank

[2017-09-03 19:45] objecttothis commented on #1546
on one server I don't have multiple php installs setup and need 5.6 for other php apps run on the server.  on the other server I changed the php to 7.0 (7.1 wasn't available) but it didn't make any difference.  both have the intl extension installed and updated.  Is it a different extension or is that the one that the information is being drawn from?

[2017-09-03 20:26] SteveIreland commented on #1547
Interesting request.

If found this opensource plugin that might be able to be integrated in the scenario where a touch screen browser window is available.

https://github.com/szimek/signature_pad

I'm going to take a look at it when I have time to play.

[2017-09-03 20:30] daN4cat commented on #1546
@objecttothis if you go here: http://php.net/manual/en/numberformatter.formatcurrency.php

Somebody from Colombia is saying that php_intl is not totally correct but he gives a solution:

[code]

[2017-09-03 20:32] turtledude01 commented on #1547
The signature pad we use now has a javascript module here: http://topazsystems.com/Software/HTMLDemoJavascript.zip
It would be awesome if we can continue using the signature pad, but I understand if its not possible.
Thanks!

[2017-09-03 22:40] SteveIreland commented on #1539
A pull request was submitted for Work Orders a few minutes ago.  It was based on the Office Menu feature which is now in a feature branch.

[2017-09-03 23:23] odiea commented on #1539
@SteveIreland Could you please check line 470 in database.sql .
Was
INSERT INTO `ospos_grants` (`permission_id`, `person_id`, 'menu_group') VALUES needs ` not ' around menu_group
worked this way
INSERT INTO `ospos_grants` (`permission_id`, `person_id`, `menu_group`) VALUES

[2017-09-03 23:48] SteveIreland commented on #1539
Will do.   Thanks.

[2017-09-04 00:06] SteveIreland commented on #1539
Fixed it.  The same issue is in the backoffice feature so I'll submit a fix for that now.

[2017-09-04 00:16] odiea commented on #1539
Are you gong to have a deleted filter like Items for Sales?

[2017-09-04 00:26] SteveIreland commented on #1543
A pull request has been submitted to correct a typo on the database.sql and tables.sql files.

[2017-09-04 00:44] SteveIreland commented on #1539
I was wondering if anyone would think that would be useful.  If not then I was leaning toward creating a Reportico based report that would maybe group the deletions according to some cancellation reason convention which I hadn't  yet thought through.  Maybe by grouping on the comments and running a count of all cancellations with the same comment and a total on the dollar amounts of the sale.

[2017-09-04 00:57] odiea commented on #1539
Sorry To me that seems like overkill. Maybe just give the option to see deleted Sales In Detailed Reports with the option of undeleting them if necessary..

[2017-09-04 01:03] odiea commented on #1539
On the one I am playing with I removed the ability to delete Sales In takings and kept it in Detailed Sales Report.

[2017-09-04 01:09] SteveIreland commented on #1539
The guy funding my friend's startup asked to see an analysis of lost sales.  So that's why the Reportico approach.  However, since the filter on deleted sales with an option to "undelete" is something you feel will be useful we'll throw that in.  How hard can it be? :wink:

[2017-09-04 01:18] odiea commented on #1539
You could do it your way and just make Comments a mandatory field and if a reason is not placed in it then the delete button doesn't show. Then all you have to do is remove the delete button from the table view.

[2017-09-04 01:24] SteveIreland commented on #1539
On the sales reports I will add a filter for "Work Orders" to the sales type and also add a filter for "Sales Status" so that "Completed", "Suspended", and "Canceled" will be selectable options with "Completed" a the default value.

I think "All" for the sales type should only reflect Sales, Invoices, and Returns.  I don't believe that Quotes and Work Orders should be included in a Sales Report al

[2017-09-04 05:48] ashishkaushik commented on #774
https://www.amazon.in/gp/product/B010Q2IG84/ref=ask_ql_qh_dp_hza

Will this work with OSPOS ?

[2017-09-04 06:06] daN4cat commented on #1546
@SteveIreland I know you are busy with the backoffice feature, but please find the time to fix the migration issue I mentioned above. Otherwise we get stuck to 3.1.1.
Also I hope we can add corrections to en-US translations if any. And any other small fix.

[2017-09-04 06:14] objecttothis commented on #1546
I noticed that en-US doesn't have changes I made in weblate. have those just not been pulled down yet (e.g. localisation should be localization)

[2017-09-04 06:16] objecttothis commented on #1546
it appears PHP intl relies on ICU for it's localization. I'll look into making sure that the most recent version is installed and correcting inaccuracies in their database.

[2017-09-04 10:08] softaculous opened #1550 "Unable to install OSPOS 3.1.0"
Unable to install ospos 3.1.0 on our test server with php 5.6 and mysql version 5.5. It is giving "Your system folder path does not appear to be set correctly. Please open the following file and correct this: index.php" error while accessing {PATH}/{TO}/{Ospos}/public/index.php

Further we found that vendor directory is missing in the package of 3.1.0

Please let us know what is causing this issue

[2017-09-04 11:22] odiea commented on #1550
https://github.com/jekkos/opensourcepos/releases

[2017-09-04 11:34] daN4cat commented on #1546
Good.

WRT en-US please check Weblate. I noticed strange changes of translations by the tool. I ended up changing translations I Github to get what I wanted. So maybe you can do that too and then @jekkos syncs Weblate with what it is in Github.

[2017-09-04 11:35] #1550 closed

[2017-09-04 11:35] daN4cat commented on #1550
And use the long name zip that is the full installation not the source code ones.

[2017-09-04 11:59] daN4cat commented on #1550
Also see #1242

[2017-09-04 12:35] SteveIreland commented on #1546
I noticed that there is now a subfolder of public in the general release named bower_components.  I don't believe that was there in the earlier official releases.   I've removed it and all still seems  okay.  Should it be there?

[2017-09-04 12:47] SteveIreland commented on #1546
I just finished running the upgrade script from a really basic 3.0.2 database and received the following SQL error.  I've encountered it a few times but dismissed it because I just thought I ran something out of sequence (a common occurrence for me).  But since I'm upgrading an unadulterated data set and still got the message I thought I should raise a flag.

[code]

[2017-09-04 12:52] SteveIreland commented on #1546
Same for
[code]

[2017-09-04 14:31] daN4cat commented on #1546
Oh good. I had the same running my upgrade from an old data setup and thought something was wrong in my other scripts.

I'll remove those lines as that stuff was added recently by @objecttothis and thought we missed something.

[2017-09-04 14:32] daN4cat commented on #1546
Are those the only errors?

[2017-09-04 14:34] daN4cat commented on #1546
Bower_components it's just for development not production.

@jekkos something to fix in the script.

[2017-09-04 15:18] jekkos commented on #1546
@objecttothis Currency symbol change might be a jQuery migration issue..

[2017-09-04 15:18] jekkos commented on #1546
quite a couple of things to fix here I see..

[2017-09-04 17:25] objecttothis commented on #1546
@daN4cat the reason why we are getting those errors on adding those lines in the 3.0.2_to_3.1.0 upgrade script is that those changes were made in previous upgrades.  We (I) need to figure out where those features (barcode, etc) were introduced and put them in those upgrade scripts rather than the 3.0.2_3.1.0.  Does that make sense?

[2017-09-04 17:37] daN4cat commented on #1546
Tax migration issue fixed and in master and I removed the clashing db upgrade script issues.
I renamed to be 3.0.2 to 3.1.1. to avoid issue with the other one.

@objecttothis to be honest I'm not sure we missed something as other people upgraded to 3.0.2 with no issue. Also the upgrade from 3.0.2 to 3.1.0 was ok and we could see that.

Are you sure you didn't miss some other step in the upgrade? I

[2017-09-04 17:37] daN4cat commented on #1546
@jekkos with jQuery would influence the currency symbol? Not sureI get that...

[2017-09-04 17:46] objecttothis commented on #1546
@daN4cat I haven't looked at the code but if something was changed and it's not properly handling Unicode characters that would explain why the manat symbol wasn't displaying correctly where it was before in the az locale

[2017-09-04 17:50] objecttothis commented on #1546
@daN4cat I can pull another master from before my changes to the upgrade script and run through the upgrade process again from 2.0.2, but a simple grep search will show whether those keys are added in any other upgrade scripts. another solution would be to change the SQL statement to use the ignore keyword which will just skip adding the key for people who already have it.

[2017-09-04 17:53] daN4cat commented on #1546
Yes, a grep search could do indeed.

[2017-09-04 17:56] daN4cat commented on #1546
Barcode stuff was introduced with 2.3.1_to_2.3.2.sql

[2017-09-04 17:57] objecttothis commented on #1546
thanks. our son is home now. I can work on it in the morning but we can always bump it to 3.2.0 if we need to get 3.1.1 before

[2017-09-04 17:58] daN4cat commented on #1546
fixing....

(glad to know your son is home. Surely he will have a better recovery there then in an hospital)

[2017-09-04 18:28] daN4cat commented on #1546
``record_time` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP, ` was introduced with PR #11

[2017-09-04 18:37] daN4cat commented on #1546
Found and now fixed the barcode and giftcard recordtime in the right upgrade scripts.

[2017-09-04 18:45] saruban commented on #1546
Finally finished?
Waiting for 3.1.1

[2017-09-04 19:34] SteveIreland commented on #1546
Can one ever say that a work of organic art is truly finished?  I think not.

[2017-09-04 20:00] daN4cat commented on #1546
somehow organic sounds to me like implying worms, hope this is not a "can of worms" then :-)

[2017-09-04 21:34] daN4cat commented on #1543
In feature/backoffice branch

[2017-09-04 21:35] daN4cat commented on #1539
In feature/backoffice branch

[2017-09-05 03:21] SteveIreland commented on #1539
Thanks for going ahead and merging it in.  I'll be following it this week with an improvement to the reporting side so that we have the ability to filter on work orders (and the filtering options are actually dependent on how the system is configured).  I also plan on starting the purchasing development

[2017-09-05 12:55] daN4cat commented on #1546
@objecttothis I know it's a big ask given your personal circumstances, but do you think you can work on translating en_US straight on GitHub and give a try to the upgrade process?
It should be all fine (finger crossed) and hopefully we can release 3.1.1 by end of the week.

I would need to check if the traybin zip contains development stuff or not.

[2017-09-05 17:03] jekkos commented on #1546
Changed some of the older jQuery POSTs to work with 2.0. Think mailChimp config was broken as well

[2017-09-05 17:12] jekkos commented on #1546
For my understanding, what is the source of truth now? I see there are still translations pending in weblate. Idea is to remove translations there and add them again using the ospos locale hyphen..

[2017-09-05 17:17] jekkos commented on #1546
{code};
++<<<<<<< 887c8374b650743751f2884d26a6a84f2eb9c367
 +$lang["customers_none_selected"] = "You have not selected any Customer(s) to delete";
 +$lang["customers_one_or_multiple"] = "Customer(s)";
 +$lang["customers_quantity"] = "Quantity";
 +$lang["customers_stats_info"] = "Stats";
 +$lang["customers_successful_adding"] = "You have successfully added Customer";
 +$lang["customers_successful_d

[2017-09-05 18:01] daN4cat commented on #1546
@jekkos the version in Github is the correct one. Weblate is wrong.

[2017-09-05 18:35] objecttothis commented on #1491
So, this redirect had not been working for me.  I finally figured out why.  For some reason the code originally seemed to work, but no longer did on nginx and apache 2.4 builds.  I am submitting a pull request for the corrected code.  If we could have a few people test the corrections.  I also introduced a check to confirm mod rewrite is enabled.

# redirect to public page
<IfModule mod_rewrite.c>

[2017-09-05 18:42] objecttothis commented on #1546
When I go to weblate and click on the en_US Sales translation I get

Request Method: | GET
-- | --
http://weblate.jpeelaer.net/projects/ospos/sales/en_US/
1.9
RepositoryException
fatal: HEAD does not point to a branch (128)
/usr/local/lib/python2.7/dist-packages/weblate/trans/vcs.py in _popen, line 174
/usr/bin/python
2.7.10
['/usr/local/bin',  '/usr/lib/python2.7',  '/usr/lib/python2.7/plat-x86_6

[2017-09-05 18:50] objecttothis commented on #1546
@daN4cat I am getting ready to go to bed, but I should be able to work on it in the morning (GMT+4) and I'd imagine that I can have it done by the end of the week or sooner.  To make sure I understand what we are asking, I need some clarification:
- I completed the translation of en_US on weblate, but left a few phrases marked "needs review" to make sure there were no objections. did the translati

[2017-09-05 19:21] daN4cat commented on #1546
Write the correct translations in Github language/en-US, @jekkos will sync Weblate from that. Good night.

[2017-09-05 19:59] thegm90 opened #1553 "Adding a payment to an invoice?"
Have a customer on a layaway here in the store, they're making payments on an invoice. How do I add another payment when they return to make another payment?

[2017-09-05 20:04] odiea commented on #1553
Currently all you can do is upload your Invoices to a spread sheet and put payments in it.

[2017-09-05 20:28] jekkos commented on #1546
You're getting the error because weblate expects the files to be in en_US and not en-US. Think I will move the ospos version first to en_US, then apply your changes and then change all to en-US in both weblate and git

[2017-09-05 21:03] daN4cat commented on #1546
I removed en_US from master, so that should not be available anymore. Only en-GB and en-US

[2017-09-05 21:06] #1553 closed

[2017-09-05 21:16] daN4cat commented on #1539
feature/backoffice is rebased with latest master

[2017-09-05 22:11] jonathanprieto99 commented on #1014
Can somebody explain in details how to resolve this problem.
I have exactly the same problem when I try to upload the company logo.
Thank you

[2017-09-06 04:33] objecttothis commented on #1546
OK, then today I am working on correcting the en-US translation in Github.

[2017-09-06 05:26] objecttothis opened #1554 "Proposed Translation Guidelines"
### New Feature / Enhancement

I've noticed there are several inconsistencies in translation style in the en-US translation. While not all guidelines will apply straight to all languages, I'd like to propose a few "Translation Guidelines" to be used and recommended for all translations.  Please feel free to modify, discuss or shoot down:

- Titles follow capitalization rules for title format.  Tha

[2017-09-06 05:31] daN4cat commented on #1014
Is that with docker image?

[2017-09-06 06:17] sanubari97 opened #1555 "Importing success but not all Items"
### IMPORTANT IMPORTANT IMPORTANT

1. Chose what you want to report between the sections "New Feature / Enhancement" and "Issue / Question / Bug".
2. Remove just the one of the two sections you don't need
3. Remove this section as it's just a guideline
4. Fill in all the details as requested by the section you chose

If you remove the complete template when submitting a Bug your issue will be clos

[2017-09-06 06:19] sanubari97 commented on #1555
I have only 298 rows shown from 328 rows.

[2017-09-06 06:32] sanubari97 commented on #1555
and how can I delete Items completely from myphpadmin directly ? I can delete them without foreign key enabled. is that ok ?

[2017-09-06 07:34] jekkos commented on #1546
@objecttothis  so I can completely discard all pending changes in weblate then? Otherwise you'll  have to wait for me to sync once again and you can proceed?

[2017-09-06 07:35] sanubari97 commented on #1555
I managed to upload all the items by submit the csv again and again until there is error message about " most the items imported but some no.."

Then I check the database all items have been imported , when I checked the program items are shown except this two items are missing from the list (but the data is there on database). What happen ?

[2017-09-06 08:00] sanubari97 commented on #1555
I think the file is not imported properly, the quantity of the related items do not stored in database.
I have to truncate items tables and start over importing, this time I click submit until it show a dialog error and all of the items imported successfuly

[2017-09-06 08:00] #1555 closed

[2017-09-06 08:55] objecttothis commented on #1546
I already did the translation in weblate so if you could transfer everything from the weblate translation to en-US in GitHub that would save me a lot of time.

[2017-09-06 09:19] Alaa-23 opened #1556 "Item Kits to have their own prices"
### New Feature / Enhancement

*For New Features or Enhancements please clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for older versions.*

**First, I want to thank you guys for your efforts and great work.
Se

[2017-09-06 10:02] SteveIreland commented on #1556
When you define an item kit you can create a item that represents the kit and point the kit to that item. That is how to set the price for the kit

See the wiki for more info

[2017-09-06 10:17] SteveIreland commented on #1539
Thanks. I should have the next wave of changes submitted tonight (after I've reviewed my language elements for conformance to the new rules of behavior)

[2017-09-06 10:58] objecttothis commented on #1546
OK, I just pulled the current master and installed two instances side-by-side.  One has a clean database using the database.sql and the other has my database upgraded by running each of the scripts in order.  I am happy to say that the two database structures are identical and the key names in ospos_app_config are identical.  Someone needs to test 3.0.2_to_3.1.1.sql in the current master against t

[2017-09-06 11:22] objecttothis commented on #1546
Azerbaijani does not appear in the drop-down for language under localization in App Config

[2017-09-06 11:30] objecttothis commented on #1546
The localization currency symbol for az is currently still broken.
![az](https://user-images.githubusercontent.com/17935339/30109617-0dc6b140-9318-11e7-8b8f-ccc51a32c1bb.JPG)
However az-AZ and az_AZ are the correct symbol now.
![az-az](https://user-images.githubusercontent.com/17935339/30109616-0dc5c078-9318-11e7-80be-84cbc1df0591.JPG)

@jekkos thanks for whatever you did.  Any idea why the symbol

[2017-09-06 11:40] jekkos commented on #1546
could be an encoding issue along the way, not sure what encoding the http reply for this token is using exaclty.. also the doctype specifies utf-8 I suppose so don't know if this token is included

information on left or right is taken from php intl, from which I assumed things would be correct.. maybe search the net for similar bug reports there.. there used to be an option to set the symbol on e

[2017-09-06 11:42] jekkos commented on #1546
Regarding weblate the translations there went in merge conflict which I need to resolve without some of my beloved textmode tools in a docker container commandline

[2017-09-06 11:44] objecttothis commented on #1546
@jekkos, then do you want me to wait until you do that and pull down to github, or do you want me to proceed with working on the translation of en_US on github.  I'm ok if you do, but I wanted to wait to hear from you rather than do the work and have it overwritten.

[2017-09-06 11:48] jekkos commented on #1546
The weblate version of en_US is back in en_US next to en-US (which contains the github version)..

[2017-09-06 11:48] jekkos commented on #1546
So but then I guess en_US will contain latest and can overwrite en-US? in that case I need to adapt the mapping in weblate to refer to translations in en-US folder as those are the ones currently used

[2017-09-06 11:51] SteveIreland opened #1557 "Backup no longer works"
### Issue / Question / Bug

In commit bc048841902316752396ab60a5225088afa492 on August 5th a blank line was added prior to the start of the code and this is triggering a failure when clicking on the backup button.

[code]

[2017-09-06 12:03] objecttothis commented on #1546
This is a little confusing for me.  My understanding is that we settled on en-US being the format that we would use and that en-US would be the source language.  Is there a way in weblate to change en_US to en-US and make that the source, then once that is done bring en-US down to github en-US?

[2017-09-06 12:05] objecttothis commented on #1546
in the interest of getting 3.1.1 out, my vote is to punt on the currency symbol showing on the correct side in the az-AZ, az_AZ and az locales.  That way we can focus on getting the bigger issues resolved.

[2017-09-06 12:05] daN4cat commented on #1546
Now GitHub en_US needs to override en-US and then remap Weblate to en-US

[2017-09-06 12:06] daN4cat commented on #1546
And delete GitHub en_US (yet again)

[2017-09-06 12:07] daN4cat commented on #1546
@jekkos would you do that or shall I do the shift in Github this eve and then you fix Weblate?

[2017-09-06 12:07] objecttothis commented on #1546
ok, let me know when it's done and I will check the translation of en-US on weblate so we can get this bad boy out the door.

[2017-09-06 12:48] SteveIreland commented on #1557
I removed the blank line in my"in production" code and the backup started working again.  I can submit a pull request for the fix in about 12 hours if no one wants to jump on it earlier.

[2017-09-06 13:04] jekkos commented on #1546
Ok do it in github already. I'll pull those changes back into weblate and then adapt the config to use en-US

[2017-09-06 16:59] daN4cat commented on #1546
Guys, there is no difference between en_US and en-US translations. Something is weird with Weblate or the correct translations are somewhere else.
@jekkos any clue?

[2017-09-06 17:27] daN4cat commented on #1557
Fixed and in master. Thanks for the bug report.

[2017-09-06 17:27] #1557 closed

[2017-09-06 17:56] daN4cat commented on #1546
@jekkos I submitted few more fixes to en-GB in Github. Sorry for the pain but I find the inverted process quicker as the Weblate to Github propagation time is a bit too long at the moment.

[2017-09-06 20:39] marcvasquez opened #1558 "Issue / Question - Unable to Add Item to Sale after CSV Import"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
-

[2017-09-06 20:49] daN4cat commented on #1558
@marcvasquez could you please share one csv file example that you know doesn't work?
Thanks in advance for the help.

[2017-09-06 20:50] daN4cat commented on #1558
I need a means to securely reproduce the bug in order to investigate and fix.

[2017-09-06 20:51] #1556 closed

[2017-09-06 20:53] marcvasquez commented on #1558
Sure. Should I attach here or do you prefer a dropbox or Google drive link?

[2017-09-06 21:06] daN4cat commented on #1558
Please attach here. Thanks

[2017-09-06 21:09] marcvasquez commented on #1558
[Sixth.xlsx](https://github.com/jekkos/opensourcepos/files/1282686/Sixth.xlsx)
It won't upload as CSV but that's one of the workbooks and I just saved as CSV then uploaded. Thanks!

[2017-09-06 22:25] asakpke commented on #774
@ashishkaushik It should work on following OS as mentioned at your given link, you just need drivers and some printer settings.
Operating System: win 2000, win 2003, win XP, win vista, win 7, win 8, win 10, Linux

[2017-09-07 02:35] SteveIreland commented on #1539
I tried to rebase on to the feature branch but there were errors that I just didn't understand so I spent the evening rebuilding a new branch that is based on the feature/branch.

I need a little more time to rebuild a test environment from the feature branch, apply my changes and make sure everything still works before submitting a pull request for it.

[2017-09-07 03:43] sanubari97 opened #1559 "Receipt Max Item Name Length"
### IMPORTANT IMPORTANT IMPORTANT

1. Chose what you want to report between the sections "New Feature / Enhancement" and "Issue / Question / Bug".
2. Remove just the one of the two sections you don't need
3. Remove this section as it's just a guideline
4. Fill in all the details as requested by the section you chose

If you remove the complete template when submitting a Bug your issue will be clos

[2017-09-07 03:45] sanubari97 commented on #1559
How can I limit the lenght of Items name in the printed receipt ? cause I have items that have long name and the paper size is limited.

[2017-09-07 05:26] #1559 closed

[2017-09-07 11:25] objecttothis commented on #1492
FINALLY!  If php.ini contains `suhosin.cookie.encrypt = On` then CSRF will fail. There are two ways to resolve this. Either comment that line out (unsafe) or add the line `suhosin.cookie.plainlist = csrf_cookie_ospos_v3` (safe)

This should be added to a FAQ, wiki or troubleshooting guide as anyone with suhosin running is liable to run into this and `suhosin.simulation = On` does not make the prob

[2017-09-07 11:37] objecttothis commented on #1546
@daN4cat @jekkos ok, I will finish the translation of en_US today in github and submit the pull request

[2017-09-07 13:55] objecttothis commented on #1546
I just finished and submitted the pull request for the en-US on github.  When merging and then subsequently fixing weblate please be careful not to overwrite the github translation with weblate.

[2017-09-07 13:55] objecttothis commented on #1546
What else is needed to release 3.1.1?

[2017-09-07 14:57] marcvasquez commented on #1558
As an interesting side test, I am able to receive inventory against the part #s that were imported, and when I go and view an item after receiving it does show the new qty, but still is unable to add to a sale.
Not sure if that helps at all

[2017-09-07 15:06] marcvasquez commented on #1558
Further testing - I tried creating a new item from the New Item field and that too is not allowing me to add it to the sale.  Only items I manually created before the import work, now nothing import or new is working in the sale. Thanks!

[2017-09-07 15:22] marcvasquez commented on #1558
Further investigation - I think one of the file imports is causing the issue.  Started a new Ubuntu VM, installed docker and launched.  I have a total of 6 csv files.  Imported 3 of them, testing a sale item after each, found that after Third.csv I am no longer able to add items to sales, including previously imported and successful items.
[Third.xlsx](https://github.com/jekkos/opensourcepos/files

[2017-09-07 15:35] marcvasquez commented on #1558
Sorry for so many posts but I am trying to do as much trouble shooting as possible.. looks like files 1 and 3 are my culprits.  Was able to import the other 4 without a problem, but once either one of these is loaded it causes the sale function to break. Any help is greatly appreciated. Here is the other file in question.

[First.xlsx](https://github.com/jekkos/opensourcepos/files/1285256/First.xl

[2017-09-07 20:47] daN4cat commented on #1546
I merged the translations and amended en-GB accordingly since I noticed that there were few sentences that didn't make full sense (spotted thanks to @objecttothis changes).

[2017-09-07 20:54] daN4cat commented on #1558
@marcvasquez probably you need to set a location in your cvs file, that could be the root cause of your issue.

[2017-09-07 20:57] daN4cat commented on #1539
@SteveIreland don't know, but you'd better take the latest since I rebased again with latest master.

[2017-09-07 21:07] daN4cat commented on #1492
Added to FAQ and committed to master. This can be closed now.

[2017-09-07 21:07] #1492 closed

[2017-09-07 21:08] daN4cat commented on #1546
With regards to release 3.1.1, I just need to wait for the csv issue to be cleared.

[2017-09-07 21:08] marcvasquez commented on #1558
Thank you - will try and see what happens!

[2017-09-07 21:11] daN4cat commented on #1546
If no further, then I can release 3.1.1 on Saturday.

[2017-09-08 00:06] SteveIreland commented on #1539
ack ... ack ... ack

I was testing, debugging it and finalizing it and then submitted the pull request before I saw that  you moved my cheese.

[2017-09-08 00:08] SteveIreland commented on #1539
I'll go ahead and  catch it back up and resubmit it.

[2017-09-08 01:27] SteveIreland commented on #1539
I think I've rebased it correctly ...it's hard for me to tell. Since it has a big red X on it I have to assume something about it isn't right.  I'll just update the wiki and wait on you to tell me where the pull request stands.

[2017-09-08 03:08] sanubari97 opened #1562 "Displaying Price in Sale Search Box"
### IMPORTANT IMPORTANT IMPORTANT

1. Chose what you want to report between the sections "New Feature / Enhancement" and "Issue / Question / Bug".
2. Remove just the one of the two sections you don't need
3. Remove this section as it's just a guideline
4. Fill in all the details as requested by the section you chose

If you remove the complete template when submitting a Bug your issue will be clos

[2017-09-08 03:17] sanubari97 commented on #1562
How can I display the price information in "Find/Scan Item OR Receipt" box ? where should add the codes ? It would be nice if it displayed. Sometimes the customer asking the product price first although we have a price tag on the desk, especially for old people customer who cant read very well.

![untitled](https://user-images.githubusercontent.com/30258590/30194564-9554d712-9486-11e7-9438-7f00924

[2017-09-08 04:11] daN4cat commented on #1562
You normally go to items and search for the item and price.

[2017-09-08 05:35] sanubari97 commented on #1562
I know but that is not convenient, they need to be quick and ready..

[2017-09-08 07:21] jekkos commented on #1492
Ok great, thanks for sorting this out!

[2017-09-08 08:55] sanubari97 opened #1563 "The Cost Price is not updated"
### IMPORTANT IMPORTANT IMPORTANT

1. Chose what you want to report between the sections "New Feature / Enhancement" and "Issue / Question / Bug".
2. Remove just the one of the two sections you don't need
3. Remove this section as it's just a guideline
4. Fill in all the details as requested by the section you chose

If you remove the complete template when submitting a Bug your issue will be clos

[2017-09-08 09:01] sanubari97 commented on #1563
Is this normal ?
the cost price is not updated after input receivings with higher or lower cost price. I have to change it manually again in Items.

[2017-09-08 10:57] objecttothis opened #1564 "Currency Symbol Prepend or Postpend"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
-

[2017-09-08 11:22] odiea commented on #1563
Yes. Cost price in Receivings does need some work. Currently it does nothing.

[2017-09-08 11:24] daN4cat commented on #1564
Try en_GB (£) and then Spain or France code to get (€). The former if prepend, the latter Postpend. If they work there is no general issue.

[2017-09-08 11:57] objecttothis commented on #1564
You're correct.  This means that the data that numberformatter is giving is incorrect.  I'll look into seeing what the deal is with ICU and why it's causing problems.

[2017-09-08 12:10] daN4cat commented on #1564
I already pointed you to a page where somebody from Colombia forced the currency to what they wanted. So it's a matter to try that trick and add it in the OSPOS configuration page.

[2017-09-08 12:12] objecttothis commented on #1564
Yes, and that would be a suitable workaround, but rather than code around bugs, I much prefer to correct the bugs.  If I'm unable to get the appropriate databases updated then I will go that route.

[2017-09-08 12:53] tenkodoy commented on #1546
What about addition of expiry dates and expiry notifications?

[2017-09-08 13:08] tenkodoy opened #1565 "Expiry Dates"
@daN4cat @odiea
I'm operating a little drug store and the need for me to add expiry dates and notifications have become necessary. If someone can give me brief tutorials maybe I can work it out myself if not I probably would have to make some donations so it could be done for me. Thank you!

[2017-09-08 13:17] odiea commented on #1565
Currently everyone is busy getting this current version out. You may have to find someone to set that up for you then donate it back to OSPOS would be great.

[2017-09-08 13:32] tenkodoy commented on #1565
@odiea Ok I hear. Do you have any contributor in mind that could help with this

[2017-09-08 17:10] daN4cat commented on #1565
Discussed in #1137 and duplicate of #1426, #1215.

I can see that both people asked questions and nobody ever contributed anything.

[2017-09-08 17:13] #1565 closed

[2017-09-08 17:14] daN4cat commented on #1546
@tenkoboy if somebody wants to contribute it it will be for 3.2.0

[2017-09-08 17:15] daN4cat commented on #1510
I close this one

[2017-09-08 17:15] #1510 closed

[2017-09-08 17:16] daN4cat commented on #1558
@marcvasquez can you please give me an update? I believe the issue was the missing location.

[2017-09-08 17:17] #1537 closed

[2017-09-08 17:17] #1538 closed

[2017-09-08 17:19] daN4cat commented on #1486
@objecttothis if you don't mind I will remove the personal messages, hope your son is recovering.

[2017-09-08 17:23] daN4cat commented on #971
@SteveIreland I understand we will park this one. If somebody else fancies this integration, please let us know.

[2017-09-08 17:24] daN4cat commented on #682
@SteveIreland in you new status of Sales, the delete or cancellation should cover this, correct?

[2017-09-08 17:25] daN4cat commented on #382
@SteveIreland and maybe this access control can be added too?

[2017-09-08 17:28] daN4cat commented on #1501
@ajaykumarji how are you getting on with this Expenses code and etc.? Some progress?

[2017-09-08 17:29] daN4cat commented on #1563
Duplicate of #544

[2017-09-08 17:30] daN4cat commented on #544
@bkrajendra have you ever progressed this? Willing to contribute?

[2017-09-08 17:30] #1563 closed

[2017-09-08 17:31] daN4cat commented on #1564
Sure, it was just a way to fix whilst waiting. So I put on pending this issue and assign to you.

[2017-09-08 17:42] objecttothis commented on #1486
nope, don't mind.  He is doing well.  Thank you.

[2017-09-08 18:20] objecttothis opened #1566 "Question about adding language line"
### Question

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
- [x] I read th

[2017-09-08 20:09] jekkos commented on #1566
Well it should be enough to add it in the source language (which is not en-US now) .. unless you have translations for other languages then it's ok to leave them empty and eventually I will sync the others using a script I have..

[2017-09-08 20:13] jekkos commented on #1506
Should be fairly easy using javascript, check the code for the delete logic which contains some kind of highlighting animation as well.

also think bootstrap tables might have something builtin to do that. Just check their api / docs

[2017-09-08 20:13] #1506 closed

[2017-09-08 20:14] jekkos commented on #1546
Weblate seems quite dead atm, after removing source language folder it surely needs some love..

[2017-09-08 20:31] SteveIreland commented on #682
Yes.  The new canceled status should be updating the tables correctly.  I'll retest to confirm that I didn't overlook anything.  I also want to add the ability to "undelete" a sale.  In this scenario I actually expect to handle it by "Suspending" the canceled sale and that way we can adjust the sale before completing it again.

[2017-09-08 20:33] SteveIreland commented on #382
I should be able to do that.  Securing it is a good idea.

[2017-09-08 20:37] SteveIreland commented on #971
Agreed.  I stubbed my toe on this one when I realized that the SimpleAPI module that I was going to take advantage of hadn't been kept up with the FrontAccounting releases.  I was going to revisit after I finished up the purchasing module and we have a debt management module.

[2017-09-08 20:46] daN4cat commented on #1506
maybe @bill-goldberg you could make a contribution one day as it will be appreciated seeing the number of questions and help we gave. Not to mention the whole open source code for free.... what do you think?

[2017-09-08 21:19] daN4cat commented on #1539
What's left of this task outside the merging to master and the tasks I highlighted earlier?

[2017-09-08 21:21] daN4cat commented on #1566
Question answered?

[2017-09-08 21:22] daN4cat commented on #1554
Probably this is fine now, agree?

[2017-09-08 21:25] #897 closed

[2017-09-08 21:27] #881 closed

[2017-09-08 22:06] jekkos commented on #1566
Btw I'm upgrading to latest weblate version, migrating the whole thing on the way.. fingers crossed hope to have something up and running soon

[2017-09-08 22:25] SteveIreland commented on #1539
After I make those two changes this weekend and doing a bit more testing I plan on installing into production. So I think that should be the end of the work order story

[2017-09-08 22:27] SteveIreland commented on #682
And the ability to cancel or deactivate a sale will be restricted by permission grants

[2017-09-09 04:36] sanubari97 commented on #544
and please add Value Added Tax (VAT).

[2017-09-09 05:18] daN4cat commented on #1539
Ok good and thanks again for the contribution

[2017-09-09 06:13] sanubari97 commented on #1546
how can i correct/contribute translation for my language ?

[2017-09-09 06:16] objecttothis commented on #1546
once @jekkos gets weblate back up and running you will be able to sign up for an account there and contribute.

[2017-09-09 06:29] objecttothis commented on #1566
@jekkos, you said the source language is not en-US now... did you mean that it IS en-US now? If I understand correctly I should add the string in the source language and then add the string in all other languages with an empty "". If that is right then we can close this as I understand everything.

[2017-09-09 06:49] objecttothis opened #1568 "Open source point of sale website"
This is just a thought but I would be glad to donate hosting space on my shared server if someone has or wants to pick up a domain name for open source POS. GitHub is fairly good so it's not a big deal, but having a domain name and server space would be attracting more users, which would attract more contributors and donations toward the project (paying for the domain, SSL cert if needed, etc), ha

[2017-09-09 07:04] objecttothis opened #1569 "Link to weblate"
Would it be ok to put a link to weblate and a blurb about contributing to the translation into the readme? That would reduce questions about how to contribute to translation. I can submit the pull request but wanted to first make sure it's be ok.

[2017-09-09 07:36] daN4cat commented on #1569
Yes, good idea.

[2017-09-09 07:45] daN4cat commented on #1568
Not sure I fully follow the proposal.
Are you suggesting to host the code and a demo (+weblate and email)?
Or are you suggesting to have a server offering OSPOS as SaaS in multi tenant mode (e.g. selling the installation via subdomain to the main domain)?

The latter could be achieved deploying on AWS and I can work on the architecture for that as it won't be too difficult. Also if we go for RDS/A

[2017-09-09 07:48] daN4cat commented on #1566
He was referring to Weblate, not GitHub. But I assume he fixed that last night during the upgrade?

[2017-09-09 07:52] objecttothis commented on #1568
no, I was suggesting a simple face (website) to opensourcepos that allowed space for a demo, ospos specific email, weblate and links to github, donations, download, etc. I wasn't thinking to host the code as GitHub does great at that and SaaS would potentially be a lot of work. Also I think it might violate the ToS on the shared hosting I have.

[2017-09-09 07:54] objecttothis commented on #1566
meaning I add the string in the source language on weblate and it propitiated to the other languages automatically?

[2017-09-09 08:10] daN4cat commented on #1568
SaaS solution would need an AWS (cloud) deployment. Not something for a shared hosting.
BTW, I would not recommend using a shared hosting for that.
I personally have a VPS for my wife's business to free from all the shared hosting nightmare (other tenants doing wrong things slowing down your node, etc.).
And having a demo running will face quite some hits impacting the rest of your applications.

[2017-09-09 08:18] daN4cat commented on #1554
This is now part of the wiki page dedicated to Translations: https://github.com/jekkos/opensourcepos/wiki/Adding-translations

[2017-09-09 08:18] #1554 closed

[2017-09-09 08:24] daN4cat commented on #1566
So all languages in translation should be like en-GB, en-US, etc.

[2017-09-09 08:27] daN4cat commented on #1566
Weblate should show you an empty translation in your language when something is added to en-US.

The agreement is to use en-US as seed language. The rest of the group upgrades the other languages.
The annoying thing for me now is that to keep up to date en-GB I need to go through Weblate even if I develop my own feature.... and that bother me a bit :-(

[2017-09-09 08:37] daN4cat commented on #1569
This is done and it will be commit to master with the rest of the 3.1.1 release notes. So I close.

[2017-09-09 08:37] #1569 closed

[2017-09-09 08:39] #1558 closed

[2017-09-09 08:42] daN4cat commented on #1546
@sanubari97 I'm going to release 3.1.1. Your translations will be part of 3.2.0.
However when they are move from Weblate to GitHub you can just take those files and manually upgrade 3.1.1, it will not break anything because 3.2.0 just adds more translations.

[2017-09-09 08:53] daN4cat commented on #1546
Once the build in bintray is ready I will add it and release 3.1.1

[2017-09-09 08:54] daN4cat commented on #682
sounds great @SteveIreland. Thanks!

[2017-09-09 09:06] daN4cat commented on #1546
OK, 3.1.1 is now released.

[2017-09-09 09:06] #1546 closed

[2017-09-09 09:33] daN4cat commented on #1539
@SteveIreland all is in master now.

Please note that the database upgrade scripts are now in one called 3.1.1_to_3.2.0.sql as master is now 3.2.0 version (and WIP).

[2017-09-09 12:32] SteveIreland commented on #1539
Okay. Thanks!

[2017-09-09 14:01] gargdhruv opened #1570 "can i send receipt via sms to customer on phone instead of emailing it to them"
### IMPORTANT IMPORTANT IMPORTANT

1. Chose what you want to report between the sections " Question ".
2. Remove just the one of the two sections you don't need
3. Remove this section as it's just a guideline
4. Fill in all the details as requested by the section you chose

If you remove the complete template when submitting a Bug your issue will be closed as we cannot help without basic informati

[2017-09-09 14:25] objecttothis commented on #1530
I ended up migrating location to one of my custom fields so that when the stock migration came it didn't cause problems with not being able to find product.

[2017-09-09 14:25] objecttothis commented on #1530
this can be closed

[2017-09-09 14:26] daN4cat commented on #1440
Done and in master.

[2017-09-09 14:37] #1530 closed

[2017-09-09 14:38] daN4cat commented on #1570
Yes you can, you just need to implement the feature and hopefully you will contribute it back.

[2017-09-09 14:41] daN4cat commented on #1535
@jekkos please look into this as it's bugging me every day I reopen my laptop because the login window was from the previous day. At Login time the token needs to be refreshed before posting it.

[2017-09-09 14:44] daN4cat commented on #1433
This will be a bit of work.... I can already see it. Time for some fuuuuuuuuunnnnnnnnnnnnn :-)

[2017-09-09 14:55] objecttothis commented on #1568
Yeah, I don't think we should try to implement SaaS... We wouldn't necessarily need to have a demo running... it could just be a feature list and some screenshots.  It's just an offer to host it for free.  We would just need a domain name to point at it.

[2017-09-09 15:16] daN4cat commented on #1568
Fully appreciated, I just wanted to avoid loading your host. Let see what @jekkos thinks about it.
It's something we discussed in the past to have a domain and etc.

[2017-09-09 15:32] daN4cat commented on #1539
@SteveIreland reports_ language is missing some entries, e.g. Sale Type -> reports_complete. The drop down shows (TBD)

[2017-09-09 15:43] jekkos commented on #1568
Indeed I fully agree, a mini website with a quick overview of the features we have can make a huge difference and will indeed give the project more traction. I once planned to launch something that using simple jekyll templating and host it on github as you propose.

Also I've been thinking on this saas offering as well, one could easily scale using container orchestration with Kubernetes or Docke

[2017-09-09 15:57] jekkos commented on #1568
Also maybe I'd want to transfer the project on github to an organization name.. think that'll give a better overall impression on what we're doing here?

[2017-09-09 16:39] daN4cat commented on #1568
Setup a full K8 story takes time. And I would not recommend sharing the same database but having separate schema. You don't want to risk compromising the whole database for something wrong with one tenant.

Anyway, this is going to far. And indeed little time for this from my side too.

On having an org story for GitHub would probably make sense.

[2017-09-09 16:45] jekkos commented on #1568
Any opinions on which name for the organisation? Currenlty in we use ospos most of the time so maybe we can stick with that?
Same question for the domain name.
Seems thats ospos.com and opensourcepos.com are already taken
I would suggest to use .net or .org, but then ospos or opensourcepos?

[2017-09-09 17:04] SteveIreland commented on #1568
Grab opensourcepos.net if you can.

[2017-09-09 17:14] objecttothis commented on #1568
I don't have strong feelings about which domain. I'll send the DNS server names to point it at.

[2017-09-09 17:24] objecttothis commented on #1568
NS1.ARVIXESHARED.COM

NS2.ARVIXESHARED.COM

those are the DNS servers. once I know the name of the name I will set it up and setup an SFTP login for whoever is needing it. I can also setup any email addresses needed and databases for weblate or whatnot

[2017-09-09 17:39] daN4cat commented on #1568
.org as it's an opensource and no profit

[2017-09-09 17:40] daN4cat commented on #1568
ospos.org is gone. opensourcepos.org might be free

[2017-09-09 17:41] objecttothis commented on #1568
agreed that .org is more representative of the type of project

[2017-09-09 17:44] objecttothis commented on #1568
I'm showing opensourcepos.org is available

[2017-09-09 18:58] jekkos commented on #1568
Ok will take that one then

[2017-09-09 19:15] jekkos commented on #1568
Ok domain registered, pointing to the nameservers you suggested, I'll try to see if I can make it refer to this repository

[2017-09-09 23:15] SteveIreland commented on #1539
Those have been added and a pull request has been submitted for the changes.

[2017-09-09 23:40] SteveIreland commented on #1479
Not a lot different.

I don't see anyone adding new requirements to the wiki so I'm assuming it's reasonably stable at the moment.  I'm going to proceed with working on it.

[2017-09-10 01:26] SteveIreland commented on #1479
Unless someone has a different thought I'm reserving the truck.png and renaming it as purchasing.png to be the icon for purchasing.  My thought was "having stuff delivered".  Since I don't expect OSPOS to ever be doing distribution management I thought it would be a safe use of the icon.

[2017-09-10 06:04] halssahal commented on #920
I will install on local, but like this. Please help for just getting started

Your system folder path does not appear to be set correctly. Please open the following file and correct this: index.php

[2017-09-10 08:14] daN4cat commented on #1539
I merged. However I have the following observations:

- I don't see a means to get deleted sales listed. Details sales doesn't show anything even because the drop down menu has Completed Sales & Returns, Completed Sales and Returns (are the Returns completed or no?)
- The delete button on the pop up dialog box should be removed if the user has no rights to cancel the sale

[2017-09-10 08:20] daN4cat commented on #1543
@SteveIreland I need to reopen this issue because there is some odd behaviour.
I removed the delete permission to a user for testing purposes and saved the user.
Result was that Gift Card was in Office and Employees disappeared from both views. Of course there was no means to reinstate Employees because I change the delete option to admin account. So I was forced to fix it in the database itself.

[2017-09-10 08:22] daN4cat commented on #1433
I gave a try to ciportico yesterday but it's not ideal, there would be some work to get things done properly. I prefer to wait for the new reportico architecture with composer installation and then start from there.
I would double the work to fix ciportico and then move to new reportico architecture composer based.

[2017-09-10 08:51] daN4cat commented on #1479
Icon is fine and I added my comments.

However if I get right this is purely purchase order and supplier confirmation up to receiving point.
There is no supplier's invoice life cycle management, which means get the invoice, set payment terms and conditions, close with a payment.

I see the purchasing as a complete story, from procurement to finance.

[2017-09-10 08:57] daN4cat commented on #1543
Other point, what should be the behaviour of the OSPOS on the left when you click on it and you are in Office view?

Currently it always switches to home. Should it be like that or should it go to Home or Office according to the current top bar context?

[2017-09-10 09:10] daN4cat commented on #1543
@SteveIreland I found how to create the problem, at least this happened twice to me.
Go to the user permission, uncheck Allow Delete and save. You get Gift Card in Office view and no Employees in either view anymore.

[2017-09-10 10:55] SteveIreland commented on #1543
I'll figure this out today. I had something similar happen to me while I was working on purchasing and I assumed I pushed something I shouldn't have. But now that you experienced the problem I have a pretty good idea of where the bug is

[2017-09-10 11:06] SteveIreland commented on #1433
I can wait. Thanks for looking in to this

[2017-09-10 13:34] daN4cat commented on #1254
Addressed by #1539

[2017-09-10 13:34] #1254 closed

[2017-09-10 13:38] daN4cat commented on #204
Delete and permission addressed by #1539

I'm not sure how much more we need of this. Moreover @gabrielperezs we never heard back from you, so not sure what you implemented or not.

[2017-09-10 15:23] SteveIreland commented on #1543
A pull request has been submitted to fix this

[2017-09-10 15:26] SteveIreland commented on #1543
Regarding your earlier question I don't have a strong opinion but I would lean toward it retuning the user to the home page

[2017-09-10 15:47] SteveIreland commented on #1539
When you display the drop-down list for Sales Type, canceled should be one of the options.  Are you not seeing this - or do I misunderstand the issue?

![image](https://user-images.githubusercontent.com/23066623/30250479-242277f0-961d-11e7-89c7-3038e2346c9b.png)

Also,I agree with you on the disabled options.  I mentioned that earlier and that the issue was that I was spending a lot of time trying

[2017-09-10 15:58] daN4cat commented on #1543
Merge the PR, with regards to the second point let's leave it as it is then.

[2017-09-10 16:00] daN4cat commented on #1539
@SteveIreland no I don't see Sale Type -> Cancelled.

[2017-09-10 16:05] objecttothis commented on #1568
I created the addon domain opensourcepos.org and setup the ftp account as well as a webmaster email account.  I can also create any other emails and databases that are needed. I don't know who needs the ftp login information but I'd like to send that information by a more secure/private method than here.  Also @jekkos a whois lookup is showing me that the nameservers are not yet pointed at the nam

[2017-09-10 16:07] daN4cat commented on #1539
I've checked the code and that option is only active if invoice and work order are active:

[code]

I would say that needs to be valid in any case not only for invoices nor for work order

[2017-09-10 16:11] daN4cat commented on #1543
The commit fixed the issue. I close and thanks for the work done so far.

[2017-09-10 16:12] SteveIreland commented on #1539
Good catch.  I obviously have not done a thorough job of testing this in various scenarios.  It's all about my world you know.  :-)

I'll make that correction immediately after lunch!

[2017-09-10 16:13] daN4cat commented on #1539
Good. It should be trivial. Also are you considering a Takings filter option to display cancelled sales?

[2017-09-10 16:18] daN4cat commented on #1568
@objecttothis a static page is zero maintenance from a security perspective. Any CMS like Drupal, Joomla, Wordpress get constant security patches and they can be open to attacks.

Give the nature of what you probably want to add a 1 scrolling page could do. At least as a starting point. There are a number of free 1 scrolling pages.

[2017-09-10 16:26] daN4cat commented on #1440
Tested both conditions and works as expected.

[2017-09-10 16:26] #1440 closed

[2017-09-10 17:00] SteveIreland commented on #1539
A pull request for the missing Cancel option has been submitted.

[2017-09-10 17:12] SteveIreland commented on #1539
@daN4cat I wasn't planning on adding the filter there but that would make sense.  Should that be done now or can it wait until I figure out how to relabel the "Delete" button to "Suspend" when the "Canceled" filter is selected?

[2017-09-10 17:14] daN4cat commented on #1539
When you like, it was the extra suggestion. You may want to consider in general what else you want to add to those filters given the new feature.

[2017-09-10 17:14] objecttothis commented on #1568
Sounds good.  Am I right to assume that it would be best to match the "flatly" theme that ospos uses by default?

[2017-09-10 17:31] SteveIreland commented on #1539
Will do.  I'm going to need to take the time to figure that all out as part of the purchasing development so this will definitely be revisited.

[2017-09-10 17:36] beinafuushop commented on #1539
Hello Team,

once you are done with development,please let us know and we will start
testing.

On Sep 10, 2017 8:31 PM, "Steve Ireland" <notifications@github.com> wrote:

[2017-09-10 21:04] SteveIreland opened #1576 "Odd issue related to Migration"
### Issue / Question / Bug

Just installed OSPOS  3.2.0 - 4f5ad57.

It looked like the migration attempted to "kick off" and failed with an invalid index named tax_decimal (which seems like a really odd message which didn't make any sense to me) so it dumped a lot of errors to the screen.

I resolved the issue by immediately deleting /application/migrations/20170502221506_sales_tax_data.php

Since

[2017-09-10 21:22] daN4cat commented on #1576
No, what I changed was to hide the button if there is no need for a migration. Outside that, there is no automatic kick off, you need to click the button.

I'm constantly doing it because I'm going through some upgrade drills of a current live database so I know you need to explicitly push that button to get things finalised.

[2017-09-10 21:22] daN4cat commented on #1576
I never bumped into the error you described.

[2017-09-10 21:43] SteveIreland commented on #1576
I will try to recreate the issue next weekend

[2017-09-11 03:08] SteveIreland commented on #204
There are also some nice ideas here that need to be incorporated into the purchasing work #1479

[2017-09-11 03:47] SteveIreland commented on #1539
I just noticed (in a production site) that I could not  update a sale.  It's not something they do very often so it's not a crisis, but I'm going to submit a pull request to fix this issue.  I was trying to update the comment on a canceled sale.

[2017-09-11 04:27] sanubari97 commented on #1546
how to upgrade from 3.1.1?

[2017-09-11 06:16] daN4cat commented on #1546
There is no need for db upgrade from 3.1.0 to 3.1.1.
Just upgrade the code using the long name zip file.

[2017-09-11 06:25] bkrajendra commented on #544
Sorry @daN4cat , but I never got time latter to work on this. I dont think its a standard way.
It really need a dedicated time to seriously complete this functionality of receiving/purchase module.
This is a very important part of any POS. I'm preoccupied with my embedded system projects, so it's difficult for me to work on it.

[2017-09-11 08:54] jekkos commented on #1568
Fine by me. I'd prefer to do a static site as well and use github and jekyll templates to have everything under version control.

Regarding DNS, maybe we are just fine pointing the main domain to the github page then for now?
With regards to email, how should we setup MX records? I have a mailserver of my own and could add this domain to it, or maybe we use gmail which might be more reliable in th

[2017-09-11 09:04] jekkos commented on #1568
Project moved to new opensourcepos organization now

[2017-09-11 09:36] objecttothis commented on #1568
Yeah, for now setup the dns servers pointing at my shared server and we can setup an .htaccess file to redirect to the github page.  Once the page is live, we can take away the redirect.  Your idea of hosting the email on your mail server is a good one.  send me the details of the MX entry and I will set it up.  The only downside to using gmail is that unless you pay for google business, I think y

[2017-09-11 09:52] Johan704 opened #1577 "Feature request: Sales comission"
### IMPORTANT IMPORTANT IMPORTANT

1. New Feature / Enhancement
2. Remove just the one of the two sections you don't need
3. Remove this section as it's just a guideline
4. Fill in all the details as requested by the section you chose

If you remove the complete template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhancement

*Fo

[2017-09-11 10:44] SteveIreland commented on #1577
This looks like a job for #68

[2017-09-11 10:54] SteveIreland commented on #544
Item cost update is going to be part of the purchasing development so please add what should happen regarding costs ... particularly any special VAT rules ... to the wiki

[2017-09-11 13:07] waynebr76 opened #1579 "Receipt not limiting description"
### IMPORTANT IMPORTANT IMPORTANT

1. Chose what you want to report between the sections "New Feature / Enhancement" and "Issue / Question / Bug".
2. Remove just the one of the two sections you don't need
3. Remove this section as it's just a guideline
4. Fill in all the details as requested by the section you chose

If you remove the complete template when submitting a Bug your issue will be clos

[2017-09-11 13:22] SteveIreland commented on #1568
:cry: I already miss jekkos/opensourcepos.

[2017-09-11 13:37] objecttothis commented on #1531
@daN4cat what kind of timeline do we have on attributes changes?  I would like to move forward on customizable search suggestions, but if the attributes changes will make that code obsolete and the attributes changes will be somewhat soon I can wait.

[2017-09-11 14:27] SteveIreland commented on #1579
The default receipt only prints the item name and ignores the item description and alternate item description.

I sort of like the full name to appear so that there isn't a question about what is being purchased.  How about if we wrap it rather than losing information?

[2017-09-11 14:35] waynebr76 commented on #1579
Hi wrapping it would be great, it must be the name its printing but I find quite alot of my name have many characters and then it does not print all of the info on the receipt

[2017-09-11 16:22] guillermohaad commented on #1568
Hi friends, I'm going to make my first donation; I live in Latin America and the payment is in Euros, I want to congratulate you and continue to lament this magnificent project.

The donation I must make in e button of Gitub:
Keep the Machine Running, If you like the project, and you are making money out of it on a daily basis, then consider buying me a coffee so I can keep ading features.

well d

[2017-09-11 17:37] objecttothis commented on #1568
@SteveIreland haha... yeah it threw me for a loop at first, but it's sort of growing on me.  Not that I don't like jekkos ;)

[2017-09-11 18:34] jekkos commented on #1568
Ok I setup the DNS to point to gh-pages branch on the repository. Also weblate now has a separate A record as translate.weblate.org.

We could setup email addresses as well and then I'll have to configure my mail server to handle that.

[2017-09-11 18:53] Alaa-23 commented on #665
What if I want to add items kit's barcode from my own, not the OSPOS generated one?

[2017-09-11 19:27] objecttothis commented on #1568
did you mean translate.weblate.org or something else?  translate.weblate.org is returning a 404.  Just to be clear, do you want me to develop the 1 scrolling page static site and host it or no?  I'm fine either way.

[2017-09-11 19:30] objecttothis commented on #1568
it appears that github offers free hosting of jekyll pages, so I don't know that it would be necessary, however if we are wanting to host weblate on a server then we would need to have that hosted somewhere and just create a dns entry so that it's appearing on the opensourcepos.org domain

[2017-09-11 19:42] jekkos commented on #1568
ah yes indeed, that's what I did in the end. I made the static page here on github. You can edit it by checking out the gh-pages branch.
* opensourcepos.org
* translate.opensourcepos.org

the latter points to the DO weblate instance. I cover costs of that one with the referral fees. I could also add a demo instance to that host so people can peek around without installing first (which is always ni

[2017-09-11 20:41] Alaa-23 opened #1580 "Cost applied on Kit Only related items in an Item Kit"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [X] I'm reporting an issue of an unmodified OSPOS installation
- [X] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [X] I read the README, WHATS_NEW and UPGRADE
-

[2017-09-11 20:53] guillermohaad opened #1581 "DO NOT print receipts jsPrint"
Hi
Install jsPrint but when I print the receipt does nothing?
I have Firefoz 55.0.3 (64-bit) on Windows 10
version OSPOS 3.1.1
Can somebody help me?

[2017-09-11 20:56] odiea commented on #1581
Enable jsprint settings in Firefox. Set as needed for security.
Go to Store config and reselect the printers then press submit and see if that fixes it.

[2017-09-11 20:57] odiea commented on #1581
Occasionally I had to select a different printer. Submit. Then go back and select the correct printer. Then submit.

[2017-09-11 21:08] guillermohaad commented on #1581
Thank you friend  @odiea ,  change Receipt format and I did what you say and I worked perfect. Things that
happen....

[2017-09-11 21:23] #1581 closed

[2017-09-12 00:03] SteveIreland commented on #1539
I just submitted a pull request to fix the sale update issue.

[2017-09-12 05:45] objecttothis commented on #1568
Super!  I'll take down the addon domain then on my shared host.  Let me know if in the future that is needed.  Weblate now gives me a different error message when I attempt to access the ospos translation
![weblate](https://user-images.githubusercontent.com/17935339/30309917-ea1d1d7a-979e-11e7-81cb-c63b8d73fa6e.JPG)
If possible I'd like to get my staff working on the Russian and azerbaijani transl

[2017-09-12 07:10] objecttothis commented on #1568
Super!  I'll take down the addon domain then on my shared host.  Let me know if in the future that is needed.  Weblate now gives me a different error message when I attempt to access the ospos translation
![weblate](https://user-images.githubusercontent.com/17935339/30309917-ea1d1d7a-979e-11e7-81cb-c63b8d73fa6e.JPG)
If possible I'd like to get my staff working on the Russian and azerbaijani transl

[2017-09-12 07:37] objecttothis commented on #1568
@jekkos I just thought I'd point out that www.opensourcepos.org routes correctly but opensourcepos.org does not.  You might want to fix the dns entry so that it routes correctly

[2017-09-12 07:52] daN4cat commented on #1490
Covered by #1534.

[2017-09-12 07:52] #1490 closed

[2017-09-12 07:53] #1566 closed

[2017-09-12 07:54] #1543 closed

[2017-09-12 13:10] jekkos commented on #1568
Ah ok indeed I'll make a wildcard dns entry instead

[2017-09-12 17:11] objecttothis commented on #1568
@jekkos I noticed that the gitter instance refers to jekkos/opensourcepos. Do you want to change that also to match opensourcepos/opensourcepos or just leave it the same?

[2017-09-13 03:35] pmuruaga opened #1585 "MultiPrices for a product"
Is there a way to have multiple prices for a product, and choose the correct pricelist when selling?

I would like to have different prices for a product and depending on a customer or a selection when doing a sell I want to choose the price. Is there a way already implemented on system?

[2017-09-13 03:38] pmuruaga opened #1586 "Barcode with product code-price"
Is there a way to read a barcode, configure a product with the barcode, that is variable, depending on the weight. It's for a butcher shop each peace of meat has a barcode that has a code of product plus a final price, so I can get the weight to based on the price of the product. Thanks.

[2017-09-13 04:07] SteveIreland commented on #1580
I'm working on this.  It's not a quick fix so it might take another day or two.

Thanks for catching this.   It's not a commonly used feature.

[2017-09-13 05:35] Alaa-23 commented on #1580
@SteveIreland Many thanks!

It's widely used here in Egypt as some stores sell wholesale products and by the piece..

I'm waiting for your fix :relaxed:

[2017-09-13 06:00] daN4cat commented on #1586
Search other issue as it was already discussed.

[2017-09-13 06:01] daN4cat commented on #1585
Already discussed, search the existing issues.

[2017-09-13 06:49] jekkos commented on #1535
Actually it's not a bug, but a feature.
Can you try setting in config.php the following.

`$config['csrf_expire'] = 0;`

[2017-09-13 06:51] jekkos commented on #1535
On the other hand if this resolves it, then I wonder why the token isn't expiring when using the application once logged in.

[2017-09-13 08:20] daN4cat commented on #1535
Probably it happens if you set the session timeout longer than csrf_expire. I will try that and let you know.

[2017-09-13 09:23] aleifuu opened #1587 "/ospos/public/ spits out 500 internal error ( and I have edited the .htaccess file )"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] I'm reporting an issue of an unmodified OSPOS installation
- [] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [] I read the README, WHATS_NEW and UPGRADE
- []

[2017-09-13 11:25] daN4cat commented on #1587
Checked ownership and permissions?

[2017-09-13 11:39] aleifuu commented on #1587
This is what I did so far:

sudo chown www-data:www-data /var/www/html/ospos
sudo chmod -Rv 755 cache* /var/www/html/ospos

[2017-09-13 11:43] aleifuu commented on #1587
could be a php error. tried to turn on the php reporting directives like error_log, display_error on php.ini
seems no effect yet

[2017-09-13 11:48] daN4cat commented on #1587
Have you read the wiki with the instructions to install on Rasperry Pi? Also Nginx, Php7 and MariaDB are better choices performance wise.

[2017-09-13 12:03] aleifuu commented on #1587
@daN4cat , yes. I am following the steps as outlined in the raspberry pi wiki section. I'm looking at it every now and then, see if there's misstep or something

Yes, I heard Ngix / MariaDB is superior choice than Apache/MySQL. But that's what I have right now and where I'm more comfortable setting. not too experienced with Ngix / MariaDB yet

[2017-09-13 12:29] anilbilgi commented on #1369
Hi everyone !!!

This is my first post on GitHub and i happened to this project OSPOS.

I thought of informing that another Component called CESS is to be considered as for certain products.

Its a) CGST + SGST + CESS (for intra state)

[2017-09-13 12:29] anilbilgi commented on #1369
Hi everyone !!!

This is my first post on GitHub and i happened to this project OSPOS.

I thought of informing that another Component called CESS is to be considered as for certain products.

Its a) CGST + SGST + CESS (for intra state)

[2017-09-13 12:29] anilbilgi commented on #1369
Hi everyone !!!

This is my first post on GitHub and i happened to this project OSPOS.

I thought of informing that another Component called CESS is to be considered as for certain products.

Its a) CGST + SGST + CESS (for intra state)

[2017-09-13 12:32] anilbilgi commented on #1369
Also, please note usage of HSN CODES for transactions depends on the turnover of the firms.
A) No need for HSN Code
B) Two Digit HSN Code for slab 1
C) Four Digit HSN Codes for Slab 2
D) Eight Digit HSN Code for Slab3 / Exporters / Importers

[2017-09-13 12:41] daN4cat commented on #1369
@anilbilgi we could hear you well...

[2017-09-13 12:42] aleifuu commented on #1587
had some fiddling around with the code a bit, may focus it down to database connection

I just commented the following section

[code]

[2017-09-13 14:16] daN4cat commented on #1587
Of course, wrong config leads to malfunctioning... it's an obvious. So was that the issue?

[2017-09-13 15:59] objecttothis opened #1589 "Submitting pull requests for language files"
Until @jekkos is able to get weblate working is it OK to submit translations via pull request or does that mess things up?

[2017-09-13 15:59] objecttothis commented on #1589
I'm thinking for Russian and Azerbaijani.

[2017-09-13 16:40] objecttothis opened #1590 "Rounding Bug"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
-

[2017-09-13 16:51] odiea commented on #1590
You might want to converse with @SteveIreland  about this issue.

[2017-09-13 18:36] objecttothis commented on #1590
@SteveIreland come on down!  You're the next contestant on The Rounding is Right!

[2017-09-14 02:02] SteveIreland commented on #1590
I didn't have time to test it but I looked at the code and it seems okay.  The only hole that I thought might be possible is if the config for currency decimal didn't actually exist in the config file.  But no doubt there  are other possibilities that I'm overlooking.

If you want to dive in there please do so.  I don't use the cash rounding feature myself but I volunteered to do so (it seems like

[2017-09-14 06:09] daN4cat commented on #1589
Go for that, @jekkos will need to resync languages anyway due to en_US and en_GB translations.

[2017-09-14 07:38] quocnho opened #1592 "The installation is not correct, check your php.ini file"
Hi all,
I have already installed ospos in to localhost (xampp: php 7.11).
Login: http://localhost/public/login with admin/pointofsale

it say: The installation is not correct, check your php.ini file

I have tried my best to config php.ini. Who can figure out me the way to resolve this issue?
(Please note that PHP needs to have `php-gd`, `php-bcmath`, `php-intl`, `php-sockets`, `php-mcrypt` and `p

[2017-09-14 07:56] daN4cat commented on #1592
What's the error log saying?

[2017-09-14 08:57] daN4cat commented on #1592
Also you are not providing any information about your installation. So I close this issue.

[2017-09-14 10:13] jekkos commented on #1568
Hm ok dns wildcard should be fine. @objecttothis can you check weblate access? I've added you again to users list, something went wrong after upgrading django social plugin

[2017-09-14 10:21] odiea commented on #1448
Any idea why bintray is not updating the code. Zips are 4 days old.

[2017-09-14 10:31] aleifuu commented on #1587
Ok. We can close this issue

What causing internal 500 this time was not .htaccess rewrite. As it turned out, it's much simpler. It's because the 'admin' user was not created yet, hence no access and the 500 error. ( Still I'd wish the system could have caught them, log something useful and display what the error was ). This happens
to be a super simple error. Could be a CodeIgniter issue ?

I tho

[2017-09-14 10:31] #1587 closed

[2017-09-14 10:52] daN4cat commented on #1587
OSPOS admin user is created by database.sql script. Where did you see differently?

[2017-09-14 10:53] daN4cat commented on #1448
@jekkos?

[2017-09-14 11:01] objecttothis commented on #1568
same error. it says the project doesn't exist or is inaccessible to the public

[2017-09-14 11:24] jekkos commented on #1448
Ok needed to link travis to the new repo.. should be done now I'm running a build.

[2017-09-14 12:49] aleifuu commented on #1587
yes, OSPOS admin user is created by database.sql

I thought the script also created the MySQL user 'admin' as well with the same credential all in one go too. It just created the OSPOS admin right ?

You'd still have to either use your current MySQL user or create new one

[2017-09-14 12:52] daN4cat commented on #1587
That's on you as sysadmin not something OSPOS can solve. MySQL admin privileges needs to be protected from external access. It's a basic security requirement.

[2017-09-14 14:54] jsoftwares opened #1593 "Logs out on mobile device"
Good day sir,
After installing OSPOS successfully, it works well on my laptop but when I open software on mobile/smart phone, sign in then click on a menu "eg Sales", i am logged out and redirected to the login screen again.

### IMPORTANT IMPORTANT IMPORTANT

1. Chose what you want to report between the sections "New Feature / Enhancement" and "Issue / Question / Bug".
2. Remove just the one of t

[2017-09-14 15:11] romandahidayat opened #1594 "How to fix Class Dotenv Not Found"
I was install ospos manually without composer, i downloaded release version 3.1.1, when i try to run on localhost

`A PHP Error was encountered

Severity: Error

Message: Class 'Dotenv\Dotenv' not found

Filename: config/hooks.php

Line Number: 39

Backtrace:`

How To Fix this ?
i try to download phpenv manually and i create folder Dotenv on application/config folder. but error cant disolved

[2017-09-14 16:05] odiea commented on #1594
Look at the readme and download the stable or unstable versions. They should work for you.

[2017-09-14 18:06] daN4cat commented on #1593
No version, modified version.... we cannot support you.

[2017-09-14 18:06] #1593 closed

[2017-09-14 19:12] nashtm opened #1595 "Feature request - item count in sales module"
### New Feature / Enhancement

I use Ospos for my business. I think it is useful to have a counter on the Sales module to indicate the number (sum) of items that have been rung up.  Visibility could be controlled via Store config module.

[2017-09-14 19:25] Alaa-23 commented on #1580
@SteveIreland Any updates? :)

[2017-09-14 20:09] pmuruaga commented on #1585
Sorry I'm new on github and ospos, anyway I couldn't find anything like what I asked. This is a similar title: https://github.com/opensourcepos/opensourcepos/issues/642 but is not the same.

[2017-09-14 20:19] odiea commented on #1595
Have you tried using the Sales Summary Report.

[2017-09-14 20:21] odiea commented on #1592
@daN4cat it looks like we lost the Close button?

[2017-09-14 20:53] #1592 closed

[2017-09-14 20:54] daN4cat commented on #1448
Yep, build works again.

[2017-09-14 20:55] odiea commented on #1592
It looks like I lost the close button. So I guess it's up to you 2 now.

[2017-09-14 21:33] daN4cat commented on #1592
@jekkos ?

[2017-09-14 22:59] SteveIreland commented on #1595
I could see where the number of items in the cart could be useful information if you need to verify that all items in the bag were included in the sale.  In the totals area if we change the Total label to say (instead of simply "Total" to be "Total of x Items" would that satisfy the requirement?

[2017-09-15 00:27] SteveIreland commented on #1580
Yep, it's coded up and I've been trying to test it.  But the target keeps moving.   :-)

I was doing well when @jekkos and @daN4cat were too busy to change things.  But now they seem to have freed up some time and with @objecttothis my tiny world changes daily.  I'm still trying to figure out how to adapt.

I just installed the latest release and for some reason the drop-down for selecting items a

[2017-09-15 00:43] esbyrt opened #1596 "Can someone help me rid two php ospos files of malware?"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
-

[2017-09-15 01:24] SteveIreland commented on #1580
Actually it's just the "Find or Scan Item" that isn't working in the release I've pulled.  The customer search works fine.

[2017-09-15 01:56] SteveIreland commented on #1580
Okay, I believe I stumbled across the issue.  I'm testing on PHP 5.6 and a PHP 7 only variation of a statement was introduced.  So I made the statement PHP 5.6 compatable and the drop down started working.

I'll submit that change with this.

[2017-09-15 04:22] SteveIreland commented on #1580
I still have a bit of testing to do since I felt compelled to clean up and simplify the logic.

In the meantime if anyone needs to know what needs to be fixed in Item.php if they are running on PHP 5.6 it is the following.

[code]
needs to be changed to (dropping the data type statement "string"
[code]

[2017-09-15 04:46] nashtm commented on #1595
Steve, that is exactly what I used it for iny previous pos. Sometimes people being a last minute item or two and the total of items helps verify that I have included them.  I think your suggestion to add to total line  is great and would not need any further configuration.

[2017-09-15 06:14] daN4cat commented on #1580
Ok, I missed that during the code review, I'll pay more attention next time.

[2017-09-15 06:58] Alaa-23 commented on #1580
@SteveIreland This is still not related to my issue, isn't it?

[2017-09-15 08:26] RamkrishnaMondal commented on #1595
It's easy to implement.

use      `echo array_sum(array_column($cart, 'quantity'));`

check it here: http://www.tradingmaster.esy.es/public

[2017-09-15 08:37] daN4cat commented on #1580
I removed the string in the function line, it's in master now. Wait for the bintray zip to be available in 5 or 10 min after the automated build is completed.

@SteveIreland more improvements can be part of a PR.

[2017-09-15 09:12] jekkos commented on #1568
Ok think it as an issue with changed ACL on the project after upgrade. I checked again while logged in and it's visible now.

[2017-09-15 09:12] jekkos commented on #1568
Also you should be able to change/add translations as a user

[2017-09-15 09:21] objecttothis commented on #1568
Yes, it's working now in both my account and the account my staff will be using for translation.  After merging #1597 can you resync az-AZ, ru and en-US from github to weblate?  I believe the most accurate progress of translations for those three are on github and need to get to weblate.

[2017-09-15 10:31] jsoftwares commented on #1593
Sorry I thought I added that.
Version is

* Open Source Point Of Sale Version 3.0.2 - 4f5ad57*.

Kind Regards,
Jeffrey Onochie
+234 (0) 803 329 1738

On 14 Sep 2017 19:06, "FrancescoUK" <notifications@github.com> wrote:

[2017-09-15 11:09] daN4cat commented on #1568
Commit to master done.

[2017-09-15 11:15] jekkos commented on #1596
I don't think any of these files are supposed to be in an ospos installation..

[2017-09-15 11:16] jekkos commented on #1596
So I wonder where did you find their replacements? At least they are not in our repository nor in the vendor installed code

[2017-09-15 11:34] odiea commented on #1595
Here is what I came up with. Application/views/sales/register. Line 350
[code]

[2017-09-15 12:38] RamkrishnaMondal commented on #1595
@odiea
You can also use in your receipt / invoice.

[2017-09-15 12:44] odiea commented on #1595
Nice looking site.

[2017-09-15 12:53] SteveIreland commented on #1595
Interesting.   If I bought 24 of one product and 113 of another product I would have set the item count to 2.  I would have assumed that the quantity of each item was properly reflected at the line item before it went into the bag.  I interpreted what was being asked was that the count of the different products in the bag was what was needed.

Would it make sense to have an additional line as @odi

[2017-09-15 12:59] odiea commented on #1595
Here is the result I get. I am sure a real programmer can embellish it.
![2017-09-15 06_57_32-wedidit _ powered by ospos 3 2 0](https://user-images.githubusercontent.com/10962177/30483220-576d9594-99e3-11e7-801f-8bb35ab91d47.png)

[2017-09-15 13:49] SteveIreland commented on #1595
I don't know if it's better or not.  It might actually confuse things ... so that is why I ask.

But I'm glad to see we're not the only ones selling things we don't have in stock.  :wink:

[2017-09-15 13:52] odiea commented on #1595
The preventing of out of stock Items being sold has been hashed out a couple of times. I figured if someone brought the Item to the Register but the Inventory says no items I will sell it. Bad Inventory input!

[2017-09-15 14:05] RamkrishnaMondal commented on #1595
What about this? @odiea @SteveIreland

![screenshot at 2017-09-15 19 34 10](https://user-images.githubusercontent.com/14151032/30486038-fb292a0e-9a4c-11e7-9231-f60646fcea6c.png)

[2017-09-15 14:10] SteveIreland commented on #1595
@RamkrishnaMondal so your vote is just for the total quantity and not the total number of items?  So you don't see any value for the total number of items?

[2017-09-15 14:17] nashtm commented on #1595
For me the total quantity is most important but having the breakdown is a plus.

[2017-09-15 14:21] RamkrishnaMondal commented on #1595
To tally the quantity in the bag with quantity in the receipt, is more important.

Best solution should be, as you mentioned

[2017-09-15 14:58] RamkrishnaMondal commented on #1596
I think the files he mentioned are part of phpmyadmin installation.

[2017-09-15 14:59] #1596 closed

[2017-09-15 15:54] jekkos commented on #1535
Hmm ok I wonder whether we need csrf at login time.. I've done a quick google and there is still a recommendation to have it. Of course if the token expires after some time we'll be seeing this issue.

On the other hand you're right, it will never appear when logged in because session will probably timeout before. So technically the only way to tackle this would be doing a token refresh before the

[2017-09-15 16:26] odiea commented on #1595
Here is a copy of the receipt with the quantity in 2 locations. Which location is best?
![2017-09-15 10_24_51-wedidit _ powered by ospos 3 2 0](https://user-images.githubusercontent.com/10962177/30493142-4be52d32-9a00-11e7-93fc-24624262f5fc.png)

[2017-09-15 16:55] odiea commented on #1595
Here is a modified receipt using the set font size +2 in bold
![2017-09-15 10_53_38-wedidit _ powered by ospos 3 2 0](https://user-images.githubusercontent.com/10962177/30494195-61429508-9a04-11e7-8d49-0cad13379485.png)

[2017-09-15 17:46] daN4cat commented on #1535
I would say drop it from login page only. There is nothing to protect if you are not logged in or no?

[2017-09-15 17:48] daN4cat commented on #1535
Where is that they said it's better to retain?

[2017-09-15 18:03] esbyrt commented on #1596
The files were in the ospos folders.
/home/ritzyrag/public_html/sales/protected/extensions/sqlquery/libraries/sqlparser.lib.php
{CAV}Atomicorp
/home/ritzyrag/public_html/sales/protected/extensions/sqlquery/libraries/sqlparser.lib.php
I found the replacement file here https://github.com/appfog/af-php-myadmin/blob/master/libraries/sqlparser.lib.php which I see now wasn't an OSPOS related page.

My r

[2017-09-15 18:07] daN4cat commented on #1596
Stop your server and Search for a php scan utility that deletes the files. You can Google it. But that has nothing to do with OSPOS.

[2017-09-15 18:36] guillermohaad opened #1598 "sales_receipt not change"
Hi, Friends
I have fo version 3.1.1 fo 09-09-20117
when creating a return and print the receipt the title always says:
Sales Reciept
Same happens for Receiving
Thank you all for contributing and I hope you can help.
attached evidence

![image](https://user-images.githubusercontent.com/12921805/30498029-cd477f3c-9a1a-11e7-9105-adff5ba82ae1.png)

[2017-09-15 18:39] esbyrt commented on #1596
Ok daN4cat, I put the original files back (still looking for a scanner but that's besides the point) and my reports still come up blank. What would be causing that?

[2017-09-15 18:44] Alaa-23 commented on #1580
@SteveIreland Any updates? I have work depending on this that's postponed =D

[2017-09-15 18:50] daN4cat commented on #1580
The way to speed up things in the open source world is to fix it by yourself and contribute it back to avoid the cost of maintaining it. That's how it works...

[2017-09-15 19:55] guillermohaad opened #1599 "Return of sale"
on return of sale the receipt says POS # should not say Return #?
Could someone explain the return on sales?
in the report of return the same thing happens, says sales report

Thank you
attached evidence

![image](https://user-images.githubusercontent.com/12921805/30500879-e1aed33e-9a25-11e7-8b03-3374505a7bdf.png)
![image](https://user-images.githubusercontent.com/12921805/30504212-13f7d752-9a33-1

[2017-09-15 20:51] SteveIreland commented on #1580
Sorry.  I'm going as fast as I my limited time permits and I'm not going to submit it until I'm comfortable that it has a reasonable chance of success.

At this point it's looking pretty good, but I have a few more use cases that I need to test through and that simply takes time.  I'll definitely submit a pull request for it tomorrow.

[2017-09-15 20:52] guillermohaad opened #1600 "Upgrade from version 3.1.1 to 3.2.0 and note that they eliminated quotes and invoices?"
Upgrade from version 3.1.1 to 3.2.0 and note that they eliminated quotes and invoices? and button migrate

![image](https://user-images.githubusercontent.com/12921805/30502916-d1c74d40-9a2d-11e7-85ef-5f575d980079.png)

![image](https://user-images.githubusercontent.com/12921805/30503588-6bd30bf2-9a30-11e7-8eed-e0038a87e5d7.png)

[2017-09-15 21:01] Alaa-23 commented on #1580
@SteveIreland Thank you, sir!

[2017-09-15 21:44] SteveIreland commented on #1600
Configuration. Enable invoices

[2017-09-15 22:06] RamkrishnaMondal commented on #1595
This location is the best.  LOL!

![screenshot from 2017-09-16 03 33 45](https://user-images.githubusercontent.com/14151032/30505034-e56fa06a-9a8f-11e7-8e27-1881a629194b.png)

[2017-09-15 22:16] guillermohaad commented on #1600
Thanks friend @SteveIreland, corrected, and the migrate button should appear after upgrade?

[2017-09-16 02:28] SteveIreland commented on #1600
I'm not sure about the Migrate stuff.  That was tweaked after I worked on it and I was busy at the time and wasn't paying attention to what was changed.  But I think the intent was that it wouldn't appear unless it was necessary.

[2017-09-16 09:32] odiea commented on #1599
This may not be the answer that you are looking for but this has always been that way.

[2017-09-16 09:33] odiea commented on #1598
This may not be the answer that you are looking for but this has always been that way.

[2017-09-16 11:30] daN4cat commented on #1600
Yes it's like that. If not required it disappears automatically

[2017-09-16 13:37] daN4cat commented on #1598
Receiving indeed should not be sale. It's a bug and needs to be fixed

[2017-09-16 13:39] daN4cat commented on #1599
I would say no, the Barcode relates to the sale. The fact you identify a sale to perform a return is a different action and story.

[2017-09-16 13:41] daN4cat commented on #1599
The report is sales and returns. It's more a statement of transactions. Could be even renamed to be Transactions log or simply Transactions.

[2017-09-16 13:41] #1600 closed

[2017-09-16 13:46] guillermohaad commented on #1599
I agree with daN4cat, the report should say returns transactions and the sales transactions sales to be able to differentiate

Thank you

[2017-09-16 13:48] odiea commented on #1598
I believe he is stating that Receivings also does not show "Return" on the receipt when it is a return..

[2017-09-16 13:59] guillermohaad commented on #1598
I agree with @odiea.

[2017-09-16 14:00] guillermohaad commented on #1600
Thank you @SteveIreland  and @daN4cat

[2017-09-16 14:33] guillermohaad commented on #1598
@daN4cat , Is there a place where you can change the titles of the reports?

[2017-09-16 14:42] guillermohaad opened #1601 "In the new version 3.2.0 the prefixes disappear?"
Just leave POS prefix and in previous versions existed RECV, DEV , QUOTA.. ?

[2017-09-16 15:31] daN4cat commented on #1599
It will be simpler to rename it Transactions, that's it.

@jekkos @odiea @SteveIreland @objecttothis  any view on this?

[2017-09-16 15:40] daN4cat commented on #1596
I bet you switched to MySQL 5.7

[2017-09-16 15:42] odiea commented on #1599
Ya. Detailed Transactions Report sounds ok.

[2017-09-16 15:43] daN4cat commented on #1601
I don't get, what is the issue and how can we see it?

@SteveIreland does that ring a bell?

[2017-09-16 15:49] daN4cat commented on #1535
Tricky story, but that means that probably it's better to refresh the token. I assume that if you put the session timeout to infinitive and csrf to a shorter time the user will get the login error in any web page.
So this is a general issue, not a login one only. I bet you said that already in your comment.

[2017-09-16 15:50] objecttothis commented on #1599
Agreed on renaming to Transaction Report and Transactions

[2017-09-16 15:50] daN4cat commented on #1598
Right return, not receiving.

[2017-09-16 15:56] #1589 closed

[2017-09-16 15:57] daN4cat commented on #1586
Duplicate of #1243

[2017-09-16 15:57] #1586 closed

[2017-09-16 15:58] daN4cat commented on #1586
Actually it's already implemented, see the ticket I mentioned above.

[2017-09-16 16:17] SteveIreland commented on #1601
There's not enough information in the request for me to understand it.  I'm assuming "previous versions" means either a version earlier than 3.0 or a version containing a custom change. I see RECV in the code but I haven't started doing any work in this area yet, so I don't know if it's being used.  I will be diving in to this soon so I'll keep any eye out for anything that doesn't look right.

I

[2017-09-16 16:39] guillermohaad commented on #1601
I'm sorry, forget this, I was not in my right ...

![image](https://user-images.githubusercontent.com/12921805/30514033-95bf8780-9ad3-11e7-80c8-86b70737f582.png)

[2017-09-16 16:39] #1601 closed

[2017-09-16 17:34] jsoftwares opened #1603 "Items not showing after CSV import in OSPOS 3.0.2"
Hi Support,

I uploaded items using a CSV file and the upload went successful, but when I click ITEMS menu, I can't find any item. But I can see them when I search for an item through SALES menu or scan the bar code.

Also When I click any option in DETAILED REPORT i get continuously:
This page isn’t working
178.62.43.178 is currently unable to handle this request.
HTTP ERROR 500.

Please assist m

[2017-09-16 17:47] daN4cat commented on #1603
You said you read the README for 3.0.2. However I'm under the impression that you didn't pay attention to the fact that 3.0.2 does not support PHP7 nor MySQL 5.0.12 nor 5.7 but 5.5 or 5.6.

[2017-09-16 17:47] #1603 closed

[2017-09-16 18:27] SteveIreland commented on #1595
Support for this being included in the register has been added to the latest pull request. I did not touch the reports since I ran out of time. I'll wait for feedback on this change

[2017-09-16 18:33] SteveIreland commented on #1580
A pull request has been submitted for this

[2017-09-16 18:57] daN4cat commented on #1593
PHP 7 with 3.0.2 is not fine

[2017-09-16 19:47] daN4cat commented on #1580
In master

[2017-09-16 19:47] daN4cat commented on #1595
In master

[2017-09-16 20:24] SteveIreland commented on #1595
Many thanks!.

[2017-09-16 20:34] daN4cat commented on #1595
@SteveIreland there is a problem, the receipt prints under quantity column the overall total on each line.
Let say I bought 4 different items I read 4 on each item line instead of 1.

[2017-09-16 20:38] daN4cat commented on #1595
It looks like it's saved wrongly because opening an old sale the quantity per line is correct.

Also the total per line is wrong as multiplied by 4.

[2017-09-16 20:47] Alaa-23 commented on #1580
So how do I use the new fix in my current 3.1.1 code? Should I just download master and then merge and replace?

[2017-09-16 20:50] daN4cat commented on #1580
@SteveIreland adding a kit with items to the register adds the items with price 0. Not sure that's correct.

[2017-09-16 21:15] odiea commented on #1595
Here is what i see after a new sale. Using php 7 and Mariadb. What are you using?

![2017-09-16 15_12_44-](https://user-images.githubusercontent.com/10962177/30516075-c9338f9e-9af1-11e7-9176-dbfb749ecc83.png)

[2017-09-16 22:13] SteveIreland commented on #1580
Nope ... not correct.  That's not what happened during my pre-pull testing.  So I'll take a look.  I'll rebuild from the master and take a look.

[2017-09-16 22:14] SteveIreland commented on #1599
That makes sense to me.

[2017-09-16 23:16] SteveIreland commented on #1580
@daN4cat I should have qualified my response.  It depends on how you have the kit flagged for pricing.  If you have it flagged as "Kit" then only the kit item will show a price and cost.   If you have it flagged for "Kit and Stock" pricing then only the Kit pricing and the kit items that are flagged as stocked items will be priced. (the pricing for services are assumed to be rolled up in to the ki

[2017-09-16 23:23] SteveIreland commented on #1580
Maybe a better question is "am I missing something"?

[2017-09-16 23:55] SteveIreland commented on #1580
@Alaa-23 I checked out the 3.1.1 branch and looked at the differences in just the Sales.php controller since 3.1.1 and there have been a lot.  So it would be a delicate operation but certainly doable if you have some time to spare.  Unfortunately I've spent it all I had to spare just putting this together (although I personally think it was well worth it so I appreciate that you brought it to our

[2017-09-17 00:07] Alaa-23 commented on #1580
@steveirelnd I tried it and it worked! But after dropping the database and importing master's.
I appreciate your work and spending time fixing this. Thanks again, I'll make sure I post any errors in the future.

[2017-09-17 00:39] SteveIreland commented on #1479
What is Agency in relationship to Supplier and what role (if any) does the agency play purchasing?  I assume it's just for purposes of generating custom reports but I'm throwing it out here just to confirm.

[2017-09-17 06:47] daN4cat commented on #1479
In the case of my wife business you could buy goods directly from a company, through a distributor or agent.
The difference between distributor and agent is that the former buys and resells goods, the latter is just a salesman getting a commission on the sale.
Agents send order confirmation but do not invoice,  distributors issue order confirmation and invoice like a company does.
In short it's ju

[2017-09-17 08:44] nashtm opened #1604 "Question - cant run live and dev instances together (WAMP)"
I cant get two versions running together in same WAMP installation. I get this error:
PHP Fatal error:  session_start(): Failed to initialize storage module: user (path: sessions) in C:\\xampp\\htdocs\\ospos\\vendor\\codeigniter\\framework\\system\\libraries\\Session\\Session.php on line 143

I have searched but can find the the answer - I would think this is a common issue so maybe I missed it.

[2017-09-17 08:58] daN4cat commented on #1604
I assume you are pointing to two different directories with different databases, right? Maybe you should also name the cookies differently in the configuration file just keep things separate from each other.

[2017-09-17 08:59] daN4cat commented on #1595
I will look into this later. I didn't have more time yesterday (need to tidy up the garden as autumn is approaching).

[2017-09-17 11:21] bharatthakkar opened #1605 "Sales Data Import facility in Excel or CSV Format"
### New Feature / Enhancement

I need to import last 3 months sales data from my old package (old package is developed in COBOL and data can be exported from the package in CSV format)

Is there any possibility to import Excel or CSV file for Sales data (like Item data and Customer Data)

Thanks

[2017-09-17 11:50] #1604 closed

[2017-09-17 11:53] daN4cat commented on #1605
Currently it's not supported and it will be tricky because each sale needs to link to items in the database. So you would need to make sure sale contains a valid foreign key to your items. It's the id.

In short you would need to develop the importing feature looking up items and adding the sale.

[2017-09-17 11:56] daN4cat commented on #1605
Probably you can import your csv file to a temp table and then with SQL upload ospos with the sales. You can give a try from myPhpAdmin

[2017-09-17 14:16] daN4cat commented on #1580
@SteveIreland price option is Kit Only. But then where do you input the prices? Not sure I get this feature and it might well be my lack of reading up a bit more....

[2017-09-17 15:15] objecttothis commented on #1568
@jekkos, any chance you could take the Azerbaijani and Russian Translations that daN4cat committed to the master and upload them to weblate?  That's the last thing I need to get my staff to finish the translations of Russian and Azerbaijani.

[2017-09-17 15:19] daN4cat commented on #1595
Disregard my comment above, everything seems to be working fine with regards to quantity.
I close

[2017-09-17 15:19] #1595 closed

[2017-09-17 15:26] SteveIreland commented on #1580
There is an item type of kit that will typically be added as a non-stock item. That is where the price is set for the kit if we are pricing at a kit level

[2017-09-17 15:29] daN4cat commented on #1580
I trust you tested this and everything is fine. I don't need this feature, I just gave a try out of curiosity. Surely community testing will spot any issue if any :-)

[2017-09-17 16:02] SteveIreland commented on #1580
Soon after 3.2 is released no doubt!

[2017-09-17 16:48] daN4cat commented on #1539
@SteveIreland is anything left to close this feature?

[2017-09-17 17:02] nenuchand commented on #1593
If you are using Chrome turn off data saver in settings it should work fine.

[2017-09-17 17:33] SteveIreland commented on #1539
Please close.  Thank you

[2017-09-17 17:44] bharatthakkar commented on #1605
Thankyou for your positive reaction..

Yeah, I m working on it.. I have already wrote an engine in php and SQL to transfer from old package CSV to ospos MySQL Data Tables... Testing it.. and hope I will transfer it successfully...

[2017-09-17 18:00] #1605 closed

[2017-09-17 18:00] #1539 closed

[2017-09-17 18:03] beinafuushop commented on #1539
sorry team please help me to understand the process, Once the feature is
closed,does it mean it ready for release? I.e. development,testing,fixing
of bugs and etc are all completed?

On Sep 17, 2017 9:01 PM, "FrancescoUK" <notifications@github.com> wrote:

[2017-09-17 18:10] daN4cat commented on #1539
It means it's in master and considered completed. Of course further testing could spot some issue due to a corner case, but that happens always.

[2017-09-17 18:26] beinafuushop commented on #1539
thanks for clarification.

On Sep 17, 2017 9:10 PM, "FrancescoUK" <notifications@github.com> wrote:

[2017-09-17 18:41] nashtm commented on #1604
My error  - I left the angled brackets around <OSPOS path> when editing htaccess file. Late night problem!

[2017-09-17 22:09] abdulrehman6 opened #1607 "The installation is not correct, check your php.ini file."
Hi All,

- [x] I'm reporting an issue of an unmodified OSPOS installation

### Installation information

- OSPOS version is: 3.1.1

- (If applicable) Installation package for the LAMP/LEMP stack is:   (e.g. WAMP, XAMPP)
installed on Xampp

### Expected behaviour
I have istalled a fresh copy and when i enter username and password it shows error message "instalation is not correct please check your

[2017-09-17 22:16] esbyrt commented on #1596
You nailed it! Yes I did switch to PHP 7. When the site first went down I made some changes to try to fix it. That was before I contacted the hosting company and discovered they had blocked the site due to infected files. I simply lost track of the changes/fixes I had made along the way. Thanks for your help. When I changed it back to 5.5 everything is working again. Lesson learned.

[2017-09-18 02:45] HotFireyDeath commented on #1607
PHP needs to have php-gd, php-bcmath, php-intl, php-sockets, php-mcrypt and php-curl installed and enabled... as said in the README.md. Please verify you have all of these installed and enabled.

[2017-09-18 05:49] daN4cat commented on #1607
Check your error_log too

[2017-09-18 05:49] #1607 closed

[2017-09-18 07:28] objecttothis commented on #1568
@jekkos, since there is only one change to the Russian, don't worry about that one.  I will make the change on Weblate and you can pull that down as per normal.  The Azerbaijani does need to be pulled from github to weblate though.

[2017-09-18 09:02] objecttothis commented on #1543
This is just an opinion but I think Reports should go in the Office menu.  What do you all think?

[2017-09-18 09:11] objecttothis opened #1608 ".htaccess mod no longer needed?"
Currently, the /public/.htaccess file has the section that reads:

`# if in subdir comment above line, uncomment below one and replace <OSPOS path> with your path`
`# RewriteRule ^(.*)$ /<OSPOS path>/public/index.php?/$1 [L]`

I went to rework this so that it didn't matter if you were in a subdirectory or a webroot directory and it appears that the code is obsolete.  I'm guessing that with my chan

[2017-09-18 09:34] objecttothis commented on #1608
also, application/helpers/sale_helper.php is empty.  Is it needed or can it be deleted?

[2017-09-18 09:53] daN4cat commented on #1608
I would say no, I would not rely on an additional redirection to fix a wrong .htaccess configuration. So please don't change that.

[2017-09-18 09:54] daN4cat commented on #1608
Yes sale_helper.php is empty but I never removed it because we might need it in some refactoring exercise. That's not an urgent thing to sort out in my opinion.

[2017-09-18 09:57] objecttothis commented on #1608
OK, that's fine.  I would like to rework the /public/.htaccess so that the mod_rewrite accounts for both builds in the webroot and in subdirectories.  This would prevent users from needing to modify the .htaccess depending on where their build is stored.  I think I would just modify it so that it pulled the build location from the request URI dynamically.  This also reduces support requests that a

[2017-09-18 10:19] daN4cat commented on #1608
Yes, if there is a smart way to do that please go ahead. I followed what was there.
Also bear in mind that the trick hides the index.php from the URL and etc.

[2017-09-18 11:17] jekkos commented on #1535
Also interesting new solution : https://www.owasp.org/index.php/SameSite
We might want to implement it as external links to an ospos installation are rare

[2017-09-18 11:45] nikultaka opened #1609 "Can we add multiple tax on sale page, rather than add in particular item"
### IMPORTANT IMPORTANT IMPORTANT

1. Chose what you want to report between the sections "New Feature / Enhancement" and "Issue / Question / Bug".
2. Remove just the one of the two sections you don't need
3. Remove this section as it's just a guideline
4. Fill in all the details as requested by the section you chose

If you remove the complete template when submitting a Bug your issue will be clos

[2017-09-18 12:12] bkrajendra commented on #1585
@pmuruaga i did raised similar enhancement earlier. its same as you requested. I'm also in need of multi price. One Item can have multiple identity in many cases, like input/output tax change, purchase price change, selling price change or change in size/qtty. In short this all relates to different version of same product (With same barcode). This is known as "batch" or "batch code" in accounting/

[2017-09-18 13:05] SteveIreland commented on #1609
What country are you doing business in?  Is it VAT Tax, GST or Sales Tax based?

[2017-09-18 13:23] objecttothis opened #1610 "Floating header and table headers"
### New Feature / Enhancement

Currently when scrolling on pages, the entire page scrolls.  There are two features I would like to propose

1- The main header stays at the top of the page while scrolling.  This would include from the time/date at the top down to and including the module icons.
[COMPLETED] 2- Sub-headers and table headings stay at the top of the page while scrolling.  This would in

[2017-09-18 13:40] odiea commented on #1610
As my buddy @daN4cat  says. Make it a config item. But it sounds good to me.

[2017-09-18 13:55] objecttothis commented on #1608
OK, can you assign this to me?

[2017-09-18 15:01] nikultaka commented on #1609
Thanks,I am from india, we have 2 type of GST, if we sell to buyer from same state then there wil be
1) SGST
2) CGST
If state is diffrent then there will be only 1 tax
1) IGST
is it possible with current pos system?

[2017-09-18 16:32] guillermohaad opened #1611 "not a problem, just a process query"
Hi Friends,
I have versión 3.2.0
I am new here and I want to know how is the process of returning an item from a sale? I am attaching an example if you can lend me a hand ..

![return](https://user-images.githubusercontent.com/12921805/30552848-05807966-9c65-11e7-8ad5-7a350f4e4d95.png)

the exercise is as follows:

I want to return 2 units of article "12345"

Thank you

[2017-09-18 16:42] daN4cat commented on #1610
In this case I would say make the change without optional story. I agree on the better user experience, however the table would to be studied as there is a lot of js to crunch to get to the change you want.

[2017-09-18 16:43] daN4cat commented on #1609
Search the open issues as that is already under discussion elsewhere.

[2017-09-18 16:43] #1609 closed

[2017-09-18 18:48] daN4cat commented on #1611
That's correct. You say how you return the money with a negative payment and issue a receipt. Job done

[2017-09-18 18:48] #1611 closed

[2017-09-18 19:04] odiea commented on #1611
If you do not want to return the first item just delete it from the list then in 12345 change the -10 to -2.

[2017-09-18 19:06] daN4cat commented on #1611
Ah... the detail. ... correct as per @odiea description

[2017-09-18 19:45] guillermohaad commented on #1611
thanks to the friends @daN4cat @odiea  for the explanation, it is clear.

[2017-09-18 20:05] HotFireyDeath opened #1612 "New Feature: Language per user"
### New Feature / Enhancement

I expect the community to implement, as I have no idea on how the software work internally as of right now. My idea for a new feature is actually a feature implemented on our current POS system for our restaurant. As the title states, this allows a custom language setting for the user instead of global. I don't see this implemented into the POS as of now, and it'll b

[2017-09-18 20:10] marcvasquez opened #1613 "Feature Request - Search by / View Company Name"
### New Feature / Enhancement

*For New Features or Enhancements please clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for older versions.*

Hello,

Would be useful to have the ability to list and search by a c

[2017-09-18 20:10] esbyrt opened #1614 "Error on running upgrade script"
### IMPORTANT IMPORTANT IMPORTANT

1. Chose what you want to report between the sections "New Feature / Enhancement" and "Issue / Question / Bug".
2. Remove just the one of the two sections you don't need
3. Remove this section as it's just a guideline
4. Fill in all the details as requested by the section you chose

If you remove the complete template when submitting a Bug your issue will be clos

[2017-09-18 20:11] abdulrehman6 commented on #1607
@HotFireyDeath
How do i install those things which you asking, I am new in PHP.
Please help
thanks

[2017-09-18 20:30] abdulrehman6 commented on #1607
I have re-downloaded source code and installed but same error showing
"The installation is not correct, check your php.ini file."

[2017-09-18 20:32] odiea commented on #1607
Read the wiki about Xampp.

[2017-09-18 20:51] odiea commented on #1613
application/models/Customer.php
This may work for you. Good luck. Backup or rename your old file first.
Under if($unique)
[code]

[2017-09-18 20:58] daN4cat commented on #1612
There is by employee and system. However not by customer.

[2017-09-18 20:59] HotFireyDeath commented on #1612
Oh ok. Thanks, I just needed it for employees.

[2017-09-18 20:59] #1612 closed

[2017-09-19 05:02] saruban opened #1615 "Suppliers Report is not working"
My ospos version : 3.1.1

I have 2 suppliers and receive goods from both suppliers.  I need to view the goods total value received from my suppliers.
In Reports, supplier report module is not work like as it.

To recreate the follow the steps here ;

Add 2 or 3 items and 2 or 3 suppliers.  After that, go to receiving section and receive goods from suppliers.
Then go to report > suppliers. You can'

[2017-09-19 06:08] daN4cat commented on #1612
It's in the latest master code that will be released as 3.2.0 at certain point.

[2017-09-19 06:55] objecttothis commented on #1568
@daN4cat I'm not sure but I think the Azerbaijani translation in weblate is setup as az_AZ and github is setup as az-AZ.  I would recommend reworking the naming conventions in all the languages on weblate to match github.  Even if it isn't what's causing problems, it's nice for continuity.  I also noted that a recent commit you made created an az_AZ folder under languages.  Was that on purpose?

[2017-09-19 07:59] daN4cat commented on #1568
No that was not on purpose, I attempted to do a couple of things from Weblate but unsuccessfully. That should be removed as per my comment on @jekkos commit.

[2017-09-19 08:01] daN4cat commented on #1568
@jekkos we need to make Weblate open otherwise you become a bottleneck in the process. Just a factual deduction nothing personal to be clear.

[2017-09-19 08:01] daN4cat commented on #1615
What about the template information?

[2017-09-19 08:03] Praveenkanaujia commented on #1592
Hi all,
I have already installed ospos in to localhost (xampp: php 7.11).
Login: http://localhost/public/login with admin/pointofsale

it say: The installation is not correct, check your php.ini file

please suggest me how could it done ?

[2017-09-19 08:57] bkrajendra commented on #1558
I'm also trying to import from CSV total 1090 items, I split CSV into 3 parts file1.csv, file2.csv file3.csv.
When import, All items get imported without any issue. But Some of items get added to sale but some of them could not get added to sale.
I've tried to see all possibilities about type of text in items, but there are some items which have longs names, special characters and + signs get adde

[2017-09-19 08:59] daN4cat commented on #1592
What's error_log saying? Check in your public folder

[2017-09-19 09:13] Praveenkanaujia commented on #1592
now its worked thank you..

[2017-09-19 10:48] jekkos commented on #1610
think it's a lot of work to make it look good in most situations.

[2017-09-19 10:55] objecttothis commented on #1610
@jekkos, if it can be made to look good in most or all situations and is not a significant performance hit do you feel ok with it? it isn't extremely high on my priority list so I wouldn't get to it right away, but I would like to give it a shot if there aren't objections.

[2017-09-19 10:58] saruban commented on #1615
Means?

[2017-09-19 12:06] objecttothis opened #1616 "Uncaught exception"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
-

[2017-09-19 12:37] objecttothis commented on #1614
You are getting the error because your database already includes those two entries.  No, you do not need to worry about this error.

@daN4cat @jekkos I believe this may be happeneing because those two keys were introduced sometime before 3.0.2.  I think we can avoid further people getting the error by removing those additions from 3.0.2_to_3.1.1.sql and placing them in the upgrade script where the

[2017-09-19 12:43] daN4cat commented on #1614
Barcode formats is 3.1.0, it related to create Barcode out of weights for cases like vegetables, meat and you then pay at cashier till.

The receiving is the issue and don't know when that was introduced but we can safely remove. Default mode if nothing exists in the database is = 0. Next time you save a value it creates the key. So that was not really required anyway.

[2017-09-19 12:44] saruban commented on #1615
Can you please look into this issue.  It's really big issue

[2017-09-19 12:46] daN4cat commented on #1615
Next time you create an issue don't scrap everything and read what's in front of you answering the questions.
In that way you get help or it might be that you could find the answer by yourself.

[2017-09-19 13:00] SteveIreland commented on #1615
Also (and I don't use the report myself) the Supplier Report appears to be a summary sales by supplier and not a Receivings by supplier report.  This area is going to receive a little boost in functionality in the 3.2 release.

[2017-09-19 13:19] objecttothis commented on #1568
Is anyone else experiencing problems with weblate timing out and not responding when updating translations?  My staff and I are attempting to work on the Russian translation but when submitting a translation change the browser just spins it's wheels and often doesn't load the next phrase

[2017-09-19 14:18] saruban commented on #1615
### New Feature / Enhancement

*For New Features or Enhancements please clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for older versions.*

### Issue / Question / Bug

Before submitting an issue please make su

[2017-09-19 15:17] esbyrt commented on #1614
Thanks for looking at the error! Good to know all is fine. I will carry on then.

[2017-09-19 15:30] odiea commented on #1615
I believe there may be a filter issue going on here. Here are a few receivings.
![2017-09-19 09_26_34-wedidit _ powered by ospos 3 2 0](https://user-images.githubusercontent.com/10962177/30600570-0d66648e-9d1d-11e7-910c-1ecf0897f2e4.png)

Here is the suppliers report.
![2017-09-19 09_27_00-wedidit _ powered by ospos 3 2 0](https://user-images.githubusercontent.com/10962177/30600606-2904b646-9d1d-1

[2017-09-19 16:24] saruban commented on #1615
Yes. @odiea . There are some issues to fix.  Thanks for understanding it. Please reopen it to fix this asap.

[2017-09-19 16:49] odiea commented on #1615
This will have to be reopened by @daN4cat or @jekkos if they believe it is necessary.

[2017-09-19 17:31] daN4cat commented on #1615
@saruban help in fixing issues is appreciated. I won't have time for this issue.

[2017-09-19 17:32] daN4cat commented on #1615
Also the supplier report is about sales and returns not receivings. It has always been like that since the beginning.

[2017-09-19 17:34] saruban commented on #1615
I can understand that you are too busy with other works.  If you hve any idea about the solution  share here and try to fix this by myself or with othere help

[2017-09-19 17:36] daN4cat commented on #1614
In master

[2017-09-19 17:37] saruban commented on #1615
In here, Supplier is a company which give goods to our store. So we need to know the goods and it's cost given by every supplier.

[2017-09-19 18:49] odiea commented on #1615
Sorry my misunderstanding. Yes it works properly with Sales.

[2017-09-19 19:10] bkrajendra commented on #1558
do i need to create new issue, as this seems to be closed.?

[2017-09-19 19:31] daN4cat commented on #1558
How can we test this?

[2017-09-19 19:31] daN4cat commented on #1558
I mean reproduce the issue?

[2017-09-19 20:02] odiea commented on #1599
Sales Summary Reports and Sales Graphical Reports so we all know it only pertains to Sales.

[2017-09-19 20:10] jekkos commented on #1568
I rebased the from the latest github version two days ago. Not sure but I'll try to rerun the indexation again.
@daN4cat I added you as weblate admin so now you can help troubleshooting in case of issues? Let me know if this works for you.

[2017-09-19 20:15] jekkos commented on #1616
Maybe we can add try - catch clause there and then handle appropriately once something goes wrong?

[2017-09-19 20:18] jekkos commented on #1568
@objecttothis indeed seems to be hanging on saving translations, looking into that now.

[2017-09-19 20:23] jekkos commented on #1615
@saruban so in fact it's an enhancement you ask for, not a bugfix..

[2017-09-19 20:24] jekkos commented on #1599
+1

[2017-09-19 20:26] jekkos commented on #1568
Some translations still seem to refer to the old source files.. looks like this folder rename was not without impact..

[2017-09-19 20:34] SteveIreland commented on #1580
I believe this can be flagged as complete.

[2017-09-19 21:07] bkrajendra commented on #1558
is there any other way i can give u csv file?

[2017-09-19 21:15] abdulrehman6 opened #1619 "New instalation not working on xampp localhost"
Hi, Friends
I have fo version 3.1.1 fo 09-09-20117
1. I have past all codes to pos folder created in htdocs
2. created new database name ops and imported database.sql in phpmyadmin
3. then set localhost database username as root and password as empty and database name ops in config/database.php.
now when i access it show error see the screen shot below.
I hope someone will help me what i missing a

[2017-09-19 21:39] odiea commented on #1619
Read the wiki on xampp to enable needed php extensions.

[2017-09-19 21:45] bkrajendra commented on #1558
ok! now i tried with entire 1090 items and it got imported in one go. I've set location to 1 and supplier id to 2. I also made it it sure to have supplier with id 2. Also one of my products was missing supplier id. I corrected it.
Now what i observer is items are not listed in Items section. But everything else is working fine.. Receivings, sales and all working ok.

Items get displayed in Item se

[2017-09-19 21:50] bkrajendra commented on #1558
All items are back after I logged out and logged in again. It took little time to login, it was like something was going on at background. And now all Items are showing up in Items section.
rest all systems are working fine.
Will test tomorrow on production system and report back here.
Thanks all!

[2017-09-19 22:40] esbyrt opened #1620 "Can't apply return to gift card - Bug or feature request?"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation

### Installation information

- OSPOS version is: 3.1.1
- OSPOS git commit hash is:
- PHP version is:   (e.g. 5.5, 5.6, 7.0, 7.1) 7.1
- MySQL or MariaDB version is:   (e.g

[2017-09-19 22:43] odiea commented on #1620
In gift cards create a new gift card with the customer name and a credit of .01 and see if that works for you. Gift cards with a 0 balance will not accept a credit.

[2017-09-19 22:49] esbyrt commented on #1620
Thank you! Yes that works. I think I'll set up a range of gift card numbers with the .01 balance on them to use for returns. That will speed things up at the till.

[2017-09-20 05:11] RAZA-ABBBASI commented on #1592
@Praveenkanaujia how you solved your problem, i am facing same issue.
can you guide step wise please ?

[2017-09-20 05:33] daN4cat commented on #1620
Mmmh on a return the credit should be loaded no matter. This is a bug.

[2017-09-20 05:38] daN4cat commented on #1558
If you could not see the items then it's a problem with the transaction table. It need to contain the date and time of the csv upload. But that should go wrong always if it's not working. I don't understand what your database is doing to say they appear later. That doesn't make sense to me. Let me know how it goes.

[2017-09-20 05:40] daN4cat commented on #1558
Please check one item with the inventory button on the right and see if the log reports the csv import as first line.

[2017-09-20 05:41] #1580 closed

[2017-09-20 06:40] objecttothis commented on #1616
yeah, go ahead and assign it to me and I'll work on it.

[2017-09-20 08:38] bill-goldberg opened #1622 "Report Calculations logic"
![screenshot 22](https://user-images.githubusercontent.com/23611136/30634569-2f2b3e0a-9e0d-11e7-9f3e-4c4b30e98377.png)

[2017-09-20 08:40] bill-goldberg commented on #1622
can anybody explain that how this calculation is performed... as it is not the sum of subtotal or total column.

[2017-09-20 11:34] jabasinfo opened #1623 "need to change discount percentage to discount value in detail report"
HI i need to change discount percentage to discount value in detailed sale report page, kindly guide me for this change

[2017-09-20 12:31] SteveIreland commented on #1622
What version of the software are you running this report from?  And if it's 3.1 or later did you successfully run the migration?

[2017-09-20 12:47] SteveIreland commented on #1623
My thought is to replace the discount percent with a discount code that can be specified on the item and or the customer and then add a discount table where each code represents a discount type that is either by percent or by amount.    We could also add a quantity and second discount percent/amount to be applied if the quantity sold meets or exceeds that quantity.

The discount code could be over

[2017-09-20 12:47] guillermohaad commented on #1599
@odiea  how to differentiate the sales report and the return report?
thank you.

[2017-09-20 12:48] SteveIreland commented on #1623
But you are just referring to the report.  So that shouldn't be too complicated.

[2017-09-20 12:52] odiea commented on #1599
Returns are already filtered in the Detailed Sales Report. After the report is run you will see the transaction type column.
![2017-09-20 06_51_06-wedidit _ powered by ospos 3 2 0](https://user-images.githubusercontent.com/10962177/30644645-44c5ee82-9dd0-11e7-8d0c-7bbf151baeb8.png)

[2017-09-20 12:53] SteveIreland commented on #1622
I ran a quick test in 3.2.0 - 4f5ad57 and it seems to be working as expected there in a Sales tax scenario.  Additional tests, if necessary, will need to be done later.

[2017-09-20 12:54] daN4cat commented on #1623
Indeed....

[2017-09-20 13:06] objecttothis opened #1624 "Office Module Icon Position"
### New Feature / Enhancement

I think the Office Module Icon should appear as the rightmost icon.  I think the reason that it's current position feels a little funny is the following:
- The app config icon formerly appeared on the right end.
- Since most languages are left to right reading the first thing that people will look at on the top bar is the office icon whereas I don't think that's the

[2017-09-20 13:15] SteveIreland commented on #1624
That's fine with me.  We only need to change the sort value in the modules table.

[2017-09-20 13:17] jekkos opened #1625 "Jetbrains license support"
Just to let people in the team know that I have a little surprise (as like last year). Don't know how many of you use JetBrains IDE for development but I've gotten a couple of licenses for the work we're doing on this project. Just ping me if you're interested, they're one year valid and work for most of their products.

Specifically for PHP I use PHPStorm which works pretty well IMHO

[2017-09-20 13:17] SteveIreland commented on #1624
And there might be a simple code change required in the configuration since I think sort value 1 might be hard-coded.

We would just need to change that to 999

[2017-09-20 13:18] guillermohaad commented on #1599
@odiea I have installed version 3.2.0, should I update the master files?
thank you

[2017-09-20 13:18] SteveIreland commented on #1624
I sort value of 0 means that it wlll not display in the menu.  I thought I better point that out.

[2017-09-20 13:19] objecttothis commented on #1624
ok if no one objects I'll submit the pull request

[2017-09-20 13:27] jabasinfo commented on #1623
actually i have made some changes in pos saleto take the discount_percentage as a discount value, so thats not the problem. in reports also i have made some changes in code to calculate discount value, but only in detailed sale report page its showing as discount percentage. so i need know where u r getting discount percentage from database and making the calculation

[2017-09-20 14:06] odiea commented on #1599
If you installed 3.2.0 then you have all the necessary files. If you are just testing you might consider creating a new db with database.sql if in production use the upgrade db if necessary 3.1.1 to 3.2.0.

[2017-09-20 14:07] odiea commented on #1622
@bill-goldberg your feedback for issues would be much more valuable if you would fill out the template.

[2017-09-20 14:18] guillermohaad commented on #1599
@odiea thanks you are a bacan as we say here in my country.

[2017-09-20 14:48] objecttothis opened #1627 "Permission to open/edit branch in the master"
@jekkos is there any way to give @SteveIreland and i permission to create a branch from the master and edit that branch?  I ask because it's becoming a bit of a headache to rebase a fork of the project, create a branch of that and then submit a pull request from that branch back to the master.

[2017-09-20 15:47] jonathanprieto99 commented on #472
Hi,
I have the last versión of OSPOS installed on a LAMP with ubuntu 16.04.
I am looking for a tutorial on how to configure the sms API, which service to use and how to install it.
Could someone help me please.
Thank you

[2017-09-20 16:01] guillermohaad opened #1628 "price of the item with tax included ?"
Hi friends,

I have a question:
how could you check the price of the item with tax included to the customer?  should we include a column "with tax" at the end?
![image](https://user-images.githubusercontent.com/12921805/30653913-07bdf6c0-9df2-11e7-98d6-c3daa873174e.png)

![image](https://user-images.githubusercontent.com/12921805/30654240-f8ec0b18-9df2-11e7-9744-7c9bf26d001a.png)

[2017-09-20 16:08] esbyrt commented on #1620
Hi. I did a little more experimenting. When the purchase is made on a gift card the return can be put back on the SAME gift card with no issues. So that part is not a bug, it is working properly. It's just a problem trying to put a credit on a new gift card with a zero balance.

[2017-09-20 17:32] jekkos commented on #1628
If you want to enable tax inclusive pricing you have prices all tax inclusive from the start. Currently there's no extra column in the other case to show how much the price is after adding up taxes, so to me that's a feature request.

[2017-09-20 17:32] Praveenkanaujia commented on #1592
@RAZA-ABBBASI Please use updated file of open source name of (opensourcepos.20170909085348.3.1.1.76a002).

[2017-09-20 17:36] jekkos commented on #1627
I just checked and I'm not sure if that's directly feasible without giving push access to all the project's branches. Not that I don't trust you guys but I think that it's good practice to keep reviewing each other's code using pull requests.

On the other hand I don't directy understand the added benefit of creating  branches directly in the repository. How does it differ from doing it in a fork?

[2017-09-20 17:47] esbyrt opened #1629 "Error Adding and Updating Item"
Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

 I'm reporting an issue of an unmodified OSPOS installation
Installation information

OSPOS version is: 3.1.1
OSPOS git commit hash is:
PHP version is: (e.g. 5.5, 5.6, 7.0, 7.1) 7.1
MySQL or MariaDB version is: (e.g. MySQL 5.5, MySQL 5.6, My

[2017-09-20 17:55] objecttothis commented on #1627
@jekkos I completely agree on the need for a review system and code management rather than free-for-all style of commits.  This might just be an issue of me being new to git and github, but overhead that's happening is that my fork of the project is constantly out of date.  At least on github, I need to create a pull to pull in all the changes from the opensourcepos master to my master and if I wa

[2017-09-20 18:13] nashtm opened #1630 "New Feature / Enhancement - Shortcut Keys in Sales module"
### New Feature / Enhancement

Can Shortcut Keys be implemented in the Sales module for Payment Type , Add Payment and Complete buttons to speed up sales processing?  I think it will be a benefit.
thanks Tim

[2017-09-20 18:33] SteveIreland commented on #1624
none from me.

[2017-09-20 18:46] daN4cat commented on #1624
Fine with me

[2017-09-20 19:02] #1614 closed

[2017-09-20 19:04] daN4cat commented on #1543
@objecttothis it depends, in the case of my wife they need access to reports from the till. I would say that it should probably go to both.
One day reportico will be only for the office view.

[2017-09-20 19:29] daN4cat commented on #472
I'm afraid there is no tutorial. Just go to application/libraries/Sms_lib.php and add your SMS gateway code there. Also search close issues as it was discussed few times.

[2017-09-20 21:08] daN4cat commented on #1623
Well the obvious answer would be somewhere in the code :-)

Do a search across the files for discount and you should get all the touch points.

[2017-09-20 21:37] abdulrehman6 commented on #1619
Thanks for reply i did not found any solution yet.
can anyone help
thank you in advance

[2017-09-20 21:54] abdulrehman6 commented on #1619
xampp/php.ini
i enabled these extensions but same error.
extension=php_bz2.dll
extension=php_curl.dll
extension=php_fileinfo.dll
;extension=php_ftp.dll
extension=php_gd2.dll
extension=php_gettext.dll
extension=php_gmp.dll
extension=php_intl.dll

[2017-09-20 22:38] odiea commented on #1619
extension=php_sockets.dll

[2017-09-21 00:34] SteveIreland commented on #1629
Nice catch.  I thought this one had been put to bed months ago, but apparently it woke up again.  I'll take care of this one this weekend.

[2017-09-21 00:51] SteveIreland commented on #1628
If we are talking about a sales tax based system then it seems to me to be technically incorrect to include a tax on this screen since the tax would be based on the location of the customer the item is  being sold to - unless you're only going to consider the origin tax rate (the rate assigned to walk-in customers).  If I understand this request correctly then maybe it should be optional - or a cu

[2017-09-21 01:01] SteveIreland commented on #1625
I've been using PHPStorm from the beginning so I'm good with licensing, but thanks for the offer.

[2017-09-21 01:39] odiea commented on #1628
Shouldn't his retail price be the price with tax included. So he needs to adjust his Retail price to include the tax. Unless he is expecting the program to do that for him instead of a calculator.

[2017-09-21 01:44] odiea commented on #1628
Then at the Register he can show his Customer what his Retail price is without tax.
![2017-09-20 19_43_36-wedidit _ powered by ospos 3 1 0](https://user-images.githubusercontent.com/10962177/30675148-20a5f3d2-9e3c-11e7-943b-8981896949a4.png)

[2017-09-21 01:51] sanubari97 opened #1631 "User Level Views"
### IMPORTANT IMPORTANT IMPORTANT

1. Chose what you want to report between the sections "New Feature / Enhancement" and "Issue / Question / Bug".
2. Remove just the one of the two sections you don't need
3. Remove this section as it's just a guideline
4. Fill in all the details as requested by the section you chose

If you remove the complete template when submitting a Bug your issue will be clos

[2017-09-21 06:08] daN4cat commented on #1631
Yes Access Control is something we discussed in the past but to implement to the level some people want would be an expensive exercise. Not something you can do in 1 day of work.

[2017-09-21 07:56] daN4cat commented on #1576
@SteveIreland I bumped into this error once, over the week-end. I retook our old database done all the automated SQL scripting update, started the latest app code and the migration was automatically kick started dumping a lot of errors on the page. However at the end of that process I checked the error_log to find that the migration took place automatically and all was fine after that step.

That

[2017-09-21 10:01] jabasinfo commented on #1623
i have checked the code but i cant get it can u tell me here

[2017-09-21 10:40] lutfiajib opened #1632 "Item add to Sale failed"
### Issue / Question / Bug

Before submitting an issue please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] I'm reporting an issue of an unmodified OSPOS installation
- [x] I checked open and closed issues database and no similar issue was already discussed (please make sure you searched!)
- [x] I read the README, WHATS_NEW and UPGRADE
-

[2017-09-21 10:54] jekkos commented on #1632
see #1629

[2017-09-21 10:59] jekkos commented on #1610
Sure go ahead some eye candy is always nice to have

[2017-09-21 11:01] ishtiaquesarwar opened #1633 "Inventory summar Export to An option does not work"
Hi
I am using OSPOS 3.0 where in inventory summary i was trying to export the report in xls format and other format but unfortunately its not working. see the report > http://prntscr.com/gnv0rm

How to fix it ? any help or guidance would be highly appreciated

thanks
ishtiaque

[2017-09-21 12:07] ishtiaquesarwar commented on #539
is this problem sorted out later. i am facing the same error. any hope for a solution or reference?

[2017-09-21 12:16] daN4cat commented on #1629
@esbyrt hope your business can pay a beer to us. See readme page for a contribution button ☺

[2017-09-21 12:54] guillermohaad commented on #1628
@odiea  totally agree, I apologize for the question, which does not make sense.
Thank you @SteveIreland @jekkos
Close

[2017-09-21 12:55] #1628 closed

[2017-09-21 13:00] guillermohaad commented on #1625
Hi @jekkos I'm interested
thank you

[2017-09-21 13:43] odiea commented on #1628
@guillermohaad No apologies necessary. There is a learning curve to use this program so issues or suggestions are helpful.

[2017-09-21 14:25] daN4cat commented on #1625
@guillermohaad I'm afraid that offer applies to people that are real and active contributors.

[2017-09-21 14:39] guillermohaad commented on #1625
@daN4cat I understand, well later when the contribution of mine is reflected we will get it, thanks

[2017-09-21 14:46] odiea commented on #1633
Here is what I see using 3.2.0 on Exporting Inventory summary report. Unfortunately it will only export the visible tables. I have mine set at 25.
![2017-09-21 08_44_05-wedidit _ powered by ospos 3 2 0](https://user-images.githubusercontent.com/10962177/30702093-381e33ae-9ea9-11e7-8890-75e335df6721.png)

[2017-09-21 14:53] ishtiaquesarwar commented on #1633
Isn't it possible to do the same using version 3.0?

On Sep 21, 2017 20:46, "odiea" <notifications@github.com> wrote:

[2017-09-21 15:27] esbyrt commented on #1629
Absolutely I will buy you a beer (or two). The work you are all doing here is 100% appreciated! I would like to add I'm not making a penny on this myself. I'm a bookkeeper and my clients are a small clothing store that was keeping inventory in notebooks and struggling to keep the lights on. A free solution was the only possibility for them. Without ospos they would still be scribbling lol!

[2017-09-21 16:50] odiea commented on #1633
Sorry I currently do not have that version available to me.

[2017-09-21 17:14] ishtiaquesarwar commented on #1633
any other way to get it fixed ?

Regards,

<http://www.softbd.com>

A.M.Ishtiaque Sarwar / Managing Director
8801711-272324 / ceo@softbd.com

Soft Tech Innovation Ltd. *Office*: 880-1611-272324
Sector:14, Road:15, House:92, Uttara, Dhaka. 1230
http://www.softbd.com
*Consultant:*
Azadi Technologies, Chittagong.

*Skype*: softbd | *GTalk*: ishtiaque.sarwar | *Linked In*: ishtiaquesarwar
<https://bd.

[2017-09-21 18:05] objecttothis commented on #1627
The stupid thing that I am finding it seems is that pull requests are specific to github.  I just got egit in Eclipse setup with the opensourcepos repository and there does not seem to be the option of creating a pull request.  Instead I have to push to my fork and then open up github and create the pull request there.  I was hoping for an all-in-one solution in eclipse since it's my pet IDE, but

[2017-09-21 18:06] objecttothis commented on #1627
As a side note, are you able/want to give us access to assign, close, label, etc issues?