[2019-07-04 03:53] #2483 closed

[2019-07-04 03:58] daN4cat commented on #2464
If the concern is the binary size and github storage explosion, one could wonder why we don't keep the full code in place and you just click download as a zip button...
In that way you keep history and save on space storing just the code change.

[2019-07-04 05:55] jekkos commented on #2464
because then you'll be bothered having to merge minified files . Having build output under vcs is a nogo for me.

[2019-07-04 13:11] daN4cat commented on #2464
Unless we force an overwrite.

Anyway, let's move o  with what we have because I don't want to make it a sticky point.

[2019-07-04 14:09] Yasaph commented on #2483
Hi. Please, by the way, I want to be able to select the date for sales operations. How can I implement that?

[2019-07-04 16:17] daN4cat commented on #2483
Can you explain in more detail what you mean with that?

[2019-07-04 17:27] Yasaph commented on #2483
I mean the possibility to enter past sales into the application: in that case the employee will need to choose the date of those sales.

[2019-07-04 18:02] jekkos commented on #2464
Bintray unlocked the account again, they added 2 more gigabytes to the repository. I will revert for now and probably add an api call to delete the oldest version after pushing a new one.

[2019-07-04 18:04] jekkos commented on #2464
Latest master can be found on [this link](https://bintray.com/beta/#/jekkos/opensourcepos/opensourcepos/3.3.0?tab=files)

[2019-07-04 21:02] #2464 closed

[2019-07-04 21:04] daN4cat commented on #2483
Gets very complicated because it has an impact on cashups. You can't fix the past of that part.

[2019-07-05 00:42] #2481 closed

[2019-07-05 09:04] Yasaph commented on #2483
Ok. And by the way, I don't see the cashups module on dashboard for version 3.2.3.

[2019-07-05 09:36] odiea commented on #2477
The current unstable Master is now available for download.
https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20190704173621.master.7da7c0.zip

[2019-07-05 11:03] daN4cat commented on #2483
That's in 3.3.0

[2019-07-05 11:13] Yasaph commented on #2483
Ok. Is it possible to integrate that module for that version?

[2019-07-05 11:17] WebShells commented on #2483
Adding it specifically would take you some time but updating the whole project can be done and db will be migrated to the new version, but 3.3.0 isnt officially released yet still in development phase...

[2019-07-05 11:19] odiea commented on #2483
The current unstable 3.3.0 Master is now available for download and it does contain the Cashup module..
https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20190704173621.master.7da7c0.zip

[2019-07-05 11:31] Yasaph commented on #2483
Alright, thanks guy.

[2019-07-05 12:03] ugogoinfo commented on #2458
@odiea Thanks, I finally got time to try that, but can't find any error message other than the one under Console.

![NetworkReport2](https://user-images.githubusercontent.com/4752733/60721264-a1e51380-9f2d-11e9-854e-23ac5298c71c.jpg)

[2019-07-05 20:30] jekkos commented on #2476
Did anyone had a chance to check this one?

[2019-07-05 20:32] jekkos commented on #2477
This works in current master. Check out the bintray builds (they are back now). Will close for now.

[2019-07-05 20:34] #2474 closed

[2019-07-05 20:36] jekkos commented on #2470
Out of interest: where would you then plan to view those lengthy descriptions? Imo we currently don't really have a view to show data like that properly.

[2019-07-05 20:41] jekkos commented on #2407
So saying that this might be a non issue. I might change this into a feature request as I think that doesn't even work with regular item search. Any opinions?

[2019-07-05 20:44] jekkos commented on #2465
Hmm I feel we should have had a more solid and consistent approach on all this CRUD stuff. But ok moved to 3.4 so I hope someone will find the courage to tackle this at one point in the future.

[2019-07-05 20:48] jekkos commented on #2471
@objecttothis can you confirm if this is a bug or not? Does it need further investigation?

[2019-07-05 20:48] jekkos opened #2485 "Release 3.3.0"
I think we currently only have 2 (or 3) remaining issues open to finish 3.3.0, so think we're almost good to go there. Might be better to release so we get more users using the software and then do fixes in case of critical issues.

[2019-07-05 20:55] objecttothis commented on #2471
Yes I need to investigate further.

[2019-07-05 20:56] objecttothis commented on #2485
Agreed. On Monday I should be able to get to the bottom of the empty report problem.

[2019-07-06 08:04] daN4cat commented on #2407
I would say that aggregate search on multiple attributes is a new feature fro 3.4.0.

[2019-07-06 08:05] daN4cat commented on #2407
We should probably support a search syntax like:

`tag color: blue, condition: new`

[2019-07-06 08:07] daN4cat commented on #2476
@odiea can you please test and confirm?

[2019-07-06 09:51] jekkos commented on #2452
At first sight it looks like the database does contain the item name that he entered in the form, so I'm no sure if this has something to do with `xss_clean()` here. It also does end up in the database according to @andriux1990 comment.

@andriux1990 do you get a proper popup after you create the item with XSS enabled? And does it also create the ospos_inventory table record in that case? If not t

[2019-07-06 09:52] jekkos commented on #2407
Yes some kind of search DSL would be nice here, but indeed lets move to 3.4 as I don't have a direct urge to implement it.

[2019-07-06 10:37] odiea commented on #2476
I downloaded the latest and greatest.
When I first tried to Login this showed.
ERROR - 2019-07-06 04:22:29 --> Query error: Duplicate entry '196uv8866e0f51sujveqdl957mu13j51' for key 'PRIMARY' - Invalid query: INSERT INTO `ospos_sessions` (`id`, `ip_address`, `timestamp`, `data`) VALUES ('196uv8866e0f51sujveqdl957mu13j51', '::1', 1562408549, '__ci_last_regenerate|i:1562408549;person_id|s:1:\"1\";'

[2019-07-06 11:44] Yasaph commented on #2483
Hi there. Sorry for disturbing. All of a sudden, I am no more able to access the articles modules. It says 'I am no right to access the articles modules. Help, please; I am just a novice.

[2019-07-06 16:52] #2477 closed

[2019-07-06 23:52] SteveIreland commented on #2465
I'll take a look at this issue this weekend to see if I can replicate them.  If so I'll go ahead and fix them and you can decide what release it should go in.

[2019-07-07 01:32] SteveIreland commented on #2465
"if you rename a code it adds it as a new entry"

I could not recreate that this issue.  Renaming a code consistently works as expected in my tests.  I'll need to know exactly what sequence of events led to this issue.

[2019-07-07 01:37] SteveIreland commented on #2465
"if you try to remove the old entry it comes back"

Again, I could not recreate this issue.  Now the behavior does "appear" to be there if you don't click on the Submit button before navigating away from the panel.  Deleting a row doesn't actually delete the row until the Submit button is pressed.

[2019-07-07 02:00] SteveIreland commented on #2465
"you can delete the first row, and if you do there is no intuitive means to add it again."

I remember this oddity.  Since the submit button doesn't reload the page the user is definitely at a stand still until they navigate away and return back to the panel where a new line is available for entry.

I think I rationalized not resolving this issue because it makes absolutely no sense for anyone to

[2019-07-07 08:58] daN4cat commented on #2452
@andriux1990 you can disable xss clean in application/config/config.php, see:

[code]

[2019-07-07 11:47] daN4cat commented on #2465
@SteveIreland counterchecked and the two first problems where in the end due to a duplication of tax code in my database. One visible and other deleted, which caused all the behaviour I noticed.

The third one stays, the simple is like in configuration / stock, just remove the - on the first line and that will do.

[2019-07-07 12:39] SteveIreland commented on #2465
I don't think the last stock code should ever be deleted which would be why the minus sign is not on the first row.  But if someone accidentally (or intentionally adds a tax code) then wants to delete it I do want them to be able to delete it and empty the table.

How did the duplicate tax code end up in your database?  Is there a problem in the migration?

[2019-07-07 12:46] daN4cat commented on #2465
I can't remember, it might be that they were preexisting some migration and got like that? I can't say for sure and it's fine.

I close this issue.

[2019-07-07 12:46] #2465 closed

[2019-07-07 19:45] jekkos commented on #1680
Maybe we can do something generic in a base controller that indeed publishes an event on any crud operation. The interface will look the same for every model and events could be published on a event bus eg which others can then subscribe to.

[2019-07-08 13:27] objecttothis commented on #2471
OK, this is indeed a problem.  I am now working with a fresh install of the latest master available (#79e1cc).

If I install a fresh database, then create and item and sell that Item, the Transaction summary report (and others) show the item sale.

If I then take the same code base and migrate a 3.2.3 database not only are all the reports showing up empty for past data but no new sales of either p

[2019-07-08 13:29] objecttothis commented on #2471
My testing between the two different databases was on the same FAMP stack, so it shouldn't be an issue with the stack.  I'm guessing that something was changed in the schema between 3.2.3 and 3.3.0 and not accounted for, but that's a very premature guess.

[2019-07-08 16:56] Yasaph opened #2486 "Hi there. Sorry for disturbing. All of a sudden, I am no more able to access the articles modules. It says 'I have no right to access the articles modules. Help, please; I am just a novice"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-07-08 17:20] odiea commented on #2486
Go to Employees and make sure you have the proper permissions set.

[2019-07-08 22:28] taha1bahrain21 commented on #1607
I am getting this error
( Your system folder path does not appear to be set correctly. Please open the following file and correct this: index.php )
i am using xampp in windows
url location ( http://127.0.0.1/open/public/ )
![Capture](https://user-images.githubusercontent.com/52680687/60846657-f8a05680-a194-11e9-8587-d27dc318f36a.PNG)

[2019-07-08 22:49] odiea commented on #1607
https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20190707102050.master.79e1cc.zip

[2019-07-09 05:46] huseinr2493 opened #2487 "Minor Code 128 issue"
I am using OSPOS 3.2.3 for a garage sale (because why not?)

All of my items have blank "Barcode" fields, so barcodes are generated using the "item_id" field instead. When the item ID is only one digit, a leading zero is added to the beginning of the code. This causes the item to not be recognized by the Sales register when the barcode is scanned.

The leading zero occurs because the data is recog

[2019-07-09 06:07] objecttothis commented on #2485
#2471 is a big enough deal that if it isn't isolated to my system, that we should not release 3.3.0 until it gets resolved.  I just need someone to duplicate the issue to try to confirm that this isn't isolated.  It only seems to affect migrated databases.  New database installs are fine.

[2019-07-09 09:02] daN4cat commented on #2485
I've migrated my 1.1 database twice and work fine.

[2019-07-09 10:09] objecttothis commented on #2471
I did find that the detailed employee report seems to work properly on migrated databases.  I just need to get down to the cause of why these other reports aren't working.

[2019-07-09 10:13] objecttothis commented on #2485
wow, from 1.1 to 3.3.0.  Nice.  So, I'm guessing there are a few differences between 1.1 and 3.2.3.  Were you using any custom fields?  I don't think custom fields were introduced until 2.x.  I wouldn't guess that would make a difference since the reports don't draw from those fields.  If it's just my setup and no one else can replicate then let's release 3.3.0.  What I do know is that if there is

[2019-07-09 10:49] daN4cat commented on #2485
I assume many already upgraded from 3.2.3 to 3.3.0 because we dragged this release for so long.
But we need to find a way to simulate your type of upgrade.
@odiea has custom fields, not sure he did any fresh reupgrade in recent time to check everything is fine?
But if nobody else can reproduce you really need to help here and find the root cause.

Yes I still have a 1.1 live and I'm waiting for 3.

[2019-07-09 10:52] daN4cat commented on #2485
That to say that after 3 years of work on OSPOS I will finally migrate my system.
I'm doing dry runs to make nothing goes terribly wrong as you can't halt a running business.

[2019-07-09 10:59] objecttothis commented on #2485
Perhaps you aren't meaning it this way, but I'm reading this as you saying that I'm trying to pass the work required for figuring out what's causing this off on someone else.

I am committed to figuring out the source of the problem regardless of how the problem got started because it's preventing me from migrating my installs to 3.3.0.  It's just that someone else being able to recreate the probl

[2019-07-09 11:49] objecttothis commented on #2471
Here are a list of the reports that are working properly:
**Graphical**
- Expenses
- Sales Tax (data summary at the bottom displays but graph does not)
- Taxes

**Summary**
- Expenses
- Payments
- Taxes

**Detailed**
- Employees
- Discounts

[2019-07-09 11:59] odiea commented on #2471
@objecttothis If you have a backup sql that you can share I can get it in the Dev room and try it out on my end.

[2019-07-09 12:02] objecttothis commented on #2471
This might warrant its own issue but I figured I'd put it here since it's stopping #2485 from release.
Graphical Payments Report.  When attempting to open the Graphical Payments report I get the following error generated in the log. The diff between the /application/models/reports/Summary_payments.php on 3.2.3 and 3.3.0 is pretty significant.  @daN4cat and @SteveIreland I'm seeing you guys on the

[2019-07-09 12:37] objecttothis commented on #2471
Are you wanting my 3.2.3 or 3.3.0 version?  I'd only be able to send non-identifying data so as not to break any GDPR laws.  I need to figure out what I can send.

[2019-07-09 12:45] odiea commented on #2471
It sounds to me like the migration is not working well. So a copy of the earliest db that needs to be migrated should be the one I am looking for.

[2019-07-09 12:46] odiea commented on #2471
If not I will search my other computers and try to find my earliest db to migrate for testing.

[2019-07-09 12:48] objecttothis commented on #2471
@odiea I've opened up a private chat in gitter, so go there and I will get the file to you.

[2019-07-09 13:02] objecttothis commented on #2471
Converting attribute type from TEXT to DATETIME yields this error.  This was working in the master so I'll look into it, but I'm guessing it is a matter of something not getting regression tested.

ERROR - 2019-07-09 16:59:31 --> Severity: Warning --> Use of undefined constant DATETIME - assumed 'DATETIME' (this will throw an Error in a future version of PHP) /usr/local/www/public_html/pos_empty_r

[2019-07-09 13:04] objecttothis commented on #2471
Yeah, it appears someone changed the constants from DATETIME to DATE but didn't change it everywhere.  I'll submit a pull request.

[2019-07-09 13:19] objecttothis commented on #2471
@jekkos, you removed the valid_datetime() method from the locale_helper in commit 0ae6470 on June 5th, but the reference for it still exist in the Attribute model.  Was this on purpose or an accident?  I just need to know before adding it back in so as not to undo something you were intending.  As it stands now, PHP throws an exception when converting from TEXT to DATE because there is no method.

[2019-07-09 21:02] #2486 closed

[2019-07-10 11:18] objecttothis commented on #2471
Progress.  here is the var_dump from the models/reports/Detailed_sales->getData() method which is supposed to populate that multi-dimensional array with all the data from the temp table associated with the parameters given in the Detailed Transaction Report view.

`ERROR` - 2019-07-10 15:13:26 --> <pre class='xdebug-var-dump' dir='ltr'>
`<small>/usr/local/www/public_html/pos_empty_reports/applicat

[2019-07-10 11:36] objecttothis commented on #2471
In 3.2.3 the Query for creating the sales_items_temp table and populating it is almost identical to the current master.  The difference is:
3.2.3
`					MAX(sales_items.discount_percent) AS discount_percent,`
3.3.0
`					MAX(sales_items.discount) AS discount,`
`					sales_items.discount_type AS discount_type,`

This doesn't seem to be enough to cause the temp table to not populate, so now I'm going

[2019-07-10 12:15] objecttothis commented on #2471
I confirmed for sure that the temp table is being populated properly by doing a var_dump of a select * query after the sales_items_temp table gets populated and it had everything in there.  So either the temp table is getting dropped before getData() queries it (unlikely) or the query in getData() has a problem.

[2019-07-10 12:31] objecttothis commented on #2471
Now I've confirmed that the temp table is NOT getting dropped before getData() gets to it by doing the same select at the beginning of getData() to var_dump all of the data in sales_items_temp and it's all there.  So I've narrowed it down to the getData() method... I need to figure out what about that query is returning an empty result set.  If I were to bet on it, i'd say it has something to do w

[2019-07-10 13:02] objecttothis commented on #2471
@daN4cat @jekkos I'm zeroing in on the problem.  Take a look at the difference between the generated URL in the two reports:
3.2.3
http://[domain redacted]/[base directory redacted]/public/reports/detailed_sales/2019-05-10/2019-07-10/sales/

3.3.0
http://[domain redacted]/[base directory redacted]/public/reports/detailed_sales/2019-05-10/2019-07-10/sales//0

in 3.3.0 OSPOS is adding a '/0' to the

[2019-07-10 13:13] objecttothis commented on #2471
So it's clear to me that the /0 in the URL is the stock_location.  So this seems to be where our bug is.  When you look at the query generated you get:

`SELECT 'sale_id', MAX(CASE`
`			WHEN sale_type = 0 && sale_status = 0 THEN 'POS'			`
`			WHEN sale_type = 1 && sale_status = 0 THEN 'INV'`
`			WHEN sale_type = 2 && sale_status = 1 THEN 'W/O'`
`			WHEN sale_type = 3 && sale_status = 1 THEN 'Q'`
`

[2019-07-10 13:54] odiea commented on #2471
I must be looking at the wrong Report because this is the view I see from Detailed Transaction Report.
![2019-07-10 07_52_34-Window](https://user-images.githubusercontent.com/10962177/60974772-e7b42a00-a2e7-11e9-9d61-f405532dfa59.png)

[2019-07-10 15:17] objecttothis commented on #2471
Wow.  What OSPOS git hash are you using?  I'm using 79e1cc from the other day.  Here is the report that I'm using.
![Detailed Report](https://user-images.githubusercontent.com/17935339/60980981-8e2f1800-a346-11e9-89dd-4b9612744396.jpg)

Here is the Report Input it gives me
![Report Input](https://user-images.githubusercontent.com/17935339/60981186-e5cd8380-a346-11e9-9249-66293534dfa8.jpg)

This mu

[2019-07-10 15:27] objecttothis commented on #2471
OK, here's some further information.  I have only one stock location from the migration after stock locations was added.  If I add a second stock location, then the Stock Location dropdown appears with a default of "all" and the report works properly.

OK, so here is the bug:
- If there is only one stock location
- 0 gets sent to the detailed_sales() function in the Reports controller for the $loc

[2019-07-10 15:41] odiea commented on #2471
Even the Demo Server shows the stock location.

![2019-07-10 09_39_09-Window](https://user-images.githubusercontent.com/10962177/60983169-bee76100-a2f6-11e9-85d4-eff99ff6e3b1.png)

[2019-07-10 15:58] odiea commented on #2471
The payment type was something I added to the Report.

[2019-07-10 16:13] daN4cat commented on #2471
That's probably why I don't see the problem with my migration because stock location was a later addition.
It's probably something that should be fixed in one of the migration scripts. ???

[2019-07-10 17:05] Yasaph opened #2489 "Hi there. How can I customize fields in different forms to only fit my specific need?"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-07-10 17:23] objecttothis commented on #2471
I looked at the data in stock locations and it all looks correct. This seems to me to be a big in the code, so I don't think it's something that can be fixed in a migration script.  We just need to find the bug in the code.

[2019-07-10 18:07] odiea commented on #2471
Did you find out why you do not have the stock location in views. That's possibly why you are getting your 0 stock location

[2019-07-10 18:27] objecttothis commented on #2471
@odiea yes, please read my post 5 posts up. It explains exactly what the bug is.  It's after hours here so I'll have to look at it tomorrow unless someone wants to find it before then. The view that is calling the detailed_sales function is sending it "0" for the stock location id. The logic needs to get corrected to not send anything if there is only one stock location. The drop-down logic also n

[2019-07-10 18:36] odiea commented on #2471
I would suggest downloading the current bintray version and see if the stock location drop down shows and works because it is working in the demo showing 5 to 7 locations.

[2019-07-10 18:52] objecttothis commented on #2471
That's because there is more than one stock location setup on the demo server.  If only one were setup on a migrated database it would break.

[2019-07-10 19:34] odiea commented on #2471
I think I might understand now.

[2019-07-10 20:48] objecttothis commented on #2471
@odiea you don't understand. Even on the current bintray if you add a second stock location it works fine even on the hash I'm using. Trying it with the latest bintray master won't change it unless someone fixed the bug in the code.

[2019-07-10 21:23] odiea commented on #2471
I did finally understand what you were getting at.

[2019-07-11 00:52] SteveIreland commented on #2489
Since you asked a very generic question I will provide a very generic answer

 ... teach yourself, via the numerous tutorials found via Google and YouTube, how to modify PHP script.

... just like I did.

[2019-07-11 03:44] #2489 closed

[2019-07-11 03:44] daN4cat commented on #2489
This is a nonsense, sorry I closed.

[2019-07-11 03:51] daN4cat commented on #2471
I will need to spend some time to read this better, but I wonder if this bug is a specific issue if a specific migration or a more generic one.
With my migrated database I don't seem to reproduce at the moment the issue. Not sure @jekkos can reproduce with his setup, or @steveireland with his?
CI uses the url path as a format to access module/function/param/.... if the param/filter is 0 due to one

[2019-07-11 06:25] jekkos commented on #2471
Thanks @objecttothis for getting to the bottom of this. Still I think it's weird that it's showing empty report as the stock location id should be matching an existing location..

[2019-07-11 06:29] objecttothis commented on #2471
Yes, it is weird.  I will be attempting to find the exact code causing the problem.  I agree that if it's an issue caused by the migration, we need to fix that at the migration level.  If, as I think, it is an issue with the code sending a location_id of zero when there is only one stock location (with migration or without) then that needs to get fixed in the code.  I'll let you know what I find.

[2019-07-11 06:31] jekkos commented on #2471
Just an idea, we have this in the migration

[code]

So the table if only created if it does not already exist. In that case auto increment is set to 0, while the id is not enforced on the stock location. Could it already have existed for some reason? In that case we need to reset the auto increment counter so that the first record gets id = 0 or force the id insert on the record.

[2019-07-11 06:51] objecttothis commented on #2471
I don't know when the stock location feature was added.  I can say that our one and only stock location is called stock and it's id is 1.  Since we didn't set it up, I'm assuming that is the default name given to the stock location if none existed prior.  Why it didn't give it a stock location of 0 is unclear to me based on the code you have above... I'm guessing the code in the migration above ne

[2019-07-11 09:22] objecttothis commented on #2471
In /application/views/reports/date_input.php on line 73 $stock_locations is tested to include it in the dropdown.  a var_dump of that variable with one stock location gives me

`<b>array</b> <i>(size=1)</i>`
`  'all' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'All'</font> <i>(length=3)</i>`

But if I add a second stock location I get the following var_dump
`<b>a

[2019-07-11 09:48] dtomlins commented on #2471
On my migration attempt again, yes, the reports do not work under 3.3, tho they do under 3.2.3.
My migration is all the way from a 2.1  so locations did not exist.
I only have the 1 location for stock.

It originally created apparently in  database/2.2.2_to_2.3.sql

This maybe could happen where location_id = 0, but unlikely. Enforced by the database.
   _location_id = 0 cannot and should never ex

[2019-07-11 09:54] objecttothis commented on #2471
I'm glad someone could duplicate the issue. I think this will be something with the logic in get_allowed_locations(). I'm almost there. I just need a little more time with the code after lunch.

[2019-07-11 12:50] naveen433 commented on #2365
Even same in india also we have paytm, UPI payments(googlepay, Phonepay, BHIM)... Please provide solution for how to add new payments method.. its very useful to global wise.. because many countries are allow digital payments ( qr code scanning).

[2019-07-11 14:15] MoiNKhulna commented on #2054
![12121](https://user-images.githubusercontent.com/50743864/61058247-aa9b8500-a418-11e9-9a9d-b0eef8a26274.jpg)
![313131](https://user-images.githubusercontent.com/50743864/61058250-ab341b80-a418-11e9-8b96-d6fbdb740426.jpg)

[2019-07-11 14:17] MoiNKhulna commented on #2054
how to add this script ????

[2019-07-11 14:35] WebShells commented on #2054
Sorry guys, just noticed that didn't come over the PR lately and did proceed that time since we didn't agree on where to go after this, will an accounting module be added or not... Since what i have done is somehow limited for due reports without payment options or account balance...
Anyway I can have a look again and proceed if we voted on this... Already the payment part was done by @SteveIrelan

[2019-07-11 16:07] criptozuca commented on #1607
Thank you!
finally with these extensions its working beatifully.
version 3.2.3

regards

[2019-07-11 17:33] SteveIreland commented on #2471
I tried to play games once with a zero key in an auto increment field (for obvious reasons) and was burned by it.  I don’t think it was permitted by the particular flavor of the database I was using. So I don’t do that anymore.

[2019-07-11 17:48] daN4cat commented on #2471
@dtomlins on the unrelated issue, the filter by transaction date allows people to search which items were changed during a period of time. Now somebody could argue that's not only required and maybe the time filter in items could be disabled and enabled only if required. That will save the join and time filtering latency.

[2019-07-11 18:23] dtomlins commented on #2471
@daN4cat on the unrelated, I agree on the filtering IF required.  I'll look again later (after 3.3 likely).  Looking for transactions within a timeframe is very useful, but looking to receive or edit a product (without the null transaction present) is where I found it.  Or actually couldn't.  That is part of why I stalled upgrading until I could handle all the quirks.  Lots in the new I want, but

[2019-07-11 19:04] odiea commented on #2471
@daN4cat . I will take responsibility for the Date Time filter in Items. Years ago I was hoping to use ospos in her thrift store. The Items module was more like an Inventory Module and her help would not have been able to add items then print the barcodes as it was. You added the Date Time  filter which was helpful but she noticed other issues like not being able to put tags on sale for date perio

[2019-07-11 19:07] objecttothis commented on #2471
OK, I finally have gotten to the bottom of the issue... I think.

In the Stock_location model the get_undeleted_all() function is being called by the get_allowed_locations() which is where the "stock" location is now showing up in the query.

`	public function get_undeleted_all($module_id = 'items')
`	{
`		$this->db->from('stock_locations');
`		$this->db->join('permissions AS permissions', 'permis

[2019-07-11 20:02] dtomlins commented on #2471
@odiea putting items on sale for time periods is one of my to-redo's.  When date specified, the filter in items is great too.  /d

[2019-07-11 20:03] objecttothis commented on #2471
The code above is generating the following SQL:
`SELECT *`
`FROM 'ospos_stock_locations'`
JOIN `ospos_permissions` AS `permissions` ON `permissions`.`location_id` = 'ospos_stock_locations'.'location_id'`
`JOIN 'ospos_grants' AS 'grants' ON 'grants'.'permission_id' = 'permissions'.'permission_id'`
`WHERE 'person_id' = '1'`
`AND  'permissions'.'permission_id' LIKE 'sales%' ESCAPE '!'`
`AND 'deleted'

[2019-07-11 20:06] objecttothis commented on #2471
"Stay on target, Porkins.  Stay on target."  Gold star if you guess the movie without looking it up... but seriously, let's keep this thread to the original issue. ;)

[2019-07-11 20:18] dtomlins commented on #2471
@objecttothis Running that query gets me an Empty Set.

My basically default permissions location_id is NULL except:
  items_  items  2
  items_stock  items 1
  receivings_  receivings 2
  sales_      sales  2

I never had a location_id of 2

ospos_grants seems to be modified by assigning a permission to the office or the home group - IOW which menu it appears on.

[2019-07-12 08:44] objecttothis commented on #2471
OK, sorry, I was looking at the wrong database up above.

YREKA!!!! The problem is with the data after all.  Ready for my Sherlock Holmes presentation!?

Here is the permissions table on my non-migrated 3.2.3 database
![3 2 3 - One Stock Location](https://user-images.githubusercontent.com/17935339/61112623-51296980-a49d-11e9-8c43-fe83fcdcb2a8.jpg)

Here is the permissions table on my migrated 3.3.

[2019-07-12 08:51] objecttothis commented on #2471
Either way, I will get started writing the migration code to update the location_id on sales_[location_name] and receivings_[location_name].  It will need to be in the up() method because I need to use php to pull the name of the stock location with location_id = 1 just in case the user changed the name from "stock" to whatever they want.

[2019-07-12 11:11] objecttothis commented on #2485
OK, I created PR #2490 to correct the problem with empty reports.  See #2471 for more details.  Please see my comment on the PR before merging because we have a decision that needs to be made regarding what to patch and what not to patch.

[2019-07-12 12:43] objecttothis commented on #150
@opensourcepos/org I am personally interested in seeing this happen, but it sounds like we need to put our heads together to define the end result wanted and define the best way to achieve that with the data and code.  Our company is currently using stock_locations to define multiple store locations and in its simplest form it works, but there are limits to that usage.

While creating multiple dat

[2019-07-12 12:49] objecttothis commented on #1433
@daN4cat it's been awhile on this.. Any update?  I think it would be nice for OSPOS to have a robust report builder.  My staff frequently ask me for reports that I have build by hand with MySQL, but with a robust enough report builder, would be easy for them to do themselves.  Like other things, I'd be glad to help, but I don't know what the status of things are.

[2019-07-12 13:14] andriux1990 commented on #2452
It is true. I did a test and after showing nothing, now if you show me last page
![Screenshot_2019-07-12 Farmacia Matthew Express 2 Potenciado por NMP 3 3 0](https://user-images.githubusercontent.com/29256343/61130698-853c6480-a474-11e9-94d7-6719b80e2c69.png)
Thank you

[2019-07-12 13:39] daN4cat commented on #2452
@andriux1990 that's for the workaround but not sure if we can do something about it outside CodeIgniter. We'll need to investigate starting from Code Igniter.

[2019-07-12 13:42] daN4cat commented on #1433
No progress as I didn't have time.

You can always run Reportico outside OSPOS reading the same database.
Build the templates for your report and copy over later. But if you find the time you can try and integrate it in OSPOS.
I'll check over the weekend the branch and refresh it.

[2019-07-12 17:01] andriux1990 opened #2491 "Restaurant tables"
I started using restaurant tables.

With 8 tables. I wanted to work in the following way.
Every time a table asks for something, just add it to the car and suspend the sale, because if they want to ask for more, I only restore the sale, add more to the car and suspend it again until the sale is completed.

I have the following problems, if I cancel the whole order of a table, I will clear the tabl

[2019-07-12 17:09] andriux1990 commented on #2491
![Screenshot_20190712-110545_Chrome](https://user-images.githubusercontent.com/29256343/61145743-73b78480-a495-11e9-8b0f-d4b327815744.png)

![Screenshot_20190712-110715_Chrome](https://user-images.githubusercontent.com/29256343/61145761-7d40ec80-a495-11e9-81fe-fbe043b3870d.png)

[2019-07-12 18:01] WebShells commented on #2491
That's your problem i guess 😂

[2019-07-12 18:05] WebShells commented on #150
@objecttothis I can take a part of that if i wasnt assigned to complete dues reports..  @jekkos mentioned before that he already made alot of progress regarding this... There are several things to take into consideration, receipt printing assigning stock location address and specific phone number, different tables for people who are using OSPOS for restaurants, cashups module, etc...
I would like

[2019-07-12 18:09] andriux1990 commented on #2491
@WebShells Sure, it's a problem of mine, and I'm trying to solve it. But it is a limitation of ospos. You can see it in the ospos demo and therefore it concerns all

[2019-07-12 18:10] daN4cat commented on #2491
@andriux1990 do you sell drugs in your restaurant? I'm confused....

[2019-07-12 18:14] andriux1990 commented on #2491
Oh my God!
I'm sorry for my bad translation, I express myself badly

[2019-07-12 18:17] WebShells commented on #2491
It's fine 😂 am still trying to find an issue for us to worry about... You can simply NOT cancel the table... Can you please rephrase your problem?

[2019-07-12 18:17] daN4cat commented on #2491
In one case you talk about drugs (gotas nasales), here table in a restaurant... 🤔

[2019-07-12 18:19] andriux1990 commented on #2491
I do not have any restaurant, I just gave you an example that the function for restaurant tables is defective

[2019-07-12 18:24] odiea commented on #2491
He is correct on his issue. Enable dinner tables. Create a sale for a table. Suspend it. Unsuspend it. Then Cancel the Sale. It is not changing the Table status back to 0 in dinner_tables so that the Table can be used again.
![2019-07-12 12_22_16-localhost _ MySQL _ ospos3 _ ospos_dinner_tables _ phpMyAdmin 4 7 9](https://user-images.githubusercontent.com/10962177/61150074-c39b4900-a49f-11e9-95da-

[2019-07-12 18:25] daN4cat commented on #2491
Right... that feature was contributed a while back by somebody but never looked after properly.
I don't have personal motivation to spend time in this.
In my opinion there should be another view dedicated to restaurant needs.

[2019-07-12 18:28] andriux1990 commented on #2491
![IMG-20190712-WA0003](https://user-images.githubusercontent.com/29256343/61150070-c1d18580-a49f-11e9-9719-f56cc499e71b.jpg)
I have 5 tables, but the problem is that tables T3 and T4 disappeared in the sales module
![IMG-20190712-WA0004](https://user-images.githubusercontent.com/29256343/61150353-7d92b500-a4a0-11e9-8c26-1873de48d220.jpg)

[2019-07-12 18:34] daN4cat commented on #2491
Time to dig out the bug guys...

[2019-07-12 19:01] WebShells commented on #2491
Alright got it now... Sorry for not getting you the right way... Personally never used restaurant tables, but i agree with @daN4cat more preferred to load a different view for restaurant including printing modules for different categories and other features, although i dont think it is what we are aiming for OSPOS...
Or else huge load of work is waiting for us... Recipes, ingredients, stock units.

[2019-07-12 19:25] odiea commented on #2491
I probably have this in the wrong place but it is working for me.
[code]

[2019-07-12 23:23] andriux1990 commented on #2491
thank you @odiea  also works for me

[2019-07-12 23:29] odiea commented on #2491
I removed it because it appeared to clear all the table statuses. So you may have to unsuspend  then re suspended the tables again so it shows the tables are not available.

[2019-07-13 06:12] ekardian commented on #2471
i'm going to test it in a a real store with 2 stock, this sunday, from 3.2.3 - 4f5ad57 to 3.3.0

[2019-07-13 06:53] objecttothis commented on #2471
Super.  It should work fine.  With two stock locations, the thing to look for is if, when in the datepicker for reports, the stock location dropdown options should be "All", then the names of each of your stock locations.

[2019-07-13 11:39] odiea commented on #2491
This is a little more refined. It only changes the status on the sale that is being cancelled.
[code]

[2019-07-13 15:20] andriux1990 commented on #2491
Thanks for your help. works very well

[2019-07-13 15:25] andriux1990 commented on #2491
what can be done so that when a sale that has been suspended in table 4 is resumed, for example, it loads in table 4. since by default it always puts the first table

[2019-07-13 15:28] odiea commented on #2491
It does appear to load that table but the drop down just shows the First table after a reload.

[2019-07-13 15:33] andriux1990 commented on #2491
It's true, but after so many times someone could get lost and not know which table is

[2019-07-13 16:47] odiea commented on #2491
I am not a programmer so the only thing I can offer is a bandaid for the register. In application/views/sales/Register.php after line 42 add the following. This will show the current table in use next to the drop down.
[code]
![2019-07-13 10_45_57-Odies Test _ Powered by OSPOS 3 3 0](https://user-images.githubusercontent.com/10962177/61174304-79779d80-a55b-11e9-950e-4eece972bae0.png)

[2019-07-14 01:22] SteveIreland commented on #150
My guess is also that those sites that are using locations are using them as a poor substitute for stores.

I'm trying to learn Laravel and I like to learn "hands on".  Of course, my first exercise of choice is to migrate OSPOS over to Laravel and my first subproject is to transform locations to represent either store locations or locations that belong to a particular store.  Fortunately I'm still

[2019-07-14 02:31] andriux1990 commented on #2491
it works thank you @odiea

[2019-07-14 11:42] #2443 closed

[2019-07-14 13:18] daN4cat commented on #150
Re code OSPOS in Laravel from CI sounds a bit of a work.
I'm not sure how that could help making OSPOS multi location.
It's all down to how the data model is designed.

[2019-07-14 13:21] WebShells commented on #150
I was thinking the same... That would be somehow a bunch of work...

[2019-07-14 13:24] SteveIreland commented on #150
Right ... I wasn't suggesting that it would help in making OSPOS multi-location.  I was just offering my thoughts on the data model design.   Sorry.

I did say that it was an exercise for me to learn Laravel.  The work effort is irrelevant at this point.

[2019-07-15 09:05] MoiNKhulna commented on #2054
add supplier and customer due and payment Summary Reports !!

[2019-07-16 01:11] SteveIreland commented on #2452
I researched this awhile back when I was chasing down a similar earlier issue earlier and found a thread on the CodeIgniter site where it appeared that the lead developer was getting frustrated with people complaining about this issue.  In a nutshell, he said it's the way it is because the "ethical hacker" community determined that these were the protections it needed and he was not inclined to ma

[2019-07-16 04:16] daN4cat commented on #2452
What was the workaround in tax code?

[2019-07-16 04:26] daN4cat commented on #150
To have an application in mind is a good way to learn a new language, framework or paradigm.

[2019-07-16 06:39] daN4cat commented on #150
Laravel GraphQL server: https://github.com/nuwave/lighthouse

[2019-07-16 12:35] SteveIreland commented on #150
Thanks for the insight.   It looks interesting and certainly compatible with Laravel which seems to have somewhat assimilated the RestAPI paradigm.  I'll dance with it for awhile.

[2019-07-17 06:26] daN4cat commented on #2491
Is there any code to fix in 3.3.0 to get this to work fine? I see this got closed.

[2019-07-17 09:36] odiea commented on #2491
Only if you want to copy and paste the code I submitted for this.

[2019-07-17 09:41] WebShells commented on #2491
@odeia it will show current table being used and after suspension will it release the tables list back? 🤔 Or what

[2019-07-17 09:47] odiea commented on #2491
That is what it appeared to do. The main issue was trying to Cancel a suspended Table.

[2019-07-17 11:58] SteveIreland commented on #2491
I like easy ones .... especially if a solution is already available ... if no one jumps on this before I do then I'll be happy to permanentize the solution provided by @odiea.

[2019-07-17 12:02] WebShells commented on #2491
We go for it then if all seems ok with it 👍 Personally i have no problem...

[2019-07-17 15:44] daN4cat commented on #2491
Go for it and thanks for the help.

[2019-07-18 03:27] SteveIreland commented on #2491
Downloaded the latest master from bintray and noticed that the new items I set up were not being listed in the table. But since they were being created properly in the database I proceeded to work on this issue.

I wanted to confirm the issue still existed and did manage to confirm that there was a problem and I'm working on fixing that particular issue.

As I understand the rules, the app should

[2019-07-18 10:33] objecttothis commented on #2485
Also, I am traveling between now and October 15th and will have minimal time to make commits unless there is a bug I caused which is preventing 3.3.0 from releasing.

[2019-07-18 15:47] daN4cat commented on #2485
Okidoki.

[2019-07-18 18:27] engehab87 opened #2492 "Having a New Module that acts the same as Cashup module, but for Customers Balance"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-07-18 18:28] engehab87 commented on #2492
i don't know how to do it in OSPOS, anyone could help ?

[2019-07-18 18:32] WebShells commented on #2492
Hello @engehab87 actually it's very different than what we are currently suggesting for the customer balance and spent amount... So you might either need to wait or try to apply the changes yourself 🤷‍♂️

[2019-07-18 18:50] engehab87 commented on #2492
Actually I'm trying to do it myself, but I'm not able to do it. Been
working on it for a while but don't know where is the issue.

I will be waiting for the result then from what you are working on.

On Thu, 18 Jul 2019, 22:32 WShells, <notifications@github.com> wrote:

[2019-07-19 09:52] judesilva123 opened #2493 "Hide Profit from employees"
i want to hide Profit from employees...can you help me to do it?

[2019-07-19 11:21] Akosile2000 opened #2494 "After Installing, to navigate to the app"
Your system folder path does not appear to be set correctly. Please open the following file and correct this: index.php

This is the error am getting

[2019-07-19 11:25] odiea commented on #2494
https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20190714124155.master.fa71bc.zip

[2019-07-19 11:28] Akosile2000 commented on #2494
I should download this right

[2019-07-19 11:33] odiea commented on #2494
Yes. This should work as expected.

[2019-07-19 11:46] Akosile2000 commented on #2494
Okay
Have download it can you send the install procedures

[2019-07-19 11:46] Akosile2000 commented on #2494
Sorry for disturbing...Just that this setup has been giving error since yesterday

[2019-07-19 11:51] odiea commented on #2494
https://github.com/opensourcepos/opensourcepos/blob/master/INSTALL.md

[2019-07-19 12:03] Akosile2000 commented on #2494
Modify application/config/config.php encryption key with your own

I dont understand this
Can you explain please

[2019-07-19 12:16] odiea commented on #2494
Ignore it. It will create an encryption key for you.

[2019-07-19 12:18] SteveIreland commented on #2494
It will?  I didn't know that!  :-)

[2019-07-19 12:26] SteveIreland commented on #2485
A couple of days ago I mentioned on another issue that when I downloaded and installed the latest version of OSPOS from bintray I stumbled across an issue with the display of items.  When I added an item it was not listed (although it was successfully written to the database).  I didn't have time to chase that issue down at the time.  But I'll try to replicate it this weekend and identify the sour

[2019-07-19 13:10] Akosile2000 commented on #2494
The installation is not correct, check your php.ini file.
A database migration to 3.3.0 will start after login.

That's the error am getting now ...I cant login

[2019-07-19 13:35] Akosile2000 commented on #2494
Please what can I do

[2019-07-19 13:37] odiea commented on #2494
Read

[2019-07-19 13:39] Akosile2000 commented on #2494
Read what?

[2019-07-19 13:39] Akosile2000 commented on #2494
The installation is not correct, check your php.ini file.
A database migration to 3.3.0 will start after login.

How do I resolve this

[2019-07-19 13:41] Akosile2000 commented on #2494
Please are you there?

[2019-07-19 13:42] WebShells commented on #2494
@Akosile2000 that's normal at first login for migration to happen... Please go through previos issues...

[2019-07-19 13:43] Akosile2000 commented on #2494
Sorry please which previous issues

[2019-07-19 13:44] Akosile2000 commented on #2494
I can't locate  the php.ini file sef

[2019-07-19 13:45] odiea commented on #2494
Read the wiki and the issues. Plus you should have read the Issue template. It applies to everyone.

[2019-07-19 13:46] jekkos commented on #2485
Hi Guys, also leaving on holidays next week, I had quite a busy week so not a lot of time to wrap this up. Indeed @SteveIreland this seems to be something we need to check first.

[2019-07-19 13:46] Akosile2000 commented on #2494
Yeahhhhhh
But how can I solve it
You should have a solution to the issue na

[2019-07-19 13:48] daN4cat commented on #2485
Hope it's not related to the issue with %, right?

[2019-07-19 13:50] Akosile2000 commented on #2494
Have tried reading through Wiki.... I can't see the solution

[2019-07-19 13:52] daN4cat commented on #2494
@Akosile2000 this is not an application that gets installed if you don't have prior knowledge of how to deal with your system and php based applications.
If you want the Google Play click and install experience I would suggest to consider buying a SaaS POS solution
OR
do a bit of homework and learn how to install php applications, deal with web server config and etc.

[2019-07-19 13:54] daN4cat commented on #2494
@SteveIreland yes, at the time I implemented a self key generation and save feature.
Due to the fact it's important to have one, if you don't know what to do and don't touch that entry in config.php OSPOS will do for you the first time.

[2019-07-19 14:16] Akosile2000 commented on #2494
Okay
Nobody can help me further now

[2019-07-19 14:28] odiea commented on #2494
Not if you can't help yourself

[2019-07-19 20:25] yeffer2 commented on #1728
It works with: https://www.palemoon.org
all addons from firefox suport

[2019-07-19 21:01] nyenius commented on #1155
Just Info. On my search for solution I find that server error 500 can be caused by Error establishing a database connection.

And I **Solved** this problem by filling out the database credentials correctly.

[2019-07-19 21:56] #2492 closed

[2019-07-19 23:12] Akosile2000 commented on #2494
Okay
Thanks man
Have finally login

[2019-07-19 23:31] WebShells commented on #2494
Will close..

[2019-07-19 23:31] #2494 closed

[2019-07-20 04:18] daN4cat commented on #2494
Good good, you found your way.

[2019-07-20 07:39] sapdenny opened #2495 "OSPSO Auto logout"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-07-20 08:38] daN4cat commented on #2495
PHP 7.2 is not supported by 3.2.3.

[2019-07-20 08:38] #2495 closed

[2019-07-20 16:40] shiftcm commented on #1851
This is very easy just thinking  try to search  hash password version 2 in gg then go to https://www.php.net/manual/en/function.password-hash.php
and scroll down to sample password with hash copy hash code (long charactor) and put it in to your DB of your OSPOS in employee table, Go to your site refresh and login with sample password in link above GOTHA! you can login and go to change to your pass

[2019-07-20 18:32] daN4cat commented on #2471
I close this because it's fixed.

[2019-07-20 18:32] #2471 closed

[2019-07-20 18:34] daN4cat commented on #2476
Is this still an issue?

[2019-07-20 18:35] daN4cat commented on #2452
@SteveIreland any answer to my question above?

[2019-07-20 18:56] odiea commented on #2476
I downloaded the current bintray Master. I created a new db for this test. I created an Item. I went to attributes and created a text attribute to show in all 3. Went back to Items. No Items displayed in the table. Went back to Attributes. Removed the check mark to display in Items. Went back to Items. The table showed. I added an item text attribute . went ok. Re enabled text attribute to show in

[2019-07-20 19:30] SteveIreland commented on #2491
A pull request has been submitted for this issue.

The selected table isn't flagged as occupied until the order is first suspended.

As noted in the previous post, the table stays occupied until  the sale is canceled or completed.

Cancelling or completing the sale will release the table.

I added the ability to swap tables which will release the previous table and flag the new one as occupied (al

[2019-07-20 19:40] SteveIreland commented on #2452
Oh, sorry ...

`<?php echo (float)$tax['tax_rate'] . '% ' . $tax['tax_group']; ?>`

Originally I was formatting this into a data[] element.  But to work around the CodeIgniter issue I simply took the percent sign out of the way and built the string on the fly in the view itself.

When the percent sign was in the string passed to xss_clean then unpleasant and smelly stuff would happen.

[2019-07-20 19:44] SteveIreland commented on #2452
Are we sure that the item listing is failing because of the xss_clean issue?

As I mentioned a couple of times before, when I add a new item they are not included in the item list at all even though they are added to the table.  I'm not doing anything except adding a basic test item with the description "Item 1" or "Item 2" and they are still not displaying.

[2019-07-20 19:47] daN4cat commented on #2452
Yes, setting the flag false solves the problem. Read above.

[2019-07-20 19:51] SteveIreland commented on #2452
ok ... got it

[2019-07-20 19:51] daN4cat commented on #2476
Ok, prod is fine. I moved to 3.4.0 as this is not a blocker.

[2019-07-21 10:54] jekkos commented on #2476
Probably a php warning that does not occur in production mode indeed.

[2019-07-21 17:34] odiea commented on #2491
It would be best if someone else who uses this feature would download the dinner table fix in Bintray for more testing. Currently @SteveIreland has done a great job doing the necessary repairs on this feature.

[2019-07-23 01:42] SteveIreland commented on #2491
It's been merged.   If someone finds an issue please let me know.

[2019-07-23 01:42] #2491 closed

[2019-07-23 07:07] Sufisoy commented on #2283
follow

[2019-07-23 08:19] daN4cat commented on #2283
@Sufisoy what's that?

[2019-07-23 14:05] odiea opened #2497 "Current Demo is not displaying the Items Table."
OSPOS Installation Info: 3.3.0 - 0491c1
Language Code: en-US

Extensions & Modules:
» GD: Enabled ✓
» BC Math: Enabled ✓
» INTL: Enabled ✓
» OpenSSL: Enabled ✓
» MBString: Enabled ✓
» Curl: Enabled ✓

User Settings:
.Browser: Chrome
.Server Software: Apache/2.4.25 (Debian)
.PHP Version: 7.2.18
.DB Version: 5.5.5-10.1.21-MariaDB-1~jessie
.Server Port: 80
.OS: Linux b3a59db8ede2 4.15.0-42-generic #4

[2019-07-23 14:10] odiea commented on #2497
They will show after empty barcodes filter is selected

[2019-07-23 19:15] amaddurrani commented on #1607
Just follow
https://github.com/opensourcepos/opensourcepos/wiki/Installing-%22opensourcepos%22-in-windows-and-localhost
download and enjoy

[2019-07-24 00:26] SteveIreland commented on #2497
What's the secret for displaying items with barcodes?

[2019-07-24 00:45] odiea commented on #2497
For some reason I think it may be relayed to the language or locale.

[2019-07-24 02:54] SteveIreland commented on #2497
I don't believe that language or locale has anything to do with it.

I took a cue from you and started playing with the filters.

When I select today's date or any date range the items started appearing again.

So it appears to be an issue with the initialization of the date filter.

[2019-07-24 05:00] daN4cat commented on #2497
The date filter was touched with the date attribute change. Worth checking if that introduced a regression.

[2019-07-24 10:06] ronaldhuynen commented on #2497
Hi, it seems I have an isssue related to this.

I'm using 3.3.0 - fa71bc with a database migrated from 3.2.3. Here too the item list is (partly) empty. New items are not displayed. Even when I switch the filter for empty barcodes on. I've tested all fillter settings (date ranges, locations, etc) without any result.

As soon as I create or update an item from within the Items module, the item will

[2019-07-24 11:16] odiea commented on #2497
Can anyone find when this build was committed. OSPOS Installation Info: 3.3.0 - 0491c1. I do not see it in bintray.

[2019-07-24 11:35] daN4cat commented on #2497
@ronaldhuynen how many stock locations do you have?

Have you manually created entries in the database in the past?

[2019-07-24 11:37] daN4cat commented on #2497
@odiea if you use a git client you should see an hash code for each commit. The final part is the code you see in OSPOS.

[2019-07-24 11:44] odiea commented on #2497
It appears this was committed on June 16 2019. With all the current changes I believe a newer branch should be put up for the demo.

[2019-07-24 12:42] ronaldhuynen commented on #2497
Sorry I'm new to Git and I'm also no developer - but happy to test.

@daN4cat, I have 3 stock locations. I did change some values manually in my database. But only simple vaue changes, no extra rows / columns / constrains etc.

But now I've found probably the root of my issue. For testing I now also installed the latest master from Bintray ( 3.3.0 - ac6d5e, 2 days old ) and used a new and clean da

[2019-07-24 18:38] andriux1990 opened #2498 "Install ospos Windows"
I'm trying to install ospos on Windows
all separately as it is done in Linux, in Linux it is very easy just install apache2, PHP and its modules and mariadb and voila.
In Windows I want to do it in the same way without programs that already contain everything such as wampserver and xampp
because wampserver is very slow compared to Linux.
and I think it's more professional and practical because I w

[2019-07-24 18:51] daN4cat commented on #2498
I would say..... buy a Raspberry Pi and it will be faster and cheaper than a Windows laptop.

[2019-07-24 19:11] andriux1990 commented on #2498
I have thought about that, in fact I want the raspberry pi 4 but it has problems, I also have a Windows computer and I want to do it to learn, I like to do it the hard way, since wampserver is easy. and I don't want to depend on such a program.

But I have tried for 3 days and I have not succeeded, so I ask for help.

[2019-07-24 21:23] odiea commented on #2498
Create a linux server virtual machine on your windows pc?

[2019-07-24 22:53] odiea commented on #2491
@daN4cat . You mentioned tables should have it's own View. Would it be as simple as copying the current register then rename it dinner_table. Then remove Dinner tables from the current register view. Then adding the new view to the sales controller?

[2019-07-25 01:36] SteveIreland commented on #2491
I think the intent of the new view is to make it look a lot closer to what current restaurant POS systems have.  Item selection would be more "food menu" oriented and  stuff like that.

[2019-07-25 06:53] daN4cat commented on #2498
You can run on Raspberry Pi 3 no problem. It's all down to the speed of disk you use in the end when it comes to access the database.

[2019-07-26 01:35] SteveIreland commented on #2498
I use Windows and started off installing the individual components but then flipped over to WampServer simply because it provides a lot of flexibility regarding swapping out different versions of individual components.  I've never noticed any degradation in performance due to Wampserver.  All it does is install the necessary components.

[2019-07-26 20:43] groverharleen opened #2499 "view to save ajax isn't passing params"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-07-27 07:46] daN4cat commented on #2499
MySQL 5.0?

[2019-07-27 19:13] andriux1990 commented on #2498
Thanks for the suggestions and comments. In the end use the virtual machine.

[2019-07-27 19:13] #2498 closed

[2019-07-27 21:39] waploaj opened #2500 "[Question] why do we multiply 'quantity' and 'receiving_quantity on receiving model"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-07-27 21:51] odiea commented on #2500
Because when you multiply the receiving quantity by 0 you do not get the correct result.

[2019-07-27 21:52] odiea commented on #2500
Receiving qty was and may still be a multiplier

[2019-07-27 22:29] waploaj commented on #2500
so in a case of return an item we

what am asking is if i change
`
			$items_received = $item['receiving_quantity'] != 0 ? $item['quantity'] * $item['receiving_quantity'] : $item['quantity'];`
 to
`
			$items_received = $item['receiving_quantity'] != 0 ? $item['quantity'] : $item['quantity'];`
is it the same thing?

[2019-07-27 22:39] odiea commented on #2500
All you can do is try it and see what happens.

[2019-07-27 22:42] #2500 closed

[2019-07-27 22:43] odiea commented on #2500
Just check your inventory levels and see how the sales at the register look.

[2019-07-27 22:59] jefenga opened #2501 "how do customer point added on ospos_customer"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-07-27 23:21] odiea commented on #2501
https://github.com/opensourcepos/opensourcepos/issues/2032

[2019-07-27 23:45] odiea commented on #2501
It gives the Customer a % of their sale total. If rewards is set at 10 and a sale of 12.08 is made he then gets a reward value of 121. or 1.21 in us currency.

[2019-07-28 00:54] SteveIreland commented on #2500
The receiving quantity is reflects how many units of the received item is to be added to inventory.  If you change the system and try to put 0 in the receiving quantity then you've broken the system and it won't behave properly.  Receiving quantity cannot be zero.

[2019-07-28 01:14] odiea commented on #2500
They learn by their mistakes.

[2019-07-28 05:26] scottie01 commented on #1479
Is it normal that customers and not suppliers are searchable/selectable when creating a purchase order? I don't seem to be able to select suppliers at all from the sales module screen. Should I be creating them elsewhere or having my suppliers duplicated in my customer list? It's probably my mistake?

[2019-07-28 07:11] daN4cat commented on #1479
Unless mistaken purchase order is not implemented, therefore I'm not sure what you are after there.

[2019-07-28 08:21] scottie01 commented on #1479
Thanks DaN4cat, I'm very new to Git and hadn't looked through the wiki well enough. I was trying to use work order to generate a purchase order. My Apologies. Thanks so much to all of you for such a cool app. In my business purchase orders are critical control docs. I can see now that I will be far better off if I use work orders too. I feel very embarrassed.

[2019-07-28 11:27] #2501 closed

[2019-07-28 19:52] daN4cat commented on #1479
Work order is something that involves you as active producer of something (a service or selling of goods).

Purchase order is a buying phase.

Therefore the two are different things.

[2019-07-29 00:15] scottie01 commented on #1479
I read the wiki now. I think I've got it now. Thanks for taking the time for explanation.

So in my business I'm a Tyre shop. We'd use work orders to issue to our staff to do work (Like a job sheet) so they're clear on the customers expectations which we've entered into the work order. Once the work is complete, the staff member can add their charges (we have standard charges saved as Item Kits) a

[2019-07-29 01:56] SteveIreland commented on #1479
You are correct on the use of the work orders.  I set that up a client to use in an auto repair shop.  Unfortunately for me they partnered up with a larger organization that required that they use that organization's software, so they are no longer a client of mine.  Which means that the purchase order module is no longer on my radar to develop anytime soon.

However, if you find that you need som

[2019-07-29 02:18] scottie01 commented on #1479
Hi SteveIreland, Thanks for your contact. Yes, I'm very keen to be able to use the purchase order module. I'm currently using the work orders as purchase orders incorrectly on purpose by adding key suppliers to my customer list from the sales screen when creating the work order to be used as a purchase order. I renamed the work order to work/purchase order. I currently need to enter negative quant

[2019-07-30 04:17] Two-Two-One opened #2502 "Docker local set up error"
I have tried installing using docker but keep getting error with nginx exit on code 1
Os Ubuntu 18.04

[2019-07-30 06:44] w002qaa opened #2503 "Error: Unable to load the requested file"
Hello Everyone,

I am using OSPOS v3.2.3. I did modified some line in the code. Suddenly, I got an error after I clicked the complete sale button.

Is any way to debug the error?

[2019-07-30 09:43] odiea commented on #2503
What is the name of this mysterious .php that appears to be missing. It should say receipt.php or default_receipt.php

[2019-07-30 10:50] w002qaa commented on #2503
Hi @odiea
I got the problem. In table _ospos_app_config_  the receipt_default was empty, and that cause the problem.

Thanks

[2019-07-30 10:54] #2503 closed

[2019-07-30 15:52] waploaj opened #2504 "[Question] What does column "line" in tables of sale_item and sales_items_taxes meaning"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-07-30 21:25] scottie01 opened #2505 "Please rekindle the proposed Purchase order development per #1479"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [X] Reporting an issue of an unmodified OSPOS installation
- [X] Checked [open and closed issues](https://github.co

[2019-07-31 01:11] SteveIreland commented on #2504
Line is part of the composite key to uniquely identify an entry on the sales_item table.   If the same item is added multiple times to a sale then the line number is incremented.   An item can be added two or more times to an order if the item sale includes serial number tracking.

Hopefully I've provided a clue as to why the line number exists.  It could probably be better named, but that is what

[2019-07-31 05:42] daN4cat commented on #2504
Is 3.2.2 really working with PHP 7.2?

[2019-07-31 10:57] scottie01 commented on #2428
Hi abdulhamid-gha... I'm no expert or dev, just another user. I'm running 3.2.3 too. It seems you may be entering stock items from either the new item selection button on the sales module screen or in the Items module, without wholesale pricing?

[2019-07-31 12:36] waploaj commented on #2504
Yes but when i insert stock_location on db manually sometimes wont work well, sometimes even when i assign an employee permission it shows a message that "You have successfully updated employee" , but it does not give that permission on a user unless i insert on web stock_location one by one which is kind of annoying consider i have 42 stock_location.

[2019-07-31 13:39] odiea commented on #2504
Are you using your suppliers as a stock location.

[2019-07-31 14:12] waploaj commented on #2504
no am not using suppliers as a stock location.
 English is not my mother tongue; please excuse any errors on my part.

[2019-07-31 14:23] odiea commented on #2504
It just appears to be an overwhelming amount of locations.

[2019-07-31 14:23] waploaj commented on #2504
so what is the limit of location

[2019-07-31 14:32] #2504 closed

[2019-07-31 14:32] odiea commented on #2504
There is not any. But unless you manually edit out Items from each location it should have your full Inventory stored in each location. It just seems like a lot of overhead. But I may be wrong.

[2019-07-31 15:15] SteveIreland commented on #2505
My focus at the moment is on learning Laravel but what I can do is use the purchasing system as a learning project.  So I will implement the purchasing system in Laravel and then you can decide if you want to use it.  I think that would make @jekkos happy because then he doesn't have another module to support in OSPOS should I have a heart attack.

I've just about finished my prep work and will be

[2019-07-31 15:54] esturniolo opened #2506 "User log [Question]"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2019-07-31 17:29] daN4cat commented on #2506
Yes, in items select the icon on the right with inventory feature and you will get the transaction history.

[2019-07-31 18:42] esturniolo commented on #2506
Great!!!! I see it now!
Thanks @daN4cat

[2019-07-31 18:42] #2506 closed

[2019-07-31 19:16] ronaldhuynen commented on #2485
About the issue that Items are not added in the Items module:

I also installed the latest master from Bintray ( 3.3.0 - ac6d5e) and used a new and clean database.
After the install, I succesfully created and updated 6 different items. Everything worked fine. But after I created an Attribute Decimal type, the Item list was completely empty. When switching off the visibility of this Attribute Decim

[2019-07-31 20:41] objecttothis commented on #2485
Can you provide a screenshot of the problem?  It's unclear to me whether you are saying that the attribute you created (column) is showing up empty or no rows are showing up in the table at all.

[2019-07-31 21:58] ronaldhuynen commented on #2485
My Attribute Decimal type is called 'Timebank.cc H'.
Screenshots: first with the Attribute set to not visible, which makes all items shown in my list.

![Screenshot from 2019-07-31 23-21-02](https://user-images.githubusercontent.com/53010464/62249272-4a31af00-b3ea-11e9-8894-85c4d7c0d777.png)

![Screenshot from 2019-07-31 23-20-34](https://user-images.githubusercontent.com/53010464/62249638-2cb1150

[2019-07-31 22:15] objecttothis commented on #2485
When Attribute Visibility "items" is checked I see that there are missing rows that should be there.  By any chance do those items not have a Timebank.cc H attribute value assigned to them?  If so, then it appears that the SQL looking up the results is omitting results without an attribute assigned that is marked as visible in items.  If this is true, then it is a bug that will affect any attribut

[2019-07-31 23:28] odiea commented on #2485
@ronaldhuynen . Will you please post your system info.

[2019-07-31 23:45] ronaldhuynen commented on #2485
@objecttothis yes I can confirm your suspicions: All missing rows do not have an attribute Decimal type. When I assign an attribute decimal value higher than 0, the item will be shown in the item list. When I remove the attribute decimal value of an item, the item row disappears when I refresh the page.
When I type in a barcode or item name of a missing item, the list is empty.

I installed the la

[2019-08-01 05:43] scottie01 commented on #2505
Thankyou, I have to say pretty much all of what you said went over my head. Lol.
it sounds like you're going to work on a solution but it'll be outside OSPOS? Will it be seemless to the end user operable from within OSPOS? As a practicle measure I've standardised my markup so I can have my suppliers (In customers) with a pre defined discount back to cost pricing which seems to resolve my reporting

[2019-08-01 10:39] Hamzaqureshi401 opened #2507 "how i can update ospos 3.2.3 to 3.3.0"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-08-01 13:23] SteveIreland commented on #2507
How (or if) you can upgrade depends on several factors, but since you didn't provide the basic information required for all new issues then you aren't going to get a lot of help because no one knows where to start.

On what is your system currently hosted?

Have you made any custom changes to the system?

What version of PHP are you currently running?  What version of MySQL (or MariaDB ) are you u

[2019-08-01 13:42] Hamzaqureshi401 commented on #2507
i have install it localhost the version i m using is 3.2.3 but latest version is 3.3.0 but when i download it from git i see there is no database.sql in database folder so i want to know how i can upgrade my 3.2.3 to 3.3.0?

[2019-08-01 13:47] odiea commented on #2507
You will need to use this version.
https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20190722171838.master.ac6d5e.zip

[2019-08-01 14:35] ugogoinfo commented on #2458
Hi Everyone

Just to let you know we gave up on OsPos, we can't figure out why it stops showing reports.  Wishing you all the best on the development of this potentially awesome POS.

[2019-08-01 14:35] #2458 closed

[2019-08-01 16:06] michaelkattirtzis opened #2508 "Multiple Payment methods"
Hello and i would like to thank the community and developers for the work they have done and delivered

My issue is that i am scavenging through the forums to see if some else had this issue

1 Multiple payment methods eg , ( customer has 10 euros cash and 10 euros in credit card )
2 Customer has an amount of 20 euros remaining in giftcard and wants to purchase something costing 30 euros and pay w

[2019-08-02 06:37] Hamzaqureshi401 commented on #2507
iam very thankfull to you

[2019-08-02 09:37] odiea commented on #2508
Download it from the install.md or try the demo.

[2019-08-02 11:28] #2507 closed

[2019-08-02 13:09] #2508 closed

[2019-08-03 04:09] mckaygerhard commented on #1960
https://www.fsf.org/blogs/community/strengthen-free-software-by-telling-congress-to-reject-the-stronger-patents-act

in 2017 was the first try.. now in july was reintroduced!
https://www.fsf.org/blogs/community/strengthen-free-software-by-telling-congress-to-reject-the-stronger-patents-act

in 2017 was the first try.. now in july was reintroduced! July 10 reintroduced the Support Technology and Re

[2019-08-03 14:47] SteveIreland commented on #1960
Wow.  My own Senator Chris Coons is the sponsor of this abomination.  He will be hearing from me.  Thanks @mckaygerhard for the update.

Fortunately it only has a 34% chance of being enacted into law  (per https://www.govtrack.us/congress/bills/116/s2082).

But still ...

[2019-08-04 20:30] jekkos commented on #2485
@ronaldhuynen I pushed a fix for this, can you try the latest build with your setup and see if it works?

[2019-08-04 20:32] jekkos commented on #2499
sounds more like a configuration issue instead of a bug (at least things work on demo)

[2019-08-05 05:17] daN4cat commented on #2485
Good, hopefully we are now close to release.

[2019-08-05 09:31] ronaldhuynen commented on #2485
@jekkos I tested your fix (version 3.3.0 - 0a2894) on my setup and yes: the item list now shows all items when the Attributes are switched on for the Items module.

1.
Unfortunately: I can not add any new Items. When I click on the New Item button, nothing happens. This is within the Items module, but also within the Sales module. The Add Item form does not show up.  Same result when I use a fresh

[2019-08-05 15:02] patolinx commented on #1607
You must enable php 5.6, then check extensions.

Regards.

[2019-08-06 00:59] andriux1990 commented on #2497
I also did tests and it is caused by the attributes in my case I have the text attributes

[2019-08-06 06:49] daN4cat commented on #2497
@ronaldhuynen have you tested with latest code in master, it appears to me that @jekkos fixed something about attribute query.

[2019-08-06 09:30] HamidCh commented on #2088
So are we still up for adding CREDIT PAYMENTS module?

[2019-08-06 17:34] sadaqatali10 opened #2509 "discount as value not working in 3.2.3"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-08-06 17:37] odiea commented on #2509
IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.

[2019-08-06 17:37] #2509 closed

[2019-08-06 17:38] sadaqatali10 commented on #2509
I have ospos 3.2.3 here not option discount as value. How we add this option in version 3.2.3. This option includes in 3.0.3 but there a problem in the report. I want to discount as value as well as in percentage.

[2019-08-06 17:41] sadaqatali10 commented on #2509
Help me how we solve the above problem.

[2019-08-06 17:46] sadaqatali10 opened #2510 "Discount as value as well as percentage"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-08-06 17:46] sadaqatali10 commented on #2510
I have ospos 3.2.3 here not option discount as value. How we add this option in version 3.2.3. This option includes in 3.0.3 but there a problem in the report. I want to discount as value as well as in percentage.

[2019-08-06 17:55] daN4cat commented on #2509
It's in 3.3.0, hopefully we can release it soon.

[2019-08-06 21:34] jekkos commented on #2485
@ronaldhuynen

For 2: I can confirm this is an issue, looking into it now.

For 1 -3: I woudn't know why that error would appear after the fix. I think it is rather due to a previous setup storing some preferences in the browser that are not applicable anymore.

Can you try to open a new icognito session and add an item again? The setup works fine on my side

[2019-08-06 22:20] jekkos commented on #2485
@ronaldhuynen I have pushed a fix for issue number 2.

I also pushed another commit that fixes a warning that appeared in table_helper (I think this was reported by @odiea before).

[2019-08-07 08:55] mkrnabeel commented on #2103
Hi Guys
i have an workaround to resolve this scenario.
Lets assume customer comes and purchases for 100$ and tells to pay this 100$ after 2 or 3 days
in this scenario  you can add **0** in payment type as **Due**
till he comes and settles the pending amount it will be in due amount 100$
suppose he comes on 2nd day and pays the 100$
go to daily sales page and select the update option of your due bi

[2019-08-07 09:12] WebShells commented on #2103
Hoooray 🎊 😅

[2019-08-07 09:39] ashkaps opened #2511 "Custom report using custom attribute"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [y] Checked [open and closed issues](https://github.co

[2019-08-07 09:49] mkrnabeel commented on #2103
thank you @WebShells
but hooray is for my comment?

[2019-08-07 10:25] WebShells commented on #2103
It's for the game changer techniques 😎

[2019-08-07 10:34] mkrnabeel commented on #2103
![image](https://user-images.githubusercontent.com/8575971/62616400-74222e80-b920-11e9-948f-a60ff23c00f6.png)

[2019-08-07 11:01] SteveIreland commented on #2103
For the record post sale payments are now supported in version 3.3. There was a commit that could be used as a template for changes that would need to adapted for 3.2

Can this ticket be closed now?

[2019-08-07 11:05] SteveIreland commented on #2511
It’s not built in to OSPOS but I used Reportico for the custom reports I needed.  There are other tools

[2019-08-07 11:06] ashkaps commented on #2511
Appreciate your quick response. Thanks! So connect the db directly to a thirdparty tool? How can I achieve that? Is there a doc i can refer?

[2019-08-07 11:22] mkrnabeel commented on #2103
where is record post sale payments available? @SteveIreland
im using Open Source Point Of Sale version 3.2.3 - 4f5ad57

[2019-08-07 11:30] mkrnabeel commented on #2103
@SteveIreland
and moreover version 3.3 is not available to download?
https://bintray.com/jekkos/opensourcepos/opensourcepos/3.3.0

[2019-08-07 13:22] SteveIreland commented on #2103
You are correct.  3.3 is not "general release" yet but I understand we are almost there.

My question was whether or not the ticket can be closed since you have a work around in 3.2 and since it is fully supported (I believe) in 3.3.

However, If there is some pending action required for this ticket I am missing it.

I added the feature (at no cost to @phantomgannon) since it was a fairly trivial

[2019-08-07 16:31] Hamzaqureshi401 opened #2512 "Question regarding the item kit behavior"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-08-07 16:59] WebShells commented on #2512
Please fill in issue template in future so we can provide the needed help.
Those are ingredients and should have
measurment units also... Alot of improvements on item kits were made by @SteveIreland in 3.2.3 one of them was the kit name and printing options...
To what i remember it's doable.. Didnt test it myself though..

[2019-08-07 20:55] SteveIreland commented on #2512
**Transferred from the description:**

Item kit loads all the products against kit i want when i enter kit name it should just load item kit example 1 cup contains items qty 3scoops 1 spoon and 1cup and kit name is "Big Cup" in sales it should load just "Big Cup" qty=1 is it possible?

[2019-08-07 20:58] SteveIreland commented on #2512
What you're asking for isn't supported by OSPOS.

When selecting a kit all items are added to the order and based on the configuration of the kit, the item kit item will also be added.

Then based on the configuration of the item kit it's possible to only have the item kit item print on the sale and all of its components would NOT print (which is the behavior you want).

The item kit components ap

[2019-08-07 21:27] WebShells commented on #2512
Yes, but he can still print only kit names... Although in reporting and detailed sales it shows the items list.

[2019-08-07 21:29] SteveIreland commented on #2512
I agree

[2019-08-08 06:27] jekkos commented on #2497
@ronaldhuynen Is the issue resolved now? Could you do a check so we can close. Thx!

[2019-08-08 14:55] ronaldhuynen commented on #2485
@jekkos Yes your latest fix  worked on my setup!
I installed 20190806222050.master.8bca8f from the bintray with a new database. After 1st login I could not create a new Item, but then I tried again in incognito window and it worked.

I also tested it with Decimal and Text Attributes on various items and everything worked as expected. Item search on attributes too. Nice!

[2019-08-08 14:58] ronaldhuynen commented on #2497
@jekkos Yes your latest fix works on my setup. I installed 20190806222050.master.8bca8f from the bintray with a new database. Decimal and text attributes work fine now. See my comment on #2485.

[2019-08-08 16:05] #2512 closed

[2019-08-08 16:05] Hamzaqureshi401 commented on #2512
thanks for information

[2019-08-08 22:17] ronaldhuynen commented on #2485
@jekkos But unfortunately after I loaded my slightly older (testing) database (3.3.0 ac6d5e) I could not update items anymore. After some tests with the latest and clean database (from 8bca8f) it turned out that:

- Attributes and item list work fine now.

- But when adding another location, existing items can not be created or updated anymore. The form shows, however I can not submit. To make it

[2019-08-09 06:36] daN4cat commented on #2485
It sounds @jekkos needs to test with multiple stock locations.

[2019-08-10 13:09] Hamzaqureshi401 commented on #2497
i also have the same problem i migrated 3.2.3 to 3.3.0 in item tables i could not see my items
![image](https://user-images.githubusercontent.com/46222436/62822226-f1a4a380-bb99-11e9-8c15-0288d862dc7c.png)

[2019-08-10 13:18] Hamzaqureshi401 commented on #2497
is anybody resolve it?

[2019-08-10 13:39] jekkos commented on #2485
Hm indeed this wasn't tested before. I will try to have a look this weekend.

[2019-08-10 13:40] jekkos commented on #2497
I see you have multiple stock locations as well. I'll have to look into that.

[2019-08-10 19:29] andriux1990 opened #2513 "Search Client by account number, phone or email"
I have many clients with the same name, the only thing that is different is obviously your phone number, email, and account number
![Screenshot_2019-08-10 Open Source Point of Sale Powered by OSPOS 3 3 0](https://user-images.githubusercontent.com/29256343/62825927-dd987c00-bb70-11e9-9f45-51c4175b150e.png)
in the sales module to select a client, just write the name, if there is more than one with t

[2019-08-10 21:12] daN4cat commented on #2485
Hopefully the last issue to fix for 3.3.0.

[2019-08-11 06:55] Hamzaqureshi401 commented on #2497
yes i have and also selected different stock location but it shows nothing first of all i created new product the popup saya product generated but it is not shown
![image](https://user-images.githubusercontent.com/46222436/62830839-cae47c80-bc2e-11e9-8eb8-5cd80e854dc1.png)

[2019-08-11 15:00] jekkos commented on #2485
@ronaldhuynen I have tried to add a stock location and can add new items afterwards without any issues. Could you try to give me the error logging as currently I can't reproduce it. Thanks

[2019-08-12 17:26] odiea commented on #2497
Looks like the Demo is ok today so I close this issue

[2019-08-12 18:33] shankar58989 opened #2514 ""The page isn’t redirecting properly" error in firefox & "ERR_TOO_MANY_REDIRECTS" error in chromium"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2019-08-12 23:20] odiea commented on #2513
In application/controllers/reports.php look around line 893. Look at the structure below and add $customer->phone_number and see if this helps you out any. It will not search for it but it should show the phone number.
[code]

[2019-08-13 02:40] andriux1990 opened #2515 "import_items.csv barcode not import"
The barcode for alphanumeric numbers is not imported to the database when importing a csv file.
Use all types of codes 39, 128, EAN 8 and EAN 13, from only 4 digit numbers etc, without any result.

All the data in the table are imported to Ospos without any problem, but the barcodes are not, and the maximum number of products that can be imported without generating problems is 150 or 200 maximum.

[2019-08-13 05:43] #2497 closed

[2019-08-13 13:31] shankar58989 opened #2516 "Local Docker Deploy Install - stuck on Linux Mint 19.2"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2019-08-13 18:04] jekkos commented on #2516
it seems to be running no? can you access the application through localhost?

[2019-08-13 18:04] jekkos commented on #2516
if you want to run in the background you can do so using ctrl-Z

[2019-08-13 18:10] jekkos commented on #2514
This sounds like an apache problem. Did you enable mod_rewrite ? Also do you have anything else setup except for ospos on the apache?

Maybe first double check if you can access a static file in your document root.

[2019-08-13 18:12] jekkos commented on #2511
I think you're mostly on your own here. You can just use plain SQL for any purpose, or connect it to other tools that allow you to visualize the data.

[2019-08-13 18:20] ashkaps commented on #2511
Sounds good. One last question. Is there an inbuilt dashboard I can use mysql on?

[2019-08-13 18:42] andriux1990 commented on #2513
thanks @odiea that's fine it works

[2019-08-13 18:50] #2513 closed

[2019-08-13 22:57] WebShells commented on #2515
@andriux1990 can you please copy the info from System info tab in the configuration section if available so we can help you in a better way ? or fill in the issue template please....

[2019-08-13 23:01] WebShells commented on #2493
I guess regular employees/cashiers shouldn't have access to reports...
Still can have cost of item from items' list or receivings, so make sure only managers have access to these sections.

[2019-08-14 00:10] andriux1990 commented on #2515
![Screenshot_2019-08-13 Tienda Gales Potenciado por NMP 3 3 0](https://user-images.githubusercontent.com/29256343/62985601-5871c900-bdf5-11e9-84b1-c5216721f1d1.png)
I am using this compilation opensourcepos.20190806222050.master.8bca8f.zip

[2019-08-14 08:48] #2291 closed

[2019-08-14 09:22] #1190 closed

[2019-08-14 13:39] andriux1990 commented on #2515
also download the latest version of bintray opensourcepos.20190811152407.master.7ebae8.zip

I did tests on another operating system and I always had the same problem, no matter the bar codes

[2019-08-14 13:43] WebShells commented on #2515
Maybe there is a duplicate? Once it reaches this specific row it's interrupting the import process? Specifically you mentioned that you are having a problem inserting more than 150 or 100 item.

[2019-08-14 14:10] andriux1990 commented on #2515
As I had that problem of duplicates what I did was create a new db and import 50 items for each import.
I currently have no duplicates, I have tried to import a single product with a barcode and the barcode does not matter.
I get all the data in the table except the barcode

[2019-08-14 14:44] andriux1990 commented on #2515
I'm not a good programmer, in fact, I'm just learning

since it is very difficult for me to solve the problem of importing barcodes.
I created an attribute with the name codes, type of text. my intention to put the codes, since it allows me to import attributes.
The problem in this is that in the sales module, the search engine only looks for barcode and the names of the items, but does not look f

[2019-08-14 22:11] odiea commented on #2515
Apparently the Barcode is not being read during the import. I inserted a column before Barcode and it finally saved the barcode. I had to name the column to get it to work.

[2019-08-15 07:09] daN4cat commented on #2515
The import was changed recently, the logic is different. There must be a keyword or mapping bug.

[2019-08-17 11:04] shankar58989 commented on #2516
Hello jekkos, Thank you for the reply and apologies for the late reply. I have managed to get the "Own Local Deploy Install" method working. I restored my OS and installed OSPOS fresh.

But to understand, after entering the "docker-compose up" command, is the terminal supposed to be running for OSPOS to work?

I tried to load the login page and I got the contents of the index.php file inside the p

[2019-08-17 11:16] shankar58989 commented on #2514
Hello jekkos, Thanks for the reply and apologies for the late reply. I managed to get it working installing it in the var/www/html folder.

However I wanted to install it in var/www/html/myospos. The steps I did are.
* I downloaded and extracted the zip file using the commands that you have in the installation steps. I just added the newly created folder to the download and extraction path.
* Afte

[2019-08-18 02:24] metebyte opened #2517 "Issue / Bug | Stock value gets buggy after a receiving of non-stock item."
- [x] Checked [open and closed issues](https://github.com/opensourcepos/opensourcepos/issues?utf8=%E2%9C%93&q=is%3Aissue) and no similar issue was already reported (please make sure you searched!)
- [ ] Reporting an issue of an unmodified OSPOS installation
- [x] Read [README](https://github.com/opensourcepos/opensourcepos/blob/master/README.md), [WHATS_NEW](https://github.com/opensourcepos/openso

[2019-08-18 02:26] #2517 closed

[2019-08-18 06:36] dyhe83 commented on #2469
Same problem occurred in Ubuntu 16.04.
After install **php-bcmath** module, it solved.
[code]
![image](https://user-images.githubusercontent.com/32974708/63221033-5b8a0200-c1c5-11e9-8114-1ea18d5f949d.png)

[2019-08-18 07:20] dyhe83 commented on #2306
Follow this solution, it works to me in Ubuntu.
https://github.com/opensourcepos/opensourcepos/issues/2137#issuecomment-421057810

And install some modules.
[code]
according to:
https://www.opensourceposguide.com/guide/gettingstarted/installation

[2019-08-18 22:12] 4mon commented on #1276
me too. Only the items form does not appear. the rest yes

[2019-08-19 15:17] pkphilip opened #2518 "Documentation for encryption key setup has typos and other errors"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [X] Reporting an issue of an unmodified OSPOS installation
- [X] Checked [open and closed issues](https://github.co

[2019-08-21 11:20] jekkos commented on #2518
Correct, feel free to update this and send us a PR!

[2019-08-21 15:04] terranoss opened #2519 "You do not have permission to access the module named Items and Receivings"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2019-08-23 16:59] odiea commented on #2519
I could not recreate your issue. idk

[2019-08-24 02:32] izeblood commented on #2515
Can we add the qr codes since the library of it is available?

[2019-08-24 06:36] daN4cat commented on #2515
We discussed the qr code issue already, there is no real use for it because it's not used as barcode.

[2019-08-24 14:23] Sophat11 commented on #2024
i got the same issue, i just replace folder "items" at \application\views\items with the original one. and working.

[2019-08-25 17:18] SteveIreland commented on #2024
@Sophat11 if you are still having an issue please open a new ticket with the information about your configuration and installation.  I just tested your scenario in the latest 3.3 published version in the bintray and could not recreate your issue.  Everything appears to work fine.

[2019-08-26 01:57] Sophat11 commented on #2024
@SteveIreland i'm working on 3.2.2 and it's working fine now. thanks,

[2019-08-26 11:41] #2519 closed

[2019-08-27 11:55] fWd82 opened #2520 "Foreign key constraint is incorrectly formed"
### Installation information

- OSPOS version is: 3.2.3
- OSPOS git commit hash is: opensourcepos.20180613210031.3.2.3.f1cf3d
- PHP version is: 7.3.5
- MySQL or MariaDB version is: 10.1.39 MariaDB
- OS and version is: Windows 8.1 64bit
- WebServer is: Apache/2.4.39
- Selected language is:
 - Other info: On XAMPP

### Issue / Bug  / Question / New Feature
I have backup of ospos database sql file na

[2019-08-27 18:03] klisle opened #2521 "Duplicate barcoded items created in the database when duplicates are not allowed."
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2019-08-27 18:17] jekkos commented on #2520
Hi, I just checked on stackoverflow and [found the following. ](https://stackoverflow.com/questions/8434518/mysql-foreign-key-constraint-is-incorrectly-formed-error)
Do you have created your original tables in MyISAM? You might to migrate the tables to InnoDB.

[code]

[2019-08-27 20:43] jekkos commented on #2521
I thought that allowing duplicate barcodes would not make the system unusable. Do you have the configuration option checked? In that case you should not have been allowed to import duplicate barcodes.

On the other hand, if the import did succeed, can you check if the box is ticked? If not please tick it and then see if everything works?

[2019-08-27 22:32] jekkos commented on #2521
It could indeed be a bug: normally the form submit should be blocked by the browser, but maybe that check is bypassed by hitting enter as that will probably keep the form open and empty the filled in fields.

[2019-08-27 22:38] WebShells commented on #2521
Jekkos, maybe he meant about creating bulk items, you added the option to insert multiple item by pressing new everytime on item form where it keeps specific fields  there... attributes i guess.

[2019-08-28 10:33] jekkos commented on #2521
Yes correct that was the functionality I was referring to.

[2019-08-29 22:36] klisle opened #2523 "indicate which items are taxable/taxed on the receipt"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2019-08-30 09:54] SteveIreland commented on #2523
I would typically follow the normal convention used in your client’s country so that the customers aren’t always questioning it

[2019-08-30 10:51] sarzali07 opened #2524 "Error: Folder path after fresh installation"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-08-30 11:07] odiea commented on #2524
https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20190811152407.master.7ebae8.zip is the file you need. Not the Dev version.

[2019-08-30 11:33] sarzali07 commented on #2524
Hi Odia now it showing
This page isn’t working 192.168.100.40 is currently unable to handle this request.
HTTP ERROR 500

[2019-08-30 11:48] sarzali07 commented on #2524
After setting from Production to development it showing

An uncaught Exception was encountered
Type: Error

Message: Call to undefined function mysqli_init()

Filename: /var/www/html/vendor/codeigniter/framework/system/database/drivers/mysqli/mysqli_driver.php

Line Number: 135

Backtrace:

File: /var/www/html/public/index.php
Line: 315
Function: require_once

[2019-08-30 12:35] sarzali07 commented on #2524
Thanks It works but after enter IP/public/login then

Not Found
The requested URL /public/login was not found on this server.

it showing 500 error??

[2019-08-30 12:55] daN4cat commented on #2524
What is your web server root? And where did you install ospos? I mean in which folder?

[2019-08-30 12:59] WebShells commented on #2524
I guess we should make the server info section public? So users can make use of the installation data for issues? In the way i added it's not accessible without having ospos up and running... Shall we?

[2019-08-30 13:14] sarzali07 commented on #2524
Hi any how I manage to display login screen. Now after entering username and password then it gives error

The installation is not correct, check your php.ini file.
A database migration to 3.3.0 will start after login.

[2019-08-30 13:18] sarzali07 commented on #2524
Yes I setup in virtual machine and its on /var/www/html root

[2019-08-30 13:22] shankar58989 opened #2525 "When company logo is uploaded, company name not appearing on invoice - Question"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2019-08-30 13:57] andriux1990 commented on #2524
you already set up apache2.config

[2019-08-30 14:03] andriux1990 commented on #2524
https://github.com/opensourcepos/opensourcepos/issues/920#issuecomment-254451704
for php.ini you need a php extension

[2019-08-30 14:10] andriux1990 commented on #2524
@odiea have you checked
https://github.com/opensourcepos/opensourcepos/issues/2522#issue-486462410
the error in the detailed reports

[2019-08-30 15:26] klisle commented on #2523
There is no requirement to specifically indicate taxed/taxable items in my country but many merchants here, especially supermarkets (because they sometimes don't tax meats) indicate the items that attract a tax. I know some software have that feature, I wanted to know if that was something that was ever imagined or if there was any way to achieve it.

[2019-08-30 16:41] andriux1990 commented on #2523
I did the tests again and the same thing happened to me
![Screenshot_2019-08-30 Open Source Point of Sale Powered by OSPOS 3 3 0](https://user-images.githubusercontent.com/29256343/64037224-5193c780-cb12-11e9-8c86-01e663536f86.png)
in the versions before this one, if you show me the detailed reports.
we would have to compare the code and see what the changes were

And I have no attributes

[2019-08-30 17:00] SteveIreland commented on #2523
It is certainly doable by tweaking the views and if necessary the controller.

Also, I was looking at an up-scale grocery store receipt here (something my daughter goes to since I do low-scale) and saw that they were flagging taxable items with a "T" and non-taxable items with an "F";  That's not the case with all receipts so it must be "seller's choice" here too.

[2019-09-01 08:05] shankar58989 commented on #2516
I have installed the OSPOS on my linux mint 19.2 through "own local deploy install".

Since I no longer have the docker deploy install of OSPOS and I cannot reproduce and test the solutions provided for this issue, i will close this topic, if I may.

Once again thanks to Jekkos for the response as well as to the entire community for this fantastic software.

[2019-09-01 08:05] #2516 closed

[2019-09-01 08:12] shankar58989 commented on #2514
hello guys,
requesting someone to confirm if my problem is because of apache or something else. it would be fantastic to figure out my problem and to install ospos into a sub directory. thanks.

[2019-09-01 10:59] daN4cat commented on #2514
Can you copy and paste your .htaccess from the public folder here?

[2019-09-01 21:18] andriux1990 opened #2526 "Inventory Summary"
I love the article module, it has almost everything. The problem is that when you have several locations. and I want to make a summary of the inventory of a certain location, and I look for my products by category, it shows me all the products including from the other locations.

The solution to this is in reports - Inventory summary. where I can search for location and quantities greater than 0.

[2019-09-01 21:44] andriux1990 commented on #2526
![Screenshot_2019-09-01 Open Source Point of Sale Powered by OSPOS 3 3 0](https://user-images.githubusercontent.com/29256343/64082605-c3b10b80-ccce-11e9-8ad2-1e1d425da597.png)
![1](https://user-images.githubusercontent.com/29256343/64082581-687f1900-ccce-11e9-8eaf-ebf1e2713fe5.png)

[2019-09-01 21:52] andriux1990 commented on #2526
I think here serious to add the column of categories
![image10](https://user-images.githubusercontent.com/29256343/64082703-5a31fc80-ccd0-11e9-8e06-b85713ff8709.png)
![DeepinScreenshot_20190901154525](https://user-images.githubusercontent.com/29256343/64082705-6918af00-ccd0-11e9-9258-cea33d4ef898.png)

[2019-09-02 14:46] klisle commented on #2523
I see. It seems to depend on the software and how customizable it is. I am not a programmer, just a lowly sys eng. As such I am not familiar with how to tweak the views. It is important to our client so I am exploring what the options are and how easy they would be to implement.

[2019-09-02 18:18] mckaygerhard commented on #2526
i think you request for two different thing here.. first i see your picture in the previous last comment and seems quite very easy to made the addition of the categories to the summary inventory report..

but that:

i recommend open a new issue and let this issue with only that:

that lasted request are just very easyle.. just in the model added the column and fit into the array, and lasted in the

[2019-09-02 20:52] darknodi opened #2527 "albanianSQ translations folder"
albanianSQ translations folder @awriel @yllumi @vnwildman @ratomi @pappastech

[2019-09-03 02:32] SteveIreland commented on #2527
I assume that someone knows what this issue is about because it is meaningless to me.

[2019-09-03 03:22] diazvictor opened #2529 "improve attribute descriptions"
please added long text support to description attribute, Attribute type is stored in the database (attribute_values) as a VARCHAR(255) which is perfect for most attribute values. There is one category of Attribute in which this length is far too short. Descriptions. In the book industry publisher synopsis, table of contents, forewards, etc would all be far too long to fit here, i posted that featu

[2019-09-03 03:32] mckaygerhard commented on #2529
maybe no all the descriptions of the labels in the products will be necesary fit but in stores where many cristmas tools are sell we must include some hints about materials.. this will hep about that.. maybe with a inprovement search at the sale screen

[2019-09-03 03:57] mckaygerhard commented on #1887
i work in this issue for a long time.. conlcuded that a migration can be made.. but we already now all the possible combination (too many)

When I perform the tests. With Russian, Spanish and English, 3 strings were recorded clearly, so I made a loop circuit that iterated in each string of language for example "credit" and looked for it in the table .. then sritp migration update will make an upda

[2019-09-05 03:39] shankar58989 commented on #2514
Hello daN4cat, Thanks for your reply. please find the .htaccess file from the public folder below.
[htaccess.txt](https://github.com/opensourcepos/opensourcepos/files/3577358/htaccess.txt)

[2019-09-05 03:50] shankar58989 commented on #2525
hello,

should i change something in the sales invoice format {CO} to something else for the company name to appear along with the logo image in the sales invoice?

There is an option to check and uncheck the company name in the sales receipt. but i am unable to figure out how to do this in sales invoice.

hope someone can help me with this issue guys. thanks.

[2019-09-05 09:29] odiea commented on #2525
Try resizing your logo image. It's probably too large for an invoice.

[2019-09-05 11:12] oplarshad opened #2530 "TAX display config on transaction Receipt/Bill"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-09-05 11:13] oplarshad commented on #2530
Hi,
I want to do some modification in tax name/info and its display on the bill.

[2019-09-05 13:36] SteveIreland commented on #2530
I'm happy to assist, but you will need to provide a lot more detail about what you need help with.

[2019-09-05 15:28] SteveIreland commented on #2523
When you make a decision as to how you want it rendered on the receipt just let me know and I'll  free up some time to mock up the changes to the view.   Since all of the tax info is available in the controller I expect that what you want can be accomplished with a simple change to the view and I will provide a code snippet that will show you what needs to be changed.

[2019-09-05 19:52] daN4cat commented on #2527
@darknodi please see https://github.com/opensourcepos/opensourcepos/wiki/Adding-translations (I don't know who deleted that guideline but I restored it)

[2019-09-05 19:52] #2527 closed

[2019-09-05 21:16] daN4cat commented on #2485
It looks like we need to give a kick to #2515 to get this release closed and out. Thoughts?

[2019-09-05 22:25] klisle commented on #2523
Thanks for the response. What will be required is just to indicate the taxable item with a 'T'. Indicating non-taxable items id not in the client's requirements, nor have I ever seen it done. Let me know what will need to be done.

[2019-09-06 01:44] SteveIreland commented on #2523
The code for 3.2.0 related to calculating taxes is significantly different than the current 3.3 work.

So I wanted to confirm that the release you need to change is actually 3.2.0 and not some other version.

Also, the view does NOT have direct access to the info needed to accomplish the desired task, so it will be necessary to modify the controller to provide that info.  The exact change to be ma

[2019-09-06 02:55] gesangseto commented on #2116
try to edit config.php on Codeigniter to
`$config['index_page'] = 'index.php';`

[2019-09-06 06:13] jekkos commented on #2485
Yes I had a quick look some time ago but couldn't directly reproduce the issue. I'll have another look probably this weekend.

[2019-09-06 06:16] jekkos commented on #2485
Also I might need to take a look at #2521

[2019-09-06 09:28] daN4cat commented on #2485
Thanks, let's close this release. There is also the location issue, I pinged you in that.

[2019-09-06 21:02] klisle commented on #2523
I see, this complicates things a bit because I want to upgrade to 3.3.0 when it is released officially but there is an existing issue I have regarding duplicates in 3.2.0 https://github.com/opensourcepos/opensourcepos/issues/2521 . Since the fix is not the same from version to version, I will need to make the database changes to "delete" the duplicates as discussed in the aforementioned issue and

[2019-09-07 02:22] SteveIreland commented on #2523
Okay, then I'll try to put together an example for 3.3.0 this weekend and then you can decide when to apply the changes.  I think I can be a bit more efficient with the 3.3.0 version.

[2019-09-07 15:33] andriux1990 commented on #2529
This if I think it is very necessary, how can I do it, how difficult would it be?
that of increasing the attribute field

[2019-09-07 16:39] SteveIreland commented on #2523
Here it is ... I've tested it so I know it works for 3.3.0

The line numbers are approximations since as you add lines the line numbers change.

I've tried to identify lines to be commented out, changed, or added with the character text `// <==` so look for those.

The first change is to `receipt_default.php` (the section of code starts around line 54).  You are going to add a new column on the fa

[2019-09-07 16:44] SteveIreland commented on #2523
To make this something I would submit as a pull request would require quite a bit more effort.  Since I didn't know your tax configuration I made it generic so that it would work for both destination based taxing as well as the standard taxing configuration - so that added a few more lines of code to add/change.

[2019-09-07 18:00] #2526 closed

[2019-09-07 22:11] odiea commented on #2523
Looks good so far. Thanks

Desc. | Price | Quantity | Total |  
-- | -- | -- | -- | --
Coke \| Each Red, New, Sm, Blue dog | $0.83 | 1.0 | $0.83 | T
0 |  
Compaq Computer \| Each Red, New, Sm, description | $55.99 | 1.0 | $55.99 | T
0 |  
30000 Mile service \| Each | $375.00 | 1.0 | $375.00 |  
Replace needed parts as necess

[2019-09-08 00:42] SteveIreland commented on #2523
@odiea  Thank you for checking it out.

I wasn't expecting that.   Is this something that you also would like to see in OSPOS?

If there is some interest then there are some other changes I believe I would need to include:

1. Make it a configurable option.
1. Make the "T" language dependent.
1. Add the taxable flag to the following:
    1. receipt_email.php
    1. invoice.php
    1. invoice_email

[2019-09-08 03:03] mckaygerhard commented on #2514
@shankar58989 this are due the **very specially complicated htaccess** delete it and make your own index.php redirect..

i reported previously in https://github.com/opensourcepos/opensourcepos/issues/1762 but developers assumed all the environments are like they have already... too much apache in fact

[2019-09-08 03:28] mckaygerhard commented on #2514
@shankar58989 this are due the very specially complicated htaccess delete it and make your own index.php redirect..

i reported previously in #1762 but developers assumed all the environments are like they have already... **too much apache in fact**

a modified no-htaccess ospos will work perfectly and works of course by purgein those "bill gates" windosers htaccess depends files, you must convert

[2019-09-08 03:47] mckaygerhard commented on #2452
setting the flag to false make hole application xss vulnerable.. more secure it's a per code setting that said "permit all chars allowed in descriptions" and in this manner modified the line in the ajax call ...

[2019-09-08 04:12] andriux1990 commented on #2452
It makes sense and that is preferable ... even without being a developer, I have observed how in Ospos mistakes have been made by simple changes

[2019-09-08 12:29] odiea commented on #2523
I think it is something that would benefit other users. I am just a tester and this looked like a good addition to me.

[2019-09-08 15:32] SteveIreland commented on #2523
At my income producing job I essentially have my own QA person who I refer to as “The Decider” because I do whatever she tells me to do.

So if you think it would be a popular feature then I will add it to my “to do” list for 3.4

[2019-09-08 15:42] daN4cat commented on #2452
That Code Igniter behaviour too, not only OSPOS. It might require to treat the case differently but it's probably a bit of work.

[2019-09-08 16:57] shankar58989 commented on #2525
hi odiea, thanks for your reply. I will try this solution and report back tomorrow.

[2019-09-08 22:11] blutme opened #2533 "Item Save - Language"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-09-09 00:10] mckaygerhard commented on #2523
i really need this too! please make the pull request and merge it! some countries have special setting to sell things

[2019-09-09 16:48] guillermohaad commented on #2103
Hello friends, in which version can we already use credit sales with partial payments?
Thank you

[2019-09-09 17:02] WebShells commented on #2103
@guillermohaad it's already there in the latest stable release as Due, partial payments is supported by adding the payment in 2 halves, one as cash other as DUE.

[2019-09-09 21:27] daN4cat commented on #2485
Hopefully #2522 is sorted.

[2019-09-09 21:28] daN4cat commented on #2515
@jekkos can you please give a kick? The controller csv import function looks fine but I don't have the time to test it now.

[2019-09-10 19:46] jekkos commented on #1625
Hi Guys, I have two licenses in spare for PHPStorm / Intellij (contributors only).

Anyone interested in getting one (renewed)? Let me know!

[2019-09-10 19:59] WebShells commented on #1625
@jekkos if no one would need it, I'd like to renew mine. Otherwise i usually use sublime...

[2019-09-10 20:44] mckaygerhard commented on #2103
the "due" must be read-only until all the due was payed! after that a record must be stored about tha payed amount (for the client) and also then can be changed. but still must not to be changed due client also can reclaim about that process...

[2019-09-10 20:59] mckaygerhard commented on #2515
the problem it's due are using arrays for that .. so the in-arrays are too many.. the memory for php process must be raise to property managed and handle more data.. after made that i propety import more than 200 items products.. but only until 800 items... that's enought due ospos are not a large scalar POS system

changing to a object behaviour are hard to do and will cut off collaboration from

[2019-09-10 22:23] WebShells commented on #1625
@jekkos License Extended, Thanks !

[2019-09-11 07:21] jekkos commented on #2515
When I checked it last time it seemd to pick up the barcode just fine, so I wasn't able to reproduce it immediately. I did download the template first (generate it).
@odiea which file did you use for import? was it an existing one or did you regenerate it from the UI?

[2019-09-11 07:24] jekkos commented on #2529
@diazvictor Please don't open duplicate issues, let's track #2470 for progress on this one.

[2019-09-11 07:24] #2529 closed

[2019-09-11 07:27] jekkos commented on #2533
OK thanks for the bug report, it could indeed be an error in one of the translated files. Can you check for error/warnings in the log files ?

[2019-09-11 07:37] jekkos commented on #2533
@blutme Can you try latest master? I fixed an escape sequence in the translations.

[2019-09-11 07:56] mkrnabeel commented on #2103
what are you talking about?

On Wed, Sep 11, 2019 at 12:44 AM Герхард PICCORO Lenz McKAY <
notifications@github.com> wrote:

--
Many thanks,
N.Nabeel Ahamed

[2019-09-11 11:21] daN4cat commented on #2525
Yes it's like that.

[2019-09-11 11:30] odiea commented on #2525
This code from Invoice to me appears to be the same as on the Receipt. So it should work the same.

[code]

[2019-09-11 11:42] jekkos commented on #2525
@odiea so invoice template also uses the receipt switch?

[2019-09-11 11:47] odiea commented on #2525
Yes it does for logo. The log does have to be a certain size for it to show in the Invoice.
![2019-09-11 05_44_34-Odies Test _ Powered by OSPOS 3 3 0](https://user-images.githubusercontent.com/10962177/64694670-6f88f280-d457-11e9-97eb-da2ece6d93f8.png)
And this is the Invoice.
![2019-09-11 05_45_00-Odies Test _ Powered by OSPOS 3 3 0](https://user-images.githubusercontent.com/10962177/64694690-816

[2019-09-11 12:13] mckaygerhard commented on #2525
the receitp musr rezise the logo.. to be in the invice also

[2019-09-11 12:33] mckaygerhard commented on #2103
@mkrnabeel and @erastus debt cannot be modified. The client can come later for something as an example a crime, and wants to confirm that I buy and pay that money, this cannot be changed later .. in the opensourcepos the types of payments are changeable, and if in the hypothetical case exposed here it is changed "due" for "cast" the cleinte would be a liar and the system would be a cheater system.

[2019-09-11 12:42] mckaygerhard commented on #2533
commit related: https://github.com/opensourcepos/opensourcepos/commit/9bdebc6bdda538b9423e4e11e67159ee9b610059

[2019-09-11 12:49] daN4cat commented on #2525
Alright, I might have added that config switch some year ago...

[2019-09-11 12:49] daN4cat commented on #2525
I guess we can close here.

[2019-09-11 12:49] #2525 closed

[2019-09-11 15:36] Akosile2000 opened #2535 "The localhost page isn’t working. localhost is currently unable to handle this request. HTTP ERROR 500"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-09-11 15:55] odiea commented on #2515
@jekkos . I tried both. I ended up using Libre office spread sheet because 2007 excel just seemed to screw up the sheet.

[2019-09-11 16:04] mckaygerhard commented on #2529
@jekkos the issue #2470 are locket so how contributions can post some advances? response that if you dont want duplilcate issues.. unlock that or open this! puff

[2019-09-11 16:08] mckaygerhard commented on #2515
make no sense using any ;M$ crap.. libreoffice, gnome-spread can able to make a sheet that can be use as a template to make the csv file to import.. but just dont work if have too many items (300 lines or/and more)

[2019-09-11 16:13] mckaygerhard commented on #2530
@oplarshad  do you read the screen before made this issue? seems not right?

[2019-09-12 06:38] yoonusc opened #2536 "it has rest apis? to integrate with mobile ?"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-09-12 06:42] daN4cat commented on #2536
Not yet, but there is an open task to work on it.

[2019-09-12 06:42] #2536 closed

[2019-09-12 07:00] yoonusc commented on #2536
Thanks for responding

On Thu, Sep 12, 2019, 12:13 PM FrancescoUK <notifications@github.com> wrote:

[2019-09-12 16:49] andriux1990 opened #2537 "item type disabled"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-09-12 22:06] klisle opened #2538 "Make attributes implementation compatible with only_full_group_by"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com

[2019-09-13 11:44] daN4cat commented on #2452
Well, based on above link we want to be secure here.
I'm afraid that's an attack vector and not sure it would be a sensible idea to compromise things.

[2019-09-13 12:41] mckaygerhard commented on #2538
bug confirmed! (another)... in some hours i'll paste "why" are happened

![photo_2019-09-13_08-37-46](https://user-images.githubusercontent.com/1571724/64863140-2de87b00-d602-11e9-889e-6f6dc32ca7b0.jpg)

[2019-09-13 12:42] mckaygerhard commented on #2538
bug confirmed! (another)... in some hours i'll paste "why" are happened

for information @SteveIreland  permissions like 777 are totally wrong!

![photo_2019-09-13_08-37-46](https://user-images.githubusercontent.com/1571724/64863140-2de87b00-d602-11e9-889e-6f6dc32ca7b0.jpg)

[2019-09-13 13:10] odiea commented on #2538
Works fine in Windows using Wamp server.
![2019-09-13 07_03_15-Window](https://user-images.githubusercontent.com/10962177/64864954-777e9900-d5f5-11e9-96e0-7abedd5bf913.png)

[2019-09-13 13:17] SteveIreland commented on #2538
We'll just need to wait for @mckaygerhard to enlighten us since he knows what is causing the problem experienced by @klisle

[2019-09-13 13:24] odiea commented on #2538
I found this on the internet so permissions look ok to me.

Symbolic Notation | Numeric Notation | English
-- | -- | --
---------- | 0000 | no permissions
-rwx------ | 0700 | read, write, & execute only for owner
-rwxrwx--- | 0770 | read, write, & execute for owner and group
-rwxrwxrwx | 0777 | read, write, & execute for owner, group and others
---x--x--x | 0111 | execute
--w--w--w- | 0222 | write

[2019-09-13 16:26] klisle commented on #2538
@mckaygerhard @odiea @SteveIreland I changed the permissions to 777 just for the purpose of testing  what could possibly be wrong with the installation :) I know it shouldn't be for production though.

[2019-09-13 16:36] mckaygerhard commented on #2538
many issues were rejected due "security" like comment in https://github.com/opensourcepos/opensourcepos/issues/1716#issuecomment-344062720 .. and here said that **777 are "good"** pufff incredible. **here you can see there is no impartiality in applying security, but when it is convenient**

1. M$ system are not a production world wide deployed system for servers .. it's for desktops
2. profession

[2019-09-13 16:37] mckaygerhard commented on #2538
thanks for clarifications @kliste many issues were rejected due "security" like comment in https://github.com/opensourcepos/opensourcepos/issues/1716#issuecomment-344062720 .. and here said that **777 are "good"** pufff incredible. **here you can see there is no impartiality in applying security, but when it is convenient**

1. M$ system are not a production world wide deployed system for servers

[2019-09-13 16:47] odiea commented on #2538
@klisle The version number you are using appears to be 2 months old. Here is the most current unstable version. Please try it and see if anything changes for you.
https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20190911204733.master.427432.zip

[2019-09-13 16:51] klisle commented on #2538
I will try but as I said I tried with multiple, probably including that one, this was just the one I decided to take the screenshot from. I always try everything I can before asking for help. It is weird though.

[2019-09-13 17:03] mckaygerhard commented on #2452
@daN4cat  @SteveIreland and @andriux1990 .. an attack vector can be happened only if a valid injection can be executed.. that portion can be avoid that due just insert the description.. so we can make a only function for descriptions of the items and let rest of the inputs parsed to the XSS clean.. that portion of code are just in a view only! two lines and one helper.. that's all.. i can made a p

[2019-09-13 17:34] klisle commented on #2538
@odiea @SteveIreland the most recent one has the same issue. I just extracted the zip and replaced my html folder with it. Please see the attachments for the login, new item and system info snips As I said, add supplier, add customer etc. work fine but new item does not. Thanks a lot guys.
![login](https://user-images.githubusercontent.com/54595880/64882294-6ef08780-d622-11e9-8c42-00a38f6967ba.png

[2019-09-13 17:40] odiea commented on #2538
Have you created any attributes? If so see if removing them from Items changes anything

[2019-09-13 17:42] daN4cat commented on #2538
If you do key F12 in Google Chrome before opening the dialog box, when you create the error do you see some errors in the debug console?

[2019-09-13 17:43] klisle commented on #2523
@SteveIreland Hey, thanks a lot for your help with this. I really do not want you to have to duplicate your work but as you might have noticed I am having an issue deploying 3.3.0. Until it is officially released, can you possibly provide the necessary changes to get the same feature for 3.2.3? Since 3.2.3 is stable and already something I have gotten working.

[2019-09-13 17:44] daN4cat commented on #2452
@mckaygerhard I suggest to move your discussion to Codeigniter and convince world over there.

[2019-09-13 17:58] klisle commented on #2538
I haven't created anything except

@SteveIreland @daN4cat Indeed! please see below!

![ahaa](https://user-images.githubusercontent.com/54595880/64883983-3652ad00-d626-11e9-8176-031829564719.png)

[2019-09-13 18:46] odiea commented on #2538
My only suggestion would be to see if you have in application/views/items/form.php and check to see what permissions it has. It appears to not be there to me.

[2019-09-13 18:52] daN4cat commented on #2538
@klisle please click that link with 3.85..../view and a new window should open. Take a snapshot of that please.

[2019-09-13 19:06] klisle commented on #2538
@daN4cat http 500 error. I even changed the ownership to www-data and permissions to 777 but the issue persists

[2019-09-13 19:55] daN4cat commented on #2538
Are you exposing the web server directly or behind some reverse proxy or similar?

[2019-09-13 20:24] mckaygerhard commented on #2538
no reverse proxy involved here! same problem i made some checks and changes.. to confirm my teory

[2019-09-13 20:27] klisle commented on #2538
no reverse proxy. running on aws ec2

[2019-09-14 02:20] SteveIreland commented on #2523
I took a quick glance at 3.2.3 and it looked like the changes would be much more complex.  I'm afraid that I don't have the free time to chase it down anytime soon.

[2019-09-14 06:23] blutme commented on #2533
OK, THANK YOU. The problem was solved by changing the line that produced the bug. Now, I would like to know how I enable or where I cand find the file log/warnings for futures issues or bugs.

Thanks.

[2019-09-14 10:51] odiea commented on #2535
No info.

[2019-09-14 10:51] #2535 closed

[2019-09-14 15:03] #2533 closed

[2019-09-14 16:03] nira168 opened #2539 "Hide wholesale price in item list table"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-09-14 16:09] WebShells commented on #2539
Hello Nira, unfortunately it's not capable in any of the releases to lock a specific hidden column...

[2019-09-15 15:11] mckaygerhard commented on #2539
doyou refers "wholesale rpice" to that the client will pay of buy more than one right? @nira168 ?

[2019-09-15 15:13] mckaygerhard commented on #2406
implement any report filter can be made using generic tables and a codeigniter-grocerycrud CURD over that table.. just like any datawarehousing does..

providing a interface that makes the "querys" (SQL) are not so difficult.. those can be implemented in a more especific way.. of course not for M$ guindows.. only linux.. i'm on the way.. of course

[2019-09-15 15:15] WebShells commented on #2539
@mckaygerhard cost price in newer versions is named as wholesale price.. 🤦‍♂️

[2019-09-15 17:41] mckaygerhard commented on #2533
@blutme i make a wiki page explaining that at https://github.com/osposweb/osposweb/blob/gh-pages/ospos-2-DEVEL-0-how-to-debug-CI-en.md with details..

[2019-09-15 20:23] mckaygerhard commented on #2538
hi @klisle  wirking only away of apache2 only bloabed htacces file as image suggested:

![photo_2019-09-15_16-20-38](https://user-images.githubusercontent.com/1571724/64927150-f1b94400-d7d4-11e9-87c8-fae08c3ee359.jpg)

just with normal install in any professional deploy does not work.. again may all of you guy need to revise the rewrite rules maybe.. tested at the centos and winbuntu deploys and a

[2019-09-15 20:24] mckaygerhard commented on #2538
hi @klisle  wirking only away of apache2 only bloabed htacces file as image suggested:

![photo_2019-09-15_16-20-38](https://user-images.githubusercontent.com/1571724/64927150-f1b94400-d7d4-11e9-87c8-fae08c3ee359.jpg)

maybe are mi specific case.. and there's no related but just with normal install in any professional deploy does not work.. again may all of you guy need to revise the rewrite rules

[2019-09-16 16:47] paverneuil opened #2540 "Android app"
hello,
 I wonder if there is an android application, or a method that would make it compatible printing receipt via a wireless thermal printer I just discovered your project and begins to interest me in the way it works.

[2019-09-16 17:02] WebShells commented on #2540
Hello @paverneuil, currently the project can run on Android devices, yet not fully responsive and printing to Bluetooth printer isn't supported. Need some customization in order to print directly from Chrome... Contributions are welcome 🤗 !

[2019-09-16 17:26] paverneuil commented on #2540
At first, I think that with Google Cloud Print, something would be possible with a rather simple integration.  the disadvantage would be connectivity. 😅

[2019-09-16 17:39] WebShells commented on #2540
True, google cloud printing cannot detect the Bluetooth printer... Thus it needs some tweaking to print raw data directly through js...

[2019-09-16 19:41] klisle commented on #2538
I have tried again with a new ubuntu ec2 host, LAMP, and the issue persists, new item pop-up is blank/empty. I tested the 3.2.3 release and new item worked fine but stops working once I am using 3.3.0. As I said before the issue only occurs with new item in 3.3.0; new supplier, new customer, new employee work fine. It doesn't appear to be an htaccess issue since **only** new item doesn't work in 3

[2019-09-16 20:18] mckaygerhard commented on #2538
as i noted you used the bloaded apache2... try other system and define "index.php".. as my image shows u.. change winbuntu...

i tested again AWS cd2 host Debian and works only with lighttpd and/or hiawatta.. those htaccess files are a headache since long time (are only compatible with apache2.. nginx has limited support)

[2019-09-16 21:49] daN4cat commented on #2538
@klisle any way you can share an access credential to your installation to see what's wrong? I need to read what's behind that 500 Error.

[2019-09-16 23:14] klisle commented on #2538
Hey @daN4cat  provide me with a public key and I can make it happen.

@mckaygerhard I tested with lighttpd but had no success with the new item, its still the only thing not working :(
You said "define index.php" but I am not sure what you mean, there is already an index.php file defined in the public folder.

[2019-09-17 11:03] marcellusmontilla opened #2541 "Barcode's 350 pixel width limit question"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2019-09-18 12:36] daN4cat commented on #2541
No idea why that limit.
Feel free to change, test and submit a PR with the change.

[2019-09-18 12:52] WebShells commented on #2541
The barcode will be readable only in a specific width i think...

[2019-09-18 13:36] daN4cat commented on #2541
Quite possibly

[2019-09-18 13:48] WebShells commented on #2541
And it depends on barcode type to set barcode width accordingly in order to be readable as correct formatted... Maybe this should stay unless we replace it by something which automatically input barcode width upon barcode selection.

[2019-09-18 14:47] norekluzt opened #2542 "Add Visa , Master Cards in payment options Please"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2019-09-18 17:53] odiea commented on #2542
Yes there is a way for this to happen. In your language find sales and add the following lines. Try this and see if it works for you.
[code]
Then in application /helpers find locale_helper
Then add the following lines before or after line 250.
[code]

[2019-09-18 19:59] norekluzt commented on #2542
Amazing thank you so much !

________________________________
From: odiea <notifications@github.com>
Sent: Wednesday, September 18, 2019 11:53 AM
To: opensourcepos/opensourcepos <opensourcepos@noreply.github.com>
Cc: Keron Tzul <kerontzul@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [opensourcepos/opensourcepos] Add Visa , Master Cards in payment options Please (#2542)

Yes there

[2019-09-18 20:22] #2542 closed

[2019-09-19 01:00] norekluzt opened #2543 "The upload destination folder does not appear to be writable."
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2019-09-20 07:52] daN4cat commented on #2538
@klisle apologies for the delay but I've been too busy in the past days to find the time to come back here.
Here my PGP public key (I use Keybase):

-----BEGIN PGP PUBLIC KEY BLOCK-----
Comment: https://keybase.io/download
Version: Keybase Go 1.0.38 (darwin)

xsFNBFpLb/MBEADDSN/+K6ASWzwXqqd/8h5wLvyzfwYh53SltluiHtsasq4v7cbK
iTW475+vAWxPUBMOzlDJZ98PmU5NubbP6Tfb3t6cCLzG/HLjA/wSIm0St0GEbhv+
NqqUMa5IhY

[2019-09-20 07:53] daN4cat commented on #2538
Once you have copied I'll delete the post. If you send me the URL and credentials I will have a look into that over the week end.

[2019-09-20 15:57] klisle commented on #2538
ok I have copied

On Fri, Sep 20, 2019 at 2:54 AM FrancescoUK <notifications@github.com>
wrote:

[2019-09-20 19:04] daN4cat commented on #2538
Good

[2019-09-21 01:07] blutme opened #2544 "/.../public Plain text php code"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-09-21 01:33] blutme commented on #2543
I think you must enter to the module Access>Console Access on DigitalOcean and find path: /var/www/....

and enable permissions.

chmod 770 -R /var/www/html/[ospos name]/application/logs/
chmod 770 -R /var/www/html/[ospos name]/public/uploads/
chmod 770 -R /var/www/html/[ospos name]/public/uploads/item_pics/

I have performed this process on my local server and it worked for me.

[2019-09-21 13:09] akhilnasi commented on #309
hi all
Do any one know how to connect vfd display in ospos ....do any one have updated ospos with vfd display files..

Thanks in Advance

[2019-09-21 13:17] WebShells commented on #309
@Akhilnasi Hello back, currently no version supports vfd display (serial/com connection).
A pull request is currently opened for regular second display for users who's using dual screen POS if you would like to copy the code and use it, it works by activating second display option under configuration section. This will duplicate sales view and mirrors it to another Pop-up window working as seconda

[2019-09-21 16:00] mckaygerhard commented on #2452
i setup a patch very very large that solves the situation very nvery NEED! due seems @daN4cat does not UNDERSTAND the previous comment..

setting xss to false doe snot solve the problem, there's a bug now that does not permit to show the items list.. if we have previously items saved

[2019-09-21 16:06] mckaygerhard commented on #2452
setting xss to false does not solve the problem, there's a bug now that does not permit to show the items list.. if we have previously items saved

![Pantallazo-5](https://user-images.githubusercontent.com/1571724/65375892-0891e780-dc68-11e9-9030-9bfd06b21cee.png)

seems that ospos currently has many bugs related to items and input's fields respect database and security

i setup a patch very very

[2019-09-21 16:25] mckaygerhard commented on #2452
setting xss to false does not solve the problem, there's a bug now that does not permit to show the items list.. if we have previously items saved

![Pantallazo-5](https://user-images.githubusercontent.com/1571724/65375892-0891e780-dc68-11e9-9030-9bfd06b21cee.png)

seems that ospos currently has many bugs related to items and input's fields respect database and security

i setup a patch very very

[2019-09-21 16:34] nerv55 commented on #2452
It seems reasonable to encode description in Base64, as @mckaygerhard mention, this way user can put what ever they want and have no problems, of course is another layer of encode decode data.

[2019-09-21 17:07] daN4cat commented on #2452
If I were you, I would start from understanding what XSS is about....

[2019-09-23 05:55] #2476 closed

[2019-09-23 13:34] #2515 closed

[2019-09-23 13:35] jekkos commented on #2515
Fix in master and validated by @odiea . Will Close.

[2019-09-23 17:34] klisle commented on #2538
@daN4cat can you generate an ssh key-pair instead? I did some reading around utilizing PGP key for ssh auth and it would require a number of changes that I would have to make and test. It would be a lot easier for you to generate a new rsa keypair and provide me with the public key to add to my ec2 instance.

[2019-09-23 17:47] daN4cat commented on #2538
@klisle I need url and login credentials to your ospos to see the issue and check what error is returned. I don't plan to ssh to your ec2 instance.

[2019-09-23 17:47] daN4cat commented on #2538
I thought you wanted to encrypted that info l.

[2019-09-23 17:50] klisle commented on #2538
ok I got you. give me an email address I can send the credentials to then.
Thanks.

On Mon, Sep 23, 2019 at 12:47 PM FrancescoUK <notifications@github.com>
wrote:

[2019-09-23 18:20] daN4cat commented on #2538
Just encrypt those with my PGP public key and put the encrypted file here. I'll do the rest.

[2019-09-23 18:53] klisle commented on #2538
@daN4cat see below for encrypted message. thanks.

-----BEGIN PGP MESSAGE-----
Version: BCPG C# v1.6.1.0

hQIMAxHXk/yMjXLYARAAmXKspGEEca88/vgrkFv0pDA8H1fNex4mHD+d5TwYWOGP
v802sThmJCFd5d54Btob7UdrPO9xsDUgziT1hDOEGdYTl+lFUQt35RWgS/k0VgzN
Va/W2owlzypm0EpiW2brr9F3TIfAIO14yZIw8dQCkfX6nb6oUvBDSS/aDTmdykz2
1gL035ObKT1s16HOF/Yx78i0iSjOSrUc80G34EWihZoo9Yxokh4Wx5vHvuIrQGoV
2IvnBgfXluUCh7O9KSbrtegNO9YJxZuhKB

[2019-09-23 21:20] daN4cat commented on #2538
@klisle I cannot see anything from the browser, the 500 error doesn't give that many clues.

Have you tried to enable the error logging on Apache and see what's logged? That's the only way to debug the issue.
You need to check that a bit yourself.

[2019-09-24 08:10] jekkos commented on #2251
Isnt there a validation check to prevent you from entering stock names with underscores?

[2019-09-24 08:15] izeblood opened #2548 "CAN'T upload items more than 100 lines..."
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-09-24 16:51] klisle commented on #2538
@daN4cat do you mean apache logs or do you mean php logs?

[2019-09-24 16:57] daN4cat commented on #2538
@klisle both

[2019-09-24 20:53] klisle commented on #2538
@daN4cat see error.log snip below. you can see where I go to customer and hit new customer (you see the zlib line). You can then see where I go to items but when I click new item i just see a repeat of the previous 4 lines as opposed to the zlib line we expected.

![image](https://user-images.githubusercontent.com/54595880/65549240-c0322e00-dee2-11e9-823f-cd70e34ed32b.png)

[2019-09-24 21:47] daN4cat commented on #2538
So you use compression, what if you disable that? I don't think we ever tested with that enabled.

[2019-09-25 00:16] izeblood commented on #2548
Yeah I did it... but only few lines up to 75 I think... but can't load it more... I have items which is more than 3000 products, when I uploaded it using the template it can't finished to the last lines of the items. I think the php.ini is an issue here. what you think @daN4cat ?

[2019-09-25 01:36] izeblood commented on #2548
[import_items.zip](https://github.com/opensourcepos/opensourcepos/files/3650143/import_items.zip)
try this file to upload as your basis. This is the actual size of my file that i test to upload

[2019-09-25 03:04] izeblood commented on #2548
This issue is now solved... thankx

[2019-09-25 03:04] #2548 closed

[2019-09-25 04:49] izeblood opened #2551 "Can we apply this kind of method to give more efficient in the sales module?"
![process!](https://user-images.githubusercontent.com/32444665/65569760-460cb280-df91-11e9-9373-993429da9dd0.jpg)

then the result ...
![2output](https://user-images.githubusercontent.com/32444665/65569922-eebb1200-df91-11e9-8ebb-82467667b2a3.jpg)

[2019-09-25 05:45] rjiansevilla commented on #990
Where I can edit the navigation? like changing the flat icons? thanks

[2019-09-25 06:35] daN4cat commented on #990
@rjiansevilla public/images/menubar

[2019-09-25 06:41] jekkos commented on #2485
To my knowledge there's still one issue to test and we're good to go for 3.3.0. I'd also like to mention that I'll be travelling through Asia october-november so I won't have time to do any bugfixes (as won't take a laptop with me). So it would be good if we can put this release to an end this or next week!

@daN4cat maybe I can consider giving you access to the weblate / demo server so you can in

[2019-09-25 07:49] rjiansevilla opened #2552 "Navigation Menu"
Is there a way I can disable some menu or the plat icons menu? navigation on the top and the home. thanks

[2019-09-25 08:26] daN4cat commented on #2552
Use the user permissions to control what's visible or not.

[2019-09-25 08:27] rjiansevilla commented on #2552
Thanks. is it possible to add menu or flat icon?

[2019-09-25 08:30] daN4cat commented on #2485
We wrap up this weekend and release 3.3.0. After that we will put on hold things until next year. Any bug fix will be dealt for sure.

Yes, it would make sense to get access to those tools in case something falls over.

Can you please check if any translation needs a push? Although I understand everything is automatic.

[2019-09-25 08:31] daN4cat commented on #2552
You can code what you like, as long as you respect the license.

[2019-09-25 08:31] #2552 closed

[2019-09-25 09:49] WebShells commented on #2485
Actually there are some ar strings i added lately, i can handle weblate and demo server part...

[2019-09-25 11:07] jekkos commented on #2485
@dan4cat sometimes the push gets stuck due to wrong permissions on newly added files. I guess that should be solved by setting umask be in one way or another. I'll have a look on case it happens again.

So let's say no planned new features for upcoming 3.4, but that might not include plans of the other contributors here

[2019-09-25 11:41] mckaygerhard commented on #2485
hi guys.. ok with release but there's still two issues heppened related to items screen, sorry for bad news from me!

[2019-09-25 13:39] objecttothis commented on #2485
@jekkos at the end of October when I return I expect to finish the CLCdesq connector plugin. Is there a reason why that can't go into 3.4?

[2019-09-25 13:42] daN4cat commented on #2485
@objecttothis it can go to 3.4 yes. But I don't commit any time on OSPOS past 3.3.0 until next year. I'll help with reviews where I can.
If I find some free time I might work on something.

[2019-09-25 15:39] klisle commented on #2538
Is there anything else you think you may need to see? I believe I enable
logging in php but not seeing anything at all in the log files I have
specified.

On Tue, Sep 24, 2019 at 4:47 PM FrancescoUK <notifications@github.com>
wrote:

[2019-09-25 15:41] mckaygerhard commented on #2538
i already have enabled compression in lighttpd adn does not show the error... in apache2 if disable compresion still happened

[2019-09-25 15:45] klisle commented on #2538
I have it running on lighttpd as well and I'm still having the issue. What
might you have done differently?

On Wed, Sep 25, 2019 at 10:41 AM Герхард PICCORO Lenz McKAY <
notifications@github.com> wrote:

[2019-09-25 15:52] SteveIreland commented on #2485
So we are clear to submit pull requests as long as we don't expect them to be merged until next year.  That sounds fair enough.

[2019-09-25 15:58] mckaygerhard commented on #2538
i do not use rewirte rules.. specifiy the index.php in applications/config adn define a generic root of all project ad index.php file: see: https://github.com/opensourcepos/opensourcepos/issues/2009#issuecomment-395442297 as first right example.. i forced a index.php event use a .htaccess rewrite file.. that redirects to public/index.php

**explanation AGAIN are here:**  https://github.com/osposwe

[2019-09-25 16:01] mckaygerhard commented on #2538
**explanation AGAIN are here:**  https://github.com/osposweb/opensourcepos/commit/9b89c05501de2d89506100a351ece93c8633b5b5 but some ospos developers still want a very slower apache only setup

@klisle  as i explained before to  @daN4cat i do not use rewirte rules.. specifiy the index.php in applications/config and define a generic root of all project ad index.php file: **see: https://github.com/op

[2019-09-25 17:01] daN4cat commented on #2538
@klisle who knows....

[2019-09-25 17:03] daN4cat commented on #2538
@klisle as asked earlier, can you disable zlib compression of the http pages?
If I got right you enabled it and we never tested it.

[2019-09-25 17:39] daN4cat commented on #2538
@klisle just to state the obvious, are you sure the items dialog box php file is in place? It's not that it has been deleted, right?

[2019-09-25 20:09] daN4cat commented on #2521
Merged the fix and I close. If any issue we can reopen this.

[2019-09-25 20:09] #2521 closed

[2019-09-26 02:31] SteveIreland commented on #2551
This looks like interesting addition.  Since @daN4cat has implicitly approved it I'll take it on as an early 3.4 change unless someone else would rather do it themselves.

[2019-09-26 04:43] shyamsunderindia commented on #1673
Hi All, My name is Shyam, I am also having same problem. When I am adding New Customer there dialog box is opening but that is blank only submit button appear and nothing field to enter detail. Rest adding Item, whole seller etc . is working fine. Only facing problem in adding New Customer.

I tried this application in my local server using xamp there everything working fine there is no issue and

[2019-09-26 04:46] shyamsunderindia opened #2553 "UNABLE TO ADD NEW CUSTOMER, ON LOCAL HOST WORKING FINE, PROBLEM FACING IN SHARED HOSTING SERVER"
Hi All, My name is Shyam, I am also having same problem. When I am adding New Customer there dialog box is opening but that is blank only submit button appear and nothing field to enter detail. Rest adding Item, whole seller etc . is working fine. Only facing problem in adding New Customer.

I tried this application in my local server using xamp there everything working fine there is no issue and

[2019-09-26 06:01] WebShells commented on #2553
Hello Shyam, please we would like to know which version you are using? Installation? PHP? Etc... For this, please fill in the issue template so we can help in a better way, it might be related to php modules, not all are running as required.

[2019-09-26 11:08] odiea commented on #2553
opensourcepos.20190704173621.master.7da7c0
3 months ago   

[2019-09-26 11:20] shyamsunderindia commented on #2553
Hi, WebShells and odiea, Thanks for giving fast reply and noticing my issue. Now I have some hope that my problem will be short out.  Here below is all detail about version etc. I all files are hosted on linux shared hosting.

Details:
--------------------------------------------
OSPOS Installation Info:	3.3.0 - 7da7c0
Language Code:	en-US

Extensions & Modules:
» GD: Enabled ✓
» BC Math: Enabled

[2019-09-26 11:28] odiea commented on #2553
This is the current unstable 3.3.0 version. Try it out.
https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20190925200927.master.d63eb4.zip

[2019-09-26 11:34] shyamsunderindia commented on #2553
@odiea  with given link by your side, if i install then will this work fine? Since the version which I am currently using is also working but in local server and same ospos version and files which uploaded on hosting server there is issue. If there will some issue in that version of ospos then that should not work even in my local host. But according to your suggestion let me to test the version w

[2019-09-26 11:48] odiea commented on #2553
We won't know until you try it.
1. Find a computer with 2 or more gigs of ram.
2. Put it on a battery backup and stick it in some lonesome place out of sight.
3. Install Wamp or xampp on it.
4. Install OSPOS on it.
5. Get a dynamic dns provider if it really needs to be on the Internet.
Too many service providers are causing issues that we cannot diagnose.

[2019-09-26 11:54] shyamsunderindia commented on #2553
@odiea Ya you are right I am also thinking this is becoz of server hosting provider side, because that working fine on local host. By the way I am installing again those files which you provided to me. give me some time to check. If this will not work then I will migrate to any other hosting provider.

If you can check faster than me on any shared hosting then please do and let me know. I am onlin

[2019-09-26 14:50] objecttothis commented on #2485
@SteveIreland I think if @jekkos is around and code reviews can be done on pull requests then pull requests can still get merged into the master.  If I understand correctly, @daN4cat is just taking a hiatus from committing time to opensourcepos minus code reviews if he can.

[2019-09-26 15:01] SteveIreland commented on #2485
That's not my understanding.  I believe that the intent is to avoid merging any new features except serious bug fixes which would go out as 3.3.1.  But I could be wrong ... it's happened once before.  :-)

[2019-09-26 15:26] objecttothis commented on #2485
You're probably right. I've missed large swaths of the conversation due to my travelling.

[2019-09-26 16:07] shyamsunderindia commented on #2553
@odiea Hi, I installed again on hosting server with those setup files which you shared with me, Still have same issue unable to add new customer. What to do next? Should I migrate to another hosting server? or there is some other solutions? please let me know.
Thanks for your kind help

[2019-09-26 19:16] jekkos commented on #2485
The time to check stuff will also be limited on my side. At least I wont be able to work on new features as I won't take a laptop with me. So it will only be an occasional check from my phone. After pushing 3.3 out we will probably have some time in which we'll have some feedback on bugs, etc..

[2019-09-26 21:09] daN4cat commented on #2485
Also I'm not sure how far we can go with current OSPOS architecture.
The current approach is old fashion and we should have a clean API with a thick client and a mobile app.
Sale register is really ugly with complete page refreshes.
We have just done a face lifting with the migration to Bootstrap 3, but the rest is still old.

[2019-09-26 21:13] objecttothis commented on #2485
I'm all for having a mobile app.  It's on my development list.

[2019-09-26 21:37] WebShells commented on #2485
I agree @daN4cat alot of features and code improvements were applied, yet the main register architecture specifically is becoming somehow old with the refresh thing... @objecttothis a native mobile app with BT printing feature is on my list too, but that's only related to what we currently have... Nothing related to any performance improvements.

[2019-09-28 16:33] daN4cat commented on #2538
@klisle I'm using the latest master and enabled gzip compression in OSPOS config and it's working fine (using the docker deployment on my local machine).
I really don't know what the problem could be with your installation. I assume uploads/item_pics is visible.

I'll give a try and upgrade a dev ospos on my host and see if compression is fine there or causing some problem. That doesn't use the do

[2019-09-28 16:43] daN4cat commented on #2538
@klisle I tried from my host enabling compression and works fine with latest master and a pre populated database.
I didn't try with an empty database though, not sure that makes a difference here.
Worth noting that I don't use any attribute.

[2019-09-28 16:44] daN4cat commented on #2538
@klisle I would need a php and ospos log to understand better what's going on.

[2019-09-28 16:59] odiea commented on #2538
@daN4cat . If you can get this one figured out #2553 has a similar issue only the Customer add does not work.

[2019-09-28 17:25] daN4cat commented on #2538
@odiea I really don't know what it is because I cannot reproduce on my local machine nor on my host.
Both are Linux based (Ubuntu & CentOS) and different setup (Docker, standard installation), and both work fine.

We really need logs php and ospos to understand what's going wrong with the server returning error 500.

[2019-09-28 17:37] daN4cat commented on #2538
@klisle for error logging enabling see this wiki page: https://github.com/opensourcepos/opensourcepos/wiki/OSPOS-DEVEL-for-Error-Logging-in-OSPOS#error-log-on-client-side

@odiea I've tried to fix the description there, the English mainly but it probably requires another pair of eyes to go through and fix the content. Not sure you are inspired today but if yes an help there would help. I'm trying

[2019-09-28 17:37] daN4cat commented on #2553
@shyamsunderindia we need php logs to help you. For error logging enabling see this wiki page:https://github.com/opensourcepos/opensourcepos/wiki/OSPOS-DEVEL-for-Error-Logging-in-OSPOS#error-log-on-client-side

[2019-09-28 17:42] odiea commented on #2538
@daN4cat Are you referring to the above link for error testing. I will look later today. Sorry grand kids are waiting.

[2019-09-28 18:34] daN4cat commented on #2538
BTW, the issue #2383 was about a similar issue and solution was fixing PHP and MySQL installation.

[2019-09-28 18:34] daN4cat commented on #2553
BTW, the issue #2383 was about a similar issue and solution was fixing PHP and MySQL installation.

[2019-09-28 19:53] daN4cat commented on #2026
I know we had different opinions, but I wanted to draw a line and change the logo in order to release 3.3.0 with something new.
I kept the blue colour reusing @loydjayme25 design, so many thanks to him and for his contribution.

[2019-09-28 19:55] daN4cat commented on #2485
I would say that we are ready to release.

Please check README.txt, WHATSNEW.txt and let me know if you are fine.
I'll prepare the release text, ready to publish it once we are fine with the preparation.

[2019-09-28 20:02] daN4cat commented on #2538
Another example pointing to a database issue #1876

[2019-09-28 20:02] daN4cat commented on #2553
Another example pointing to a database issue #1876

[2019-09-28 20:04] daN4cat commented on #1855
See #2358

[2019-09-28 20:24] odiea commented on #2538
The only change I can think of would be to change the heading to "How to log errors in OSPOS"

[2019-09-28 20:36] objecttothis commented on #2026
I'm not sure but I think current practice is to use a vector format (svg) because it scales better than bitmap (tif, jpg). My recommendation is to use a single svg and scale it.

[2019-09-28 20:39] daN4cat commented on #2485
Last touches and the text for the release is ready.

@jekkos have you checked weblate? Is everything right and submitted in terms of translations?

[2019-09-28 20:43] daN4cat commented on #2538
@odiea but we can't change otherwise the links here are broken. Maybe a proof reading and English improvements would help.

[2019-09-28 20:44] daN4cat commented on #2026
All the icons are png, I don't see how changing one would do better.

[2019-09-28 20:47] WebShells commented on #2485
@daN4cat i am working on an auto installer for cpanel users, can we wait so we can include into this release? Since all people will be downloading stable releases, it might help lower installation issues for some unexperienced users... So if we can do the release by tomorrow it would be great... Will finish working on it with @Jekkos tonight...

[2019-09-28 20:54] daN4cat commented on #2485
@WebShells the plan was to release tomorrow, latest Monday in any case.

[2019-09-28 21:08] objecttothis commented on #2026
That's fine, but png is bitmap so it won't scale like vector will.

[2019-09-28 22:05] daN4cat commented on #2026
Yep, I know but I don't have any better.

[2019-09-28 23:22] erastus commented on #2485
Need to add WHATSNEW.txt fixed sales discount.

[2019-09-28 23:28] WebShells commented on #2485
Added...

[2019-09-29 05:16] daN4cat commented on #2485
Note to myself: add new docker installation guideline.

[2019-09-29 07:37] akhilnasi commented on #309
Thank you for your respond.
But the code above you mentioned is for Dual screen. But i need to activate for VFD display (serial port).
Is there any way for that?

[2019-09-29 09:00] jekkos commented on #2485
Weblate is uptodate. All translations should be merged.

[2019-09-29 12:32] daN4cat commented on #2514
@shankar58989 I missed to answer this, is the mod_rewrite module installed on your server?

[2019-09-29 12:36] daN4cat commented on #2485
Done

[2019-09-29 12:37] daN4cat commented on #2485
@jekkos @WebShells can we release? Anything else we need to wait? I know there is this cpanel thingy but I don't want to hold this release forever even considering that tomorrow is the last day of September and we are 9 months late compared to the initial milestone of end of 2018!

[2019-09-29 12:42] WebShells commented on #2485
@daN4cat if you can have a fast look on the invitation I've sent, i guess if we edit minor things needs like an hour, we can merge and release... If not we can keep it for the next one supporting several installations scenarios, no problem 👍

[2019-09-29 13:21] daN4cat commented on #2485
@WebShells I would keep it separate in your github space at the moment and we can reference it from the installation guideline.
In this way you can have a bit of more time to test it and if all fine we integrate it in 3.4.0.
I'm concerned that to test all of that might take time, with people asking questions and etc., so a release at the last minute is not the best option.

[2019-09-29 13:23] daN4cat commented on #2485
You can make it part of opensourcepos space as separate repository, then reference it.
Please amend the .md files to contain reference to your new tool, I'm leaving now for few hours and I don't have the time to add the changes.

[2019-09-29 13:35] daN4cat commented on #309
@akhilnasi to connect to a serial port on the local machine from the browser you need to use web socket and code something in javascript.

[2019-09-29 14:12] WebShells commented on #2485
You are right, totally agree... Will add to installation section so we can test further and have several feedbacks regarding issues, etc... Will publish the file and ready for any changes/fixes.

[2019-09-29 16:16] daN4cat commented on #2485
By the way, there is a bit of a circular dependency if you want to embed it in OSPOS. The release in bintray will not be valid until you tag the master version and your script depends on a specific release. So you can version all together because it's a chicken and egg issue.

Better to keep the installer separate unless you work out a means to solve that problem.

[2019-09-29 16:30] WebShells commented on #2485
@daN4cat that's why i edited the link to download from Github releases. The links of releases won't ever get expired i guess, and will be updated after every official release. This will fix the situation...

[2019-09-29 17:15] WebShells commented on #2485
@daN4cat We can go forward with the release, from my side everything is set... @jekkos any editions?
@opensourcepos/org Thank you for all your hard work, commitment, and invaluable contributions to keep this project running...
Moving to a next stage with more exciting features and additions for v3.4 !

[2019-09-29 18:16] daN4cat commented on #2485
Sounds good, starting the release machine.

[2019-09-29 18:32] daN4cat commented on #2485
Done, the new release 3.3.0 is now out: https://github.com/opensourcepos/opensourcepos/releases/tag/3.3.0

Thank you all for the great work and we can now enjoy a bit of rest, or keep moving.
Before merging / changing anything we need to wait a bit of time and then the first step is to change the version in master to be either 3.3.1 (if bug fixes are required) or 3.4.0 if all if hunky dory and we

[2019-09-29 18:32] #2485 closed

[2019-09-29 18:34] daN4cat commented on #2520
No follow up, I close.

[2019-09-29 18:34] #2520 closed

[2019-09-29 18:34] #1625 closed

[2019-09-29 18:35] daN4cat commented on #2524
No follow up, I close.

[2019-09-29 18:35] #2524 closed

[2019-09-29 18:37] daN4cat commented on #2418
No follow up, I close.

[2019-09-29 18:37] #2418 closed

[2019-09-29 18:38] daN4cat commented on #2499
No follow up, I close.

[2019-09-29 18:38] #2499 closed

[2019-09-29 18:38] WebShells commented on #2485
@daN4cat please fix the release notes from "Fixes" Sale Discount to "Fixed"..
Thanks... Enjoyyyy your break, come back the soonest possible!

[2019-09-29 18:40] daN4cat commented on #2437
No follow up, I close.

[2019-09-29 18:40] #2437 closed

[2019-09-29 18:58] daN4cat commented on #2502
Use latest Release 3.3.0 and read the new docker installation procedure.

[2019-09-29 18:58] #2502 closed

[2019-09-29 18:59] daN4cat commented on #2485
Done

[2019-09-29 19:01] daN4cat commented on #2478
No follow up, I close.

[2019-09-29 19:01] #2478 closed

[2019-09-29 19:48] daN4cat commented on #2544
Download the latest official Release 3.3.0 from [Github here](https://github.com/opensourcepos/opensourcepos/releases/tag/3.3.0), install and try again.

[2019-09-29 20:42] daN4cat commented on #2103
Please check Release 3.3.0, it's now out. I close this thread as it got very confusing.

[2019-09-29 20:42] #2103 closed

[2019-09-30 01:52] SteveIreland commented on #2530
This was originally satisfied as an example of what changes needed to be made to the code in order to accomplish the request.

There was subsequent interest in a more permanent and more complete change which I will be doing as a 3.4 enhancement.  So I'm resurrecting this.  Hope you don't mind.

[2019-09-30 05:25] izeblood opened #2554 "How to implement Keyboard Shortcuts especially in Sales Module?"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-09-30 05:52] daN4cat commented on #2554
Have you searched past issues? This was discussed already.

[2019-09-30 05:52] #2554 closed

[2019-09-30 05:52] daN4cat commented on #2530
Fine

[2019-09-30 08:04] izeblood commented on #2554
nope... can you give me the issue #?

[2019-09-30 08:08] izeblood commented on #2554
Got it...

[2019-09-30 21:16] klisle commented on #2538
@daN4cat @odiea I have tested locally on my windows system using xampp and it works fine. I am wondering if it is an issue with it being hosted on aws. For the client it will be running on a local server. May need to test on that server by deploying a new vhost.

[2019-09-30 21:24] daN4cat commented on #2538
@klisle which database have you used? Aurora MySQL or a MySQL deployed on the VM?

Also you could give a try to the new docker I created with a nginx reverse proxy and TLS cert based on Letsencrypt. The deployment will do all for you, you just need to configure it and run the docker/install-server.sh script (read the the [INSTALL.md](https://github.com/opensourcepos/opensourcepos/blob/master/INSTA

[2019-09-30 23:05] klisle commented on #2538
@daN4cat @odiea I tested on the client's local server running ubuntu 16, LAMP; and the issue still persists, new item not working though all other aspects work, so its not aws. On that same ubuntu server the client is using 3.2.0 so I'm not sure what's the difference between how the two versions call "new item". Why does it like XAMPP and not LAMP?lol smh.

[2019-09-30 23:25] odiea commented on #2538
I think that is what we are trying to find out.

[2019-10-01 00:18] WebShells opened #2555 "Ubuntu Shell Access"
Dear users,

We're in need for a Ubuntu Shell access with elevated permissions to create all-in-one script for setting up nginx web server, install mariadb, install php, create nginx block files, and insall adminer...
This will help in setting up OSPOS automatically on LEMP enviroment without any user effort other than few db related questions.

If anyone can offer comment down...
Much appreciate

[2019-10-01 00:45] objecttothis commented on #2555
@webshells, sorry I could give you a FreeBSD jail with elevated access, but I don't have access to Ubuntu.

[2019-10-01 01:21] tuthanika opened #2556 "Error Graphical Reports payments"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-10-01 01:58] WebShells commented on #2556
This issue exist in 3.3.0, just tested...

OSPOS Installation Info: 3.3.0 - 0b9a76
Language Code: en-US

Extensions & Modules:
» GD: Enabled ✓
» BC Math: Enabled ✓
» INTL: Enabled ✓
» OpenSSL: Enabled ✓
» MBString: Enabled ✓
» Curl: Enabled ✓

User Settings:
.Browser: Chrome
.Server Software: Apache
.PHP Version: 5.6.40
.DB Version: 5.6.45
.Server Port: 80
.OS: Linux 2.6.32-696.16.1.el6.x86_64 #1

[2019-10-01 02:04] tuthanika commented on #2556
I have fixed it successfully
application/controllers/Reports.php
replace line 853 to 855
 	public function graphical_summary_payments($start_date, $end_date, $sale_type)
	{
		$inputs = array('start_date' => $start_date, 'end_date' => $end_date, 'sale_type' => $sale_type);"
to
 	public function graphical_summary_payments($start_date, $end_date, $sale_type, $location_id = 'all')
	{
		$inputs = array

[2019-10-01 02:10] WebShells commented on #2556
Fixed in master, will close... Thank you @tuthanika

[2019-10-01 02:10] #2556 closed

[2019-10-01 04:04] daN4cat commented on #2538
@klisle do you have all the php modules installed?
I run my installation on my ubuntu 18 laptop with no issues.
You really need to enable the logging if you want us to help.

[2019-10-01 04:06] daN4cat commented on #2556
Alright we need a 3.0.1 out soon. Let's wait a bit for more testing and feedback.

[2019-10-01 10:29] WebShells commented on #2555
Thanks @objecttothis... What is the control panel you are using ? I guess the commands doesn't differ from CentOS to FreeBSD, if you have no problem please try the below and let me know if things ran smoothly...

[OSPOS cPanel & SSH Auto Installer ](https://github.com/opensourcepos/opensourcepos/wiki/Getting-Started-installations#cpanel-ssh-install)
If you use something different than cPanel, i'd

[2019-10-01 13:16] objecttothis commented on #2555
Sorry, I misunderstood. I didn't realize you were talking about a cpanel installer. I thought you were talking about a shell script or something similar. I'm not using cpanel on that server.  I do have a shared server that runs cpanel on it but I don't have, nor can I give, elevated access.

[2019-10-01 13:18] objecttothis commented on #2555
In November when I get back in the office at the beginning of November I can run it with just user access on cpanel.

[2019-10-01 13:46] WebShells commented on #2555
@objecttothis actually it's a shell installer but db creation is made through cpanel, if you can share access with regular permissions i can adjust to work on regular shells with no cPanel...

[2019-10-01 15:14] faoziahmedtaher opened #2558 "Delete of items or Bills"
Hello
i had POS 3.2.3 when i upgraded to 3.3.0 i cant delete any items or bills i cant delete any thing because the button delete not responding at all
thx

[2019-10-01 15:16] odiea commented on #2558
Did you mark the items for deletion?

[2019-10-01 15:20] messidiq opened #2559 "CSS Error & No Item Kits to display"
![Screenshot_20191001_215705](https://user-images.githubusercontent.com/22187541/65975915-9015fc80-e499-11e9-9ece-37f7284aeca7.png)

Hi i found this issue when updating to version 3.3.0, Help me out

[2019-10-01 15:31] faoziahmedtaher commented on #2558
yes i select the item when i click delete it does not show any respond

[2019-10-01 16:27] odiea commented on #2558
You will have to submit the info from configuration/system info. It may help.

[2019-10-01 16:35] faoziahmedtaher commented on #2558
OSPOS Installation Info: | 3.3.0 - dev
-- | --
en-US
» GD: Enabled ✓» BC Math: Enabled ✓» INTL: Enabled ✓» OpenSSL: Enabled ✓» MBString: Enabled ✓» Curl: Enabled ✓
.Browser: Chrome.Server Software: Apache.PHP Version: 7.1.32.DB Version: 5.6.45.Server Port: 80.OS: Linux mocha3031.mochahost.com 3.10.0-962.3.2.lve1.5.24.8.el7.x86_64 #1 SMP Fri Jan 4 06:55:54 EST 2019 x86_64
» [application/logs:] - 07

[2019-10-01 16:37] WebShells commented on #2558
Please use copy info button to keep formatting...

[2019-10-01 16:38] faoziahmedtaher commented on #2558
معلومات التثبيت OSPOS: 3.3.0 - dev
Language Code: ar-LB

Extensions & Modules:
» GD: Enabled ✓
» BC Math: Enabled ✓
» INTL: Enabled ✓
» OpenSSL: Enabled ✓
» MBString: Enabled ✓
» Curl: Enabled ✓

User Settings:
.Browser: Chrome
.Server Software: Apache
.PHP Version: 7.1.32
.DB Version: 5.6.45
.Server Port: 80
.OS: Linux mocha3031.mochahost.com 3.10.0-962.3.2.lve1.5.24.8.el7.x86_64 #1 SMP Fri Jan 4

[2019-10-01 16:51] odiea commented on #2558
Your mysql is fairly old.  MySQL 5.6.4 (2011-12-20, Milestone 7). Don't know if that could be the issue. And maybe you could try the Bintray zip version instead of the dev version.

[2019-10-01 17:09] odiea commented on #2559
https://github.com/opensourcepos/opensourcepos/releases/download/3.3.0/opensourcepos.20190929181753.3.3.0.0b9a76.zip

[2019-10-01 17:20] klisle commented on #2538
hey enabled logging. Take a look at the application log snip of the error that comes up when "new item" is hit.

![image](https://user-images.githubusercontent.com/54595880/65984593-c033b000-e445-11e9-80d5-dc77046e5aca.png)

[2019-10-01 17:26] odiea commented on #2538
Try disabling only_full_group_by in mysql..

[2019-10-01 17:27] klisle commented on #2538
Disabled only_full_group_by and new item works fine.
https://tableplus.com/blog/2018/08/mysql-how-to-turn-off-only-full-group-by.html

[2019-10-01 17:47] klisle commented on #2521
REOPEN!! issue still persists. getting duplicates when Enter key is rapidly repeatedly pressed when adding new item.

![image](https://user-images.githubusercontent.com/54595880/65986529-a3997700-e449-11e9-8bac-940ae592cf84.png)

[2019-10-01 18:06] odiea commented on #2521
I do not see where you entered any barcodes.

[2019-10-01 18:18] klisle commented on #2521
I did not add any barcode. I was just testing adding a new item. Rapidly
pressing the enter button multiple times after filling out the form causes
that item to be duplicated.

On Tue, Oct 1, 2019, 1:06 PM odiea <notifications@github.com> wrote:

[2019-10-01 18:28] odiea commented on #2521
And in what scenario would that be used?

[2019-10-01 18:34] klisle commented on #2521
what do you mean? pressing the enter key twice when adding one item
shouldn't give you two entries of the item being created. It should only
register the first Enter press.

On Tue, Oct 1, 2019, 1:29 PM odiea <notifications@github.com> wrote:

[2019-10-01 18:46] odiea commented on #2521
Rapidly
pressing the enter button multiple times after filling out the form causes
that item to be duplicated.

[2019-10-01 18:53] klisle commented on #2521
The scenario in which the original issue was observed was one where 3.2.0 was running on a slow server and the client had people adding items to the system. The users were impatient with the system slowness and at times pressed enter multiple times when adding items, leading to duplicate items, that I as the system engineer am now trying to address before

It's not even that it has to be pressed r

[2019-10-01 19:01] klisle commented on #2521
I was able to duplicate a barcoded item by pressing the enter key twice after filling out the New Item form

[2019-10-01 19:13] daN4cat commented on #2538
@klisle good, but the point now is to understand why that query is not fine with that rule.
@SteveIreland @objecttothis any view?

[2019-10-01 19:21] daN4cat commented on #2538
I checked models/item.php and the problem is that there is a GROUP_CONCAT but no GROUP BY.

So it's a bug and removing the rule is not right. It's related to attributes.

[2019-10-01 19:24] daN4cat commented on #2559
Don;t use code from master but download the release as @odiea correctly pointed out.

[2019-10-01 19:27] daN4cat commented on #2555
Sorry, only CentOS.

[2019-10-01 20:37] odiea commented on #2538
I turned on only_full_group_by and experienced this issue. After going into models/items and get info I found that the following line was creating this issue.
//$this->db->select('suppliers.company_name'); after commenting it out the Items modal worked just fine.

[2019-10-01 21:09] odiea commented on #2538
With only_full_group_by enabled ion mysql.
In detailed Reports Transactions and Receivings the attributes appear to be an issue. If the following is commented out the Reports show ok but with no attributes.
[code]

[2019-10-02 05:21] nira168 commented on #2383
@andriux1990 may I know how to config mariadb database as I also encounter this problem on Digitalocean. I tried to install mariadb instead of mysql but it show Invalid DB driver.

[2019-10-02 05:28] daN4cat commented on #2383
@andriux1990 the issue most likely was what's been found in #2538

[2019-10-02 06:16] faoziahmedtaher commented on #2558
ok it's solved now thx

[2019-10-02 06:26] izeblood opened #2563 "NO TRANSACTION DETAILS to the day of transaction if DUE"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-10-02 07:57] #2558 closed

[2019-10-02 08:35] daN4cat commented on #2563
Version please? Fill in the template to make sure we can help you.

[2019-10-02 12:14] mckaygerhard commented on #2538
i asked, please why in my installation works? i'm pretty confused now

[2019-10-02 14:35] muhammadhanif commented on #2559
I have installed this version. But, when I tried to add Items Kits, the page showed **No Item Kits to display**. I directly checked to the database, there are some items kits that i added previously.

![screenshot-toko local-2019 10 02-21_41_15](https://user-images.githubusercontent.com/12027149/66053437-86090200-e55c-11e9-8131-72216b46518a.png)
![screenshot-mysql local-2019 10 02-21_41_41](https:

[2019-10-02 14:37] odiea commented on #2559
From your table it appears that you did not add any Items to the Item Kits

[2019-10-02 14:46] muhammadhanif commented on #2559
I try to add item, the forms do not appear.
![pos-1](https://user-images.githubusercontent.com/12027149/66054378-13992180-e55e-11e9-8f08-455e8deec3bb.png)

[2019-10-02 16:52] odiea commented on #2559
What do you see when you click on 1 of the red views with error 500?

[2019-10-02 17:22] daN4cat commented on #2559
It's probably the same db error related to grouping

[2019-10-02 17:38] odiea commented on #2559
@daN4cat . Yes you are correct.

[2019-10-02 20:28] daN4cat commented on #2559
@muhammadhanif please see #2538

[2019-10-02 20:31] daN4cat commented on #2538
@mckaygerhard because in your installation only_full_group_by option is disabled, the same with ours. We didn't know about this and that's why a number of people experienced issues we couldn't explain and they solved changing to mariadb or reinstalling the database. Not clear why sometimes is enable and sometime disabled.

[2019-10-02 22:05] tuthanika opened #2564 "Attribute module needs to change"
Attribute module needs to change. There may be multiple attributes for an item. For example, the iPhone has black and white colors, with quantity of each colors. When selling, you can choose the color you sell. This helps inventory statistics more accurate. It will automatically deduct from the total quantity and quantity each color.

[2019-10-02 22:42] muhammadhanif commented on #2559
Thank you @odiea @daN4cat

[2019-10-03 00:16] erastus commented on #2564
@jekkos This attribute can be a dynamic (modifiable) attribute when making a receipt and when making a sale.

for example you receive
20 black iphone
10 white iphone

This article, when it has a dynamic attribute, will be treated as if it were serialized, to allow more elements.

I can work on this.

[2019-10-03 01:01] WebShells commented on #2564
@erastus please propose and submit a PR, that sounds like a good addition to attributes and might help in other cases like expiry dates, sizes, and several models of same product...
It should be added to receivings too.

[2019-10-03 01:11] WebShells commented on #2538
It depends on server side configurations, some hosting providers are using control panels that sets sql configuration by default different from other setups just same as php.inis, that's the only logical explanation I believe...

[2019-10-03 01:15] #2541 closed

[2019-10-03 03:33] erastus commented on #1381
@WebShells could close, this is resolved in version 3.3.0

[2019-10-03 03:36] erastus commented on #2510
@WebShells could close, this is resolved in version 3.3.0

[2019-10-03 06:41] #1381 closed

[2019-10-03 06:42] #2510 closed

[2019-10-03 10:22] crazyfree commented on #2293
let me do a pull request :p

[2019-10-03 12:31] marcellusmontilla commented on #2541
Not yet, but it's not really critical. Was just curious.

[2019-10-03 15:46] wd-code opened #2565 "[INFO] Nginx Content-Security-Policy (CSP)"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2019-10-03 15:50] wd-code commented on #2565
I've forgot to say that I use Let'sencrypt certificats, and to config nginx I used [NginxConfig](https://nginxconfig.io/)

[2019-10-03 16:22] wd-code commented on #2565
Unfortunatly I can't use Docker on the server. And the issue was from a security policies that was with nginx conf on this server. It's just for those who might have the same security issue.

Yes, a lot missing translation actually, and I'm already working on it. Just finish the common section. And by the way how can I see the context of a string ? Sometimes I get stuck

[2019-10-03 16:30] WebShells commented on #2565
@wd-code please use weblate link for translations http://translate.opensourcepos.org it's much easier than setting up each string im php files.

[2019-10-03 16:35] wd-code commented on #2565
I using it but soemtimes I dont know how to translate like *cascade* in the taxes section

[2019-10-03 17:13] wd-code opened #2566 "Question about the taxes section and first data entry row is missing "in box" labels for Cascade and Seq."
I might be dumb, but in taxes section I dont know what are these inputs means :

![image](https://user-images.githubusercontent.com/6681481/66148264-c45ff900-e610-11e9-9f8d-cb9d4130baa2.png)

There one input in the Tax Categories too.

Is that normal if I dont understand that here in France, is it only for the USA ? Or it missing an explanation ?

[2019-10-03 21:39] mckaygerhard commented on #2559
again same bug...

[2019-10-03 21:43] mckaygerhard commented on #2559
again same bug, this are not same of #2538.. the problem it is maybe related to xss as i posted in  #2452 .. ... released a new version with a serious bug present.

[2019-10-03 21:45] mckaygerhard commented on #2538
my installation have all i criticed like setup of mariadb, setup of apache related only.. setup of webserver.. always setup that can be reached with many changes..

[2019-10-03 21:49] mckaygerhard commented on #2452
"if were you"  i not released a version until serious bug are resolved...

[2019-10-03 22:02] WebShells commented on #2452
@mckaygerhard if i were you, i would stop messing here and there and will allow myself for the last time to act as one member of this family... Let's stop this scenario... Everyone here is doing what he's capable to do or help, please stop... It's really getting worse every time... Stop judging everybody, stop this harassment you're creating on every single issue... At least just show some respect

[2019-10-03 22:03] mckaygerhard commented on #2452
i think your commet must be mantained and do not be deleted! due you xpresed your feelings AS I DO!  thanks @WebShells but that does not means that i not have right about the topic

[2019-10-03 23:39] daN4cat commented on #2452
@mckaygerhard if I were you I would go out and have a walk, enjoy life and leave behind OSPOS, GitHub and all the posts you place on each project. I know it's difficult but life has so many better aspects then posting comments here and there. Believe me, if I could retire I would do something completely different in my life.
I'm here to try to close the hot fixing release and take a break.

[2019-10-03 23:43] daN4cat commented on #2452
And as always said, fork OSPOS and keep going your way because you know better than anybody. Therefore if you are a winner people will follow you.

[2019-10-03 23:46] daN4cat commented on #2565
@wd-code thank you for sharing your issue and solution, somehow I was under the impression you had a problem which you couldn't solve.

[2019-10-04 00:05] mckaygerhard commented on #2452
dont worry @daN4cat  i understand.. i'll  take easy.. but this problem are a really a point.. and i really want to make something to not disabled the xss filtering.. i dont hav another solution i discuss that in php groups at irc and telegram and only encrypted/converting the strings and decoding are the best...

[2019-10-04 00:38] SteveIreland commented on #2566
No dumb about it.  You found a minor bug.

If you click on the plus symbol the next row contains a description for the two fields.  That's a bug I hadn't yet noticed and no one else has pointed out.  So I appreciate your help in identifying it.  I'll add it to my list of changes to make.

The first 0 is the Sequence field and the second is the Cascade field.

I'm not familiar with taxes in France

[2019-10-04 01:00] SteveIreland commented on #2566
I thought I should add a comment about the Cascade field.  There is a possibility that tax collected by a tax jurisdiction is based on the sales amount plus another jurisdictions taxes. The cascade field is intended to handle that scenario.  I definitely don't believe anyone is using this feature because I'm pretty sure that I would be asked to fix something about it.

However, I should point out

[2019-10-04 05:53] daN4cat commented on #2452
Yet, have you read how a XSS attack is mounted? See OWASP: https://www.owasp.org/index.php/Cross-site_Scripting_(XSS)

[2019-10-04 06:13] izeblood commented on #2563
20190929181753.3.3.0.0b9a76

[2019-10-04 12:40] jekkos commented on #2564
@tuthanika most of the time items in different colors are actually different products, so they map to their own unique EAN which means you have to create a new item every time.

The case that you describe can still be done by just adding a custom description but then that would be a free text instead of selecting from a dropdown.

[2019-10-04 13:03] daN4cat commented on #2510
related to #1381

[2019-10-04 13:04] #2565 closed

[2019-10-04 13:07] daN4cat commented on #2538
@jekkos any time to look into this? Related to attribute grouping without group by sql operator.

[2019-10-04 13:54] wd-code commented on #2565
No I just wanted to share my solution for people who might have the same issue. The traduction trouble is irrelevant to this issue.

[2019-10-04 14:06] wd-code commented on #2566
Happy to help ^^
Actually I found it when I was translating the Taxes section in weblate. I always search in the demo to see in context the string to translate (espacially for tax where the translation is really tough in French).
I might found other minor bug here and there in the translation process.

[2019-10-04 14:49] data2base opened #2568 "company address"
Hi!

Can the company address be changed as per stock location on the receipt that will be printed?
We have two shops with separated addresses and would like to include the address and contact number for the stock locations.

Thanks

[2019-10-04 15:05] WebShells commented on #2568
Hello @data2base, ospos is currently supporting several stock locations, but it doesnt act as individual shops.
This is a duplicate issue, please search in closed/opened issue for more information related to multi tenancy.
1.

[2019-10-04 15:06] #2568 closed

[2019-10-04 15:34] wd-code opened #2569 "Help for better translation"
# Need some info to complete some translation

### A bit of background history:
It's been a year, for a french non-profit organization, we install this software, wich is amazing by the way.
This organization help college student who struggle with their money. For the record we decide to not give some free food because it usualy difficult for there self esteeme. So we decided to just sell food or s

[2019-10-04 16:10] wd-code opened #2570 "Change color for amount due in sales"
### Improvement
For more visibility just change the color of amount due, for exemple red, in the sales when the client give more cash than requirred

[2019-10-04 16:16] wd-code opened #2571 "Item list empty in demo"
### Background information
The actual demo template

### Issue / Bug

I don't know if It's because of the messy conf of the demo or it's because it's nut up to date, but when you add a new item it dosen't shows up in the item list.

On my own install of the 3.3.0 release I dont have this issue

[2019-10-04 16:51] odiea commented on #2571
It appears to work ok after you choose the second stock location

[2019-10-04 20:35] wd-code commented on #2571
Ok. I may have not get a good look of the config my bad.

[2019-10-04 20:35] #2571 closed

[2019-10-04 20:41] odiea commented on #2571
Who knows what someone did to the first stock location. A mystery. After all it is just a demo

[2019-10-04 20:46] wd-code commented on #2571
Yes of course. I don't really know when the demo is updated and with which version. But I'm steel feel a bit stupid to not verify if there was another stock location 😂😂

[2019-10-04 20:56] odiea commented on #2571
No problem. Have a good weekend.

[2019-10-05 07:20] akhilnasi opened #2573 "weighing scale"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2019-10-05 07:23] akhilnasi commented on #2573
for my weigh barcode my department code is 2 and the code is 4 and price contains 6 and full its 13
But do ospos support this weighing scale?? and if then please could you tell me the input format of the above barcode.

[2019-10-05 10:32] nira168 commented on #2543
@blutme what you mean by ospos name? I have installed all file in the /var/www/html/

[2019-10-05 10:40] daN4cat commented on #2543
@nira168 therefore the OSPOS name subfolder doesn't apply to you.
Check in the configuration tab and system info to make sure everything is setup correctly with writeable subfolders. With 3.3.0 there is that self checkup feature now.

[2019-10-05 12:40] #2543 closed

[2019-10-05 12:44] WebShells commented on #2573
@akhilnasi, this is a duplicate issue... I personally explained the Weighing Barcode configuration in several issues before... Please check the Wiki or search the issues for more info regarding this.
For the next time, please fill in the issue template if you are using version lower than 3.3.0 or copy system info tab in configuration section if you are using 3.3.0.
Or we wont be able to support yo

[2019-10-05 12:44] #2573 closed

[2019-10-05 14:00] nira168 commented on #2543
@daN4cat thanks for your info, here is my system i
![issueospos](https://user-images.githubusercontent.com/17110407/66255892-25bfcd80-e7b3-11e9-849f-431471580e89.JPG)
nfo.

[2019-10-05 14:01] nira168 commented on #2543
how to enable file permission?

[2019-10-05 15:52] tuthanika commented on #2564
Oh you're right I forgot to think about that. However, there are also cases where different colour products with same EAN. We can put it aside for later version if necessary.

[2019-10-05 15:54] daN4cat commented on #2543
Blutme post is explaining how, right? Just don't worry about the [ospos name]/ subfolder, remove that and apply the same command.

[2019-10-05 16:17] nira168 commented on #2543
Thanks @daN4cat,  It works now with 777.

[2019-10-05 16:49] daN4cat commented on #2543
777 that doesn't sound good. Means everybody. How did you install Apache and the user?

[2019-10-05 16:50] daN4cat commented on #2564
Strange different SKUs share the same barcode.

[2019-10-05 17:00] nira168 commented on #2543
I follow the installation guide via this https://www.opensourceposguide.com/guide/gettingstarted/installation

[2019-10-05 17:09] daN4cat commented on #2543
That site has nothing to do with us. Get in touch with them and ask support.

[2019-10-05 20:40] jekkos commented on #2569
Hi @wd-code . Cool to hear about your intentions to improve the french translations!

To be hones this distinction is not very clear to me either, I think @daN4cat is better suited to give you an answer here.

[2019-10-05 22:15] wd-code opened #2574 "Changing currency code in Localization Configuration"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2019-10-06 06:07] daN4cat commented on #2569
@wd-code I'll try to find the time today to help you. I understand and speak a bit French and hopefully I can translate it for you.

[2019-10-06 12:13] SteveIreland commented on #2574
I'll take a look a this issue.

[2019-10-06 17:50] daN4cat commented on #2538
@klisle I submitted to master a fix to this issue. Could you take that change and test re-enabling only_full_group_by ?

@odiea were you able to reproduce the problem? If yes could you please test latest change in master?

[2019-10-06 17:52] daN4cat commented on #2559
@muhammadhanif can you please test with the latest code in master?

[2019-10-06 17:52] daN4cat commented on #2559
@muhammadhanif can you please test with the latest code in master?

[2019-10-06 17:55] daN4cat commented on #2566
Fix in master, @wd-code please test and confirm it's fixed.

[2019-10-06 18:47] odiea commented on #2538
I downloaded the following and enabled only_group_by.
https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20191006175535.master.69d57b.zip

I still get the following error in Items and Item Kits.
ERROR - 2019-10-06 12:44:17 --> Query error: Expression #25 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'july.ospos_suppliers.company_name' which

[2019-10-06 18:54] odiea commented on #2538
I guess I should have let u known that I tried that also with no results. That's why I had to comment out the supplier.