[2017-01-19 14:55] odiea commented on #1071
If you want to see the custom1 name in get datacolumns you can replace it with this.
array('custom1_name' => $this->config->item('custom1_name')),

[2017-01-19 14:56] stonecoldsteveAutsin opened #1074 "Server Problem"
Can i Use Xamp server onbehalf of Wampserver

[2017-01-19 14:58] odiea commented on #1074
Yes. I have had no problems with xampp. You can read the wiki. Currently 3.0.2 is not php7 compatible so I would suggest using an earlier version of xampp.

[2017-01-19 15:28] RamkrishnaMondal commented on #1071
Already done it via reports_lang. Now trying to use custom field as item unit and concatenate that custom field data with item quantity in inventory reports.

[2017-01-19 16:06] RamkrishnaMondal commented on #1073
Sorted out .... problem was related to language & language_code  entry in app config.... for some strange reason script was failing, so edited manually.

[2017-01-19 17:25] odiea commented on #1072
Yes. There appears to be. In Receivings or Register the item name can be searched. In Items you can search for names,categories and if you select search custom it also works if the item has it.

[2017-01-19 17:53] eozalp commented on #1072
let's explain more then.

I have a lot of similar products. Because of this i named them with properties.

Example 1 : "round red onyx"
Example 2 : " ovale onyx red"

When i search "onyx red" i just get 2nd example. after a little googling i find that in mysql there is a feature called "fulltext search". I changed item.name column type as "fulltext". But i couldnt locate where i have to change the

[2017-01-19 19:27] odiea commented on #1072
You can look in application/models/items.php and play around with that. I am lazy so I would just insert the keyword onyx.

[2017-01-19 20:26] kaslak opened #1075 "paid work - takings visible only for location or employee"
Hi, I'm new here and do not really understand the ways of how to get things done.
I like the program and using it on a test version, running 3.02 on a web server.
I do some php but I'm far away from levels of this.

I just upgraded from 3.01 to 3.02 and implemented all the little changes I like to have.
We have 3 store locations and about 5 users.

However, I would be curious to know how to achiev

[2017-01-19 21:15] eozalp commented on #1074
Use november 12 compiled version.

Then here is sweety part.

[2017-01-19 21:28] odiea commented on #1075
Indeed This would be a nice added filter. The adjust Sales reports to show all employees for that day.

[2017-01-19 21:58] jekkos commented on #1075
Indeed this could be added, and shouldn't be too hard at first sight. Just a matter of adding the employee_id to the takings queries.

[2017-01-19 22:00] jekkos commented on #1073
What did you edit to make it work in this case? I think in 3.0 a new language entry was added indeed but it should be in the update script.

[2017-01-19 22:05] jekkos commented on #1068
Answers for these common problems can be found in FAQ. Cloud install is a quick option as well if you don't succeed in setting up LAMP yourself.

[2017-01-19 22:05] #1068 closed

[2017-01-19 22:19] kaslak commented on #1075
Exactly. It could be depending on the permissions, like in the reports.
BTW, also in Reports, location 1 can see location 2 - cause "all" is preselected :(

[2017-01-19 22:34] odiea commented on #1075
I would just place it as a non selectable filter in takings for the logged on employee. Then management can see everything from the detailed Sales report at the end of the day. It would be nice if Takings could be built into Sales then there would be no permission issues with Reports.

[2017-01-19 22:46] kaslak commented on #1075
"a non selectable filter" is cool. How can it be done?
The second part I cannot really follow: "It would be nice if Takings could be built into Sales..."

[2017-01-19 22:49] odiea commented on #1075
Currently Takings works from the Sales Reports so an Employee must have permission to the Sales Reports. If it were more integrated into Sales then they would not need permissions to any Reports.

[2017-01-19 22:50] jekkos commented on #1070
OK you're right this is probably a bug. In print_receipt code there is a check for the receipt structure before it is printed. I'm not certain if this still makes sense here as receipt DOM's can be customized and so I'll remove it from the code

[2017-01-19 22:52] odiea commented on #1070
Glad to see you back again.

[2017-01-19 22:53] jekkos commented on #1070
Yes been quite busy on the new job + had a recent laptop crash which I had to fix last two days..

[2017-01-19 22:55] kaslak commented on #1075
I get it.... but the pre-selection should be no big issue, or is it?
Any idea how to individually implement this?

[2017-01-19 22:55] jekkos commented on #1070
I have pushed a fix for this but I don't have a printer here at the moment, @bill-goldberg can you verify if jsprint works now with the other receipt templates?

[2017-01-19 23:03] odiea commented on #1075
No I sure do not. I just test for issues.

[2017-01-19 23:04] jekkos commented on #1075
Yes so the current situation is that you can configure who can see the takings but once this grant is given you always see all sale records.. If I understand correctly one would just like an extra filter in takings screen to filter on employee ?

[2017-01-19 23:06] jekkos commented on #1075
The report permission was then done more as a quick fix as there are other requests open for adding permissions more permissions to the modules #204

[2017-01-19 23:11] odiea commented on #1075
Yes. The only person to see the Takings Sales would be the logged on Individual and they would only see their Sales. No drop down filter.

[2017-01-19 23:13] odiea commented on #1075
But that would bring up another issue for a single location if the logged in employee needed to reprint a receipt from a logged out employee.

[2017-01-19 23:17] kaslak commented on #1075
@jekkos "If I understand correctly one would just like an extra filter in takings screen to filter on employee?:

That's what I mean... the logged in employee sees her/his sales and only those...

[2017-01-19 23:20] jekkos commented on #1075
In case one allows an employee to print out a sale made by another  then I guess he should just be able to see them as well? Otherwise I would suggest to make that behavior a default unless a user is an admin (which means he can give grants to others). In that case all employees should be shown.

[2017-01-19 23:32] odiea commented on #1075
It appears that this is starting another dilemma.

[2017-01-19 23:46] kaslak commented on #1075
employee 1 should -IMHO- not have the option to print, delete or whatever a sale of employee 2
The only person who should be allowed is the one with admin rights - just like real life ;)

[2017-01-19 23:51] kaslak commented on #1075
...and I'm only talking about the button in sales or register (language-file: sales_takings) - NOT reports.
Can you give me a hint how to individually manage this - before the discussion goes into the big, big structure

[2017-01-19 23:53] kaslak commented on #1075
@jekkos "Otherwise I would suggest to make that behavior a default unless a user is an admin"
...just what I'm talking...

[2017-01-19 23:53] odiea commented on #1075
I have removed all the delete buttons from sales. You have not had an employee go on break and employee 2 logs in and a previous customer comes back and asks for the receipt employee 1 did not give them?

[2017-01-19 23:57] kaslak commented on #1075
You got a point here... if trust is not an issue, it's easy (E1 logs in as E2).
I'm more concerned about mistakes, wrong clicks, stress, etc.
If employee 2 needs someone to alter his/her sales (manager or me) it feels "safer" to me...

[2017-01-20 00:58] kaslak commented on #1075
as I said in the issue header: if tthere is a solution, and if it's only temporarily or indiviual, I'd like to know how the donation / payment idea works. No offence please. I'm willing to give to get somewhere. Enjoy life!

[2017-01-20 04:21] SteveIreland commented on #625
After restarting from scratch I just finished recovering the vast majority of my changes.  I need to confirm that all of my attempts to rebase didn't lose any commits ... so after I confirm that I didn't lose anything I'll submit another pull request.  At the latest it will be Sunday of this week.

[2017-01-20 08:24] RamkrishnaMondal commented on #1073
Yes added language entry manually.

 Everything works now ...except "Show receipt" in takings / after completing sale, 'show invoice' works without problem.
As soon as i click on show receipt icon, screen freezes with error.
Newly created db works fine,  problem occurs only with my old db.
Tried comparing db structures of two databases with https://github.com/dlevsha/compalex tool but can't find a

[2017-01-20 13:10] eozalp commented on #1072
I played around a little. Where is db->or_like() function? İ couldnt locate.

[2017-01-20 13:12] odiea commented on #1072
I believe that is built into MySQL.

[2017-01-20 13:49] RamkrishnaMondal commented on #1073
Solved.

[2017-01-20 13:49] #1073 closed

[2017-01-20 13:52] RamkrishnaMondal commented on #1069
This problem not yet solved. Any idea ?

[2017-01-20 14:10] stonecoldsteveAutsin commented on #1074
i done all set up But When i click Button on login it give error of The localhost page isn’t working..Using Xamp..Any Solution

[2017-01-20 15:49] stonecoldsteveAutsin commented on #1074
Using Wamp When i click on Sale Module It cann not Perform.please give any suggestion

![image](https://cloud.githubusercontent.com/assets/25225858/22155627/1bf2bbfe-df56-11e6-89d2-16ac342e785b.png)

[2017-01-20 16:56] eozalp commented on #1072
i know. But i find that too. When you input anything to search bar there is no parsing. İt just go through code as one string including dots commas and space. So you cant search with words. İf you want to find a product you have to remember its whole name or a part of its name.

İf you have a thousand products in your shop this search bar doesnt help unfortunately.

when your new products arrived

[2017-01-20 17:51] odiea commented on #1075
I played around with the code this morning. You can give this a try. It will only show the current logged on employee in Takings. Extract it then rename your old Sale.php and replace it with this one. Hope it works for you.
[Sale.zip](https://github.com/jekkos/opensourcepos/files/720114/Sale.zip)

[2017-01-20 18:04] odiea commented on #1075
This needs to be placed in application/models

[2017-01-20 18:14] odiea opened #1076 "New Master Quirk?"
Just downloaded the Master and there is a small quirk in the Takings display. A small e in the upper left view.
![2017-01-20 10_32_52-wedidit _ powered by ospos 3 0 2](https://cloud.githubusercontent.com/assets/10962177/22160178/80cb24c6-df01-11e6-9f06-e7ee68c37038.png)

[2017-01-20 20:53] RamkrishnaMondal commented on #1076
Also see a TBD in short receipt for 'recvs_invoice_number'.

[2017-01-20 20:56] odiea commented on #1076
Ya that line should be sales_invoice_number.

[2017-01-20 21:12] jason-joe commented on #1063
@jekkos I see. So I don't have option to change.
Thank you for reply.

[2017-01-20 22:24] jekkos commented on #1076
Ok I removed these quirks sorry about that.

[2017-01-20 22:28] odiea commented on #1076
Could you also update the table-helper with The reset element. PHP 7 works with this. I think it should be line 140. Thanks
foreach($array as $element)
	{
        reset($element);
		$result[] = array('field' => key($element),

[2017-01-20 23:03] jekkos commented on #1076
Ok done, does it make ospos fully PHP7 compatible?

[2017-01-20 23:03] jekkos commented on #1076
I referred issue #591 for this commit

[2017-01-20 23:06] odiea commented on #591
Other than the tables issues I have had no problem with php7. This now lets the tables show properly. Steve had issues with his branch so I think he deleted it and will resubmit it at a later date.

[2017-01-21 03:03] SteveIreland commented on #591
I submitted a new pull request (after rebuilding everything from scratch).  I did a quick run through and it's significantly more functional than my earlier version, but will continue to test and debug and will respond to any suggestions.  Thanks to all for your patience.

[2017-01-21 03:31] asarada opened #1078 "Issue with print - Dotmatrix printer"
### Issue

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas (in specific PHP has php5-gd, php-intl and sockets installed)
- [x] Reporting an issue of an unmodified OSPOS installation
- [x] PHP version is at le

[2017-01-21 07:34] stonecoldsteveAutsin commented on #1074
sale,Store config and Receiving feature not working..@eozalp.@odiea.Any solution

[2017-01-21 10:08] asadjaved63 commented on #261
@sgr1875 i need this code please provide me

[2017-01-21 10:15] asadjaved63 opened #1079 "How can i change Discount percentage into value discount"
hey
How can i  change discount in % to discount by value? i don't want percentage discount to my customer. .i want static discount ... how can i change?

`function get_item_discount($quantity, $price, $discount_percentage)
	{
		$total = bcmul($quantity, $price, PRECISION); // ($item['price']*$item['quantity']-$item['discount']);
		$discount_fraction = bcdiv($discount_percentage, 100, PRECISION);

[2017-01-21 12:07] odiea commented on #1074
Verify that all the needed extensions are enabled and that you are using the current version.

[2017-01-21 12:33] kaslak commented on #1075
@odiea Thanks! Little time now. Will check later and report...

[2017-01-21 16:01] stonecoldsteveAutsin commented on #1074
bcmath ext not found how i can enable?@odiea

[2017-01-21 18:22] odiea commented on #1074
Do you have it uncommented in the php.ini?

[2017-01-21 18:28] stonecoldsteveAutsin commented on #1074
@odiea  it not shown in php ini

[2017-01-21 18:29] odiea commented on #1074
Your using Wamp not Xampp?

[2017-01-21 18:29] stonecoldsteveAutsin commented on #1074
i m using wamp..2.5

[2017-01-21 18:47] odiea commented on #1074
About 3/4 of the way down in the php.ini file you should see [bc_math]. See if it is uncommented. This is as far as I can help you with Wamp.

[2017-01-21 21:08] RamkrishnaMondal commented on #1071
Now the last hurdle.....fetching custom field data in  'new item-kit' form, i think some customization needs here........

![screenshot from 2017-01-22 01 54 50](https://cloud.githubusercontent.com/assets/14151032/22177790/4c876a62-e04b-11e6-8edd-e8c0978718c8.png)

[2017-01-21 21:26] odiea commented on #1079
This looks like #911. Multiple requests for this option.

[2017-01-21 22:51] #1079 closed

[2017-01-22 00:21] odiea commented on #1074
Wamp has the same issue as Mamp. You must read the wiki about copying the acu files to apache bin. After that it started working for me.

[2017-01-22 03:55] adminphuchao opened #1080 "Out of stock function"
Hi.  I wonder if ospos can limit the sale within current stock?
 I mean if current stock is 100 pcs then user cannot sell 101 pcs and tell the user that item is out of stock.

[2017-01-22 05:51] bill-goldberg commented on #1070
Thank you for fixing the issue with jsprint setup. I printed some receipt now short template is working properly.

[2017-01-22 05:54] bill-goldberg commented on #1070
Can you please tell me where to find the font-family and font-size for the receipt, i want to change the font and font-size on receipt

[2017-01-22 06:07] bill-goldberg commented on #1070
@jekkos we can do this in firefox (the jsprint setup addon) but what about chrome and ie, how to enable those options in these 2 remaining browsers?

[2017-01-22 09:10] #1076 closed

[2017-01-22 09:23] jekkos commented on #1070
jsPrint is a plugin that only exists for FF. Chrome printing was discussed in #717. Currently there is no support for other browsers. I'll add a page to the wiki and reference existing issues there.

[2017-01-22 09:23] #1070 closed

[2017-01-22 09:31] RamkrishnaMondal commented on #1080
This issue already discussed in  past, but no one seems to be interested in developing/contributing #698

[2017-01-22 09:33] #1080 closed

[2017-01-22 10:58] stonecoldsteveAutsin commented on #1074
but in php.ini file bcmath extension not showing and i  did that icu file copy from php to apache but still it's not Working

[2017-01-22 17:05] kaslak commented on #1075
@odiea well, so far seems to do the job... I saw the 2 WHERE additions in get_info($sale_id) and in get_payments_summary($search, $filters)

What I did not understand is the taking off of the $payments definitions in line 666 of the original Sale.php ... that should not conflict ... or do I miss something?

Anyhow, thanks a lot. This was helpful.

[2017-01-22 17:14] odiea commented on #1075
I do not see that anything has been removed.

[2017-01-22 19:19] kaslak commented on #1075
Ups, sorry, my fault ... I added 2 payment methods in my file and had forgotten about it...

[2017-01-22 19:20] odiea commented on #1075
OK I close this issue now.

[2017-01-22 19:20] #1075 closed

[2017-01-22 19:27] kaslak commented on #1075
To finalize this topic, let me quickly resume. Reading through this thread, I still think, that either employee[x] can only see his/her sales, or everyone can select (from all) where employee[x]'s sales should be pre-selected, would be a great option. Fully integrated with permissions, that would be quite an enhancement.

[2017-01-23 08:13] stonecoldsteveAutsin commented on #1074
PHP Startup: Unable to load dynamic library 'c:/wamp/bin/php/php5.5.12/ext/php_ldap' error

[2017-01-23 08:39] daN4cat commented on #1074
You don't need ldap for OSPOS. You can comment that out

[2017-01-23 10:44] stonecoldsteveAutsin commented on #1074
@daN4cat .kk.but that would be fine.but what about php_intl error how could i resolved it.?

[2017-01-23 11:43] stonecoldsteveAutsin commented on #1074
Done..Thanks to @odiea @daN4cat @eozalp

[2017-01-23 12:57] odiea opened #1081 "Has something changed in Takings display."
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-01-23 14:07] jekkos commented on #1081
Which versions are you comparing exactly? The current master HEAD and the commit before?

[2017-01-23 14:09] odiea commented on #1081
I am comparing the current version with the version I have that has been updated by git.

[2017-01-23 15:23] jritzema opened #1082 "Print EAN13 and EAN8 combined gives wrong output."
When adding products with EAN13 and EAN8 barcodes the output when choosing EAN13 in configuration>barcode will be in output products > generate barcodes wrong. Sure the EAN13 will be displayed the way it should be but other than that will generate wrong and not scanable output.  Could this be solved somehow?

[2017-01-23 19:10] daN4cat commented on #1082
Thanks for the report. What's your definition of wrong? Is it wrong because it's not scalable in size as you like or something else?
As far as I remember when I tested it the EAN13 was valid and recognised by the bar scanner.

[2017-01-23 19:12] #1074 closed

[2017-01-23 19:19] jritzema commented on #1082
[Genereer Barcodes.pdf](https://github.com/jekkos/opensourcepos/files/724701/Genereer.Barcodes.pdf)

EAN13 is not the problem. The problem only exist if you have products combined with ean13 and 8 barcodes.

[2017-01-23 20:06] asadjaved63 opened #1083 "short cut keys"
hi jekkos sir,
i want to know list of shortcut keys which are using in All project,
thanks

[2017-01-23 20:09] odiea commented on #1083
There are none that I know of. All Fkey functions were removed .

[2017-01-23 20:29] asadjaved63 commented on #1083
how to Add new hot keys?

[2017-01-23 20:41] odiea commented on #1081
Looking at the db it appears sales_payments does not get updated if the payment is a negative amount.

[2017-01-23 21:10] odiea commented on #1081
It appears that when you do a Return The payment type or Amount are not set in the Register. Wasn't there a If mode = return  statement in there at one time to cover this situation?
![2017-01-23 14_07_14-wedidit _ powered by ospos 3 0 2](https://cloud.githubusercontent.com/assets/10962177/22222804/83c4ef9c-e175-11e6-9e96-1609fb53ef10.png)

[2017-01-23 21:41] odiea commented on #1081
The reason my version works is because of the following allowing to add payments.
[code]

[2017-01-24 19:22] kaslak commented on #980
@ogalfano could you post your solution (Auto-create invoices)? Would be helpful

[2017-01-24 21:18] odiea commented on #1081
In controller sales under _reload I changed the following line to
		$data['payments_cover_total'] = $this->sale_lib->get_amount_due() <= $payments_cover_total;
And it appears to work letting you add the payment in a return.

[2017-01-25 07:06] jekkos commented on #1081
Is there no other way to find an item kit return beside using KIT in the name? So you mean you can't retrieve it with it's POS ticket number?

[2017-01-25 07:08] jekkos commented on #1081
Regarding negative payment, do you expect the register to cancel a payment done for a given set of items then? Amount due is negative indeed but that might not be reflected in the payments table

[2017-01-25 07:11] jekkos commented on #1072
I'd recommend to use barcodes anyway. Normally every product should have one by default. This helps a lot in the sense that it will save you some mistakes in the end.

To make search more specific attributes could be used but the feature is not completely finished yet

[2017-01-25 10:47] odiea commented on #1081
I was not very clear.
In Sales and Returns you can use the prefix kit or KIT to look up an Item kit.
In Return the POS prefix must be in uppercase to find a Receipt. Can this be changed to either or?

[2017-01-25 11:04] odiea commented on #1081
As far as the Returns in the payments. When there was a visible 2 button Add payment or Complete Payment the negative amounts were set in the Payments Table. One could also select the Payment type . Maybe you wanted to credit a card or write a Company a check. Currently there is no audit as far as how the return was reimbursed in the payments table or on the Receipt..

[2017-01-25 11:29] odiea commented on #1081
After more testing in Returns. After you enter a Pos receipt or a single item the Register goes to Complete Sale. When you enter an Item kit in Returns you will get the add payment button not the Complete button.

[2017-01-25 13:09] Johan704 opened #1084 "Commission rate per item/categorie"
New Feature.

I am trying to add / implement a commission system per user / per category which could be ultimately over ridden per item... it all seems simple enough but I'm not sure where to start... should this be a fork off the master?
So basically, under detailed reports per Employee ... I need to add a column which reads commission (per sale item) then a commission total at the bottom like TA

[2017-01-25 13:16] Johan704 commented on #1084
I did try using the custom fields which may still be a solution, however I cant seem to add that to the report with a total at the bottom, actually, my request may just be as simple as this... If any one knows how I can add customfield1 to the report and calculate the %comission x profit for example... that may actually do the trick

[2017-01-25 15:18] SteveIreland commented on #980
I didn't realize that the invoice number was based on the number of records in the file.  If that's still the case then would anyone have a problem with my including a change as part of the item kit fix?

[2017-01-25 15:43] odiea commented on #980
There have been a few requests for this. Maybe you can help it out.

[2017-01-26 02:27] jacksz opened #1085 "Question: customer phone number"
is there a variable for customer phone number?

[2017-01-26 03:20] odiea commented on #1085
look in controller customer.

[2017-01-26 03:32] jacksz commented on #1085
ist possible to access it without ospos locking up? tried to echo it and then ospos locked up

[2017-01-26 04:48] stonecoldsteveAutsin opened #1086 "inserting data in mysql error come of http 500"
You do not have permission to access the module named

[2017-01-26 06:09] #1069 closed

[2017-01-26 06:09] #1071 closed

[2017-01-26 08:43] #1086 closed

[2017-01-26 08:44] daN4cat commented on #1086
Too vague sorry...

[2017-01-26 19:00] bkrajendra commented on #1017
This will be really great to have enhancement. I do requested similar earlier #642 . I just came across this discussion and find it useful.

[2017-01-26 20:27] bkrajendra commented on #1017
I have a thought in my mind, I don't know if its really a practical but just wanted to throw.

I have a situation of two price tags for one item as I'm purchasing Item from two different suppliers.
Now if I get a product with any change - Tax, Purchase Cost or selling cost may be from same supplier or two different supplier, technically its totally 2 different products for me even if it has same b

[2017-01-26 20:55] jlctmaster commented on #1017
In my experience working with administrative software, I suggest that the most appropriate way to handle these cases in the system is through the use of a price list that maintains a valid time, and that the product is coded in batches where you can have the same Product but with lots where the price is different, in addition to this you can handle a FiFo rule in the system configuration.

[2017-01-27 02:49] chris-pilly opened #1087 "Phone number customer lookup"
I'm just new to the software and it looks like its about 90% there for what I need. And since it is free open source software I understand there may be warts, but this POS solution is unreal for for the cost of ownership! I'm totally impressed. now to my question regarding phone numbers:

is it possible to search customers in the "sale" screen based on their phone numbers as opposed to asking thei

[2017-01-27 05:48] RamkrishnaMondal opened #1088 "'Default Invoice Comments' & 'Invoice Email Template' can not be edited"
Once saved, these texts disappear from Store Config/Invoice tab.... hence can not be edited.  v3.0.2

![screenshot from 2017-01-27 11 23 30](https://cloud.githubusercontent.com/assets/14151032/22361779/13717cae-e483-11e6-8f58-7b21a82753a9.png)

[2017-01-27 06:11] stonecoldsteveAutsin opened #1089 "how i display configuration successfully message.please tell the process"
if i would like to add any tab into config file.how i could do this.Please inform

[2017-01-27 07:58] RamkrishnaMondal commented on #1088
Solved. This is due to 'config_use_invoice_template' checkbox is missing in 3.0.2 master.

[2017-01-27 08:48] essadek opened #1090 "Support of Arabic and French languages"
Is Arabic and French languages supported in OSPOS ?

[2017-01-27 09:54] #1090 closed

[2017-01-27 10:52] RamkrishnaMondal commented on #1087
See #744

[2017-01-27 10:54] jekkos commented on #1017
Best way to solve this is encode some extra attribute in the barcode and then decode and select based on barcode+attribute it when scanning.. so barcode remains unique. At least this would be the easiest way to implement it.

[2017-01-27 10:56] jekkos commented on #1087
Think the solution in that issue isn't valid for current code. Suggest stuff was removed after implementing bootstrap tables.. The real backend search code will need to be adapted to search for the phone number if that's not already the case

[2017-01-27 14:01] #1089 closed

[2017-01-27 16:23] daN4cat commented on #1078
You can always create your own receipt template and add it to the code.
At the moment there are two examples, check those and see how you can improve it for your needs but don't expect anything about from us. No time for this and it's a special case.

[2017-01-27 16:23] #1078 closed

[2017-01-27 16:23] #1053 closed

[2017-01-27 16:24] #1058 closed

[2017-01-27 16:25] daN4cat commented on #1085
what do you mean with "locked up"?

[2017-01-27 16:27] daN4cat commented on #1048
Shirt template was contributed. If somebody wants to change it, welcomed.

[2017-01-27 16:28] #1063 closed

[2017-01-27 16:30] daN4cat commented on #1055
@Pixmyster, thanks for the issue report. This needs investigation indeed.

[2017-01-27 17:49] odiea commented on #1055
My impression of tax included is you Include the tax in the retail price then at the register it configures the tax properly.

[2017-01-27 17:53] odiea commented on #1055
So if you have a 2.00 dollar item and figure the tax included is 10% shouldn't the retail price be 2.20 not 2.00.

[2017-01-27 18:29] jekkos commented on #1055
No tax included renders all prices in items having tax already included. This means that item without tax equals `price - price / ((100+percentage) / 100)`

[2017-01-27 18:42] jekkos commented on #1055
A more thorough answer on your questions

1. .Currently there's only a global flag to enable tax inclusion. Currently I haven't really found a usecase to make it local for an item. You do have a point saying that when enabling tax inlcusive pricing list price already has tax, while this is not the case when disabling it. In the latter situation tax will be added once an item is added in the regist

[2017-01-27 18:43] jekkos commented on #1088
Can you send a pull request for this fix?

[2017-01-27 19:30] RamkrishnaMondal commented on #1088
will send a PR on Sunday.

[2017-01-27 21:34] prabakar1978 opened #1091 "Printed receipt is looking in small font"
###  Question

Invoice printing recipt is looking very small when i am using default configuration.. Please guide to me how to change printing recipt format to change in a visible format.

Thanks
Prabahar. T

[2017-01-28 09:48] daN4cat commented on #1031
I just skimmed through this but a rework of the excel import with some smarter way of re-conciliating items would be a good addition.

[2017-01-28 13:58] jacksz commented on #1085
you know similar to when you change the footer = locks

i made a script to get the the phone number based on customer name but

`$sql = "select phone_number from ospos_people where replace(concat(first_name,' ', last_name), ' ', ' ') = '$customer'";`

`$ncustomer= $row["phone_number"];`

[2017-01-28 14:22] daN4cat commented on #1091
in application/views/sales, check receipt_default.php or receipt_short.php.
It would be better to create a new one for your case (e.g. receipt_big.php) based on one of the above listed examples and add it to the list of templates in application/views/config/receipt_config.php

[2017-01-28 14:26] daN4cat commented on #1085
I don't think you need the ' around $customer, that's where it's probably falling over.

[2017-01-28 14:29] daN4cat commented on #1055
@Pixmyster could you please fix this and send a PR? I mean point 2. from @jekkos comment. Point 1. is more work.

[2017-01-28 14:35] daN4cat commented on #1081
@odiea, is this issue related to Items Kit something @SteveIreland can fix?

[2017-01-28 14:37] odiea commented on #1081
No it is not. This is normal operation in the master.

[2017-01-28 14:39] daN4cat commented on #1081
You are correct, I mixed up. KIT or kit is fine, POS or pos is not.

[2017-01-28 15:12] daN4cat commented on #591
How do we plan to validate PHP7?
It looks like we need to have @SteveIreland to release his latest changes, merge to master and then do a full testing.
Hopefully we get people to help here because I don't have that much time to work on a proper setup to PHP7 and MySQL5.7.

[2017-01-28 15:13] daN4cat commented on #625
Even this one will need a thorough testing.

[2017-01-28 15:14] odiea commented on #591
After @SteveIreland  update for php 7 in the Reports tables I again am having no issues with it.

[2017-01-28 17:20] daN4cat commented on #1026
@i92guboj it would be good to get this baselined so I can review it.

[2017-01-28 17:23] daN4cat commented on #1033
Yes, this is a bit of usability story. When it happens it's not nice indeed.

[2017-01-28 18:23] jacksz commented on #1085
no its actually working great but the problem is if someone has a duplicate name  it may bring the wrong result

`$sql = "select phone_number from ospos_people where replace(concat(first_name,' ', last_name), ' ', ' ') = '$customer'";
$result = mysqli_query($conn, $sql);

if (mysqli_num_rows($result) > 0) {
    // output data of each row
    while($row = mysqli_fetch_assoc($result)) {
       $ncus

[2017-01-28 18:45] odiea commented on #1088
The issue is in views/configs/invoice_config.php
The form shows correctly after this is changed.
Current settings.
[code]
After the space in value was removed it now shows correctly.
[code]
![2017-01-28 11_44_38-wedidit _ powered by ospos 3 0 2](https://cloud.githubusercontent.com/assets/10962177/22398943/35c08d64-e54f-11e6-8fa3-361156e93daf.png)

[2017-01-29 05:47] RamkrishnaMondal commented on #1088
I will fix that along with showing 'Company Name' at the middle of the topbar, later today.

[2017-01-29 13:45] daN4cat commented on #591
Good, so let's wait for @SteveIreland to complete the last changes as per my review and then marge to master.

[2017-01-29 14:02] SteveIreland commented on #625
I agree with you 101%

[2017-01-29 14:13] odiea commented on #625
Minor issue with the way Detailed Sales Report configures tax.
This is present in all versions. Maybe you can see the problem.
![2017-01-29 06_56_55-wedidit _ powered by ospos 3 0 2](https://cloud.githubusercontent.com/assets/10962177/22404617/ec2b2c2e-e5f1-11e6-94fc-e916917af6d8.png)
![2017-01-29 06_58_01-wedidit _ powered by ospos 3 0 2](https://cloud.githubusercontent.com/assets/10962177/224046

[2017-01-29 14:15] odiea commented on #591
https://en.oxforddictionaries.com/definition/marge

[2017-01-29 14:39] daN4cat commented on #591
Somehow I intended to be a smooth process, so marge would have helped...

[2017-01-29 14:44] gerarldlee opened #1093 "Detailed Receiving Report does not show Supplier"
This is a Bug fix. Sorry I did not have the time to use git because the fix is very simple and have many things to do. So I am posting this fix. Thanks!

### Issue / Question / Bug

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install a

[2017-01-29 14:52] daN4cat commented on #625
@odiea is this issue with @SteveIreland's changes or not? Not sure I follow...

[2017-01-29 14:54] odiea commented on #625
No I just noticed it using this version. When I switched to a different version it also shows Taxes incorrectly.

[2017-01-29 15:03] daN4cat commented on #1050
@IxFail it sounds a good idea. I must say that we haven't tested that much OSPOS on Mobile platforms, especially the responsiveness of the UI. Maybe after having cleared that step we could consider this addition.

[2017-01-29 15:04] daN4cat commented on #1061
@SteveIreland welcome to add this if you find the time.

[2017-01-29 15:05] daN4cat commented on #625
@odiea can you please create a new issue so we don't mix up things? Thanks

[2017-01-29 15:07] daN4cat commented on #204
@gargmanishp any plan to contribute any of the suggested changes?

[2017-01-29 15:11] odiea opened #1094 "Detailed Report not showing correct tax info."
### Issue / Question / Bug

Before submitting an issue please make sure you remove the first section of the template and you tick (add a x between the square brakets) and agree with all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensource

[2017-01-29 15:11] daN4cat commented on #1054
@IxFail there is an issue related to cash rounding #447 . Your type of issue should be part of that, but there is no specific work ongoing I'm afraid. So we need an owner to take and contribute the change.
It could be that the locale support @jekkos introduced using PHP libraries can solve this without big changes but for sure needs testing.

[2017-01-29 15:15] daN4cat commented on #1065
Similar request to #527

[2017-01-29 15:20] daN4cat commented on #1066
Other people requested improvements to Inventories, see #322 #761 #854 #1059

[2017-01-29 15:23] daN4cat commented on #261
Somebody needs to work on this and contribute it to the project.

[2017-01-29 15:25] daN4cat commented on #1082
@jritzema I see the problem. Well feel free to work on this and contribute the change to the project. There is a limited amount of time every contributor can put on this and therefore we need help.

[2017-01-29 15:34] daN4cat commented on #1083
See #425

[2017-01-29 15:34] #1083 closed

[2017-01-29 15:37] daN4cat commented on #1072
Similar discussion in #662

[2017-01-29 15:41] daN4cat commented on #1084
This will be solved with #68

[2017-01-29 15:44] daN4cat commented on #980
@SteveIreland feel free to improve but as separate step after MySQL5.7, PHP7 and Item_kits. Please check with @jekkos and @odiea what they think about this. Personally I don't use invoices, and if I remember right I even made it optional from Store Config.

[2017-01-29 15:47] daN4cat commented on #1085
Not sure I follow, where is that you need this to be added? Customers view or else?

[2017-01-29 15:52] daN4cat commented on #1093
Thanks for the bug report, I fixed and submitted to master.

[2017-01-29 15:52] #1093 closed

[2017-01-29 15:55] SteveIreland commented on #1061
I had hoped to include it as part of the item-kit branch but, as you probably anticipated, the item-kit changes were a bigger bite than I expected so I didn't have time to incorporate it yet.  I have to admit there was a lot more to learn than I thought and I still have more to learn.

I'll take a look at #352 and put together something for it - it looks like I'll have to brush up on my Spanish to

[2017-01-29 16:06] RamkrishnaMondal commented on #1088
Updated....

[2017-01-29 16:41] RamkrishnaMondal opened #1095 "How to access ospos without adding '/public' in url ?"
I wish to access ospos without adding '/public' in url ?  How can I do that ? @jekkos  @daN4cat

[2017-01-29 16:50] daN4cat commented on #1095
@RamkrishnaMondal you can create a subdomain pointing to the public subdir, e.g. pos3.mysite.com, and then you need to check the .htaccess in public folder to be all fine.

[2017-01-29 17:07] RamkrishnaMondal commented on #1095
But my problem is, in my free hosting server, subdomain creation is not supported. I use that free server as a backup of my ospos installation. It is also handy for testing purpose.
http://www.ospos.pe.hu

[2017-01-29 17:16] daN4cat commented on #1088
Fix committed to master.

[2017-01-29 17:53] odiea commented on #1094
In Sales summary if you add up subtotal and tax the amount should be 82.97 not 82.96

[2017-01-29 18:19] daN4cat commented on #932
@jlctmaster please read my comment in #1023. You need to take the latest master, test and fix as it doesn't look like working fine with me.
Also make sure you test with different date & time formats as I wouldn't that could be an issue.

[2017-01-29 18:19] #1088 closed

[2017-01-29 18:23] daN4cat commented on #876
I changed the title of this issue because we should evaluate Vue.js Vuex.js (Redux) too.
I heard that Vue.js is a bit more advance than the basic React.js and simplifies quite a lot of the front end work.
However moving to this type of solution implies first a move to REST API and then a switch of FrontEnd technology with quite some work.
It's not a trivial job....

[2017-01-29 18:32] daN4cat commented on #1095
You can see if you can find a way to change .htaccess in opensourcepos dir, and find a way to redirect it to public.
Check composer documentation or forum discussions how to solve that problem.
If you find a solution it would be nice to add it to the code here.

[2017-01-29 18:34] daN4cat commented on #1094
I thought I fixed that issue of the tax calculation not being correct between the two but somehow it's still not right.
When I find the time and inspiration I will look into this again, but it's better to merge some code changes here before changing that part otherwise we keep moving parts and not get to an end.

[2017-01-29 19:16] daN4cat commented on #1082
@jritzema ok, but don't expect me to pick up this combined/mixed case. At least not in the short term.

[2017-01-29 19:21] odiea commented on #932
Takings tables quit working for me.

[2017-01-29 19:22] daN4cat commented on #932
Yep, there is a bug. Let me see...

[2017-01-29 19:31] daN4cat commented on #932
Fixed and in master

[2017-01-29 19:39] odiea commented on #932
Is there a db update that needs to be done? After I remove the checkmark all tables show properly.

[2017-01-29 19:46] daN4cat commented on #932
Not strictly, if you check the box in Store Config it creates automatically the entry in the database.

BTW, I found other two errors and fixed. In the end it seems to work fine with date & time, but we probably need to test throughout.

[2017-01-29 19:48] daN4cat commented on #932
Mhhh just spotted a funny one, the end time is always 23:59:58... why 58?

[2017-01-29 19:51] odiea commented on #932
I also noticed that nothing shows when you use the default time. You have to change it to get the tables to show.

[2017-01-29 19:54] odiea commented on #932
Also summary reports are not working again. Nothing shows on the screen. Must be an older version.

[2017-01-29 19:55] RamkrishnaMondal commented on #1095
Done via 'redirect' option of Cpanel.

[2017-01-29 19:55] #1095 closed

[2017-01-29 20:34] jekkos commented on #876
Basically it's more of an application rewrite I think.

[2017-01-29 20:34] jekkos commented on #876
Except for the data model which we can keep.

[2017-01-29 21:38] daN4cat commented on #876
Yes it is, a Front End application.
The first step would be to work on the REST API and then the rest.
A new set of controllers will deal with the REST API.

[2017-01-29 21:41] daN4cat commented on #932
@odiea I tested and summary report is working for me. Try the latest master code please.

[2017-01-29 23:10] RamkrishnaMondal commented on #1085
See  #472

[2017-01-30 02:16] odiea commented on #932
Tested and works fine after your commit.

[2017-01-30 12:39] jlctmaster commented on #932
Hi, thanks for the support, let me review with the main branch the errors you have reported.

Greetings.

[2017-01-30 16:21] RamkrishnaMondal commented on #1081
Someone please fix this.

[2017-01-30 17:24] saikatkoley opened #1096 "Unable to Install need help"
Unable to install showing

 Access forbidden!

You don't have permission to access the requested directory. There is either no index document or the directory is read-protected.

If you think this is a server error, please contact the webmaster.

Error 403

localhost
Apache/2.4.17 (Win32) OpenSSL/1.0.2d PHP/5.6.20

Help please

[2017-01-30 17:31] eozalp commented on #1072
string parse needed in db queries. and in mysql item_name needs index feature.

it is a "must be" feature. When i found that "onyx red" and "red onyx" gets different results i thought its a glitch in my system.

This is an open-source application. if only i had coding experience. Here is my complete thougts.

1 - the first thing is search. Trouble explained.
2- there is no "sale stream". you cant

[2017-01-30 19:42] tenkodoy commented on #1096
Have you made your db ready in xampp/wampp? have you made the changes in the config file?

[2017-01-30 20:01] tenkodoy opened #1097 "Custom field Showing in Items Columns?"
I have created a custom field "Expiry Date" and wants to let it show up in Items Columns. Any way i could go by that?

[2017-01-30 20:16] daN4cat commented on #591
@onyema3 up for some testing of the latest master including support for MySQL5.7 and PHP7? Help is needed....

[2017-01-30 20:18] daN4cat commented on #623
@odiea is the latest master fixing this? If yes please close.

[2017-01-30 20:19] daN4cat commented on #1043
@SteveIreland I assume your work fixed this, right?

[2017-01-30 20:32] odiea commented on #623
No. Currently there are no warnings at all for low or out of stock items on the Register.

[2017-01-30 21:02] odiea commented on #1097
Yes search the repository with custom field. Then look at the issues.

[2017-01-30 21:04] odiea opened #1098 "Date Time does not work with the default settings."
### Issue / Question / Bug

Before submitting an issue please make sure you remove the first section of the template and you tick (add a x between the square brakets) and agree with all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensource

[2017-01-30 21:57] RamkrishnaMondal opened #1100 "Two 'line sequence' selector in invoice config & no password in msg config [edited]"
![screenshot from 2017-01-31 03 21 45](https://cloud.githubusercontent.com/assets/14151032/22443516/1f0b2aa8-e765-11e6-9185-7a35b076a99d.png)

![screenshot from 2017-01-31 03 24 11](https://cloud.githubusercontent.com/assets/14151032/22443521/24c08d3a-e765-11e6-9151-5fb4e4dd3d5a.png)

[2017-01-30 22:12] odiea commented on #1098
Here is the Default for Date Time - Works fine selecting a previous date.
![2017-01-30 15_07_17-wedidit _ powered by ospos 3 1 0](https://cloud.githubusercontent.com/assets/10962177/22443928/11515bf6-e6fe-11e6-92ec-357df8b21356.png)
Here is what the Report shows as the selected Date and Time. It appears that it is the minute you get the report.
![2017-01-30 15_07_34-wedidit _ powered by ospos 3 1

[2017-01-30 22:29] daN4cat commented on #623
You need to convince @SteveIreland to look into this too...

[2017-01-30 22:31] daN4cat commented on #1096
Point to public dir...

[2017-01-30 22:38] daN4cat commented on #1098
Is this happening only when you select time with am/pm?
I tried with 24h time format and it seem fine.

[2017-01-30 22:43] daN4cat commented on #1098
Connected to #932

[2017-01-30 22:47] odiea commented on #932
Here are the Date Time settings I am using.
![2017-01-30 15_46_07-wedidit _ powered by ospos 3 1 0](https://cloud.githubusercontent.com/assets/10962177/22445162/678cabe2-e703-11e6-9fa6-47b2f4dbf395.png)

[2017-01-30 22:51] odiea commented on #1098
I posted my response to #932

[2017-01-30 23:13] odiea commented on #1096
If you downloaded it with Internet explorer or Edge. Go back to your original download right click and select properties. Check unblock then extract it again.

[2017-01-31 01:52] SteveIreland commented on #1100
This is resolved in the pull request #1101.  Sorry about that ... I suppose I should change my user profile to  "MergeMangler" or "RandomRebaser" after all of this!

[2017-01-31 04:09] saikatkoley commented on #1096
I downloaded it from Mozilla Firefox . And yes i pointed to public dir but
then showing login page after logging it's showing 500 error.

On 31-Jan-2017 4:43 AM, "odiea" <notifications@github.com> wrote:

[2017-01-31 04:53] RamkrishnaMondal commented on #1100
Don't be sorry . You have done a great job. Thank you.

[2017-01-31 04:57] RamkrishnaMondal commented on #211
Working on this to automate sms sending after sale. @daN4cat

[2017-01-31 05:46] daN4cat commented on #211
Oh good

[2017-01-31 05:50] daN4cat commented on #1100
@SteveIreland you did a great job, no worries. The first time I submitted something to OSPOS I messed up well, @jekkos can confirm.
I preferred to merge things to master to avoid having open PRs with constant rebate issue. Few bugs should be expected and I would say it's business as usual.

[2017-01-31 05:54] daN4cat commented on #1096
Please search the closed issues as you'll find an answer. We keep answering the same questions again and again especially on Windows installations.... to be really honest here I'm a bit tired as a little effort on the issue poster side would save us time to do more productive things for OSPOS.

[2017-01-31 05:54] #1096 closed

[2017-01-31 05:56] saikatkoley commented on #1096
Thanks

On 31-Jan-2017 11:24 AM, "FrancescoUK" <notifications@github.com> wrote:

[2017-01-31 05:57] RamkrishnaMondal commented on #1100
Spotted another one 'sms-api password' box in msg config  is not fetching password from db. hence sms not sending.

[2017-01-31 06:31] RamkrishnaMondal commented on #211
But i am almost sure your help will be needed.

[2017-01-31 07:21] Elhy opened #1104 "The Module Sales, Receivings, Store Config is innaccessible"
Please,
someone can help me, I have the error on the capture below when I tried to navigate the following modules
Sales, Receivings, Store Config
![grave](https://cloud.githubusercontent.com/assets/23028792/22455651/ff632c52-e79e-11e6-878a-e1d7466d82db.png)

[2017-01-31 07:46] RamkrishnaMondal commented on #211
@daN4cat  This is what i have done so far.......please have a look and let me know what am i missing?

[automate_sms.zip](https://github.com/jekkos/opensourcepos/files/741334/automate_sms.zip)

[2017-01-31 08:05] RamkrishnaMondal commented on #1104
See #1074

[2017-01-31 08:07] daN4cat commented on #1100
@RamkrishnaMondal that's another issue. Let's not mixup things.

[2017-01-31 08:08] daN4cat commented on #1100
Two line sequence fix is now in master.

[2017-01-31 08:08] #1100 closed

[2017-01-31 11:01] sanjubaba1515 commented on #211
@RamkrishnaMondal but where is the sms API configure file.

On Tue, Jan 31, 2017 at 1:16 PM, RamkrishnaMondal <notifications@github.com>
wrote:

--
--
Regards
Krishnendra Kumar Tiwari
(Sanju Baba)
Call:-9038639506, 9681971515**
"Please Save the Earth. ** Please print this only when necessary"

[2017-01-31 11:50] #1104 closed

[2017-01-31 11:53] odiea opened #1105 "Cannot grant permission to employee for messages."
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-01-31 12:13] odiea commented on #1105
For some reason these were removed from my database. Problem solved.
INSERT INTO `ospos_permissions` (`permission_id`, `module_id`) VALUES
 ('messages', 'messages');

INSERT INTO `ospos_grants` (`permission_id`, `person_id`) VALUES
 ('messages', 1);

[2017-01-31 12:13] #1105 closed

[2017-01-31 15:11] RamkrishnaMondal commented on #211
You have to use your own sms API config file, provided by your sms gateway provider.... for example look Sms_lib.

[2017-01-31 15:31] sanjubaba1515 commented on #211
but where is the Sms_lib. file

On Tue, Jan 31, 2017 at 8:41 PM, RamkrishnaMondal <notifications@github.com>
wrote:

--
--
Regards
Krishnendra Kumar Tiwari
(Sanju Baba)
Call:-9038639506, 9681971515**
"Please Save the Earth. ** Please print this only when necessary"

[2017-01-31 15:33] RamkrishnaMondal commented on #211
application/libraries/sms_lib.php

[2017-01-31 15:35] sanjubaba1515 commented on #211
ok

On Tue, Jan 31, 2017 at 9:03 PM, RamkrishnaMondal <notifications@github.com>
wrote:

--
--
Regards
Krishnendra Kumar Tiwari
(Sanju Baba)
Call:-9038639506, 9681971515**
"Please Save the Earth. ** Please print this only when necessary"

[2017-01-31 18:50] kaslak commented on #1094
It might be a question of digits after the decimal... In German with 19% VAT I need to have 19,000 (19.000) to get the right values ... this is the same in a totally different program I'm using in another case. Maybe give it a try. It's a round() issue.

[2017-01-31 20:25] daN4cat commented on #1026
Code submitted to master.

[2017-01-31 20:26] daN4cat commented on #1026
More to test :-)

[2017-01-31 20:27] daN4cat commented on #932
@jlctmaster could you please look into this issue please?

[2017-01-31 20:44] #1052 closed

[2017-01-31 21:53] daN4cat commented on #211
@RamkrishnaMondal it's better to work on your branch and then go for a PR. But now I don't have too much time outside stabilise what we submitted in the past days....

[2017-01-31 21:55] daN4cat commented on #1094
@kaslak thanks for the hint, something to check properly. It's indeed a rounding issue and it might be better to always do the maths with 3 digits and round the result to avoid the issue of sum of rounded partials. Because that's the issue here...

[2017-01-31 23:05] daN4cat commented on #1026
@i92guboj hey man, the code is quite buggy. Have you tested it? I keep fixing stuff....

[2017-01-31 23:23] daN4cat commented on #625
@SteveIreland when I create a new item kit I get an error:

[code]

Please look into that.

[2017-02-01 02:51] odiea opened #1108 "Item Pics"
So many issues with this pic commit

[2017-02-01 02:55] odiea commented on #1108
Is ther going to be any fix for this. Place holders constantly show. Slow table loading.
![2017-01-31 19_51_10-](https://cloud.githubusercontent.com/assets/10962177/22493707/fc998f16-e7ee-11e6-9ad6-5189cfd13e8a.png)

[2017-02-01 04:47] SteveIreland commented on #625
I just now saw your message but wasn't able to recreate it.  However, when I was testing it I found related issue that I'm sure has something to do with your issue.  I'll have it fixed tomorrow.

[2017-02-01 05:14] Elhy commented on #1104
@RamkrishnaMondal   I have already tried all this trick but that still does not work

[2017-02-01 06:28] RamkrishnaMondal commented on #211
I have tried everything but just can't figure out why it's not working......feeling exhausted.

[2017-02-01 08:13] i92guboj commented on #1026
Sorry, I see a few of these are leftovers of pic_id which I didn't notice. At some point, I grep'ed the sources but I either skipped those or messed up with git. Either way thanks for fixing. If I ever submit something else, I will also be more careful with indenting and such. I see you also fixed several of these. :(

[2017-02-01 08:16] kdkrun commented on #211
@daN4cat, Do you want any actual SMS gateway to check your system.. I can provide you one for free to test your SMS system. Please let me know if you want my help?

[2017-02-01 09:09] daN4cat commented on #1108
@odiea please use the latest code from master. I remember I fixed that issue.

[2017-02-01 12:24] sanjubaba1515 commented on #211
yes

On Wed, Feb 1, 2017 at 1:46 PM, KDKTEC <notifications@github.com> wrote:

--
--
Regards
Krishnendra Kumar Tiwari
(Sanju Baba)
Call:-9038639506, 9681971515**
"Please Save the Earth. ** Please print this only when necessary"

[2017-02-01 12:37] ymscr8912 opened #1109 "Data insertion Issue"
while adding form in Store config.and When i click on submit button data does not insert and update into database .applied with the same logic but it does not shown Error.While debugging i saw that clicking on Submit button it call to body Tag.it would not take any action.Where is the Problem?can you help Me?

[2017-02-01 12:44] RamkrishnaMondal commented on #211
@sanjubaba1515   Tiwari Ji, ye 'yes' ka kya matlab ?  kuch  samajh nahi paya.

[2017-02-01 13:07] odiea commented on #1108
6:05 usa time. I just downloaded the latest Master. My fix is just uncheck the box and don't show avatars in Items.
![2017-02-01 06_04_50-photos](https://cloud.githubusercontent.com/assets/10962177/22507796/6b3ee678-e844-11e6-991c-b954c27f070e.png)

[2017-02-01 13:28] odiea commented on #1108
After cycling thru all the items about 10 times the placeholder went away.

[2017-02-01 14:02] ymscr8912 commented on #1109
@odiea @jekkos Help ?

[2017-02-01 14:03] odiea commented on #625
So far I have not been able to replicate this either in recently downloaded Master or updated branch.

[2017-02-01 14:06] odiea commented on #1109
Sorry. This is beyond my abilities.

[2017-02-01 14:29] daN4cat commented on #1109
Have you changed the code?

[2017-02-01 14:37] odiea commented on #1108
@daN4cat For some reason I had to copy and paste your latest commit. You have an excellent job repairing this commit. No more place holder issues.

[2017-02-01 14:38] #1108 closed

[2017-02-01 14:59] daN4cat commented on #625
I'll test again this evening

[2017-02-01 16:00] RamkrishnaMondal opened #1110 "SMS API password can not be saved"
### Installation information

Open Source Point Of Sale Version 3.1.0
### Expected behaviour

### Actual behaviour

SMS API password can not be saved.

### Steps to reproduce the issue

[2017-02-01 16:04] jekkos commented on #1097
See #68

[2017-02-01 16:04] #1097 closed

[2017-02-01 16:37] daN4cat commented on #1110
Make sure mcrypt is enabled in your php installation

[2017-02-01 17:16] RamkrishnaMondal commented on #1110
v3.0.2 running fine from same localhost.

[2017-02-01 18:08] RamkrishnaMondal commented on #1110
Tested with a fresh db..... it's a bug.

[2017-02-02 03:07] SteveIreland commented on #1043
Yes, this should be flagged as complete.  Thanks.

[2017-02-02 03:57] SteveIreland commented on #200
What would need to be added to this in order to be able to flag this as complete?

In my experience taxing can be a very complicated process and needs a subsystem of it's own since taxing entities have their own set of governing rules.

However, for simple uses limited to one taxing entity we do now have a stock_type field that could be used to influence whether or not an item is taxable or not -

[2017-02-02 04:02] odiea commented on #200
Here in Colorado Labor is not taxable. Can you think of a way a non taxable organization can be excluded at POS? Again thanks for this commit.

[2017-02-02 04:06] odiea commented on #200
I forgot that the Customer has a non taxable check box.

[2017-02-02 04:19] SteveIreland commented on #200
Right, a customer's non-taxable status normally (at least for most tax entities that I'm aware of) overrides an item's taxable status..

[2017-02-02 07:56] daN4cat commented on #200
And have we tested if this piece of functionality is still fine? I never tested and neither looked into it, as an obvious never used too.

[2017-02-02 08:07] prineshan opened #1112 "Store config hanging"
### IMPORTANT IMPORTANT IMPORTANT

### Issue / Question / Bug

Before submitting an issue please make sure you remove the first section of the template and you tick (add a x between the square brakets) and agree with all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (h

[2017-02-02 09:36] Elhy commented on #1036
I have the same configuration and version of WAMP you.
I also had the same problem,I did not find a solution, so I tried to update my WAMP with this
https://sourceforge.net/projects/wampserver/files/WampServer%203/WampServer%203.0.0/wampserver3.0.6_x64_apache2.4.23_mysql5.7.14_php5.6.25-7.0.10.exe/download

And everything is resolved

[2017-02-02 11:07] daN4cat commented on #1112
Read the FAQ?

[2017-02-02 12:13] odiea commented on #200
Yes. The sales tax override for customers still works.

[2017-02-02 14:32] odiea commented on #1094
Issue with Takings and Sales tax. Let me know if you want this to be a separate issue.
If an Item with a blank or empty tax is sold the result is 1452. This does not happen when you place a 0 in tax%.
![2017-02-02 07_27_01-wedidit _ powered by ospos 3 1 0](https://cloud.githubusercontent.com/assets/10962177/22553279/5f81992c-e919-11e6-8a32-5dfa203993bc.png)

[2017-02-02 15:44] daN4cat commented on #200
So do we still have this problem?

[2017-02-02 15:45] daN4cat commented on #1094
Known issue and workaround is set to 0

[2017-02-02 15:58] SteveIreland commented on #625
I just realized that I didn't "prime the pump" on the new line_sequence configuration option - so the next time I commit a change I will changes tables.php to initialize it with a "0" to default to Entry sequence.

[2017-02-02 16:38] SteveIreland commented on #1061
I've started putting together some documentation on the Wiki about how I envision this coming together.

I particularly want to draw the attention of those that are interesting to the section on configuration found at [Sales.Invoice.Configuration](https://github.com/jekkos/opensourcepos/wiki/Sales#4-configuration).

Feedback is always appreciated.

[2017-02-02 18:23] innovaerp opened #1113 "Multi Store Support"
Hi
Is ospos supports multi store / multi location sales can be monitored centrally from one deployment. so that senior management can get a clear cut view of the store wise sales, performance in real time. How it can be implemented and if it is there already, then how to get benefit of it

thanks
ishtiaque

[2017-02-02 18:25] jekkos commented on #1061
@SteveIreland feel free to update the Mysql model any time. Regarding the invoice format: it would be nice to use an object oriented design there.

In this case I mean that we should have Variable class instances in a list that have parsing and repalce logic inside. Then an abstraction can be used from which the correct instance decides whether it has to replace the text with a real value.

[2017-02-02 18:37] jlctmaster commented on #932
Hi, yes I can look at this problem, however, check the configuration and it has been working for me, I am trying to replicate the error case to examine why they reported that it does not work for them.

Greetings.

[2017-02-02 19:37] daN4cat commented on #932
Thanks

[2017-02-02 19:38] daN4cat commented on #1113
Duplicate of #150

[2017-02-02 19:38] #1113 closed

[2017-02-02 19:42] daN4cat commented on #625
I can systematically reproduce it.

[2017-02-02 19:43] #1043 closed

[2017-02-02 19:49] SteveIreland commented on #1061
@jekkos oh my!  My specialty is "quick and dirty procedural code", but for you I will climb that mountain!

Seriously though, my full time (i.e.paid) job is JEE Java Web development so object based development is not unfamiliar to me, but my PHP growth stalled when I stopped teaching PHP development at a community college over a decade ago.  So I have a bit of a learning curve to go through ... pl

[2017-02-02 19:57] SteveIreland commented on #625
Okay, I'll take a closer look.  When you encounter this issue are you adding the item kit with our without a selected kit item - or does it happen regardless?

[2017-02-02 20:08] daN4cat commented on #625
I just click "New Item Kit" button and on the modal dialog I get that error on top.
I just have a pre-existing item kit in the list no more.

[2017-02-02 20:11] daN4cat commented on #211
@kdkrun thank you for the offer, the problem is that I don't have time at the moment. I'm trying to get the new contributions in, tested and debugged in order to release 3.1.0 because there are good updates.

[2017-02-02 20:26] jekkos commented on #1061
@SteveIreland good to hear that. I just meant that this code is procedural and rather cumbersome at this moment. Just a small suggestion in case you were planning to extend it.

I've been doing Java as well for some time but have now switched to scala which is were the heap bytes go to die..

[2017-02-02 21:18] odiea commented on #625
It appears that with a new download and a new database I can't replicate your issue and after selecting all different Date Time you can't replicate my issue?

[2017-02-02 21:28] daN4cat commented on #1110
@RamkrishnaMondal I tested and the password is saved in my case, of course encrypted.

[2017-02-02 21:35] daN4cat commented on #1026
@i92guboj can you please help with the testing and verify that what we have in master works properly?

[2017-02-02 21:36] daN4cat commented on #630
Are we confident MySQL5.7 is supported in full? I don't have an installation to test it, I can test no regression with 5.6

[2017-02-02 21:43] daN4cat commented on #932
@jlctmaster it looks like Takings doesn't show the transaction of the day. Can you please check that?

[2017-02-02 21:47] daN4cat commented on #1098
@jlctmaster to look into this issue.

[2017-02-02 22:22] i92guboj commented on #1026
Yes. I will do and report back.

Thanks!

[2017-02-03 03:28] odiea commented on #625
@daN4cat Have you downloaded and tried the latest Master. I have had no issues with this. Maybe you got a bad pull.

[2017-02-03 04:51] SteveIreland commented on #625
@odiea the issue appears in development mode but not production mode.

[2017-02-03 05:00] SteveIreland commented on #630
I'm, of course, in no position to say that everything has been tested in full but I've been using MySQL 5.7 exclusively for the last couple of months and over the last couple of weeks I haven't stumbled across anything that isn't return a result and your last recommendations resulted in the results being valid.  So my vote is that the MySQL 5.7 issues are resolved ... but I'm continuing to test an

[2017-02-03 05:05] SteveIreland commented on #1061
I'm sorry to admit that scala is a language I wouldn't recognize if I saw it.  Another book to add to my languages library!

[2017-02-03 05:44] RamkrishnaMondal commented on #1110
After watching your comment, i have re-downloaded and installed with a fresh db, it's working. Sorry for wasting your time...... i shall be more careful in future before posting a bug report.

[2017-02-03 08:19] daN4cat commented on #1061
@SteveIreland Scala is strong in Data Science / Big Data sector. With that comes a good salary. At least that's the situation in London. I don't personally deal with coding anymore outside this petty project.

[2017-02-03 08:20] daN4cat commented on #1061
And it builds on top of Java, so good to learn for you

[2017-02-03 09:45] daN4cat commented on #1110
No worries

[2017-02-03 09:53] jekkos commented on #1112
Is this a duplicate of #1109? Has anyone been able to reproduce this? There was a fix by @RamkrishnaMondal not so long ago in this part of the code, maybe something went wrong.

[2017-02-03 10:05] RamkrishnaMondal commented on #1112
@jekkos  can not reproduce the issue. I guess some php module missing in his setup, probably php-intl.

[2017-02-03 10:13] RamkrishnaMondal commented on #211
I replicated each and every code of email_receipt in sales controller, sales lib and register , also added customer_phone in temp tables for sending sms on finish sale. But my send_sms function in sales controller is not getting activated on pressing complete sale button. Need help either from @daN4cat  or @jekkos .

[2017-02-03 10:19] kdkrun commented on #211
@jekkos  and @daN4cat this very good feature for OSPOS, Please take some time to figure this out....

[2017-02-03 15:27] odiea commented on #630
So far so good.
![2017-02-03 08_25_46-program manager](https://cloud.githubusercontent.com/assets/10962177/22596862/8322eac6-e9ea-11e6-9fd6-811283cf1fa6.png)

[2017-02-03 19:11] daN4cat commented on #630
Good good

[2017-02-03 19:45] jlctmaster commented on #932
Hello, I have already reviewed and corrected the reported error, also create a PR to upload the changes, please check it.

Greetings

[2017-02-03 20:01] jlctmaster commented on #932
Hello @daN4cat, I made a new PR for the field translation. Please check it out.

[2017-02-03 22:00] asadjaved63 opened #1117 "need suggestions"
hi jekkos
actually i'm using 2.3.4 version with some modification. but i  want to update my opensourcepos  version and C,I version as well,what would be steps?  i tried id but got many issues, thanks

[2017-02-03 22:09] daN4cat commented on #625
Good. So a bit of more testing and let see if we can close this Epic.

[2017-02-04 09:32] daN4cat commented on #211
Give me some time, I first need to make sure that what we merged in master for 3.1.0 is working fine. After that I will see if I can find the time to look into this. OK?

[2017-02-04 10:06] Elhy opened #1118 "List of Items and Takings are not displayed"
Someone can help me? I have this problem on the list of items and in list of sale (Takings) (see capture attached)

![imp_nw](https://cloud.githubusercontent.com/assets/23028792/22617623/a19e5850-eada-11e6-9461-962a0864f2c4.jpg)
![imp_nw2](https://cloud.githubusercontent.com/assets/23028792/22617624/a1a88f0a-eada-11e6-8f19-ec87b6c71b32.jpg)

[2017-02-04 10:07] daN4cat commented on #1118
Which version are you testing?

[2017-02-04 10:09] daN4cat commented on #1118
OK, I see it's 3.0.2.

Have you changed something of the code or is it the standard 3.0.2?
Also try the English version and see if you get the same problem. I just want to exclude any translation issue.

[2017-02-04 11:54] daN4cat commented on #625
The New Items Kit issue is fixed.

[2017-02-04 11:55] daN4cat commented on #932
The issue in Takings is fixed.

[2017-02-04 11:56] daN4cat commented on #1098
This is fixed.

[2017-02-04 12:06] #1098 closed

[2017-02-04 12:06] daN4cat commented on #932
The issue in reports is fixed too.

[2017-02-04 12:06] #932 closed

[2017-02-04 12:09] #630 closed

[2017-02-04 12:10] daN4cat commented on #591
It seems to be fine according to the various feedback I read so we can declare that OSPOS works with PHP7 now and close this issue.

[2017-02-04 12:10] #591 closed

[2017-02-04 12:11] #1085 closed

[2017-02-04 12:12] #1091 closed

[2017-02-04 12:33] alponce opened #1119 "Blank graphic bar report"
### Issue / Question / Bug

Before submitting an issue please make sure you remove the first section of the template and you tick (add a x between the square brakets) and agree with all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensource

[2017-02-04 13:43] daN4cat commented on #1119
Just tested and works fine. Please check your installation as it looks like you touched the js to me.

[2017-02-04 13:43] #1119 closed

[2017-02-04 13:49] daN4cat commented on #1117
Take the latest OSPOS and reapply your modifications. There is no magic formula to solve this problem.
Also contributing your changes to master will avoid having similar problems in the future.
That's what I did here, adding what I changed and adding more in order to get the functionality I would like.
The same for other people that contributed other parts that they need more (e.g. Receivings, Ite

[2017-02-04 14:36] Elhy commented on #1118
it's the standard 3.0.2.
I did not change anything except the database.php
I also tried the English version but it did not always work.

[2017-02-04 15:04] daN4cat commented on #1118
Is this a fresh new installation or an upgrade?
Are you using MySQL 5.7 or PHP7 any chance?

[2017-02-04 20:26] RamkrishnaMondal commented on #211
Take your time ..... meanwhile i'll try to make it running.

[2017-02-05 00:11] alponce commented on #1119
Hello THX foro reply all.
My mistake i was using and old JS
Now its work THX a lot

[2017-02-05 05:08] SteveIreland commented on #1039
I know this is closed, but for the record I've had this happen several times when doing a lot of and software updates.  The resolution has been to clear the sessions table.  I just thought I'd add this tidbit of information because it might be helpful to others.

[2017-02-05 09:14] RamkrishnaMondal commented on #1110
Please recheck this issue. Steps to reproduce :
1. Install latest master and save your uid , pass etc in msg config.
2. Setup your SMS API lib .
3. Try to send sms.... it's shows unsuccessful.
4. Re-check msg config tab ... no password shown ... field is empty.
5. Check your db msg_pwd field is empty.

[2017-02-05 09:19] daN4cat commented on #1110
Do you have mcrypt library enabled in PHP?

[2017-02-05 09:20] RamkrishnaMondal commented on #1110
Yes I have .... v3.0.2 running fine including sms from same htdoc.

[2017-02-05 09:27] RamkrishnaMondal commented on #1110
I have also tried copying encrypted msg_pwd from 3.0.2 db to 3.1.0 db .... it shows in msg config tab, But as soon as i try to send sms it vanishes from config tab.

[2017-02-05 09:51] RamkrishnaMondal commented on #1110
This is from my php_info.php:

![screenshot at 2017-02-05 15 18 51](https://cloud.githubusercontent.com/assets/14151032/22625236/a7beea6a-ebb6-11e6-93c2-c1a6503f9108.png)

[2017-02-05 11:35] RamkrishnaMondal opened #1120 "Date and Time picker in items"
Can anybody tell me what are use cases of date and time picker in items module ?

[2017-02-05 12:36] daN4cat commented on #1026
@i92guboj I spotted an issue, here what happens:

- open an item with no image
- in the image box an icon "Avatar" is shown
- remove that image
- save the item
- the Items table is refreshed, all seems fine
- change view (e.g. Customers)
- go back to Items view
- a broken image icon is shown on the line of the above changed item

Please fix this issue.

[2017-02-05 12:48] daN4cat commented on #1110
Do you have in Sms_lib.php the following:

[code]

[2017-02-05 12:55] daN4cat commented on #1110
Because I tested again and I don't see how this could not work as I save a password in Store Config, it's in the table under the correct key and after faking a send SMS everything is still there.
So I'm not sure you just have a read of the decrypted password in Sms_lib or you have done something else. I can't help with the "something else".

[2017-02-05 13:01] daN4cat commented on #1120
You can narrow down the list of items that were touched within a period of time, whether it was a sale, return, add, update and etc.
The time window is searched against the inventory tracking.

[2017-02-05 13:01] #1120 closed

[2017-02-05 13:18] odiea commented on #1110
He may be on to something here.
I filled out the form and submitted it. Said ok.
![2017-02-05 06_14_15-wedidit _ powered by ospos 3 1 0](https://cloud.githubusercontent.com/assets/10962177/22626450/a5cc0838-eb6a-11e6-9529-16aef6a06367.png)
I then checked the db and this is what I saw there.
![2017-02-05 06_11_28-localhost _ 127 0 0 1 _ ospos1 _ ospos_app_config _ phpmyadmin 4 5 1 - microsof](https

[2017-02-05 13:22] daN4cat commented on #1110
in application/config/config.php do you have a value written in `$config['encryption_key'] = '';` ?

If not that could be the issue. Please don't copy the value here as that would be your encryption key....

[2017-02-05 13:25] daN4cat commented on #1110
Also if you have added some silly value in that key then that could be the problem. By default it should be empty as per my comment above.
The key is automatically generated and saved once by OSPOS only if you left it empty.

[2017-02-05 13:33] odiea commented on #1110
Yes there is a value in it. Should I clear that value then retest to see if it is then saved in the db?

[2017-02-05 13:40] RamkrishnaMondal commented on #1110
Ah! thanks to both of you. I had nothing in encryption key field in config..... put one and issue gone. But surprisingly up to V3.0.2 sms module was working fine without  encryption key. Btw , can't we have a in-built  auto encryption key generator using the following ?

https://gist.github.com/jeffreybarke/5347572

[2017-02-05 13:41] odiea commented on #1110
Yes it is saving the info. I forgot I changed to a different db. Was chasing my own tail.

[2017-02-05 13:50] RamkrishnaMondal commented on #1110
I think, there lies the  problem..... it is not generating the encryption key.

[2017-02-05 13:51] Elhy opened #1121 "suspended payments"
Is the Suspended Payments functionality already on version 3.0.2?

[2017-02-05 14:04] odiea commented on #1121
A suspended Sale is.

[2017-02-05 14:05] odiea commented on #1110
Eventually it would be nice to see in Config the current db in use.

[2017-02-05 14:15] RamkrishnaMondal commented on #1110
Good Idea! I'll try to put a db config tab in config in my dev repo, so that, one can put dbuser, dbname and dbpass there.

[2017-02-05 14:18] i92guboj commented on #1026
Yes, I noticed this as well. There's some problem while saving. I am looking into this.

Thanks for confirming. I will try to get it fixed in the following hours.

[2017-02-05 14:22] daN4cat commented on #1110
The CI key generation is broken if mcrypt is not working properly. I still feel you have a problem with that.

[2017-02-05 14:24] daN4cat commented on #1026
Also the avatar icon in items with no image does not look right to me.
It should be empty as it used to be.

Thanks to look into this.

[2017-02-05 14:28] daN4cat commented on #1110
BTW where do you plan to save the db configuration?

[2017-02-05 14:41] i92guboj commented on #1026
Yes. Something changed at some point and I don't know what it might be, I am trying to determine when this stopped working, because, at some point, it defintely worked with a hitch.

Unfortunattely there's something that's preventing me from being able to create or modify items, and dthe error message are completely useless when it comes to diagnosing problems, which in turn prevent's me from bein

[2017-02-05 14:46] Elhy commented on #1121
,I saw a table ospos_sales_suspended in the database but I can not find where I can enable this feature

[2017-02-05 14:51] RamkrishnaMondal commented on #1110
OMG! It's impossible to configure the db from config..... as without a db connection ospos will not run. It can display current db related values though.

But, I have any other encryption related problem, V3.1.0 is using encrypted password for login without issue. With V3.0.2 i don't have any issue at all. If mcrypt is broken, will they work?

BTW, as ubuntu 16.04 lamp by default comes with php7 a

[2017-02-05 14:57] #1118 closed

[2017-02-05 15:01] daN4cat commented on #1121
From Sale, start a transaction and you can suspend it. That's where it is used.

[2017-02-05 15:01] #1121 closed

[2017-02-05 15:02] RamkrishnaMondal commented on #1110
Or, we have to use sqlite along with mysql just like webzash does. username and password will be on sqlite db... and after login, ospos will bring a db configuration form, taking these data from the form, ospos will create a db with mysql.  Will make things more complex, better stick to current one.

[2017-02-05 15:03] odiea commented on #1110
I am using the current version of xampp on my local and current Ubuntu Server with maria db installed on a laptop. I also have a vm with current Ubuntu Server using MySQL. Just seeing the current db setup I think would be beneficial for me.

[2017-02-05 15:04] daN4cat commented on #1110
Ok maybe you found an issue with PHP 7 and MySQL5.7? Please check that because I'm using PHP 5.6 and MySQL 5.6 and do everything is fine.

[2017-02-05 15:05] RamkrishnaMondal commented on #1110
ok ... I will install lamp on 16.04 then.

[2017-02-05 15:46] odiea commented on #1110
I copied my current version to the following server. I deleted the key. I went to config and changed the password and the new key showed in config.
![2017-02-05 08_40_29-program manager](https://cloud.githubusercontent.com/assets/10962177/22627384/849a0f2e-eb7f-11e6-914c-d5fae4cdb7ad.png)

[2017-02-05 15:51] i92guboj commented on #1026
Ok, I have narrowed down the thing a bit. It seems that, for items with empty pic_filename, saving the item again causes this field to be filled with a dot. Saving it again, adds an extra dot, so the value in the fields ends being "..", and it stops at this point (no further dots are added.

I have some ideas on what might be causing this. However, I also need to figure why simply opening the wind

[2017-02-05 15:53] odiea commented on #1110
I did have to change the password a couple of times before it showed in the db. If the password field isn't full of dots the password is not being stored yet.

[2017-02-05 16:15] i92guboj commented on #1026
Please, review my new PR and see if it fixes the problems for you. If so, I can probably simplify the code and clean it up a bit. :)

[2017-02-05 19:25] odiea commented on #1110
Php 7 with maria db.
Here is what I am finding on a new install of ospos. New db.
configure messages. user-password
The encryption key is filled out in config but the database does not get updated with password.
Go back and reenter the password . then it stores the password.

[2017-02-05 19:54] daN4cat commented on #1026
@i92guboj thanks for the changes but please look into my review feedback before I can take your changes in master.

[2017-02-05 19:59] daN4cat commented on #1110
Probably something is different in PHP7 with regards to this in `Config.php, private function _check_encryption()`:

[code]

It might be that the key is indeed successfully written in the file but somehow the fwrite result is FALSE instead of TRUE and therefore it fails the first time. Subsequent times it see the encryption key in the config file and therefore doesn't fail.

We should check the fw

[2017-02-05 20:08] daN4cat commented on #1110
I don't seem to see differences in fwrite between PHP5.6 and PHP7, both return FALSE on error.
The only thing I can think of is change the file permission before opening the file.

@odiea can you change the code from:

[code]

to this please?

[code]

and let me know if this works fine with PHP7?

[2017-02-05 20:21] RamkrishnaMondal commented on #211
Good news friends, automatic  SMS sending is now working flawlessly.
@daN4cat  In sales controller, I can see $CU => customer, but what variable should i use for 'Amount Due" ?

[2017-02-05 20:27] odiea commented on #1110
I just did the same thing with php 5.6 and it shows the same result.
![2017-02-05 13_13_50-localhost _ 127 0 0 1 _ newmaster _ ospos_app_config _ phpmyadmin 4 5 1 - micro](https://cloud.githubusercontent.com/assets/10962177/22629534/24aad280-eba5-11e6-96d8-c9fa99b0bbd0.png)

[2017-02-05 20:33] odiea commented on #1110
I tried the fix in php 5.6 and nothing changed as far as the password showing the first time it is entered.

[2017-02-05 20:37] RamkrishnaMondal commented on #211
I want to save a  msg template, something similar to:

Dear `$CU`, Thanks for shopping with us of `to_currency ($amount_due)`.

[2017-02-05 20:43] daN4cat commented on #1110
@odiea can you try the email part and see if you get the same?

[2017-02-05 20:59] odiea commented on #1110
Email password does not change after encryption key is deleted. You still have to enter the password twice to get it to change

[2017-02-05 21:07] odiea commented on #1110
Can it just have a generic key installed when the program is first installed?

[2017-02-05 21:09] i92guboj commented on #1031
In this regard, I have some ideas which would need discussion if I ever give this a try, but it's not something that will get priority for me. I have some other things to do before that, and this is already usable enough for my use case. I could benefit from a better import machanism, sure! but first I need to get ospos synchronising to drupal/ubercart, for example.

[2017-02-05 21:12] i92guboj commented on #1026
I pushed a couple commits. My tests are positive right now. Please let me know any issue.

Thank you for your patience! :)

[2017-02-05 21:38] #1117 closed

[2017-02-05 21:38] #1112 closed

[2017-02-05 21:39] #1109 closed

[2017-02-05 21:41] daN4cat commented on #1026
@i92guboj almost there.... I tested but preexisting items with no image stored at Item edit time show the "Avatar" icon instead of nothing.
Still one extra step....

[2017-02-05 21:42] daN4cat commented on #1026
About the broken image, that's sorted. Thanks.

[2017-02-05 21:53] i92guboj commented on #1026
I am not sure I understand you. You mean that items that have the old pic_id contents in pic_filename are not displayed correctly?

What I intended in those cases is that file names would be automatically updated and images displayed.

If not, what's actually in those fields if you look in the db? Is it null, empty space, empty string or what?

[2017-02-05 22:04] daN4cat commented on #1026
Old items with no image show in the Edit modal window an "avatar" icon instead of being empty. If you remove that image and save the next time you edit it it's empty as you would expect on the first time.

[2017-02-05 22:16] jekkos commented on #1031
For the sync story maybe have a look at our idea to add a REST API in #615. Would be nice to see some contribution to the project in that scope. Thanks!

[2017-02-05 22:42] i92guboj commented on #1031
Yes, I saw that and have bookmarked it. That'd be the way to go, I guess. Thanks!

[2017-02-05 22:51] i92guboj commented on #1026
But do you know what's in pic_filename in the ospos_items table when this happens? If you do a "select pic_filename from ospos_items where <that concrete product>" what do you get?

If it's empty or null, it shouldn't be different from the case when you empty the field yourself and then re-save the product...

So either there's some kind of corrupted contents in this field (either from before of f

[2017-02-06 01:27] kdkrun commented on #211
@RamkrishnaMondal,  Dear Ram, This is wonderful news, Now our OSPOS has all the features that commercial POS system provide. I know that Commercial version of Online POS system don't have this feature on their systems. Great work.... I think this should be included to 3.1.0 Update. So how can we get this system with Automated SMS feature?

[2017-02-06 05:12] daN4cat commented on #1031
I have a sync with drupal commerce based on SQL feed import. Basically Drupal commerce reads every 3h the status from OSPOS  database and syncs. I'm sure there could be better options.

[2017-02-06 05:14] daN4cat commented on #1026
I'll have a look and will let you know.

[2017-02-06 06:04] bill-goldberg opened #1123 "Inserting NULL values to items table while adding new item from "new item" button or using import template"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-02-06 06:04] bill-goldberg commented on #1123
![snapcrab_noname_2017-2-5_21-58-36_no-00](https://cloud.githubusercontent.com/assets/23611136/22636339/19310100-ebef-11e6-95a7-8ec5e225c856.png)

[2017-02-06 07:35] daN4cat commented on #1123
Are using the latest master or else?

[2017-02-06 08:35] bill-goldberg commented on #1123
I was using 1-2 day old master. Now i tried with latest master and it is fine now.

[2017-02-06 08:42] #1123 closed

[2017-02-06 08:53] i92guboj commented on #1031
At the end of the day it's just a matter of geting numbers from table A into table B. Solutions implemented by programmers usually lack fancy UI's and tend to be scripted rather than compiled, because, well, the text editor is your GUI.

The tedious part of it is mapping the tables and keeping the sync up with updates on both sides. But that same problem will always exist, no matter what paradigm

[2017-02-06 09:12] i92guboj commented on #1026
I've been looking around and can't reproduce this, so any guidance on how to replicate that behavior is welcome. It seems to be working well, but it won't be until todays evening which I will put this to real use hehe, let's see what happens then.

:)

[2017-02-06 13:57] SteveIreland commented on #1061
I'll have to pass on Scala as a career opportunity - but thanks for the suggestion.  I am simply too comfortable with where I am to start another programming language.

As for this issue I've already started coding it up and must say that I am impressed with the flexibility of the design of OSPOS.  I've managed to seamlessly integrate invoicing and quotes into the register UI as if it's been there

[2017-02-06 14:03] SteveIreland commented on #1061
One question for the community is this.  My client is going to have one person using OSPOS primarily as register - so I can see where that employ might need to be "locked in" to a particular register mode.  Then other employees might be salespersons that do quotes and invoicing.  Is anyone else interested in being able to lock an employee into a particular register mode?

[2017-02-06 14:33] odiea commented on #1110
I got the latest code and there seems to be no change. I still have to enter the passwords 2 times if the key has been cleared.

[2017-02-06 15:03] odiea commented on #1061
I think if you add it as an app config item It would give the admins or managers the ability to select if an Employee can see just their transactions.

[2017-02-06 15:08] RamkrishnaMondal opened #1124 "Item Kit & Item Pricing problem"
I sell 'Item X' both as 1Doz Pack and individual pc(s), The One Dozen Pack price is $10/pkt whereas 1pc price is $1/pc. If someone buys 15pcs (one dozen pack + 3 individual pcs) ..
### Expected behaviour
There should be 2 separate entries in sales register showing the one doz pack and individual items separately.

### Actual behaviour
sale register always merging 15 items in one entry, hence makin

[2017-02-06 15:16] daN4cat commented on #1110
Yes there was no intention to fix this. I just refactored the code but I need to think about a solution. Well I have one in mind but I would like to understand first why it fails.

[2017-02-06 15:17] daN4cat commented on #1124
Question for @SteveIreland I believe.

[2017-02-06 15:29] SteveIreland commented on #1061
That's a slightly different issue but I can include that in this set of changes and if I do that then that will require a change to the employee table and if I do that I might as well add support for the other.  One field would support restricting an employee to their transactions and the other would delineate the register modes that are valid for the employee.

[2017-02-06 15:36] odiea commented on #1061
I did it pretty rudimentary and just added the following into the temp tables in Models Sale.php so Takings would show just the Sales for the current employee.
if (!empty($this->config->item('current_employee_only')))
		{
		$employee_id = $this->Employee->get_logged_in_employee_info()->person_id;
		$this->db->where('employee_id', $employee_id);
		}

[2017-02-06 15:53] SteveIreland commented on #1061
Yes, that's pretty much the code I would steal/add except that I wouldn't want all employees restricted - just selected ones. Which configuration panel did you add "current_employee_only" to?

[2017-02-06 16:24] rminformaticos opened #1125 "public folder disable"
how can i disable public folder???

now i enter with: http://localhost/tpv/public/

and i like enter with: http://localhost/tpv/

Thanks

[2017-02-06 16:47] RamkrishnaMondal opened #1126 "Item Kit Discount not working"
### Expected behaviour

It should work.
### Actual behaviour

Whatever Pricing combination I use, it's not working.
### Steps to reproduce the issue

@odiea  @SteveIreland  can you test and confirm ?

[2017-02-06 16:50] RamkrishnaMondal commented on #1125
See #1095

[2017-02-06 16:53] rminformaticos commented on #1125
ill try it. thx

[2017-02-06 18:17] SteveIreland commented on #1126
Yes, I'll check this out tonight to see why it stopped working - the most likely culprit is a mangled merge.

[2017-02-06 18:32] jekkos commented on #1061
see also #204 #382 .. a couple of requests in the past for a more fine grained permission model

[2017-02-06 18:33] thegm90 opened #1127 "Installing on docker directions have some issues."
### Installation information

Did you guys' referral link, though I don't know how to get you guys to install as mentioned on the page. Took matters into my own hands, but am having an issues within the read me where it says "Create a new node on DigitalOcean through the Infrastructure > Nodes tab. Fill in a name (ospos) and choose a region near to you. We recommend to choose a node with minimum 1

[2017-02-06 18:35] jekkos commented on #1127
You should do the node cluster creaztion in that case

[2017-02-06 18:36] thegm90 commented on #1127
I did create a node, then I made the stack too.
![screen shot 2017-02-06 at 11 36 02 am](https://cloud.githubusercontent.com/assets/20656675/22660917/7bde42c4-ec60-11e6-8010-f15747db6a5d.png)

[2017-02-06 18:38] thegm90 commented on #1127
![screen shot 2017-02-06 at 11 38 03 am](https://cloud.githubusercontent.com/assets/20656675/22660984/bf11cdea-ec60-11e6-8fd2-9994494f00cb.png)
For some reason it doesn't register php.

[2017-02-06 18:59] odiea commented on #1061
I added it to general Config. My thought was only the logged in user can see their info. I assume the program will be on a main server and all others login from a different computer only seeing their work.

[2017-02-06 19:06] odiea commented on #1126
The only issue I have with it is If I do not have an item in kit item no discounts are given.

[2017-02-06 19:17] odiea commented on #1061
This does not effect the Detailed Sales Report so I figured anyone who had access to that would be able to see what's going on with other terminals.

[2017-02-06 19:22] SteveIreland commented on #1126
Okay, then it might actually be a bug and not a merge error.  I might have failed to test for that scenario since I was focused on Item Kits with an kit item.  I'll have a pull request to fix it tonight.   Thanks!

[2017-02-06 19:36] odiea commented on #1061
Yes I see your point. As I stated in a similar issue What is an employee to do if they need to reprint a receipt from a previously logged on employ (Who's out to lunch) and the Manager is missing?

[2017-02-06 19:49] odiea commented on #1061
I have always used the all or none theory. I think it would work better as an Employee permission. Then others would not be locked out  which is the case using what I have.

[2017-02-06 20:18] jekkos commented on #1127
If the icons is green then your server should be up and running. Try to find the url somewhere hidden in the overview pages of the docker cloud console

[2017-02-06 20:20] thegm90 commented on #1127
Sqlscripts is red is the problem, I've tried re springing it and it won't.

[2017-02-06 20:29] jekkos commented on #1127
No that doesn't matter. It's a data container that only runs to initialize the mysql container. A little trick I had to do to containerize the initialisation routine

[2017-02-06 20:39] thegm90 commented on #1127
Thanks jekkos! I'll give that a go. Appreciate your knowledge and what you and your team have made. I've gotten it to run easily on the local docker, but want this online for remote access. I'll be making a donation when I get it right!

[2017-02-06 20:54] daN4cat commented on #1026
The pic_filename has two dots ..
It could be the side effect of previous version that was not working properly and I saved the two dots.

I checked other items down the long list and they don't have this issue. So I would say it's a test envirnoment issue.

[2017-02-06 21:40] i92guboj commented on #1026
Yes, that's what I had in mind.

Items without image (pic_filename=NULL), mused to mutate to single dot, and then to double dot in the bogus version of my patch. Note that those were updated simply when listing, you didn't really have to edit the items to get pic_filename modified since NULLs were in the "no-extension" code path.

What I think was happening here, is that glob was including current

[2017-02-06 21:53] #1026 closed

[2017-02-06 22:31] odiea commented on #1061
I changed my code to work with already added permissions. Just like Takings.

if (!$this->Employee->has_grant('reports_sales', $this->session->userdata('person_id')))
		{
		$employee_id = $this->Employee->get_logged_in_employee_info()->person_id;
		$this->db->where('employee_id', $employee_id);
		}

[2017-02-07 00:00] SteveIreland commented on #1124
I'm assuming your doing this because you only want to keep inventory for the individual items and not the pack.

Please test it again after applying the fix for the other issue to see if you get a different result.

I ran a test after the fix with the following and I think I was able to achieve the results you were expecting.

Items created ...
1. A non-stocked bundle item for the items with the t

[2017-02-07 04:24] SteveIreland commented on #623
@odiea @daN4cat  Isn't this complete now?

[2017-02-07 04:58] #1127 closed

[2017-02-07 06:12] daN4cat commented on #623
I didn't check, but I trust you guys and mark it done.

[2017-02-07 06:12] #623 closed

[2017-02-07 09:35] RamkrishnaMondal commented on #1124
Well, as per your solution, I have to create 2 items and 1 kit. Is not it better to have only 2 items 1. Item X and 2. ItemX-1D PK ?

Would have been the best solution, if you can create a logic "never merge individual items with kit items".

[2017-02-07 11:19] rminformaticos opened #1129 "Item create bug"
When create new item, on DB creates 2 entries:

- all blank and null data except receiving_quantity = 1.00
- record with all form data OK

[2017-02-07 11:25] rminformaticos commented on #1129
now i updated with actual controller.items and works

[2017-02-07 11:25] #1129 closed

[2017-02-07 14:02] SteveIreland commented on #1124
Just to make sure I understand, you want to be able to skip creating the actual `item_kit` and only create an item that is flagged as a kit (even though there isn't actually an item kit for it).

I hadn't considered that - but I'm not clear yet what that brings to the table so I seem to be missing something.

To elaborate further on my earlier question.  When you keep inventory are you okay with k

[2017-02-07 14:12] SteveIreland commented on #1061
@odiea I have always been accused of adding so many configuration options that it is overwhelming.  So I'll need you to keep me "in check".  :-)

I'm going to go ahead and finish out the work on the invoice and quote changes and hopefully publish that for review this weekend.  Then while waiting on feedback I'll review the employee changes and the other two issues that @jekkos mentioned.

[2017-02-07 15:44] RamkrishnaMondal commented on #1124
In my brother's shop there are plenty of such items which he sales both as bundle and individual item, so he will have to create hundreds of virtual items and will make the db heavier. Currently he buys as bundle and sells as both. For keeping his inventory, he manually subtracts from bundle items and adds to individual items when necessary.
As of now, if same item is entered twice or more, OSPOS

[2017-02-07 16:43] SteveIreland commented on #1124
I think I finally understand.  Hopefully the changes that are in place work for your shop, but I think a small database change is required to properly support your brother's shop.  I have an idea which I'll document on the wiki this week.  So that you know what's on my mind .... I think I would need to add a new item type of "Pack" that would indicate that this item is a package of another item.

[2017-02-07 17:18] RamkrishnaMondal commented on #1124
Thanks in advance!

[2017-02-07 19:05] SteveIreland commented on #1126
@daN4cat What's the plan for applying this fix?  Is there something you're waiting on me for or are we just waiting for you to free up some time?   No rush ... just wanted to make sure you're not waiting on me for something.

[2017-02-07 19:07] daN4cat commented on #1126
Is there a PR with this fix?

[2017-02-07 19:28] jekkos commented on #1126
Fix applied

[2017-02-07 19:32] jekkos commented on #1061
In fact adding permissions shouldn't be too hard. Probably two checks should be added. One to hide specific controls in the view, and another to avoid the resulting action taking place. After that it's just a matter of adding a permission and grant to the db scripts

[2017-02-07 19:33] jekkos commented on #1061
One could argue that a condition in the view is good enough but even then a user with some technical background can still fire the http requests manually

[2017-02-07 20:02] daN4cat commented on #1126
Yes, I now see from my laptop. Somehow from the mobile app I couldn't see the PR.

[2017-02-07 20:03] #1125 closed

[2017-02-07 20:03] daN4cat commented on #1126
@odiea please counter check and close if it's all fine.

[2017-02-07 20:22] odiea commented on #1126
Now no item has to be in Kit Item for the discounts to show. This problem appears to be solved.

[2017-02-07 20:22] #1126 closed

[2017-02-07 20:51] daN4cat commented on #1110
Please check the latest master as this should now be fixed.

[2017-02-08 00:34] SteveIreland commented on #200
I ran a quick test and this works when the labor items are set up with a zero tax.

[2017-02-08 01:52] rayhanhd opened #1130 "Nginx rewrite rule for ospos"
Hello everyone,
I face difficult situation installing ospos in nginx (i tried in apache and it work as expected), is anyone around here could give me the correct nginx rewrite rule?
here's the example of my server block configuration.

        server {
        listen       80;
        server_name  example.com;
        root /usr/local/www/ospos/public;
        index index.php index.html index.htm;

[2017-02-08 02:11] odiea commented on #886
After merging it into the Master I tested this some more.
There is no way to disable it that I have found.
After you delete all the tables there is no longer a place holder to Install new tables.
Other feature on Register works nicely.
This may be petty but is there a way to put another drop down for the employee id so they can be credited for their Sales.

[2017-02-08 07:24] daN4cat commented on #200
So we can close I understand.

[2017-02-08 10:05] tayyab09 opened #1131 ".htaccess files problem HTTP ERROR 500"
I am trying to install ospos on my host (not localhost)

getting this error

The www.xyz.com page isn’t working
www.xyz.com is currently unable to handle this request.
HTTP ERROR 500

My .htaccess in public_html/ospos/public looks like

RewriteEngine On

# To redirect a subdomain to a subdir because of https not supporting wildcards
# replace values between <> with your ones
# RewriteCond %{HTTP_H

[2017-02-08 13:31] daN4cat commented on #1131
Search for closed issues as you'll most likely find an answer to your problem.

[2017-02-08 15:43] SteveIreland commented on #1124
@jekkos @daN4cat   Are you okay with my making the database changes mentioned earlier?

It would add two new fields to
* `unit_item_id` - a reference to the item referencing the  lowest inventory unit.  Which always has a value, making report generation easy.
* `quantity_per_pack` - The number of the "unit items" per package. Which will default to 1 but can be changed to reflect the number of the

[2017-02-08 16:41] daN4cat commented on #1124
We need to discuss this data modelling. I'll check this evening with more time.

[2017-02-08 17:12] jekkos commented on #1130
Nginx is currently not supported.. I don't really have a lot of experience with it, so can't directly help you out.

If you find a solution that works then feel free to document it on our wiki.

[2017-02-08 17:17] jekkos commented on #1124
@SteveIreland I had a quick look at the current database layout schema.

* I don't really understand what you mean with lowest inventory unit. Would this field be used for ordering the rerpot? In that case I'd rather define a db index for a query that sorts based on an aggregate.
* Why not store `quantity_per_pack` in item_kits_item table? I guess it's more an attribute of the relation between ite

[2017-02-08 17:37] SteveIreland commented on #1124
Professionally I work for a distribution software company - so I'm intimately familiar with software support for single sell packs, variable packs, full case packs and pallets.

Kits don't adequately serve the needs for variable pack items and I'm assuming that you don't want to add the complexity of a full warehousing and distribution system to OSPOS, so my proposal is "just enough" to satisfy th

[2017-02-08 18:27] RamkrishnaMondal commented on #1130
I believe, this can help:

https://www.nginx.com/blog/converting-apache-to-nginx-rewrite-rules/

[2017-02-08 18:34] RamkrishnaMondal commented on #1110
Before this fix my passwords are not saving at all, without adding encryption key. It seems to be fixed now.

[2017-02-08 18:43] rminformaticos opened #1132 "always login"
how can i do? always login when user open new browser session.

(sorry for my bad english im spanish)

[2017-02-08 18:44] RamkrishnaMondal commented on #1124
My brother is only an example here. Lot of retailers sell these type of items.

[2017-02-08 19:45] SteveIreland commented on #1124
I suppose I don't have enough gravitas to say "Trust me!"?

[2017-02-08 21:15] daN4cat commented on #1124
Ideally from a software modelling perspective I would model an Item to be a sellable entity capable to aggregate other items. Then I would aggregate to each Item a number of attributes to describe the Item. On top of attributes each item would have a cost price and a sell price, tax, discount and etc. Maybe a flag to say sell as a whole or no (so to explode the item in subparts).
So an Items kit w

[2017-02-08 21:19] daN4cat commented on #1132
Check the configuration file in config dir. There is a set stating something like 7200. You can set to be infinitive to avoid end of session. I can remember if it's setting to 0 that would do or not. You need to check Code Igniter documentation.

[2017-02-08 21:20] #1110 closed

[2017-02-08 21:20] daN4cat commented on #1110
Good

[2017-02-08 21:22] daN4cat commented on #1130
Yes, please let us know even because the performance of nginx is better and on raspberry pi would be a better option.

I would really like to know how it goes.

[2017-02-08 21:30] RamkrishnaMondal commented on #1124
@daN4cat Is not it possible to tell ospos that,"if same item is entered twice, show them as separate row"?

[2017-02-08 22:02] SteveIreland commented on #1124
Well .... I was only wanting to add two fields (confessing that I've already added two fields in support of an earlier change).  But I'm more than happy to give up a couple of custom fields in order to stay field count neutral.

And I agree with your modeling perspective, I just don't have the time personally to pursue that (at this time).

[2017-02-08 22:19] daN4cat commented on #1124
Ok, WRT unit_item_id I read that's to model the lowest unit of a pack. Is it that? But a pack is an homogenous set, so what are we modelling here?

[2017-02-08 22:58] SteveIreland commented on #1124
A cigarette is sold in pack, carton, case, and pallet.  Each of those is a way to package of cigarettes.  In the distribution world (at least in the world I've resided in for the last two decades) each is called a "pack".  A cigarette pack is a pack of 1, a carton is a pack of 12?, (I don't smoke so give me a little rope here.), a case might be a pack of  20 cartons (or 20x12=240 cigarette packs),

[2017-02-09 07:17] jekkos commented on #1124
Think this more or less overlaps with the receiving_quantity field ;)

[2017-02-09 07:18] jekkos commented on #1124
But then linked to an item attribute like pack or pallet

[2017-02-09 07:26] jekkos commented on #1124
Actually this is a problem that the attributes branch will be able to solve. It enables a user to  define an attribute 'hierarchy', meaning that an item can be assigned a 'category' that has sub attributes.

category is an attribute itself and can have sub attributes definitions linked that can have values themselves..

[2017-02-09 07:28] jekkos commented on #1124
then there's the visbility flags that define where and which attributes to show

[2017-02-09 07:32] jekkos commented on #1124
but current implementation might have some limitation when it comes to defining this hierarchy. I've allowed for only one multiple attributes one hierarchy level below the item category. But code could be adapted to cope with more  complex situations

[2017-02-09 07:32] rminformaticos commented on #1132
in application\config\config.php

set this values:

$config['sess_expiration'] = -1;
$config['sess_time_to_update'] = -1;

and works!

[2017-02-09 07:32] #1132 closed

[2017-02-09 08:20] rayhanhd commented on #1130
i've tried those link. But the only rule in .htaccess is prevent access to log and anything else.

okay, i'll try harder to find the solution. Thank you,

[2017-02-09 09:21] daN4cat commented on #1130
I'll check over the weekend and see if I can find a way to help you.

[2017-02-09 09:22] daN4cat commented on #1132
Good and thanks to feedback the solution here, this would help other people with the same question in the future.

[2017-02-09 13:49] SteveIreland commented on #1124
So to be clear, the answer is "no" to the proposed changes.

I think it was an "ease of use" issue and I'm not sure that categories would make it any easier than the kit approach.  But I don't have a dog in this hunt so I shall refocus on Quotes and Invoices.

Thanks for considering it.    Cheers!

[2017-02-09 15:00] SteveIreland opened #1133 "Sales tax by origin, ship to address, etc"
This might be where I actually have to start doing some work on my own fork, but I thought I'd throw this out.

Here in the US the sales tax is not based on the item (although some types of items are tax free), but based on the laws of the individual states - and can be based on the ship to destination, bill to destination, or the point of origin.

Is support for this requirement something that ca

[2017-02-09 15:31] odiea commented on #1133
I would recommend that you just keep it on you own branch.

[2017-02-09 15:31] daN4cat commented on #1124
@jekkos there is still the items aggregation point to solve. Category or attributes just describes the Item and doesn't allow the self aggregation link.
Ideally once attributes are in we should convert items kits to item with aggregation and then you can have any type of set definition as I described earlier.
It would simplify the current duplications in the code for item and items kit too.

[2017-02-09 15:32] daN4cat commented on #1124
In short @SteveIreland I would say put on hold as a corner case in my opinion.

[2017-02-09 16:48] SteveIreland commented on #1133
Dang ... being kicked out of the nest already.    Oh well.   :-)

[2017-02-09 17:29] odiea commented on #1133
No it's not that at all. There are so many new things being work out now that another addition like this might upset some but work out better for others. After all these new updates are worked out you should submit a pull for that later. I think it would be a nice addition mainly for US users.

[2017-02-09 17:44] daN4cat commented on #1133
We should discuss before close this feature proposals.... I didn't have the time today to read this properly.

[2017-02-09 17:57] jekkos commented on #1124
@daN4cat I see what you mean now, we should have modelled item kits by adding a fk from items table to itself like I did for attribute definitions. This way one item can indeed aggregate multiple others having all the fields that it needs. Also the type thingy is implicitly defined if the fk is set or not. If it's set then it's an aggregate and otherwise not.

So we'd have some kind of composite p

[2017-02-09 17:59] jekkos commented on #1124
@RamkrishnaMondal this is possbile if you check serialized on the item, in that case adding a one quantity will always yield a new line in the register

[2017-02-09 18:48] daN4cat commented on #1124
@jekkos yes, it's a composite pattern. I described more in a OO way than a DB way (software background matter) but in DB world you'd solve it like that with a fk.
Then you rely on polymorphism and the rest of the system just deals with Item types with possible aggregation. And this would be a better OO design.

[2017-02-09 18:53] SteveIreland commented on #1133
Okay.  My plan is to add a tax_code to the customer table ... this would be a reference to a tax code table that contains the total tax (the total of all of the associated taxing authority rates) to be charged for a sale.  I would also need to add a table for taxing authority which would contain the tax rate that each taxing authority is demanding.   Then I add a relational table that associates t

[2017-02-09 19:01] kaslak commented on #1133
Talking Taxes... I wonder why the program adds taxes - not calculating one tax and then get a new subtotal and calculate the next tax... Is it in the US that you ad different taxes on one Net-subtotal?

If it wasn't that way, one could use TAX-1 for all kind of extra-charges and the TAX-2 for the VAT.

Since the TAX input is per Item, it seems not very rational to me. I either need TAX-1 OR TAX-2.

[2017-02-09 19:09] jlctmaster commented on #112
Hello @daN4cat , regarding this I wonder why in the information of the customer or supplier, there is no field to register the ID (National Identification Document), Social Security Number, Driver License Number or Passport, a field that identifies person.

This is of great value, for the moment of using the billing system, in my country Venezuela is a mandatory value that must have any invoice.

[2017-02-09 19:24] daN4cat commented on #112
@jlctmaster because you don't want to risk your neck in storing that stuff. Considered the security risk and implications if it goes wrong?

[2017-02-09 19:40] jlctmaster commented on #112
But at the time of issuing an invoice without that information in my country it is illegal. If the design of the POS allows you to generate an invoice, this should at least be a legal document for the country where it was implemented, it would be great to have configurable attributes such as those of the product but for the invoice and the customer or supplier.

[2017-02-09 19:49] jlctmaster commented on #141
Hello I have seen this requirement and I was struck because it is a very required functionality in any POS system, for the control of opening and closing of cash per user, this way you can control what is the change of shift for ATMs , I am using this software a lot and therefore I am very interested in contributing.

[2017-02-09 19:50] daN4cat commented on #112
Maybe you can use Account # for that purpose?

[2017-02-09 19:55] SteveIreland commented on #1133
In the US at a distributor level it can touch a lot of the complexities you mention.  For example we have internal taxes for for cigarettes that I guess the government wants to collect taxes on but not make it so obvious to the buyer.  I call those behavior modification taxes.  I'm somewhat familiar with VAT taxes and that in some countries the tax calculation can be cascaded.  Fortunately we don'

[2017-02-09 20:09] daN4cat commented on #141
Yes, it would be great and see even this #440.

If you want to work on this it would be a great contribution indeed.

[2017-02-09 20:15] kaslak commented on #1133
I see, interesting... so you do not have VAT in the US?

[2017-02-09 20:16] daN4cat commented on #141
And check #505 too...

[2017-02-09 20:20] daN4cat commented on #141
And maybe #150 too

[2017-02-09 20:26] daN4cat commented on #1133
I would love to have a world with just one tax, OSPOS tax calculation would be far simpler. I still have to check what the latest issue is and it requires a lot of inspiration because the rounding issues are all about this 2 tax system for the US. And I don't live in the US!!

[2017-02-09 20:27] daN4cat commented on #1133
Maybe Mr Trump can spend a bit of more productive time in shooting a: we move to just one Tax. Bingo, OSPOS developers happy!

[2017-02-09 20:39] SteveIreland commented on #1133
One can only hope!  :-)

[2017-02-09 20:45] SteveIreland commented on #1133
Interesting about what is there being intended for the US, because it is severely limited.  It restricts the company to sell in only one state and would allow for at most either an additional city tax or county tax.

[2017-02-09 20:50] odiea commented on #1133
Until recently this has been a fairly basic point of sale. Previous developers would add as needed.

[2017-02-09 21:01] SteveIreland commented on #1133
And that might be the best way to approach this.  I was looking at the city of Boulder, Colorado as an example of the nastiness of some taxing schemes.

https://bouldercolorado.gov/finance/tax-rates-3

[2017-02-09 21:10] odiea commented on #1133
Lucky us. Here in Fort Collins Co we have state-county-city and probably more on the way.

[2017-02-09 22:43] odiea opened #1134 "Takings issue when the same item with a serial number is entered twice."
### Issue / Question / Bug

Before submitting an issue please make sure you remove the first section of the template and you tick (add a x between the square brakets) and agree with all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensource

[2017-02-10 09:48] RamkrishnaMondal commented on #1124
@jekkos  I know, in case of serialised item i can do that. In fact 95% of the items i sell are serialised, so i use this feature regularly. My question is, can we make this default behaviour for all items in ospos? So that, any item / kit added more than once in sale register, shows as different row. That can solve my brother's problem. Only difference will be in case on non-serialised items, we w

[2017-02-10 15:05] bayunuraji opened #1135 "#Question"
I use v3.0.1 than try to change to 3.1.0 but the problem doesn't solve
When I do transaction the payment always become minus ( Rp.1000 => -Rp.1000) anyone can help me with this? do I make mistake on setting up something?

[2017-02-10 15:10] jlctmaster commented on #112
Hello, that field is not to save the bank account number of the customer or supplier?

[2017-02-10 15:51] odiea commented on #1135
If you are referring to the receipt Yes it is a negative number. The Amount due is a positive number then the Amount tendered is a negative number.

[2017-02-10 15:55] bill-goldberg opened #1136 "Stock location deletion and order issue"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-02-10 15:57] bill-goldberg commented on #1136
When removing the stock from store config then its not deleted from database,
There should be an option to change the order of "stock location"

[2017-02-10 16:00] bill-goldberg commented on #1136
It also automatically create another stock named 'stock' in the top priority while submitting the stock location data

[2017-02-10 16:03] bill-goldberg commented on #1136
![capture](https://cloud.githubusercontent.com/assets/23611136/22833590/7e5e5cfc-efd8-11e6-819c-475077c9adbb.PNG)

[2017-02-10 17:25] jekkos commented on #1136
It's a logical delete, as there is plenty of data linked to a stock location that would otherwise disappear. Actually I had this part refactored and working in a multistore feature branch based on 3.0. One could then add stores and link stock locations to it.. Each store can have a set of employees linked to it. At login time store can be chosen.

handy if a company has multiple outlets

[2017-02-10 17:26] jekkos commented on #1136
see #150

[2017-02-10 19:07] SteveIreland commented on #1136
I was going to ask you what your plans are for the mulit-store feature.  Are you still planning on adding support for it?  I will eventually need it myself - not now, but eventually.

[2017-02-10 20:05] daN4cat commented on #1130
Check the following:

- https://www.nginx.com/resources/wiki/start/topics/recipes/codeigniter/
- http://www.farinspace.com/codeigniter-nginx-rewrite-rules/
- http://serverfault.com/questions/695521/codeigniter-in-subdirectory-on-nginx-404#695953

[2017-02-10 20:45] daN4cat commented on #1130
Or even this:

- https://chriskief.com/2013/12/07/configuring-nginx-codeigniter-with-rewrite-rules/

[2017-02-11 01:28] bayunuraji commented on #1135
thanks for the explaination @odiea is there any guide for making transaction with this application? how to make the transaction, because after I put number on amount tendered than I klik add payment it's going to another page, payment total are the number I input on the amount tendered, amount due "0" , I can't do anything on the row after it (payment type and amount tendered are locked, than when

[2017-02-11 02:27] bayunuraji commented on #1135
Okay the problem is solved, it's happen because I didn't allow tax on customer data... thanks...

[2017-02-11 02:47] #1135 closed

[2017-02-11 11:13] daN4cat commented on #1130
If you solve it please let us have the nginx (generic) configuration file so we add it to OSPOS master.

[2017-02-11 11:46] daN4cat commented on #1031
@i92guboj yes, the sync issue between the two table stays. In my wife's case they basically made OSPOS transactions as soon as possible after having received Drupal Commerce sell notification. So the master for the stock was always OSPOS. Drupal Commerce is just a replica and with a sync every 3h there is plenty of time to manage things properly.
But if you have many online transactions then it's

[2017-02-11 11:47] daN4cat commented on #112
@jlctmaster free to interpretation I would say :-)
Give a try it's probably already printed in receipts and invoices if filled in. I see like an easier way to have it ready-to-go.

[2017-02-11 12:54] bill-goldberg opened #1137 "adding custom field to sales register table"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-02-11 12:57] bill-goldberg commented on #1137
I have used a custom field as expiry date and i also added it to items module and i tried to add it in sales register but not able to do it .. Can anybody help me

[2017-02-11 13:00] bill-goldberg commented on #1137
![002](https://cloud.githubusercontent.com/assets/23611136/22853923/271df2c6-f088-11e6-8175-13ba85b220ea.png)
![001](https://cloud.githubusercontent.com/assets/23611136/22853924/271f888e-f088-11e6-958e-cd1d30bb7ec1.png)

[2017-02-11 13:34] daN4cat commented on #1137
@bill-goldberg you need to look into:

1. libraries/Sale_lib.php (check add_item function for instance, but you need to understand all the xxx_item functions)
2. check sales controller (check functions like _load_sale_data and _reload
3. then of course add it to the view views/register.php (check section  ), besides the header there is a foreach loop that goes through the item rows)

You also need

[2017-02-11 13:38] daN4cat commented on #1137
If you wonder: why is it so complicated? Well I agree with you, this is legacy code that we are bit a bit improving and I would prefer to have a better OO design and less touching many things. But it is what it is.

[2017-02-11 13:42] bill-goldberg commented on #1137
Thank you for your guidance, I will try my best...

[2017-02-11 14:03] odiea commented on #1137
Instead of adding a new language line I used the following for the Table header. Of course change the custom field number to the 1 you are using.
$this->config->item('custom2_name')

[2017-02-11 14:13] SteveIreland commented on #1137
Just out of curiosity - what is the purpose of the sales expiration date.  Is this industry specific or is it related  to where you are quoting someone a price and if they don't confirm the sale by that date then the sale is lost.  I ask because I'm adding a quote feature and hadn't considered a "quote expires by date".  But this gives me something consider adding.

[2017-02-11 14:41] jekkos commented on #1137
See #68

[2017-02-11 15:01] SteveIreland commented on #1061
Believe it or not, I am actually on target for pushing out the quote and invoice changes this weekend for review and feedback.   I've updated the Wiki with a few of the design decisions made while coding it up.

When I prepare the pull request I'll make a note of the things that I think would be of interest to those that want to consider using it.  My goal is to have zero impact on those that don'

[2017-02-11 15:18] jekkos commented on #1137
I wonder how quick it would be to generate an REST API using Spring Roo upon the existing database model..

[2017-02-11 17:01] SteveIreland commented on #1137
Aaah ... seasonal stock.   Thanks.

[2017-02-11 17:17] RamkrishnaMondal commented on #1130
Convert .htaccess to ngnix rules online:  http://www.anilcetin.com/

[2017-02-11 22:18] daN4cat commented on #625
@SteveIreland I need to reopen this because there is an issue.

When an admin removes the permission to use Items_kit even because they might not need it, the Item edit modal box still shows the "Item Type" radio that should be visible only for kit cases.
Please add the permission check in the Item modal view.

Not sure about the "Stock type" option, that's new.

[2017-02-12 00:10] SteveIreland commented on #625
Can we consider leaving it there?  It provides some flexibility for additional modules that might provide additional types of items.  Setting the item type to "Kit" doesn't force a dependency to Item Kits.

However, if the permission is disabled then I can see where items of type Kit shouldn't be excluded from item selection for orders - which it is now because Item Kits are listed at the bottom o

[2017-02-12 00:18] SteveIreland commented on #625
Rethinking that.

I'm assuming that Item Kits permissions for a specific employee only means that the particular employee cannot maintain Kit items ... right?   So that shouldn't affect how items are selected for orders because that employee should still be able to place an order for that item.

So the appropriate action would be to not allow the unauthorized employee to be able to select a Kit as

[2017-02-12 04:55] SteveIreland commented on #1061
The pull request has been pushed.

To engage the quotes and invoices features Invoice needs to be enabled in the configuration.  This adds two new register modes ... "Sales by Invoice" and "Quote".  You should freely be able to toggle between all register modes at any time.

The new tokens (i.e. {ISEQ} and {QSEQ} are supported.  The old $CO and $SCO are not yet supported but have an equivalent in

[2017-02-12 08:26] daN4cat commented on #625
What I want to avoid is people fiddling with stuff that is not relevant.

In my wife's case there is no kit concept and having something not required opens the matter to questions, fiddling and etc.

I'll fix it at item edit modal later.

[2017-02-12 10:47] daN4cat commented on #1061
@SteveIreland thank you for the contribution:

- I reviewed the code and added my comments.
- I hope this feature solves the pro-forma invoice issue that was discussed many times in the past. I made this issue an Epic and linked all the old pro-forma like issues to it. Maybe you want to read the use cases so we get one solution catching all forever

General thought, @jekkos to comment please:

- I

[2017-02-12 10:57] daN4cat commented on #1137
BTW @bill-goldberg be prepared that soon or later that work will need to go on your side.
The custom fields will be replaced with what @jekkos pointed earlier, which is #68

[2017-02-12 10:58] #1137 closed

[2017-02-12 11:54] daN4cat commented on #625
Testing more I can see that the Bulk edit has nothing of the two options, was that intentional or an oversight?

@SteveIreland in case you are reworking the two modals, I would prefer to have the "Stock Type" at the bottom as one of the check boxes and state something like "Non stock type" and somebody checks the box if it's yes. I don't think people using non-stock items need to create 100 of the

[2017-02-12 13:01] daN4cat commented on #886
Either @deepshah or @jlctmaster need to take this and bring to a conclusion as it's not completed as it stands.

[2017-02-12 13:06] jlctmaster commented on #886
Hello, I'm working on a new branch, when I have something ready to upload it I'll do the PR

[2017-02-12 13:09] RamkrishnaMondal commented on #1130
I have created a guide for this in the wiki...... enjoy!

[2017-02-12 13:37] daN4cat commented on #1130
You mean this: https://github.com/jekkos/opensourcepos/wiki/Local-Deployment-using-LEMP-(Linux,-Nginx,-MariaDB,-PHP7.0-&-Adminer)-on-Ubuntu-16.04

[2017-02-12 13:43] RamkrishnaMondal commented on #1130
Yes, spent several hours to figure out how to run ospos with LEMP, none of the config files available on internet works out of the box.

[2017-02-12 13:56] daN4cat commented on #1130
Well done, congrats.
You can now give a try to Raspberry Pi version: https://freevps.us/thread-12733.html
and update the wiki: https://github.com/jekkos/opensourcepos/wiki/Installing-on-Raspberry-PI---Orange-PI-(Headless-OSPOS)

Good for a Sunday afternoon..... :-)

[2017-02-12 13:58] daN4cat commented on #1130
Maybe @jekkos will even even try to create a Dockers image (Ubuntu 16.04 installation).... who knows.

[2017-02-12 14:04] RamkrishnaMondal commented on #1130
As I don't have a Raspberry-PI, I can't test it. Your guide with nginx related modifications should work. The `default.conf` file is the key.

[2017-02-12 14:09] daN4cat commented on #1130
Yep, I've added a link in RPI wiki to your wiki page as the instructions should be pretty similar. Both are debian based so it should work.

I close this as it's solved. Thanks again for the help and I wonder if you noticed any improvement in performance because between PHP7, nginx and MariaDB the combination should be better than an old style LAMP stack.

[2017-02-12 14:13] RamkrishnaMondal commented on #1130
It's faster than apache+mysql, I have chosen MariaDB not only for speed but also to avoid mysql v5.7 related problems. Please give it a try, at least on a virtual box.

[2017-02-12 14:18] jekkos commented on #1130
Hmm don't we need latest MySQL fixes to run on the equivalent version of MariaDB as well? Or do they using other settings for the group

@daN4cat good  idea on adding this as an alternative setup, I'm certainly interested will make an issue for adding LEMP stack support.

[2017-02-12 14:19] jekkos opened #1139 "Add Docker LEMP stack support"
### New Feature / Enhancement

* Add a docker compose alternative for LEMP (nginx + mariadb) support on latest master
* Check portability of the stack to run on embedded (ARM aka Raspberry Pi) devices

[2017-02-12 14:20] jekkos commented on #1139
See #546 #1130

[2017-02-12 14:20] odiea commented on #1130
When I was testing different servers it appeared that maria db had no MySQL 5.7 issues. That was why I changed db versions.

[2017-02-12 14:23] RamkrishnaMondal commented on #1130
I am using v10.x.x of MariaDB which comes with ubuntu 16.04 , have not noticed any issue so far.

[2017-02-12 14:24] jekkos commented on #1130
Current docker stack is using MariaDb as well. If nginx proves to be faster I might want to change default apache to nginx

[2017-02-12 14:26] daN4cat commented on #1130
They say that nginx is faster than Apache. Not sure with TravisCI something can be spotted. Anyway, good for the fun at least.

[2017-02-12 14:28] daN4cat commented on #1130
Some performance comparison Apache vs Nginx on RPI: http://raspberrywebserver.com/raspberrypicluster/comparing-the-performance-of-nginx-and-apache-web-servers.html

[2017-02-12 14:31] jekkos commented on #1059
Duplicate of #868

[2017-02-12 14:33] deepshah commented on #886
Hey guys, sorry for replying so late. I have been busy with some other stuff and not been able to work on this. @jlctmaster feel free to take off from where I left it.

[2017-02-12 14:35] daN4cat commented on #1130
BTW that web page talks of a solution on a cluster of RPI, with a load balancer put on an PC running lubuntu. The web page itself is running off the cluster of RPI with nginx if I got right.

[2017-02-12 14:39] #1059 closed

[2017-02-12 14:44] #1131 closed

[2017-02-12 14:45] daN4cat commented on #211
@jekkos is there a variable to substitute the amount spent?
@RamkrishnaMondal you need to check `controller/Sales.php private function _substitute_variables($text, $customer_info)` and add a new variable there for the total (I sense it's something like that that you need to do).

[2017-02-12 14:47] jekkos commented on #1082
@jritzema Are you reselling ospos under a rebranded name? Please read the LICENSE carefully and comply otherwise we'll need to enforce it against you

https://www.posbox.nl/kassasysteem-in-de-cloud/

[2017-02-12 14:53] daN4cat commented on #1082
Nice.... neither the effort to contribute to the Dutch translations complete free ride.

[2017-02-12 14:53] RamkrishnaMondal commented on #211
@daN4cat  @jekkos  You always wanted a second option of sending SMS using GSM Modem/Phone, I have found this. It's 5 years old code, but I believe you can make it usable with modifications.

 https://github.com/appmode/sms

Please have a look.

[2017-02-12 14:59] daN4cat commented on #211
But that implies having the mobile connected to the server and might not always be possible.
Anyway it's an option indeed.

[2017-02-12 15:00] RamkrishnaMondal commented on #1137
@daN4cat @jekkos  I'll request to keep at least 2/3 custom fields even after proposed changes by jekkos, for future customisation.

[2017-02-12 15:01] #1130 closed

[2017-02-12 15:02] jekkos commented on #211
It  could be cheaper in the end as a lot of telco's offer unlimited SMS for low monthly subscription fees these days. We could indeed add it as a possible implementation on top of a generic gateway interface. I guess in that case some parts should be reworked but this is currently not on my priority list.

[2017-02-12 15:04] jekkos commented on #1082
Beside PHP programming he does seem to know how to manage these applications a cloud setup :+1:

[2017-02-12 15:06] RamkrishnaMondal commented on #211
One can use even older 2G GSM modems for this purpose. Personally I also not needed this but someone can work on this, if he needed this feature.

[2017-02-12 15:13] jekkos commented on #1137
There will be a migration path ready if you have custom fields in use

[2017-02-12 15:15] waynebr76 commented on #868
Thanks how do I add this I cannot find a file called export.html and am not sure how to add this

[2017-02-13 07:02] RamkrishnaMondal opened #1141 "Financial year selection in config"
### New Feature / Enhacement

In some countries **financial year**  is different from **calender year**. For example in India it's April 1st to March 31st,  for taxation and other official purpose.

Can somebody add a **financial year** selector in the config-locale, so that **date-selector** will stick to that ?

[2017-02-13 10:18] daN4cat commented on #1141
Makes sense.
The best solution would be to make this location / language based. I would need to check if there is a way to automatically do that.

[2017-02-13 12:46] SteveIreland commented on #1141
In the US some companies work off of what is called a fiscal year which has similar requirements.  So if you don't limit it to a particular language then it might serve additional purposes.  If you go here though, you might want to consider introducing fiscal periods and which would behave similar to monthly periods but point to a different start and end calendar dates.  I don't need it yet, but I

[2017-02-13 15:57] RamkrishnaMondal commented on #1130
@daN4cat  Time to update 'Server Requirement' under Read Me.

[2017-02-13 16:07] SteveIreland commented on #625
ok

[2017-02-13 18:38] daN4cat commented on #1130
That's true

[2017-02-13 18:58] daN4cat commented on #1130
Done

[2017-02-13 20:09] SteveIreland commented on #1061
I know I'm pushing my luck but if this looks pretty close to what's needed then can we go ahead and merge it in and I'll spend the the coming week addressing all of the remaining issues (at least those that are within my skill set).

[2017-02-13 21:30] daN4cat commented on #1061
I leave to @jekkos to merge this as I don't use invoicing and I did little test of this in the past just to amend things.

[2017-02-13 21:35] jekkos commented on #1061
Yes indeed I guess we need to take action and reduce the amount of code there. Some of the methods in Sales controller have become too tedious.

I think that it would make sense to have some kind of hook in the end on which we can register a generic sort of action fires. This could be cleanly done in an OO way by providing a simple interface method and extracting the specific functionalities accor

[2017-02-13 21:42] daN4cat commented on #909
There has been improvements with the wiki and it's an ongoing activity.
I believe we can close this.

[2017-02-13 21:42] #909 closed

[2017-02-13 22:14] daN4cat commented on #1081
This is now fixed, please @odiea confirm it's fine or not.

[2017-02-13 22:22] daN4cat commented on #1134
@odiea I tried changing serial number on one item, doing transactions with different serial number, same serial number but it all looks fine to me. Taking and Detail Sales look the same.
There must be something different that I'm not able to reproduce this. Please write down a simple test case with exact sequence to reproduce the issue. Thanks.

[2017-02-13 22:26] daN4cat commented on #1141
Yep locale not language, that was a mistake.

[2017-02-13 22:44] daN4cat commented on #1141
PHP locale support doesn't provide such view of fiscal (or financial) year. I guess the right way would be to add a config item to state the starting day of the financial year so it's fully configurable.

Reference: https://en.wikipedia.org/wiki/Fiscal_year

[2017-02-13 22:44] odiea commented on #1081
Yes. It works great now as far as the POS or pos KIT or kit.

[2017-02-13 22:45] daN4cat commented on #1081
So I close.

[2017-02-13 22:53] odiea commented on #1134
All I do is enter the same item number twice. I do not fill out the serial (I did the last time with no changes).
![2017-02-13 15_36_41-wedidit _ powered by ospos 3 1 0](https://cloud.githubusercontent.com/assets/10962177/22906960/2cb1cd8e-f204-11e6-99c9-1e181a995984.png)
![2017-02-13 15_37_08-wedidit _ powered by ospos 3 1 0](https://cloud.githubusercontent.com/assets/10962177/22906966/3043dd8e-f

[2017-02-13 23:11] odiea commented on #1134
For some reason it appears that in Takings it is doubling the tax when it displays the info. Thus the increased total.
![2017-02-13 16_06_18-localhost _ 127 0 0 1 _ ospos1 _ ospos_sales_items_taxes _ phpmyadmin 4 5 1 and](https://cloud.githubusercontent.com/assets/10962177/22907511/bc4bd8c0-f206-11e6-9251-77defb89725e.png)

![2017-02-13 16_06_59-localhost _ 127 0 0 1 _ ospos1 _ ospos_sales_payment

[2017-02-13 23:27] odiea commented on #1134
If I had the knowledge to fix this . I would store the tax amount in either Payments or Replace the Sales Tax row with the Tax amount calculated by the Sale. So my assignment is to learn this stuff.

[2017-02-14 03:22] SteveIreland commented on #625
@daN4cat The bulk edit is an oversight on my part ... I've never looked (much less touched) the bulk edit.  I'll take a look.

On an earlier point ... since you essentially don't want the user to even be aware of non-stock items and kit items unless they explicitly request those features then what do you think about adding a configuration option for enabling non-stock support?  If that option is s

[2017-02-14 03:25] SteveIreland commented on #625
And just to be clear, you're saying that the rule is that if the user isn't authorized to kit items, they cannot only NOT maintain them but they cannot sell them either.... right?

[2017-02-14 04:09] SteveIreland commented on #1061
@jekkos @odiea @daN4cat

Since I just added the ability to generate an unpaid or partially paid invoice I will now need to add the ability to add payments to a sales of type invoice.  That means I need to be able to add payments to a sale.

I need to a payment option to on the takings update to capture payment type, payment date, and payment amount.  These fields option will only be visible if the

[2017-02-14 05:36] RamkrishnaMondal commented on #1130
Please check  MariaDB spelling in the READ ME and also add `php-curl `is required to send SMS.

[2017-02-14 07:09] daN4cat commented on #1061
Have you checked the sale edit box? I added logic to edit payment type and if one payment is 0 it removes it automatically (it's a known issue that people tend to add 0 payment type by mistake and then you can remove later, with this edit it's gleaned automatically).
In case of partial payment you can extend to add payment to balance. Please make sure payments can not be removed otherwise we allow

[2017-02-14 07:18] daN4cat commented on #625
I would say hide what needs to be hidden.

With regards to permissions it's a good point. Do we want cases where we hide the edit but we can add?
It's like suppliers and customers. We allow the addition but not the edit.
Maybe have a permission with two sub permissions would be better. One edit and one add. What do you think?
This point should be considered more in general I believe. ...

[2017-02-14 08:36] jritzema commented on #1082
**We are not reselling ospos.**

We offer installing services, configuration, support, back-up and hardware like barcode scanners and pos printers. So customers pay for those mentioned. Not for OSPOS.

**The Ospos name and website or otherwise are still there where they should be.**

As in The footer signature "You are using Open Source Point Of Sale" with version, hash and link to the original di

[2017-02-14 08:44] jritzema commented on #1082
@daN4cat  Sure we translated some Dutch language files, is that prohibited? If you want us to share these files, no problem.

The MIT License (MIT)

Copyright (c) 2014 pappastech

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation

[2017-02-14 09:09] daN4cat commented on #1130
Fixed

[2017-02-14 12:33] odiea commented on #1061
In the current version with just changing 1 line of code you can make payments and they do show just fine in Takings. I think the biggest issue would be to create an additional module to be able to make additional payments and Reports .
![2017-02-14 05_29_21-wedidit _ powered by ospos 3 1 0](https://cloud.githubusercontent.com/assets/10962177/22929027/aa270438-f276-11e6-813d-d7d0f5ed7488.png)

[2017-02-14 13:38] alvin101 commented on #1061
This is another enhancement I think best left for a back office accounting or erp sys...

[2017-02-14 14:49] ishtiaquesarwar opened #1142 "Supplier Bill Payment & Other Expenses Category wise"
Hello
Can any one suggest how we can include supplier payment with due amount, paid amount and remaining balance product wise with date, note etc, also operational expense category wise. This feature is needed and if any one of you have this please let me know if it requires small payment, i want to implement it in my software and make best use of it

thanks
ishtiaque

[2017-02-14 19:16] RamkrishnaMondal commented on #1130
`db_backup `is not working with nginx. Tested with v3.0.2 and v3.1.0 . shows error 500.

[2017-02-14 21:47] daN4cat commented on #1130
It's a fact of life... no support and all happy.

[2017-02-14 23:09] SteveIreland commented on #1061
I started to get all indignant and and question @alvin101 regarding his bias for Phreebooks.

But after the second shot of whiskey I realized how "on target" the comment was.  I swear I heard a choir of angels (or maybe it was the background music for 2001 A Space Odyssey - I can't be sure).

Rethinking again.  Thanks @alvin101

[2017-02-14 23:16] daN4cat commented on #1061
All this typing from my side and just one single sentence did it all.... better to watch TV next time 😊

[2017-02-15 05:36] RamkrishnaMondal commented on #1130
I found this for you

https://kevindekoninck.com/raspberry-pi-install-nginx-mysql-php/

[2017-02-15 19:31] RamkrishnaMondal commented on #1081
@daN4cat  POS / pos problem is fixed now but still having the payment options `inactive` in case of a return.

[2017-02-15 21:04] daN4cat commented on #1082
@jritzema help with translation is always welcome and the [wiki explains how to](https://github.com/jekkos/opensourcepos/wiki/Adding-translations).
Coincidentally weblate translation runs on a server that @jekkos need to pay.
So a click on the donate button on the main page is welcome if you are making some money with the (free) work we are putting here. Open source is about take and give, who dev

[2017-02-15 21:13] daN4cat commented on #1142
@ishtiaquesarwar this is mainly a POS system with stock control, sales/receiving management, contact storing and operational reporting.

We are extending on the communication side with invoices, txt messages but the feature you are asking falls under the purchase order and supplier management.
I guess you may want to have the possibility to register status of order & delivery, log invoices, get ev

[2017-02-15 21:20] jekkos commented on #1142
Indeed as quite some of his previous requests, I render this 'out of scope' currently.

[2017-02-15 21:24] daN4cat commented on #1081
I'm under the impression that this used to work in 3.0.x.
I changed the register and tested different cases and again I'm under the impression it used to be fine.

I need to check if something was changed around this point.

[2017-02-15 21:25] daN4cat commented on #1081
Can somebody test with 3.0.2 version? I don't have that much time these days...

[2017-02-15 21:37] odiea commented on #1081
Sorry I deleted all mine.

[2017-02-15 22:01] daN4cat commented on #1081
Anyway, I will need to fix. So probably no point to go back in time and I need to check what's wrong.

[2017-02-16 09:33] RamkrishnaMondal commented on #1081
Tested, it's working on V3.0.0 or older. Not working on v3.0.2/ v3.1.0

Hope this helps.

[2017-02-16 09:36] daN4cat commented on #1081
Great help, many thanks. I need to understand what I broke from 3.0
0 😕😕😕

[2017-02-16 09:38] RamkrishnaMondal commented on #1130
`backup_db` is actually working with nginx. I have created a new db and it's working.

[2017-02-16 09:56] innovaerp opened #1143 "Barcode Not generating"
Hi
Recently we have upgraded php version in our server, for which barcode generate is not working and showing blank. can you please suggest what functions i need to enable to do barcode generation smoothly as like previous time

thanks

[2017-02-16 10:00] daN4cat commented on #1130
Good good

[2017-02-16 13:43] RamkrishnaMondal commented on #1143
v3.0.2 or higher works fine with php 7.0. Which version of OSPOS are you using ?

[2017-02-16 14:41] innovaerp commented on #1143
Php 5.6.30 upgraded

On Feb 16, 2017 7:43 PM, "RamkrishnaMondal" <notifications@github.com>
wrote:

[2017-02-16 16:06] RamkrishnaMondal commented on #1143
OSPOS version Please!
(আরে ভাই, OSPOS কত ভার্সন ব্যাবহার করছেন সেটা বলুন ! )

[2017-02-16 16:42] innovaerp commented on #1143
OSPOS version 3.0.0

<http://www.softbd.com>

Support Desk / Soft Tech Innovation Ltd.
8801711-272324 / info@softbd.com

Soft Tech Innovation Ltd. *Office*: 880-1611-272324
Sector:14, Road:15, House:92, Uttara, Dhaka. 1230
http://www.softbd.com
*Business Service Wings*: *MUTHOFUN <http://www.muthofun.com/> |  aamarPay
<http://www.aamarpay.com/> | eBiponon <http://www.ebiponon.com/>*

[image: Faceb

[2017-02-16 16:42] innovaerp commented on #1143
I have resolved the issue by installing GD library in php

<http://www.softbd.com>

Support Desk / Soft Tech Innovation Ltd.
8801711-272324 / info@softbd.com

Soft Tech Innovation Ltd. *Office*: 880-1611-272324
Sector:14, Road:15, House:92, Uttara, Dhaka. 1230
http://www.softbd.com
*Business Service Wings*: *MUTHOFUN <http://www.muthofun.com/> |  aamarPay
<http://www.aamarpay.com/> | eBiponon <htt

[2017-02-16 17:21] daN4cat commented on #1143
That's why there is an issue report template but people that ignore it get issues...

[2017-02-16 17:21] #1143 closed

[2017-02-16 19:35] rashedulislammasum commented on #1056
Hello, I was running POS on php version 5.6.15. But afters installing php version 7.1.1 its showing same problem mensioned here.

[2017-02-17 10:24] ashaikho opened #1144 "Autocomplete not working"
### Issue / Question / Bug

Before submitting an issue please make sure you remove the first section of the template and you tick (add a x between the square brakets) and agree with all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensource

[2017-02-17 17:50] daN4cat commented on #1144
PHP version?

[2017-02-17 17:51] daN4cat commented on #1144
Installed all the required PHP extensions?

[2017-02-17 20:46] SteveIreland commented on #1133
I am about to start on a feature add for my use.  I've temporarily documented on the Wiki here so that the deciders can take a closer look at what I'm about to do and decide if it's something that would be useful here.  If the decision is "no" then I'll delete the Wiki page.   Just let me know.   Thanks.

https://github.com/jekkos/opensourcepos/wiki/Proposed:-Sales-Tax-by-Customer

[2017-02-17 21:02] odiea commented on #1133
I assume this would be an App config item that would not interfere with the current tax settings?

[2017-02-18 01:13] SteveIreland commented on #1133
That's my new immutable rule for any changes. :-)

[2017-02-18 11:31] yadgar222 opened #1145 "Relation between Vendor(Supplier) and Items"
Hi,
There is no Relation Between Supplier And Items, I mean when clicking on Supplier doesn't show your the Items (Products) that they supply and there balance also

[2017-02-18 11:32] yadgar222 opened #1146 "There is No Expire Date"
Hi,
there is no production and expire field, which are very essential in inventory.

[2017-02-18 11:34] yadgar222 opened #1147 "No print generation capability in Report part"
Hi,
There is no choose to print the report, it just let exporting to a file.

[2017-02-18 12:13] daN4cat commented on #1145
@yadgar222 yes, good proposal for an addition. Feel free to contribute it, we need help.

[2017-02-18 12:14] daN4cat commented on #1147
@yadgar222 yes, good proposal for an addition. Feel free to contribute it, we need help.

[2017-02-18 12:15] daN4cat commented on #1146
Duplicate of #385, it will be solved with #68.

[2017-02-18 12:15] #1146 closed

[2017-02-18 12:21] yadgar222 opened #1148 "Category Part"
Hi,
I think it will be better that category part be independent, and with ability of grouping items under split category.

[2017-02-18 12:24] daN4cat commented on #1148
See #68

[2017-02-18 12:24] #1148 closed

[2017-02-18 19:49] daN4cat commented on #1081
@jekkos I suspect this has something to do with the change done in #733.
Basically if the amount is 0 or negative it's marked as ok and shows the complete button.
Before it was ok only if ==0, but because of the precision issue it was set to <=0.
However what's missing here is the fact that in return mode the amount can be negative.

[2017-02-18 19:50] daN4cat commented on #1081
It should probably be considered ok only if == (0 + rounding error). Thoughts?

[2017-02-18 21:50] daN4cat commented on #1081
I think I fixed the issue but you now need to test it properly in various conditions (especially with fancy tax break downs), either in sale and return modes.

[2017-02-18 22:01] daN4cat commented on #1134
I'm sorry, I'm trying to reproduce but still no luck as it is all fine to me:

![image](https://cloud.githubusercontent.com/assets/636048/23097185/a3434386-f625-11e6-8dd7-d8996a3ea3da.png)

![image](https://cloud.githubusercontent.com/assets/636048/23097200/bf07792a-f625-11e6-97d2-df06d926dc3d.png)

![image](https://cloud.githubusercontent.com/assets/636048/23097203/d9b5bfe8-f625-11e6-80a3-107f4d0

[2017-02-18 22:03] daN4cat commented on #1134
The only thing I can see it's the tax rounding issue, but that's a different story and something for another ticket.

[2017-02-19 07:27] RamkrishnaMondal commented on #1081
@daN4cat  Thank You very much, appears to be working. I'll test more with different conditions.

[2017-02-19 07:52] daN4cat commented on #1081
Yep the tricky bit is with unusual taxation, that's always the problem here and the rounding effect.

[2017-02-20 07:07] bill-goldberg opened #1150 "Store Config -> Invoice -> $CO"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-02-20 07:07] bill-goldberg commented on #1150
What is $CO ?

[2017-02-20 07:08] bill-goldberg commented on #1150
![g](https://cloud.githubusercontent.com/assets/23611136/23115216/869335f8-f769-11e6-9322-9d19c8bbf584.JPG)

[2017-02-20 10:41] daN4cat commented on #1150
This is going to change after @SteveIreland commit of his latest work if I got right. That will be in 3.1.0.

[2017-02-20 12:37] bill-goldberg commented on #1150
Ok but what if i remove it from store config and just left the fields blank?

[2017-02-20 13:21] SteveIreland commented on #1150
The $CO is translated to the number of records in the `sale_items` table at the time the invoice number is rendered which is currently when the sale is completed.  If you leave it blank then the system will return a blank invoice number.

[2017-02-20 13:23] SteveIreland commented on #1150
After the pull request for tokens and quotes is in then the following will be in place (this is from the wiki).

**Sales Invoice Format** - This is how the invoice number will be formatted when it is assigned.  There are three codes that you can provide that will be translated to a particular value.  Normally only one is used.
- *$CO or {CO:9}* - This will be replaced with the number of sales reco

[2017-02-20 13:34] daN4cat commented on #1150
Wouldn't it better to switch to the new token format upgrading the current database with the database upgrade script? Supporting old and new becomes expensive code maintenance wise.

[2017-02-20 13:53] SteveIreland commented on #1150
I've been strongly discouraged from introducing changes that impact existing installations.

However, the existing tokens are handled internally by simply translating the old tokens to an equivalent new token.  So it's not expensive at all.  All token replacement is based on the new tokens only - at least for invoice and quote formats.

[2017-02-20 14:11] SteveIreland commented on #980
@daN4cat A good chunk of this is resolved in the quote-invoice branch, so I'm a bit confused as to why this shouldn't be closed.  If there is still a small piece missing I'm happy to slip it in before 3.1 is released.

[2017-02-20 15:13] Modding opened #1151 "Weblate Login Problems"
Hi,

i wanted to check if all German Translations are up to date ... and i tried to log me in to my Weblate account at http://weblate.jpeelaer.net . But it always sayed my Password is wrong ... and when i tried to reset my Password no mail was delivered to my Inbox and no eMail in my Spam Folder.

Greetings

Valentin

[2017-02-20 16:22] RamkrishnaMondal commented on #1081
@daN4cat  Also manually updated v3.0.2 with these fixes, working nice!

[2017-02-20 16:42] jekkos commented on #1151
Ok thanks for reporting this, I tried to upgrade the server yesterday but something might have gone wrong. I'll check tonight and post status here.

[2017-02-20 16:43] jekkos commented on #1151
I was about to remote the weblate orphan branch as the workflow that goes with it is too complex. Better to use translations directly on the  master branch.

[2017-02-20 17:43] daN4cat commented on #1081
@odiea do you think you could do a bit of sanity check around this change too?

[2017-02-20 17:45] daN4cat commented on #980
@SteveIreland probably a mistake from my side during some tidy up time.

[2017-02-20 18:07] odiea commented on #1144
I just downloaded the master and this does appear to be an issue. I was testing Takings and found this. Also no items are showing in the list but  it will accept an item number with no dropdown in Register. I made and completed the Sale and it went to a blank page.  Receivings is the same where the find is not working.

[2017-02-20 18:27] odiea commented on #1144
Also this is what I get when trying to enter an Item Kit.
![2017-02-20 11_25_23-wedidit _ powered by ospos 3 1 0](https://cloud.githubusercontent.com/assets/10962177/23137480/7cc23b14-f75f-11e6-8be8-f720d4994233.png)

[2017-02-20 18:28] odiea commented on #1081
Please check out issue #1144.

[2017-02-20 19:26] nick9822 opened #1153 "Question: Why qty, price calculation is not updated in real-time."
Hi there,

Thanks for such a nice product. While evaluating I came across one issue or question you can say.
Why qty, price is not updated real-time? Please see following screen, Price is 500 and 20 qty so amount should be 10000 but instead its 5000. Amount is getting updated after pressing update icon.

![capture 55](https://cloud.githubusercontent.com/assets/10139291/23138866/c3cf20b0-f7cf-11e6-

[2017-02-20 19:31] daN4cat commented on #1153
Have type enter after you updated the field?

[2017-02-20 19:35] nick9822 commented on #1153
@daN4cat
Oh thanks, it worked. So sorry for that.

But how can we make on focusout or TAB press, any idea? It would be great.

Thanks,
Nick

[2017-02-20 19:41] odiea commented on #1081
I just re downloaded and all is ok now.

[2017-02-20 19:51] odiea commented on #1081
So far working great.
![2017-02-20 12_46_12-wedidit _ powered by ospos 3 1 0](https://cloud.githubusercontent.com/assets/10962177/23139737/1fa8e160-f76b-11e6-96fe-655e4ccb95fd.png)
![2017-02-20 12_48_26-wedidit _ powered by ospos 3 1 0](https://cloud.githubusercontent.com/assets/10962177/23139739/2758439c-f76b-11e6-888a-19781c441162.png)

[2017-02-20 20:01] odiea commented on #1134
New Master same issue. I will close this if no one else can reproduce it. Here is what I got on the new master. Normally I do not use both Sales Taxes I will just use a combined Sales Tax.
![2017-02-20 12_56_11-wedidit _ powered by ospos 3 1 0](https://cloud.githubusercontent.com/assets/10962177/23140013/8791f9fa-f76c-11e6-9130-1ea0d263cad3.png)

[2017-02-20 23:09] daN4cat commented on #1134
Mhhh the only thing I didn't test and I bet it's the difference here is adding tax not tax included. Here in UK and EU is tax included, in the US is net price + taxes.

[2017-02-20 23:10] daN4cat commented on #1153
I would need to check....

[2017-02-21 05:03] bill-goldberg commented on #1150
Thankyou @SteveIreland ...

[2017-02-21 08:32] RamkrishnaMondal commented on #1153
@daN4cat   I have seen commercial POS system build on PHP, updates values automatically, without pressing enter or clicking on update button, can't we modify OSPOS that way ?

[2017-02-21 11:17] nick9822 commented on #934
This solved my issue in my case.
http://stackoverflow.com/a/16372984/4688775
This read as
[code]

[2017-02-21 13:02] jekkos commented on #1153
Sure but this is not a commercial system but a community driven one. Technically it is certainly possible as long as someone has the motivation to pick up the issue and fix it

[2017-02-21 13:07] jekkos commented on #1082
@jritzema Indeed from your website your intent isn't very clear, I found nowhere the name ospos mentioned on it. However I haven't seen how your posbox install looks like and if it carries a footer or not.

I would say that you'd have to give credit where it is due. Beside that I think it's quite gross to come here and ask people to do things for free, give nothing in return and then go monetize i

[2017-02-21 13:11] nick9822 commented on #1153
@jekkos
Thank you for reply. You have done the great work creating this product. 👍
I would love to do this feature, if you guide me somewhat.

[2017-02-21 14:06] daN4cat commented on #1153
@nick9822 many thanks for the contribution, right approach to contribute. Somebody here will pick up and test, I'll see if I can find the time.

[2017-02-21 17:10] rminformaticos opened #1155 "error 500 on 1and1 server install"
hi, im trying to install on my 1and1 webserver, and i can't login.

(last ospos version, mysql 5.5, php 7)

- create subdomain
- redirect subdomain to route: opensourcepos-master\public
- create DB, upload SQL, upload php files
- form login shows ok

but when submit......

[code]

what can i do???

Thx

[2017-02-21 17:20] daN4cat commented on #1155
Which version are you using?

[2017-02-21 17:21] rminformaticos commented on #1155
i download lastest:

https://github.com/jekkos/opensourcepos/archive/master.zip

[2017-02-21 17:29] RamkrishnaMondal commented on #1155
Please check your server's php_info, if all the **required** php modules are enabled / loaded.

[2017-02-21 17:36] rminformaticos commented on #1155
yes all loaded an enabled

[2017-02-21 17:45] RamkrishnaMondal commented on #1155
You have not mentioned your server name and version, ie Apache2.4 / Ngnix .
When I tried OSPOS first time on Nginx ..... it got error something like that.

[2017-02-21 17:46] rminformaticos commented on #1155
sorry i miss it

Apache/2.2.22

[2017-02-21 17:59] RamkrishnaMondal commented on #1155
`php-sockets` is not loaded as per your phpinfo.

[2017-02-21 18:05] rminformaticos commented on #535
hi jaus23 im trying to install ospos on 1and1 server, can help me???

Thx

[2017-02-21 18:35] petercstevenson opened #1156 "Updating from 3.0"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-02-21 19:42] daN4cat commented on #1156
Read the FAQ and checked all the points?

[2017-02-21 22:37] jekkos commented on #1153
See latest commit, should work for both receiving and sales

[2017-02-22 05:00] nick9822 commented on #1153
Thank you for your efforts. Now we have the needed feature running.

[2017-02-22 05:00] #1153 closed

[2017-02-22 05:31] petercstevenson commented on #1156
I have read the FAQ, and it doesn't seem like any of the points apply to me. I have read the README and the WHATS_NEW files and I see that there is an UPDATE.txt file as well. It seems like these instructions are based more for regular installs than for web docker installs. Or perhaps I just do not understand the instructions. For example, step 3 is "Remove all directories". Where do I remove all

[2017-02-22 05:38] petercstevenson commented on #1156
By the way, I have Digital Ocean backups. If there is some way to go back to running the older version of 3.0 that would be just fine. I just need a usable system.

[2017-02-22 06:02] petercstevenson commented on #1156
This may be off-topic, but what I would really like is to pay someone else to host my database for me. Does anyone offer this service?

[2017-02-22 07:16] daN4cat commented on #1156
@jekkos is this something you could do?

[2017-02-22 10:37] rminformaticos commented on #1155
im talking with 1and1 and tell me they cant enabled php-sockets on my hosting :(

how can i disable sockets changing code??

[2017-02-22 10:48] jekkos commented on #1156
@petercstevenson Might be a good learning experience to troubleshoot this issue in my case.

I suppose you have upgraded to the latest docker cloud build image, which is always the master in this case. You're correct in a sense that once you pull latest image from docker hub you need to redeploy the image.

But maybe the update script wasn't tested yet and doesn't work for this pre 3.0 version. Th

[2017-02-22 10:49] jekkos commented on #1156
I don't believe you're data is lost, it's probably the Items search method returning an error code 500 or so

[2017-02-22 10:53] jekkos commented on #1156
* You did not upgrade from a stable 3.0 release which means that there might be some statements in the 2.4_to_3.0 script that you need to execute before you can move to latest master build
* Also you might have skipped scripts going from 3.0 to 3.0.2
*  If you want then I could maintain your cloud setup under my account and rollout updates once in a while.

[2017-02-22 13:01] petercstevenson commented on #1156
There were no errors when I ran the 3.0.2_to_3.1.0.sql script

[2017-02-22 13:32] petercstevenson commented on #1156
OK, it looks like the problem was that I didn't have php5-gd installed in the web container. I have installed that package and everything seems to be working. I would recommend that the FAQ be updated to say something like "If you unexpectedly receive a blank page (HTTP status 500), then double check php5-gd presence in your php installation" as in my case it wasn't connected with search completio

[2017-02-22 13:32] #1156 closed

[2017-02-22 17:07] jekkos commented on #1155
Maybe try our cloud formula? Should work out of the box.

[2017-02-23 04:52] bill-goldberg opened #1158 "Items module backup and restore problem"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-02-23 04:56] bill-goldberg commented on #1158
I have restored ospos using the backup sql file but the items are not showing in the items module while it is
available in sale module from search box. What could be the possible cause for this that it is not showing in items module ?

[2017-02-23 05:55] RamkrishnaMondal commented on #1158
Apply 3.0.2_to_3.1.0.sql script.

[2017-02-23 06:42] bill-goldberg commented on #1158
i have used version 3.1 when i generated the backup file. and I don't think that it is a version difference issue.

[2017-02-23 17:11] rminformaticos opened #1159 "item_stock & item_type not load and save"
on items form, those inputs doesnt save on DB if i select non-stock "checked" value.

and on edit item form, value doesnt load from DB.

(sorry for my bad english)

[2017-02-23 20:20] SteveIreland commented on #1159
Did you run the database scripts to add the `stock_type` and the `item_type` to the `ospos_items` table?  If so then something else might be going on .  I'm not able to replicate this issue.

Can you change the public/index.php file statement 56 from

	define('ENVIRONMENT', isset($_SERVER['CI_ENV']) ? $_SERVER['CI_ENV'] : 'production');

to

	define('ENVIRONMENT', isset($_SERVER['CI_ENV']) ? $_SER

[2017-02-24 08:36] rminformaticos commented on #1159
hi, yes i have stock_type and item_type on ospos_items table.

change to development and same problem.

i test, change one item's stock_type value to 1 on DB, and it loads ok on edit item form, but when i save it, the data always save it to 0.

[2017-02-24 11:54] ganeshthandapani opened #1160 "unable to increase the quantity in sales"
In the sales process there is no option to increase the quantity of particular item.

[2017-02-24 12:27] daN4cat commented on #1160
Not sure I get this, at all. Are you saying that you cannot write 2, 3, 10 in the cart entity field?

[2017-02-24 12:45] ganeshthandapani commented on #1160
ya, Thanks for  your feed back, no issues I have fixed that. while modifying i changed the variable name that all. Noe its work fine thanks fro your code.

[2017-02-24 12:45] #1160 closed

[2017-02-24 13:05] daN4cat commented on #1160
Please don't post issues related to code you change, it's your responsibility to sort issues out once you changed something.

The issue template is in place for a reason.

Thanks

[2017-02-24 13:32] odiea commented on #1159
I cannot reproduce this issue.

[2017-02-24 13:48] SteveIreland commented on #1159
I just now downloaded a fresh master from jekkos and configured a clean database with a set of test items and all of the updates are working as expected.

Something else is going on that's preventing the changes from being saved.

Are ANY changes being saved to your `item` table?  What happens when you try to change the item description?

Also (not relevant to this issue but I noticed it and thoug

[2017-02-24 14:10] odiea commented on #1158
Would issue #1137 have anything to do with this?

[2017-02-24 18:05] nenuchand opened #1161 "Installing 3.0.2 on Azure Platform"
I am struggling to install 3.0.2 on Azure platform after the recent change in directory structure . The 3.0.0 version works fine
I have rewritten the htaccess file to web.config  with the following but still im unable to get it up and running.
I have installed the composer component.
I am installing on a WebApp with PHP and Mysql.

Web.config file placed in public folder
`<?xml version="1.0" encod

[2017-02-24 18:15] daN4cat commented on #1161
And the problem is?

[2017-02-24 18:22] nenuchand commented on #1161
I get the error

The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.

[2017-02-24 18:39] daN4cat commented on #1161
You need to point to the public direct.

[2017-02-24 19:15] nenuchand commented on #1161
It am pointing to the public URL in the browser

[2017-02-24 19:19] HugoTrejo opened #1162 "Add/Enhance new item price field"
Hi,

I'm trying to add a new field for item price, in order to have 2 different prices for items then the user should be able to select which price the sale needs with a check box, this enhacement is for business that sells wholesales products with different price . But I dont know if I just need to add this new column on `ospos_items' table or I need to add extra column in the `ospos_sales_items`

[2017-02-24 22:50] SteveIreland commented on #1162
Don't forget to pay the usual sacrifice to the CodeIgniter gods.

[2017-02-25 02:50] meadlin opened #1163 "Incorrect calculation of multiple sales tax"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-02-25 10:10] #1150 closed

[2017-02-25 10:24] #1155 closed

[2017-02-25 10:24] #1144 closed

[2017-02-25 10:25] daN4cat commented on #1081
OK, this seems sorted.

[2017-02-25 10:25] #1081 closed

[2017-02-25 10:44] daN4cat commented on #1163
Many thanks for the explanation, this should be the recommended fix for #1094.

At the moment the steps are to calculate the sum of the two taxes % and then apply it to the subtotal to obtain the total, rounding the total.

So each tax % needs to be applied to the subtotal, get the rounded tax and then sum the two taxes on top of subtotal to obtain the total.

I believe there will be some work to

[2017-02-25 18:52] SteveIreland commented on #1163
Thanks for addressing this @daN4cat .

I've been working on the sales tax module for awhile now.  It's expanding as I learn the nuances of the various tax legislation of each state (at least the ones I have to immediately account for).

But I want to keep an open mind toward VAT tax because there is discussion going around suggesting that the big Donald might trump us with a VAT tax.  So in the ex

[2017-02-25 20:21] meadlin commented on #1163
This example is for pure sales tax. 4.75% for the state and 3.75% for the city, both require their sales taxes be rounded up.

On February 25, 2017 11:52:27 AM MST, Steve Ireland <notifications@github.com> wrote:

[2017-02-25 20:32] daN4cat commented on #1163
@SteveIreland in EU/UK prices are with VAT included. That's why @jekkos and I tend to use and test with that.
This two level of taxation is mainly a US thing, and it's tricky to deal with when calculating totals and etc.

I've just checked Sale model and the searches need to change completely to move from sum of tax % to the correct way.
And to be honest I'm not so inspired because of that work I

[2017-02-25 21:19] meadlin commented on #1163
I'll take a look at it and the rest of the code to see if I can come up to speed and help take a stab at it. It might be beneficial to add the capability to add more than two tax districts, as in my example at least, the state is really 4 different sales tax districts that are being combined to conform to the SW model.

[2017-02-25 21:32] daN4cat commented on #1163
@meadlin it's all in models/sale.php
I'm currently checking what can be done...

[2017-02-26 02:29] jekkos commented on #1151
@Modding Email config should be OK now

[2017-02-26 02:30] jekkos commented on #1151
Tr

[2017-02-26 10:40] daN4cat commented on #1161
@nenuchand please search the Internet for codeigniter composer installations on Azure.
I cannot help because I never dealt with that type of environment.

[2017-02-26 10:53] jekkos commented on #1161
If you manage to find a solution then feel free to add it to our wiki.

[2017-02-26 14:44] SteveIreland opened #1164 "Should invoicing be enabled by default on a new installation?"
Version: Open Source Point Of Sale Version 3.1.0 - 4f5ad57 (after commit 032bb34)

I was expecting only Sales and Return to be valid Register modes on a new install but found that Sales by Invoice and Quotes were also available.

Then I realized that the Invoice flag was enabled (which is what enables those modes).  So I thought I'd ask if that shouldn't be disabled by default.   I don't know if I

[2017-02-26 15:13] SteveIreland opened #1165 "Return of non-stock items?"
Version: Open Source Point Of Sale Version 3.1.0 - 4f5ad57 (after commit 032bb34)

It doesn't seem to me to make sense to be able to return "non-stock" items.  So if an item is non-stock and the register mode is in "return" then should the non-stock items be filtered out of the selectable items list?

[2017-02-26 15:45] SteveIreland opened #1166 "Undefined property in Sale_lib.php"
Version: Open Source Point Of Sale Version 3.1.0 - 4f5ad57 (after commit 032bb34)

The following error occurred when I attempted to unsuspend a quote.  Working on a fix for it now,

[code]

[2017-02-26 17:09] SteveIreland commented on #1166
I tried to cherry pick a commit but it didn't work the way I wanted (which was I just wanted the commit which contains the change, but it seems to have picked up a few empty commits).

If you want me to redo this just let me know.  My feelings won't be hurt ... much.

[2017-02-26 21:25] jekkos commented on #1165
Maybe it does matter for the sale figures at the end of the day?

[2017-02-26 21:27] jekkos commented on #1164
Hmm it might be hard to find out which options enable what in ospos. If a default demo or install shows most of the functionality by default, then I think new users will find their way more easily.
If the number of usecases is limited then I guess  they can always disable this unneeded functionality. Any other opinions here? @daN4cat @odiea

[2017-02-26 22:30] daN4cat commented on #1163
I'm currently working on this....

[2017-02-26 22:30] daN4cat commented on #1094
I'm currently working on this....

[2017-02-26 22:31] daN4cat commented on #1163
... and I fixed the summary report as first step.

[2017-02-26 22:32] daN4cat commented on #1134
I'll fix this together with the double taxation issue.

[2017-02-26 22:51] daN4cat commented on #1164
@jekkos checking the statistics from GA it looks like 97% of the users enabled invoices.

Therefore we can leave it as it is and close.

[2017-02-26 22:51] #1164 closed

[2017-02-27 00:02] daN4cat commented on #1163
@meadlin @odiea see my last commit to master. Please test as I reworked the tax calculation.
Hopefully I managed to fix all was required, but you never know.... it took half day of work!

[2017-02-27 00:02] daN4cat commented on #1094
@odiea see my last commit to master. Please test as I reworked the tax calculation.
Hopefully I managed to fix all was required, but you never know.... it took half day of work!

[2017-02-27 00:03] daN4cat commented on #1134
@odiea can you please check this issue too with latest master and see if you can still reproduce it?

[2017-02-27 00:48] odiea commented on #1134
Sorry. SOS . Will do more testing later. Gotta go get my grandson.

[2017-02-27 01:27] odiea commented on #1134
I don't know if this image will shed any more light on the subject or not. This has a 7.4 and a 3.0 Sales Tax. It appears to me that both Items are showing the total tax and not the tax per Item.
![2017-02-26 18_22_36-wedidit _ powered by ospos 3 1 0](https://cloud.githubusercontent.com/assets/10962177/23345809/cef2f720-fc50-11e6-9447-de88584ac9ca.png)

[2017-02-27 01:46] odiea commented on #1094
Now the Taxes show the same amount in all Reports. Great job. And they appear to be roundin up correctly.
![2017-02-26 18_42_34-](https://cloud.githubusercontent.com/assets/10962177/23346025/b4c6a47a-fc53-11e6-9e06-d3d110a9b419.png)

[2017-02-27 02:54] odiea commented on #1166
@SteveIreland  I believe @daN4cat already fixed this in the master.

[2017-02-27 03:15] meadlin commented on #1163
@daN4cat Just pulled, and it looks like the total still isn't updating correctly.

![salestax](https://cloud.githubusercontent.com/assets/22114210/23347494/f54abff2-fc5f-11e6-8070-dda1e7ba5972.png)

[2017-02-27 07:13] daN4cat commented on #1134
Ok, clear there is no distinction between the two items at tax calculation level. One more step... to fix.

[2017-02-27 07:14] daN4cat commented on #1094
At least this one is fixed 😊

[2017-02-27 07:15] daN4cat commented on #1163
@meadlin that is with the register only or even the receipt?

[2017-02-27 08:03] meadlin commented on #1163
@daN4cat both, after adding a payment and printing, still came out short.

[2017-02-27 08:08] meadlin commented on #1163
@daN4cat Actually, there doesn't seem to be a way to complete the transaction now.

[2017-02-27 10:02] Modding commented on #1151
eMail works, and i updated the german translation again so it is 100% green! THX!

[2017-02-27 10:02] #1151 closed

[2017-02-27 10:14] daN4cat commented on #1163
Ok

[2017-02-27 12:13] odiea commented on #1163
Now it appears that reports are showing that lost penny Ok Bust Register and Receipts are incorrect.
![2017-02-27 05_08_00-wedidit _ powered by ospos 3 1 0](https://cloud.githubusercontent.com/assets/10962177/23360936/48f7bbc8-fcab-11e6-95f2-27c2e7cebf4d.png)
![2017-02-27 05_08_25-wedidit _ powered by ospos 3 1 0](https://cloud.githubusercontent.com/assets/10962177/23360947/574c2682-fcab-11e6-885e

[2017-02-27 13:20] SteveIreland commented on #1166
No problem.  "Practice makes perfect."  I think the last thing I read was "try again" - that's why it was resubmitted.

[2017-02-27 13:22] SteveIreland commented on #1165
That's a good point.  Even though it's non-stock there really isn't another way to issue a credit through the system if the customer isn't happy with the service and demands a refund.

[2017-02-27 13:25] SteveIreland commented on #1159
@rminformaticos is this still an issue for you or did you figure it out?

[2017-02-27 13:41] SteveIreland commented on #1133
I've rewritten the new tax module a couple of times as I assimilate various types of taxing requirements. The requirement to "not interfere with current tax settings" is going to be a challenge because the current `sale_items_taxes` table is inadequate for for reporting taxes in many state scenarios.  It looks like when the sales tax module is turned on then it would, by necessity, replace the exi

[2017-02-27 13:47] daN4cat commented on #1166
I part fixed, @SteveIreland had more to add and therefore his was the proper fix!
Shall we consider this closed now?

[2017-02-27 14:01] SteveIreland commented on #1166
I think it can be closed now.

[2017-02-27 14:01] #1166 closed

[2017-02-27 14:07] kaslak commented on #1133
Germany für instance uses 7% and 19% for VAT

On Mon Feb 27 14:41:46 2017 GMT+0100, Steve Ireland wrote:

--
Enjoy! ;) ray / goodking

[2017-02-27 14:19] SteveIreland commented on #1133
@kaslak thanks for the feedback.  From an earlier post I also recall that you also needed the taxes to cascade, so  I'll incorporate that requirement in this feature.  Sales/Use taxes in the US are additive but I don't believe that is always the same for cigarette taxes which I believe are the US equivalent of a VAT tax.  Retailers are not required to deal with those taxes ... only distributors.

[2017-02-27 15:08] daN4cat commented on #1133
If you need to rework a generic model we need to list the use cases indeed.
If we need to change for the better let's do that through a DB migration path leveraging an upgrade script.

[2017-02-27 15:09] daN4cat commented on #1133
However I assume this will be 3.2.0 so in the meantime I'll try to fix what we have for 3.1.0.

[2017-02-27 15:45] SteveIreland commented on #1133
@daN4cat when do you expect to have a "final" for 3.1.0?  I am in a rush for this change and hope to have it 98% done by the end of this coming weekend (it will at least be functional for my client).  If you want to delay a pull request for it until 3.1.0 is published that will be fine.

[2017-02-27 16:18] rminformaticos commented on #1159
i downloaded a fresh master too, and works.

[2017-02-27 17:30] #1159 closed

[2017-02-27 17:33] daN4cat commented on #1133
No rush for a 3.1.0 if you are close to deliver it.
But if you are reworking the whole story it does not make sense for me to work more on fixing the corner cases.

Are you building the new logic on top of the models for sale and reporting I changed yesterday?

Please clarify soon because I save my time working on other topics.

[2017-02-27 17:36] daN4cat commented on #1133
Please also consider the case of tax included that I sense you want to define VAT like it's called in the UK.

[2017-02-27 18:47] SteveIreland commented on #1133
I will submit the pull request rebased on based on whatever you have merged.  I'm holding off rebasing it until you have assimilated the dining table feature.  Good luck with that!

[2017-02-27 18:48] sa1dude23 opened #1172 "New item is not displayed in "Items" tab even after adding and unable to add item to sale"
Hi,

Even after adding the new item the item is not displayed in items list. When i try to make a sale the items which are added can be seen in search bar of sale screen but the item is unable to add to sale. screenshot attached.
![test item present](https://cloud.githubusercontent.com/assets/26069685/23374510/999030a2-fd4a-11e6-9192-048bdb431155.png)

[2017-02-27 18:52] odiea commented on #1172
Have you done the database updates or is this a new install. More info is required from the template to try and help you out.

[2017-02-27 19:02] sa1dude23 commented on #1172
It is new install

On Tue, Feb 28, 2017 at 12:22 AM, odiea <notifications@github.com> wrote:

[2017-02-27 19:03] daN4cat commented on #1172
Make sure all the php extensions are installed.
Read the FAQ and in specific with 3.0.2 don't use MySQL 5.7 nor PHP7

[2017-02-27 19:05] sa1dude23 commented on #1172
When I try to add new item from Sales Screen the item is added, it is also account for sale, but the item is not displayed in items list.
And Sale entry is also not displayed in sales register

[2017-02-27 19:24] meadlin commented on #1163
@odiea On a side note, how did you git the third sales tax? I can't seem to get more than two.

[2017-02-27 19:30] odiea commented on #1163
I had 1 item at 7.4 and the second item at 3.25 and 7.35 so it was 2 items sold.

[2017-02-27 19:32] meadlin commented on #1163
@odiea Ok, I was thinking it was 3 different tax rates on the same item(s).

[2017-02-27 19:33] odiea commented on #1163
No here in Ft fun we just use the combine sales tax .

[2017-02-27 19:37] daN4cat commented on #1172
You are not answering your questions, we cannot help you.

[2017-02-27 19:42] sa1dude23 commented on #1172
All php extensions are installed, except for "php-bcmatch"

On Tue, Feb 28, 2017 at 1:07 AM, FrancescoUK <notifications@github.com>
wrote:

[2017-02-27 19:42] sa1dude23 commented on #1172
But version 2.3.4 is working fine! problem is only with v 3.0.2

On Tue, Feb 28, 2017 at 1:12 AM, sawan a <sawan.aware.1@gmail.com> wrote:

[2017-02-27 19:43] meadlin commented on #1163
@daN4cat Thanks, nice to know. It'll definitely help with accounting/reporting.

[2017-02-27 19:45] odiea commented on #1172
Yes This is a Different updated program.

[2017-02-27 19:49] daN4cat commented on #1163
@meadlin @odiea if you reprint a receipt do you get the same issue or no?

[2017-02-27 19:50] daN4cat commented on #1163
because when in sale register mode the tax calculation is done in Sale_lib.php which is different from the reports or re-print of a receipt.... weird isn't it?

[2017-02-27 19:54] meadlin commented on #1163
@daN4cat Reprint has the same error.

[2017-02-27 19:55] daN4cat commented on #1163
ok, thanks

[2017-02-27 20:01] odiea commented on #1163
Yes the receipt I showed was from a reprint.

[2017-02-27 22:14] daN4cat commented on #1163
So the problem is the total, taxes are correct now.

[2017-02-27 22:18] meadlin commented on #1163
@daN4cat Yea, from what I've seen, the taxes have been correct, just the total was the issue.

[2017-02-27 22:19] odiea commented on #1163
Yes. With a calculator they were showing the correct value. It depends on the rounding I guess.

[2017-02-27 22:20] daN4cat commented on #1163
Yes, trying to figure out were it goes wrong with the total...

[2017-02-27 22:20] daN4cat commented on #1163
And when in detailed sale, having just one line is the issue the same or no? I guess it's the same.

[2017-02-27 22:27] meadlin commented on #1163
The issue, for me at least, is that the taxes to be collected are the sum of the rounded district taxes, while the total appears to have the sum of the district tax rates applied to it.

I.e.:
subtotal + ROUND(subtotal*tax1) + ROUND(subtotal*tax2)
vs
subtotal + ROUND(subtotal* (tax1+tax2))

[2017-02-27 22:28] daN4cat commented on #1163
could be the rounding to 3 decimals instead of 2... because both values are something like 23.375 + 12.325

if they are rounded at display time the look ok, but in the total they'll make -0.01

[2017-02-27 22:31] meadlin commented on #1163
Possibly

[2017-02-27 22:33] daN4cat commented on #1163
That part of the code related to receipt and invoice is convoluted. It uses a different branch and redoes the tax calculations in a different way from what is fetched from the database in the reports/tabular views.

I fixed the latter not the receipt/invoice. Yes the code is really crap in this part...

[2017-02-27 22:34] odiea commented on #1163
Quite a mess you inherited.

[2017-02-27 22:44] meadlin commented on #1163
As is the way of any software project :smile:

[2017-02-27 22:49] jekkos commented on #1163
I told you that this is one of the hardest parts in this application.. A domain driven design might simplify things here..
It's just that once features are added and nothing refactored technical debt will keep increasing. Think we need to think about this one moment or another.

[2017-02-27 22:54] daN4cat commented on #1163
It would probably make sense to fetch the cart line from the same temp table style not straight from the db.

This requires some serious refactoring as now the core part is working fine, it's just those silly methods `get_sale_items_ordered` and `get_sale_items` that fetch the data from the DB and then rely on the Sale_lib to redo exactly the same it's done in the other methods leveraging SQL func

[2017-02-27 23:05] jekkos commented on #1163
Hm ic, I think it has always been that way, I spent quite some time in the past in that part of the receipt code. But it's annoying that there are two ways.

On the other hand I think it's a pity that CI has such poor testing support. If we'd want to refactor this part, I'd prefer to write some tests first so one can go ahead without breaking half of the application

[2017-02-27 23:27] daN4cat commented on #1163
@meadlin @odiea please check the latest master and see if this fix solves the problem.

[2017-02-27 23:29] daN4cat commented on #1163
I rounded the tax in Sale_lib `get_taxes` function as that was giving the output with no rounding so 3 or 4 decimals.
The mistake in your example was with 3 decimals and the last one being 5 on both, so adding up to the 0.01 difference.

[2017-02-27 23:31] daN4cat commented on #1133
@SteveIreland when reworking this taxation story you need to be careful that reports and takings are using the tax calculation leveraging MySQL functions, but sale register, receipt and invoices are using Sale_lib functions and therefore PHP calculations. See #1163 for more, but I fixed a rounding & precision story in Sale_lib `get_taxes()` function.

[2017-02-27 23:32] #1094 closed

[2017-02-27 23:33] daN4cat commented on #1133
The ideal solution would be to use one approach.

[2017-02-27 23:53] odiea commented on #1163
Looks good to me now. Both register and Receipt is adding up correctly.
![2017-02-27 16_50_40-wedidit _ powered by ospos 3 1 0](https://cloud.githubusercontent.com/assets/10962177/23385446/1d3ebd9e-fd0d-11e6-96d2-030598f25c8c.png)

[2017-02-27 23:53] SteveIreland commented on #1133
Yes, I've been closely following your trials and tribulations on the other issue discussions.  I will certainly target one approach.

[2017-02-28 00:35] meadlin commented on #1163
When I test the change with a new sale, the taxes/total come out correct.
![newsale](https://cloud.githubusercontent.com/assets/22114210/23386312/ec8513fa-fd12-11e6-9859-93aa4c00b960.png)

When I pulled up a historical sale, the taxes are now rounded down, but the total is correct for the false rounding.
![historicalsale](https://cloud.githubusercontent.com/assets/22114210/23386319/f3c3198c-fd12-1

[2017-02-28 00:49] araalrai opened #1173 "Configuring SMS"
How do I setup SMS API? which SMS gateway should be used? I have signed up with smsapi.com but it doesn't work with OSPOS. Any help/comments would be appreicated.

[2017-02-28 04:58] daN4cat commented on #1163
Ok, actual is now fine and historical wrong. Do you see the same with the reports? I mean detailed an summary?

[2017-02-28 06:09] meadlin commented on #1163
Detailed
![incorrectdetailed](https://cloud.githubusercontent.com/assets/22114210/23393661/aab27290-fd41-11e6-8381-9629c7ce3215.png)
and summary
![incorrectsummary](https://cloud.githubusercontent.com/assets/22114210/23393670/b768833a-fd41-11e6-8b61-f72d72e59a11.png)

are both incorrect now, oh the joys of multi-sales tax...

[2017-02-28 06:40] daN4cat commented on #1163
Yep, big issue....

[2017-02-28 06:43] daN4cat commented on #1173
You need to implement in Sms_lib.php under libraries the code to use smsapi.com.
We don't provide implementation for all the SMS gateways but happy to accept contributions.

[2017-02-28 06:44] prabakar1978 opened #1174 "How to edit the created Invoice"
### Issue / Question / Bug

Do we have any option to edit the Invoice and Print again as Invoice

### Expected behaviour
Need to edit the Invoice data especially (Product data and Customer data) after that i want to take it as Invoice printout instead of recipt kind of printout

### Actual behaviour
As of now we are not able to edit Invoice especially (Product data and Customer data) and after tha

[2017-02-28 06:51] daN4cat commented on #1163
I wonder what it is now that makes the stored data go wrong.
I guess in fixing the round on the cart line fetch calculation I interfered with a flow in the code related to saving the data.
That can be the only explanation as the totals seens now consistent just the taxation is stored not right.

[2017-02-28 07:04] meadlin commented on #1163
It may be stored correctly, those reports were for the original historic sale. I'm trying to generate a new sale now to test. Anyone know why on occasion after adding a payment, the complete button doesn't appear?

[2017-02-28 07:53] meadlin commented on #1163
Got a new sale to work, takings, summary and detailed are all still incorrect.

[2017-02-28 11:15] RamkrishnaMondal commented on #1163
@meadlin  Can you set tax decimal to 3 and check ?

[2017-02-28 12:25] SteveIreland commented on #1174
In version 3.1, for all intents and purposes an invoice is a completed sale.  The services have  been rendered and all that is pending is payment.  Accountants do not like completed sales or invoices being "changed" without a formal record of such change and those are handled via returns and/or credits - at which point a new invoice will need to be generated that reflects the correction.

In OSPOS

[2017-02-28 16:22] meadlin commented on #1163
@RamkrishnaMondal I cannot test anything using new data at the moment. Sadly I cannot complete a sale, or suspend one for that matter....I don't know how I got it to work last night, but I'm dead in the water so far. Hopefully I can get it working without too much trouble.

[2017-02-28 16:52] meadlin commented on #1163
ok, had to update the DB, to get going again... Weee...anyways, with tax decimal set to 3, detailed/summary reports and takings are still incorrect.

[2017-02-28 17:16] daN4cat commented on #1163
The issue is the 0.01 issue that is outside the rounding interval that would enable the complete button.

[2017-02-28 17:17] daN4cat commented on #1163
Add a payment of 0.005 and you'll see it enabled.

[2017-02-28 20:56] araalrai commented on #1173
Which SMS gateways are currently compatible with the OSPOS?
Thanks

On Feb 27, 2017 10:43 PM, "FrancescoUK" <notifications@github.com> wrote:

[2017-02-28 21:17] daN4cat commented on #1173
None in particular but you can find some examples in the library code abovementioned.
You really need to work on this or get somebody to do for you.

[2017-03-01 10:55] araalrai commented on #1173
Thanks for your reply. I will have a look on the library and see if i can
come up with something.

Another issue i have is "Tax Included" is not calculating properly when you
have two taxes. For example:

Tax 1 @ 5%
Tax 2 @ 7%

Lets say the total price including taxes is $112
The break down should be as follows:
Sub Total: $99.34
Tax1: $5.33
Tax2: $7.33

It should be:
Sub total: $100
Tax1 $5
Tax2

[2017-03-01 11:33] daN4cat commented on #1173
Tax discussion is ongoing in #1163. Please don't mix up topics as we cannot do one issue catches all.
Thanks.

[2017-03-01 11:36] #1173 closed

[2017-03-01 11:54] araalrai commented on #1173
Sure I will posit it there. Thanks

On Mar 1, 2017 3:33 AM, "FrancescoUK" <notifications@github.com> wrote:

[2017-03-01 11:58] araalrai commented on #1163
Another issue is with when the "Tax Included" is enabled. It does not calculating taxes properly when you have two taxes. For example:

Tax 1 @ 5%
Tax 2 @ 7%

Lets say the total price including taxes is $112
The break down should be as follows:
Sub Total: $99.34
Tax1: $5.33
Tax2: $7.33

It should be:
Sub total: $100
Tax1 $5
Tax2 $7

What the program is doing is basically calculating each tax separ

[2017-03-01 12:01] araalrai commented on #1163
Correction to my previous comments:

The breakdown shows as follows:
Sub Total: $99.34
Tax1: $5.33
Tax2: $7.33

It should be:
Sub total: $100
Tax1 $5
Tax2 $7

[2017-03-01 16:59] daN4cat commented on #1163
@araalrai that problem is part-fixed in current master, however there is an additional issue when it comes to lookup an past sale.

[2017-03-01 17:36] araalrai commented on #1163
Could you please let me know which php files are used to calculate sales
taxes. I may have something which i may implement which may fix the tax
related issues.

On Mar 1, 2017 8:59 AM, "FrancescoUK" <notifications@github.com> wrote:

[2017-03-01 18:23] daN4cat commented on #1163
It's convoluted, you really know well the code to understand where.

Most likely your issue is fixed already and touches 3 files. Just check the commit history to understand which ones. I'm on my mobile phone at the moment and far from the code.

[2017-03-01 18:53] SteveIreland commented on #1163
FYI - I'm addressing these calculation issues in the "soon to be available" Customer Sales Tax module.

[2017-03-01 21:42] daN4cat commented on #1163
@SteveIreland if you are reworking this part I don't spend anymore time to investigate and fix bugs.
I'll focus on integrating table pr next days.

[2017-03-02 00:13] SteveIreland commented on #1174
Should I assume that the response wasn't useful?

[2017-03-02 07:47] daN4cat commented on #1174
@SteveIreland many times people ask and then disappear. I usually leave a week and then close the case if no replies.

[2017-03-02 10:27] daN4cat commented on #886
@odiea @jlctmaster his looks completed, correct?

[2017-03-02 11:59] odiea commented on #886
So far it appears to be working ok.

[2017-03-02 12:50] jlctmaster commented on #886
Hi, for that I am thinking of making a module in the menu where you can take the orders and automatically save them as a suspended sale and that is registered which was the innkeeper that attended the client at table X, and that is the innkeeper who confirms the Sale, so that it can be invoiced in cash, this is where you can see in the sales module as a suspended sale for your billing.

[2017-03-02 13:39] SteveIreland commented on #886
For the record, the sales tax changes required a new module too - and I'm using the paper currency icon for it.  I recall that the pencil symbol is available.

[2017-03-02 13:44] SteveIreland commented on #1165
Closing this question ... I got my answer.

[2017-03-02 13:44] #1165 closed

[2017-03-02 13:47] jlctmaster commented on #886
For this module I can design an image that represents the symbol of the restaurant as the one in the attachment.

![dinner-icon](https://cloud.githubusercontent.com/assets/2789271/23509700/11b6a35c-ff2d-11e6-8607-471ee04b05dc.png)

[2017-03-02 14:07] SteveIreland commented on #886
Looks great.

[2017-03-02 14:47] RamkrishnaMondal commented on #1130
@daN4cat

Please review this  https://github.com/jekkos/opensourcepos/wiki/Deployment-of-LEMP-on-Raspberry-Pi-3-Model-B

[2017-03-02 15:15] bill-goldberg opened #1175 "Handling items with same EAN numbers"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2017-03-02 15:17] bill-goldberg commented on #1175
I have 2 items with same EAN numbers but different cost price , unit price, How should i handle this condition?