[2020-12-29 06:25] midsoft2010 commented on #3054
Thanks for that.. It has worked

[2020-12-29 06:25] #3054 closed

[2020-12-29 06:30] midsoft2010 commented on #3055
i thought due was to work as if the customer has not paid? credit sale?. I think is good the requirement of a customer before completing due sale. if this was meant to act as a credit sale.

[2020-12-29 07:41] daN4cat commented on #3055
I fixed what was intended to be but didn't work properly, which is a due payment (credit) requires a customer.

[2020-12-29 09:53] jekkos commented on #3055
How do you do this mixed sale/return? You switch the mode during a sale then?

[2020-12-29 09:54] jekkos commented on #3019
@odiea thanks for the tip, only concern I had is the mimetype, it can be different then png I suppose

[2020-12-29 11:21] jekkos commented on #3019
@odiea The mimetype should now be correctly set in this last commit. I have tested this with a local png upload.
[Invoice1.pdf](https://github.com/opensourcepos/opensourcepos/files/5750486/Invoice1.pdf)

[2020-12-29 12:03] daN4cat commented on #3055
It's an exchange scenario, they return something and buy something else instead. Sometimes they need a refund for the remaining of other times they need to pay more for what they bought.
In switching between modes you can complete without adding any payment.

[2020-12-29 18:06] daN4cat commented on #3055
There is no easy fix for the mixed scenario, it would become awfully complicated to predict scenario and sequences. I decided to leave it as it is.

[2020-12-29 18:06] #3055 closed

[2020-12-29 18:12] daN4cat opened #3057 "Search box in Customers, Items and etc. not working on mobile phones"
Latest js plugins upgrade caused an issue with ospos on mobile phones, you cannot use the search box anymore

This needs to be fixed before we can release 3.3.3.

@jekkos I don't have that much time next couple of days, can you have a look?

[2020-12-29 18:38] allexlima opened #3058 "Cannot install using Docker"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [ ] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-12-29 21:20] jekkos commented on #3058
This setup has become a bit too complex to my taste.. Maybe try to remove the certbot, nginx from docker compose as they are not really needed. It doesn't make much sense if you want to run it locally anyway (requesting ssl certs for localhost won't work anyway).
Also I doubt that anyone would use it like this in production.

@daN4cat maybe we can strip the setup down and kiss (just the php and ma

[2020-12-29 21:37] jekkos commented on #3058
@allexlima maybe also important, do you want to use docker just to give it a spin ? Or do you want to setup a real dev environment?

[2020-12-30 09:00] jekkos commented on #3053
Ok seems to work, dev and demo down, issues created here

https://github.com/opensourcepos/upptime/issues

[2020-12-30 09:01] #3053 closed

[2020-12-30 09:02] jekkos commented on #3057
Ok any clue what might be wrong (error message or sth?)

[2020-12-30 09:03] daN4cat commented on #3057
What happens is that as soon as you press the search box, the keyboard pops up on the phone and disappears immediatly after with the table refreshing.

[2020-12-30 12:56] #3019 closed

[2020-12-30 15:02] odiea commented on #3020
Demo and Dev Servers are down apparently with no warning messages sent.

[2020-12-30 15:20] daN4cat commented on #3058
It looks like .env variables were not read properly.

[2020-12-30 16:05] odiea opened #3059 "Enhancement: Customer discount remains in Register Sale after the Customer is removed."
OSPOS Installation Info: 3.3.3 - dev
Language Code: en-US

Extensions & Modules:
» GD: Enabled ✓
» BC Math: Enabled ✓
» INTL: Enabled ✓
» OpenSSL: Enabled ✓
» MBString: Enabled ✓
» Curl: Enabled ✓

User Configuration:
.Browser: Chrome
.Server Software: Apache/2.4.46 (Win64) PHP/7.2.4
.PHP Version: 7.2.4
.DB Version: 5.7.21
.Server Port: 80
.OS: Windows NT 10.0

File Permissions:
» [application/log

[2020-12-30 18:24] daN4cat commented on #3059
This is tricky to address, what if they touched some discount items to increase it? What do you do in that case?
Maybe there should be a reset discount button to help with this but not implement something automatically unless we keep track of all the employee interactions to understand what they mean with something in a given point.... not in this lifetime :-)

[2020-12-30 18:35] allexlima commented on #3058
@jekkos, I'd like just to give it a spin on my machine before installing it on a production server :)

@daN4cat, I tried to `$ echo $...` some variables inside the .env file (in my case `env_ospos` file) and it seems been loaded. I used the `export $(echo $(cat ../env_ospos | sed 's/#.*//g'| xargs) | envsubst)` to do that.. I don't know if it is the most indicated :/

I also noticed that in the 3.

[2020-12-30 20:23] jekkos commented on #3020
I did get some warnings and indeed the servers are [down](https://status.opensourcepos.org/).
Issues are automatically created in this [repo](https://github.com/opensourcepos/upptime/issues)

actually I was looking into this this morning but gave up after a while.

[2020-12-30 21:09] jekkos commented on #3058
@allexlima In 3.3.2 indeed the docker folder was missing in the zip file. This is fixed now in latest master. Soon we'll have a stable release in this case.

In this case it seems that nginx is looking for a file that does not exist
`nginx         | nginx: [emerg] open() "/etc/letsencrypt/options-ssl-nginx.conf" failed (2: No such file or directory) in /etc/nginx/nginx.conf:34`

[2020-12-30 21:09] #1610 closed

[2020-12-30 21:09] daN4cat commented on #1610
I close this because I don't think we need anything more than what already implemented.

[2020-12-30 21:11] daN4cat commented on #1498
This is fine now. I close.

[2020-12-30 21:11] #1498 closed

[2020-12-30 21:11] jekkos commented on #3058
@daN4cat I think this might be related to [this change](https://github.com/opensourcepos/opensourcepos/commit/24687756c1f3b72712f5a245423e5303aaf6c5a9#diff-bf56c99ae39770030a6a5e0f737d24ef5e45d6e7e577aa6574d4b3ca4db1456a). Maybe they moved something in their repository. I guess it might be better to stick to a specific version of the let's encrypt image instead of getting files from the github rep

[2020-12-30 21:12] jekkos commented on #3020
Back up again.

[2020-12-30 21:15] jekkos commented on #3057
Ok I have pushed something to dev server, let's check if the issues persists. Basically removed the resize trigger. I think it can of goes into a loop, keyboard pops up, resize is triggered that triggers the refresh, which in turn hides the keyboard again.

[2020-12-31 01:55] 272789920 opened #3061 "codigo de facturacion fiscal falta con estandar UBL 2.0 o + con codigo QR y Certificado electronico"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-12-31 04:27] andriux1990 commented on #2670
@daN4cat I was able to make it now show the amount to pay after having added a payment, using ajax

https://user-images.githubusercontent.com/29256343/103394360-b176f580-4aed-11eb-9037-07f9f468910a.mp4

but it affects me when adding a client, I will solve this and share the file with you

[2020-12-31 04:36] andriux1990 opened #3062 "Canceled sales are not restored"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-12-31 06:39] daN4cat commented on #3057
Ok, I'll test it later. Thanks

[2020-12-31 06:40] #3061 closed

[2020-12-31 06:40] daN4cat commented on #3061
No description

[2020-12-31 09:33] daN4cat opened #3063 "travic-ci.org shutting down"
Just read this message:

[code]

[2020-12-31 10:53] daN4cat commented on #3057
This is fixed, closing it.

[2020-12-31 10:53] #3057 closed

[2020-12-31 10:54] daN4cat opened #3064 "Release 3.3.3"
Give one day or two and we can release 3.3.3 in 2021.

[2020-12-31 10:55] daN4cat commented on #3064
I'll have a look later if there is anything to update of the usual release notes.

[2020-12-31 11:22] shifasiddeqque commented on #3050
@daN4cat @jekkos @bricas @awriel
Please help, Now getting
Error Number: 1062

Duplicate entry '311778-0-6% cgst-24.0000' for key 'PRIMARY'

INSERT INTO `ospos_sales_taxes` (`sale_id`, `tax_type`, `tax_group`, `sale_tax_basis`, `sale_tax_amount`, `print_sequence`, `name`, `tax_rate`, `sales_tax_code`, `rounding_code`) VALUES ('311778', '0', '6% cgst', '24.00000', 1.36, 2, 'cgst', '6.000', '', 1)

F

[2020-12-31 12:00] daN4cat commented on #2973
This was probably due to #3044 and #3045

[2020-12-31 12:28] daN4cat commented on #3064
Updated docs, deleted old branches with code committed to master.

[2020-12-31 12:52] daN4cat commented on #3050
If it's a duplicted entry, how are we suppoed to help? You need to resolve that issue on your side I'm afraid.

[2020-12-31 13:47] john-bonello opened #3065 "Question regarding taxes and multi-currency sales"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-12-31 18:04] daN4cat commented on #3065
2. Edit a sale and click on the date field in the form, you can change the date.
However, be careful with the sequence numbering because certain countries fiscal regulations might not be happy  with certain fiddling. It's at your own risk.

[2020-12-31 18:05] daN4cat commented on #3065
4. You need to enable the different tax rates per location, @steveireland introduced it. Don't use VAT only anymore but setup the tax rates in configuration.

[2020-12-31 18:06] daN4cat commented on #3065
6. There was a suggested change to support multi currency but didn't get merge neither in 3.3.3.
Not sure what's the status of that, can't remember.

[2020-12-31 18:10] daN4cat commented on #3065
It looks like you have wholesaler requirements, not sure they are all supported because it's more retail system. Given UK is leaving tonight EU, I don't think I will ever need to deal with such cases if I were required to. Maybe @jekkos will?

[2020-12-31 18:42] john-bonello commented on #3065
As it turns out these are the legal requirements I have to abide by, even to run a small retail business. In the UK and in Malta (where I'm based), sales receipts are accepted for VAT refund purposes and there would be no issue if my customers were based locally or in the UK; however this is not the case in a lot of CEE countries where I sell. If a customer requests an invoice, I'm obliged to prov

[2020-12-31 18:44] daN4cat commented on #3065
@john-bonello there is already a checkbox in customers to indicate if it's taxable or not. Have you scrolled down the Customer form? You can even assign Tax Id created with Tax view.
I never looked into this in detail but my feeling is that you can probably achieve what you need.

[2020-12-31 18:45] daN4cat commented on #3065
3. Use Customer, in Customer form unselect the Taxable.

[2020-12-31 18:48] john-bonello commented on #3065
How does it work exactly? Any instructions? Because I can't figure it out to be honest. I can't understand how to assign a client to a tax jurisdiction -- or maybe I'm doing it wrong?

[2020-12-31 18:51] john-bonello commented on #3065
That works :) Thank you

[2020-12-31 19:10] daN4cat commented on #3065
BTW, the wiki can help you: https://github.com/opensourcepos/opensourcepos/wiki/Taxes

[2020-12-31 19:32] #3017 closed

[2020-12-31 19:58] #3065 closed

[2020-12-31 20:04] daN4cat commented on #3064
Right, there is an extra bug to fix: #3062

[2020-12-31 20:08] daN4cat commented on #3062
@andriux1990, the sale is put in suspended mode. Please check the suspended list.

[2020-12-31 20:34] daN4cat commented on #3058
@allexlima it would be better to try with 3.3.3 and see if you still get the same issue.

[2020-12-31 22:34] Abdulee opened #3066 "Getting the following page after installing: "A Database Error Occurred""
### Background information

- [] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.com/opensourcepos/opensourcepos/issues?utf8=%E2%9C%93&q=is%3Aissue) and no similar issue was already reported (please make sure you searched!)
- [x] Read [README](https://github.com/opensourcepos/opensourcepos/blob/master/README.md), [WHATS_NEW](https://gith

[2021-01-01 07:02] andriux1990 commented on #3062
@daN4cat It is true. thank you ... I restored the sales canceled and they are in suspended

[2021-01-01 07:55] #3062 closed

[2021-01-01 11:56] Abdulee commented on #3066
I have fixed this error by importing the /database/database.sql into the database i created for OSPOS but now it seems like am running into a whole different error so I will mark this closed

[2021-01-01 11:56] #3066 closed

[2021-01-01 12:01] daN4cat commented on #3064
Code tagged and release is out.

Any news fix go to 3.3.4.

Happy New Year!

[2021-01-01 12:01] #3064 closed

[2021-01-01 12:04] daN4cat commented on #3064
BTW, Release 3.3.3 was commit number 5000 (exactly that).

[2021-01-01 12:08] Abdulee opened #3067 "Getting this error after installing: "An uncaught Exception was encountered""
### Background information

- [] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.com/opensourcepos/opensourcepos/issues?utf8=%E2%9C%93&q=is%3Aissue) and no similar issue was already reported (please make sure you searched!)
- [x] Read [README](https://github.com/opensourcepos/opensourcepos/blob/master/README.md), [WHATS_NEW](https://gith

[2021-01-01 12:28] Abdulee commented on #3067
I fixed the error after recompiling php7.3 with bcmath option apparently it wasn't enabled but now I have the login error

[2021-01-01 12:28] #3067 closed

[2021-01-01 13:58] jekkos commented on #3064
Great i also saw we were close to commit 5000. Cool to see this coincide with the new year!

[2021-01-01 14:42] #2936 closed

[2021-01-01 15:13] daN4cat commented on #2744
Now part of #3029.

[2021-01-01 23:11] objecttothis commented on #2744
Yep.  Once we get done with bugfix builds for 3.3.x it should be next in line to get merged into the master.

[2021-01-02 06:13] andriux1990 commented on #2452
It would be great if we could have the option to enable or disable xss_clean from the ospos interface, as this problem has not been fixed yet

[2021-01-02 10:28] jekkos commented on #2452
At least now the session id is set to http only which means that even if xss is injected, session hijack won't work.. so impact of this issue is limited now

[2021-01-02 11:26] jekkos commented on #2452
From what I read, indeed xss_clean

You can disable the xss_clean by setting the ospos_xss_clean global flag. Doesn't this work for you?
 I'm wondering how disabling XSS might impact image upload?

[2021-01-02 11:34] odiea commented on #2452
I just tried that and I am not able to add an image to an Item now.

[2021-01-02 11:36] jekkos commented on #2452
The solution would be to get rid of `xss_clean` completely as it introduces a number of problems that are impossible to fix. Usage of this function has been deprecated in CI and won't be available in CI4.

Instead we should [validate input and escape the outputs](https://kevinsmith.io/sanitize-your-inputs). Beside this I think we should also introduce addtional hardening by adding a content securi

[2021-01-02 11:38] jekkos commented on #2452
[code]

[2021-01-02 11:40] jekkos commented on #2452
Ok what error do you get? something javascript related then?

[2021-01-02 11:47] odiea commented on #2452
ERROR - 2021-01-02 11:42:59 --> 404 Page Not Found: Uploads/item_pics

[2021-01-02 13:13] WebShells commented on #3006
@jekkos this happened after reaching a limit of 100 items in receivings ( 3 to 5 mins )

[2021-01-02 17:14] jekkos commented on #2452
Ok weird.. I tried locally and image upload works both with

* `$config['ospos_xss_clean'] = FALSE;`
* `$config['ospos_xss_clean'] = TRUE;`

[2021-01-02 18:51] daN4cat commented on #2452
We sanitise the input independetly from output. The output is xss sanitise in the controller before invoking the view.
If we had a thick front end and REST APIs on top of our controllers we should sanitise on the thick front end.
At the moment all xss_clean are internal and at the root of controller it invokes CI function. If we want to get rid of CI xss_clean we just need to replace that function

[2021-01-02 19:17] andriux1990 commented on #2787
I'm not on the ospos license for 2021. 😔

[2021-01-02 19:56] WebShells commented on #2787
Not eveeen a week passed 😅
Ill edit and re-arrange the view descending from 2021.

[2021-01-02 21:07] daN4cat commented on #3051
I was still on PHP 7.2 and upgrade to PHP 7.4 and my installation is faster now. I can't imagine how faster it would get once @objecttothis improvements are merged in.

[2021-01-02 21:40] jekkos commented on #3006
@WebShells You are probably bumping into the 64 Kb limit of the blob session data column. It's already quite a lot and way more than the initial 4kb cookie limit.
We could increase the column size to MEDIUMBLOB (16MB) which should be enough for most usecases. But this might come with a performance hit.

[2021-01-02 21:40] jekkos commented on #3006
@ozzylamberth can you try the migration in my pull request, to see if this works and if performance is acceptable?

[2021-01-03 17:51] objecttothis commented on #3051
I looked at CI4 and according to them it will me a large rewrite of the code base.

[2021-01-03 19:04] daN4cat commented on #3051
Indeed, I wouldn't consider migrating to CI4 without having reconsidered the whole story here.
Maybe we should start writing down a vision about an OSPOS 4, what would be an ideal target here for a newer and better version?

[2021-01-03 19:51] jekkos commented on #3051
I think that it would be a complete rewrite indeed, probably we could keep the database model to make it backwards compatible (or just evolve that further).

[2021-01-05 06:31] andriux1990 commented on #2452
really.. with me this does not happen

[2021-01-05 06:34] andriux1990 commented on #2877
@objecttothis Any comments on this ... there are attributes that should be seen in the record ... but they do not need to be shown on the receipt, as they may contain internal information of the items

[2021-01-05 09:40] objecttothis commented on #2877
@jekkos on second thought, possibly a better solution, but maybe more work than it's worth, would be to convert the current definition_flag column in the attribute_definitions table to a binary flag or octets with the first octet keeping its current functionality, second being the receipt flag and third octet the flag indicating whether the attribute should appear on quotes.

We also need to think

[2021-01-05 19:48] #3059 closed

[2021-01-05 21:18] jekkos commented on #2452
@andriux1990 we should fix this properly so you have both xss and a proper rendering of special character combinations.

[2021-01-05 21:20] jekkos commented on #2452
@andriux1990 maybe you can try to tackle this one? Just remove the xss_clean on the inputs. Then you can probably also get rid of the xss_clean on the table outputs as well and enable the escape in bootstrap tables itself. Should be straightforward to do (as @daN4cat also stated)

[2021-01-06 04:06] ozzylamberth opened #3070 "ERROR 404"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-01-06 05:44] shifasiddeqque commented on #3050
But as per my knowledge, this table doesn't exist in my current
database(ospos version 3.0.2) which i am trying to upgrade...
i don't know How this table gets it's records....

Please help in this regard as i am not able to move forward

Thanks & Regards
Shifa

On Thu, Dec 31, 2020 at 6:22 PM FrancescoUK <notifications@github.com>
wrote:

[2021-01-06 05:46] shifasiddeqque commented on #3050
@jekkos @daN4cat @bricas @awriel
please have a look into this, this is super urgent

[2021-01-06 11:09] daN4cat commented on #3050
@steveireland any hint to help here?

[2021-01-06 20:09] jekkos commented on #3050
@shifasiddeqque I'd say try to restore your backup and restart the upgrade from there? Do keep an eye on the logging in any case.

[2021-01-07 15:30] shifasiddeqque commented on #3050
I have compared code with the latest version of Ospos ( had done some customization so need to retain that),
I have deleted all my sales table enteries and it worked But for production i can't delete enteries

For Db Upgradation, am I missing anything??
How do i insert Necessary tables and table columns as per new Version??

DO I NEED TO RUN SCRIPTS LOCATED IN \application\migrations\sqlscripts

p

[2021-01-07 16:13] midsoft2010 opened #3071 "How disable employees from seeing profit in the reports"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2021-01-07 16:15] midsoft2010 commented on #3071
And also how to change the wholesale price to buying price or cost

[2021-01-07 16:54] midsoft2010 commented on #2989
I think it would be very nice if someone can develop this because many people like to work with at least to prices. This means retail price is the normal price and wholesale price is lowest price of the products for people buying in bulk for example

[2021-01-07 17:00] midsoft2010 commented on #2976
Like i have a problem with employees seeing my profits and at the same time i want them to know the total sales of the day and items sold in a day.. i don't like the idea they are able to filter by the date and view my profits of the month or of the year

[2021-01-07 17:17] midsoft2010 opened #3072 "Customer Accounts"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-01-07 19:35] daN4cat commented on #3071
Have you searched past issues?  You ticked the box but I'm not sure you did.

[2021-01-08 01:14] midsoft2010 commented on #3071
I have searched but its like i  can't see How it was solved?

[2021-01-08 16:52] daN4cat commented on #3071
#2493

[2021-01-08 16:53] daN4cat commented on #3071
#1998

[2021-01-08 16:54] daN4cat commented on #3071
#986

[2021-01-08 16:57] #3071 closed

[2021-01-08 20:00] jekkos commented on #2877
Yes definitely I think it would be good to just add those options in the definition flag, to make attributes visible on receipt or invoice. Every flag can have it's own bit and then they can be OR'ed together.

I'd say for extending attributes further, maybe we should use the existing table, as that will be easy as we can reuse the existing config screen. Then we might need a new link to people ta

[2021-01-09 01:57] #3028 closed

[2021-01-09 01:57] #3035 closed

[2021-01-09 05:51] darkjedeye commented on #222
I am having a similar problem, no error, just when i try add a new item, the windo comes up rather small, with no editable items, wether i use ip or url, i will add a screenshot and specs as soon as i am home, but to be clear it is exact same setup as my vm on my desktop, Ubuntu 16.04 latest php and apache2 updates, the only difference is: my vps one(external) is running on port 82 and that is abo

[2021-01-09 09:23] daN4cat commented on #222
Latest PHP means? If it's 8.0 it's not supported.
7.4 is supported by vs 3.3.3 released on 1st Jan.

[2021-01-09 11:14] darkjedeye commented on #222
PHP info:
PHP 7.4.13 (cli) (built: Nov 28 2020 06:24:27) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with Zend OPcache v7.4.13, Copyright (c), by Zend Technologies

server details:
OS: Ubuntu 16.04.7 LTS x86_64
 Host: KVM RHEL 7.6.0 PC (i440FX + PIIX, 1996)
 Kernel: 4.4.0-197-generic
 Shell: bash 4.3.48
 CPU: Intel Xeon Silver 4214 (1) @ 2.199GHz
 Me

[2021-01-09 13:46] odiea commented on #222
disable full_group_by in mysql maybe?

[2021-01-09 13:47] daN4cat commented on #222
You have an old version of ospos that doesn't support PHP 7.4. As said only 3.3.3 added support to PHP 7.4.

[2021-01-09 15:51] darkjedeye commented on #222
Yep, that was it.

On Sat, 09 Jan 2021, 15:46 odiea, <notifications@github.com> wrote:

[2021-01-09 17:17] daN4cat commented on #3070
Your URL: https://MiDominio.com/PruebaOSPOS/

Try

[code]

[2021-01-10 13:06] mckaygerhard commented on #2679
stop threatening and bullying and work like I do... I'm not interested in fame... the work is being , to much bla bla bla.. i will not resist you banned every people that want a work comes to me .. so if you banned all the pull are made by spanish people.. so banned me men! in fact all the things are comming thks to me!

[2021-01-10 13:09] vegnuli commented on #2679
good works @mckaygerhard  i remenber 2 releases with bugs reported by you

[2021-01-10 13:25] mckaygerhard commented on #2679
@WebShells  i used "to_credit" to do not make invasive the code, the right made is to use the current "due" payment..  using "tocredit" is to let the less understood know where to change the code, and thus have less notice of what to change in the reports

[2021-01-10 13:28] mckaygerhard commented on #2679
@WebShells  i used "to_credit" to do not make invasive the code, the right made is to use the current "due" payment..  using "tocredit" is to let the less understood know where to change the code, and thus have less notice of what to change in the reports  .. the complete work are in gitlab @izeblood  with many fixed and features bad or incomplete here

[2021-01-10 13:33] mckaygerhard commented on #3041
this #3041 needs attention: stale bot will close and is a confirmed bug

[2021-01-10 13:41] mckaygerhard commented on #2452
@jekkos  this problem are happened in any other non latin encoding of locales.. using lighttpd server and http url feature from 1.4.54 works for me.. in h2o webserver work cos let url as is.. **but cos codeigniter does have own routing checks..  so the problem is the url output.. so we should validate input and escape the outputs**, this is easy by my pull request that begin but lost interest.. i

[2021-01-10 13:46] mckaygerhard commented on #3061
@272789920  that i a featured only applied to latin american countries.. so is a ad-hoc work..  if you dessire try to find php developers.. i was done some of this in the past is no so hard if you work all locahost and use a delegate behaviour

[2021-01-10 14:51] objecttothis commented on #2679
You don't seem to understand the problem.  The problem is not your work.  It's your attitude.  You frequently criticize the software and other developers who are also working on a voluntary basis and it isn't needed.

[2021-01-10 15:59] daN4cat commented on #2679
People should contribute fixes instead of staying on the sideline commenting all the time.
We keep going on and on and on.... enough.

[2021-01-10 18:19] SteveIreland commented on #3041
Pull request #3026 includes the fix for this.

[2021-01-10 22:29] odiea opened #3074 "public function summary_expenses_categories should be summary_expenses"
OSPOS Installation Info: 3.3.3 - 4101ff
Language Code: en-US

Extensions & Modules:
» GD: Enabled ✓
» BC Math: Enabled ✓
» INTL: Enabled ✓
» OpenSSL: Enabled ✓
» MBString: Enabled ✓
» Curl: Enabled ✓

User Configuration:
.Browser: Chrome
.Server Software: Apache/2.4.46 (Win64) PHP/7.4.13
.PHP Version: 7.4.13
.DB Version: 5.7.21
.Server Port: 80
.OS: Windows NT 10.0

File Permissions:
» [applicatio

[2021-01-10 23:39] odiea commented on #3074
Something changed somewhere. Neither the Demo or Dev server shows this issue. In the address it was showing summary expenses where the demo shows summary expenses categories.

[2021-01-11 16:56] odiea commented on #3041
@SteveIreland thanks. I downloaded this commit and the issue is no longer there. Good work.

[2021-01-11 18:20] engehab87 commented on #2679
could you please share the code used, i really need to have this feature implemented.

[2021-01-12 06:24] objecttothis commented on #3050
There is a chance that your code customizations are not playing nice with the 3.3.1 version.  This can happen for example if the table is being generated with data that isn't what it was expecting, such as duplicates, when there wouldn't normally be duplicates so it can't create the row.  If the upgrade works on a stock setup, you'll need to likely first figure out from your error what data is dup

[2021-01-12 11:05] shifasiddeqque opened #3075 "Cannot Find Complete option in case of Quote and invoice"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-01-12 12:11] odiea commented on #3075
Select Customer Required

[2021-01-13 07:11] #3075 closed

[2021-01-14 06:11] objecttothis opened #3076 "Case Sensitive Collation for Attributes Tables"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2021-01-14 06:28] objecttothis commented on #3076
Here is an article discussing the different collations, encodings, etc: https://jibai31.wordpress.com/2017/05/04/how-to-choose-your-mysql-encoding-and-collation/

Update: I do see that in the 3.1.1 migration we are setting all the tables as utf8_general_ci.  So the question now becomes, do we need to set some columns on some tables to case senstitive.  It seems that utf8_bin is the most likely can

[2021-01-14 07:17] rruanosporttia commented on #3058
To install it with docker I had to change the name of the error.log file to error_log.log because that is how it maps into the docker-compose. But now when I make any POST request I get 403 Forbidden, do you know what can happen?

[2021-01-14 07:20] ruanete commented on #3058
To install it with docker I had to change the name of the error.log file to error_log.log because that is how it maps into the docker-compose. But now when I make any POST request I get 403 Forbidden, do you know what can happen? v3.3.3 version.

[2021-01-14 13:15] vegnuli commented on #2679
@engehab87  i guess the code will not be shared.. cos was blocked and well is their code and i have it.. and are a huge changed that depends on the first work, if you dont trus me.. ask to @andriux1990

[2021-01-15 06:36] daN4cat commented on #3058
Have you tried to read the logs in Nginx container?

[2021-01-15 07:04] ruanete commented on #3058
@daN4cat  Yes but i could not found something that help me found the problem. In the OSPOS demo you cannot perform POST operations, it always returns 403.
This is a nginx log:

`[14/Jan/2021:19:12:11 +0000] "POST /config/save_info/ HTTP/1.1" 403 1131 "DOMAIN/config" "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36"`

[2021-01-15 08:47] daN4cat commented on #3058
And what about the logs from ospos container when you get that call?

[2021-01-15 08:51] ruanete commented on #3058
Both containers return the same logs. Have you seen that the same thing happens in the demo of your repository?

ospos container:
`[15/Jan/2021:07:59:56 +0000] "POST /sales/add HTTP/1.0" 403 1476 "https://(DOMAIN)/sales" "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36"`

nginx container:
`[15/Jan/2021:07:59:56 +0000] "POST /sales/add HTTP/

[2021-01-16 16:55] daN4cat commented on #3046
The removal of payments if a new item is added or changed is in version 3.3.3.

[2021-01-16 16:56] #3046 closed

[2021-01-16 17:44] rruanosporttia commented on #3058
The problem is with the token because when I change config.php to false works correctly.

`$ config ['csrf_protection'] = FALSE;`

[2021-01-16 18:59] daN4cat commented on #3058
@jekkos is this due to the latest change in 3.3.3?

[2021-01-16 20:13] mrbozkaya opened #3077 "Disallow sale negative stock"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-01-17 10:29] jekkos commented on #3058
I just tried on demo to do a sale add, and works fine..  But it could be related indeed.

[2021-01-17 10:33] jekkos commented on #3058
@rruanosporttia it should work if you try the dev docker-compose . I think the issue now is that if you use regular docker compose, it tries to setup SSL while you might not neccesarily have a domain name configured (not sure how that works).

[2021-01-17 11:02] jekkos commented on #3058
@rruanosporttia can you try

[code]

see if that works?

[2021-01-17 15:40] ruanete commented on #3058
@jekkos That does not work, I have tried to download the source code from releases, I have executed all the commands and when I access localhost it returns ERROR 500. I will use OSPOS in production using a web domain in case it serves as data. What is the URL of the demo you used to test OSPOS?

[2021-01-17 21:45] jekkos commented on #3058
demo.opensourcepos.org

[2021-01-17 21:47] jekkos commented on #3058
I really have no clue why that would happen. It seems demo / dev is being used by other people and they seem to be able to add data (using POST requests). I see a whole list of randomly added items in there. I think it must be something on your end.

[2021-01-17 21:49] jekkos commented on #3058
maybe your browser is blocking some javascript execution, in this case a token is read from a cookie and added to the request. Do you have any security features enabled in your browser? ad blockers? xss protection plugins?

[2021-01-17 21:52] jekkos commented on #3058
Ok I see, it does not work in chrome. I have only used FF for now. So you are probably using chrome?

[2021-01-17 21:56] jekkos commented on #3058
if you remove this file: `application/core/MY_Security.php` it should be fine

[2021-01-17 22:05] jekkos commented on #3058
The issue seems to be that secure flag is not being set on HTTPS and this causes the chrome browser to ignore the cookie as it carries a samesite flag.. (which according to chrome is only valid if the secure flag is also set)

I added the following to config.php to enable this.. but maybe this is not the good way to detect for TLS presence.

[code]

[2021-01-17 22:05] jekkos commented on #3058
but even then, it should not be an issue on a setup that does not use SSL.

[2021-01-17 22:19] ruanete commented on #3058
In firefox everything works correctly, that is, to lift the containers with docker / install-server.sh you have to previously change docker / data / nginx / error.log to error_log.log or change the file in the docker-compose.

[2021-01-17 22:26] ruanete commented on #3058
I have downloaded the latest version again and it came by default:
`$ config ['cookie_secure'] = isset ($ _ SERVER ['HTTPS']) && $ _SERVER ['HTTPS'] == 'on';
`
Now everything works in Chrome.

[2021-01-18 06:55] daN4cat commented on #3058
When asked you said you used the latest version but now it sounds you didn't. Better to re check things next time instead, what do you think?

[2021-01-18 06:56] #3058 closed

[2021-01-18 07:00] ruanete commented on #3058
@daN4cat I've always downloaded the latest version from here:
https://github.com/opensourcepos/opensourcepos/releases/tag/3.3.3

I have not given you wrong information at any time, I have always used the latest version downloaded from that link, are you the one who misunderstood me?

[2021-01-18 08:01] royunderwood opened #3078 "Unable to Import Items Successfully"
**# Installation information**

- OSPOS version is:  **3.3.2 - bb309c.**
- OSPOS git commit hash is:  **not sure how to find this I D/l Zip File per instructions via wget**
- PHP version is:  **7.3.24 / zend v3.3.24**
- MySQL or MariaDB version is:  **MariaDB Server version: 10.3.27**
- OS and version is:  **Fedora Server 5.6.15-200.fc31.x86_64**
- WebServer is: apache **2.4.46**
- Selected langua

[2021-01-18 16:19] printgeek opened #3079 "Detailed Suppliers report not displaying all items"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [X] Reporting an issue of an unmodified OSPOS installation
- [X] Checked [open and closed issues](https://github.co

[2021-01-18 16:27] ruanete commented on #3078
I have the same problem, but I don't know if it could be because the CSV does not have the mandatory values of Quantity Received and Minimum Quantity.

[2021-01-18 16:56] printgeek commented on #3079
I fixed this in pull request #3080

[2021-01-18 17:46] daN4cat commented on #3079
Good catch, thanks.

[2021-01-18 17:51] daN4cat commented on #3058
Therefore I don't understand your previous comment because you gave the impression that you downloaded the latest, it came with the default and it works fine with Chrome.
However, it's not.

[2021-01-18 18:00] printgeek opened #3081 "Random issue with register creating cash refund"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [X] Reporting an issue of an unmodified OSPOS installation
- [X] Checked [open and closed issues](https://github.co

[2021-01-18 18:29] ruanete commented on #3058
In my last message I have made it clear to him, I have told him that it was a confusion of mine when trying what you told me, downloading the version from where I told you it still does not work in Google Chrome. I have edited the comment to see if this is clearer to you, sorry for the inconvenience.

[2021-01-18 18:30] odiea commented on #3081
Have you tried cancelling the Sale before you reenter the items?

[2021-01-18 21:53] jekkos commented on #3058
I confirm there is an issue there. Chrome expects the secure flag to be set, but this https detection does not seem to work (as the cookie doesn't carry the flag in the browser).

[2021-01-18 21:55] jekkos opened #3082 "Cookie secure flag should be automatically configured"
### Installation information

- OSPOS version is: 3.3.3
- OSPOS git commit hash is:
- PHP version is:
- MySQL or MariaDB version is:
- OS and version is:
- WebServer is:
- Selected language is:
- (If applicable) Docker installation:
- (If applicable) Installation package for the LAMP/LEMP stack is:

### Issue / Bug  / Question / New Feature

On current demo the secure flag is not set properly, whi

[2021-01-18 21:57] jekkos commented on #3058
I have created #3082 as followup ticket.

[2021-01-18 21:59] jekkos commented on #3081
@printgeek does this occur when you add a lot of items to the register? Something was fixed recently that you might want to tryout. #3068

[2021-01-18 22:01] jekkos commented on #3081
Otherwise you need to assist in reproducing this as the description is too vague.

[2021-01-18 22:03] jekkos commented on #3078
@royunderwood many improvements are underway for the item import in #2744 . This will hopefully be merged soon after we merge some fixes for the cash rounding.

Feel free to tryout the changes @objecttothis has made, as it could speedup the integration in main master.

[2021-01-18 22:03] rruanosporttia commented on #3058
Thank you and forgive @daN4cat if we have not understood each other.

[2021-01-18 22:07] ruanete commented on #3058
Thank you and forgive @daN4cat if we have not understood each other well.

[2021-01-19 16:12] daN4cat commented on #3058
No worries

[2021-01-19 16:14] daN4cat commented on #3082
There is an env variable to force the https with reverse proxy scenarios. Is that considered in the new part of the code?

[2021-01-19 16:17] daN4cat commented on #3058
Docker contains already a FORCE https env var, that should be used here in the csrf configuration probably.
Check the docker compose file and see the var name set to TRUE.

I'm far from the code at the moment and going by memory.

[2021-01-19 20:23] jekkos commented on #3082
I can use that but I wonder if it is also set in case you use it outside of docker (with a reverse proxy upfront)? I guess the only way to know is to try it

[2021-01-19 20:30] printgeek commented on #3081
Yes, that works. If the employee scans that first item, sees the payment amount pop up mysteriously, and realizes what happened, they can cancel the sale and restart from scratch with no issues. We've tried to train them to recognize it, and they've gotten pretty good at it, but I would definitely like to find the cause. It's also not too difficult to query for and fix it in the database after the

[2021-01-19 20:30] daN4cat commented on #3082
That env var is already used in the config file if my memory is right.

[2021-01-19 20:36] jekkos commented on #3082
Ok I made a small PR for this one. Let's see if it works once deployed on dev.

[2021-01-19 20:47] printgeek commented on #3081
@jekkos No, in fact the example above was a single item, but I'll look at that patch for some clues, thanks.

I certainly will, I have been trying to trace what changes I may have made to the configuration in November and troubleshooting there first. Tracking down an intermittent problem is never fun, so I thought I'd reach out to the community and see if anyone had seen this or had recommendation

[2021-01-19 22:39] jekkos commented on #3063
The build seems to fail occasionally with the following error

[code]

[2021-01-19 23:04] jekkos commented on #3074
@odiea was this fixed in the end? Or it this a reverse proxy issue (rewrite rule adding url encoding)?

[2021-01-19 23:14] odiea commented on #3074
I do not know. I heard no response from anyone else so I closed it.

[2021-01-20 05:42] daN4cat commented on #3074
Better to verify this before closing.

[2021-01-20 05:44] daN4cat commented on #3063
Not sure what's that fflate about...

[2021-01-20 05:46] daN4cat commented on #3063
However this issue is about moving out of Travis because the .org is closing down. No free meal anymore. Worth checking GitHub CI support.

[2021-01-20 05:47] daN4cat commented on #3082
BTW, I don't seem to find any PR. Just a commit to a dev branch.

[2021-01-20 08:21] jekkos commented on #3063
I think it's a transient dependency or something. I checked their repository and indeed that version is not tagged or downloadable.?

It's a [dependency in jsPDF bower.json](https://github.com/MrRio/jsPDF/blob/master/bower.json)

[2021-01-20 19:34] jekkos commented on #3082
Ok seems to be fixed now on dev. The build is fixed as well, I pinged those jsPdf guys and they tagged their release. So should be good now.

I tested with chrome and am able to post, checked that secure flag is enabled and it's fine.

[2021-01-20 19:34] #3082 closed

[2021-01-20 19:44] binahmad0419 commented on #2071
I can't find database.sql help me please

[2021-01-20 21:27] jekkos commented on #3063
Also now master build is failing because of this
```docker: toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.docker.com/increase-rate-limit.```

So no more free lunch

[2021-01-20 22:29] daN4cat commented on #3063
Gets complicated. I guess docker images should be cached in a container registry to reduce the risk of throttling.

[2021-01-21 13:34] odiea commented on #3074
So where does the Report name get called  from? Report. controller or some place else. I don't see it in the helper. I just want to figure out what is going on

[2021-01-21 23:08] jekkos commented on #3076
I think that we probably want to have ci_collation for most of the queries. If you search a table then most of the time you don't care whether it's uppercase or not.

I think there is also the option to set case sensitivity when running a query so we could consider to use just that if we want to match in a case sensitive way?

[2021-01-22 04:32] objecttothis commented on #3076
@jekkos for searches, I completely agree. Searches isn't where this bug happens, though.  This bug occurs any time you have an attribute_value connected by more than one attribute_link row.  For example, let's say you have a dropdown with one of the values being "mISSPELLED vALUE" because your employee didn't see they had the capslock on.  Before correcting the issue, several items have been assig

[2021-01-23 06:09] royunderwood commented on #3078
@ruanete Yeah, I tried with, without, and every combination of data but it all fails.  There is nothing logged anywhere in apache logs.  I cant even begin to troubleshoot.  I was wanting to use it like now, but I guess that isnt going to happen, with 1986 items at 9 columns, there is 17,874 manual entries to make for me.

[2021-01-23 07:18] objecttothis commented on #3078
@royunderwood are you saying that you tried using my branch and it didn't give you any logs?  Here is the latest build of my branch, which is a near-complete rework of the import (to allow updating items):[ opensourcepos.20210121114557.squash-import-update.4c1b2e.zip](https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20210121114557.squash-import-update.4c1b2e.zip)

Ena

[2021-01-23 08:25] jekkos commented on #3078
Perfect to have a tester for the branch..

[2021-01-23 08:28] royunderwood commented on #3078
@jekkos  Im on it now with update.4c1b2e.zip, will update

[2021-01-23 08:46] royunderwood commented on #3078
@jekkos I think im giving up.  I cannot find config files to turn on logging!.  I see pos/application/views/configs but these php files are just what display, not give me option to make "logging Options".  Where is this setting?

[2021-01-23 09:32] objecttothis commented on #3078
@royunderwood the config file you need is found in /application/config/config.php.  Edit the file and look for `$config['log_threshold'] = 1;` Set it to at least 1 but possibly 2 if you want more detail.  Logs then will be found in /appllication/logs/

[2021-01-23 09:34] objecttothis commented on #3078
@royunderwood the config file you need is found in /application/config/config.php.  Edit the file and look for `$config['log_threshold'] = 1;` Set it to at least 1 but possibly 2 if you want more detail.  Logs then will be found in /appllication/logs/

[2021-01-23 09:36] objecttothis commented on #3078
@royunderwood If for some reason the logs aren't being written, check the file permissions on the /application/logs folder.  It must be at least 755.  Some servers require 775 to be able to write to it.

[2021-01-23 09:39] objecttothis commented on #3078
@royunderwood you're missing several columns in your header.  Did you go to items > CSV Import and click "Download Import CSV Template (CSV)"?

Also, if id "2" doesn't exist it will error out.  Only include the ID if you are updating an item.

[2021-01-23 11:24] royunderwood commented on #3078
@jekkos Success, however there were some issues.  The log file was created in application/ logslog-2021-01-23.php.  This was instrumental indicating which field and line was having an issue.  It appears that my csv file had formatting in place to show 2 decimals, but when there was a zero for the cost it failed.  The 0 needed to be .01 for it to import.  Its strange becauase I downloaded it from t

[2021-01-23 11:32] objecttothis commented on #3078
@royunderwood You should be allowed to put a cost price of '0' (zero) because sometimes product is given to a business for free.  I'll test it on my end and see if I have the same issue then fix it in the branch if it's an issue.

We can always use help with the documentation.  If you are willing to run this branch through it's paces with that large file that you are using, that will be helpful.

[2021-01-23 11:52] royunderwood commented on #3078
@objecttothis The file was very large: 1986 rows.  They all imported except quantity, I will play with that tomorrow. I noticed tax is not being added but that may be a setting I'm overlooking.  Right off I see SQL shows NULL for tax_category_id.  I'm tired, going to pick this up tomorrow.  I appreciate all your help @jekkos and @objecttothis .  I am willing to keep you posted with anything I come

[2021-01-23 11:57] objecttothis commented on #3078
@royunderwood Rest well.  Make sure that your tax categories are configured properly in Office > Taxes > Tax Categories.  If you run into trouble just attach the CSV you are getting the error with and maybe the log entries.

[2021-01-23 17:17] midsoft2010 commented on #3078
I used version 3.1.1 to import the items then later i upgraded and it worked for me fine.

[2021-01-23 17:22] midsoft2010 commented on #3078
You can as well also send me the csv file i upload the data for you then i can email you back the copy of the db!

[2021-01-24 18:55] daN4cat commented on #3058
@ruanete is the latest code in master working?

[2021-01-25 10:38] midsoft2010 opened #3084 "Return Items"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-01-25 17:50] daN4cat commented on #3084
Sure, go for submitting the code change with a PR so that we can review and incorporate.

[2021-01-26 01:32] ozzylamberth commented on #2406
https://github.com/opensourcepos/opensourcepos/issues/2993

With respect to another detail about the inventory list, it shows the entire list regardless of whether it has a 0 existence. I solved it this way in the application / models / item.php on line 224 to line 226
This is the original code
if ($ filters ['low_inventory']! = FALSE)
{
$ this-> db-> where ('quantity <=', 'reorder_level');

This

[2021-01-26 07:50] objecttothis commented on #2975
@SteveIreland How close are we to merging this?

[2021-01-26 07:50] objecttothis commented on #2995
@SteveIreland How close are we to merging this?

[2021-01-26 07:53] objecttothis commented on #3031
@SteveIreland do I understand correctly that when #3026 gets merged, this issue will be resolved?

[2021-01-26 07:55] objecttothis commented on #3063
@daN4cat could this get punted to 3.4.0 so that once other bugs are fixed, this can go in the minor release?  As is, I have several PR's waiting for 3.3.4 to be released so that we can merge them into the master.  It's OK if this change must go into 3.3.4, but it doesn't seem to be so much a bug and 3.3.4 is supposed to be a bugfix release.

[2021-01-26 08:02] objecttothis commented on #3006
@jekkos is a longblob overkill here?  I think a mediumblob would be more efficient, but don't know for sure.

[2021-01-26 08:05] #3079 closed

[2021-01-26 08:43] mrbozkaya opened #3085 "Receivings report by Item"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-01-26 08:43] objecttothis commented on #3074
@odiea build 4101ff is related to #3026.  I checked @SteveIreland commit log and he doesn't seem to touch anything related to that report.  I also can't replecate with ae52bd.  Can you try the be7d14 build and see if it is producing the same results for you.  I assume you are getting this when you navigate to Reports > Summary >Expenses then choose a date range and submit?

[2021-01-27 01:59] #3048 closed

[2021-01-28 12:11] odiea commented on #3074
I just downloaded and installed  3.3.3 - be7d14. This also shows http://localhost/current/public/reports/summary_expenses/2021-01-28%2000:00:00/2021-01-28%2023:59:59/complete/all/0 in the address bar.

[2021-01-28 12:19] objecttothis commented on #3074
@odiea I want to make sure I understand properly. The demo and be7d14 do not have a problem but the branch in PR #3026 does have the issue? @steveireland can you look into this since it's affecting the branch you're working on?

[2021-01-28 13:12] odiea commented on #3074
Here is what I see when I click on the expenses Reports.  Neither report loads until I add categories. I guess what I am trying to fugure out is where the Report gets the name because Reports controller shows categories the way it should be.
![2021-01-28 06_07_24-Window](https://user-images.githubusercontent.com/10962177/106143089-8d7bf380-612f-11eb-8a52-c594bed5bb37.png)
![2021-01-28 06_07_46-Win

[2021-01-28 13:50] odiea commented on #3074
I looked back into my previous merges and this is when the issue started showing for me.
![2021-01-28 06_48_49-Window](https://user-images.githubusercontent.com/10962177/106147474-206b5c80-6135-11eb-9eb3-fb9f601ea8dc.png)

[2021-01-28 16:33] odiea commented on #3074
I don't see what has changed possibly something I did years ago. If no one else has an Issue I would recommend closing this and not wasting time on it.

[2021-01-28 16:42] odiea commented on #3074
I created a new db and now in Permissions it shows summary_expenses_categories where I have summary_expenses. So I found the issue and will close this.

[2021-01-28 16:42] #3074 closed

[2021-01-29 10:35] ayieye commented on #2989
has this been solved yet?

[2021-01-29 10:36] ayieye commented on #2989
i might have something

[2021-01-29 18:48] midsoft2010 commented on #2989
Great! Let see what you got!

On Fri, Jan 29, 2021, 13:37 ayieye <notifications@github.com> wrote:

[2021-01-29 22:23] jekkos commented on #3006
I think it's mediumblob now (I might still have this message in the commit history, but I fixed the type afterwards).

[2021-01-29 22:24] jekkos commented on #3063
@objecttothis sure this one is not urgent, let's fix the travis-ci once it breaks. I moved it to 3.4. I'd like to get the cash rounding thing in. Maybe someone needs to go ahead and try to finish @SteveIreland pull request.
I think after we can basically go ahead and merge your work rather fast.

[2021-01-29 22:25] jekkos commented on #3074
Ah so you mean it was something on your end @odiea ?

[2021-01-30 00:04] odiea commented on #3074
I guess on a 5 yr old db anything can happen.LOL

[2021-01-30 06:19] ayieye commented on #2989
here is my train of thought before i upload screenshots;

1. I ran with the advantage that ospos lets you manually change price at the register
2. so i added extra unit_price into the mysql
3. then added an option in register mode to tell ospos which price to use
4. just implemented it to 3.3.3 so far no problem

![image](https://user-images.githubusercontent.com/3019836/106349097-1d5ea080-62dc-11

[2021-01-30 06:21] ayieye commented on #2989
here is my train of thought before i upload screenshots;

    I ran with the advantage that ospos lets you manually change price at the register
    so i added extra unit_price into the mysql
    then added an option in register mode to tell ospos which price to use
    just implemented it to 3.3.3 so far no problem
![Uploading image.png…]()

[2021-01-30 06:24] ayieye commented on #2989
here is my train of thought before i upload screenshots;

I ran with the advantage that ospos lets you manually change price at the register
so i added extra unit_price into the mysql
then added an option in register mode to tell ospos which price to use
just implemented it to 3.3.3 so far no problem

[2021-01-30 06:27] ayieye commented on #2989
![image](https://user-images.githubusercontent.com/3019836/106349226-58150880-62dd-11eb-91fb-516de788d069.png)

[2021-01-30 06:33] ayieye commented on #2989
![image](https://user-images.githubusercontent.com/3019836/106349334-3ec08c00-62de-11eb-9e23-b6fc2997b3b9.png)

[2021-01-30 06:35] ayieye commented on #2989
now in retail mode
![image](https://user-images.githubusercontent.com/3019836/106349360-74fe0b80-62de-11eb-8d72-08db33def3ca.png)

[2021-01-30 06:37] ayieye commented on #2989
now in wholesale mode
![image](https://user-images.githubusercontent.com/3019836/106349425-c8705980-62de-11eb-9081-e18044982efb.png)

[2021-01-30 06:41] ayieye commented on #2989
![image](https://user-images.githubusercontent.com/3019836/106349494-40d71a80-62df-11eb-9882-f166a7b58d55.png)

[2021-01-30 06:42] ayieye commented on #2989
now for the code part

[2021-01-30 13:30] ayieye commented on #2989
hows this

[2021-01-30 16:26] objecttothis commented on #3074
Happens to the best of us.  One thing you might do for future references when you're testing against a non-new database and run into something like this, is to make sure to try it against a fresh database and see if you get the same issue.  I keep a copy of a brand new db in phpmyadmin just for this purpose.

[2021-01-30 16:32] objecttothis commented on #3063
I did a code review of his PR and I can make those changes, but I don't know what bugs are left to fix.  Do you know?

Yeah... but like you mentioned earlier, it will be important to rebase again before doing that.  3.3.3 and 3.3.4 have had changes that will be important to reconcile between the two.

[2021-01-30 20:41] jekkos commented on #3063
No I'm not sure on what works and what not.. I guess it can only be known by testing the tickets that were linked to it.

[2021-01-30 21:16] objecttothis commented on #3063
OK, I'll work on them on Tuesday when I am working on this project again.

[2021-01-30 21:17] objecttothis commented on #3063
@jekkos if there is anything else holding 3.3.4 up besides that PR, do you think you could take a look?

[2021-01-31 05:10] ozzylamberth commented on #2989
ayieye that such friend could you explain a little more the implementation that you made with the wholesale price

[2021-01-31 06:39] ozzylamberth opened #3086 "Search using a search filter by Category"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-01-31 21:44] jekkos commented on #3006
Closing this one for now. @ozzylamberth let me know if any issue otherwise.

[2021-01-31 21:44] #3006 closed

[2021-01-31 21:45] jekkos commented on #3063
this is the [issue list for 3.3.4](https://github.com/opensourcepos/opensourcepos/milestone/21). We only planned to have the cash rounding fixes in there. I hope @SteveIreland but suspect he might have some other things that came in between.

[2021-01-31 22:52] daN4cat commented on #3063
Hmmm @steveireland hasn't been active in the last 3 weeks. Hope he's fine.

[2021-02-01 06:55] objecttothis commented on #3063
Me too.

[2021-02-01 13:54] ayieye commented on #2989
okay lets add some code:
go to controller/sales   and add the code in the pic
![image](https://user-images.githubusercontent.com/3019836/106467713-18e9e180-64ae-11eb-8b06-5def2d3690f3.png)

[2021-02-01 14:02] ayieye commented on #2989
next libraries/sales_lib
![image](https://user-images.githubusercontent.com/3019836/106468349-dc6ab580-64ae-11eb-8877-6d560272e01e.png)

![image](https://user-images.githubusercontent.com/3019836/106468201-ad544400-64ae-11eb-9802-97c33a95aaa5.png)

[2021-02-01 14:04] ayieye commented on #2989
controllers/items
![image](https://user-images.githubusercontent.com/3019836/106468675-4d11d200-64af-11eb-8aa3-2311aa3100c8.png)

[2021-02-01 14:06] ayieye commented on #2989
helpers/ tabular
![image](https://user-images.githubusercontent.com/3019836/106469043-c8738380-64af-11eb-9e2e-f5ca832ead58.png)
![image](https://user-images.githubusercontent.com/3019836/106469075-d88b6300-64af-11eb-9b35-af83eaa9a439.png)

[2021-02-01 14:11] ayieye commented on #2989
model/items
![image](https://user-images.githubusercontent.com/3019836/106469402-4768bc00-64b0-11eb-8e68-75c0a2b1c3cf.png)

[2021-02-01 14:20] ayieye commented on #2989
views/items/forms
add code for unit price 2
![image](https://user-images.githubusercontent.com/3019836/106470267-556b0c80-64b1-11eb-81a5-30f70c30db5d.png)

and for unit price 3
![image](https://user-images.githubusercontent.com/3019836/106470542-a7ac2d80-64b1-11eb-8bbf-17b784606b12.png)

and unit price 4
![image](https://user-images.githubusercontent.com/3019836/106470616-c1e60b80-64b1-11eb-9a1e-4

[2021-02-01 14:43] ayieye commented on #2989
next lang lines
go to languages select your language
ill use en-US for this example
in items_lang-add
![image](https://user-images.githubusercontent.com/3019836/106472600-e3e08d80-64b3-11eb-84e6-c328fa65961e.png)

in sales_lang add
![image](https://user-images.githubusercontent.com/3019836/106473429-d2e44c00-64b4-11eb-9fbe-6b39586e45e0.png)

[2021-02-01 14:46] ayieye commented on #2989
now lets edit database.sql
![image](https://user-images.githubusercontent.com/3019836/106473896-63229100-64b5-11eb-8c4a-6b2f75709542.png)

[2021-02-01 14:52] ayieye commented on #2989
if not then lets log into mariadb and add the fields in ospos items
am using PHPMYADMIN for this example
![image](https://user-images.githubusercontent.com/3019836/106474696-391d9e80-64b6-11eb-8844-dec8d1484f97.png)

[2021-02-01 15:02] ayieye commented on #2989
well guys i hope i did not leave anything out .
happy coding and **be safe**

[2021-02-02 06:58] izeblood opened #3087 "New Issue Found: SALES limit it's number of items to be transacted..."
I play around the OSPOS last month when I try to sale 100 different items in sales modules, it REJECTS in the 89 items and the system automatically logout and redirect to login menu...
Does the system limits the number of items to be sold?
Please help me to solve this problem

[2021-02-02 14:05] SteveIreland commented on #3063
Fighting against all odds, I'm still alive and kicking.  :-)

Sorry for the hiatus - it was work related.  I made the mistake of taking a few days vacation and somehow ended up a month behind on work.  And in the middle of that, my work laptop started melting down so I had to deal with a replacement and the resulting migration issues.  But I'm caught up now.

I was hoping that someone would be abl

[2021-02-02 14:42] objecttothis commented on #3063
@SteveIreland I'm really glad to hear that you are OK. In the future if you're able to, please let everyone know that you will be out so that we don't waste time wondering if you're going to be able to finish a PR that others are waiting on.

If you're able, please make the changes that I talked about in my code review of #3026 and then test that PR against the issues list for 3.3.4 so that we kno

[2021-02-02 16:09] jekkos commented on #3087
Hi can you try latest master branch and report back? It has a fix for this issue (larger blob datatype).

[2021-02-02 16:11] jekkos commented on #3086
Sure you can easily add more filters as a dropdown. There is already an example for the frontend in this case. Then you need to post that selection back to the server and apply it to the query.

[2021-02-02 16:12] jekkos commented on #3078
Any new findings @royunderwood ? Or did it work to your expectations?

[2021-02-02 16:22] royunderwood commented on #3078
Totally worked.
All the data is in, I’ve been testing and testing to see if I can break it.
So far so good. I plan on going live  fir sales on Monday 2-9-2021.

I created a second copy for a training I really try to push it hard. Adding
upwards of 50 items per transaction, everything is smooth and quite fast I
might add😲!

Thank You for the follow up.

On Tue, Feb 2, 2021 at 11:13 AM jekkos <notif

[2021-02-02 16:28] objecttothis commented on #3078
I'm glad to hear this.  Thank you for testing.

[2021-02-02 19:50] ozzylamberth commented on #3086
How about this jekkos would you give me more information that I should interact to add more filters or where I can find the mentioned example .. Thanks for your help

[2021-02-02 19:52] ozzylamberth commented on #2989
Thank you very much, it works perfectly, it would only be left to give permission to the sale user when it is allowed to make Sales at least and when it is allowed to make Wholesale Sales. But your code works very well.

[2021-02-03 02:20] SteveIreland commented on #3063
@objecttothis  Wow.   After weeks of hoping someone would be interested in it, all of the sudden "others are waiting" on this.

There are  a few things that bother me about your comments.  But after cooling off I'll just say that  I volunteer to support this project at no charge to anyone and I get no benefit out of it other than the fact that I simply enjoy coding.  I am a little surprised that y

[2021-02-03 03:20] objecttothis commented on #3063
@steveireland. I'm sorry I've offended you. That was never my intent. I'm not sure how to respond, but I will say that I wish that we had a better medium to communicate because tone and meaning often get lost in text communication. That said, please accept my apologies.

I can relate with you.  I don't draw a salary from code contributions to this project, so I get annoyed when others are ungratef

[2021-02-03 07:08] daN4cat commented on #3063
Guys, we all know we can dedicate the little free time available now and then. There is no reason for bad feelings.
We stood to bigger challenges and criticism in the past, it would be a pity to go opposite directions for a little misunderstanding.

Thank you both for the good work and contributions, you made a massive positive impact on the project adding a lot of valuable piece of functionality.

[2021-02-03 08:37] gedi-on opened #3088 "hello friends"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-02-03 08:38] #3088 closed

[2021-02-03 08:38] gedi-on commented on #3088
i tried to install the ospos but it keeps displaying blank page when I  run localhost:/ospos/public

[2021-02-03 08:38] daN4cat commented on #3088
Non sense

[2021-02-03 08:40] gedi-on commented on #3088
what might be the problem

[2021-02-03 08:42] gedi-on opened #3089 "localhost/ospos/public displays blank page in browser"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-02-03 08:57] gedi-on commented on #3089
OSPOS version is:3.3.3
OSPOS git commit hash is:
PHP version is:3.2.4
MySQL or MariaDB version is:
OS and version is:windows 10
WebServer is:xamp
Selected language is:PHP
(If applicable) Docker installation:
(If applicable) Installation package for the LAMP/LEMP stack is:

[2021-02-03 13:06] SteveIreland commented on #3063
Okay, my bad.  Having been a victim of many misinterpreted text messages myself I apologize for the over-reaction.  I'll start finishing up the pull request tonight.  I'll blame Covid and the local insurrection for my increased level of stress.  :-)

[2021-02-03 13:20] objecttothis commented on #3063
I'm glad we were able to clear everything up.  Let me know in the PR if you have any questions about my comments.  The comments related to formatting were based on the project best practices.  @jekkos and @daN4cat add those same ones when they review my Pull Requests, so it's not just you. The ones related to the global constants were ones that I think may have been agreed on after you began the P

[2021-02-03 19:15] daN4cat commented on #3063
We are used to by code formatting comments :-)

[2021-02-03 19:17] daN4cat commented on #3063
@SteveIreland nothing about the snow?
My manager close to Philly is telling me he needs to deal with a lot of snow daily at the moment.

[2021-02-03 19:26] SteveIreland commented on #3063
I live only about 20 miles south of Philly, but I think the difference between here and there is about 4 inches.  I'm guessing that they've had a total so far of around 9-10 inches and I've only had to shovel about 5-6 inches off of the pathways here.  Some flurries still going on but I'm finally seeing sunlight.

[2021-02-03 19:32] objecttothis commented on #3063
My in-laws, until recently, lived in Fort Washington. Next time we are in the States we should grab coffee or something.

[2021-02-03 20:39] jekkos commented on #3063
Glad to see you back @SteveIreland .I also appreciate all the work you have done for the project until now and agree, contributing should remain something voluntary.. time is precious thing.

On another note, it seems that JFrog is now also closing down the free Bintray services in May this year (have received a mail for that today). So beside replacing travis-ci we might also need to find an alte

[2021-02-03 20:42] jekkos commented on #3078
Ok great news, looking forward to have this merged.

[2021-02-03 21:28] daN4cat commented on #3063
There is no such thing as free meal.

[2021-02-04 11:13] izeblood commented on #3087
@jekkos yes.. I try to sale 178 different items and everything is okay....so far....

[2021-02-04 11:15] izeblood commented on #3087
I will continue to add more sales since i suspend the transaction to be able to continue adding more items...

[2021-02-04 11:22] izeblood commented on #3087
@jekkos can we include this minor fix to 3.3.3 version?

[2021-02-04 18:48] daN4cat commented on #3087
It will be in 3.3.4

[2021-02-04 18:48] #3087 closed

[2021-02-04 22:02] #2989 closed

[2021-02-05 01:16] ozzylamberth commented on #3086
How are you Jekkos? I hope you are well. I read all the problems on my question of how to add a category related dropdown, but all comments are directed to the attributes session that is assigned in the new items session.
In my case, I want to add a dropdown related to the category to filter. That is, when I go to inventory and I have the following options: 1 Delete - 2 Multiple edit - 3 Generate

[2021-02-05 05:51] dulajdilshan opened #3091 "WIKI pages and install.md are not up-to-date with correct installation proceedings"
### Background information
I have downloaded and correctly followed the steps. The steps seem to bit faulty. As an example

Here, there is no such file called `database.sql`.
However, I have followed the correct procedure to set up the **opensourcepos**. But, I found that there is an error: giving Forbidden when accessing the `root` dir. and getting an internal server error when accessing `root/pu

[2021-02-05 06:57] atindaeugene opened #3092 "Delivery Note for Items Sold"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-02-05 07:23] izeblood commented on #3087
Okay...Thanks...

[2021-02-05 14:14] izeblood commented on #2989
Yeah.. In this manner it will solved the multi price problem and manage based on the user's privilege's account...

[2021-02-05 17:22] daN4cat commented on #2989
Maybe someone could even post a PR to merge this code ?

[2021-02-05 17:29] andriux1990 commented on #2989
Hi .. I'm going to test the code right now. if someone doesn't do it before me .. I'll do the PR

[2021-02-05 17:33] andriux1990 commented on #2989
Thank you very much @ayieye

[2021-02-05 18:17] ozzylamberth commented on #2989
Que tal Andriux1990 - dan4cat. El código funciona a la perfección no genera ningún tipo de Bug.. Ya lo estoy probando y haz los momento no eh tenido problema en realizar ventas con ambos precios

[2021-02-05 20:13] ayieye commented on #2989
sale_lib.php
![image](https://user-images.githubusercontent.com/3019836/107084031-8c218980-6807-11eb-996b-0a9b18e58ef7.png)

[2021-02-05 20:21] ayieye commented on #2989
that had not crossed my mind, maybe someone can try that , my mind is currently occupied with the credit sale enhancement #2679

[2021-02-07 06:30] andriux1990 commented on #2989
It works fine, I already tried it and did a lot of testing.
upsell prices are not displayed in the items table, to show them we only add this in the 'public function search' / models/item:
$this->db->select('MAX(items.unit_price2) AS unit_price2');
			$this->db->select('MAX(items.unit_price3) AS unit_price3');
			$this->db->select('MAX(items.unit_price4) AS unit_price4');
If we add a product for s

[2021-02-07 09:00] ayieye commented on #2989
add this it will default to retail mode , better than return mode
![image](https://user-images.githubusercontent.com/3019836/107141739-ee7ba680-693b-11eb-9630-b54e76049551.png)

[2021-02-07 12:31] daN4cat commented on #2989
Please use elseif otherwise you constantly check mode for any possible value when you know it can be only one of those.

[2021-02-07 12:40] ayieye commented on #2989
![image](https://user-images.githubusercontent.com/3019836/107146678-bcc60800-695a-11eb-9405-1dd3ec4c1cfb.png)

[2021-02-07 20:35] SteveIreland commented on #3031
Just tested this in the latest iteration of the #3026 pull request and it adds the over-payment and creates a cash refund transaction for the amount to be refunded.   So the answer is "I hope so."  :-)

[2021-02-07 21:02] odiea commented on #3031
Looks good here. Modal shows a refunded amount and so does the receipt. Great work @SteveIreland

[2021-02-07 21:19] odiea commented on #3031
It also appears to be correct with a Cash payment and a Credit card over payment.

![2021-02-07 14_15_50-Window](https://user-images.githubusercontent.com/10962177/107159740-3d7f0700-694f-11eb-959d-3028cdf3d5b0.png)

[2021-02-07 22:19] MohammedMaaz opened #3093 "Deployment guides needed for Heroku"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2021-02-08 04:24] daN4cat commented on #3093
Read the developer section in the wiki, you can't run from GitHub without installing libraries and etc.
Also check what travis script do.

[2021-02-08 10:26] jekkos commented on #2975
@chunter2 could you perhaps test the latest build with fixes for this issue?

[2021-02-08 10:32] jekkos commented on #3089
PHP version is:3.2.4

Not sure if that makes sense.. Check your php error log you will probably have some missing modules.

[2021-02-08 10:33] jekkos commented on #3031
Ok and I wonder how do we handle old data? I might have missed sth but saw in the migration that we have a cash_adjustment field now, but it might need to be backfilled?

[2021-02-08 13:26] #2975 closed

[2021-02-08 13:26] #3041 closed

[2021-02-08 14:31] SteveIreland commented on #3031
I considered it but felt there were too many unknowns that would need to be evaluated for each site.  I felt I would probably end up changing sales that didn't reflect what actually happened because the sale was done manually since the system didn't support what needed to happen.

[2021-02-08 19:08] #3031 closed

[2021-02-09 01:00] nelsondalida commented on #3078
@jekkos @objecttothis Hi, im having a problem on uploading my CSV file, the format i used is the one that can be downloaded in the system.
can you send me a real format of the csv? thank you very much.
accbm.01@gmail.com

[2021-02-09 01:11] nelsondalida commented on #3078
This is my format in csv
Barcode,Item Name,Category,Supplier ID,Cost Price,Unit Price,Tax 1 Name,Tax 1 Percent,Tax 2 Name,Tax 2 Percent,Reorder Level,Description,Allow Alt Description,Item has Serial Number,item_image,HSN,location_stock
MMPA-001,3M CONNECTOR PINK,M-MOBILE PHONE ACCESSORIES,,0,0,,,,,1,RACK E #001 -LVL 1,,,,,

[2021-02-09 02:34] royunderwood commented on #3078
I hope this is helpful:  I found excel to be problematic. Libre office
works better to work with your CSV file. Ensure there are no stray
quotation marks anywhere in your fields. All fields have data, Quotation
mark terminates a field in the CSV file even though “,” is the separator.
If you do have quotation marks in your field data, there must be one at the
beginning and one at the end and they n

[2021-02-09 02:58] nelsondalida commented on #3078
Done uploading the items, thank you.

[2021-02-09 03:16] ekardian opened #3094 "Expenses is not showing my last register, help. (solved, after deleted % symbol from my description on db/table ospos_expenses>Description)"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-02-09 03:32] ekardian commented on #3094
i replayed the same error now in the demo server.... in the comment i put 100$us giro Elsa Núñez (siembra) + 7$us envío - 7.3% en agencia total comisión 8.3% del total del envío .... and i changed:
Location symbols and contry codes, i was testing and using for expenses in my house from 2015 i never see this issue from now,
![imagen](https://user-images.githubusercontent.com/6296036/107311979-d142f

[2021-02-09 07:14] objecttothis commented on #3078
It used to be called Excel import, but we renamed it all to CSV import because of this very reason.  The standard that needs to be followed is CSV formatting standards, and excel can be problematic because... well, Microsoft.  The one exception to this rule is that I did include compatibility with Microsoft's Byte Order Mark (BOM) so that if someone is using excel that it won't cause problems due

[2021-02-09 07:14] #3078 closed

[2021-02-09 12:35] #3092 closed

[2021-02-09 18:16] ekardian commented on #3094
i tested with 1 expense (date 9/2/2021) in date and now i can the expense registered today, i gonna try again with that characters in the comment again for verified if i have the same issue with my expense from 8/2/2021
![imagen](https://user-images.githubusercontent.com/6296036/107407857-93cf7f80-6ae0-11eb-8cb0-fa21cc5cbe85.png)

[2021-02-09 18:27] ekardian commented on #3094
ok I was able to replicate the error, is with this character in the comment field, i saw something similar a few years ago here, but i dont remember where,,, i think lost in the limbo, something about CI filter some characters?
the text i wrote is:

and now all the expenses from 9/2/2021 are not shown
![imagen](https://user-images.githubusercontent.com/6296036/107409710-d72aed80-6ae2-11eb-9689-d8a

[2021-02-09 20:33] ekardian commented on #3094
ok fixed, i just deleted the symbol "%" from my database, and now working.

![imagen](https://user-images.githubusercontent.com/6296036/107424657-5117a280-6af4-11eb-9e6d-e8a0571bae3b.png)

[2021-02-09 21:00] ekardian commented on #3078
be patience, we are here 6 years testing, and all gone fixed, step by step, some1 give a candy to the developers

[2021-02-10 05:37] objecttothis commented on #3078
Thank you @ekardian . If anyone else is still experiencing issues please post here and I'll reopen the issue. Please make sure you test with a build that has the csv import changes.

[2021-02-10 08:53] nelsondalida opened #3096 "ERROR 500"
Good day, i have another problem, when i migrate it from localhost to hosting site for me to use in different device so i can monitor it in my personal pc or phone, all the functions are working but when i want to generate reports it goes "HTTP ERROR 500"

[2021-02-10 09:33] objecttothis commented on #2995
@SteveIreland is this issue something already resolved in #3026?

[2021-02-10 14:26] SteveIreland commented on #2995
I think @jekkos identified and fixed the issue, but I'll retest it this week to see if there is still an issue.

[2021-02-10 18:16] odiea commented on #3091
You need to install the current stable version from Install.md.

[2021-02-10 22:43] jekkos commented on #3091
I checked this file `https://github.com/opensourcepos/opensourcepos/releases/download/3.3.2/opensourcepos.20200903075833.3.3.2.bb309c.zip`, so the one in the wiki, and it does contain the database.sql file.

[2021-02-10 22:45] jekkos commented on #3091
@dulajdilshan If you can be a bit more specific otherwise we can update the docs . Currently I can't really reproduce.

[2021-02-10 23:37] odiea commented on #3091
@jekkos I assume that he had downloaded the code from the first page and did not build it.

[2021-02-10 23:40] ozzylamberth commented on #609
How would I achieve the same Search but in Inventory that is, Category and Article Name, which file should be manipulated.

An example If I search by Category A, all the names of articles that are related to Category A are filtered

[2021-02-11 05:28] #3091 closed

[2021-02-11 10:26] MufassalAmeer opened #3097 "Bug on Sales return discount Value"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-02-11 11:26] odiea commented on #3094
I believe that using the % sign is a CodeIgniter issue that has been mentioned here before.

[2021-02-11 11:52] odiea commented on #3097
The discount works fine on a return if it is a % value but if it is a $ value It adds the value to the Return total. Clear as mud.

[2021-02-12 15:13] bricas opened #3100 "visiting items/save/{id} (GET request) clears existing values"
### Background information

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [X] Reporting an issue of an unmodified OSPOS installation
- [X] Checked [open and closed issues](https://github.com/opensourcepos/opensourcepos/issues?utf8=%E2%9C%93&q=is%3Aissue) and no similar issue was already reported (please make sure you searched!)
- [X]

[2021-02-12 17:49] odiea commented on #3097
I have tried the following and it appears to fix the issue. application/libraries/Sale_lib and add the following to the public function return_entire_sale($receipt_sale_id) beneath the foreeach and see if it fixes this issue. Thanks
[code]

![2021-02-12 10_43_36-Window](https://user-images.githubusercontent.com/10962177/107803442-cdda9480-6d1f-11eb-8d19-9672c9294e0d.png)

[2021-02-12 19:12] cikov opened #3103 "File Permissions"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-02-12 19:19] cikov opened #3104 "file permissions"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-02-12 19:35] cikov opened #3105 "file permissions"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-02-12 19:43] #3103 closed

[2021-02-12 19:44] #3104 closed

[2021-02-12 19:48] cikov commented on #3105
Hello,
Why I don't have permission to write

I did it:
chown -R cedo /var/www/opensourcepos/
chgrp -R www-data /var/www/opensourcepos/
chmod -R 750 /var/www/opensourcepos/

and here is the report:

OSPOS instalacione informacije: 3.3.3 - be7d14
Language Code: bs-BA

Vremenska zona OSPOS razlikuje se od vaše lokalne vremenske zone.

Lokalna vremenska zona:
Europe/Sarajevo

OSPOS vremenska zona:
Eur

[2021-02-13 00:18] ekardian commented on #3094
yep, this issue has ben mentioned, but i lost the refrence in the limbo XD, for now i gonna try with the quotation, you have more work in others parts in the project, im just  a soul who scream out in the desert XDDDD.

[2021-02-13 00:59] ekardian commented on #3105
hi. im listing a few things about perm that u can try. work for me, but there are a few requiremnts in some versions, u know, there are a lot of GNU/LINUX versions.
im im in /var/www
#sudo chown www-data;www-data opensourcepos
#sudo chmod 750 opensourcepos/application/logs
#sudo chmod 750 opensourcepos/public/upload
#sudo chmod 750 opensourcepos/public/uploads/item_pics
#sudo chmod 664 opensourcep

[2021-02-13 01:23] ekardian commented on #3096
welp, i migrated about 5 years in a ho$ting , i had same issues, so looking the .htacces
i commented this line

`#Options +ExecCGI +Includes +IncludesNOEXEC +SymLinksIfOwnerMatch -Indexes`

and i changed for this one, my hosting only perm that way. work but its a start

`Options -Indexes`

other

the permisions, sometimes the perm files was changed by your provider.

the best way is backup your da

[2021-02-13 01:35] ekardian commented on #3089
lol i have the same issue sometimes, but is for i install in diferents machines and linux version for test every 6 months XD

sometimes is your modules, look the requeriments(modules php)
php-gd, php-bcmath, php-intl, php-openssl, php-mbstring and php-curl

if your apache read .htaccess

if read php files

if read ... wait is windows 10... sorry gg i never installed in windows 10

RTM in https://g

[2021-02-13 16:53] SteveIreland commented on #2995
Just tested it and it appears to still be an issue.  I will work on it this weekend.

[2021-02-13 20:25] SteveIreland commented on #2995
Pull request #3107 has been submitted for this.

[2021-02-14 01:52] SteveIreland commented on #3097
I believe I included a fix for  this in #3107.   I think the main issue was that it was missing the code that computes the discount amount when the discount is a fixed amount.  I added it back and my brief tests showed that the discount is now being computed correctly.

[2021-02-14 05:08] MufassalAmeer commented on #3097
Thank you Very Much. Working Fine now. Thank you Once again.
![image](https://user-images.githubusercontent.com/26744995/107869111-a535d480-6eb0-11eb-8e10-c82d15ce99ca.png)

[2021-02-14 05:08] #3097 closed

[2021-02-14 07:05] Hamzaqureshi401 opened #3108 "where tebular html code of report file is located?"
![image](https://user-images.githubusercontent.com/46222436/107870704-80dff500-6ebc-11eb-8895-52b988f95213.png)
i want to know the location of this tebular file where its html is written like <td> and <tr> and this td and tr rendring reporst of employees

[2021-02-14 11:07] cikov commented on #3105
Hi! ekardian
forgive me for my translation. i use google translator.
you helped me. I solved the problem.
#sudo chown -R cedo opensourcepos I changed to
#sudo chown -R cedo; www-data opensourcepos.
I am a cedo owner.
and here it is
File Permissions:
»[application / logs:] - 0750 | Writable ✓ | Security Check Passed ✓
»[public / uploads:] - 0750 | Writable ✓ | Security Check Passed ✓
»[public / upl

[2021-02-14 15:05] daN4cat commented on #3105
Usually you translate using Weblate but if you translated the files send them over here in a zip file or better with a GitHub PR.

[2021-02-14 17:18] SteveIreland commented on #3108
It's automagically generated by JavaScript.

[2021-02-14 17:28] SteveIreland commented on #2995
This should now be fixed.   Let me know if I overlooked something.

[2021-02-14 17:28] #2995 closed

[2021-02-15 00:22] chunter2 commented on #2995
@SteveIreland Just getting to this.  Will your PR work on 3.3.2?  I haven't had a chance to upgrade yet but I tried your PR just to see and it still seems to be off; the receipt compared to the Daily Sales report.  I also checked the detailed transaction report and it's off as well.  If it's built off your cash rounding PR then I may have to test when I get things upgraded.

Thanks

[2021-02-15 03:51] SteveIreland commented on #2995
I will rebuild the test from the latest master and rerun my tests this week, but my previous tests resulted in the same amounts printed on receipts as those on the daily sales report.    I tested it with percent discounts and discount amounts but no cash rounding (but cash rounding shouldn't make a difference.)

[2021-02-15 03:56] ozzylamberth commented on #3086
How about Jekkos and Odiea here again .... In advance it is an idea that I am developing the code, it may not be the ideal but the doubts I have.

models/item.php
![capture-20210214-233825](https://user-images.githubusercontent.com/7409604/107903046-971e9d00-6f1e-11eb-9e64-be936185aa45.png)

This is the code to load the drop-down with the data from the Category column, in turn I call it Group and

[2021-02-15 04:12] ozzylamberth commented on #3086
In the same way it occurs to me to manipulate the data table and generate the collapsible ones in the header of the same specifically the Group and Brand

[2021-02-15 08:33] ekardian commented on #3105
Congrats, for translate, its like said @daN4cat , using weblate [http://translate.opensourcepos.org](http://translate.opensourcepos.org/)

[2021-02-15 08:50] andriux1990 commented on #2989
Hello! It works well .. but I feel that it is not good that an employee has all the time the freedom to choose the price he wants to give ..

I think it would be good to assign the multiple prices with user permission control and thus be able to assign the different sales prices to a more trusted employee

[2021-02-15 08:52] andriux1990 commented on #3108
@Hamzaqureshi401 what do you want to do here?

[2021-02-15 12:39] chunter2 commented on #2995
@SteveIreland Just had a thought. Did you try with multiple items where it has to round the discount for each one? I think that's where it gets off by a few cents. I think the discount is applied to each item individually on the receipt but as a whole in the reports.

Also, I'm assuming this should fix old transactions since it's just a display thing?

[2021-02-16 01:15] chunter2 commented on #2995
@SteveIreland I just tried on dev.opensourcepos.org and the Amount Due is still off in the Daily Sales report so I don't think it's an issue with me mixing PR's and versions.

[2021-02-16 01:41] #3070 closed

[2021-02-16 02:44] SteveIreland commented on #2995
@chunter2 I just downloaded the latest copy of master from bintray installed it locally and ran a few tests. Everything still seems to be in balance.  I checked discounts by percent and discounts by amount.

[2021-02-16 04:27] ozzylamberth opened #3109 "Datatable column wise search filter in CodeIgniter"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-02-16 05:26] objecttothis commented on #2995
@chunter2 can you send an exact step-by-step (and screenshots if possible) to how you are recreating this issue?  It might be that only in certain scenarios it's doing it and @SteveIreland isn't testing the same scenario.  @SteveIreland I noticed there is a screenshot above.  If you recreate the scenario in that screenshot does it show accurately?

[2021-02-16 08:12] jekkos commented on #3109
Maybe try this plugin
https://bootstrap-table.com/docs/extensions/filter-control/

[2021-02-16 08:14] jekkos commented on #3109
You'll need to import in bower and then enable the plugin in javascript in manage_tables.js. If it works then might be nice if you report back. Thanks!

[2021-02-16 08:15] jekkos commented on #3086
Question was answered in the other ticket you opened, gonna close this one.

[2021-02-16 08:15] #3086 closed

[2021-02-16 09:31] ozzylamberth commented on #3109
According to the information in the library.

Filter control

Use the plugin: bootstrap-table-filter-control to filter the fields in the table.

Under this code
<link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-tab

[2021-02-16 11:20] #3094 closed

[2021-02-16 12:52] jekkos commented on #3109
Sorry but you're not very clear on what you want to reach here. What code did you change here exactly? Might be better to ask in bootstrap tables project if you have any specific issue with their widgets.

[2021-02-16 12:56] jekkos commented on #3109
I guess you need to generate the table header with the correct attributes to have the widget you want. Check `[the bootstrap tables doc for that](https://examples.bootstrap-table.com/index.html#extensions/filter-control.html)`.

[2021-02-16 19:26] daN4cat commented on #3109
I guess what they mean is that you need to implement some backend functionality to support your filtering.

[2021-02-16 19:40] ozzylamberth commented on #3109
apparently that's what it takes to filter the columns with the library that Jekkos indicated to me. I managed to assign the select to the columns that I want to filter. Now I am trying to give the event to generate the filter

[2021-02-16 23:11] cikov commented on #3105
ok thanks

[2021-02-17 02:28] SteveIreland commented on #2995
Earlier I noted that I was able to recreate the problem.  It is now fixed and I cannot recreate the problem.

[2021-02-17 02:54] chunter2 commented on #2891
@jekkos I'm noticing that dev.opensourcepos.org isn't currently at the latest commit in master.  Is there a specific time it gets updated or is this a manual process?

Thanks

[2021-02-17 04:27] ozzylamberth commented on #3109
So far I'm still the same I have a little confusion
Filter Control
Use Plugin: bootstrap-table-filter-control to filter table fields.

I add the following extension to views/Item/manage.php
And I create a file called json/data1.json

<link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootst

[2021-02-17 20:36] jekkos commented on #3109
right, you need to post the selected value from the frontend to the search method in the model and apply it to the query there.

[2021-02-17 20:51] jekkos commented on #2891
Ok last push to docker hub was only 7 days ago, so that might explain..It could be the docker hub rate limitation blocking the update here.

[2021-02-17 20:56] jekkos commented on #2891
I have restarted the build so let's see if it refreshes the deploy. It's best to always check the version hash versus the repository when testing features..

[2021-02-17 21:23] chunter2 commented on #2891
Yes, it's the version hash that helped me notice it wasn't up to date.

Thanks

[2021-02-17 23:54] jekkos commented on #2891
It seems there is another issue (after the docker changes that were done). The container is not pushed to docker hub as it's not building it with docker-compose anymore. So I changed this setup now, let's see if it works.

[2021-02-18 06:35] objecttothis opened #3110 "BinTray Replacement"
### Issue

When it rains it poors, right?  In addition to needing to find a replacement for Travis-CI (#3063 and #2834) JFrog has announced that they are shutting down BinTray on May 1st (https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/).

[2021-02-18 06:35] objecttothis commented on #3110
yay for DevOps fun!

[2021-02-18 08:43] jekkos commented on #3110
Yes ... I noticed already. Yesterday I have created a travis-ci.com account. It seems that we should be able to migrate to the new platform and hopefully we'll be able to stick with the free plan.

We're also often hitting rate limitation on docker hub now..

docker: toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading: https://www.dock

[2021-02-18 08:45] jekkos commented on #3110
Maybe github actions can also be used to host build artifacts.. It would be good to have everything integrated in one platform.

[2021-02-18 08:46] jekkos commented on #3110
https://docs.github.com/en/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions

[2021-02-18 08:48] jekkos commented on #3110
Maybe github actions can replace both travis and jfrog. In this case if we can run builds as a workflow and host the resulting artifact on github itself, then that would be great.

[2021-02-18 08:50] daN4cat commented on #3110
Yes, GitHub actions is quite promoted by Microsoft as the next. They are planning to migrate from Azure DevOps to GitHub.

[2021-02-18 12:45] chunter2 commented on #2995
@SteveIreland Now that dev.opensourcepos.org is up to date I was able to test again and it looks like it's still not working all the time.  If you look at transaction Id = 2 you'll see the change due in the daily sales is still showing -$0.01 when it should be zero.

Thanks

[2021-02-18 14:21] SteveIreland commented on #2995
Okay, I'll take a look tonight.

[2021-02-18 15:34] DamianoSilverhand commented on #2985
@bfrosty1 did you manage with this enhancement?

[2021-02-18 18:37] DamianoSilverhand opened #3111 "Display Customer Attributes (Tags/Custom fields) in View"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-02-18 20:26] daN4cat commented on #3111
Look in the helper folder, there is a file dealing with what you show in the tables.

Will you contribute back this feature? It looks a good addition for customer segmentation.

[2021-02-18 21:18] jekkos commented on #2891
@chunter2 it's fine again now after my latest fix. Dev server is aligned to master again.

[2021-02-19 01:00] SteveIreland commented on #2995
Well, as luck would have it, someone installed a commit today that rebuilt the dev site, so your test data was not there.

So I created data exactly like what you posted on this thread earlier and could not find a problem with rounding.  However, a problem I DID see but couldn't explain was that the taxes that were calculated were totally different than any your example.

Instead of 5% GST computi

[2021-02-19 01:15] chunter2 commented on #2995
@SteveIreland I just checked dev.opensourcepos.org and my example is still there.  Here's a link.  https://dev.opensourcepos.org/sales/receipt/2
I'm just using normal taxes.  In my example above Kids Footwear and Books are 5% and the toy line is 13%.  The taxes are calculated on the discounted price.

[2021-02-19 04:08] SteveIreland commented on #2995
Okay, thanks.  I was able to replicate the issue locally and now that I understand how you have the taxes set up I now know that all is good with the taxes.

.99 * .50 = .495 which is truncated to .49 on the sale (rounding down) but is rounding up to .50 on the reports.

So the method used in the sale itself doesn't do any rounding.  I think this should easy to resolve on the reports so I'll give

[2021-02-19 06:10] ozzylamberth commented on #3109
unfortunately I can't make the filter here. I achieve it directly with php datatable but in bootstrap-table CI it is confusing I will keep reading

[2021-02-19 12:46] DamianoSilverhand commented on #3111
@daN4cat I will definitely contribute back, just have to figure out the display part for now. I have tried the same approach as used for attributes in the tabular_helper.php but the `$tag_values` return an empty array whereas the `$attribute_values` returns an array of attributes when logged. Anything I am missing here?
[code]

[2021-02-19 13:04] chunter2 commented on #2995
Glad you found it.  Thanks for continuing to look too.  :)

One thing I was questioning myself is if say you have three items that all come to say 0.492 so they'd all round down to 0.49 but together they'd round up, is that taken into account?  It's like the Daily Sales calculation is calculated on a whole where the receipt is calculated on each item individually.  I think in looking at this so mu

[2021-02-19 13:25] daN4cat commented on #3111
What do you read in $column and $row?

Dump that in your debug log.

[2021-02-19 15:47] DamianoSilverhand commented on #3111
@daN4cat nothing is being logged , seems like the `if (array_key_exists($column, $row)){}` is returning `FALSE` but when logged before the `IF` statement its returning both arrays for `$column` and `$row` , only that the `$row` array in the `parse_tag_values` function is missing some key pair values : 'tag_values', 'tag_dtvalues' and 'tag_dvalues'.
![rowBeforeIFTags](https://user-images.githubuser

[2021-02-19 16:40] daN4cat commented on #3111
I might be wrong but I'm not sure your database query is returning those tag fields.
I would need to check better the code to say more.

Is that stored in your GitHub repo?

[2021-02-19 16:47] #3050 closed

[2021-02-19 21:15] TYDINC opened #3112 "get address suggestions from postal code"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [X] Checked [open and closed issues](https://github.com

[2021-02-19 21:44] jekkos commented on #3112
I think the functionality is already there. It's using nominatim to do the address lookup.

[2021-02-20 02:15] SteveIreland commented on #3081
@printgeek is this still an issue for you?

[2021-02-20 02:39] ekardian commented on #2116
i want add something, i have the issue but with no page to redirect, only "he requested URL was not found" gg
here my config and how working now, this happens on clean install with the version 3.3.3 - 8e52bd in GNU/LINUX LMDE 4 Debbie, mariadb 10.3.27, apache 2.4.38

`$ apt-get install apache2 mariadb-server php7.4-curl php7.4-mysql php7.4-gd php7.4-intl php7.4-openssl php4.4-dba`

i enabled the I

[2021-02-20 02:47] printgeek commented on #3081
@SteveIreland After replacing the server and the computer we were using as the register it's no longer an issue. We *think* the problem was caused by a combination of slow server and a "bouncy" touch screen, so that when the add payment button was pressed on the touchscreen, the screen bounced and caused the button to be pushed a second time before the screen refreshed. Could have also had to do w

[2021-02-20 03:19] SteveIreland commented on #3081
Since I've done some work in this area I'm hoping that if there was a problem then it is resolved.  So I'll go ahead and close this one.

[2021-02-20 03:19] #3081 closed

[2021-02-20 03:25] SteveIreland commented on #2995
Well, when I started making decisions as to what to change I found that what I thought was the issue actually wasn't.  The problem was that the rounding was taking place at the wrong spot.  I believe pull request #3113 should address the issue but docker is feeling abused so it's putting us in time-out.   Hopefully that will be sorted out soon.

[2021-02-20 11:10] DamianoSilverhand commented on #3111
@daN4cat I think you are right, Is it okay if i add to my repo so that you can advise on the correct way to get the info in the Customer model?

[2021-02-20 21:44] jekkos commented on #2995
I have pushed a change for the docker setup.. Doing a login now before the build takes off, so that might fix the rate limitation issues for now.

[2021-02-20 22:08] SteveIreland commented on #2995
@daN4cat merged the pull request for this last change, so hopefully this is finally done!

[2021-02-20 23:52] ozzylamberth commented on #3109
Okay. Looking at it from another point of view.
Working with:
Oh give me your opinion

Controller / Items
public function index () {

$ filter = $ this-> input-> post ('filter');
$ field = $ this-> input-> post ('field');
$ search = $ this-> input-> post ('search');
 if (isset ($ filter) &&! empty ($ search)) {$ this-> load-> model ('models / Item');
$ data ['Item'] = $ this-> Item-> getItemsWhere

[2021-02-21 01:51] chunter2 commented on #2995
@SteveIreland Looks like it's working now on dev and in my 3.3.2 system with your patches applied.  Thank you for getting to the bottom of this for me.  Now I don't see any change due on debit/credit card transactions.

[2021-02-21 14:33] lsahidin opened #3114 "Fixed amount discounts are not parsed in the configured locale."
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.com

[2021-02-21 17:57] odiea commented on #3114
In Employee permissions do you have everything checked under Sales for correct permissions?

[2021-02-21 21:35] jekkos commented on #2995
Great news, so we're one step closer to do a 3.3.4 now. Thanks both.

[2021-02-21 22:00] SteveIreland commented on #2679
I'm assigning these to myself.  If someone else is planning on contributing some work they've already done on it please let me know so I don't waste my time.
#2275, #2679, #2045, #2285

[2021-02-21 22:03] SteveIreland commented on #2045
I'm assigning these to myself.  If someone else is planning on contributing some work they've already done on it please let me know so I don't waste my time.
#2275, #2679, #2045, #2285

[2021-02-21 22:03] SteveIreland commented on #2285
I'm assigning these to myself.  If someone else is planning on contributing some work they've already done on it please let me know so I don't waste my time.
#2275, #2679, #2045, #2285

[2021-02-21 22:24] SteveIreland commented on #3072
The following tickets appear related.  I'm willing to spend some time on these issues so  I'm assigning these to myself.  If someone else is planning on contributing some work they've already done on it please let me know so I don't waste my time.
#2275, #2679, #2045, #2285, #3072

[2021-02-21 22:41] lsahidin commented on #3114
Yes, sure. I am using admin

[2021-02-21 23:42] cikov commented on #3105
for daN4cat
hello. I can't really handle Weblate and GitHub, so this way I'm sending you translations of files into Bosnian.

[bootstrap-table-locale-all.js.zip](https://github.com/opensourcepos/opensourcepos/files/6018822/bootstrap-table-locale-all.js.zip)
[bootstrap-table-locale-all.min.js.zip](https://github.com/opensourcepos/opensourcepos/files/6018823/bootstrap-table-locale-all.min.js.zip)
[b

[2021-02-22 00:57] SteveIreland commented on #3072
Since this is the cleanest of the set of related tickets I will be using this one for updates/questions/etc.

The first change I'll make is to add a new filter to the detail transaction report that will only list sales within the select date range that have a balance due amount.  I'll also add the balance due amount to the list of payments.  The report itself probably has as many columns of inform

[2021-02-22 02:29] SteveIreland commented on #3072
The following is an example of the first change which I have working at the moment.  This is the Detailed Sales Transaction report.  There IS a balance due filter so that only those sales with a balance due are listed, but it will include the balance due of an individual sale on all flavors of the report.

![image](https://user-images.githubusercontent.com/23066623/108649539-8bd1f100-748b-11eb-884

[2021-02-22 05:23] ozzylamberth commented on #3114
It is a warning error that happens to me when I charge the Client first than the item to be sold, oh when the transaction is about to end I want to increase the quantity of the item. I just remove the sale and charge the item again.
That error only happens in those two ways. It works normally when you load the item, you increase or decrease the amount of it, then load the customer and finalize the

[2021-02-22 06:13] ozzylamberth commented on #3072
I DO NOT believe that at this time the OSPOS collaborators are preparing to carry out the account modules as such. But keeping the accounts payable of the clients is important to have a readable control of the accounts payable in my case it would be assigned in the Client view module as indicated in issue 2679

![capture-20210222-015834](https://user-images.githubusercontent.com/7409604/108668886-

[2021-02-22 08:04] jekkos commented on #3105
@cikov were there official translations for the codeigniter itself in bosnian? Or did you translate these yourself here?

[2021-02-22 08:04] jekkos commented on #3105
I'm not seeing it [in this list ](https://github.com/bcit-ci/codeigniter3-translations/tree/develop/language)

[2021-02-22 08:08] jekkos commented on #3105
@cikov can you provide an email so I can set the copyrights correctly on your contribution?

[2021-02-22 08:49] awank2 opened #3116 "config_timezone_error (TBD)"
Info pemasangan OSPOS: 3.3.3 - 8e52bd
Language Code: id

config_timezone_error (TBD)

config_user_timezone (TBD)
Asia/Jakarta

config_os_timezone (TBD)
Asia/Bangkok

Extensions & Modules:
» GD: Enabled ✓
» BC Math: Enabled ✓
» INTL: Enabled ✓
» OpenSSL: Enabled ✓
» MBString: Enabled ✓
» Curl: Enabled ✓

User Configuration:
.Browser: Firefox
.Server Software: LiteSpeed
.PHP Version: 7.4.14
.DB Vers

[2021-02-22 12:55] SteveIreland commented on #3072
Fortunately for me I still have a job and hope to keep it so writing an account management module is out of the question.  I started one but reality slapped me down.

However, I believe I should be able to add the balance due on the register and on the customer list.

@jekkos should this be a configurable feature or should it be part of OSPOS base package?

[2021-02-22 13:58] cikov commented on #3105
email
cikov19doce47@gmail.com

[2021-02-22 19:50] cikov commented on #3105
in

mentioned.

https://github.com/opensourcepos/opensourcepos/issues/3105#issuecomment-783175550

I translated everything myself.

[2021-02-22 21:22] jekkos commented on #3105
@cikov actually credits should be on your name.. I have created a PR to the official CI repository with your translation.

https://github.com/bcit-ci/codeigniter3-translations/pull/431

[2021-02-23 07:27] dennismwiti opened #3117 "Connection Error"
I'm using the project online and i have changed everything but when i input the username and password the page still remains on the login page and no errors. what could be the problem

[2021-02-23 10:24] #3117 closed

[2021-02-23 10:36] midsoft2010 commented on #3072
I think is add something like credit limit is very Important:- assuming that amount due is the balance the customer owes there should be a column where the admin can add limit( due limit). This means if customer "due limit" or  "credit limit" is exhausted user cannot sell using due or the one you are calling balance to that specific customer who limit has exhausted.

[2021-02-23 10:56] midsoft2010 commented on #3072
![Screenshot (29)](https://user-images.githubusercontent.com/29373167/108834182-e5970000-75de-11eb-8c8e-1f83f0a1279e.png)
something similar to this

[2021-02-23 14:26] cikov commented on #3105
@jekkos dear friend, I looked at both links and I understood that I should have it all on my github account (cikov /). can anyone help me how to do that. I would like to know how to do it myself because of possible future additions or corrections. I've never done things like this and I didn't get along in the instructions. I made a repository on my account. main simply does rehearsals. the other t

[2021-02-24 02:37] SteveIreland commented on #3072
Okay, if no one vetoes this change, then I will add a credit limit amount to the customer table.  If zero then it will be ignored.  If greater than zero then the order entry person will not be able to complete the order if the balance due (unpaid balance) of prior sales for the selected customer PLUS the current order amount is greater than credit credit limit amount.

If a balance due is greater

[2021-02-24 07:23] jekkos commented on #3072
@SteveIreland if a customer has a balance due, how will we process this in the receipt? Will we add an additional payment to make up for this balance? Not sure how this is currently handled

[2021-02-24 09:14] DamianoSilverhand commented on #477
@jimktrains How did the Coupons implementation feature go? we need something similar for our local setup and will appreciate some hints and feedback

[2021-02-24 11:49] cikov commented on #3105
@jekkos i approved these changes

[2021-02-24 13:20] odiea commented on #3111
Has this already been abandoned?

[2021-02-24 13:51] SteveIreland commented on #3072
@jekkos The current payment update panel provides the ability to add a payment against an invoice.  I believe what is currently happening is that the balance due for the sale is computed and the user simply needs to select the payment type.  The user can change the balance due to the amount actually paid (for example if the user was only able to make a partial payment) which will leave a balance d

[2021-02-24 15:06] DamianoSilverhand commented on #3111
@odiea I am still waiting for feedback from @daN4cat on the right way to query my tags so that they show in my customer view. Otherwise that's whats remaining on my end

[2021-02-24 21:23] daN4cat commented on #3111
I'm afraid I'm a bit under the snow at the moment. If anyone else can help....

[2021-02-24 21:54] jekkos commented on #3111
@DamianoSilverhand can you give me access to the repo? I'd like to have a look.

[2021-02-25 01:29] lsahidin commented on #3114
The problem is on discount validation, when I changed the Localization to this value "1.234.567.890,12" (not default localization code) the problem occurs, so to avoid error the discount value on every item in the cart while you update the quantity you need to set value without decimal "0.00" to "0" it will work without error. But when you set Localization back to default en_US with result format

[2021-02-25 02:11] DamianoSilverhand commented on #3111
@jekkos  on it

[2021-02-25 09:52] cikov commented on #3105
to

https://github.com/bcit-ci/codeigniter3-translations/pull/431

mentioned.

https://github.com/opensourcepos/opensourcepos/issues/3105#issuecomment-783683624

hi, i have approved posting a change to system / laguage / bosnian

[2021-02-25 09:55] DamianoSilverhand commented on #3111
@jekkos @odiea  the link to the repo for anyone who would want to check and work on the issue
https://github.com/DamianoSilverhand/ospos/

[2021-02-25 13:01] jekkos commented on #3111
Ok great, could you perhaps create a pull request to our repo for this feature? That would be easier for us to review. You can easily diff with our latest master in git.

[2021-02-25 14:49] DamianoSilverhand commented on #3111
@jekkos alright, will do that as soon as I am free later tonight.

[2021-02-26 07:49] #3077 closed

[2021-02-26 13:12] odiea commented on #3111
With my limited knowledge and looking at the items model don't these values need to be declared in search in customer model somewhere?
	$values = parse_tag_values(array('tag_values', 'tag_dtvalues', 'tag_dvalues'), $row);

[2021-02-26 15:52] #3105 closed

[2021-02-26 15:57] cikov commented on #3105
i don't know what i clicked but i didn't want to close.
not closed.

[2021-02-26 20:52] jekkos commented on #3072
Sounds good.. but will there be a way to track this outstanding debt? I guess it will be visible in the customers section directly. I'm not sure how this is taken into account in for example the takings screen. Do we add up this amount on credit for the daily statements eg?

[2021-02-27 00:33] SteveIreland commented on #3072
My though is to include the current outstanding balance on the customer summary and customer detail reports.  I'll also include it on the register and the daily sales.

When you refer to the Takings Screen are you referring to the invoice update where payment types are adjusted and additional payments are made?  On that panel the outstanding balance is already automatically calculated and the user

[2021-02-27 07:59] maya-tsedeke commented on #1587
Please solve the following error , in OSPOS after first installation ,
A PHP Error was encountered

Severity: Warning

Message: session_destroy(): Session object destruction failed

Filename: Session/Session.php

Line Number: 702

Backtrace:
File: /var/www/ethiomecan.com/application/hooks/load_config.php
Line: 13
Function: sess_destroy

File: /var/www/ethiomecan.com/public_html/index.php
Line: 315

[2021-02-27 14:40] SteveIreland commented on #1587
@maya-tsedeke This is a closed ticket.  Please open up a new ticket providing the information about your environment, version, etc. that's requested.  Thanks.

[2021-02-27 19:18] daN4cat commented on #1587
I bet that code doesn't come from the official release zip files but from GitHub master directly.

[2021-02-28 00:36] SteveIreland opened #3119 "Additional Reporting Discount Rounding Issues"
As I was researching changes for credit tracking I stumbled across a couple of additional programs that needed to be modified to compute discount rounding correctly.  These changes will need to  be made to:
* Summary_payments.php:124
* Summary_taxes.php:46,47,51,52

I can just roll the corrections into the credit project which should be finished well before the end of March. However, if you are ex

[2021-02-28 03:05] SteveIreland commented on #3072
Looked at the customer stats panel and noticed that it only looks at payments to report sales.  So it assumes all sales are paid in full.  In order to repair this situation I will need to replace the query with the more complete version that involves more overhead.

[2021-02-28 15:13] chunter2 commented on #3119
@SteveIreland Any chance you can post the code changes for these and I can test on my data?  I guess I missed these in my testing of the daily sales rounding issue.

[2021-02-28 18:27] SteveIreland commented on #3119
Okay,  I marked up the changes to Summary_payments and Summary_taxes and pushed it up as a branch.

If you go to the branch (https://github.com/opensourcepos/opensourcepos/tree/customer-due-tracking) and look for those two scripts then you'll seen an attempt to communicate what needs to be changed.  Please ignore everything else because everything else is work in progress.

I tested it for both in

[2021-03-01 02:08] chunter2 commented on #3119
@SteveIreland Thanks for the code.  I think I've got it into my system correct.  It seems like the payments due column is now correct.  I'm getting zero there now where I wasn't before.  For the taxes something doesn't seem correct.  I've copied in an example below.  It looks like the total is missing the taxes with your change but I'm not quite sure what's missing in the $sales_total variable.

B

[2021-03-01 03:42] SteveIreland commented on #3119
I was afraid the taxes might not be correct.  Thanks for the feedback.  I'll take another shot at it as soon as I can.

[2021-03-01 11:29] chunter2 commented on #3119
@SteveIreland No rush on this on my part.  :)
Back to the payments report, I found 3 days in my data that have some inconsistencies but I'm pretty sure it's my data.  I can't seem to figure out what the issue is though.  In the example below the Transaction Amount in the Sales line is different than the Total in the page summary at the bottom.  I'm pretty sure those are supposed to be the same.  D

[2021-03-01 14:05] SteveIreland commented on #3119
I believe there may be a different SQL for totals than what's being used for the details.  Something else to check.  :-)

[2021-03-01 18:16] bkrajendra opened #3120 "OSPOS with ElectronJS"
Has anyone tried OSPOS with ElectronJS?
I am planning to add support for it along with standalone distribution for the server.
What are your experiences with this implementation, please share!
https://www.electronjs.org/

[2021-03-01 22:02] jekkos commented on #3119
Let's try to do the fix separately no? I think were quite near the next minor one (just one last issue in #3095)

[2021-03-01 22:22] ozzylamberth opened #3121 "Price Condition"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-03-01 22:30] SteveIreland commented on #3119
ok

[2021-03-02 13:05] objecttothis opened #3122 "Correct Greyed out Submit button when clicking submit twice with validation errors"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2021-03-02 13:08] objecttothis commented on #3122
@jekkos this is just the technical debt description.  I need to have a medical procedure done on 3 March, so I won't be able to fix this until 9 March.  Someone else can take this if the fix needs to be merged before then.

[2021-03-02 14:36] dela-dels opened #3123 "Directory access forbidden when trying to access configurations page."
### Background information

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.com/opensourcepos/opensourcepos/issues?utf8=%E2%9C%93&q=is%3Aissue) and no similar issue was already reported (please make sure you searched!)
- [x] Read [README](https://github.com/opensourcepos/opensourcepos/blob/master/README.md), [WHATS_NEW](https://git

[2021-03-02 22:17] jekkos commented on #3100
@bricas I have done a fix for this. Feel free to validate if this works.

[2021-03-03 07:02] ozzylamberth commented on #3121
This condition works for me in JAVA where I say that (B>-A) A - Equal to the price saved in the Database in Table ospos_items and B catches the data of variable A which when the price of B is increased, allows to perform the next condition Total-B*Quantity/Desct. Otherwise it will be maintained with the same starting value.

![capture-20210303-025241](https://user-images.githubusercontent.com/7409

[2021-03-03 08:03] jekkos commented on #3123
This is something related to your setup. Maybe your webserver is intercepting the url due to some specific .htaccess configuration?

[2021-03-03 08:05] jekkos commented on #3122
I'll see if I can find the time and motivation to look into it. Thanks for letting us know. Good luck with the medical intervention.

[2021-03-03 10:28] dela-dels commented on #3123
Maybe, can't tell since I didn't touch the .htaccess file. Just left everything as is and only followed installation instructions.

[2021-03-03 13:58] odiea commented on #3111
It would be great if someone could find out why the tags are not showing in the Table view.

[2021-03-03 14:48] jekkos commented on #3123
maybe omit the public from the url? Does it work in that case?

[2021-03-03 14:48] jekkos commented on #3123
Could be a wrong rewrite rule

[2021-03-03 16:15] bricas commented on #3058
Just dropping a note here to say that upgrading to 3.3.3 in our docker-based deployment (https in front) led to issues where we couldn't save anything. Disabling `csrf_protection` was a "work-around", but I'll have to see whatever else is mentioned in this ticket.

[2021-03-03 19:40] jekkos commented on #3058
Correct.. to fix this you could pull the latest master from docker hub instead.

[2021-03-03 19:48] daN4cat commented on #3123
We should probably review the .htaccess. I sense some people might get issues with the follow symlink if owner.

[2021-03-04 02:28] SteveIreland commented on #3120
Apparently not.  So many technologies ... so little time.

[2021-03-04 08:31] jekkos commented on #3120
@bkrajendra No haven't worked with it.. it looks nice though. What advantages do you see in comparison with using a browser?

[2021-03-05 03:23] #3084 closed

[2021-03-05 05:05] ksamiuddin commented on #2182
Hello please set ´ENVIRONMENT´ to development, to see the error in more detail.
modify this line in index.php
from define('ENVIRONMENT', isset($_SERVER['CI_ENV']) ? $_SERVER['CI_ENV'] : 'production');
to define('ENVIRONMENT', isset($_SERVER['CI_ENV']) ? $_SERVER['CI_ENV'] : 'development');
and post the error to help you.

I Try this and got this ERROR

An uncaught Exception was encountered
Type: R

[2021-03-06 16:17] daN4cat commented on #3120
Desktop App? That's ortogonal to SaaS idea.... if we had a REST API you could build your UI with whatever you wanted but we would need to manage the authentication with something external.

[2021-03-08 01:32] SteveIreland commented on #3119
A pull request was submitted for this.

[2021-03-08 08:53] #3085 closed

[2021-03-09 06:59] izeblood opened #3126 "Reset Counter number"
Can we reset the counter number specifically the receipt number of the OSPOS?

[2021-03-10 10:28] objecttothis commented on #3122
@jekkos sorry I didn't take a look at this yesterday.  I have a hard deadline that came up to implement an online payment method on our website, so I've had to focus on that.  I may be able to find the time to fix this bug in the next few days, but if I don't we have a couple of options.

- Someone else could fix it.
- We can wait for me to fix it before creating the bugfix release.
- We could rel

[2021-03-10 21:23] jekkos commented on #3122
I went ahead and had a quick look. I think the issue was that calling is_valid before submit does not give a correct result as the form validation is only triggered after the call to submit()

Do you know if the submit is blocking in a way here? I mean, do I need to call validate() before submit or can we keep it like this? I was thinking that doing it in this order might beat the purpose if the s

[2021-03-11 10:50] roby1thecoder commented on #985
hello , I'm getting  same  error am using ospos 3.3.2. and also tested on ospos 3.3.3
First the  file format of the csv when i download  i don't see the column for quantity.
I tried  to  follow the manual but  does not show  exactly how  to  go about the quantity  column position. please I will appreaciate any help.Thanks
[import_items (35).xlsx](https://github.com/opensourcepos/opensourcepos/file

[2021-03-11 22:41] ozzylamberth opened #3127 "Export product receipt invoice in Receiving Module"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-03-12 00:41] jimktrains commented on #477
@DamianoSilverhand I'm sorry it's taken so long to respond to you. I will write up something about what I did. It's been working well for us.

I also want to apologize to the community as a whole. I wasn't able to get the time I needed to merge from the public master and clean up the implementation in order to commit it back.  I  will try again to get a little time to, but I can't promise a timeli

[2021-03-12 04:47] jimktrains commented on #477
@DamianoSilverhand The biggest thing I did was restructure how the cart was computed. I had a "Cart" model that had some methods and a list of "Cart_Item"s and a list of "Cart_Coupon"s.  The coupons would be sorted by the Cart (more on that later), then each Coupon would be passed the list of "Cart_Item"s. If the coupon's subtotal threshold was reached, the stock floor hadn't been reached, and the

[2021-03-12 07:35] roby1thecoder commented on #985
I understood the problem and fixed, I didn't understand the new template and the values have  to in and restriction of the data  format and type, the manual given online is old probably is  for ospos v3.0 and below, the new one 3.3.2 and 3.3.3 the database has changed . I had to go through the Items controller and understand  what data are passed in and how are handled, the errors happens and data

[2021-03-13 01:46] andriux1990 opened #3128 "gift card consumed in quote"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-03-13 02:22] andriux1990 opened #3129 "Fixed Discount bug on item kits"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-03-15 00:10] sirgabi23 opened #3131 "Generation of Reports"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2021-03-15 05:33] bkrajendra commented on #3120
@daN4cat , yes I understand the Desktop app is orthogonal to Saas, But what I am talking about here is the UI part, which can be made fast and modern by using Angular/React front ends.
Server-side installation of OSPOS can be kept separate part, which will remain as it is now, except handling REST part need to be added.
But my use case is mostly to distribute the entire system to clients/users, wh

[2021-03-15 09:19] jekkos commented on #3129
So the discount should be multiplied by the weight of the quanitty / item count for each item here?

[2021-03-15 17:43] daN4cat commented on #3120
On top of REST API, you need an Identity Provider based on OpenID Connect OAuth 2.0 protocols and have an access control story on the web service implementing the REST API. Quite some stuff to build and we are still stuck on an old style MVC application....

[2021-03-15 21:12] andriux1990 commented on #2989
It has happened to them that in certain cases the other additional prices when the item is saved .. if the item has decimals at the time of being saved this is rounded the price

example .. if the item is worth $ 3.6 then it is rounded to $ 4

[2021-03-16 13:16] Alakodi opened #3132 "PDF character encoding issues in table export"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-03-16 13:19] Alakodi commented on #3132
![Capture](https://user-images.githubusercontent.com/63294200/111315413-95c8b900-861f-11eb-8bc7-e4ae047eee60.JPG)

[2021-03-16 13:20] Alakodi commented on #3132
please help me to solve this problem

[2021-03-16 13:27] Alakodi commented on #3132
![Capture](https://user-images.githubusercontent.com/63294200/111316630-aa598100-8620-11eb-90c1-b5a13c6cffd2.JPG)

[2021-03-17 04:30] ffurxio opened #3133 "Rewrite .htacces doesn't work"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2021-03-17 05:57] daN4cat commented on #3133
Hi, the /ospos/public/index.php is the right thing.

What about this rule:

+SymLinksIfOwnerMatch

is that fine with your setup?
See if changing it with just +FollowSymLinks works or not.

If it does you need to fix your apache installation because the original option is the secure one.

[2021-03-17 06:11] daN4cat commented on #3133
I'm not a deep expert in Apache config, I never had the time to.
However, also check that the rule AllowOverride All is required in Directory / statement.
Again I'm not sure that's really required, do some homework please.

[2021-03-17 06:20] daN4cat commented on #3133
If nothing works, post on Stackoverflow the question under generic CodeIgniter 3 question and see if someone can help you.

[2021-03-17 08:23] jekkos commented on #3132
That might be an encoding issue. Do the letter show properly outside of the report?

[2021-03-17 08:26] jekkos commented on #3122
@objecttothis did you have any chance to validate my fix? Then we can close and do the release.

[2021-03-17 08:59] Alakodi commented on #3132
No problem was encountered before exporting the file. Character mixing process takes place after opening it with pdf

[2021-03-17 14:56] chunter2 opened #3134 "Count column in Tax Summary Report seems incorrect"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-03-17 16:14] ffurxio commented on #3133
@daN4cat Sadly nothing work, i remember that i had similar error long time ago with laravel so i think is something with the apache and the rewriterule but i can't remember what was the solution (didn't put attention to the professor), i'm gonna try to post on Stackoverflow and see if i can find the solution.
Also @ozzylamberth was able to install in a subdir on widows machine with xampp like me i

[2021-03-17 16:58] odiea commented on #3134
Count appears to be the number of Sales that included the Taxes.

[2021-03-17 17:25] objecttothis commented on #3122
Sorry. I'll do it first thing in the morning.

[2021-03-17 20:08] chunter2 commented on #3134
@odiea I think this is correct then.  Maybe Count should be renamed to Sales?

[2021-03-17 21:05] chunter2 commented on #3134
@odiea Just looked at this again and I think it's the number of lines in the ospos_sales_items table with that tax.  So I think it should be either the number of unique sale_id with that tax from the ospos_sales_items table or the total item_id including quantity with that tax.  Does that make sense?  Basically right now I've got a count value between my total sales and my total items.

[2021-03-17 21:51] odiea commented on #3134
I just went into summary report for taxes and changed the count to array('report_count' => $this->lang->line('reports_completed_sales')), and now it shows Completed Sales which may be more informative then count.

[2021-03-18 00:18] chunter2 commented on #3134
So this just changes the name of the column.  The values would be incorrect with that title.  Maybe an example will help.  For today we had 75 transactions and a quantity of 400 items sold taken from the Summary Transaction report.  In the Summary Taxes report we had a count of 212 at 13% and 51 at 5%.  These 212 and 51 numbers don't add up to 400 and they're more than 75.  They're just the indivi

[2021-03-18 07:36] objecttothis commented on #3122
@jekkos Here's the problem:

[code]
`console.log(validator.invalid);` on the first click with validation errors returns:

[code]
which means that `const is_valid = !$.isEmptyObject(validator.invalid);` evaluates to false.  On the second click `console.log(validator.invalid);` returns:
[code]
I apologize but because of this payment method deadline on our website, I don't have the time to investigat

[2021-03-18 07:37] objecttothis commented on #3122
To clarify, I can tackle this on April 6th (before if I finish this online payment method early) or someone else can jump on it.  Sorry for the delays.

[2021-03-18 08:46] jekkos commented on #3122
@objecttothis did you see the fix that I did in master? I think the issue is that the validator is only triggered after you click the submit.

My question was whether we need to grey out the button before the submit is called? Was that the purpose of this story?

[2021-03-18 11:48] objecttothis commented on #3122
Oh sorry.  I did not see that fix.  I'll take a look.  The purposed was to grey out the submit and disable it on click except when there are validation errors.  The greying out (changing opacity) is just a visual identifier that the button has been pressed so that the user doesn't sit there wondering on a large import or long-running script whether the app registered the click.  That said, the two

[2021-03-18 11:56] objecttothis commented on #3122
@jekkos the fix you merged with the database works on my system.

[2021-03-18 11:56] #3122 closed

[2021-03-18 18:37] daN4cat commented on #3133
Please write the solution here when you find one.

[2021-03-18 21:57] SwayerPT opened #3135 "Configuration Page"
- OSPOS version is: 3.4.0 - 12d79b.
-
### Issue / Bug  / Question / New Feature

This bug happens when i oppen CONFIGURATION PAGE
==================================================
A PHP Error was encountered
Severity: 8192

Message: Array and string offset access syntax with curly braces is deprecated

Filename: barcodes/Ean8.php

Line Number: 115

Backtrace:

File: D:\xampp\htdocs\pos\applicatio

[2021-03-18 23:24] SteveIreland commented on #3135
We don't yet have a 3.4 release.

There are unstable versions of OSPOS found in BinTray (which will be obsolete in a few days).

The latest build is https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20210317133526.master.6df9ac.zip

[2021-03-18 23:44] SwayerPT commented on #3135
Nice. You should Add a new thing for PORTUGAL.
Example: Contribution ID. Some clients ask to put in their fiscal discounts using Contribution ID number in the recipe, others not.

[2021-03-19 03:21] SteveIreland commented on #3135
To be honest only features that find widespread use are added to OSPOS. Requirements that would only be used in a single country would probably require that you fork OSPOS and add the feature to your own fork.  Based on your brief description of what you want I wouldn't understand enough to do any work.  If you want a good chance at having someone volunteer to add a new feature you should create a

[2021-03-19 03:21] #3135 closed

[2021-03-19 09:07] daN4cat commented on #3135
Maybe the customer attributes feature could do if we allow them to be added to invoice and receipts.

[2021-03-19 09:09] daN4cat commented on #3135
BTW it's amazing how many rules people can come using OSPOS in different countries of this world.
All this development and experience built a database of requirements that it would be difficult for any people to build on their own.

[2021-03-19 09:15] daN4cat commented on #3135
I mean, only what you built @SteveIreland with all the taxation system is impressive. When I started with ospos predecessor there was only a notion of two taxes level.
For me there is only a fixed VAT rate. However, I reckon that Internet sales introduced a new set of problems and Steve, you did an amazing job in building all the flexibility required. Truly impressive and thanks a lot for all your

[2021-03-19 10:23] SwayerPT opened #3136 "Add a Client Taxpayer Number"
### Ideia
In Portugal every client have a taxpayer number that can be used in recipes or not. That will depend if the client asks for that.

### Making work
- Add a new column when creating a client with a name Taxpayer (in portuguese "Contribuinte") (not necessary to add)
- After making a sale in any mode the sale will add the taxpayer into the recipe with a field called "TaxID: XXXXX or dependin

[2021-03-19 13:53] odiea commented on #3136
In receipt default you can change the customer line to the following and if they have a tax id it should show.
<div id="customer"><?php echo nl2br($customer_info) ?></div>. Try it and see if this works for you.

[2021-03-19 18:48] #3093 closed

[2021-03-20 13:35] SteveIreland commented on #3136
When adding a customer, if you scroll down, there is a field labeled "Tax Id".  It seems that, based on the title of this issue, that should do the job.  The original design reason was that this is the number issued by the government to those who are exempt from taxes.  Not much is done with this field other than capturing it and printing it.  Looking at the code, I can see that there is an attemp

[2021-03-20 20:11] JarodJ98 commented on #3078
I'm having the exact same issues as objectothis...
When I attempt to use the build you've posted below I get an error when trying to even launch OSPOS
"Localhost cannot handle the request, HTTP error 500"
This is really getting on my nerves, I've edited this damn CSV file probably 50 times trying to get it to import and it just wont. I made my own from scratch, I used the template, I used CSV file

[2021-03-20 21:55] SwayerPT opened #3137 "Box Open & Box Close"
### Box Open & Box Close

The POS should have a way to register the Cash In and Out from the box.
Example… starting the morning openning the Box with “today date, amount in box”, then “final of the day close the Box with the amount in box”.
Every POS have this option, it’s obligatory

[2021-03-20 22:22] chunter2 opened #3138 "Daily Sales overall Cash total changes when switching pages"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-03-20 22:54] odiea commented on #3137
Cashup module is already there. Try using it

[2021-03-20 23:04] SwayerPT commented on #3137
Humm where is located to activate or what is the name? “Sorry for asking”.

[2021-03-20 23:13] odiea commented on #3137
I do not know what language you are using but here is a pic of the English lang modules.
![2021-03-20 17_11_59-Window](https://user-images.githubusercontent.com/10962177/111888151-9060cb00-899f-11eb-9451-3d51e448c05c.png)

[2021-03-20 23:16] SwayerPT commented on #3137
Wow ok.
But to use that module it’s required to use the first and last date right now. And for cashup it should start by the first date and amounts (openning), then “update” with last date and amount. (Closing)

[2021-03-21 00:49] SteveIreland commented on #3138
I never noticed that, but I can't say I ever looked at it closely.  My test sets are rather small and rarely go to a second page.  I believe the values should change only if the search criteria changes.  I'll take a look at it this week.

[2021-03-21 17:29] objecttothis commented on #3078
@JarodJ98 what build are you using.  Are you using the csv file that is generated for you?  Even for the older versions the first thing that I see from your example is that you have the % and $ in your values and those shouldn't be in there.

[2021-03-21 17:41] objecttothis commented on #3078
Also, the new builds with my rework of the import use a different CSV template that gets generated based on which attributes and stock locations you have in the system.  You won't be able to use the old template on a new build and you'll have to re-download the template any time you make an addition to stock locations or attributes.

[2021-03-21 18:17] JarodJ98 commented on #3078
I'm trying to use the build that you've listed here and I've tried the newest build but none of them seem to even work with XAMPP at all, they just throw me an error when even trying to get into localhost/ospos/public. I can try looking into the common installation problems later today when I get a chance I guess?

[2021-03-21 19:33] jekkos commented on #3133
@ffurxio any updates? did you get it working?

[2021-03-21 19:37] jekkos commented on #3132
Might be related to #649.

[2021-03-21 21:44] jekkos commented on #3132
you mean you had no issues in older versions?

[2021-03-21 21:46] jekkos commented on #3132
Very likely that this is a jsPdf issue. It seems that in order to support utf8 we might need to add a custom font to the PDF.

[2021-03-21 21:47] jekkos commented on #3132
From their documentation

[code]

[2021-03-21 21:51] #3100 closed

[2021-03-21 21:54] #3126 closed

[2021-03-21 21:57] #3096 closed

[2021-03-21 22:01] jekkos commented on #3133
Can you try to comment out line 11
`#Options +ExecCGI +Includes +IncludesNOEXEC +SymLinksIfOwnerMatch -Indexes`

[2021-03-21 22:09] jekkos commented on #3133
Do you have mod rewrite enabled in apache?

`a2enmod rewrite`

[2021-03-21 22:09] SteveIreland commented on #3138
@chunter2 I just went through a couple of test scenarios but could not replicate the issue.  Can you provide a bit more information about the types of sales and your configuration?  Such as what type of taxing are you using?  Internal tax or Sales tax?  Do your sales involve tax rounding?  (I tested with tax rounding an nothing seemed to change.)  Do you have an idea of where the differences might

[2021-03-21 23:43] SteveIreland commented on #3128
I also tested the scenario where a sale is entered and a payment is added using a gift card value of $5.  Then the sale is suspended.  Checked the gift card and the value was zero.  I then canceled the suspended sale and the gift card value remained zero.  I would have expected the gift card value to return to $5.

[2021-03-22 00:34] SteveIreland commented on #3128
I will need guidance on this.  A quote or work order is essentially a suspended sale.  So the issue regarding gift cards is the same.  The save method in the Sale.php model is used for all and it reduces the gift card amount at the point that it is saved.

I believe that the correct change is to condition the gift_card update to only reduce the gift card amount during save when the sales status go

[2021-03-22 00:46] chunter2 commented on #3138
@SteveIreland I just checked the dev server and it looks like it was updated or cleared so my tests are gone.  I just recreated 11 sales there.  If you go to the daily sales for today and choose 10 per page and then switch pages you'll see the cash total change per page but the other two don't.  I didn't use tax or discounts for this test.

[2021-03-22 01:09] odiea commented on #3128
On a Quote I would suggest blocking any kind of payment. After all it is just a quote

[2021-03-22 01:13] SteveIreland commented on #3128
That makes sense to me.  :-)

[2021-03-22 02:05] SteveIreland commented on #3138
Okay, thanks for the info.  The difference in the cash reported between the first page and the second page was 40.08 which is the amount of the change due.
According to the code, amount refunded from cash transactions should be deducted from the payment amounts before display the payment summary at the bottom of the page.  So the first page is correct and for some reason the cash refund isn't bein

[2021-03-22 03:08] ffurxio commented on #3133
@jekkos i made it work but not in the apropiate way because i modify the apache.conf to make the root dir a subfolder.
And yep i have already enable so i give up and leaved like that.
Maybe is just me so i'm gonna close the issue :c

[2021-03-22 03:08] #3133 closed

[2021-03-22 05:36] Alakodi commented on #3132
I am using Version 3.3.3 but I solve this by print button in reports page .This problem caused when export file as pdf and other files have no problem

[2021-03-22 07:37] #3089 closed

[2021-03-22 08:42] jekkos commented on #3132
Ok but can you confirm that this export to pdf worked in older versions?

[2021-03-22 09:46] #3112 closed

[2021-03-22 09:48] jekkos commented on #3127
I'm not really sure what the question is here .. do you still needf help?

[2021-03-22 09:50] jekkos commented on #3116
This TBD typically means that there is no translation for this string in your language. You can fix this using weblate, just log in using github account and look for the config component.

[2021-03-22 09:50] #3116 closed

[2021-03-22 09:53] jekkos commented on #3114
do you mean that the discount field is not rendered according to the chosen localization format and you need to edit it in order to make it work in that case?

[2021-03-22 09:53] jekkos commented on #3109
@ozzylamberth anything else you need help with? Can we close? Thanks.

[2021-03-22 09:56] jekkos commented on #2985
PR in #3118

[2021-03-22 09:56] jekkos commented on #2985
Will close as we're tracking this in another ticket

[2021-03-22 09:56] #2985 closed

[2021-03-22 09:56] #2958 closed

[2021-03-22 09:57] jekkos commented on #2958
Feature is in master

[2021-03-22 10:01] jekkos commented on #1426
related to #3131

[2021-03-22 10:42] objecttothis commented on #3078
@JarodJ98 understood.  In order to determine what is causing the problem, we need to get at the error logs that are generated for your server.  They will tell you more about the error.  It could be files permissions or something else. https://stackoverflow.com/questions/3719549/where-does-phps-error-log-reside-in-xampp

You may also want to enable the debug log in OSPOS.  That will tell you errors

[2021-03-22 12:43] janab381 commented on #3137
You can Update the Date Closed when entering the closing Cash and Selecting Today from Date Picker. It will auto select current data and time.

[2021-03-22 12:43] JarodJ98 commented on #3078
@objecttothis
[error.log](https://github.com/opensourcepos/opensourcepos/files/6182127/error.log)
There is the error log for the server. I've also turned on application error log and database logging. I can't seem to find the file I need to edit to enable PHP logs, but as long as we can figure out the issue I'm happy.

[2021-03-22 13:50] SteveIreland commented on #3136
I believe the question may have been answered to the satisfaction of the original poster.  Unless I'm missing something I think this question can be closed.

[2021-03-22 13:58] #3136 closed

[2021-03-22 14:03] SteveIreland commented on #3128
Unless somebody doth protest too much, the change I will make will be to somehow make it not possible to enter a payment against a quote.  @jekkos? - thoughts?

[2021-03-22 20:22] ozzylamberth commented on #3127
How about Jekkos if I'm still at it what I need is to export a list of items instead of one by one invoices that arrive again inventory exceed 100 items and entering it one by one is a complicated task when you need the updated inventory. That's why I'm looking for ways to export the purchase invoice to the system globally while respecting all the steps of receiving

[2021-03-22 21:31] jekkos commented on #3128
Yes sounds good to me. We should not clobber the sale table with payment data for quotes.

Do your recall how the technical conversion works if a quote is converted to an actual sale? Do we copy the quote into a sale?

[2021-03-23 06:15] Alakodi commented on #3132
let me try the old version and can answer you

[2021-03-24 08:19] lsahidin commented on #3114
yes sir, like as you mean discount field not rendered according to chosen localization format. thanks for your attention.

[2021-03-24 15:20] Alakodi commented on #3132
The same thing in old version

[2021-03-24 15:36] jekkos commented on #3132
Ok great (not great) thanks for the confirmation.

[2021-03-25 09:13] Alakodi commented on #3132
Thanks for this reply jekkos. I solved that using print button because all other programs have same issues when exported as pdf
.when I exported data as excel file this problem is not caused

[2021-03-25 10:56] jekkos commented on #3132
@Alakodi I read that the issues might be resolved with the latest jsPDF. I'm trying to make a build with that version now.

[2021-03-25 16:37] JarodJ98 commented on #3078
@objecttothis
I changed in index.php from production to development and got this error message:
![image](https://user-images.githubusercontent.com/81044527/112509433-3715e480-8d6f-11eb-85b1-c776e77954da.png)
Not sure if this helps at all but I'm trying common issues from wiki and videos and not getting anything.

[2021-03-25 17:29] objecttothis commented on #3078
Did you follow this guide? https://github.com/opensourcepos/opensourcepos/wiki/OSPOS-using-Xampp-(recommended-for-testing-or-local-use-only). Please post the output of phpinfo(). Also, can you confirm that other php applications are working from this install? You'll need to eliminate what's not causing the problem and that might help you figure it out.

[2021-03-25 17:32] objecttothis commented on #3078
The error you posted is a database connection error. Are you sure that the database is setup, that the user you've specified has access to it and you've put your database settings into the database config file?

[2021-03-25 21:31] JarodJ98 commented on #3078
@objecttothis
Yes today I did a fresh install using that guide:

https://github.com/opensourcepos/opensourcepos/wiki/OSPOS-using-Xampp-(recommended-for-testing-or-local-use-only).

I enabled all the extensions, I downloaded the latest build of OSPOS just posted yesterday made a new database and imported it but still the same error.

Also I no longer get the database error so I'm guessing there is

[2021-03-25 22:21] jekkos commented on #3132
I have checked a bit further, and it's not very straightforward to fix this.
tableExport describes a way which is using another pdf export lib, specifically for arabic / chinese.
As you have a workaround for now, I'd prefer not to spend too much time on this.

https://github.com/hhurz/tableExport.jquery.plugin

[2021-03-26 04:14] #3108 closed

[2021-03-26 07:50] jekkos commented on #3127
you can use the receivings report for this? Or do you want to do a bulk inventory update? In that case you can use bulk edit but it depends on the action you want to do

[2021-03-26 13:37] Alakodi commented on #3132
Thanks for your time . I wish all the best #jekkos

[2021-03-26 18:56] odiea commented on #3111
Looks like another one got scared off.

[2021-03-26 19:26] daN4cat commented on #3111
The night hasn't started yet... @odiea

[2021-03-26 19:41] objecttothis commented on #3078
@JarodJ98 from your server logs, there are a couple of errors:
`AH01276: Cannot serve directory C:/xampp/htdocs/ospos/public/uploads/item_pics/: No matching DirectoryIndex (index.php,index.pl,index.cgi,index.asp,index.shtml,index.html,index.htm,default.php,default.pl,default.cgi,default.asp,default.shtml,default.html,default.htm,home.php,home.pl,home.cgi,home.asp,home.shtml,home.html,home.htm) fou

[2021-03-26 19:45] objecttothis commented on #3078
@JarodJ98 This is the log you need to enable (https://github.com/opensourcepos/opensourcepos/wiki/OSPOS-DEVEL-for-Error-Logging-in-OSPOS#application-error-log)  Can you get to any pages in OSPOS?  For example, can you login?  If you can, please login and go to Office > Configuration > Setup & Config and copy/paste the results in that file to this issue.

[2021-03-26 20:50] JarodJ98 commented on #3078
I enabled that log level 4 yesterday but I can't post it here it's a PHP file.
I cannot log into OSPOS at all, the login screen doesn't come up using any of the newer builds.
I get the HTTP 500 internal error with any of the 2021 builds.
I honestly don't understand how an old build works completely fine, I try a new build with the exact same steps and it won't even load the login page.
I've gone t

[2021-03-26 21:11] objecttothis commented on #3078
Generally you always need to use the builds that say master on them. Other builds will be potentially unstable.  Here is the most recent one: https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20210325222227.master.d701f7.zip

You might try a fresh database using the database.sql script.  and see if that eliminates the issue.

[2021-03-26 21:42] JarodJ98 commented on #3078
Yeah I've always download the master version, and I've always deleted the ospos database before adding a new build.
I honestly have no clue why only one version works, I don't even know much about PHP or Apache just a little bit about mysql databases. I was only trying to help a friend replace his paid software, guess I'll just have to tell them I am unable because I cannot wrap my head around thi

[2021-03-26 21:59] odiea commented on #3078
Have you tried to edit the index.php and change from production to development.
Then press f12 or inspect in the browser while trying to load the program then check to see what is going on in network?

[2021-03-26 22:36] royunderwood commented on #3078
@JarodJ98 Just to clarify, currently, you are not able to get the login screen to work, or you are able to login but no functions work?

Are you able to connect to your database via shell successfully using the same credentials you provide in the config? If not, is there are firewall blocking access to your database port 3306 or modified port #? I assume not as you mentioned previous builds worked

[2021-03-26 23:22] JarodJ98 commented on #3078
@odiea
Yes that was something suggested in one of the previously closed issues. This is what I got:
![image](https://user-images.githubusercontent.com/81044527/112701454-70357e00-8e6f-11eb-988f-b292116e9940.png)
![image](https://user-images.githubusercontent.com/81044527/112701465-7b88a980-8e6f-11eb-9a76-40c8bafb3397.png)

@royunderwood
Sorry if I wasn't super thorough. The only time I have ever b

[2021-03-26 23:26] objecttothis commented on #3078
Those errors are telling me that perhaps you didn't change the username, password and database name in the database config file.

[2021-03-26 23:28] objecttothis commented on #3078
That file is in /application/config/database.php

[2021-03-26 23:31] JarodJ98 commented on #3078
I shouldn't have to change the database name it should be ospos.
I changed the username and password just now and I still got the exact same errors:
![image](https://user-images.githubusercontent.com/81044527/112702422-269a6280-8e72-11eb-91dc-2a8c15d7a6ed.png)

It's like beating my head against a rock at this point, nothing i've done has gotten me any closer to it loading lol

[2021-03-26 23:39] objecttothis commented on #3078
How are you managing the database in mysql? Are you using the command line interface or something like phpmyadmin? Your username/password is definitely the problem.its possible that the username and password are correct but that user does not have privileges to access that database.  In order for lapis to work, you'll need to create the database, give user access to it, run the initial sql file on

[2021-03-26 23:42] objecttothis commented on #3078
The table creation script is in /database/tables.sql

[2021-03-27 00:09] royunderwood commented on #3078
Looks like sql Login permission problem. When you granted permissions, you may have not granted proper permissions for the user. I’m assuming the sql is on the local host?
try these 2 commands
CREATE USER 'admin'@'localhost' IDENTIFIED BY 'pointofsale';

GRANT ALL PRIVILEGES ON ospos.* TO 'admin'@'localhost';

[2021-03-27 00:11] JarodJ98 commented on #3078
I'm using phpmyadmin.
![image](https://user-images.githubusercontent.com/81044527/112703887-526c1700-8e77-11eb-9e50-abefd30fd9ea.png)
Here's proof hostname: localhost, username: root has access.

I've also changed database.php config file to match:
![image](https://user-images.githubusercontent.com/81044527/112703946-8cd5b400-8e77-11eb-8a94-61f9f0188433.png)

I took out the password to show you bt

[2021-03-27 00:34] royunderwood commented on #3078
@JarodJ98 There is the culprit.  **Good Job!**
It seems your database is toast.  I would rename it all together, and start a new mysql database, copy over the data from your "good" database.
Site should load good after that.

[2021-03-27 00:45] JarodJ98 commented on #3078
Hmm I renamed that corrupt database, downloaded the latest build and imported it and I still got the same error I posted above.

![image](https://user-images.githubusercontent.com/81044527/112705208-8138bc00-8e7c-11eb-85ee-84efe10f1bd6.png)
Looks like databasename.ospos table doesn't exist, wonder why that would be?

[2021-03-27 00:54] royunderwood commented on #3078
@JarodJ98 Try this way:

Open Command Prompt

cd C:\Program Files\MySQL\MySQL Server 5.5\bin. (or whatever version mysql you are using"5.5")

mysqlcheck -r ospos  -u root -p

You will be prompted for the root password.
This will attempt to repair the database ospos

Run it again with this

mysqlcheck -r mysql -u root -p

You will get verbal confirmation of errors and OK.

[2021-03-27 01:00] JarodJ98 commented on #3078
@royunderwood
Oh man I don't even have a folder named MySQL... Specified path was not found, checked both Program Files and Program Files (x86).
I swear I feel like the biggest idiot right now seems like I've done nothing right or something.

[2021-03-27 01:05] gengyunxiang commented on #546
Nginx NOOOO!!!!
Apache OK!!!
Solve the login 404 problem ospos and opensourcepos

[2021-03-27 01:05] gengyunxiang commented on #2676
Nginx NOOOO!!!!
Apache OK!!!
Solve the login 404 problem ospos and opensourcepos

[2021-03-27 01:13] royunderwood commented on #3078
@JarodJ98 this is a learning experience, no need to beatup on yourself.  We are all here to help!
Try to re-install or attempt a stand-alone install of Mysql on the windows box and then try loading the pos website again.
I'm home all night now if you need more assistance.

Mariadb and mysql both use same commands, the check and repair will work for either DB-server.

Here is a link to the standalo

[2021-03-27 01:59] JarodJ98 commented on #3078
Okay I used the standalone installer and installed server only
![image](https://user-images.githubusercontent.com/81044527/112706961-87339a80-8e86-11eb-89ed-2479309e0520.png)
This is what I got...

Also:
![image](https://user-images.githubusercontent.com/81044527/112706970-974b7a00-8e86-11eb-81fd-5248d5d05ceb.png)
Seems everything is running and all that.

I just feel lost this entire process and

[2021-03-27 02:06] royunderwood commented on #3078
@JarodJ98 can you DM me on twitter? @linuxroy

[2021-03-27 02:14] JarodJ98 commented on #3078
@royunderwood
Do you have your DMs set to private, I've followed you but it says unable to message

[2021-03-27 02:16] royunderwood commented on #3078
@JarodJ98 I just checked, says not private...

[2021-03-27 02:18] royunderwood commented on #3078
I msg @slam

[2021-03-27 04:24] JarodJ98 commented on #3078
I want to say thank you guys for your help, it's been stressful but me and Roy figured it out.

[2021-03-27 08:33] DamianoSilverhand commented on #3111
@odiea  still up for it, been so busy with work. Give me a sec

[2021-03-27 10:58] jekkos commented on #3111
Yeah would love to see this landed in master.. let us know if anything is unclear or if you need some help @DamianoSilverhand

[2021-03-27 11:45] DamianoSilverhand commented on #3111
@jekkos I am almost done with the suggested changes and extended the person attributes to employees and suppliers ,but I will need help with displaying the person attributes in the respective modules , I haven't done any queries to get the person attributes to display as I was getting errors with my sql. Will be pushing my changes to #3118 in the next hour

[2021-03-27 13:55] odiea commented on #3111
@DamianoSilverhand do you have a different branch I can download this for testing purposes?

[2021-03-28 13:40] #3119 closed

[2021-03-28 13:50] odiea commented on #3020
502 Bad Gateway
nginx/1.18.0 (Ubuntu)

[2021-03-29 07:40] bhojkamal opened #3140 "Cannot import item from excel - .xlsx or . csv file."
### Importing Item Issue - importing item is not succeed.

__Note.: I have to insert data one by one only__

Error - "There were 2 item import failure(s) on line(s): 2, 3. No rows were imported"

I tried to import items from  .csv file. But it could not be done.

### Installation information

- OSPOS version is: 3.3.2 / 3.3.3
- OSPOS git commit hash is:
- PHP version is: 7.3 & 7.4
- MySQL or Maria

[2021-03-29 08:39] jekkos commented on #3140
@bhojkamal Maybe also post the excel or data that you tried to import. There is no way we can otherwise look in to this.

[2021-03-29 16:22] DamianoSilverhand commented on #3111
@odiea I have pushed my changes to #3118

[2021-03-30 06:59] jekkos commented on #3020
Should be good now .

[2021-03-31 06:05] luister1 commented on #2989
@ayieye hey there..i tried all the steps you've suggested multiple times still couldnt get the register mode(drop down menu)in the sales page to show up the wholesale,retail,van sale modes...i have little to no knoweldge in programming...its an amazing addition to ospos..i really want this addition..would you mind helping me out.

[2021-03-31 06:24] vnwildman opened #3141 "Translation must be post processing"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2021-03-31 08:30] vnwildman commented on #3141
I mean you would apply my script when you release, not in git repo.
Thanks,

[2021-03-31 08:45] jekkos commented on #3141
Ok I see you are writing to a `_new` file, so we might have duplicates for every translation file then?

[2021-03-31 08:45] jekkos commented on #3141
Thanks for the translations btw

[2021-03-31 11:04] meetmec12 opened #3142 "Change Whosale price string to Cost Price and Retail Price to Selling price"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-03-31 11:10] meetmec12 commented on #3142
I finally igured it out on application/language/..  thanks

[2021-03-31 11:10] #3142 closed

[2021-03-31 12:06] ayieye commented on #2989
@luister1  what do you have?

[2021-03-31 17:51] luister1 commented on #2989
@luister1 when adding new products i was able to create the required fields to enter the wholesale,retail and vansale prices but these options doesnt show up on the register mode except the default modes(retail,return,quote and invoice).

[2021-03-31 19:07] luister1 commented on #2989
@ayieye i was able to create the fields to enter the wholesale,retail and van sale prices when entering the items however these options cease to show up on the register mode in the sales page
![fields](https://user-images.githubusercontent.com/81671476/113197573-78802580-9282-11eb-813a-f588cfbcdb6e.JPG)
![mode](https://user-images.githubusercontent.com/81671476/113197589-7ae27f80-9282-11eb-8d64-cc

[2021-03-31 21:44] jekkos commented on #3134
Indeed this field is just the count (*) of the query as far as I can see. I have changed this to the sale_id. Currently I have no data to verify if it works as expected. Could you have a quick look @chunter2 ?

[2021-03-31 22:17] odiea commented on #3134
A Database Error Occurred
Error Number: 1054

Unknown column 'sale_id' in 'field list'

SELECT name, percent, count(sale_id) AS count, ROUND(SUM(subtotal), 2) AS subtotal, ROUND(SUM(tax), 2) AS tax, ROUND(SUM(total), 2) AS total FROM ( SELECT CONCAT(IFNULL(ROUND(percent, 2), 0), '%') AS percent, (CASE WHEN sales_items.discount_type = 0 THEN sales_items.quantity_purchased * sales_items.item_unit_pr

[2021-03-31 22:37] jekkos commented on #3134
ouch ok, force pushed a new commit now.

[2021-04-01 00:08] chunter2 commented on #3134
@jekkos I'm not noticing a change with your latest commit but I'm applying it to version 3.3.2 so that could be an issue.  I'm wondering if maybe there needs to be a DISTINCT in there?  I'm assuming if you're going with Sales for that column a sale should only count once.  With my data it looks like its counted however many lines in the ospos_sales_items table that tax rate occurs.

[2021-04-01 02:40] ayieye commented on #2989
@luister1 what version are you using?

[2021-04-01 06:49] jekkos commented on #3134
Indeed, let's try `COUNT(DISTINCT(sale_id))`. Hopefully that will work?

[2021-04-01 06:54] luister1 commented on #2989
@ayieye i'm using the 3.3.3 version..
Here are the changes that i've made
1-added the code in controller/sales
2-added unit price 2,3 and 4 in controllers/iotems
3-added unit price 2,3 and 4 in lines 340-343 and 440-443 in helpers/tabular
4-added code for unit price 2,3,4 in views/form
5-added the code in items_lang and sales_lang
6-added unitprice 2,3,4 in the database

[2021-04-01 07:42] ayieye commented on #2989
@luister1 hit me up on telegram https://t.me/Ayieye

[2021-04-01 12:17] chunter2 commented on #3134
@jekkos That worked.  My totals are correct now.  Thanks.  My only other suggestion would be to rename the column header to Sales like @odiea suggested above and then I think this issue is fixed.

[2021-04-01 13:40] odiea commented on #3111
Works good so far. Just need someone to get it to show in the table view now.

[2021-04-01 16:38] odiea commented on #3111
@DamianoSilverhand So far the only issues I can see with error reporting on is the following in tabular_helper for suppliers so on that line I changer person to supplier and the issue went away

ERROR - 2021-04-01 12:25:02 --> Severity: Notice --> Undefined variable: person C:\wamp64\www\tags3\application\helpers\tabular_helper.php 440
ERROR - 2021-04-01 12:25:02 --> Severity: Notice --> Undefined

[2021-04-02 07:08] jekkos commented on #3134
I have adapted the column name in my latest commit @chunter2

[2021-04-02 07:12] #3134 closed

[2021-04-03 22:01] SteveIreland commented on #3072
I'm making progress on this but I seem to have opened a can of worms by trying to support conventional balance due while also supporting the "Due" payment type.  I can support it but it's going to make things a bit complex ... probably a little more complex than what we want.

I'd like to propose that we change the sales register to allow completing a POS transaction simply by selecting a checkbox

[2021-04-04 15:32] #2744 closed

[2021-04-04 15:32] #2974 closed

[2021-04-04 15:42] objecttothis commented on #3063
https://www.theregister.com/2020/11/02/travis_ci_pricng/

Github Actions seems like it would be free for this project.

[2021-04-04 15:49] objecttothis commented on #3111
@DamianoSilverhand I've merged my PR so you'll need to rebase on the master to make sure there are not any overlapping changes.  There probably won't be too many.

[2021-04-04 16:41] odiea opened #3144 "Sales Controller issues in current version."
OSPOS Installation Info: 3.3.3 - 616e8e

Language Code: en-US

Extensions & Modules:
» GD: Enabled ✓
» BC Math: Enabled ✓
» INTL: Enabled ✓
» OpenSSL: Enabled ✓
» MBString: Enabled ✓
» Curl: Enabled ✓

User Configuration:
.Browser: Chrome
.Server Software: Apache
.PHP Version: 7.4.13
.DB Version: 5.7.21
.Server Port: 80
.OS: Windows NT 10.0

File Permissions:
» [application/logs:] - 0777 | Writabl

[2021-04-04 17:46] SteveIreland commented on #3072
Question.  Rewards are currently being updated based on payment transactions.  For POS sales this included Due transactions.  For Invoices, since there isn't a Due payment transaction, rewards are only updated based on payments received.

Should rewards be updated with the total sales amount or just payment received at the point of sale?

[2021-04-04 19:00] odiea commented on #3020
502 Bad Gateway
nginx/1.18.0 (Ubuntu)

[2021-04-05 08:44] izeblood commented on #1373
I tried to load 18,000 plus of different items... then I tried to transact it everyday for 2 months now... then I encountered delay of items module... for me the reason for this is the inventory count details...
My suggestion is to put an option to enable/disable this inventory count details so that it won't affect the delay of entire items module..

[2021-04-05 08:45] izeblood commented on #1373
BTW, I used the 3.3.3 version

[2021-04-05 09:30] jekkos commented on #3144
Thanks for reporting @odiea .

[2021-04-05 13:05] odiea commented on #3144
Also in the footer common_copryrights is misspelled.

[2021-04-05 13:08] jekkos commented on #3144
@objecttothis any idea if it could be something caused by the last merge?

[2021-04-05 13:11] odiea commented on #3144
It is all caused by the last merge. Try the dev demo.

[2021-04-05 13:29] objecttothis commented on #3144
I'll take a look

[2021-04-05 13:57] mutwirivic opened #3145 "Data export URLS"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-04-05 13:59] mutwirivic commented on #3145
I am trying to load  json data or download csv from a script running on jupyter but I cant get the appropriate download links/paths. Kindly help.

Thanks

[2021-04-05 15:34] objecttothis commented on #3144
I submitted a patch, but I'll need to compare the Sales controller with my build that is working properly and see if I can't spot what got messed up.

[2021-04-05 16:27] odiea commented on #3144
I used the previous release of the Register and now it works properly

[2021-04-05 16:50] odiea commented on #3144
Also in config I am not able to add either of the 2 taxes.

[2021-04-05 18:09] objecttothis commented on #3144
@jekkos perhaps the best option here would be to roll back to the previous commit in the master.  That will give me a chance to figure out what happened in the rebase to bork the Sales controller.  It will also allow you to push the 3.3.4 release.  @SteveIreland won't have to rebase his changes on all the crazy then.  I don't think I have permission to roll back the master in the CLI.  Can you do

[2021-04-05 20:04] jekkos commented on #3145
Not sure what data you are trying to download?
Typically you can call the search() method in a controller directly for most of the resources. Check your browser console for an example.

[2021-04-05 20:06] jekkos commented on #3144
Ok I'll force push the previous commit back now, I think that will be fastest for now.

[2021-04-05 20:10] jekkos commented on #3144
Ok I have done the rollback for now.

[2021-04-05 20:14] objecttothis commented on #3144
I'll close this then. I'll rebase again once I get a chance and slow down a bit then test the rebased version thoroughly to make sure the rebase didn't bork anything again. I'll also wait until 3.3.4 this time ;).

Sorry for the hassle guys.

[2021-04-05 20:14] #3144 closed

[2021-04-05 21:58] jekkos commented on #3138
So @SteveIreland were you able to reproduce the issue, or do you have any idea why it would happen that on the second page totals are off?

[2021-04-05 23:50] SteveIreland commented on #3138
I was able to reproduce the error but I have absolutely no idea what is triggering it.

[2021-04-06 00:07] chunter2 commented on #3138
@SteveIreland If it's any help my "production" system is at version 3.3.2 and the bug is there as well.  I'm pretty sure I noticed it before manually hand picking some commits along the way.

[2021-04-06 01:39] SteveIreland opened #3147 "New coding standard? (don't like)"
I was progressing nicely through a manual merge (in an effort to both understand the new standards that are being implemented) but stumbled across a change I strongly disagree with and would like to pout about it a bit.

Here is what I like because it flows naturally with the SQL language.  I'm "selecting x from y where z".

		$this->db->from('sales');
		$this->db->where('invoice_number IS NOT NUL

[2021-04-06 07:43] jekkos commented on #3147
Hi, I don't feel strongly about either one here. I suppose the reason for using the 'new' style is that it's a bit shorter, but less readable as you say. We can vote here to agree on what we'll do otherwise?

[2021-04-06 07:54] jekkos commented on #3138
The reason why this amount changes is because the sale transactions have a different offset while the totals do not. So in this summary we substract the change due for cash transactions, but only for the resultset you are currently viewing. So that's the reason why you see the values changing when you switch pages.

So conclusion is that this correction can't be done correctly in the current setup

[2021-04-06 08:39] jekkos commented on #3138
Ok if someone can review / test this last patch, then we can close and release.

[2021-04-06 08:41] jekkos commented on #3138
![Screenshot from 2021-04-06 10-40-34](https://user-images.githubusercontent.com/576234/113683498-8e4b7b80-96c4-11eb-858d-d068144216bc.png)

In attachment an example of my local version with the fix applied. So in this case the sale was paid with 40$ of cash, and amount was 20$. We show that there is change due, and payments for cash in total are 20$ (so refunds subtracted).

[2021-04-06 08:42] #3145 closed

[2021-04-06 08:43] #3137 closed

[2021-04-06 08:43] #3132 closed

[2021-04-06 08:45] jekkos commented on #3129
I confirm indeed that it applies the same fixed discount for every item. We don't have a notion currently of applying a fixed discount on a sale as a whole, so that might be the real issue here?

[2021-04-06 08:46] jekkos commented on #3123
@dela-dels did you find a solution for this? Can you try latest master which has an updated .htaccess?

[2021-04-06 09:10] jekkos commented on #3114
I made a pull request for this, but still wonder how we want to render / parse fixed amount discounts

* For currency discounts, we just render / parse in the configured currency precision which is obvious
* For discount percentages, either we use the configured decimals for quantities, or we stick to 0 decimals

In the current version, I have set it to 0 decimals (as it was before). This means th

[2021-04-06 09:10] jekkos commented on #3114
Any feedback welcome here @daN4cat @objecttothis @SteveIreland

[2021-04-06 09:11] jekkos commented on #2911
Had a look here but can't find the direct reason for this glitch. Will postpone this one for the time being.

[2021-04-06 09:12] jekkos commented on #2868
Removed the item_location in receivings edit_item in one of my last PRs

[2021-04-06 09:15] jekkos commented on #3114
@lsahidin any feedback on these changes would be welcomed.

[2021-04-06 10:05] #3020 closed

[2021-04-06 10:15] mutwirivic commented on #3145
Thank you. Worked.

[2021-04-06 11:52] objecttothis commented on #3114
@jekkos I don't know if this is what you are referring to, but I did notice that the cash discount is not rendering according to the localization.  If you enter the localization to something with a comma as the decimal separator then in the sale register you enter the discount amount using the proper localization, upon clicking the update button it renders the cash discount with a period as the de

[2021-04-06 12:13] chunter2 commented on #3138
@jekkos Just tested out your changes on my system and it looks like it's fixed.  Switching pages now keeps the values at the bottom fixed.  I also checked the summary payments report for the daily sales day I tested and the numbers match.

One more request if it's not too much.  Would it be an idea to include a "Total" line as well?  It would just be the total of the above (in my case 3) line.  It

[2021-04-06 12:45] SteveIreland commented on #3114
If it's working correctly, Cash decimals is the rounding precision to be used only if paid in full using the payment type of Cash.

[2021-04-06 12:58] jekkos commented on #3114
@objecttothis regarding the rendering, I have skimmed through all views and we don't consistently use rounding on a discount percentage. I think your suggestion to render the precision a user has used for the entry makes sense.

However I'm not sure if its feasible. If we fix the first issue you described then we might need to stick to a fixed set of decimals for the locale configured rendering.

[2021-04-06 13:02] dela-dels commented on #3123
@jekkos No I did not.
Okay sure, I will try the latest master then.

[2021-04-06 13:04] jekkos commented on #3138
@chunter2 thanks testing and confirmation.

Not sure where you want this total exactly?

I was mainly focusing on bugfixing for now, you can open a new issue to ask for this enhancement if you want. My time is a bit limited atm.

[2021-04-06 13:12] chunter2 commented on #3138
@jekkos Just for clarity, so an example of the bottom of the daily sales page looks like this for me.

Cash: $308.18
Credit Card: $258.20
Debit Card: $577.12

I was just looking for one more line under Debit Card like this.

Total: $1143.50

Just figured I'd mention this since you were in the code at that point.  No need to rush on this.  I can open a new ticket for this, maybe after 3.3.4 is rele

[2021-04-06 13:24] jekkos commented on #3114
@objecttothis I think I have found a fix for the rendering now. If you call to_decimals without any precision, it will render the amount with max 2 decimals. If no decimal is present, then none will be rendered.

Also I fixed the discount rendering in most of the templates. It wasn't rendered in the correct locale in case decimals are present.

[2021-04-06 13:27] objecttothis commented on #3114
@jekkos that seems as good a fix as any.

[2021-04-06 13:41] jekkos commented on #2463
if you think about it , one can probably just use the standard controllers as most of the responses are JSON anway (due to bootstrap-tables).

The only annoyance is that you need a csrf token and session id to be able to call these methods (search, get_row, update).. but beside that it might only be a matter of documenting those methods

[2021-04-06 13:44] jekkos commented on #3138
@chunter2 thanks for the example, all clear now. Find this improvement in my last commit here. I hope it'll save you some time.

[2021-04-06 13:45] jekkos commented on #3145
Also #2463

[2021-04-06 13:55] chunter2 commented on #3138
@jekkos Works great.  :)  Thanks again.

[2021-04-06 14:54] #1268 closed

[2021-04-06 14:54] #24 closed

[2021-04-06 14:55] jekkos commented on #1193
duplicate of #3118

[2021-04-06 14:55] #1193 closed

[2021-04-06 14:56] #1788 closed

[2021-04-06 14:56] jekkos commented on #1412
Duplicate of #3148

[2021-04-06 14:58] jekkos commented on #2834
Duplicate of  #3110

[2021-04-07 02:43] #3138 closed

[2021-04-07 07:41] jekkos commented on #3114
@lsahidin can you give this a try and report back ? I have installed this version on dev.opensourcepos.org for your convenience.

[2021-04-07 15:39] objecttothis opened #3152 "Inventory / Rolling Inventory Capabilities"
### New Feature
Every year, we needed to complete a single inventory to submit to the government for a report.  This was absolute chaos so we switched to doing a rolling inventory which involves doing inventory throughout the year in smaller chunks.  There are two possible ways that we could approach implementing something like this:

- The most straight forward approach would be a filter-based pr

[2021-04-08 05:21] lsahidin commented on #3114
@jekkos I have tried on dev.opensourcepos.org with my current configuration to produce error, but before that, why the default discount is add 2% on every item? I check on items there is no discount available. so, where is the 2% discount come from? maybe I miss something.

![Screenshot 2021-04-08 122026](https://user-images.githubusercontent.com/12827784/113972469-dc978080-9864-11eb-8801-c261ea88

[2021-04-08 06:41] jekkos commented on #3114
@lsahidin the default discount can be configured in the settings. Currently it's set to 2% indeed.

[2021-04-08 06:42] jekkos commented on #3152
related to #157

[2021-04-08 06:43] jekkos commented on #3152
Also check my [writeup here](https://github.com/opensourcepos/opensourcepos/wiki/Stocktake)

[2021-04-08 06:44] jekkos commented on #3152
But I get your point. It might make sense to add some kind of validation tag to an item inventory level that is bound in time. That way it can be used as a filter that acknowledges the amount in the inventory at that point in time.

[2021-04-08 06:55] objecttothis commented on #3152
@jekkos thank you.  I had seen the word stocktake somewhere but didn't know what it was.  In American English we use the term Inventory, so it must be British English.  Currently my SQL to pull an inventory report looks like this:
[code]
I just figured that If I'm going to do this in PHP, I mind as well make it customizable and within the context of OSPOS.  This method also has the disadvantage of

[2021-04-08 09:20] objecttothis commented on #157
@daN4cat @jekkos I have been working with several RESTful APIs in the in-house Website CMS that I am writing code on.  It wouldn't be too difficult for us to write an API endpoint to do what you're talking about.  I think the API infrastructure should be written with many API's in mind.  i.e., facility to generate an API client key and set/limit permissions for that key.  Then that gives freedom f

[2021-04-08 11:24] jekkos commented on #3114
@lsahidin can you confirm if the parsing works for your locale? I see you have set the language to id.

[2021-04-09 04:21] lsahidin commented on #3114
Yes, I try to configure with my locale to ID then it works for me with round discount percent. but won't work if discount in decimal 0.0 so it doesn't matter for me cause discount only in round value. no error occur when I try to using comma 0,5 but not affected to discount total.

[2021-04-09 06:41] jekkos commented on #3114
Indeed the parsing works now. I think there might still be an issue in the configuration, you need to increase the quantity decimals to have a decimal outcome on the price.

[2021-04-09 06:51] jekkos commented on #3114
It seems that I did forget to update the receivings receipt. Also I can't really say how rounding should be configured now.
* If I set currency decimals to 2 and add a discount with decimals, the price does not have any decimals.

Maybe this precision for different inputs should be simplified as we after this change we parse a number with the precision that it is entered with.

So you can still co

[2021-04-09 12:47] SteveIreland commented on #3114
I'll also check it out tonight.  The discount amount should be rendered in the currency decimals.  The cash decimals should only kick in when different from the currency decimals and the payment type is cash.  At least that is what was intended to happen.  So if the cash decimals is zero then what you described should be correct if the payment type was also cash.  But it shouldn't have anything to

[2021-04-09 21:28] jekkos commented on #3114
I have pushed one more fix for the discount rendering on the receivings receipt.

I was testing some combinations of quantity and currency decimals earlier. I would expect that if you add a discount with decimal, and have currency decimals also larger than 0, you would at least see one decimal on the price in case a decimal discount is applied. This didn't seem to be the case so maybe we can log i

[2021-04-10 06:04] #3121 closed

[2021-04-10 07:27] izeblood opened #3153 "Items Module Delay."
I tried to load 18,000 plus of different items... then I tried to transact it everyday for 2 months now... then I encountered delay of items module... for me the reason for this is the inventory count details...
My suggestion is to put an option to enable/disable this inventory count details so that it won't affect the delay of entire items module..

BTW, I'm using ospos3.3.3

[2021-04-10 21:27] ekardian commented on #3147
git creator give us this gift, you are now owner fromself, i cant undarstand, because i dont know write code but i can read something, nothing is easy for me, but if there are a better way for the functionality of scripts/programs... for me its ok.... COPIAD MALDITOS XDDDDD COPIADLO TODO

[2021-04-10 21:30] ekardian commented on #3141
at the end are 0 and 1 the caos

[2021-04-11 09:21] andriux1990 commented on #3147
@ekardian Entiendo tu mensaje .. Ten más cuidado con tus palabras ofensivas

[2021-04-11 09:29] andriux1990 commented on #3129
Thank you very much @jekkos for your answers .. sorry for not answering your comments in time, I have been a bit inactive, the reason is because I have three serous detachments in the central retina of my left eye and one in the right

[2021-04-11 13:06] SteveIreland commented on #3129
Oh my @andriux1990.  I've used a lot of excuses for slow response time but this one trumps all of mine.  I wish you well and hope you recover soon.

[2021-04-11 17:39] gazenferlucas opened #3154 "How can I import my sales exported data (ospos.sql)"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2021-04-11 17:48] odiea commented on #3154
You should be able to import it using Phpmyadmin in Xampp

[2021-04-11 17:52] odiea commented on #3154
In Phpmyadmin create a new db then import your old db to the new one you just created. Then in config database change the name of the db to the newly imported db.

[2021-04-11 18:21] #3147 closed

[2021-04-11 18:29] SteveIreland opened #3155 "Cash totals at the bottom of reports"
There was an earlier attempt to report cash totals as net cash received minus the change due.

However, the last commit in this area now only reports the total cash received.  I'm not sure where the value in this is since the total cash received is actually cash received minus change given.  However, I'm not the user.  I saw where someone commented that this is what they were expecting but that co

[2021-04-11 19:36] odiea commented on #3155
@SteveIreland What Total are you referring to?

[2021-04-11 20:39] SteveIreland commented on #3155
I'm rebasing over  the latest master and noted that the code to reduce cash payments was no longer in the tabular_helper.  That triggered the question, but I haven't yet checked to see if the code was relocated elsewhere.  That's what I'm about to do now.

[2021-04-11 20:42] jekkos commented on #3155
@SteveIreland a rework was done in the fix for #3138

[2021-04-11 21:00] SteveIreland commented on #3155
Yep, thanks ... I just now spotted it myself.  :-)

[2021-04-11 21:16] jekkos commented on #3155
So maybe I missed something? the idea was to substract the cash_refund directly in the query. I

[2021-04-11 21:21] SteveIreland commented on #3155
Nope, it's good.  I wanted to do that in my customer due tracking branch but was hesitant, so I'm glad you did it.  That simplifies things for me.

[2021-04-11 21:25] jekkos commented on #3155
Ok great thanks was double checking also on my side. The test I did looked good (see screencap also I took in #3138). I paid a sale of $20 with $40 (so $20 change) and checked that it showed $20 total cash.

[2021-04-12 10:28] shifasiddeqque opened #3156 "OSPOS Report Headers appearing false false"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2021-04-12 11:40] jekkos commented on #3156
I suppose this does not happen in the actual master version?

[2021-04-12 11:41] jekkos commented on #3153
I think there's some performance improvements on the way in 3.4

[2021-04-12 11:42] jekkos commented on #3114
I might want to retest this before my changes. Will do so later tonight so we can hopefully close this soon.

[2021-04-12 12:03] shifasiddeqque commented on #3156
@odiea  this was running smoothly some days back, I made few changes to one of my reports and it appeared like above...
Even i reverted my changes, still headers are missing
Which form you are talking about????

@jekkos  this si master file only

when i tried to debug this issue, headers are appearing but once the view file is called, nothing actually shows up

[2021-04-12 12:07] odiea commented on #3156
The form you submitted to report your issue. Did you try to refresh your browser to see if the headers worked ok?

[2021-04-12 12:50] shifasiddeqque commented on #3156
Yes i do, so many times, i tried in incognito mode as well but no luck

Thanks & Regards
Shifa

On Mon, Apr 12, 2021 at 5:37 PM odiea ***@***.***> wrote:

[2021-04-12 13:06] #3155 closed

[2021-04-12 17:15] gazenferlucas commented on #3154
Dear @odiea,

Thank you very much for your kind help. I missed to uncheck (foreign key .......) while importing the database. I'm able to import and using OSPOS again.

Thanks and regards,

[2021-04-12 17:15] #3154 closed

[2021-04-13 05:32] shifasiddeqque commented on #3156
@jekkos @odiea

After changing below line
$headers = $this->xss_clean($model->getDataColumns());
to
$headers =$model->getDataColumns();

Headers are appearing, Should i keep it as it is or look for another alternative??

[2021-04-13 11:43] odiea commented on #3156
If you are using it locally it should not be a problem.

[2021-04-13 12:53] shifasiddeqque commented on #3156
@odiea thanx for your reply
but i will deploy it in my production that is hosted on aws

[2021-04-14 12:03] shifasiddeqque opened #3157 "OSPOS"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/