[2016-10-10 18:20] AshishDL opened #903 "When i Click on Email Button it will not work"
Steps to reproduce the issue

Dear Team,Please find bellowed mentioned

![email](https://cloud.githubusercontent.com/assets/22575454/19246456/12f32b0e-8f44-11e6-94f5-aad0e053f0a8.png)

When i click on Email Button it will not pop any page or it would not redirect any link

[2016-10-10 19:51] jamil2012 commented on #902
OSPOS version 2.4

[2016-10-10 22:07] daN4cat commented on #903
Tested and works fine. It's your setup issue I'm afraid.

[2016-10-10 22:07] #903 closed

[2016-10-11 01:40] dxchen90 commented on #901
I got error when run the 2.4-3.0 sql.
I cannot upgrade even i do a clean installation.

On Mon, Oct 10, 2016 at 7:40 PM +0800, "jekkos" <notifications@github.com> wrote:

The langauge key is missing in your database that's why you're seeing this error. You might not have run the latest database.sql.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHu

[2016-10-11 02:25] gkapaino commented on #869
please answer my questions

On Mon, Oct 10, 2016 at 1:28 PM, FrancescoUK <notifications@github.com>
wrote:

[2016-10-11 03:28] petercstevenson commented on #772
It still doesn't work. And I have had no problems with using different clients (including on my mobile phone) to send emails

[2016-10-11 03:33] gkapaino commented on #772
bro... can i have authority to put this system online? or only for local?

On Mon, Oct 3, 2016 at 10:47 AM, FrancescoUK <notifications@github.com>
wrote:

[2016-10-11 03:35] gkapaino commented on #772
the how should i record loan transaction?

On Tue, Oct 11, 2016 at 6:33 AM, mohamed amiry <gkapaino@gmail.com> wrote:

[2016-10-11 03:36] gkapaino commented on #869
the how should i record loan transaction

On Tue, Oct 11, 2016 at 5:25 AM, mohamed amiry <gkapaino@gmail.com> wrote:

[2016-10-11 03:40] petercstevenson opened #904 "Deleted Item Deleted from Receipt"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.

### Issue, Question or Bug

Before submit

[2016-10-11 03:45] petercstevenson commented on #861
Thank you. I will try to work more closely with the wiki directly from now on.

[2016-10-11 03:49] petercstevenson commented on #849
The cable arrived and this issue seems to be resolved.

[2016-10-11 05:01] gkapaino commented on #869
where i can  see register log on ospos 3.0?

On Tue, Oct 11, 2016 at 6:36 AM, mohamed amiry <gkapaino@gmail.com> wrote:

[2016-10-11 06:13] daN4cat commented on #849
Good

[2016-10-11 06:14] daN4cat commented on #861
That would be great because we cannot keep up in just two.

[2016-10-11 06:16] daN4cat commented on #904
Sale receipt?

[2016-10-11 06:49] HamidCh commented on #882
How?

[2016-10-11 07:24] LoverreVI opened #905 "missing index.php"
i've trying to run this with no success,
also i've notice that someone deleted index.php on the main folder (missing index.php on opensourcepos/index.php << gone)
also i have an issue with 403 forbidden, everyone keep telling me to change "deny" to "allow" on conf, but there's nothing got "deny"ed on my httpd.conf,, pls help,
p.s can anyone give me a link for a proper wamp installation that met al

[2016-10-11 08:11] LoverreVI commented on #905
<URGENT>CONFIRMED, someone did something on the latest master source code, it won't run on me, but when i used the master source code from uhh a week ago, it runs fine

[2016-10-11 09:11] AshishDL commented on #903
k...

[2016-10-11 10:04] gkapaino commented on #869
HELLO FRIEND U DIDN'T RECEIVE MY TEXT OR? U CANT GIVE ME SUPPORT

On Tue, Oct 11, 2016 at 8:01 AM, mohamed amiry <gkapaino@gmail.com> wrote:

[2016-10-11 11:00] daN4cat commented on #869
@gkapaino this is an open source project, we have our own jobs and this is a past time thingy.
If you are after something professional with chat/phone support then it's better to look for something else. With open source solutions you need to learn how to find your own way. That's the philosophy here.

[2016-10-11 11:01] daN4cat commented on #905
@LoverreVI master uses composer, which enhances the security too.

You now need to point to public subdir, which contains index.php.

[2016-10-11 11:40] daN4cat commented on #772
@petercstevenson have you tried to change the flag I mentioned earlier?

[2016-10-11 12:42] daN4cat commented on #901
Maybe we should add IGNORE to each of the MySQL upgrade statements so the script doesn't stop and continues.

[2016-10-11 12:52] onyema3 commented on #901
Maybe

On Oct 11, 2016 1:42 PM, "FrancescoUK" <notifications@github.com> wrote:

[2016-10-11 12:55] dxchen90 commented on #901
How to add the IGNORE? Or should i wait for new release?

On Tue, Oct 11, 2016 at 8:42 PM +0800, "FrancescoUK" <notifications@github.com> wrote:

Maybe we should add IGNORE to each of the MySQL upgrade statements so the script doesn't stop and continues.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-10-11 14:59] jekkos commented on #834
@chandrawg Can you verify if it's ok?

[2016-10-11 15:39] jamil2012 commented on #902
Help me please.

[2016-10-11 16:06] daN4cat commented on #902
Nobody complained about 3.4 for a long time, so not sure what you have done.
Is this something you modified or else?

[2016-10-11 16:13] LoverreVI commented on #905
@daN4cat thank you kindly sir, sorry about the dumb question, this is not my in my area of expertise lol
and now im completely lost :p
so basicly,
 i just need to blatantly point an address of index.php which was located in any of the subdir?

p.s. again, pls don't get mad at me,
im new to this php and CI framework which i had no idea about
and im a bit dumb

[2016-10-11 16:30] petercstevenson commented on #772
Yes, I changed it. Will it update OSPOS right away or do I need to update something manually (restart apache, redeploy the container, etc)?

[2016-10-11 16:31] petercstevenson commented on #904
Yes, I am referring to the sales receipt

[2016-10-11 16:53] daN4cat commented on #905
the subdir is called public.

So it's http://www.myweb.com/pathtopos/public/index.php

[2016-10-11 16:55] daN4cat commented on #772
Just refresh the page where you are and click send email again.

[2016-10-11 17:54] LoverreVI commented on #905
thank you,

p.s pls don't close this thread, i'll ask here if i had another problem coming up,
its better than spamming over the issues page with some of my sill question(s).
thank you.

[2016-10-11 18:14] daN4cat commented on #834
Tested and seems to work fine now.

[2016-10-11 18:19] daN4cat commented on #901
It's not a good idea to use IGNORE, as of MySQL 5.7.4 it's deprecated https://dev.mysql.com/doc/refman/5.7/en/alter-table.html

[2016-10-11 19:32] daN4cat commented on #901
@dxchen90 you need to probably do something from command line forcing the script to run with --force or similar.

[2016-10-11 23:26] chandrawg commented on #834
work fine. thanks very much

[2016-10-12 01:44] dxchen90 commented on #901
how to do it? can send me the code here?

[2016-10-12 02:16] jamil2012 commented on #902
a few days ago presented the error, I have not changed any files.

[2016-10-12 06:05] #834 closed

[2016-10-12 07:08] daN4cat commented on #901
Web search engines are your friend....

https://dev.mysql.com/doc/refman/5.5/en/mysql.html

(I didn't try myself but it should work according to the --force option description)

[2016-10-12 07:09] daN4cat commented on #902
I don't know, to be honest I have no idea what happened to your installation and it's not an OSPOS application issue but some configuration or database corruption or setup...

therefore I close.

[2016-10-12 07:09] #902 closed

[2016-10-12 07:22] dxchen90 commented on #901
i am getting this error,

#1064 - You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'mysql --force whypaym2_stock2 < 2.4_to_3.0.sql' at line 1

[2016-10-12 07:38] daN4cat commented on #901
ok, maybe you need username and password. Have you read the link I provided you?
Something like:

and I assume you are executing the command from the database dir, if not add the database/ before the script.

[2016-10-12 11:07] jekkos commented on #848
I have rebased weblate branch with latest master. There was one new string to be translated? Which one exactly? Let me check if I can find it in the web ui

[2016-10-12 14:01] jekkos commented on #853
This is not a docker related bug per se, it just surfaces because he's using it.
Sales is using a php generated timestamp while receivings is relying on a database current_timestamp. php and mysql are running in separate containers and timezone is only configured on the php side. This might cause the time to be wrong for the mysql container causing this issue.

I would like to have a consistent da

[2016-10-12 14:09] daN4cat commented on #848
Two strings to be translated related to config and stats.

[2016-10-12 14:58] Modding opened #906 "Can't return smaller amount of products"
When i go to Sales and go to Return and scan a Reciept.

Than i want to return only one Piece from a bigger amount like:

6 PCs of Product 1 and the Customer only want to return 1 i cant change the Amount. It always says Error in changing Artikle.

Greetings Valentin

[2016-10-12 15:45] daN4cat commented on #853
Indeed and that's why I said I need to check the code for the detail receiving report as it might a bug there.

[2016-10-12 18:44] daN4cat commented on #853
@petercstevenson could you please check with the latest code in master? I fixed something in Receivings but I'm not 100% sure and I don't have means to test your case. So please help with the test.

[2016-10-12 18:56] daN4cat commented on #906
I tried:
- select from Sale register Return from the drop down
- returned a POS ## from Sales that had 2 items (shown as -2)
- set quantity -1 as that's what I wanted to return and press enter
- all the amounts adjust automatically after the enter
- selected payment return method
- completed the return
- everything works fine.

Please check exactly how you reproduced the issue as it's unclear to m

[2016-10-12 18:58] daN4cat commented on #906
Also please check that your item is not deleted or similar cases.

[2016-10-12 23:50] odiea commented on #906
The first few time I tried it I did get the following error but after trying some more it did work properly.

![2016-10-12 17_31_51-settings](https://cloud.githubusercontent.com/assets/10962177/19331823/2bd1752a-90a4-11e6-9546-3af4720ea8e8.png)

[2016-10-13 03:08] petercstevenson commented on #853
The MySQL container is now crashing with exit code 7. Do I need to upgrade my server again to > 1 gb RAM?

[2016-10-13 03:24] petercstevenson commented on #853
Upgrading my server didn't help. Is there some way to use an earlier commit until this is resolved? I need to have a working system for my store tomorrow

[2016-10-13 04:55] Rebelion opened #907 "No item to display"
Ospos ver : 3.0.0 - 4f5ad57
OS : Windows 10 x86
Web Server : Apache 2.4.23
Database ver: MySQL 5.7.14
PHP ver : PHP 5.6.25
Language : English (en_US)
Any configuration of OSPOS that I changed : Nothing, just some changing on **General Store Configuration**

I'm running fresh instalation of OSPOS. The problem is after I log in. Every I add new item, or export from excel, it won't show in Items Tab,

[2016-10-13 07:53] jekkos commented on #853
No I tried to add an optimized mysql config file but it didn't seem to work so I removed it again in my latest commit. Try to redeploy with the latest now and should be fine.

[2016-10-13 09:57] daN4cat commented on #907
MySQL 5.7 is not supported yet.

[2016-10-13 09:57] #907 closed

[2016-10-13 10:04] Modding opened #908 "Receipt Template"
I know it is a enhancement, or a feature Request.

I want to use an Reciept printer that print normal Reciept and i want to change some things in the Reciept. So i need a Template or a File that i can alter for the Reciept.

Like in Germany it is by the Law that you Print the Tax (UST) for each artickle and the price without Tax and With Tax and the Tax Prices of each Tax Rate.

We have two taxes

[2016-10-13 10:39] daN4cat commented on #908
At the moment you can select two receipt layouts, default and short version.

Check `application/views/sales/receipt_default.php` & `receipt_short.php`, create your one and we can add it to the list and selection from Store Config.

[2016-10-13 12:10] petercstevenson commented on #853
Thanks. The MySQL container is no longer crashing. However, I now get this error message on the login page:
![screenshot from 2016-10-13 05 07 50](https://cloud.githubusercontent.com/assets/21316584/19348492/09a7e8e4-9103-11e6-957e-d662326522e0.png)

And this error after logging in:

![screenshot from 2016-10-13 05 09 43](https://cloud.githubusercontent.com/assets/21316584/19348558/60b7d144-9103-1

[2016-10-13 12:36] petercstevenson commented on #853
BTW the only script update that I have done is upgrade employees table. Do I also need to run the alter config table portion of the 2.4 to 3.0 script?

[2016-10-13 12:47] senseitebbayo opened #909 "Documentation on OSPOS"
I need to know if there is a user manual for OSPOS. I cant seem to find one anywhere. Anyone??
I have kind of figured out most of the code myself but is there anything for the end user? especially around inventory?
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the commun

[2016-10-13 13:52] petercstevenson commented on #853
OK, I took the plunge and ran the alter table portion of the 2.4 to 3.0 script and OSPOS is back running again in time for opening hours.

[2016-10-13 14:53] jekkos commented on #853
That was due to the compose upgrade. Indeed the database needed one extra language key. Sorry for the inconvenience there.
The code won't change that much from what will be released this or next week. Two translations need to be done and after that release notes will be written.

[2016-10-13 17:11] daN4cat commented on #909
There is a wiki, probably not the best in this world but something you can help to improve as we cannot do everything in two or three of us.

[2016-10-13 19:07] jacksz opened #910 "customer specific discounts and item kits"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.

### Issue, Question or Bug

Before submit

[2016-10-13 21:03] jekkos commented on #853
Pushed another fix for this. The receivings registration will now take the php time instead of mysql local time (which might be wrong) so should be set correctly.

[2016-10-13 21:32] odiea commented on #910
Currently it does not work on Item kits. Not a lot of users so not much extra written for it.
The first sale without a customer is correct. The registered item was not told it had a discount available. You will need to enter the % manually or delete the item then re-add the item.

[2016-10-13 21:33] jekkos commented on #910
Yes indeed the usecase probably foreseen in the inital implementation. Consider this a bug or enhancement?

[2016-10-13 21:34] jekkos commented on #909
Inventory might indeed be the most complex and least documented module in the application.. currently writing some queries for a custom report for this table. I will share my results on the wiki once I get there.

[2016-10-14 01:49] petercstevenson commented on #853
Fixed - thank you

[2016-10-14 01:49] #853 closed

[2016-10-14 04:59] daN4cat commented on #910
I noticed this and I wanted to address. It's probably a bug because discount should be applied in both cases before or after having added an item.

With regards to item kits, that's an enhancement.

[2016-10-14 08:00] daN4cat commented on #901
@dxchen90 issue solved?

[2016-10-14 08:01] daN4cat commented on #905
@LoverreVI can we close this please?

[2016-10-14 08:01] dxchen90 commented on #901
no, i hire freelance to help me. still working on it.

[2016-10-14 08:02] daN4cat commented on #901
OK, they can do for you. I close.

[2016-10-14 08:02] #901 closed

[2016-10-14 08:03] daN4cat commented on #906
@Modding any update?

[2016-10-14 08:16] 123mahaveer opened #911 "Discount After Subtotal"
### New Feature or Enhacement

It would be helpful to add an option for discount after the subtotal, right now the discounts are item specific.
There are many scenarios where we need to give round off discount of a nett discount on the total bill. Right now there is no option to do this ,it has to be done item-wise only.

Also is there any indirect work around to do this or is this planned in near

[2016-10-14 08:35] #905 closed

[2016-10-14 09:43] Modding commented on #906
https://www.youtube.com/watch?v=MNi0JEmwGrw

[2016-10-14 09:54] daN4cat commented on #906
OK, but what's the quantity of items after having sold 7? 0 or something else?
Also, can you tell me what's the message in the red bar saying as I cannot read German?

[2016-10-14 09:57] daN4cat commented on #906
And is that issue happening with the latest master?

[2016-10-14 10:54] jekkos commented on #904
Shall we solve this one before release?

[2016-10-14 10:56] Modding commented on #906
The Quantity after sold 7 is ~ 30 - 40 Enough is in the stock. And the Error message is "Error in changing Artickle"

[2016-10-14 11:22] daN4cat commented on #904
I would say yes.

[2016-10-14 11:25] jekkos commented on #848
Those two strings weren't created in weblate? I'll need to resync the internal git repo's with master then.
Would be easier for the future to edit all translations in weblate first, so that the workflow remains unidirectional, in this case commit in weblate and push to the weblate branch.

I might want to make an orphan branch just for the translations. These can then be grouped and  rebased in th

[2016-10-14 11:28] daN4cat commented on #848
Two parts in this story:

a) translation was in composer branch merged to master
b) we keep having two ways for the translation and now they are our of sync

[2016-10-14 11:33] daN4cat commented on #911
Have you checked `Default Sales Discount %` functionality in Store Config & General tab?

[2016-10-14 11:35] daN4cat commented on #906
@Modding is that the latest master or something older?

[2016-10-14 11:37] Modding commented on #906
This is the Master wich is 1 Week old

[2016-10-14 11:47] nenuchand commented on #911
Yes i have checked the Default Sales Discount%, that applies the discount on the individual item . Not on the grand total .
For Example for a  total sale of 222.50 i want to give a round off / discount of 2.50 to make the total as 220,that is currently not possible .

[2016-10-14 11:53] onyema3 commented on #904
yes

On Fri, Oct 14, 2016 at 12:22 PM, FrancescoUK <notifications@github.com>
wrote:

[2016-10-14 11:54] odiea commented on #911
Maybe its time to remove the % from the line item and add it to the Register. That could possibly help out the other issue where a customer is selected after an item has already been entered into the sale.

[2016-10-14 13:01] odiea commented on #906
It does not appear to be the new composer version. I do not see his address pointing to the public folder.

[2016-10-14 13:30] alvin101 commented on #909
Two things here,

I would like to see a refined road map detailing the goals and design of this system.

2  @jekkos  When it comes to custom reports I know of no better scripts then http://www.reportico.org/site/index.php  this also might make a good report module.

[2016-10-14 13:32] Rebelion commented on #907
Thanks for the feed back, I will try the compatible version of MySQL (5.6).

[2016-10-14 14:05] daN4cat commented on #909
1. Roadmap is roughly captured in the tickets with Epic tag we created. However we never clearly planned by release and it's just an aim

2. I use Reportico as external to OSPOS reporting tool for my wife's business

[2016-10-14 14:06] petercstevenson commented on #904
The reason why this is so important for me is that I don't feel comfortable deleting items right now so that leaves a huge cumbersome low stock list that I have to manually sort through every time I do an order from a supplier

[2016-10-14 14:08] daN4cat commented on #911
@odiea it wouldn't work for my case, my wife discounts items in different ways sometime. So the overall discount is a different concept. I thought the Default Sales Discount was on the total.

[2016-10-14 14:09] daN4cat commented on #904
This needs to be fixed because when I migrate my wife's system to this I have many old receipts pointing to deleted (but still in MySQL) items.

[2016-10-14 14:29] Modding commented on #906
It looks like there is only this error if the Casher hasnt enough rights.

I think its a rights Problem, because with ADMIN it works.

[2016-10-14 15:40] gituncar opened #912 "Error on wamp"
Error

Fatal error: Can't use method return value in write context in C:\xampp\htdocs\opensourcepos\application\controllers\Items.php on line 123
A PHP Error was encountered

Severity: Compile Error

Message: Can't use method return value in write context

Filename: controllers/Items.php

Line Number: 123

Backtrace:

[2016-10-14 16:32] senseitebbayo commented on #909
All well and good jekkos. In the absence of a manual, can anyone point me in the right direction of how to use different stock locations in the app? its not immediately obvious.
I want to have a 'Store' stock location and a 'Bar' stock location. All POS sales will deduct from the Bar location while the store is where the vendors dump their stuff.
Ii would also want to be able to to transfer invent

[2016-10-14 16:55] daN4cat commented on #909
Go to Store Config, Stock tab and you can create your stock locations: Store & Bar.
Once you have done that you can allocate items to one stock location or another.
In Receivings you can even do transfer of stock selecting Requisition from the drop down box and have a receipt.

[2016-10-14 16:56] daN4cat commented on #912
Using MySQL5.7? If yes, it's not supported yet.
Also we don't support PHP7 yet.

[2016-10-14 16:57] daN4cat commented on #906
OK, can you figure out which permission?

[2016-10-14 18:47] senseitebbayo commented on #909
Wonderful!. Thanks

[2016-10-14 19:24] senseitebbayo commented on #909
I have come again.
in ospos_items, what does receiving quantity and reorder_level stand for? I dont see why they are in this table

I understand ospos_item_quantities and ospos_inventory as relating to the inventtory. just confused about the re-order level and receiving quantity

[2016-10-14 20:23] daN4cat commented on #910
OK, now the customer discount is applied when the customer is selected after having added the items.
Please test to confirm is all fine.
Please note that there is no case for reset the discount if the customer is removed, that feature would require keeping memory of what was added and when. A complex feature.

[2016-10-14 22:00] odiea commented on #910
Looks good to me. It applied the discount after the customer was selected and an item was already in the register. Good work.

[2016-10-14 22:13] odiea commented on #911
It appears the default sales discount is on the item or items in the sale register just like the customer discount.

[2016-10-14 22:27] odiea commented on #909
The reorder level is when your inventory goes to or below a certain qty that you have set. A notice in the register will show when you sell a product that is at or below the level.

The Receivings qty was a quick way to add a case of items. Say a 6 pack of soda. Instead of adding 6 items you would set the receivings qty to 6. In the earlier version the receivings qty would be a multiplier for cost

[2016-10-14 22:49] odiea commented on #909
Sorry I should have been more specific about receiving qty. I was suggesting that if you bought a 6 pack of soda and wanted to sell the cans individually the you would divide the cost by 6 and set that as your cost per can then sell the product at whatever price you wanted. Currently the receivings now just shows the cost of an individual can instead of the cost of the 6 cans combined.

[2016-10-15 05:05] daN4cat commented on #910
Thanks. Forgot to say that the discount is applied to items with 0 discount only. If something is already discounted there is no additional discount.

[2016-10-15 07:15] senseitebbayo commented on #909
Yes. I think I get that now. Thanks                                                                                                                                                                                                                                                                                                                                         Sent from my BlackBerry 10 smartphon

[2016-10-15 13:06] daN4cat commented on #911
Yep, many different discount schema see also #261 #286

[2016-10-15 17:22] jacksz commented on #910
its fixed ,thanks .

[2016-10-15 18:06] jacksz opened #913 "discount enhancments"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.

### Issue, Question or Bug

Before submit

[2016-10-15 20:52] HamidCh commented on #895
I've added a wiki for local deployment using mamp. I hope it will help others.

[2016-10-15 20:53] onyema3 commented on #895
Where is the wiki?

On Sat, Oct 15, 2016 at 9:52 PM, HamidCh <notifications@github.com> wrote:

[2016-10-15 20:54] HamidCh commented on #895
https://github.com/jekkos/opensourcepos/wiki

[2016-10-15 20:56] onyema3 commented on #895
thanks

On Sat, Oct 15, 2016 at 9:54 PM, HamidCh <notifications@github.com> wrote:

[2016-10-15 21:07] nenuchand commented on #911
So , we need to code our own solution for the same or is there any workaround ?

[2016-10-16 07:15] daN4cat commented on #895
Good, thanks for the help

[2016-10-16 07:16] daN4cat commented on #911
Add the feature to OSPOS, contributions are welcome.

[2016-10-16 08:26] daN4cat commented on #910
OK Item kits was working only if you added the customer after having added the item kit.
With my last commit it works even if the customer is set first and item kit loaded second, the customer discount is applied automatically.

I believe this can be closed now as both issues are sorted.

[2016-10-16 08:34] daN4cat commented on #913
At the moment we are not restricting in a consistent way out of bands cases across OSPOS.

[2016-10-16 12:26] chandrawg commented on #157
any update for this feature ?

[2016-10-16 12:53] alvin101 commented on #895
@HamidCh Good tutorial, thanks

[2016-10-16 13:59] alvin101 commented on #157
It is now labeled Epic, with means it is on the road map for the future.  you can always chip in with some dev resources, donations or coding....

[2016-10-16 14:08] alvin101 opened #914 "Labels and Milestones,"
Just a quick note,

I would like to see a description of the meaning of Labels and Milestones, either in readme or wiki.

[2016-10-16 15:34] #910 closed

[2016-10-16 15:39] daN4cat commented on #914
Milestones are releases (e.g. 3.0.0), labels are way to categorise the reported issues, requests or questions.

[2016-10-16 16:31] daN4cat commented on #906
@Modding any news? I checked the code and I can't understand how a employer right could limit this, but I want to make sure it's really the case first.

[2016-10-16 16:33] martadinata666 commented on #908
![layout](https://cloud.githubusercontent.com/assets/2433562/19418931/3f044ff8-93f8-11e6-8577-1a079bb4282f.png)

sorry for bumping another your thread @Modding , because i had the same. i need to add the ISBN number in receipt, because my shop item is "one type product, many serials". The receipt indeed can print serial but the serial entered when selling product and many times forgotten that thin

[2016-10-16 16:39] daN4cat commented on #772
@petercstevenson I move this out of the picture because we cannot hold 3.0.0 release forever.
Unless you can provide some feedback and I don't get more complaints I consider this a specific issue with your installation.

[2016-10-16 16:42] daN4cat commented on #908
@martadinata666 there is a means to serialise an item and add at sale and print it in the receipt.

[2016-10-16 17:15] petercstevenson commented on #772
I'm sorry, I have been waiting for further instruction on debugging this problem. I have tried all of the suggestions so far and I still have the problem. Is there any more information on where I might be able to find the error_log?

[2016-10-16 18:03] jekkos commented on #772
Hm I think I wrote somewhere that there is currently no sending email support in docker container. The needed configuration is not done. However it could be solved by mapping the required ports to the host container in this case.

[2016-10-16 18:33] jekkos commented on #772
Think I'll try to add sendmail to the container and see if that does anything

[2016-10-16 18:51] daN4cat commented on #772
@jekkos thanks, I really cannot see what else could be. I'm trying to sort out the other bug at the moment so we close this release.

[2016-10-16 20:20] daN4cat commented on #887
No further, I close this issue.

[2016-10-16 20:20] #887 closed

[2016-10-16 22:08] chandrawg commented on #157
how much i have to pay for this feature ?

[2016-10-16 22:16] daN4cat commented on #904
I believe I fixed this, see last commit to master.
Please test and confirm that it's fine an we can close.

It would be good to do a test in Sales with transactions using barcode and item name as the changed part is in common with that functionality. The same on Receivings.

I tested and it's fine for me but better to have more testers.

[2016-10-16 22:47] odiea commented on #904
Looks good. Item does not show up in Register or Receiving (after deleting) using either the item id or the item name. It still shows on the receipt ok. I have not a scanner available to use.

[2016-10-16 23:41] petercstevenson commented on #904
It seems fixed to me. Thanks

[2016-10-17 01:57] petercstevenson commented on #904
Sorry, I just realized that although the item is now shown in the sales receipt, it is still not shown in the receivings receipt

[2016-10-17 06:26] daN4cat commented on #904
Ok, I'll check that case.

[2016-10-17 07:41] daN4cat commented on #904
Fixed Receiving case too.

Please test all the receiving cases so we can close this.

[2016-10-17 11:19] odiea commented on #904
Looks good. Ran a receivings report and deleted item shows in the report. I don't use this so I forgot to check the receiving report.

[2016-10-17 11:28] jekkos commented on #772
@petercstevenson I have just added sendmail to the docker container. Can you try and test with the latest version to see if it works now? (I did not test myself yet)

[2016-10-17 12:03] daN4cat commented on #904
@petercstevenson please countercheck but meanwhile I close this.

[2016-10-17 12:03] #904 closed

[2016-10-17 12:08] daN4cat commented on #772
@jekkos it looks like I need to learn a bit more of dockers packaging. Indeed without sendmail support it cannot work if things are properly sandboxed.

[2016-10-17 12:32] daN4cat commented on #731
Time to write the release notes?

[2016-10-17 15:22] jekkos commented on #888
New strings should just be added in the code. Then this change needs to be pulled in by weblate and loadpo target should be run to reindex the translations. I just did this for the two new strings and they are available for translation now

@daN4cat think we can get rid of the translation script + csv's after all now.

[2016-10-17 15:35] daN4cat commented on #888
@jekkos ok, I'll do.

[2016-10-17 15:35] daN4cat commented on #888
Shall we close this issue too?

[2016-10-17 15:57] Altoubi opened #915 "403 Forbidden problem in new installation"
Hi, I`m trying to  make new install with latest changes, but it look like there are no index.php and no system folder, when i try to install it show me error 403 Forbidden! even it on main root / or in sub folder.

i changed folder path in .htaccess file. and this error shows in both localhost and online webhost

please guide me

### Issue, Question or Bug

- [x] Checked the current issues databas

[2016-10-17 16:01] daN4cat commented on #915
Point your webroot to be the public dir.

[2016-10-17 16:01] #915 closed

[2016-10-17 16:12] Altoubi commented on #915
can you explain, i didn't get you

[2016-10-17 16:12] alvin101 commented on #157
Anyone experienced in PHP programming can provide custom development for an open source project.  You can google for developers and ask for a bid. But maybe someone here will come forward.

[2016-10-17 17:06] daN4cat commented on #915
Check public/ you'll find index.php there. So your web root needs to be there.
Not sure what your installation is because you ignore all those questions in the issue template.

[2016-10-17 17:09] daN4cat commented on #157
It's more than that. This is a two part story.

[2016-10-17 20:51] jekkos commented on #848
Ok I did some more reconfiguration of the weblate setup. Currently there remains only one git repo on weblate server, which should result in bundled commits per user edit. This kind of relieves me from the burden of rebasing after committing directly from the weblate web interface.

on the other hand this leaves me with the questions whether it is a good idea to keep the orphan branch. In this cas

[2016-10-17 20:52] #906 closed

[2016-10-17 20:52] #888 closed

[2016-10-17 20:53] jekkos commented on #731
I'll try to draft them this week.

[2016-10-17 20:54] daN4cat commented on #848
Maybe we need to reconsider a bit the matter past 3.0.0?

But shall we wait for the remaining translations or go for this release after the last testing on the closed two issues?

[2016-10-17 20:56] daN4cat commented on #731
@jekkos I drafted already something. Please check and upgrade.

I would like to get this pushed out by the week end and then have the (real) celebration beer together next week.
I assume we should post even a picture here :-)

[2016-10-17 20:58] daN4cat commented on #848
Anyway extra translations can go for a 3.0.1 or 3.0.2 release.

[2016-10-17 21:00] daN4cat commented on #731
@odiea we'll buy a beer for you and drink in your absence, unless you want to fly over from Colorado to Brussels next week :-)

[2016-10-17 21:02] odiea commented on #731
I would like to do that but too much going on here. Take my beer and you 2 enjoy it. Grandson has football playoffs so I can't miss that.

[2016-10-17 21:06] daN4cat commented on #731
football = american football I guess, you know us, Europeans, read football =soccer :-)

[2016-10-17 21:09] odiea commented on #731
He played soccer when he was younger but he thought American football was more fun once we told him he did not have to be a gentle giant anymore.

[2016-10-17 21:09] odiea commented on #731
14 yrs old 6ft 2 195 lbs. He eats us out of house and home.

[2016-10-17 21:12] daN4cat commented on #731
oh wow, 14 y/s 6ft, he's really tall!

[2016-10-17 21:12] odiea commented on #731
He's the ladd standing next to my 5 ft wife.
https://www.facebook.com/nancy.agnew.92

[2016-10-17 21:32] odiea commented on #731
And no he did not get his height from my side of the family.

[2016-10-17 21:37] jekkos commented on #731
Cool pic there. @daN4cat I'll try to review a bit tomorrow and finalize. Looking forward having a beer after all this hard work.

[2016-10-17 21:41] odiea commented on #731
@jekkos thanks. I will delete these posts in an hour. Hope there were enough donations so you 2 can at least have a pitcher of warm beer.

[2016-10-17 21:57] daN4cat commented on #731
@odiea probably too many American steaks...

@jekkos 7 months of work!

@odiea a pitcher of Belgian beer can be dangerous, not sure you can stand to a pitcher of Leffe for instance. Belgium is a country of 100 beers but they tend to be strong.

[2016-10-17 21:59] odiea commented on #731
@daN4cat I know our weak 6% beer is not dangerous. When I am in Honduras I do enjoy a bottle or 2 of Salva Vida. No weak beers there either.

[2016-10-18 01:43] petercstevenson commented on #772
It still does not work. This is not a critical bug for me (I just save the receipt as a PDF and then email it) so if this waits until a later release I don't mind.

[2016-10-18 01:44] petercstevenson commented on #904
Yes this seems fixed.

[2016-10-18 02:03] petercstevenson opened #916 "Low Inventory Report gives incorrect quantity"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.

### Issue, Question or Bug

Before submit

[2016-10-18 02:06] petercstevenson opened #917 "Error uploading Company Logo using Docker Web"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.

### Issue, Question or Bug

Before submit

[2016-10-18 02:06] petercstevenson commented on #917
BTW, I don't really need this functionality - I just thought that the developers should know that this doesn't work using the Docker web setup.

[2016-10-18 06:25] Nsobi opened #918 "failed to add new item,when i open the new item no field(form) populated to add item"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.

### Issue, Question or Bug

Before submit

[2016-10-18 06:27] Nsobi opened #919 "Plz assist me cause im trying to open the store configuration doest not responding"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.

### Issue, Question or Bug

Before submit

[2016-10-18 07:46] 520521mayuan opened #920 "Not Found The requested URL /opensourcepos/public/login was not found on this server."
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.

### Issue, Question or Bug

Before submit

[2016-10-18 07:47] daN4cat commented on #919
Please fill in the template, also make sure you don't use MySQL 5.7 and PHP 7.0 as not supported yet.

[2016-10-18 07:48] daN4cat commented on #918
See #919

[2016-10-18 07:48] #918 closed

[2016-10-18 07:50] daN4cat commented on #920
Are you using the latest master?

[2016-10-18 07:52] daN4cat commented on #920
Also have you changed .htaccess by any chance?

[2016-10-18 07:53] 520521mayuan commented on #920
no.

[2016-10-18 07:55] daN4cat commented on #920
Using latest master?

[2016-10-18 07:56] 520521mayuan commented on #920
I'm using the command: git clone https://github.com/jekkos/opensourcepos.git to download the source code just now.

[2016-10-18 07:58] daN4cat commented on #920
edit public/.htaccess and change:

because you installed it in a subdir. If that's the solution I'll add a note to the README

[2016-10-18 08:00] daN4cat commented on #920
Please let me know the result...

[2016-10-18 08:12] 520521mayuan commented on #920
I got the same information.

Not Found

The requested URL /opensourcepos/public/login was not found on this server.

[2016-10-18 08:29] daN4cat commented on #920
And you copied all the dir structure and files from master.
That's strange because login is not under public, so it's pointing to the wrong location.
At the moment nothing springs to my mind about your issue....

[2016-10-18 08:39] 520521mayuan commented on #920
yeah. I have copied all the dir to /var/html/ from master.

It's frustrate me too. I can't find any file which name is login in my public directory.

I assure that I don't modify the other file except the necessary one(application/config/config.php,application/config/database.php)

[2016-10-18 08:40] martadinata666 commented on #920
do you confirmed that url rewrite already enabled? i had this one because i forget to enable it.

[2016-10-18 08:55] 520521mayuan commented on #920
I don't know if my url rewrite already enabled. Do you mean the mod rewrite? I enable it by:

sudo a2enmod rewrite && sudo systemctl restart apache2.

And then access the site again. But unluckily, I got the same error prompt.

[2016-10-18 09:04] martadinata666 commented on #920
ls /etc/apache2/mods-enabled | grep rewrite

if the result rewrite.load that mean the http already rewrite enabled

[2016-10-18 09:28] #920 closed

[2016-10-18 09:32] jekkos commented on #917
I've changed permissions on the upload folder in the Dockerfile. Can someone verify if this is ok?

[2016-10-18 09:34] jekkos commented on #772
I think with this sendmail setup you should connect to an external smtp. What configuration are you using currently? Local connections will probably not work (as there is no smtp in the container)

[2016-10-18 13:43] daN4cat commented on #917
@jekkos something is now wrong with TravisCI, it fails or hangs.

[2016-10-18 15:43] alvin101 commented on #731
@daN4cat you come to Roatan I will buy you a Salva a big one, a caguama

[2016-10-18 16:23] daN4cat commented on #731
@alvin101 I checked where Roatan is (apologies for my ignorance) and WOW, it looks a beautiful place. Is where you live?
You are now tempting me not only thanks to hinting me of that place but even for the Salva beer offer!
BTW, how do you fly to Roatan?

[2016-10-18 19:01] Buluc-Celik opened #921 "Item(ID=0) does not display image"
### Issue, Question or Bug

Before submitting an issue please make sure you remove the first section of the template and you tick (add a x between the square brakets) and agree with all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- x[] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensource

[2016-10-18 19:23] daN4cat commented on #921
@jekkos should it be `if(isset($item->pic_id))`?
I don't know what the logic for that check was... better you check and change as you remember more of it.

[2016-10-18 19:53] daN4cat commented on #731
Actually I've just checked and all the bootstrapisation story started in Dec 2015, so it's 10 months of work.

[2016-10-18 19:57] jekkos commented on #921
Could be correct indeed. Id=0 might be missing.. But on the other hand I wonder whether images aren't numbered starting from 1. I need to double check.

[2016-10-18 19:57] jekkos commented on #917
I tested on local and upload works now in the container. I close. Travis build is fixed as well.

[2016-10-18 20:07] daN4cat opened #922 "Add Whatsapp messaging support"
This is a new a feature and the addition of this library https://github.com/mgp25/Chat-API via composer would help the addition of Whatsapp support (provided Mr Facebook doesn't decide to cut the line...).

This should be an addition to the current send message support.

[2016-10-18 20:12] jekkos commented on #922
I suppose adding this as a spi behind the existing sms interface would be more useful as it's free to use?

[2016-10-18 20:19] daN4cat commented on #922
We are lacking a message receiving part, but indeed extending the current message view with a tabular view of sent and received messages will allow even to add Whatsapp support leveraging what we have already at the moment.

[2016-10-18 20:19] daN4cat commented on #922
And I guess we would need to add a call from cron to manage the automatic message polling.

[2016-10-18 21:18] Buluc-Celik commented on #921
Yes they start from 0 as well. Also, I  fixed it on local with isset as well.

[2016-10-18 21:56] petercstevenson commented on #917
This still does not work in my configuration - I get the same error message.

[2016-10-18 22:04] petercstevenson commented on #772
I'm not sure what you mean. I have attached  a screenshot. Is there more setup information that you need from me?
![screenshot](https://cloud.githubusercontent.com/assets/21316584/19498092/37c82780-9544-11e6-8350-69d5638f21e6.png)

[2016-10-19 00:18] jacksz commented on #922
This is great!

[2016-10-19 01:20] 520521mayuan opened #923 "The localhost page isn’t working. localhost is currently unable to handle this request. HTTP ERROR 500"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.

### Issue, Question or Bug

Before submit

[2016-10-19 01:23] jzonetan commented on #923
can you provide screenshoots?

[2016-10-19 01:31] 520521mayuan commented on #923
As the follow shows:

![open source point of sale powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/7332357/19502306/a1ddab0a-95de-11e6-841f-68e9a00397ba.png)
![open source point of sale powered by ospos 3 0 0-2](https://cloud.githubusercontent.com/assets/7332357/19502316/ac657d96-95de-11e6-95d9-92e2ebf518dc.png)
![final](https://cloud.githubusercontent.com/assets/7332357/19502317

[2016-10-19 01:52] 520521mayuan commented on #923
- os:   Linux debian 4.6.0-1-amd64

- mysql: mysql  Ver 14.14 Distrib 5.6.30

- apache: Apache2/2.4.23 (Debian)

- php: php 5.6.26-1 (cli)

- ospos: 3.0.0

[2016-10-19 03:09] martadinata666 commented on #923
Try enable php error message at php.ini

![2016-10-19-100856_734x50_scrot](https://cloud.githubusercontent.com/assets/2433562/19504392/19a219e6-95e4-11e6-98f8-c5a423a96984.png)

[2016-10-19 03:36] 520521mayuan commented on #923
cat /var/log/apache2/error.log
`
[Wed Oct 19 11:30:55.402457 2016] [autoindex:error] [pid 20713] [client ::1:44420] AH01276: Cannot serve directory /var/www/html/opensourcepos/public/uploads/item_pics/: No matching DirectoryIndex (index.html,index.cgi,index.pl,index.php,index.xhtml,index.htm) found, and server-generated directory index forbidden by Options directive, referer: http://localhost/open

[2016-10-19 05:33] daN4cat commented on #923
Items is not in public. You have some setup configured issue.

[2016-10-19 05:44] 520521mayuan commented on #923
I setup the openpos according the official tips step by step.  And I'm not do other operations.

[2016-10-19 06:24] daN4cat commented on #923
Have you added pictures to your items?

[2016-10-19 06:46] 520521mayuan commented on #923
yeah. the file structure is like this:

![tmp1](https://cloud.githubusercontent.com/assets/7332357/19508194/694da228-960a-11e6-9d2a-e70575fd400a.png)

and the items like this:

![tmp2](https://cloud.githubusercontent.com/assets/7332357/19508262/ce9b4ae0-960a-11e6-9462-ff6c98c762ee.png)

[2016-10-19 08:16] daN4cat commented on #923
OK, you see you have a problem already accessing the pictures from item list.
So that's the issue here.

Thanks for the report and test, it's probably something that wasn't tested with latest dir layout change (due to composer).

[2016-10-19 10:07] jekkos commented on #848
Translations is always a WIP. Think we'll just want to improve along the way and not halt the current release for this.

[2016-10-19 10:33] #912 closed

[2016-10-19 10:34] jekkos commented on #923
Indeed I guess this is a real bug.

[2016-10-19 10:38] jekkos commented on #591
We could deploy a public instance and then call for testing to report remaining problems?

[2016-10-19 10:39] jekkos commented on #464
Read wiki section on creating reports. Will close this as it's more of a question that has been answered before.

[2016-10-19 10:39] #464 closed

[2016-10-19 10:40] daN4cat commented on #921
@jekkos I need to assign to you this item pic stories because I won't be able to find the time to debug. I hope you can sort it out so we can close this release.

[2016-10-19 10:40] daN4cat commented on #923
@jekkos I need to assign to you this item pic stories because I won't be able to find the time to debug. I hope you can sort it out so we can close this release.

[2016-10-19 10:45] jekkos commented on #157
You can place bids now through bounty source.

[2016-10-19 10:56] jekkos commented on #917
@petercstevenson issue is that you'll need to recreate the data container (and might lose you're data). You can set the file permissions manually on your container which should fix the issue after all.

[2016-10-19 13:26] petercstevenson commented on #917
Permissions for /app/uploads/ and /app/public/uploads/ are already set to 775. If the only way to get this to work is to risk losing my data, it's not worth it to me.

[2016-10-19 14:22] jekkos commented on #917
OK but in that case it should just work.

[2016-10-19 15:05] alvin101 commented on #731
@daN4cat Roatan has an international airport, but I find it a better value to fly to San Pedro Sula and take a bus to La Ceiba where you catch the Galaxy Wave ferry to the Island.

[2016-10-19 15:05] daN4cat commented on #917
@jekkos I believe the issue is not docker but the application that with composer change cannot access the  uploads dir. It's connected to the other issue with images not loadable in items.

[2016-10-19 17:29] daN4cat commented on #923
I found the time to check this, it's a public and subdir ownership and permission story.

@520521mayuan please make sure the public and subdirs are owned by the server user and permissions are 755 through out public dir.

[2016-10-19 17:32] daN4cat commented on #917
ownership of the public dir needs to be correct too and permission set to 755, same applies to public subdirs too.

[2016-10-19 17:49] daN4cat commented on #921
I believe I fixed this. See my last commit to master.

[2016-10-19 21:42] jekkos commented on #921
Image loading looks resolved now. Also I have no issues loading the first uploaded image. So I guess we can close then?

[2016-10-20 03:12] petercstevenson commented on #917
The permissions of all of the subdirecties in /app/public were already set to 775

[2016-10-20 05:49] #921 closed

[2016-10-20 05:51] daN4cat commented on #917
Have you even tried 777 to check no ownership aspect is affecting your issue?

[2016-10-20 09:50] daN4cat commented on #923
@520521mayuan can you please confirm that I close this issue?
I tested different conditions yesterday and found those are the real issue nothing to do with paths in OSPOS.

[2016-10-20 09:52] daN4cat commented on #916
We need to have the test case clear otherwise we might spend too much time figuring out hypothetical scenarios.

[2016-10-20 09:53] daN4cat commented on #914
I assume the question was answered, correct @alvin101 ?

[2016-10-20 09:54] 520521mayuan commented on #923
I'm sorry for the tardy reply. I can't check it  now. I will take a close look at it as soon as possible. Thanks!

[2016-10-20 11:53] #923 closed

[2016-10-20 14:26] alvin101 commented on #914
@daN4cat no not really, I think it would be good to spell it out in readme or wiki, labels mean different things to different people like Epic. and how this project uses these terms.  But we can close this....

[2016-10-20 15:38] daN4cat commented on #914
OK, needs to be added to the wiki.

[2016-10-20 17:00] AshishDL opened #924 "item search performance slow in sales register with huge data in ospos_items table"
Steps to reproduce the issue

when i insert huge data into ospos_table while i went to view side and search item in sales module .it will take too much time to find item..
so please inform How i can improve item search performance fastly...

![sampleee](https://cloud.githubusercontent.com/assets/22575454/19569801/ace01678-9714-11e6-823a-5a37e46da0f0.png)

[2016-10-20 17:01] #919 closed

[2016-10-20 17:03] daN4cat commented on #772
@petercstevenson please select sendmail from the protocol list and give a try.

[2016-10-20 17:05] daN4cat commented on #924
You are not telling us where you run OSPOS. Local machine, remote machine, OS, PHP config and etc.

[2016-10-20 17:35] AshishDL commented on #924
Sir,,I run ospos on remote machine.

[2016-10-20 20:44] petercstevenson commented on #917
Thanks, @daN4cat. That fixed it. I changed the permissions of /app/public, /app/uploads, and /app/public/uploads to 777 and now it works.

[2016-10-20 20:44] #917 closed

[2016-10-20 20:49] petercstevenson opened #925 "Logo vs Business Name in Receipt"
My logo includes my business name, which I think is pretty common. The current standard receipt template places the logo directly above the business name, which looks funny due to the duplication of the title. One solution could be to have an option of whether to include the business name in the receipt.

![mozilla](https://cloud.githubusercontent.com/assets/21316584/19577382/f9a20136-96cb-11e6-86

[2016-10-20 20:51] petercstevenson commented on #916
OK, I will try harder to duplicate it. Clearly the Low Inventory Report and the Items list point to different numbers for the quantities, so I thought that you might be able to look there.

[2016-10-20 21:09] petercstevenson commented on #916
Either my database is corrupted or there is something very buggy about the stock locations. When I went to the Stock page in Store Config I got this page:
![screenshot from 2016-10-20 14 01 30](https://cloud.githubusercontent.com/assets/21316584/19577859/dd959bcc-96cd-11e6-977f-e83c80b52e1a.png)
I could not click on Submit because of this error message. When I changed the name of Stock Location 1,

[2016-10-20 21:11] petercstevenson commented on #772
Still does not work

[2016-10-20 21:13] daN4cat commented on #917
Ok, but that means the ownership and group are not matching the web server one. It should be fixed and the set 755

[2016-10-20 21:50] odiea commented on #925
[code]

[2016-10-20 22:01] odiea commented on #925
I see you are using docker so this might be an issue to update the receipts.

[2016-10-21 00:18] 520521mayuan commented on #923
my file permission was already 755.

![1](https://cloud.githubusercontent.com/assets/7332357/19582431/d018e00a-9766-11e6-97e8-1e9709022fbb.png)

So, it's not fix it up.

[2016-10-21 00:58] 520521mayuan commented on #923
I think it's the module of apache2 should enable for this function. my enabled modules as following:

`ls /etc/apache2/mods-enabled/`

access_compat.load
alias.conf
alias.load
auth_basic.load
authn_core.load
authn_file.load
authz_core.load
authz_host.load
authz_user.load
autoindex.conf
autoindex.load
deflate.conf
deflate.load
dir.conf
dir.load
env.load
filter.load
mime.conf
mime.load
mpm_prefork.c

[2016-10-21 02:47] 520521mayuan commented on #923
@daN4cat any suggestions?

[2016-10-21 05:17] hzzg6y commented on #924
Ashish runs OSPOS on CentOS 7 - VPS with 1GB RAM & 256000+ items database. We  see that the performance is quite slow.  We are using Cpanel.    We basically need some pointer or hint on Scannning efficiency as when the number of items increases, search & display of item is taking long time. Hence any pointer on improving the scanning efficiency on item_ospos table will much appreciated.

[2016-10-21 05:29] 520521mayuan opened #926 "the #923 issues not got resolve"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.

### Issue, Question or Bug

Before submit

[2016-10-21 05:35] daN4cat commented on #926
Sorry but that's not an OSPOS issue, check your setup as I tested and works fine.

[2016-10-21 05:35] #926 closed

[2016-10-21 05:36] daN4cat commented on #923
Try setting 777 and see if it works.

[2016-10-21 05:46] 520521mayuan commented on #923
Not work. Got the same error.

[2016-10-21 05:47] 520521mayuan commented on #923
I think it's the module of apache2 should enable for this function. my enabled modules as following:

ls /etc/apache2/mods-enabled/

access_compat.load
alias.conf
alias.load
auth_basic.load
authn_core.load
authn_file.load
authz_core.load
authz_host.load
authz_user.load
autoindex.conf
autoindex.load
deflate.conf
deflate.load
dir.conf
dir.load
env.load
filter.load
mime.conf
mime.load
mpm_prefork.con

[2016-10-21 06:34] hzzg6y commented on #924
Ashish runs OSPOS on CentOS 7 - VPS with 1GB RAM & 256000+ items database. We  see that the performance is quite slow.  We are using Cpanel.    We basically need some pointer or hint on Scannning efficiency as when the number of items increases, search & display of item is taking long time. Hence any pointer on improving the scanning efficiency on item_ospos table will much appreciated.

[2016-10-21 08:33] 520521mayuan commented on #923
@martadinata666 There is no significant information even I make the display_errors=On.

[2016-10-21 08:47] songwutk commented on #848
Problem is ... Some word can use in some situation, one word can tranlate into many words.

I love old method that convert from real user interface that can translate exactly best word for users.

[2016-10-21 09:08] 520521mayuan opened #927 "#923 issue"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.

### Issue, Question or Bug

Before submit

[2016-10-21 10:23] jekkos commented on #848
I think weblate still offers you the context in which the string appears from the translation file itself. Also translations in other languages are shown as an example to the current one. Think all in all this is a nice improvement in comparison with the old situation.

[2016-10-21 10:37] jekkos commented on #916
Yes I know that this part is not of the best quality at this moment. However this part has been reworked already in a private branch. Not sure what I'm about to do with it yet but currently I'm not going to dive into this code as aside from some weird creation / renaming bugs stock location functionality should work OK.

[2016-10-21 10:40] jekkos commented on #916
I have set this to wontfix for now as I think the design of the stock location mgmt isn't right and so it could be replaced as a whole by multistore later on.

[2016-10-21 10:40] jekkos commented on #916
See also #150

[2016-10-21 10:41] jekkos commented on #927
Please don't create duplicate issues.

We will not guarantee any delivery or ETA for a fix as all this work is done on a voluntary basis.

[2016-10-21 10:41] #927 closed

[2016-10-21 10:50] daN4cat commented on #927
Especially because it's a setup issue not a software bug.....

[2016-10-21 10:52] daN4cat commented on #923
Please understand that this is a setup issue, so you need to find your own way searching with Google or on Stackoverflow for hints, tips or help.
We don't have answers to all the possible issues of this world....

[2016-10-21 10:53] jekkos commented on #924
First problem is that you're using shared hosting. You probably have no control over your database  settings in any way.

I might advice to use cloud install (docker or native) in which customized mysql configs are pobbile and for only $10 a month on DO I think you getting a lot in return (1GB RAM, 30GB disk, you can even run your own cloud storage in parallel and get docker autoredeploy for free)

[2016-10-21 10:54] jekkos commented on #923
Things are getting a little mixed up here. Solution to the initial problem might have been found in the FAQ. Please read the template as I'm sure that error code 500 on receipt generation is something that's been covered in the past.

The other bug regarding item pic upload was already tackled in #917

[2016-10-21 10:56] jekkos commented on #923
Regarding setup, I think the most straightforward way to deploy now is docker cloud as it has all required dependencies preinstalled.

Only thing that currently does not work is sending receipt through email.

[2016-10-21 10:57] daN4cat commented on #923
Yep, you are right, the ticket issue could be something else. I was referring to the item avatar picture issue early on.

[2016-10-21 10:59] jekkos commented on #927
Yes that as well. Think we have invested more than enough time in making setup less painful through docker and I'm not motivated to keep answering questios about any other possible shared hosting configuration problem out there

[2016-10-21 11:04] jekkos commented on #925
You can copy this new template to the web container using `docker cp` command. I think it should just show up in the dropdown afterwards?

[2016-10-21 11:04] jekkos commented on #925
If desired I can add an extra volume to allow for persistent custom receipts in docker

[2016-10-21 12:32] 520521mayuan commented on #927
I'm so sorry for creating the duplicate sites. It's because i think if the report is closed and the others could not see what i say.

[2016-10-21 12:33] 520521mayuan commented on #927
I'm so sorry for creating the duplicate sites. It's because i think if the report is closed and the others could not see what i say.

[2016-10-21 12:55] alvin101 commented on #927
@520521mayuan Persons watching this project will get a copy of your post closed or not.  Persons that really watch a project know how to click the closed link near the top of the default issues page. And you can come back later and delete your posts to help clean up the issues section...

[2016-10-21 13:05] 520521mayuan commented on #927
Got it. Thanks a lot.

[2016-10-21 13:21] 520521mayuan commented on #923
thanks @jekkos @daN4cat a lot. It's worked now. As @daN4cat say, this is not the code bug, it's a setup problem. And thanks for @jekkos reminding me that the FAQ is a key clue for resolve my problem. The following package is necessary for the pos system:

php5-gd
php-bcmath

`sudo aptitude install php5-gd php-bcmath`

That's all. Thanks again.

[2016-10-21 13:32] daN4cat commented on #923
Good, but I somehow assumed you read the FAQ already. Anyway sorted....

[2016-10-21 13:38] odiea commented on #923
Another reason why they should include the phpinfo. Less wasted time.

[2016-10-21 13:42] petercstevenson commented on #916
If I am able to delete the extra stock locations and have OSPOS work with only one, that would be fine. At this point the biggest problem for me is that deleted stock locations are not reflected in the low-inventory report.

[2016-10-21 14:49] daN4cat commented on #916
That's a bug, it should not show that.

[2016-10-21 15:19] daN4cat commented on #772
@petercstevenson this seems to be a Docker on AWS issue, see: http://stackoverflow.com/questions/26215021/configure-sendmail-inside-a-docker-container

Probably you need to follow those suggestions to get the issue sorted but it's beyond OSPOS as application.

[2016-10-21 15:19] #772 closed

[2016-10-22 03:05] jroske opened #928 "SMS Issue.."
I am attempting to setup with sms messaging. I am using bulksms.com for my provider. I have placed the following url in the sms_lib.php library:

$url = "http://usa.bulksms.com/eapi/submission/send_sms/2/2.0?username=$username&password=$password&msidn=$phone&message=$message";

I cannot get this to work. If I actually put my actual username and password along with the phone number I am sending the

[2016-10-22 06:03] hendranata opened #929 "how to tick Print after sale and Create Invoice by default"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.
### Issue, Question or Bug

Before submitt

[2016-10-22 09:28] daN4cat commented on #928
See #472 if can be of any help.

[2016-10-22 09:30] daN4cat commented on #928
especially pay attention to `$message = rawurlencode($message);` point that needs to happen before the $url =

[2016-10-22 09:53] daN4cat commented on #916
Issue is fixed.

[2016-10-22 09:53] #916 closed

[2016-10-22 09:56] daN4cat commented on #731
I fixed the last bug, fixed README typo and Release note typo, added the Tag 3.0.0 and pushed the Release button.

It's official Release 3.0.0 is out now.

[2016-10-22 09:57] #848 closed

[2016-10-22 09:57] #731 closed

[2016-10-22 10:14] daN4cat commented on #401
See #876

[2016-10-22 10:14] daN4cat opened #930 "401"

[2016-10-22 10:15] #930 closed

[2016-10-22 11:02] daN4cat commented on #924
@AshishDL @hzzg6y item search is a simple MySQL query against items table, so the time here is all about the database setup.
You can always try MariaDB which is a one-to-one replacement to MySQL and seems more efficient, but you need to make sure your VPS setup is good.

[2016-10-22 13:24] hendranata opened #931 "Payment reminder"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.

### Issue, Question or Bug

Before submit

[2016-10-22 16:23] daN4cat commented on #931
This is a purchase order management story. It's not supported. Some other user offered implementing it and share the code but I haven't seen any contribution yet.

[2016-10-22 19:36] petercstevenson commented on #916
Thanks, the Low Inventory Report issue seems fixed. If I could delete the rest of the stock locations then things would run smoothly again. It appears that the main issue is that Stock location 1 cannot be named a previously-used name (including its current name). But perhaps this will need to wait until the whole stock location system is revamped.

[2016-10-22 19:45] petercstevenson commented on #772
OK, if this is not going to work out-of-the-box then it should be noted somewhere in the documentation. I can add it to the wiki but I think that the best place to is at the end of the Cloud Install Using Docker section on the main github page.

[2016-10-22 20:16] petercstevenson commented on #925
@jekkos, I'm not sure what you meant about the copying the template to the web container, but I did edit the receipt file by hand and it now works. Presumably this will get lost next time I redeploy, though.

[2016-10-22 20:39] jekkos commented on #68
![item_attributes](https://cloud.githubusercontent.com/assets/576234/19622357/6aa3ebd2-98a8-11e6-8136-172c1584c007.png)

[2016-10-22 20:42] jekkos commented on #68
I whipped up a simple ERD diagram for this change. Have to think a bit further how I will adapt the UI to make category CRUD as easy as possible. I'd prefer to keep these create/delete controls inside the item modal dialog.

[2016-10-22 20:42] jekkos commented on #68
Idea is that in the end the custom fields will disappear in favor for a more generic and extensible db layout.

[2016-10-22 22:45] hendranata commented on #931
I see. Hopefully will have that kind of feature next

[2016-10-22 23:32] jlctmaster opened #932 "Filter sales summary by date and time"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.
### Issue, Question or Bug

Before submitt

[2016-10-23 10:35] odiea commented on #929
For the invoice part you can go to application/libraries/sale_lib and comment out the last line.
[code]

[2016-10-23 12:02] hendranata commented on #929
Ok will try later

[2016-10-23 14:01] alvin101 commented on #440
Where I come from we call this till reconciliation.  I have yet to see a POS do a good job of this.

**1.  Opening Balance** You come in the morning open the till and count the money, you have 3 tills with dual currency.  Is the count the same as closing of last night, was money missing in the night, was there human error?

**2. Cash Movement** You make sales, you buy toilet paper and pay the wind

[2016-10-23 18:30] daN4cat commented on #440
It's the same in my wife's shop. The problem with OSPOS would be to add the notes or justification for the difference. It has to become a journal to log things.

[2016-10-24 01:19] hendranata commented on #929
@odiea

It is not working

[2016-10-24 01:27] odiea commented on #929
That line was added because we all got tired of unchecking the Invoice. I will check later and see what has changed. You may have to also comment out //$this->clear_invoice_number();

[2016-10-24 01:54] hendranata commented on #929
@odiea
here is mine:

public function clear_all()
        {
                $this->set_invoice_number_enabled(FALSE);
                $this->clear_mode();
                $this->empty_cart();
                $this->clear_comment();
                $this->clear_email_receipt();
                $this->clear_invoice_number();
                $this->clear_giftcard_remainder();
                $this->e

[2016-10-24 01:59] hendranata opened #933 "integrated with Cashdrawer"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.

### Issue, Question or Bug

Before submit

[2016-10-24 02:12] odiea commented on #929
You did not comment out $this->set_invoice_number_enabled(FALSE); Comment out means I looks like the following. It has // in front of it. Try that and see what happens.
//$this->set_invoice_number_enabled(FALSE);

[2016-10-24 02:14] odiea commented on #929
Try that first before commenting out $this->clear_invoice_number();

[2016-10-24 02:21] hendranata commented on #929
both are not working.

public function clear_all()
        {
                //$this->set_invoice_number_enabled(FALSE);
                $this->clear_mode();
                $this->empty_cart();
                $this->clear_comment();
                $this->clear_email_receipt();
                //$this->clear_invoice_number();
                $this->clear_giftcard_remainder();
                $th

[2016-10-24 02:29] hendranata commented on #929
anyway after try again and again it works. thanks

[2016-10-24 09:42] hzzg6y commented on #924
Thanks for response.  We are not using Shared hosting. We are using dedicated cloud VPS server having Cpanel in it from Rackspace. Yes.. I will get you the below soon..

1. Slow query log in mysql
2. Install Mysqltuner perl script.
3. Execution plan to see the cost of query.

MariaDB is just the fork of Mysql hence I don't see  any difference it will make.

[2016-10-24 11:23] daN4cat commented on #924
I use VPS too, dedicated and all works fine. I have a large database too.
With regards to MariaDB I can see you are "up to date" with the matter.

[2016-10-24 14:17] tanakornp commented on #871
If you use Motolora Symbol you can program your scanner to send a command like f1 f2.. etc (check out 123scan Advanced Data Formatting rule) combine with http://www.openjs.com/scripts/events/keyboard_shortcuts/

[2016-10-24 18:27] tanakornp opened #934 "Class 'NumberFormatter' not found ? php_intl is enabled"
### Issue, Question or Bug

Before submitting an issue please make sure you remove the first section of the template and you tick (add a x between the square brakets) and agree with all the following check boxes:

- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas (in specific PHP has php5-gd, p

[2016-10-24 20:05] jekkos commented on #934
Please read FAQ. Install php-intl extension. Beside having it in your config file you also need the library to be physically present in your installation. There's enough resources on the net to help you out there

[2016-10-24 20:05] #934 closed

[2016-10-25 02:41] 520521mayuan opened #935 "The "Item Kits" function issue"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.

### Issue, Question or Bug

Before submit

[2016-10-25 02:42] 520521mayuan commented on #935
![1](https://cloud.githubusercontent.com/assets/7332357/19671203/aa9f728a-9a9f-11e6-91b4-1c04360d2971.png)

[2016-10-25 03:08] odiea commented on #935
Item Kits has no real function except to add pre priced items to be sold with a single name.

[2016-10-25 05:45] 520521mayuan commented on #935
Thanks a lot @odiea. Got it.

[2016-10-25 07:26] tanakornp opened #936 "Cost, Profit and receiving quantity."
### New Feature or Enhacement

ospos_sales_items.item_cost_price is not reflect the the actual cost when receiving quantity of item is not 1.

For example, I'm selling a rubber gloves.

The item came in as a dozen package so the receiving quantity is 12.
Cost of item for 1 dozen is 210 THB (Thai Baht) or 210/12 = 17.5 THB each.

I sell each glove at 30 THB.

Each sell of globe I got a profit of 30

[2016-10-25 07:56] #935 closed

[2016-10-25 08:01] daN4cat commented on #936
I'm not 100% sure but I don't think receiving has a concept of bulk receiving and detailed sale.
This is something new to add probably.

[2016-10-25 13:36] alvin101 commented on #936
What about landed cost?  Your profit will not be correct without it.
I do not believe that profit or loss belong in POS, it should be left to back office or erp.
Managing purchases orders, inventory, and accounting should all be back office, not POS,

Maybe it is time to consider a back office module for those that need more features than just a fast cash register.

[2016-10-25 13:59] tanakornp commented on #936
Well there are a bunch of report in OSPOS does show the profit. I didn't want to do all the accounting here, I just only use for a estimated profit. I just want to see these features that already available here (receiving quantity and profit calculation) works well together.

[2016-10-25 14:05] tanakornp commented on #936
@daN4cat
Yeah, I suspect that too but from way of the receiving and receiving quantity work, I only way I see that can fit is bulk receiving. So I assumed you guys probably designed this for bulk receiving.

[2016-10-25 14:15] jekkos commented on #936
Check #78 for a full explanation on what the feature does.

[2016-10-25 14:25] jekkos commented on #936
The concept of profit here is only taking the difference between cost and unit price per item into account. AFAIK it does not take into account the amount paid on orders and potential extra discount you received on it.

This is something that would be nice to have for the future. Currently it might be better to omit this field from the reporting as it isn't really a very exact representation of pr

[2016-10-25 15:07] tanakornp commented on #936
@jekkos

Agreed . I have never cared about profit coz I knew that it is not accurate since 2.4. And I see no issue addressed this problem so post this issue. Just in case nobody knows it.

[2016-10-25 15:38] jekkos commented on #936
You're right, I have ignored it ever since I took over the project as it never made sense to me.

Might be better to remove it unless someone thinks it is useful in some way?

[2016-10-25 16:06] daN4cat commented on #936
I would leave the profit figure as it is, it's indicative and not the real operative figure you would put in a financial statement for sure.

[2016-10-26 04:36] RamkrishnaMondal commented on #928
Please check / save  'username' and 'password' for your Sms-api in 'message' tab under 'stores-config'.

[2016-10-26 07:26] 520521mayuan opened #937 "Using the opensourcepos only in localhost"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.

### Issue, Question or Bug

Before submit

[2016-10-26 08:10] daN4cat commented on #937
Have you changed something in the code?

[2016-10-26 08:11] daN4cat commented on #937
Which theme are you using?

[2016-10-26 08:39] 520521mayuan commented on #937
I not modify the code except the necessary config file.

 How to check out what the theme is using? It should be the default.

[2016-10-26 08:55] 520521mayuan commented on #937
![test](https://cloud.githubusercontent.com/assets/7332357/19719548/088fbf32-9b9d-11e6-83b2-3fd108839ed3.png)

[2016-10-26 13:57] alvin101 commented on #936
I vote to remove it.

[2016-10-26 15:49] jekkos opened #938 "Find a stock value for a point in time"
### Issue, Question or Bug

Before submitting an issue please make sure you remove the first section of the template and you tick (add a x between the square brakets) and agree with all the following check boxes:
- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcep

[2016-10-26 18:29] odiea commented on #938
The only difference I can see is the last_date is included in the first select but not the second select.
[code]

[2016-10-27 00:43] arteiro opened #939 "Optimised installation"
Hello,
I do not know where to post, then:
Suggestion...
The experts of this process pederiam create an installation package for 'lay' and with the least possible packages, as many files within the package are obsolete for the use of it, and may be separated by language, since many users will use only one or two languages, I do not know if I'm right but the files where the arquvos the codeigniter n

[2016-10-27 08:56] AshishDL opened #940 "When i repair ospos_item table i found Innodb does not support error"

[2016-10-27 09:01] #940 closed

[2016-10-27 13:23] 520521mayuan commented on #937
It's solved.

Firstly, disable google-chrome extension: Proxy SwitchyOmega (in my case), perhaps the other extension should be turn off if you have the same issue.

secondly, comment out: opensourcepos/vendor/ins0/google-measurement-php-client/src/Racecore/GATracking/Client/Adapter/Socket.php line 32-36,68-72, seems like

[code]

[code]
That's all.

[2016-10-27 13:43] alvin101 commented on #440
I think the (journal to log things) belongs in back office, most accounting systems have a Memo column.

[2016-10-27 14:04] daN4cat commented on #931
See #566

[2016-10-27 14:04] #931 closed

[2016-10-27 14:05] daN4cat commented on #566
@bkrajendra just wondering if you progressed this topic and if had in mind to make any contribution to the project

[2016-10-27 14:08] daN4cat commented on #928
@jroske any news?

[2016-10-27 14:10] #937 closed

[2016-10-27 15:56] daN4cat commented on #925
So there should be an option to do not print the company_name.
It has to be optional because logo could be a trading name and company name could be the legal one.
For instance that's my wife's business case, the shop has a name but the LTD is something else and the receipt has to contain the LTD name.

[2016-10-27 16:02] daN4cat commented on #936
We can make it optional :-)

[2016-10-27 16:07] daN4cat commented on #68
Agree and this is something I need.
Also sold item could contain some of the attributes that have a temporal factor in it. For instance season, expiry date, in case the same repeats and restock means new season or new expiry date.

[2016-10-27 16:56] AshishDL opened #941 "How do i create receipt in different language"
Steps to reproduce the issue

How do i create receipt in different language

![image](https://cloud.githubusercontent.com/assets/22575454/19777121/67c2310e-9c94-11e6-8eb1-46cff31c44c1.png)

[2016-10-27 17:23] daN4cat commented on #941
Store Config, Localisation tab and select a different language. All is adjusted accordingly.

[2016-10-27 17:23] #941 closed

[2016-10-27 18:38] arteiro opened #942 "public folder?"
I have not been following the latest changes, but I have a doubt, because to get the public folder is not the root?

[2016-10-27 19:35] daN4cat commented on #942
Public folder is the root for your web service now

[2016-10-28 00:13] 520521mayuan commented on #937
Why cut the second items in my answer? Is something wrong?

[2016-10-28 04:26] AshishDL commented on #941
ya i know but in that list don't have language which i want..so how can i do it.if i want to add other language?

[2016-10-28 08:24] daN4cat commented on #941
What about reading the wiki? https://github.com/jekkos/opensourcepos/wiki/Adding-translations

Please make an effort and read the documentation before firing issues, I noticed that you easily post requests here instead of reading what's already available. This is the last one I reply of this kind.

[2016-10-28 08:26] daN4cat commented on #937
Because that should not be the issue as it was fixed. You might be using something not from the latest master.

[2016-10-28 12:17] alvin101 commented on #566
I looked at webzash, it is simple and basic. I think as you pursue a back office that you should look at a system that already offers PO management among other features.  A connector or data sync to a system like http://frontaccounting.com/ would take care of a lot of the features ask for by users here.

[2016-10-28 12:29] arteiro commented on #942
ok

[2016-10-28 12:29] #942 closed

[2016-10-28 12:40] daN4cat commented on #566
frontaccounting could be functional but is ugly. I don't know how they can keep up with those type of user experiences nowadays. That's why I made a huge push to move OSPOS to the next UI level because I couldn't stand to the uglyness of the past anymore.

With regards to PO, it's a matter of taste. Some could like webzash as pure accounting and OSPOS for stock / sales / po management.
So far I co

[2016-10-28 17:30] alvin101 commented on #566
@daN4cat You can change the look and feel of frontaccount with one of the many themes or a new theme, IU is only skin deep. I just look at the functions, things like drill down financial reports, and foreign currency transactions. However I do not see any way to attache documents to PO's something I also need.  https://github.com/phreebooks/PhreeBooksERP has a way to attache a file to a PO, but on

[2016-10-28 17:47] daN4cat commented on #566
Sure many good solutions, but my problem is that they try to solve too many problems that we don't have.
Anyway, this is going beyond the original post. I would like to understand if the original poster made any progress.

[2016-10-28 18:00] AshishDL commented on #941
Sorry for inconvenience..i will Work on it,,,

[2016-10-28 23:20] odiea opened #943 "Items Receiving Quantity issue."
Currently items receiving quantity is kind of a useless field. In the database I believe the default is 1 but my database always shows 0. If the default was 1 then it could be used as a multiplier for the item total.
I don't know of any product that comes in case lots that sells that item as a case price. My scenario is like a case of soda. When you need to break down the case to a single item the

[2016-10-29 04:33] jacksz opened #944 "Sales enhancement"
### New Feature or Enhacement

sometimes selling services arise the need for taking an advance/deposit and when the work is done take the rest
so i propose adding  "remaining" or "unpaid" field in sales so that it can pass this issue

example to clarify things "when a customer comes and wants to buy and build a pc , i need a deposit first and then build and when am done i take the rest of the mone

[2016-10-29 05:35] gripitoy opened #945 "No Items to Display after 2.3.4 to 3.0 update"
- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas (in specific PHP has php5-gd, php-intl and sockets installed)
- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Ran any database upgrade script

[2016-10-29 06:07] 520521mayuan opened #946 "opensourcepos/vendor/ins0/google-measurement-php-client/src/Racecore/GATracking/Client/Adapter/Socket.php: (32-36;68-72)"
### New Feature or Enhacement

For new Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to implement it or you will contribute the work.
Please bear in mind that we will implement new features only on the current code, there is no support for old versions.

### Issue, Question or Bug

Before submit

[2016-10-29 06:08] #946 closed

[2016-10-29 06:35] 520521mayuan commented on #946
#937

[2016-10-29 07:04] daN4cat commented on #946
As said this is an issue that was fixed. Make sure you have the latest code from master

[2016-10-29 07:09] daN4cat commented on #946
And touching libraries code is not a good idea, that's why I removed those comments otherwise other people will do for no reason and later we get reports of stuff not working...

[2016-10-29 07:54] daN4cat commented on #945
You need to move your old uploads to public/ subdir.
Try that and let us know if fixed the issue that we add to the installation notes / wiki / FAQ.

[2016-10-29 07:56] daN4cat commented on #944
See #24

[2016-10-29 07:56] #944 closed

[2016-10-29 08:08] jacksz commented on #24
how do you support this?

[2016-10-29 09:43] gripitoy commented on #945
I don't have any pictures/avatar of any of my items.
When I click on Items link in the older version, it displays all of my available products in an alphabetical order, version 3.0 will just say NO ITEMS TO DISPLAY.

[2016-10-29 09:51] nirobahmed opened #947 "Access forbidden!"
I have follow readme file. Create database and modifie database.php file.but why access forbidden?

[2016-10-29 11:19] bkrajendra commented on #566
@daN4cat, @alvin101,  I do understand the need for Purchase order Management and other feature request I posted is really important. But as I'm currently bzy with my other embedded (IoT) projects, I'm struggling for time. Additionally I am very much familiar with **Laravel** framework, and learning new one is real pain :( !
Still I'm working on these aspects and will soon come up with solution.

[2016-10-29 11:21] jacksz commented on #947
navigate to this path
site.com/public/index.php

[2016-10-29 11:28] daN4cat commented on #947
Read the FAQ....

[2016-10-29 11:28] #947 closed

[2016-10-29 11:32] daN4cat commented on #945
Sorry, mixup things this morning... a bit sleepy today :-(

OK, have you added items manually to your DB using things like phpMyAdmin?
Because if you did that you are missing history of your items with date and that might be a reason why you cannot see them.

[2016-10-29 11:33] daN4cat commented on #945
Also, please make sure you use PHP5.5 at least, better 5.6 as 5.5 is deprecated now.

[2016-10-29 12:08] Geekynik opened #948 "New Language code definition"
Please add new language definition code for Nigeria so as to enable currency selection on STORE CONFIG page. Like so;
  en_NG English (Nigeria)

Thank you.

[2016-10-29 12:15] Geekynik opened #949 "Errors & Page Block Rules on Sales/Receiving/Store Config pages"
Dear all,
I find it difficult to edit the above pages simply because certain page block rules have been enabled on them. Besides that I also run into errors on loading these pages.
Find attached files for details and please let's resolve this.

Thanks
![open source point of sale powered by ospos 3 0 0](https://cloud.githubusercontent.com/assets/20142197/19829432/a1e395f8-9dd9-11e6-860c-5298c48f9ba

[2016-10-29 12:24] daN4cat commented on #949
Read the FAQ first thing...

[2016-10-29 12:25] daN4cat commented on #948
Welcome to add the language you wan by yourself, read the wiki https://github.com/jekkos/opensourcepos/wiki/Adding-translations

[2016-10-29 12:32] Geekynik commented on #949
FAQ on which page please?

On Sat, Oct 29, 2016 at 1:25 PM, FrancescoUK <notifications@github.com>
wrote:

[2016-10-29 12:52] daN4cat commented on #949
End of README file

[2016-10-29 14:16] Geekynik commented on #949
The issues are with this particular error because I have ensured all socket
modules, php_bcmath, php5-gd, php-intl.dll extensions are all okay.
But what I now get is this date/timezone and NumberFormatter error below.

Severity: Warning

Message: date(): It is not safe to rely on the system's timezone settings.
You are *required* to use the date.timezone setting or the
date_default_timezone_set()

[2016-10-29 14:17] Geekynik commented on #949
File: C:\Program Files
(x86)\Ampps\www\opensourcepos\application\libraries\Email_lib.php
Line: 11
Function: library

File: C:\Program Files
(x86)\Ampps\www\opensourcepos\application\controllers\Sales.php
Line: 13
Function: library

File: C:\Program Files (x86)\Ampps\www\opensourcepos\public\index.php
Line: 315
Function: require_once

On Sat, Oct 29, 2016 at 3:16 PM, Czar Kwaku <knczar1@gmail.com>

[2016-10-29 14:29] jacksz commented on #944
@odiea did you implement this in your own version?

[2016-10-29 14:36] odiea commented on #944
Yes I have.  I will transfer the register.php over to the new version and see if it works out of the box.

[2016-10-29 14:37] odiea commented on #944
Currently as far as keeping track of payments I have been uploading the Invoices to a spreadsheet.

[2016-10-29 14:45] Geekynik opened #950 "Unable to locate translations folder"
...CSV files in the translations/ folder ... Cannot locate. Please provide some assistance.
Thank you

[2016-10-29 15:39] jacksz commented on #944
nice , can i have a copy of that?

[2016-10-29 16:32] gripitoy commented on #945
MAMP 4.0.6
PHP 5.6.27
MySQL 5.6.33
Apache 2.2.31
Hi, I've recreated the steps above using MAMP and it's behaving in the same way. Items are still not displayed and i'm getting the same error. I'm sure I have not added items manually but I might have edited some values way way back.

Attached a screenshot of the error. Hope it helps.
![screen shot 2016-10-30 at 12 29 48 am](https://cloud.githubuser

[2016-10-29 16:48] odiea commented on #944
No it is not. I have changed it quite a bit since the one I have on my profile. I will attach a copy later this afternoon after I test it. Got to go to work now had to watch my grandsons American ft ball game.

[2016-10-29 18:14] daN4cat commented on #945
OK, that's something that went wrong during the database upgrade and it's not your mistake.

It looks like Items table is missing the pic_id column. This morning I read it like it couldn't find the picture pointed by the content of the pic_id field.

It's strange it looks like in 2.3.2 avatar feature was added and the column in Items table was called item_pic.
Somehow got changed of name but the d

[2016-10-29 18:18] daN4cat commented on #950
Read the wiki.... https://github.com/jekkos/opensourcepos/wiki/Adding-translations

[2016-10-29 18:18] #950 closed

[2016-10-29 18:20] daN4cat commented on #949
PHP version?

[2016-10-29 18:20] gripitoy commented on #945
That fixed it for me! Thank you very much!

[2016-10-29 18:22] daN4cat commented on #945
OK, good. I probably need to go back in history and fix some database script....

[2016-10-29 18:28] daN4cat commented on #945
And great that you spotted this! Many thanks.

[2016-10-29 18:35] daN4cat commented on #945
I need to fix the database script.

You must have upgraded from something like 2.3.1 at least in the past.

[2016-10-29 18:38] gripitoy commented on #945
Yes I have, i've been using this since july 2015.

[2016-10-29 18:43] daN4cat commented on #945
Probably `2.3.1_to_2.3.2.sql` should have had:

[code]

@jekkos do you remember something, because going back in history it looks like between 2.3.1 and 2.3.2 database.sql add the addition of pci_id field but the upgrade script was not correct.

[2016-10-29 18:43] daN4cat commented on #945
To fix this issue properly I would need to change that upgrade script.

[2016-10-29 19:32] daN4cat commented on #945
OK, I decided to change `2.3.2_to_2.3.3.sql` with the updated I suggested. It seems more sensible to me to do in that way.

[2016-10-29 19:32] #945 closed

[2016-10-29 20:39] #948 closed

[2016-10-29 20:45] daN4cat commented on #932
@jlctmaster is this something you changed and would like to contribute or else? Not sure I get what you are after.

[2016-10-29 20:46] daN4cat commented on #933
No answers I'm afraid....

[2016-10-29 20:46] #933 closed

[2016-10-29 20:46] #928 closed

[2016-10-29 22:05] odiea commented on #944
@jacksz
I think this will work. I am no programmer so it is pretty basic.
I have included @hovalle Proforma if you want to print estimates. After you hit complete the proforma receipt will show. You then can go back to register and either cancel the Proforma or suspend it.
Register.php and proforma.php go into application/views/sales.
Sales.php goes into application/controller/sales.
You should re

[2016-10-29 22:23] odiea commented on #944
In application/models/Sale.php I added this line to the payment options above the giftcard clause.
$payments[$this->lang->line('sales_invoice')] = $this->lang->line('sales_invoice');
I then added a line in language/sales $lang["sales_invoice"] = "Invoice"; So Invoice appears in the payment dropdown.

[2016-10-29 22:57] odiea commented on #944
So do not use this yet. I am having issues after adding the Invoice box into the customer window. I will work on it and resend the files.

[2016-10-30 01:05] jroske commented on #928
I have tried all of the above. I have an engineer working on it for me. I run a business, have a 6ohr/wk job and three kids and a wife. Not much time to figure it out. I would also like to have a workorder module created for my shop.

[2016-10-30 03:56] jlctmaster commented on #932
Hi @daN4cat.

Yes, I improved the module to filter by date and time format, but only in 24-hour format, if possible I would like to contribute

[2016-10-30 08:04] Geekynik commented on #949
PHP version 5.6

On Sat, Oct 29, 2016 at 7:20 PM, FrancescoUK <notifications@github.com>
wrote:

[2016-10-30 08:04] Geekynik commented on #949
PHP version 5.5

On Sun, Oct 30, 2016 at 9:03 AM, Czar Kwaku <knczar1@gmail.com> wrote:

[2016-10-30 13:31] jacksz commented on #944
nice , thank you :+1:

[2016-10-30 17:01] daN4cat commented on #949
And are you using the latest master? The issue you are facing should be related to php-intl.dll.

[2016-10-30 17:04] daN4cat opened #951 "Optimise temporary tables"
### New Feature or Enhacement

Current database temporary tables are not optimised resulting in performance issues with large dataset.
Refactor temp tables, add indexes and use temp tables only when and where required.

[2016-10-30 17:10] daN4cat commented on #951
I invite everybody to take the latest master and test all the reports and Sales Takings especially if you have a large set of data as I improved a lot the performance of the queries and usage of temporary tables.

[2016-10-30 21:45] daN4cat commented on #932
Not sure this is really required and to get it to work properly you need to change few things in the model and temporary tables.
We decided in the past to just stick to day and Takings is the summary of the day view.

[2016-10-31 00:16] 520521mayuan commented on #946
Got it! thanks!

[2016-10-31 05:08] Geekynik commented on #949
And yes I'm using the latest master. How do I get the issue with
php-intl.dll solved?
Please assist.

Thanks

On Sun, Oct 30, 2016 at 6:01 PM, FrancescoUK <notifications@github.com>
wrote:

[2016-10-31 07:01] daN4cat commented on #949
Rub phpinfo and make sure it's active.

[2016-10-31 15:49] edzofcit commented on #24
I can send via paypal.

On Sat, Oct 29, 2016 at 4:08 PM, jacksz <notifications@github.com> wrote:

--
Thanks,

Eddie F. Ybañez
CEO and Founder
MICABSYSTEMS INC.
www.micab.co

[2016-10-31 16:35] Geekynik commented on #949
Hi,

My good friend thanks for all the wonderful support okay. But it looks very
frustrating indeed having employed all the solutions you have kindly
proffered so far.
Yet nothing has changed...I mean the problem still persist.
Don't know what else to do now...Feeling frustrated...

On Mon, Oct 31, 2016 at 8:01 AM, FrancescoUK <notifications@github.com>
wrote:

[2016-10-31 16:50] daN4cat commented on #579
See #951 for improvements.

[2016-10-31 16:51] daN4cat commented on #583
See #951 for improvements.

[2016-10-31 16:53] daN4cat commented on #949
Unfortunately I don't know how to help you more because I don't use Windows based installation.

In the FAQ we wrote about that issue: https://github.com/jekkos/opensourcepos#faq and as it says read this wiki and try some alternative setup:

https://github.com/jekkos/opensourcepos/wiki/Local-Deployment-using-MAMP-for-Windows
https://github.com/jekkos/opensourcepos/wiki/OSPOS-using-Xampp-(recommend

[2016-10-31 16:55] daN4cat commented on #949
And here #934 there was a similar report but no feedback if it was solved. You may want to ask @tanakornp how they solved it...

[2016-10-31 16:59] daN4cat commented on #934
@tanakornp have you solved this issue?
It looks like WAMP has some issue with php_intl.dll as the same problem is reported in #949

[2016-10-31 17:00] daN4cat commented on #949
Please also check this:

http://stackoverflow.com/questions/16372888/intl-extension-php-intl-dll-with-wamp
http://stackoverflow.com/questions/1451468/intl-extension-installing-php-intl-dll

It looks like there is something unusual with the path.

[2016-10-31 17:00] daN4cat commented on #934
Please also check this:

http://stackoverflow.com/questions/16372888/intl-extension-php-intl-dll-with-wamp
http://stackoverflow.com/questions/1451468/intl-extension-installing-php-intl-dll

It looks like there is something unusual with the path.

[2016-10-31 17:01] tanakornp commented on #949
You'll need to copy some files from php directory to apache.
http://stackoverflow.com/a/18044239

[2016-10-31 17:02] daN4cat commented on #949
Indeed, I found that comment now. Thanks for the help, I'll add this issue link in FAQ

[2016-10-31 17:09] #949 closed

[2016-10-31 17:57] Geekynik commented on #949
Thing is I have both versions of the OSPOS application. 2.4.0 and 3.0.0
Version 2.4.0 works perfectly while the issues that I'm having has to do
with version 3.0.0

*Please is it possible for me to use the version 2.4.0 database to run
version 3.0.0?*

*Although I tried it but i got errors on the login page as shown in the
image file attached here.*

*Any solutions???*

On Mon, Oct 31, 2016 at 6:0

[2016-10-31 17:58] Geekynik commented on #949
I really love to use the latest version 3.0.0
Please assist

On Mon, Oct 31, 2016 at 6:57 PM, Czar Kwaku <knczar1@gmail.com> wrote:

[2016-10-31 18:01] daN4cat commented on #949
Please come to GitHib and read the comments because we gave you the solution.
We cannot support if you don't make an effort in reading what we write :-(

[2016-10-31 18:03] tanakornp commented on #949
Database 2.4 > 3.0 => read FAQ.
NumberFormatter => move bunch of icu* files (check link above)

[2016-10-31 18:06] daN4cat commented on #951
I just run some test to see the effect of having the indexes in sales_items_temp:

**1 month sales = 198 rows in my test setup**

with indexes in sales_items_temp

- first run
-- 0.0091729164123535 seconds
-- 0.0083279609680176 seconds
- second run
-- 0.0086960792541504 seconds
-- 0.0075860023498535 seconds

without indexes in sales_items_temp

- first run
-- 0.020700931549072 seconds
-- 0.0200791

[2016-10-31 18:24] daN4cat commented on #951
Run some test in Inventory Summary and Inventory low and the addition of the indexes improved the performance 1.2 times for a result of about 200 rows.
Not so much like sales but still good.

[2016-10-31 18:24] daN4cat commented on #951
Please note that those tests are just for the addition of the indexes, a lot of improvements are thanks to the other changes.

[2016-10-31 18:39] jlctmaster commented on #932
The need arises because the software install in a nightclub and the closing cash must necessarily take into account the filter date and time as it begins its workday from 5:00 PM to 3:00 AM reports must be filtered in a range of 2 days, but in a specific time interval.

[2016-10-31 19:05] daN4cat commented on #932
Got your point, maybe this should be a configurable feature.

If you have the change go for a Pull Request, but please make sure it's done against the latest master as I optimised few things in the temp table.
For your case you would also need to add a sale_time index as at the moment there is only sale_date.

[2016-10-31 19:35] jlctmaster commented on #932
Ok, I will create a new branch and publish the changes there, so that you review your improvement and if you like, you publish it on the master branch

Greetings.

[2016-10-31 19:38] Geekynik commented on #949
Alright

On Mon, Oct 31, 2016 at 7:04 PM, tanakornp <notifications@github.com> wrote:

[2016-10-31 19:39] daN4cat commented on #924
I reopen this because I found the time to look better into the code and sequence of search.

There is indeed space to improve as to retrieve the item from the database the code has three queries.
It should be reduced to two or maybe one, not sure.

This is legacy code, so this change will take a bit because I'm not sure what else depends on what and needs so code reading.

Because I'm working on t

[2016-10-31 21:03] Geekynik commented on #949
Hurray it has finally WORKED!!!!
I had to switch to XAMPP server and then reconfigure php.ini files...and
now everything works perfectly as I wanted it.
Thanks so much for the immense support...Like I said I want to donate some
token towards sustaining the project towards future upgrades.
Please send me the link to where I can make my donation.
God bless

*And one more thing please...
*Can this la

[2016-11-01 01:19] odiea commented on #944
I had some issues with the invoice where if you deleted a payment you would then have to start over. This new register fixes that problem and is more OSPOS like. There is less customer info also. If you want more then just copy it over to this one. You can also in sales returns credit a gift card but is has
 to have a value of .01 or higher. I did not want to break any giftcard programming.
[regis

[2016-11-01 04:12] onyema3 commented on #949
https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MUN6AEG7NY6H8

On Mon, Oct 31, 2016 at 10:03 PM, Geekynik <notifications@github.com> wrote:

[2016-11-01 07:13] daN4cat commented on #949
Glad it's all sorted and yes that's the link that you can find in the GitHub project front page too.

Hope it will fund next round of beers with @jekkos in Brussels.

Last week we had three each, to celebrate 3.0.0 release.
We need to be careful to do not increase the major version too much :-)

[2016-11-01 10:56] solomon-pea commented on #920
I got the same problem, but go through the above steps the problem remains.

[2016-11-01 11:08] daN4cat commented on #920
Have you put the correct subdir in the .htaccess file?

[2016-11-01 12:53] SteveIreland commented on #630
This falls comfortably within my skill set, so I'd like to help out on this issue - if you're accepting help,

[2016-11-01 13:01] odiea commented on #630
That would be great.

[2016-11-01 13:30] daN4cat commented on #630
The problem is in the models and probably the fact that table joints are not explicitly mentioning the table name.field. That's what I understood at the time but had no time to work on this.
So look into models folder as a starting point.
I know I need to sanity check temp table and in specific receiving one.

[2016-11-01 13:31] daN4cat commented on #630
And thanks for the help.

[2016-11-01 13:40] SteveIreland commented on #630
I'm glad to help and hope to be around for awhile.  I've already committed to install, configure and support OSPOS for a friend for his small business operations. So ..."I'm all in!".

[2016-11-01 17:10] jacksz commented on #24
@jekkos

[2016-11-01 17:30] daN4cat commented on #630
Sounds great, we need help.
So this is a good starting point to learn a bit the code.

[2016-11-01 17:34] daN4cat commented on #630
Please bear in mind that although we made major improvements there is legacy code that might not be the best, so if you feel like something should be better let's discuss.

[2016-11-01 17:35] daN4cat commented on #24
he's busy, he'll reply soon.

[2016-11-01 17:37] daN4cat commented on #919
See #630

[2016-11-01 21:08] odiea commented on #944
This version also has a glitch so if I were you I would revert back to the original. I am finding that if I click or double click in adding Items to the register the warning just shows and nothing works.

[2016-11-01 22:18] SteveIreland commented on #630
Right.  I'm not planning on rewriting anything.  The first step is to adapt the MySQL 5.6 compliant "group by" clauses to be 5.7 compliant.  To me it looks like I'm only facing, as a worst case scenario, about 17 PHP file changes in order to eliminate the group by issue - which isn't bad at all.  And since I don't want to affect the behavior of the application I'll just make the query "less ambigu

[2016-11-02 02:21] jlctmaster commented on #932
Hello @daN4cat

I have already improved the source to publish, if you can create a new branch that call feature/datetime_reports and give me access to post there, to upload the changes and you check, for merge with the master branch if you like.

Thank you.

[2016-11-02 02:21] solomon-pea commented on #920
Below is my .htaccess setting.
[code]

This is my setting of apache2.conf.
[code]
If I make change it to below.
[code]
It will have this result.

[2016-11-02 04:01] Geekynik commented on #949
😇😀
Alright thanks. I will make sure the donation is able to fund the next
round of beers in Brussels...

On Tue, Nov 1, 2016 at 8:13 AM, FrancescoUK <notifications@github.com>
wrote:

[2016-11-02 06:17] daN4cat commented on #920
Right, is your installation under opensourcepos directory? See line 5
Also you cannot have line 2 and 5 one of the two needs to be commented out with a # at the beginning of the line.

You need to fix that file to get things right.

[2016-11-02 06:20] daN4cat commented on #630
Sounds good, thanks.

[2016-11-02 06:21] daN4cat commented on #630
So we can probably make this change for 3.0.1

[2016-11-02 06:22] daN4cat commented on #932
You can go for a Pull Request, so we can review the code and merge if fine.

[2016-11-02 07:03] jekkos commented on #951
Sounds great. Thanks for this huge improvement.

[2016-11-02 07:08] jekkos commented on #24
Hi there,
nothing was pledged yet, maybe if everyone can confirm if they are still in then I might consider to look into it. Otherwise I was planning the category and custom attribute review first.

[2016-11-02 07:19] jekkos commented on #630
OK would be good to have it fixed in the code indeed. A quick solution would be disabling ONLY_FULL_GROUP_BY option in mysql but that requires adapting the config file. Think it's better to write the queries correctly so that there are no results 'made up' by Mysql

[2016-11-02 07:20] jekkos commented on #630
Also see #938

[2016-11-02 07:21] jekkos commented on #938
Main difference between the two is indeed that one statement in where or having. I might want to retest it on Mysql 5.7 toi see whether both work with full_group_by enabled.

[2016-11-02 07:22] jekkos commented on #949
Ok actually some should go to dan4cat in this situation for sure as he helped you out? @daN4cat do you have a paypal account? You could add donate button of your own.

[2016-11-02 07:23] jekkos commented on #630
@daN4cat let's keep 3.0.1 for minor things + improvements and release a bigger new feat in 3.1 (like categories)?

[2016-11-02 07:23] onyema3 commented on #949
yes @daN4cat <https://github.com/daN4cat> should add his donate button. He
has been a of great value to this project

On Wed, Nov 2, 2016 at 8:22 AM, jekkos <notifications@github.com> wrote:

[2016-11-02 07:55] solomon-pea commented on #920
Yes.
I see.
Yup it works. Thanks a lot.

[2016-11-02 08:11] daN4cat commented on #630
I was considering MySQL5.7 a small thing and improvement, let see how it goes and decide later. I left 3.1.0 as target version.

[2016-11-02 08:13] daN4cat commented on #932
I set 3.1.0 as target as we leave 3.0.1 for just minor fixes and performance improvements.

[2016-11-02 08:31] daN4cat commented on #920
BTW, have you left `AllowOverride` to `None` or changed to `All`?

[2016-11-02 15:21] Geekynik commented on #949
Alright great people!
Will do as appropriate...

On Wed, Nov 2, 2016 at 8:23 AM, Ifende <notifications@github.com> wrote:

[2016-11-02 17:30] SteveIreland commented on #924
@daN4cat  Since you are working in this arena should I avoid touching the search function in Item.php?  Will you modify the code tomake the group by statement 5.7 compliant?

[2016-11-02 18:59] jlctmaster commented on #932
Hello @daN4cat

I already made the pull request, please check it.

Greetings.

[2016-11-02 19:54] daN4cat commented on #924
Please make your changes, don't worry. Thanks

[2016-11-02 19:57] daN4cat commented on #932
Sounds good, I'll have a look into it later. Thanks

[2016-11-03 04:09] AshishDL commented on #898
@daN4cat ..I use MySQL 5.6..Is It..Ok?.

[2016-11-03 05:06] RamkrishnaMondal opened #954 "Unable to load the requested language file: language/en/form_validation_lang.php"
Just tried the latest master....

![screenshot from 2016-11-03 10 32 50](https://cloud.githubusercontent.com/assets/14151032/19956343/567730ee-a1b1-11e6-87ed-62cfd70a0639.png)

[2016-11-03 05:38] RamkrishnaMondal commented on #954
This was due to old db used...... closing the issue.

[2016-11-03 05:38] #954 closed

[2016-11-03 05:42] onyema3 commented on #954
How did you migrate the old db to 3.0.1?

On Nov 3, 2016 6:38 AM, "RamkrishnaMondal" <notifications@github.com> wrote:

[2016-11-03 05:45] onyema3 commented on #954
My ospos 3.0.0 db is giving this error with 3.0.1

On Nov 3, 2016 6:42 AM, "Onyemechi Ifende" <onyema@ifende.com> wrote:

[2016-11-03 05:54] daN4cat commented on #954
I don't see anything in your posting. Using emails doesn't always work with posting pictures

[2016-11-03 05:55] daN4cat commented on #898
Yes, it's fine

[2016-11-03 06:10] AshishDL commented on #898
Thank you...

[2016-11-03 12:08] AshishDL commented on #924
@daN4cat ....i don't understant that **There is indeed space for improvements as to retrieve**please can you brief?

[2016-11-03 13:21] daN4cat commented on #924
The search based on scanned number can be optimised, I will look into this next days.

[2016-11-03 13:47] AshishDL commented on #924
k..Thank you.......

[2016-11-03 14:43] jekkos commented on #68
Ok so temporal factor can be accomodated by using the attribute_type field which would be a date in that case. Also depending on the type we show a different kind of control like datepicker or combobox in the modal form.

I propose to add some kind of module with table to manage categories. Each category will be a line and opening the modal would allow to add subcategories or just plain values. Su

[2016-11-03 14:45] jekkos commented on #68
Also I had an idea to use react.js for this part but maybe we might be more consistent by just reusing bootrstrap tables for this story.

[2016-11-03 16:01] daN4cat opened #955 "Design Tool"
Due to the fact that we have now a design/ folder, I was wondering if we could agree on some design tool to use for things like UML diagrams.

I found this web based one https://www.draw.io/ interesting and I will give it a go.

@jekkos give a try and if you agree we can use it as tool to edit designs and add it to the wiki in a Arch & Design section.

[2016-11-03 17:48] daN4cat commented on #68
I see, so is the idea to have a configuration tab view where we can add item attributes, type and UI control as a triple association?

With regards to the word "categories" I'm afraid I'm getting lost here because at the moment there is a field category in items and that to me is a way of defining a set, so you can group items (aggregation of items to a category class).

I see attributes as descri

[2016-11-03 17:57] daN4cat commented on #68
About the point of storing the Item snapshot at Sale time, your proposal sounds good.

However I was wondering if instead we should consider an item versioning schema?
I mean that everytime you change the item in any form it should be made persistent so when you check the historical in the Inventory Data tracking you can see not always the quantity but also what else changed as it's always marked

[2016-11-03 19:04] daN4cat commented on #68
This is relationship diagram I mentioned above:

![ospos diagram](https://cloud.githubusercontent.com/assets/636048/19981090/57261b80-a1f8-11e6-888a-14af92ee8ed4.png)

[2016-11-03 20:33] jekkos commented on #68
Actually the idea was to have the category determine a set of attributes with predefined values linked to it. In that way a subcategory would be called an attribute but I guess it would be more clear to just use attribute as a generic term. In this case category field would be removed from items and replaced by an attribute definition of CATEGORY type. This type can have many other attributes of o

[2016-11-03 20:45] jekkos commented on #68
Item versioning might be an option but I think the impact for that will be huge. Fact is that we already have some kind of limited version of a history in terms of the sales and receivings_items, which copy the cost / unit price at receiving or sale time. Also items inventory kind of interferes with that idea. I guess a more generic item versioning scheme could probably replace the latter two, but

[2016-11-03 21:53] daN4cat commented on #68
OK, so the current category becomes an attribute and then it makes sense. Agreed.
I was confused by the ERD diagram as current category was left in Item.

Yes, the versioning would replace the copy of cost / unit price, and sale will just retain the concept of discount and pointer to correct version of item.
The inventory will be just based on the current version and historical will report any cha

[2016-11-03 22:15] jekkos commented on #68
![item_attributes](https://cloud.githubusercontent.com/assets/576234/19987420/5eea76f4-a21b-11e6-9d8d-655f77879456.png)

[2016-11-03 22:15] jekkos commented on #68
Final version will look more or less like the image above here.. Indeed I forgot to remove category and custom fields.. they are gone now.

[2016-11-03 22:16] jekkos commented on #68
also in case we link with sale_items we need a combined item_id and sale_id. These tables have no unique id's of their own. This implies that item_id will be always required. The others are optional.

[2016-11-04 07:43] i92guboj opened #957 "[BUG] .htaccess and apache 2.4, can't install"
### BUG

ospos wont' even install with apache 2.4 due to incorrect .htaccess clause. "Order" exists no longer.

### Issue / Question / Bug

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensourcepos#faq) for any known install and/or upgrade gotchas (in specific PHP has

[2016-11-04 08:07] daN4cat commented on #957
I doubt it has something to do with Apache 2.4 because I run OSPOS on Apache 2.4 and it works fine.

[2016-11-04 08:13] AshishDL commented on #898
@daN4cat i have one dout..that have you use ajax into POS application

[2016-11-04 08:19] daN4cat commented on #957
See here: https://httpd.apache.org/docs/trunk/upgrading.html

[code]

Make sure your Apache has `mod_access_compat` included.

[2016-11-04 08:20] daN4cat commented on #898
AJAX is used yes and what is the concern?

[2016-11-04 08:36] AshishDL commented on #898
the reason behind to asked you about ajax because if we have huge data in database. it will help to increase autosearch speed to find particuler data**[like we have search item option in POS application].**.But as you said that ajax is used.so..i could not find other option to increase speed for item search quickly..if you have please please inform... ??

[2016-11-04 08:56] jekkos commented on #955
I had a quick look and it looks quite complete. Nice tool. Think we should try it at least. For ERD I wil stick to mysql workbench as it can autogenerate sql script.

[2016-11-04 11:22] daN4cat commented on #898
As said I'm working on it and AJAX has nothing to do with this story.

[2016-11-04 11:23] daN4cat commented on #955
Sure, ERD is not part of the picture.
That tools is for class diagrams, sequence diagrams and the like when we find the time....

[2016-11-04 11:29] AshishDL commented on #898
k..thanks..

[2016-11-04 12:54] Modding opened #958 "index.php missing"
Hi i updated the Repository and the index.php is missing. Should i upload a different folder?

[2016-11-04 14:08] daN4cat commented on #958
If people could read the FAQ or even closed cases like #947 #942....

[2016-11-04 14:08] #958 closed

[2016-11-04 14:19] i92guboj commented on #957
I have to respectfully disagree. It for sure has to do with 2.4. I've seen this dozens of times and I've migrated quite a few sites.

Yes, I know I can enable access_compat, but I'd rather update .htaccess if possible. I will try to iron out the .htaccess file(s) myself. But I think ospos should really provide alternative configurations for 2.4 since access_compat is being phased out, and mention

[2016-11-04 14:34] jekkos commented on #957
@i92guboj Thanks for the thorough explanation. Would you mind to send us a PR once you have upgraded the .htaccess files? I wasn't aware of this mod being deprecated.

[2016-11-04 14:38] daN4cat commented on #957
Agree, please send over a change and that will solve the problem.
So far nobody complained about this issue and I'm sure many use 2.4.
But better to be up to date that backward compatible, I agree.

[2016-11-04 14:41] i92guboj commented on #957
Sure. When/if I fix it I will submit a diff if that's ok for you, so you can review the changes. I'll take a bit though, since I've hit another showstopper and I have to recompile php as well to add support for bcmath, which ospos also needs it seems.

[2016-11-04 14:44] daN4cat commented on #957
Please read the FAQ for what PHP requires so you avoid try & errors.

Please check also the .htaccess in the / as of course the one in /public (used as web root).
I tried to find a way to automatically forward from / to /public but the Rewrite rules I tried didn't work.
I'm not a big expert of .htaccess so if somebody can solve that I would be glad!

[2016-11-04 15:32] i92guboj commented on #957
I am no expert in this myself. In which regards web servers, I just go walking around whatever I find in my way, so I can't be of little help with that. It's just coincidence that I've been hitting similar issues these last few months, so I had that one fresh.

I'll try to take a look though.

As for the FAQ, you are right, however all the things about php are scattered around that's why I missed

[2016-11-04 15:40] daN4cat commented on #957
Fair point, I've updated the README.md: https://github.com/jekkos/opensourcepos#server-requirements

[2016-11-04 15:44] daN4cat commented on #68
NOTE: If you change tables please make deleted TINYINT(1) as the other booleans. Also supplier_id should be a INT(10) consistent with employee_id and customer_id. I had in mind to check and fix but since you are going for this change please fix those fields.

[2016-11-04 17:06] jekkos commented on #68
Some pk's are int(11) and soms int(10). I think all should be reviewed then. I noticed exact same thing once when I was migrating from an old ospos.

[2016-11-04 21:23] empressplay opened #959 "Keeps asking to relogin, can't add new items"
Open Source Point Of Sale Version 3.0.1 - 4f5ad57
Ubuntu 15.10 (GNU/Linux 4.5.5-x86_64-linode69 x86_64)
PHP 5.6.11-1ubuntu3.4 (cli)
Apache/2.4.12 (Ubuntu) Server (also tried with NginX)
mysql  Ver 14.14 Distrib 5.6.31, for debian-linux-gnu (x86_64) using  EditLine wrapper

I can add users and customers, but not items (pressing the submit button does nothing)
*** it did create a new item one time,

[2016-11-04 21:26] odiea commented on #886
The database.sql gives errors when installing but using ospos database.sql then 3.0 to 3.1 it worked ok. I see it takes the place of the standard stock location in the register. This appears to be an issue. Like you said needs to be a config item.

[2016-11-04 23:27] daN4cat commented on #959
Read the FAQ? Have you installed all the php extention required?

[2016-11-04 23:28] daN4cat commented on #959
Also is yours an unchanged installation or have you touched the code?

[2016-11-04 23:38] empressplay commented on #959
I've tried rolling out a fresh install with only the database config changed as required, but there's no difference. Could it be because I'm using a subdomain? It's in the document root of the subdomain.
Yes I've read the FAQ and installed all of the required php extensions:

[PHP Modules]
bcmath
bz2
calendar
Core
ctype
date
dba
dom
ereg
exif
fileinfo
filter
ftp
gd
gettext
hash
iconv
intl
json
lib

[2016-11-05 00:20] odiea commented on #959
You can try adding the following to your php.ini file and see if it helps. extension=intl.so

[2016-11-05 00:37] empressplay commented on #959
no effect =( Thanks though

[2016-11-05 00:42] odiea commented on #959
With some of the VM Ubuntu servers I was creating I had to use the following to get it to work. I just enabled the intl. So If it is your server you can give this a try. I got the same result as you when I disabled the intl ext in xampp.
http://stackoverflow.com/questions/34294852/how-to-install-enable-intl-and-xsl-extensions-after-installing-php-7

[2016-11-05 00:45] odiea commented on #959
There are a lot of Google suggestions that may also work before you try this one.

[2016-11-05 00:47] Eddper commented on #920
I have problems to run this. I have installed it under localhost/pointsale with wampserver using php 5.625.

I have downloaded  the master and I have two .htaccess, the first in poinsale/.htaccess and the scond at pointsale/public/.staacces. I Follow the steps in the tutorial but still having error 403.

This is my .htaccess in localhost/pointsale (I haven't change nothing here)
`# Suppress index.

[2016-11-05 00:57] Eddper commented on #920
I have problems to run this. I have installed it under localhost/pointsale with wampserver using php 5.625.

I have downloaded  the master and I have two .htaccess, the first in poinsale/.htaccess and the scond at pointsale/public/.htaccess. I Follow the steps in the tutorial but still having error 403.

This is my .htaccess in localhost/pointsale (I haven't change nothing here)
[code]
This is in

[2016-11-05 01:09] odiea commented on #920
I only use xampp and have no issues. Maybe the following will shed some light on the situation.
http://superuser.com/questions/808816/wamp-localhost-working-but-cannot-display-page

[2016-11-05 10:42] daN4cat commented on #920
Have you changed the apache2.conf as described in the comments above?

[2016-11-05 14:47] daN4cat commented on #959
Is your webroot pointing to public/ dir?
If under some subdir you need to make sure public/.htaccess is correct, see RuleWrite lines with index.php in it and read the comments above those lines.

[2016-11-05 15:19] daN4cat commented on #924
I invite everybody to take latest master as I improved the item scan time. Although it's still not optimal it's still a good improvement.
To go further will imply more changes that will be problematic as requiring a lot of rework and not sure about how more we could improve.

[2016-11-05 15:21] daN4cat commented on #957
@i92guboj how is it going with MySQL5.7 support?

[2016-11-05 16:54] jekkos commented on #924
Maybe a combined index on item_id and item_number will improve the query result further. Will need to check against a bigger dataset but as they are now combined using OR my guess is that this might further improve execution time.

[2016-11-05 16:56] jekkos commented on #924
From [mysql docs](http://dev.mysql.com/doc/refman/5.7/en/cast-functions.html#function_cast) ` If you convert an indexed column using BINARY, CAST(), or CONVERT(), MySQL may not be able to use the index efficiently. `

[2016-11-05 16:58] jekkos commented on #924
It might be the case that the fix for #666 actually caused [a performance issue](http://stackoverflow.com/questions/16786063/mysql-comparison-of-integer-value-and-string-field-with-index)

[2016-11-05 17:00] jekkos commented on #924
It might be better to cast the $îtem_id to an integer in PHP instead of having the query change the datatype.

[2016-11-05 17:32] empressplay commented on #959
Thanks for the assistance.

- Tried pointing webroot at public, no effect
- Checked intl extension, it shows in php -m and in phpinfo (see below)
   (added repository and tried upgrading intl, says it's the latest version)

Any further thoughts would be appreciated!

PHP logo
PHP Version 5.6.11-1ubuntu3.4

System	Linux 4.5.5-x86_64-linode69 #3 SMP Fri May 20 15:25:13 EDT 2016 x86_64
Server API	Apa

[2016-11-05 18:21] daN4cat commented on #924
Good one, I will look into this later and remove the MySQL cast and see if the performance is better.

[2016-11-05 19:25] jekkos commented on #924
I did a quick test and indeed, the cast will make mysql do a full table scan. The query should be executed exactly like this

`explain select * from ospos_items where item_id = 635841641831 or item_number = '635841641831'` with the latter between quotes as it's a varchar type. In this case primary key and index on item_number are combined and explain query goes through only two rows. Couldn't get

[2016-11-05 19:26] jekkos commented on #924
So in this case we'd better strip the $item_id in php, first cast it to int, and second time cast it as a string. Then check output of `$this->db->last_query().`

[2016-11-05 19:50] jekkos commented on #924
I have further optimized this query. I think we should review other parts of the application as there might be similar issues elsewhere. Once a query is done on int field with string type, there will be full table scans. I wasn't aware of this and am pretty sure there are other cases that can be optimized.

[2016-11-05 19:54] deepshah commented on #886
Hi @odiea
I have fixed the errors. I did not understand the part about dinner table taking place of stock location in the register. Could you ellaborate it?

[2016-11-05 20:04] jekkos commented on #924
Maybe receivings should be reviewed as well. I've gotten some complaints about performance issues when entering items there as well on 2.4. I think we know now how to solve this.

[2016-11-05 20:10] AshishDL opened #960 "data not insert into database from view"
###  Enhacement

![submit button](https://cloud.githubusercontent.com/assets/22575454/20033182/3fee2424-a3c1-11e6-9475-85286cc84ad1.png)

Steps to reproduce the issue
When i click on submit button data would not store into database..i debug that code..it call to directly body tag..?.Please help me for above issue

[2016-11-05 21:13] daN4cat commented on #924
I measured a bit with the latest change and it's now 3 times faster as it can use the indexes correctly.
Overall from original to latest it's about 4 times faster.

With regards to optimisations probably Item search needs to be optimised as well, the time range filter is not indexed and moreover it's a cast to DATE. That's is probably slowing down things.

[2016-11-05 21:37] jekkos commented on #924
Yes I think we should run a profiler to see which queries are taking too much time. I found this hook and enabled it which gives me a nice view on which queries are run on every request. [Quite interesting to see.](http://jigarjain.com/blog/saving-all-db-queries-in-codeigniter/)

[2016-11-05 21:38] odiea commented on #886
The first image is from standard OSPOS. Includes stock locations.
![2016-11-05 15_35_33-wedidit _ powered by ospos 3 0 1](https://cloud.githubusercontent.com/assets/10962177/20033735/b28ecb90-a36d-11e6-85c6-86fdb88feb2a.png)
The second image is from your version. Stock location is gone but your Table location is shown in it's place.
![2016-11-05 15_34_57-open source point of sale _ powered by ospo

[2016-11-05 21:51] daN4cat commented on #924
Looks good, just trying.

[2016-11-05 23:06] deepshah commented on #886
The option of stock location is shown only when there are more than 1 stock locations. (This is the case in the current master itself)

[2016-11-05 23:17] odiea commented on #886
Sorry I stand corrected. Stock locations appear just fine.

[2016-11-06 15:31] daN4cat commented on #924
Added the database logging hook capability to the code and it's enabled from a config.php flag.

[2016-11-06 16:30] jekkos commented on #68
Ok I will proceed with regular and tedious javascript coding in that case.. think we will be happy one day to be able to work with a modular framework like reactjs.

[2016-11-06 16:57] daN4cat commented on #68
I understand, but it's better to make things in small step otherwise it becomes another 6/9 months story for 1 feature.... let's be agile/lean.

[2016-11-06 17:35] jekkos commented on #68
ok but maybe that would have been the point. A lot of complexity vanishes with concepts introduced by these new frameworks. The amount of boilerplate code is reduced dramatically and new features can be developed a lot faster. I found myself copying a lot of code without needing to change it profoundly, think one calls that `code smell`. I am sure there are better ways. Once things get a little mo

[2016-11-06 17:37] jekkos commented on #68
anyway I'll just stick with it now and if there's ever a motivation for 4.0 then we can do revise all that ofcourse. On the other hand it's always nice to learn new stuff.

[2016-11-06 18:32] daN4cat commented on #68
Agreed.

Just to understand, is this something you plan to work now? As I'm undecided whether to wait for this feature or have an intermediate step to 3.0.1 before jumping to 3.1 with this.

[2016-11-06 18:34] daN4cat commented on #957
@i92guboj how is it going with the .htaccess change for Apache 2.4?

[2016-11-06 18:35] daN4cat commented on #959
No idea what could be wrong I'm afraid.
We cannot support all the installations and LAMP stack of this world. It's better if you find your own way and solution and let us know.

[2016-11-06 18:38] daN4cat opened #961 "Release 3.0.1"
We fixed few bugs, made some performance improvements.
Pending on the .htaccess adjustment for Apache 2.4.

@jekkos anything new from language side to merge?

I would like to release this soon so we can move to 3.1

[2016-11-06 18:38] #955 closed

[2016-11-06 18:38] #951 closed

[2016-11-06 18:39] #924 closed

[2016-11-06 18:40] daN4cat commented on #883
What do we want to do with this?

[2016-11-06 18:41] daN4cat commented on #909
Any volunteer to help with this documentation task?

[2016-11-06 19:45] jekkos commented on #961
I tihnk there's still some pending changes there that I need to merge. Will have a look now.

[2016-11-06 19:46] jekkos commented on #883
I was planning to test and verify on my dual boot machine, but haven't found the time to do that.

[2016-11-06 19:46] jekkos commented on #68
I have sent you a mail with some explanations.

[2016-11-06 19:47] jekkos commented on #68
Lets try to deliver this one with 3.1 and push all other changes further.

[2016-11-06 21:21] #929 closed

[2016-11-06 23:10] daN4cat commented on #960
Not sure I get, what's that feature?

[2016-11-07 07:34] #960 closed

[2016-11-07 07:47] i92guboj commented on #957
[ospos-htaccess-2.2_to_2.4.diff.txt](https://github.com/jekkos/opensourcepos/files/574706/ospos-htaccess-2.2_to_2.4.diff.txt)

[2016-11-07 07:49] i92guboj commented on #957
With this, I was able to open and use ospos while having access_compat disabled, haven't tested thoroughly, but I think it's close enough. I have left the old stuff commented out and added some notes to clarify a couple of things.

I think that you could make this the default, and add a second .htaccess_apache-2.2_and_below file, maybe that would be easier for people to understand, don't know...

[2016-11-07 08:24] daN4cat commented on #957
Thanks for that but I don't know which file you patched because none of them are from latest master.

[2016-11-07 08:26] daN4cat commented on #957
Anyway I understand that the change is all about commenting out:

[code]

and replace them with

`Require all denied`

[2016-11-07 08:30] daN4cat commented on #957
With regards to `Satisfy All`, here you can find the indication: http://stackoverflow.com/questions/5081747/htaccess-order-allow-deny-deny-from-all-confused

By the way, if the `Require all denied` is the change here I will do by myself.

[2016-11-07 08:55] i92guboj commented on #957
Yes. I think it is simple enough. However I would recommend cheching the security implications with someone who actually knows what s/he's doing ;)

Thanks for the link and for all the assistance!

[2016-11-07 09:17] daN4cat commented on #957
OK, made the change and committed to master.
The way I structured it supports Apache 2.2 and Apache 2.4 automatically.

@i92guboj please give a try before I close this.

[2016-11-07 11:39] daN4cat commented on #943
How would you fix this properly?

[2016-11-07 11:50] jekkos commented on #943
Baiscally it's just a stock multiplier. So in that supposition if you add a new product with receiving quantity, price should be per item (or soda bottle?). For the user it's a little easier if he's used to receiving items in batch not having to retype in the standard quantity afterwards.

[2016-11-07 13:03] daN4cat commented on #943
So this quantity multiplier is by product (beer), assuming is part of a group (case of beers).
But that multiplier is set nowhere or am I wrong?
Maybe it should be added to the receiving item line as 1 (case) x 12 (bottles).
Otherwise we would need to add a concept of item group, unless we use item kit and we can allow receiving of item kits?

[2016-11-07 13:06] daN4cat commented on #630
@SteveIreland how is going? Are you close to completion?
I'm still wondering if this could make 3.0.1 if not a big change so we avoid issues reporting as we had in recent times...

[2016-11-07 14:35] kdkrun commented on #954
Dear RamKrishnaMondal,
I like your SMS feature and Template. I'm using your master files in my POS. How I upgrade to new release of ospos 2.4 without losing SMS feature and New Template of yours. Please advise.

[2016-11-07 14:47] onyema3 commented on #954
Sms is a standard feature of ospos now. So just use the new masters and
execute all the database update scripts and you're good to go

On Nov 7, 2016 3:36 PM, "KDKTEC" <notifications@github.com> wrote:

[2016-11-07 14:59] daN4cat commented on #954
I suggest to take the latest master as it's stable and we are close to release 3.0.1.
There are major performance improvements with the way the software uses the database from 3.0.0.
There is no DB layout upgrade from 3.0.0 to 3.0.1 (at least at the moment none).

To upgrade from 2.4 to 3.0.0, as @onyema3 stated, you need to use the upgrade script database/2.4_to_3.0.sql. But I suggest to read UPG

[2016-11-07 15:02] onyema3 commented on #954
Not yet but in the next couple of days I'll surely try it out.

On Nov 7, 2016 3:59 PM, "FrancescoUK" <notifications@github.com> wrote:

[2016-11-07 15:08] daN4cat commented on #954
OK, let me know if you find the performance of searches better vs 3.0.0.

[2016-11-07 15:36] onyema3 commented on #954
Will surely do

On Nov 7, 2016 4:08 PM, "FrancescoUK" <notifications@github.com> wrote:

[2016-11-07 15:44] i92guboj commented on #957
This works for me, with and without access_compat enabled. So, I think this can be safely closed. Thanks for the quick solution!

[2016-11-07 16:06] #957 closed

[2016-11-07 17:02] onyema3 commented on #954
@daN4cat is there a difference between the database of 3.0.0 and 3.0.1?
With my old database it was throwing up errors but with a virgin database
everything is just fine.

On Mon, Nov 7, 2016 at 4:36 PM, Onyemechi Ifende <onyema@ifende.com> wrote:

[2016-11-07 17:03] onyema3 commented on #954
When i say old database i mean the 3.0.0 database

On Mon, Nov 7, 2016 at 6:02 PM, Onyemechi Ifende <onyema@ifende.com> wrote:

[2016-11-07 17:32] daN4cat commented on #954
What error do you get?
There is no change to database between 3.0.0 and 3.0.1.

BTW, do you have a database that was upgraded through different versions?

[2016-11-07 17:43] onyema3 commented on #954
Yes, my database was upgraded from 2.3.2 to 3.0.0

On Mon, Nov 7, 2016 at 6:32 PM, FrancescoUK <notifications@github.com>
wrote:

[2016-11-07 17:52] onyema3 commented on #954
@login
![login](https://cloud.githubusercontent.com/assets/12876751/20069033/3775dc3c-a51b-11e6-9ad3-6c7df02f8340.jpg)
after login
![afterlogin](https://cloud.githubusercontent.com/assets/12876751/20069055/47ddd14c-a51b-11e6-98e7-51c61a83c3d0.jpg)

[2016-11-07 18:15] daN4cat commented on #954
It looks like something was not updated of language changes.

Try running the following (or check that your database has those two value):

INSERT INTO `ospos_app_config` (`key`, `value`) VALUES
('language', 'english'),
('language_code', 'en');

[2016-11-07 18:16] daN4cat commented on #954
Maybe it's better if you do a manual check.

[2016-11-07 18:19] onyema3 commented on #954
ok

[2016-11-07 18:27] onyema3 commented on #954
This is what i can see
![db](https://cloud.githubusercontent.com/assets/12876751/20070282/1a937926-a520-11e6-979a-65b88ab103d6.jpg)

and the query gave this error
![query](https://cloud.githubusercontent.com/assets/12876751/20070291/20332840-a520-11e6-83c4-72acd893351d.jpg)

[2016-11-07 18:33] daN4cat commented on #954
OK, do this:

and run again

[2016-11-07 18:38] onyema3 commented on #954
The first statement error
![eror](https://cloud.githubusercontent.com/assets/12876751/20070655/8bcdbc2c-a521-11e6-8879-80201f59b16c.jpg)

[2016-11-07 18:46] daN4cat commented on #954
Maybe the comment here is removing something... try with this again

[code]

[2016-11-07 19:09] onyema3 commented on #954
That was successful but now more errors followed by invalid username/password.
The errors below

A PHP Error was encountered

Severity: Notice

Message: Undefined property: stdClass::$hash_version

Filename: models/Employee.php

Line Number: 309

Backtrace:

File: /Applications/MAMP/htdocs/ospos3.0.1/application/models/Employee.php
Line: 309
Function: _error_handler

File: /Applications/MAMP/htdoc

[2016-11-07 19:13] daN4cat commented on #954
It looks like you never properly upgraded to the official 3.0.0 release...

Run this:

[code]

[2016-11-07 19:15] daN4cat commented on #954
But to be on the safe side you should rerun manually statement by statement all the 2.4_to_3.0.sql.

If one gives an error, move to the next as it's likely that it's fine.

[2016-11-07 19:16] onyema3 commented on #954
You are the man!! that did it.
So what's the correct upgrade path?

[2016-11-07 19:18] daN4cat opened #963 "Security risk: email and sms passwords are stored in clear in MySQL"
Having added email configuration and sms/messaging, we forgot that passwords saved from user interface are stored in clear text in MySQL database.

This is a security risk and although we cannot use password hashing for the case we can encrypt them before storing in MySQL using an encryption key saved in CI config file.

[2016-11-07 19:23] daN4cat commented on #954
Well, you should have run 2.4_to_3.0.sql always.... as said make sure now to run one SQL statement at the time manually from that file so you are on the safe side.

[2016-11-07 19:24] onyema3 commented on #954
Ok.  thanks

[2016-11-07 19:25] daN4cat commented on #963
I strongly recommend everybody to use the latest code from master and go to Store Config and typing again email password (if used) and click submit and message/sms passwords (if used) and click submit.

[2016-11-07 21:03] odiea commented on #943
What I was doing was dividing the case by the quantity. I would use that as the price per unit. So when I go into Receivings with a case that has 12 units it should multiply the unit price by the qty in Items receiving so that total cost should be the price of the case itself. Same thing you are probably saying.

[2016-11-07 21:23] odiea commented on #943
Just playing with the receiving lib code In the get_total function I could add the $item ['receiving_quantity'] and as long as it was 1 or above it worked good as a multiplier. I had no luck adding it to the get_item_total it always through an error .
[code]

[2016-11-07 21:51] daN4cat commented on #961
@jekkos anything on the translation side to push to master?

[2016-11-07 23:17] jekkos commented on #961
Yes a couple of lines don't have a lot of time now. Will do tomorrow

[2016-11-07 23:18] jekkos commented on #961
Also workflow should be optimized it should be just a matter of hitting push in the weblate ui

[2016-11-08 12:14] RamkrishnaMondal commented on #954
@onyema3  As daN4cat stated, you always need to run 2.4 to 3.0.sql script.

@kdkrun Just  backup your old "sms_lib.php" file and replace the default "sms_lib.php" in 3.01 installation with your old one...that's it.

[2016-11-08 12:19] onyema3 commented on #954
Thanks. We sorted it out yesterday

On Nov 8, 2016 1:14 PM, "RamkrishnaMondal" <notifications@github.com> wrote:

[2016-11-08 15:34] jekkos commented on #961
Pushed in latest translations now so everything is uptodate.

[2016-11-08 15:44] daN4cat commented on #961
Sound good, thanks.

I have a couple of things to add and then we leave a period of time for some community testing and if no more issues I release 3.0.1.

[2016-11-08 17:27] kdkrun commented on #954
@daN4cat @RamkrishnaMondal So what About Template, Is that same as in Ram ospos Master

[2016-11-08 19:40] freemail624 opened #964 "question about sales and receiving temp table"
I notice that all reports take their data from this temp table, so when i want to make a report to get data for only one day this will first create the temp table which will collect all the data from the first until now then give me the data for one day<br>
The problem will appear later when you have more data for one or two years and generating a report will become very slow because the temp tabl

[2016-11-08 20:05] daN4cat commented on #964
I use OSPOS 3.0.1 with a 5+ years old dataset with about 12000 sales and about 16000 items.
Works fine and that's why I spent some time in the past weeks to optimise things to speed them up.

However, I'm happy for you to rework the models and query directly the database tables and benchmark that solution against what we have. At the moment I don't have time to do that so I focused on optimising w

[2016-11-08 20:33] #959 closed

[2016-11-08 20:55] daN4cat commented on #963
Please note that this feature requires MCrypt support in PHP.

[2016-11-08 21:09] daN4cat commented on #883
Do you want to include this in 3.0.1?

[2016-11-08 21:28] daN4cat commented on #914
Added to the wiki: https://github.com/jekkos/opensourcepos/wiki/Milestones-and-Label

further refinements welcomed.

[2016-11-08 22:11] jekkos commented on #964
Interesting idea indeed. But in that case you'll need to create the temp table on the fly with different parameters every time? For some detailed reports it could be faster indeed. However for takings you need the whole table every time as you need to make it searchable

[2016-11-08 22:12] jekkos commented on #883
@sivajik34  Which docker version are you using on windows? Is it native windows pro 64 bit or the docker toolbox version?

[2016-11-08 22:34] daN4cat commented on #964
I'm pretty sure there are ways to improve as at the moment many parts are really generic and could be indeed focused on what needed by the view.

[2016-11-08 23:07] jekkos commented on #883
I found that the compose starts up without any problem, however there seems to be some network issue with default docker toolbox which does not allow me to reach the login page. However everything in the container seems to be running (as I can use curl to fetch the front page from inside)

[2016-11-09 05:13] freemail624 commented on #964
I&apos;m happy to see all these improvements to this pos and it become now very good than the first version.<br>
I used the first version before some years and installed it to someone who has a big shop then after some months of working he made about 1000 sales receipt per day and from day to day the reports become very slow and sometimes stop working, every time i increase the memory to make it w

[2016-11-09 14:33] jlctmaster commented on #932
Hello,

In what they can review the last commit that realizes for this new feature.

Greetings.

[2016-11-09 16:31] jekkos commented on #883
Not sure whether we need to wait for this. Just go ahead with the release.

[2016-11-09 18:18] daN4cat commented on #964
In line with what discussed here I removed sales_items_temp table dependency from Sales controller.
That means that Takings, Sale Edit, Receipt and Invoice all fetch data directly from the database with narrowed view.

The result and performance on Takings is quite impressive I must say.
In a test I run against the test database I have noticed for a 30 days Takings report a speed up of a 100 times

[2016-11-09 18:25] daN4cat commented on #883
@sivajik34 if no replies by end of the week we close this.

[2016-11-10 04:16] SteveIreland commented on #630
When I committed I was pretty confident that it would be a simple correction to an armful of SQL statements. I competed the code changes I was expecting to make,  but I stumbled when I started testing.  On the Item panel, the SQL statement that CodeIgniter generates works when I run it in MySQL  Workbench, but no items are being listed.  So I've been deep diving into OSPOS and CodeIgniter to deter

[2016-11-10 07:12] freemail624 commented on #964
Thanks for these changes also. I made a test and the performance become more better than before.

[2016-11-10 07:21] daN4cat commented on #964
Good, I've done something with the reports too. It's under testing.

[2016-11-10 07:30] freemail624 commented on #964
Noticed. In the sale edit form the receipt datetime is readonly but if you click you can change it from the datetimepicker

[2016-11-10 07:30] daN4cat commented on #630
Thanks for the work and indeed it's not always trivial to change database interfacing.
I don't know if you are aware but now with 3.0.1 there is a means to dump the query logs in application/log/. Just open config/config.php and look for the configured item related to that and set it TRUE.

No worries, it's still tagged 3.1.0 so we leave it as it is and wait.

I need to fix 3.0.1 deadline and set

[2016-11-10 08:14] daN4cat commented on #964
It's done on purpose to avoid manual editing of the field and force using only the widget.

[2016-11-10 08:23] freemail624 commented on #964
Thanks for the clarification

[2016-11-10 08:59] jekkos commented on #964
I think the jquery validate will check whether the format is correct so not sure if it the readonly attribute is  needed (need to verify)

[2016-11-10 13:15] Modding opened #965 "Offline Usage of OSPOS "Host name lookup failure""
Hi i was trying to use the OSPOS on my offline POS System, and it awlays says:

A PHP Error was encountered
Servetity: Warning

Message: socket_connect(): Host loockup failed [-10002]: Host name lookup failure
Filename: Adapter/Socket.php

Line Number: 32

Backtrace:
[...]

And so on ...

If i connect the POS System to a Network with Internet it works.

Do i have to change something in the Config

[2016-11-10 13:44] onyema3 commented on #965
No such errors with the latest masters. Give that a try

On Thu, Nov 10, 2016 at 2:15 PM, Modding <notifications@github.com> wrote:

[2016-11-10 13:50] Modding commented on #965
it is a master checked out 5 minutes ago

[2016-11-10 13:53] Modding commented on #965
Here is the full message:

`A PHP Error was encountered

Severity: Warning

Message: socket_connect(): Host lookup failed [-10002]: Host name lookup failure

Filename: Adapter/Socket.php

Line Number: 32

Backtrace:

File: /var/www/html/vendor/ins0/google-measurement-php-client/src/Racecore/GATracking/Client/Adapter/Socket.php
Line: 32
Function: socket_connect

File: /var/www/html/vendor/ins0/goog

[2016-11-10 13:57] odiea opened #966 "Receipt Issues in Takings"
### Issue / Question / Bug

Before submitting an issue please make sure you remove the first section of the template and you tick (add a x between the square brakets) and agree with all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensource

[2016-11-10 13:58] onyema3 commented on #965
Do you have php-sockets installed and enabled?

On Thu, Nov 10, 2016 at 2:53 PM, Modding <notifications@github.com> wrote:

[2016-11-10 14:01] Modding commented on #965
Of course ... if it wouldnt be enabled it wouldnt working in "online" modus.

[2016-11-10 14:02] Modding commented on #965
Is there a Workaround? I need the POS System on Saturday in a venue i havent got Internet.

[2016-11-10 14:02] daN4cat commented on #966
Yes, I made this change.
I thought it would have been nicer to open the receipt in a new window such you don't lose the Takings listing.

Is this a bad User Experience?

[2016-11-10 14:04] daN4cat commented on #965
So php-sockets is enabled but with no Internet connection you get the error anyway.
I need to check this because I fixed in the past but it seems not completely right.

[2016-11-10 14:05] onyema3 commented on #965
Mine is working just fine offline. Did you change anything??

On Thu, Nov 10, 2016 at 3:02 PM, Modding <notifications@github.com> wrote:

[2016-11-10 14:08] odiea commented on #966
It appears that if you do not close the new window you can end up with 30 or 40 windows if you keep using the takings to view previous receipts.

[2016-11-10 14:14] onyema3 commented on #966
@odiea i see what you mean

On Thu, Nov 10, 2016 at 3:08 PM, odiea <notifications@github.com> wrote:

[2016-11-10 14:15] daN4cat commented on #966
OK, I'll revert that change.

[2016-11-10 14:17] daN4cat commented on #965
He's not the first to report this. So I need to re-check...

[2016-11-10 14:30] jekkos commented on #966
Wasn't this feature there for a long time already? I think it was kind of useful as the takings screen can be very slow to load

[2016-11-10 14:37] odiea commented on #966
If you both like this then can you make it a Store config for receipt.

[2016-11-10 14:38] jekkos commented on #965
Indeed I'm facing the same issue even after disabling the db option.

[2016-11-10 14:48] daN4cat commented on #966
I added the other day because I was tired to go back and set again the date range to more than a day.

But maybe I can indeed make it configurable, or maybe not. Don't know.

[2016-11-10 14:59] odiea commented on #966
I still have the issue of having to reset the date in takings using this feature.

[2016-11-10 15:18] daN4cat commented on #966
Maybe the receipt should open in a pop up window leaving the Takings view open in the background?

[2016-11-10 15:38] jekkos commented on #966
Popup can be problematic as its blocked by most browsers..

[2016-11-10 15:39] jekkos commented on #966
I would vote to stay with the tabs :+1:

[2016-11-10 15:56] daN4cat commented on #966
So two votes to leave the feature as it is, @odiea to remove and @onyema3 what's your vote?
This is the election week... with surprises.

[2016-11-10 16:25] onyema3 commented on #966
i'm with @odiea

On Thu, Nov 10, 2016 at 4:56 PM, FrancescoUK <notifications@github.com>
wrote:

[2016-11-10 17:08] odiea commented on #966
The other option would be to use a different way to call the receipt and just have a close button on it or when called from takings the buttons act like the items 'readonly' buttons.

[2016-11-10 17:47] daN4cat commented on #966
Change reverted, see latest code in master.

[2016-11-10 17:47] #966 closed

[2016-11-10 17:50] daN4cat commented on #964
OK, I worked on the Reports optimisation making smarter use of sales and receiving temp tables, and removing the item temp one used by Invetory Reports.

I believe the performance is far better and even memory consumption should be contained or acceptable.

Of course the larger the time range the bigger the temp tables but in the end it's what we need anyway so the only next step would be to fetch

[2016-11-10 17:51] daN4cat commented on #964
Please test latest master and let me know that I close this issue.

[2016-11-10 17:51] daN4cat commented on #963
No complaints or comments so I assume we are all happy with this. I close

[2016-11-10 17:51] #963 closed

[2016-11-10 17:51] #914 closed

[2016-11-10 18:10] daN4cat commented on #965
@jekkos since you can reproduce this (I cannot as I don't have the right setup), can you please check a change for me?

Move the following in Socket.php

[code]

to be before `if (!socket_connect` line and test again.

[2016-11-10 18:19] daN4cat commented on #965
@Modding you can try the same change too

[2016-11-10 20:34] jekkos commented on #964
This is great! This issue has been there for such a long time. I haven't tested and will be off most of the weekend, so might try later on!

[2016-11-11 09:23] daN4cat commented on #965
Searching around it seems more an issue with the setup: http://serverfault.com/a/16021

Please ignore what I suggested earlier and check what that comment suggests.

[2016-11-11 09:25] daN4cat commented on #937
@520521mayuan please read my last comment in #965 and give a try without commenting out the code.

[2016-11-11 09:25] daN4cat commented on #946
Read comments in #965

[2016-11-11 09:49] jekkos commented on #965
So it's just a php glitch in this case? Restart would then solve it.? I found the error in the docker container..

[2016-11-11 10:15] daN4cat commented on #965
Maybe I should ring-fence the Socket createConnection internals with a call to `gethostbyaddr ( string $ip_address )` and see if in that way we get a FALSE without throwing an error.
If FALSE then return without going any further.

But I would need some help to test because I cannot reproduce this.

Do you have time to give a try adding this as first lines in that function?

[code]

[2016-11-11 10:46] Modding commented on #965
So im in office right now ... the php glitch is not the Problem.
https://www.youtube.com/watch?v=FTR01vqBEHI

I will try the suggestion that daN4cat in 5 minutes

[2016-11-11 11:04] daN4cat commented on #965
OK, let me know how it goes. So in Socket.php just after:

[code]

add the code I suggested above.

[2016-11-11 11:10] Modding commented on #965
So i put this in the Socket.php ... Same errors

[2016-11-11 11:12] daN4cat commented on #965
Can you dump the error please?

[2016-11-11 12:02] daN4cat commented on #965
@Modding something else to try.

In `public/index.php`, can you please comment this line:

`//	define('ENVIRONMENT', isset($_SERVER['CI_ENV']) ? $_SERVER['CI_ENV'] : 'development');`

and write this one below:

`	define('ENVIRONMENT', isset($_SERVER['CI_ENV']) ? $_SERVER['CI_ENV'] : 'production');`

See if you still get the error notification on the screen or not.

[2016-11-11 12:03] daN4cat commented on #965
I probably need to do that change in master as I remember I did some time ago but it seems it went lost/changed?

[2016-11-11 12:39] Modding commented on #965
That works! PERFECT!

[2016-11-11 12:49] Modding commented on #965
https://www.youtube.com/watch?v=ZJVeAUpzv5w

[2016-11-11 13:03] daN4cat commented on #965
Great, I'll submit that change to master because it should be production as default not development anyway.

The error is not shown to the user and in any case it's not relevant.

BTW, I see you are running OSPOS on Raspberry PI, how do you find it? is it working fine? It seems responsive enough.
What's your setup in detail? We have one documented in the wiki but there was an alternative that seem

[2016-11-11 13:21] Modding commented on #965
I am Running OSPOS Native on an Raspi3 in PI-Top Ceed case with Raspberrian/Debian on it.
It works well and its fully functional.
Ive written a Script, that automaticly opens Chromium in Kiosk mode if you Boot up. The Apache and MySQL works perfect as expected and brings no errors and so on.
The Barcode Scanner comes as HUID and works like a Keyboard out of the Box.

Ive alterd some views like the

[2016-11-11 13:41] daN4cat commented on #961
OK, with the latest improvements and fix we should be good.

Let's wait for a week or so before officially release 3.0.1.

[2016-11-11 15:50] rnld26 opened #967 "Employee on receipt based on who is logged in? (ASK)"
### Installation information
OS X El Capitan
PHP 5
Web server Apache
MySQL 5.6

### Expected behaviour
- First employee do sale
- Second employee logged in and check sale on sale->taking and view a receipt that first employee created.
- The employee name on the receipt should be the First Employee

### Actual behaviour
- The employee name on the receipt is second employee that logged in

### Steps

[2016-11-11 20:51] daN4cat commented on #967
Thanks for this report, can you please make a change and submit a Pull Request so we merge this?

[2016-11-11 23:00] daN4cat commented on #965
Sounds good, good luck for your Saturday sale. Let me know if all worked well.
Good to know about the Raspi3 setup.
Maybe you can write something in the wiki about the printer setup and what you did to deal with the cash drawer. Would be nice to share a bit of info about that.

[2016-11-11 23:24] odiea commented on #967
What am I doing wrong? With these changes all I get is a blank employee on the receipt.

[code]

[2016-11-12 05:13] rnld26 commented on #967
yes sorry i forgot you also need to add this at Sale_lib : copy_entire_sale
![screen shot 2016-11-13 at 12 15 23](https://cloud.githubusercontent.com/assets/22451842/20235845/4e0f3808-a8d1-11e6-9484-954ee534360c.png)

[2016-11-12 05:15] rnld26 commented on #967
@daN4cat yes i can, thanks

[2016-11-12 11:00] daN4cat commented on #967
Good good

[2016-11-12 11:58] odiea commented on #967
That did it. Thanks for the contribution.

[2016-11-12 14:44] hotline007 opened #968 "any RTL supported ?"
hi and thanks for this effort

when i change the language to arabic the translation is worked well
but sill ltr
how can i change it to rtl

thanks

[2016-11-12 15:05] jacksz commented on #944
@odiea sorry i was busy past 2 weeks
hmm i like the idea of the performa maybe i can make it as uploading raw data to the db and have a search bar and view

[2016-11-12 15:18] odiea commented on #944
I found what was causing my issues. If you want to try these your more than welcome to. It contains the register where Invoice now shows in Customer info on the register. The register and controller now have the proforma buttons if you kept the proforma receipt it should work for you.
[New ospos.zip](https://github.com/jekkos/opensourcepos/files/587282/New.ospos.zip)

[2016-11-12 16:46] jacksz commented on #24
*suggestion*: isn't kickstarter a better option than sourcebounty? i know how sourcebounty is more related to programming but kickstarter has less fees and better tracking and everyone can participate

[2016-11-13 02:29] TayZaN opened #969 "wrong dialog title for item import"
### Issue / Question / Bug

Before submitting an issue please make sure you remove the first section of the template and you tick (add a x between the square brakets) and agree with all the following check boxes:

- [] Checked the current issues database and no similar issue was already discussed
- [] Read the README, WHATS_NEW and UPGRADE
- [] Read the FAQ (https://github.com/jekkos/opensourcepos

[2016-11-13 08:04] daN4cat commented on #969
Thanks for the report

[2016-11-13 10:31] daN4cat commented on #969
@TayZaN I just checked and this was fixed long time ago. I'm afraid you are not using the latest code.

[2016-11-13 10:34] daN4cat commented on #968
Duplicate of #798. Please read that issue.

[2016-11-13 10:34] #968 closed

[2016-11-13 11:27] daN4cat commented on #967
OK, given that was tested and I had a bit of time I fixed this.
It's now in master.

Thanks for the issue report and fix contribution.

[2016-11-13 11:33] daN4cat commented on #965
@Modding I forgot to recommend disabling the xss clean functionality given it's a standalone and not connected installation. That will speed up the performance or reports and similar type of functionality.
That's a security measure necessary only if you run OSPOS from the Internet.

That configuration can be disabled in config/config.php like this:

`$config['ospos_xss_clean'] = FALSE;`

[2016-11-13 11:40] daN4cat commented on #964
With my latest commit to master the code and performance improved for the Summary reports.

At this point the only extra improvement would be for detailed reports to be fetched directly from MySQL, and have all the tabular reports using a paging like in Takings so only the displayed range is shown. But that would be a bit of work for later.

I close this.

[2016-11-13 11:40] #964 closed

[2016-11-13 11:43] #883 closed

[2016-11-13 11:46] #965 closed

[2016-11-13 11:50] daN4cat commented on #908
@Modding any chance you want to contribute something here? I'm under the impression you created a new one based on another issue comment.

[2016-11-13 12:00] daN4cat commented on #24
@jacksz that's for this suggestion, good one indeed.
I'll discuss with @jekkos this idea and figure out how we could structure in small steps and get incremental funding.
I noticed Font Awesome 5 is using that approach: https://www.kickstarter.com/projects/232193852/font-awesome-5?ref=category_popular

[2016-11-13 14:36] odiea commented on #886
The other minor issue would be after I unsuspend a table the Table number is set to the first table in the drop down list and not the original table .

[2016-11-13 16:01] TayZaN commented on #969
I c, below link is latest code for item page ?
https://github.com/jekkos/opensourcepos/blob/master/application/views/items/manage.php

[2016-11-13 16:16] odiea commented on #969
I see the tool tip on Items excel button currently says Import customers instead of Import Items. You are correct.

[2016-11-13 16:51] daN4cat commented on #969
Apologies, I completely missed this one. Fixing....

[2016-11-13 16:57] daN4cat commented on #969
Fixed

[2016-11-13 17:15] odiea commented on #967
@daN4cat I know you committed this but should @rnld26 get his name in the contributors hall of fame?

[2016-11-13 17:26] ishtiaquesarwar opened #970 "Single Product Barcode Generating"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2016-11-13 17:28] ishtiaquesarwar commented on #970
Hello
I wanted to take a print of a single product which has a stock of 20. When i attempt to create bar code of that product specifically then it generates one barcode but i have 20 product of same type, so bar code should also get generated of the same amount.

How to fix this issue or appear in barcode generating section.
FYI i am using it for my own shoe store

thanks
ishtiaque

[2016-11-13 17:40] daN4cat commented on #967
If they give me the line I'll add it to COPYING file

[2016-11-13 18:41] odiea commented on #970
Are you using all of the Custom fields in Items?

[2016-11-13 18:46] ishtiaquesarwar commented on #970
No custom field used any how.

On Nov 14, 2016 12:41 AM, "odiea" <notifications@github.com> wrote:

[2016-11-13 19:07] odiea commented on #970
Here is what I use to create multiple labels from an Item.
Custom field 1 I called BCQty to place the number of labels I want to print from a single Item.
If you do mass printing of single items make sure the last Item does not have a  BCQty or you will get that number of printed barcodes.
Rename your old barcode_sheet in application/views/barcodes extract and replace it with this one.
Test on you

[2016-11-13 19:15] odiea commented on #970
The Item that you want to print multiple barcodes from needs to be printed separately. A bulk print will just print a single barcode label unless stated above.

[2016-11-13 19:20] ishtiaquesarwar commented on #970
Example
Shoe (size 15) has quantity of 25

so while generating bar code of that shoe it should create 25 barcode and
print is done.

Your suggestion follows this?

Thanks

On Nov 14, 2016 1:15 AM, "odiea" <notifications@github.com> wrote:

[2016-11-13 19:22] odiea commented on #970
It does create an extra barcode so I would suggest setting BCQty 1 item lower then needed.

[2016-11-13 19:25] ishtiaquesarwar commented on #970
If i create a custom field BCQty then in which section it will appear? and
does this barcode fits market available sticker printing paper?

On Nov 14, 2016 1:22 AM, "odiea" <notifications@github.com> wrote:

[2016-11-13 19:29] odiea commented on #970
This field will now show in Items form towards the bottom of the dropdown. I believe if this has been printing ok now it should be ok. I was using single labels on a roll. You will have to test and adjust as necessary.

[2016-11-13 19:30] ishtiaquesarwar commented on #970
Let me try first multiple barcode generation

On Nov 14, 2016 1:29 AM, "odiea" <notifications@github.com> wrote:

[2016-11-13 19:31] odiea commented on #970
If this does not work for you just delete it and rename the old barcode_sheet.

[2016-11-13 19:32] odiea commented on #970
It should show on the screen and be similar to what you had.

[2016-11-13 19:49] #969 closed

[2016-11-13 20:52] odiea commented on #970
Here are changes I have made. You can now use receiving quantity as the barcode multiplier. I also found why it was creating an extra barcode. So the changes are as following. variable x should be 1 not 0 and when you go to Items you can update the receiving quantity to print the new barcodes..
[code]

[2016-11-13 21:01] pcrcastro opened #971 "frontaccounting integration"
Good afternoon jekkos, I follow you a long time ago and I congratulate you for your contribution to the community. I ask if you can collaborate with an aggregate on opensourcepos. I need to integrate sales to a free erp (frontaccounnting). Best Regards Cesar

[2016-11-14 02:38] ishtiaquesarwar commented on #970
Hi

i did followed your this suggestion given at first but not working so far

" Here is what I use to create multiple labels from an Item.
Custom field 1 I called BCQty to place the number of labels I want to print
from a single Item.
If you do mass printing of single items make sure the last Item does not
have a BCQty or you will get that number of printed barcodes.
Rename your old barcode_sheet

[2016-11-14 02:40] ishtiaquesarwar commented on #970
Hi

Where you have made this change ?

<tr>
            <?php
            $x = 1;
            $count = 0;
            do{
            foreach($items as $item)
            {
                if ($count % $barcode_config['barcode_num_in_row'] ==
0 and $count != 0)
                {
                    echo '</tr><tr>';
                }
                $item_qty = $item['receiving_quantity'];

[2016-11-14 02:48] ishtiaquesarwar commented on #970
Hi

Just applied it and it has worked :)

Thank you very much

A.M.Ishtiaque Sarwar
Managing Director
*Soft Tech Innovation Ltd*

*Consultant:*
NARRI Consortium (8 International NGO's)
Azadi Technologies, Chittagong.
Sagarika Samaj Unnayan Sangstha,

*Business Concerns*: *MUTHOFUN <http://www.muthofun.com/> |  aamarPay
<https://www.aamarpay.com/> | eBiponon <http://www.ebiponon.com/>* |

*C*: 880-

[2016-11-14 03:03] ishtiaquesarwar commented on #970
Another issue found

Issue 1:
When i was having two stock of a product x it should generate 2 barcode of
product x but here i am getting more than 2 barcode of the same product x

Issue 2:
Say i have received product x of 10 pcs and later received 5pcs so total
amount is 15pcs
It should generate 15 bar code but it was generating 10pcs

is there any issue with the code ?

A.M.Ishtiaque Sarwar
Manag

[2016-11-14 10:13] rnld26 commented on #967
I'm sorry, i have tried to put it at pull requerst, but I'm confused how to put it there.. @daN4cat @odiea can help?

[2016-11-14 10:19] rnld26 commented on #967
Oo it's on master already thanks @daN4cat

[2016-11-14 11:10] odiea commented on #970
Issue 1:  if you are creating multiple items barcodes make sure the last item contains 0 or 1 in the receiving quantity. This idea is used to create multiple labels for 1 item.
Issue 2: It should print the number of labels that is listed on the receiving quantity.

[2016-11-14 14:07] #967 closed

[2016-11-14 14:09] daN4cat commented on #961
I leave one week and if no more issues I will release 3.0.1 over the weekend this time.

Please test as much as you can, reports, dialog boxes, setting, etc.

[2016-11-14 14:20] alvin101 commented on #971
@pcrcastro I have not much time today, but I would also like this, I have some links and info to share.

We will need a coder to help with this, and maybe a little seed money.

More later

[2016-11-14 15:26] cmartinss opened #972 "QUESTION - License"
Hi there,

Hope this is the right way to place my question but couldn't find any message option elsewhere.

I use PHP Point Of Sale for a long time which seems to be a paid version of Open Source Point of Sale however they do not have the "You are using Open Source Point Of Sale" and/or "Open Source Point Of Sale" footer signature as required on LICENSE file.

I am wondering if I can use this proj

[2016-11-14 16:58] pcrcastro commented on #971
perfect when you have time, whether I agree he is the budget to begin with. regards Cesar

________________________________
De: Alvin <notifications@github.com>
Enviado: lunes, 14 de noviembre de 2016 10:20 a.m.
Para: jekkos/opensourcepos
Cc: pcrcastro; Mention
Asunto: Re: [jekkos/opensourcepos] frontaccounting integration (#971)

@pcrcastro<https://github.com/pcrcastro> I have not much time today

[2016-11-14 18:09] daN4cat commented on #972
Hi @cmartinss,

first of all thank you very much for putting forward this question.
I'm stating that because among the many honest users of OSPOS, we are aware of a bunch of few in the shadow that took the "freedom" of ignoring the LICENSE and rebrand and resell the software as theirs, some even claiming the copyright! And that without any change.

Coming back to your point, the README states some

[2016-11-14 18:13] daN4cat commented on #972
In the end it's a shared economy story, everybody contributes to get what they need.

So the ones in the shadow that are profiting from the "hacked" versions should simply click the Donate button at least or add functionality instead of spending time in hacking code to work around stuff.

[2016-11-14 20:28] jekkos commented on #972
Yes indeed that's the idea. We want to get more contributions back in any form, be it code, ideas, supoport or donation. You're free to sell it but the copyright will remain so everyone knows what software they are using and who built it.

[2016-11-14 21:13] cmartinss commented on #972
I used OSPOS for a few months 4 years ago but some features/options were not available and for that reason I just quit and look after another option, that's when I found PHPPOS which was quite similar to OSPOS at the time. Nowadays is totally different (visually speaking) however I know the structure is the same so I never understood why OSPOS was being sold in another project but I supposed it wa

[2016-11-14 21:34] daN4cat commented on #972
The historical view is that both PHPPOS and OSPOS started from the same code, then the original author went commercial and another author kept the code free domain.
We kept building on the free version and kept going. The author of the free version is not active anymore.

The reason for the contribution is to make sure people make an effort to keep this alive.
Jekkos incurs in some cost for certai

[2016-11-14 23:36] jacksz opened #973 "sales "takings""
### Issue / Question / Bug

Before submitting an issue please make sure you remove the first section of the template and you tick (add a x between the square brakets) and agree with all the following check boxes:

- [x] Checked the current issues database and no similar issue was already discussed
- [x] Read the README, WHATS_NEW and UPGRADE
- [x] Read the FAQ (https://github.com/jekkos/opensource

[2016-11-15 00:17] SteveIreland commented on #972
On another thread I mentioned that I was installing this software, with some eventual modifications, for a friend of mine who is starting up a repair services business.  I used the fact that this was an open source project with multiple invested developers supporting the project as part of my sales pitch - so I'm okay with the licensing and self marketing footer.  For me it gives it some street cr

[2016-11-15 00:27] SteveIreland commented on #909
When I first started to learn Web development I volunteered to teach a PHP programming class at the local community college.  When my first wife was diagnosed with the rare neurological disease Huntington Disease I volunteered to put together a Web site that answered questions for families affected by Huntington's Disease.  And I now I volunteer to help, if it's okay, with the documentation task.

[2016-11-15 00:55] odiea commented on #973
Have you checked the different languages that you tested with to see if they are properly translated? I tried with es and saw no issues. I believe takings also uses public function get_payment_options($giftcard = TRUE) as it should.

[2016-11-15 03:32] jacksz commented on #973
hmm es? you mean Spanish right?
this is the path public/sales/manage

![3w](https://cloud.githubusercontent.com/assets/14059965/20292211/cf546c4e-aafc-11e6-8a6a-a3a35e334901.JPG)

![2q](https://cloud.githubusercontent.com/assets/14059965/20292252/315e4770-aafd-11e6-8064-13ec14eccc12.png)

[2016-11-15 06:13] daN4cat commented on #972
The add-ons are visible in the .json files in the main dir.
Also I added the license publishing in Store Configured, license tab. That also gives you a list of what we use.

[2016-11-15 06:15] daN4cat commented on #909
Many thanks for the help and support.

[2016-11-15 08:00] deepshah commented on #886
Have fixed this.

[2016-11-15 12:37] senseitebbayo commented on #909
That's great Steve! Thank you!                                                                                                                                                                                                                                                                                                                                        Sent from my BlackBerry 10 smartphone.

[2016-11-15 13:02] odiea commented on #973
Here is what I am showing from the current master switching between 2 languages.
![2016-11-15 05_58_54-new notification](https://cloud.githubusercontent.com/assets/10962177/20306709/04c32d1a-aaf9-11e6-9282-384146196053.png)

[2016-11-15 13:35] daN4cat commented on #973
Yes, it stores the string in the selected language.
There is no support for language switching, it was not part of the original design for this feature.

[2016-11-15 14:00] deepshah opened #974 "Handling different environments."
### New Feature / Enhacement

What is the best way to manage environment specific variables? Code Igniter suggests this- https://www.codeigniter.com/user_guide/libraries/config.html#environments.
But it requires setting the environment (development/production) in the .htaccess file which is under version control. Is there a way round this? I am thinking of implementing phpdotenv (https://github.co

[2016-11-15 16:40] daN4cat commented on #974
phpdotenv looks an interesting idea. Maybe you can work on that addition and contribute to the project?

[2016-11-15 16:41] daN4cat commented on #974
But that support needs to be added using composer so it's added to the vendor directory

[2016-11-15 17:47] daN4cat commented on #972
For the history, this is the original code that was free before the split: https://github.com/daN4cat/PHP-Point-Of-Sale

[2016-11-15 17:47] #972 closed

[2016-11-15 18:01] daN4cat opened #975 "From Bower to npm v3.0 package.json, from grunt to gulp"
I read that Bower is somehow not necessary anymore given npm v3.0 is out.

Should we switch to npm v3.0 once forever?

[2016-11-15 18:27] jekkos commented on #975
Funny I looked at exactly the same thing today. If we switch to npm I guess we'll need to adapt the build pipeline as there's quite some bower specific stuff in there? Also grunt is being abandoned for gulp these days

[2016-11-15 18:28] jekkos commented on #974
Indeed dotenv  is quite easy to use and allows one to customize environment variables while keeping them out of vcs

[2016-11-15 19:10] daN4cat commented on #974
@jekkos maybe you can just pull the composer stuff and commit for later use?
That will easy the contribution.

[2016-11-15 19:50] deepshah commented on #974
I'll look into it

[2016-11-16 00:13] odiea opened #976 "Incorrect subtotal and tax in reports"
### IMPORTANT IMPORTANT IMPORTANT

Chose what you want to report: New Feature or Bug.
If you remove the template when submitting a Bug your issue will be closed as we cannot help without basic information.

### New Feature / Enhacement

For New Features or Enhacements please remove all the template text and clearly write your proposal.
It's important to state whether you expect the community to im

[2016-11-16 00:20] SteveIreland commented on #975
Gulp is an awesome bait for flounders here on the East cost of the USA. I use it almost exclusively!   Wait ... am I on the wrong Web site again?

[2016-11-16 00:21] odiea commented on #976
Here are the totals for Detailed Sales report for the same period of time.
![2016-11-15 17_20_00-wedidit _ powered by ospos 3 0 1](https://cloud.githubusercontent.com/assets/10962177/20329837/da389dd2-ab57-11e6-9bf2-6b77d4d69c24.png)

[2016-11-16 01:04] SteveIreland commented on #630
I finally made it past the hiccup I had.  It turns out that on a multi-file group by join since there is a default"*" for the list of fields to be retrieved I really needed to "instantiate/identify" each of the fields  from ALL of the tables (I was hoping that I could just get away with the fields from the primary table) - otherwise something upstream might be broken (which it is was in this parti

[2016-11-16 02:21] odiea commented on #630
Have you tried wamp,xampp or a vm?

[2016-11-16 04:25] SteveIreland commented on #630
Sorry, I'm using WAMP and have swap between MySQL 5.7 and MySQL 5.6 for testing to make sure my changes work the same for both database versions.  I load up the files with small sets of records but being a newbie here I just wanted to make sure sure that I was aware of any formal test scripts that contributors are required to run through.  If not then I'll start setting up my own test scenarios an

[2016-11-16 04:27] ishtiaquesarwar commented on #970
Hi
Is it possible to show or get input of suppliers payment like this way

Bill amount
Paid amount
Due amount

Under suppliers section?if yes what would be the best way?

On Nov 14, 2016 5:10 PM, "odiea" <notifications@github.com> wrote:

[2016-11-16 04:42] ishtiaquesarwar opened #977 "Suppliers Module New Field Adding"
Hi
I want to add suppliers few information like below

Suppliers Total bill amount
Paid Amount
Due Amount
Payment date
Note

How to do this?

Thanks in advance

[2016-11-16 08:27] jekkos commented on #977
Adapt search query in Supplier to add the fields you need. In table_helper you need to add those fields to both the table body and header. It should show automatically in the module after that.

[2016-11-16 08:27] #977 closed

[2016-11-16 09:00] AssemRad opened #978 "Payment type enhancement suggestion"
Hello,

What about adding simple `payment_type` kind of table in the database. so the payment holds an ID.
I believe this will overcome the problem mentioned in #973 (نقدي and cash are the same payment types but in different languages)

I guess this will assist in reporting later (refer to `payment_type` field in `sales_payments` table). such as if debt ( #24 ) comes ready to be implemented. Also,

[2016-11-16 09:20] daN4cat commented on #976
It might be related to the database optimisation work. Need to check and fix.

[2016-11-16 09:30] daN4cat commented on #975
OK, it sounds like we need to two changes to make on the scripting side.
I will read about gulp as I'm not familiar with it. This is not the type of stuff I'm in touch normally outside here.

[2016-11-16 09:41] daN4cat commented on #978
It's a nice to have and the issue is how to manage the upgrade.
How do we translate from existing to the IDs using a simple database upgrade script?

[2016-11-16 09:47] daN4cat commented on #630
@SteveIreland you should go for a PR (pull request) and then we can review and test and if fine we integrate.

I hope you worked on the latest 3.0.1 because I optimised the database for the reports.

[2016-11-16 09:50] jekkos commented on #975
Yes I spend a lot of time to refine the grunt build as it is now. Think this is not of the highest priority currently and will probably focus on other stuff first. But it's good to have it in the tracker once somebody feels up to it.

[2016-11-16 09:51] jekkos commented on #975
I mean that current milestone might even be a bit too ambitious..

[2016-11-16 09:51] jekkos commented on #974
@deepshah what settings do you exactly to configure as env variable?

[2016-11-16 09:55] AssemRad commented on #978
mmm. rather a good point!
let me check up where does the payments come in code first...

[2016-11-16 10:12] daN4cat commented on #978
It's all set in text, a database upgrade script cannot take into account the translations in different languages. I know this is not ideal.
The only other way would be to implement something in the code that does an upgrade step working out the language issue.

[2016-11-16 10:12] daN4cat commented on #975
Set 4.0.0, not urgent indeed.

[2016-11-16 10:35] AssemRad commented on #978
Isn't there such a location in code that would trigger "Upgrade" scripts/functions once at the first run of the system (so it will read the values from Language files then does alter/update payments_types table) ? or it must be done manually by user interaction from say config pages ?

[2016-11-16 10:42] daN4cat commented on #978
There is no upgrade feature in code at the moment.
In general is a manual step involving a run of a database script in phpMyAdmin or command line.

[2016-11-16 13:14] xtruthx commented on #908
my i am willed to help here. cause without printing taxes in a receipt als in the other statistics it is not really usable in germany due too the law.
As i can see you have a part to show taxes or do i missunderstood something wrong there:
`<?php
                if ($this->Appconfig->get('receipt_show_taxes'))
                {
                ?>
                        <tr>

[2016-11-16 13:18] odiea commented on #908
Store Config - Receipt  Make sure Show taxes is checked. It shows if you check that.

[2016-11-16 13:20] xtruthx commented on #908
yeh got it now.  And it visible on the receipt.

[2016-11-16 16:19] deepshah commented on #974
These are the ones I suggest:

ENVIRONMENT: production/testing/development

'db_log_enabled' => (ENVIRONMENT !== 'production')
'encryption_key'

Database:
'hostname'
'username'
'password'
'database'
'db_debug' => (ENVIRONMENT !== 'production')

[2016-11-16 19:19] jekkos commented on #974
Ok makes sense to use dotenv for that. You can easily install the dependency using composer. Just hit

[code]

[2016-11-16 19:22] jekkos commented on #974
The database config file will be similar as it is in docker now. There the credentials are filled in using getenv() function. Think we should update the setup instructions to take this into account. In this case users will need to add the dotenv file with their production password in that case.

[2016-11-16 19:22] jekkos commented on #974
@deepshah  You can send PR for this once finished would be much appreciated!

[2016-11-16 19:23] jekkos commented on #978
There is some kind of upgrade functionality in CI but currently it's no priority to work on that. If you feel up to it then give it a try and send PR once you have something going @AssemRad

[2016-11-16 19:32] jekkos commented on #630
@SteveIreland no test scenario's yet for these models, you might need to do some sanity check first and then let community test what's left after the merge.

[2016-11-16 23:39] odiea commented on #630
I created a Ubuntu server with mysql 5.7. So far the main issue is the tables for Takings and Items do not load. Create Item works just fine. Is this the issue that is going on with this mysql version. @SteveIreland  if you would like to submit a zip of the changes you think will fix it let me know.

[2016-11-16 23:44] SteveIreland commented on #630
I've been merging the changes in from the jekkos:master branch before I do any of my own changes or testing so  that includes 3.01 ... right?  I don't see a specific 3.0.1 branch.  I see potential for extreme embarrassment on my part otherwise.

[2016-11-16 23:48] odiea commented on #630
I am willing to pretest this. That is what I kinda do here. If it does not work I will let you know. Do not be embarrassed the best have made mistakes.

[2016-11-17 00:46] odiea commented on #630
I am also getting the error that the image file upload folder may not be writeable. They are set at 0755 same as my other Linux servers. Possibly another 5.7 issue?

[2016-11-17 04:13] SteveIreland commented on #630
Thanks @odiea.  I'm still working through some of the quirky behavior of CodeIgniter's query builder.  It seems to want to do some odd things when the SQL is "out of the ordinary".  I haven't explored the image side yet so I can't comment on your image issue, but I haven't yet stumbled across any documentation or reports suggesting that storing images in the MySQL database has changed in 5.7, but

[2016-11-17 08:48] daN4cat commented on #630
Images (= pictures) are not stored in MySQL for OSPOS case.

[2016-11-17 09:37] jekkos commented on #976
Would be nice to have some testcases for these kind of things in the future..

[2016-11-17 09:51] daN4cat commented on #976
Yes, but the problem is that there are mistakes in the way things are calculated with the rounding.

I believe I need to write down some examples, use a spreadsheet and compare as I fixed but sums are not matching due to rounding or some other issue that I don't know yet.

[2016-11-17 10:52] jekkos commented on #976
I've solved some issues with incorrect calculations in those queries in the past. I think at that time it took me quite a bit of time to get it right (there might still be an issue about it here somewhere). Main problem was indeed the rounding strategy and used datatypes in the query, if I remember well

[2016-11-17 10:54] jekkos commented on #976
Maybe a phpunit test would be good to check whether things work correctly? Don't know if you feel up to that.. Adding support can be done through the install script in bin folder. It should automatically generate a couple of example unit tests that show how to build up such a testcase

[2016-11-17 11:18] daN4cat commented on #976
You mean using phpunit?
It will probably make sense to have some test suite against the models at least.
Let me see if it's not that much work...

[2016-11-17 11:40] jekkos commented on #976
Yes indeed.

[2016-11-17 12:57] deepshah commented on #974
Can you explain this- "The database config file will be similar as it is in docker now. " I have not used Docker yet, so did not understand it.

[2016-11-17 13:38] jekkos commented on #976
I once installed the depedency through the CI script but didn't commit it.. I'll look into the CI setup if needed. Think this kind of effort will certainly save time in the future (we might be able to spot regressions more quickly!)

[2016-11-17 14:17] jekkos commented on #974
@deepshah I mean that for docker I have done a modification in the database.php that fetches username, password and database name fro the environment.

Now we can instead just use the dotenv configuration files instead and remove the database.php template. This one will be left unmodified.

[2016-11-17 16:12] rnld26 commented on #967
@daN4cat is it possible to add more field at sales_items_temp temporary table?
i've tried but it wont show up.
it's fine at earlier version POS.

example
- Sale model
![screen shot 2016-11-17 at 23 00 56](https://cloud.githubusercontent.com/assets/22451842/20396648/6fbe0ba4-ad19-11e6-997d-73809f82463c.png)

I tried to add unit_price field from items table

- Specific_employee model
![screen shot 2

[2016-11-17 17:21] deepshah commented on #974
I have made the changes:
https://github.com/jekkos/opensourcepos/pull/979

[2016-11-17 18:51] daN4cat commented on #976
This story with taxes is a can of worms....

[2016-11-17 18:53] daN4cat commented on #967
Add the new field in getDataColumns() too otherwise how do you expect to be shown if there is no description?

[2016-11-17 19:41] AssemRad commented on #978
I'm C++ desktop developer in fact. However, I'll give it a try for sure as soon as I have spare time @jekkos .

[2016-11-17 20:05] jekkos commented on #976
You mean the tax included / excluded thing?It's not that obvious indeed, I remember spending a lot of time on it in the past. I had some complaints from our accountant that calculations weren't precise at some points. Some rounding errors happened at a certain point in this calculation and I had to track it down  by double checking it step by step. Main problem is that mysql is doing the maths her

[2016-11-17 21:14] jekkos commented on #978
Ok great. I think PHP shouldn't be too hard for a C programmer. Nice to hear that ospos is working out there. Right now we are maintaining upgrade scripts in the form of plain SQL file. A nice alternative would be to convert those to using the built in [CI upgrade mechanism](http://www.codeigniter.com/user_guide/libraries/migration.html).

In this case we could try to find a way to load existing u

[2016-11-17 21:16] ogalfano opened #980 "Auto-create invoices"
### New Feature / Enhacement

Hello,

Thanks for making this possible, I want to start using OSPOS with my store but testing it I see there is no option to auto-create invoices, so I have to do the check mark every time I do a sale. Also, it would we good if there is an option to do an autoincrement on the invoice number, just like the sales receipt.
I wish I could help you doing that but I barely

[2016-11-17 21:30] daN4cat commented on #976
It's all fixed, and the issue is with the US double taxation. Not sure how it used to be right before, but I believe it's all fine now.
I need to fix the taxes summary as that is not correct in the table. That was never right even earlier.

The problem with working with this story is that one sale can have multiple items that can have multiple taxes. That was what the temp table was solving and in

[2016-11-17 21:32] ogalfano opened #981 "Translation mistake"
### New Feature / Enhacement

Hello,

Again me. I have to use OSPOS in Spanish (i'm based in Latin America) and it looks like that there is a small mistake in the spanish translation.

When printing out an invoice, in spanish it says "Tarjeta de Credito" but the right translation could be "Factura de Venta" or just "Factura".

If you need any help translating to Spanish, I could help you

![image]

[2016-11-17 21:41] jekkos commented on #980
Invoice autoincrement should be in place. I guess a tooltip or some sort could help there.
Also search the issues to enable invoice auto check. There's an easy solution posted by @odiea not so long ago. Just add one line of code in sale_lib if I'm not mistaken.

[2016-11-17 21:42] jekkos commented on #980
There's different variables for invoice increment, search the issues for $CO and $SCO

[2016-11-17 21:43] jekkos commented on #976
Ok I'm merging the datetime filter thing as we speak now. Could this be an issue for the fix you did? It seems there were quite some changes since the PR for this change was  submitted

[2016-11-17 21:44] jekkos commented on #976
Ok this double tax story isn't one that's used this often. I know there were other long standing bugs in that part even in the sales module not that long ago. So I'm not surprised that maybe it didn't work as expected.

I think that figure for profit  makes more sense indeed. We should take taxes into account.

[2016-11-17 21:46] jekkos commented on #981
@ogalfano You can correct that one yourself in our code by signing in on our Weblate instance. Just create yourself an account, look for the string you want to fix and submit it.

It will be merged in the code afterwards

[2016-11-17 21:46] jekkos commented on #981
Check the  wiki for further instructions on weblate.

[2016-11-17 21:46] #981 closed

[2016-11-17 22:03] daN4cat commented on #976
Yes, if you merge that you'll break what I changed. Please wait...

[2016-11-17 22:06] jekkos commented on #976
Ok I'll leave that for now, it's not working anyway. Commit first and I'll look afterwards.
Actually I was working on categories but just got til the point of adding/removing them. I haven't started the implementation in item forms yet. Need to think about some UI shizzle there first.

[2016-11-17 23:15] daN4cat commented on #976
@odiea something to test. Hopefully I fixed in the correct way.

Sorry non phpunit test yet.

[2016-11-17 23:22] daN4cat commented on #978
See #736 too. There is even a CI based solution that could allow pulling the update from GitHub automatically.
Maybe one day...

[2016-11-17 23:34] daN4cat commented on #976
@odiea I need you to test because the US version implies different way of setting prices and taxes so that's something I couldn't test properly.

[2016-11-18 01:23] odiea commented on #976
Works great. Another fine job. As far as I am concerned the single tax is ok. we usually have to split between state and local.

[2016-11-18 02:32] odiea commented on #980
In sale_lib I think just comment out set invoice did the trick. You may have to log out then login back in and try a few invoices.
public function clear_all()
	{
		$this->set_invoice_number_enabled(FALSE);
		$this->clear_mode();
		$this->clear_table();
		$this->empty_cart();
		$this->clear_comment();
		$this->clear_email_receipt();
		$this->clear_invoice_number();
		$this->clear_giftcard_remainder

[2016-11-18 03:20] odiea commented on #976
In the US at least in Colorado we charge tax on items but not Labor. We do have tax exempt people.

[2016-11-18 03:34] ogalfano commented on #980
@odiea thanks for your help, after trying a lot finally make it happen.

Now just another question. Is there any way to change the starting invoice number? My store used to have hand preprinted invoices so I'd like to keep the number secuence? I tryed changing invoice_number on PhpMyAdmin in a first empty invoice but didnt work

Thank you

[2016-11-18 03:39] odiea commented on #980
Currently Invoice numbers are created by the number of invoices in the database + 1. You can use custom Invoice numbers but they have to be manually entered.

[2016-11-18 03:45] odiea commented on #980
You can try to entice Jekkos with a bounty to set it as a seed value instead of a count.

[2016-11-18 09:33] daN4cat commented on #976
So this is fixed.

I give a bit of more time and if no issue on Sunday I release 3.0.1.

[2016-11-18 09:46] daN4cat commented on #976
@jekkos I may make the Reports more object oriented as I implemented something to make common parts as first refactoring pass but actually the design is not what I would normally do and like.
It's better to have a base class function getData calling the Select, From, Where, Group protected functions and let the derived classes specialise the functions if needed.
I think I will do that to have a ne

[2016-11-18 11:26] ishtiaquesarwar opened #982 "Barcode not Scanning"
Hi

I took print of barcodes stored in items and when i attempted to scan them its not working but the scanner can scan all other barcodes generated. The Scanner is a brand new Honeywell MS5145 LS USB, it can detect other bar codes but it cannot detect the barcodes i have taken print and not appearing in system sales register.

How to get it done so that once i scan on any barcode of my system the

[2016-11-18 11:47] rnld26 opened #983 "(Question) how to add more field at sales_items_temp table and display it at specific employee report?"
### Installation information
OS X El Capitan
PHP 5
Web server Apache
MySQL 5.6

is it possible to add more field at sales_items_temp temporary table?
i've tried but did not show up.
it's fine at earlier version POS.

example
I have added one field at items table named 'commission'
![screen shot 2016-11-18 at 18 34 56](https://cloud.githubusercontent.com/assets/22451842/20428715/1d494380-adbd-11e6-