[2020-08-17 22:18] jekkos commented on #2470
Ok commented on the other isssue.

[2020-08-17 22:21] jekkos commented on #2918
Yes I agree, let's patch it this way for now, and then maybe we can add the soft deletes later on (however I'm not sure if it will be a lot of extra work, it might be a matter of changing the model queries only to take into account the deleted flag). I guess most of the complexity with soft delete is in the sales / items models where you have some constraints on invoice number generation that migh

[2020-08-17 22:22] jekkos opened #2925 "Make receivings soft-deletable"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-08-17 22:23] jekkos commented on #2918
As this should be an easy fix I thought I'd add this one more before I (finally) press that release button.

[2020-08-18 12:07] objecttothis commented on #2919
Conversion is allowed from LONGTEXT to TEXT.  In that case, the javascript re-enables the visibility of the flag multi-select.

[2020-08-18 12:11] objecttothis commented on #2919
How would you suggest allowing the searching of LONGTEXT attributes then?  We could change the "Search Attributes" to "Search Visible Attributes" and then add an option to "Search All Attributes".  Bottom line is that users need a means to search all attributes.  In our case, for example, we don't have space in the items table to make all relevant attributes visible without having to do a lot of h

[2020-08-18 13:53] van087 commented on #2924
Thanks @jekkos for the reply
I saw that in OSPOS you used bootswatch 3.4.1.
Is it possible to use the new themes of the latest version 4.5.2?

If I understand, just take a thema in
\ public \ dist \ bootswatch
duplicate it, change its name and customize it by editing files
- bootstrap.css
- bootstrap.min.css

Am I wrong?
Thanks again
Regards

[2020-08-18 14:06] daN4cat commented on #2924
Bootswatch 4.x.x themes are based on Bootstrap 4. So it's a no I'm afraid.

[2020-08-18 14:15] chrishladky0075 commented on #2920
steps to reproduce the issue:
start with clean install;
login with admin creds;
goto configuration, then click tax tab;
enter in tax ID,
enter in tax1rate as PST @ 7 %
enter in tax2rate as GST @ 5%
submit;
click on home, then sales;
create new item as 'test' item name, 'testing' category, and 10 as retail
price;
notice that the taxes correctly show in the item. click submit;
notice that the taxes

[2020-08-18 14:15] jekkos commented on #2919
It's fine to implement it as you say. Most of the time I only have one extra column visible, but I just wonder whether it will be usable that way? If you're looking for a specific string and you find multiple matches, would you know which one you need while not showing the attribute column? Just asking so we know what limitations we will face upfront.

[2020-08-18 14:17] chrishladky0075 commented on #2922
This is an issue for all provinces in Canada as the penny was discontinued
a couple of years ago. I live in Manitoba. You're right, this probably
should be a new feature request.

On Mon, 17 Aug 2020 at 10:54, Steve Ireland <notifications@github.com>
wrote:

[2020-08-18 14:49] chrishladky0075 commented on #2920
update: the tax calculates correctly when using destination based taxes,
but we really do not want to have to do this as we have many small towns
that we service, and they all have the same tax setup.

unless you can give me an example setup with 20 towns that all have PST
(provincial sales tax) and GST (federal Canada tax), when your system
doesn't allow duplicates.

On Tue, 18 Aug 2020 at 09:15,

[2020-08-18 15:12] chrishladky0075 commented on #2920
I tried doing the dest based taxes with just the province entered, but as
far as i can see, it won't allow me to have both taxes PST and GST set up
at the same time. i think our tax rules are just too complicated.. as an
example, we have:
regular sales to people in manitoba (PST and GST)
sales to people that live on native reserves (no taxes)
sales to business (only GST).

It would be much easier

[2020-08-18 15:46] SteveIreland commented on #2920
Destination based taxes are generally dependent on the customer although there can be a default "store location" for walk-in customers.  If you need to distinguish between types of walk-in customers so that different taxing can be applied, then you can set up two or three "generic" customers each of which have different tax codes.  The tax codes will determine the set of taxes to be applied.  I wo

[2020-08-18 16:40] objecttothis commented on #2919
I haven't thought this through completely but potentially another way we could approach it is to have a checkbox in the attribute definition to indicate that we want it to be searchable.  Then when "Search Attributes" is selected, it would search all attributes with this flag.  The downside is that this likely means extending the definition table to include this flag unless we could somehow includ

[2020-08-18 20:48] jekkos commented on #2924
Unless you want to upgrade ospos to bootstrap 4 first ..

[2020-08-19 08:23] objecttothis commented on #2918
#2927 submitted.  It needs a code review and merge.  Should be pretty straight forward.

[2020-08-19 12:45] van087 commented on #2924
Thank you
@daN4cat
@jekkos
for your answers
I will try to create a new thema starting from an existing one in bootswatch 3.4.1

[2020-08-19 16:26] lahkun opened #2928 "Unable to add Item quantity"
Hi,

In the sales panel, i am not able to edit/add item quantity. It shows the quantity label but not showing edit box. Can anyone suggest configuration?
I use version 3.3.1. Thanks

[2020-08-19 16:54] odiea commented on #2928
Yes. You cannot edit an Item quantity that has a serial number. Serial numbers should be unique.

[2020-08-19 19:21] shankar58989 opened #2929 "Blank page after Local deploy in Manjaro"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-08-19 20:46] daN4cat commented on #2929
Not sure we ever tested with PHP 7.4.9.

[2020-08-19 21:01] #2918 closed

[2020-08-20 03:03] shankar58989 commented on #2929
please suggest which version of php shall i install and try. Also if possible please have a look at my httpd.conf and .htaccess files and let me know if i have made any mistakes there.

[2020-08-20 07:29] blutme opened #2930 "Employe permission reports Inventory summary"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-08-20 11:51] jekkos commented on #2929
seeing a blank page is probably a php error, try to enable error logging in the app to see what is going on. Could be just a wrong db config (but you won't know as it's not showing you anythin)

[2020-08-20 12:33] SteveIreland commented on #2922
Question:

If the payment is in cash then it will be rounded to the nearest 5 cents.  However, if the  payment is non-cash then does it still need to be rounded to the nearest 5 cents.

Last time I looked, our current cash rounding logic is dependent on the payment type selected being cash and it rounds to the nearest decimal setting.

[2020-08-20 12:41] SteveIreland commented on #2920
Taking a bit longer than expected.  Microsoft released Flight Simulator 2020 and ... well ... time seems to be draining into a black hole.

[2020-08-20 14:04] chrishladky0075 commented on #2922
If debit or credit card, it does not round

On Thu., Aug. 20, 2020, 7:33 a.m. Steve Ireland, <notifications@github.com>
wrote:

[2020-08-20 14:04] chrishladky0075 commented on #2920
Lol ok

On Thu., Aug. 20, 2020, 7:41 a.m. Steve Ireland, <notifications@github.com>
wrote:

[2020-08-21 02:15] SteveIreland commented on #2920
Was able to replicate this issue so I went ahead and submitted a pull request to fix it.   It's a fix to one line of code.  It appears to have been overlooked when the logic for toggling between discount amounts and discount percents was added.

[2020-08-21 02:28] chrishladky0075 commented on #2920
Thank you so much for your help

On Thu., Aug. 20, 2020, 9:15 p.m. Steve Ireland, <notifications@github.com>
wrote:

[2020-08-23 15:31] van087 opened #2932 "Error 404 The request to url www.mysite.com/ospos/ redirects to www.mysite.com/public"
### Installation information

- OSPOS version is: 3.3.1
- PHP version is: 7.3.13
- MySQL version is: 5.6.44-86.0
- OS and version is: CentOS 7
- WebServer is:  Apache 2.4

### Issue / Bug  / Question / New Feature

I state that I have read the post
https://github.com/opensourcepos/opensourcepos/issues/920
https://github.com/opensourcepos/opensourcepos/issues/1491

but i still couldn't figure out h

[2020-08-24 05:31] daN4cat commented on #2932
It should be .htaccess not .htaccess.txt, I assume you didn't change the file extension.

[2020-08-24 07:55] shankar58989 commented on #2929
can you point me to where i should turn on error logging? should i turn all the error reporting stuff on in the php.ini file?

[2020-08-24 12:44] van087 commented on #2932
The 3 files on the server are .htaccess

To understand the difference between the 3 I have attached them in .txt

[2020-08-25 21:59] jekkos commented on #2919
I guess adding the flag might mean adding another table to the join query in items? I don't remember exactly if the definitions table was already in there. If it is then I guess it's just a matter of adding the flag in the where section? But ok it's a bit of work to add all of this and test it.

[2020-08-26 00:48] #2866 closed

[2020-08-26 09:27] shankar58989 commented on #2929
Please suggest me which version of php is recommended? i will try to reinstall the php. In the minimum requirements in wiki page it says 5.6+ so i thought installing the latest php would not be a problem.

[2020-08-26 11:43] shankar58989 commented on #2929
I am thinking of giving the docker method a try. Is it possible to have multiple instances of OSPOS via the docker method like the sub folders in the LAMP stack method?

[2020-08-26 11:47] odiea commented on #2929
Try 7.2 php and see if that changes anything.

[2020-08-27 10:02] objecttothis commented on #2919
@jekkos Yeah, I can add the flag in the WHERE clause and then add the flag column in the attribute definitions table to represent the checkbox to make the attributes searchable or not.

After some more testing, it's clear that this issue is not just limited to Attributes.  The search only searches fields that appear in the table.  For example, it doesn't search the description column found in the

[2020-08-28 02:40] SteveIreland commented on #2922
I submitted a pull request for this, but for some reason the build is failing with an odd error message that I do not believe is related to the change.
``Service 'ospos' failed to build: Error parsing reference: "php:7.3-apache AS ospos" is not a valid repository/tag: invalid reference format`

Maybe someone has some insight into that.

However, this was a rather simple addition so if there is a n

[2020-08-28 02:49] SteveIreland commented on #2922
Normally cash rounding is triggered when in localization configuration, the cash decimals is less than the currency decimals.  The original design would handle the situation where a cash payment was involved, the system would round the amount due, dropping decimal positions to the right of the currency decimals.   With this change, if the currency decimals is the same as the cash decimals AND the

[2020-08-28 13:12] chrishladky0075 commented on #2922
Thank you I will check it out when I get some time early next week!

On Thu., Aug. 27, 2020, 9:50 p.m. Steve Ireland, <notifications@github.com>
wrote:

[2020-08-28 15:59] DamianoSilverhand commented on #1017
@bkrajendra @izeblood @jlctmaster  I am also trying to implement Multi-pricing dependent on attributes, for instance I have a type of T-shirt whose price depends on the size selected and will appreciate if you have any ideas on how to work around it.

[2020-08-28 19:23] #2900 closed

[2020-08-29 16:07] TYDINC opened #2934 "How to add tax percentage per sale/date in reports?"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-08-29 21:27] #2905 closed

[2020-08-30 06:49] bobby-lin opened #2935 "Gift card value can be set as negative value"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-08-31 19:35] Jaymoh-G opened #2936 "Search suggestions with item attributes"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-08-31 19:40] Jaymoh-G commented on #2936
![Capture2](https://user-images.githubusercontent.com/15136733/91759692-bfb61300-ebda-11ea-91a7-13772c4da8a6.PNG)
would it be possible to get search suggestions by items' attribute e.g searching a black shoe on the sales module

[2020-09-01 08:34] objecttothis commented on #2470
@jekkos I've run into a problem with the UNIQUE constraint. Perhaps there is a better solution for this, but I'm not sure.
Problem: If I change attribute_values to a VARCHAR(10000) and add a prefix unique index then any row that gets added with the same first 255 characters but different characters after that will fail to insert because there would be a duplicate entry in the prefix index.

The on

[2020-09-01 09:17] caloyregs commented on #2455
same issue here.

[2020-09-01 10:21] objecttothis opened #2937 "Travis-CI build failure"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-09-01 11:17] riskal opened #2938 "Can't display New Item"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-09-01 12:02] #2938 closed

[2020-09-01 15:31] jekkos commented on #2937
It seems to be related to the travis setup. I removed the group tag and now it seems to be running with docker version 18 which should in fact support multistage builds.

[2020-09-01 15:32] jekkos commented on #2937
Ok it's green again. I'll close.

[2020-09-01 15:32] #2937 closed

[2020-09-01 15:36] jekkos commented on #2935
I suppose we should check / validate this, but I can't really imagine someone entering a negative amount by accident?
And even then, you might not be able to pay with that giftcard after all( so no harm done there)?

[2020-09-01 15:39] jekkos commented on #2907
https://stackoverflow.com/questions/39352186/update-a-docker-image-in-registry

this could be a solution... gonna try quickly

[2020-09-01 15:41] jekkos commented on #2907
So let's see if `2324471e7ce3f24ced643d9dbaf231522c32d1e` is deployed on demo now

[2020-09-01 16:19] odiea commented on #2907
The demo server still shows that it is 5a638a

[2020-09-02 07:32] jekkos commented on #2907
Ok I have changed the deploy script to remove the container tagged with the branch name instead now.. I guess that might solve it (waiting for redeploy)

[2020-09-02 07:34] jekkos commented on #2907
@odiea I think that hash is fine as the last image probably was not pushed (due to the -f flag not existing on the command). I have reverted this and now it should deploy `b8bfe2239e336793d21dddecfb40362a9529d785`

[2020-09-02 07:43] jekkos commented on #2907
![Screenshot from 2020-09-02 09-42-45](https://user-images.githubusercontent.com/576234/91950581-b6bf6180-ed00-11ea-8d94-94139dcd732d.png)

[2020-09-02 07:43] jekkos commented on #2907
Looks good now to me...

[2020-09-02 07:43] #2907 closed

[2020-09-02 11:37] shifasiddeqque opened #2940 "OSPOS Migration ISSUE"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-09-03 11:03] odiea commented on #2864
502 Bad Gateway
nginx/1.14.0 (Ubuntu)

[2020-09-03 11:11] JamesSwift opened #2941 "The latest Release is missing the compiled zips"
https://github.com/opensourcepos/opensourcepos/releases/tag/3.3.2 references opensourcepos.20191214181241.3.3.1.c786d4.zip but it is not attached.

[2020-09-03 11:19] JamesSwift commented on #2941
Thank you kindly

From: jekkos
Sent: 03 September 2020 12:18 PM
To: opensourcepos/opensourcepos
Cc: James Swift; Author
Subject: Re: [opensourcepos/opensourcepos] The latest Release is missing thecompiled zips (#2941)

Thanks for letting us know, I was waiting for the build to complete and the files are now attached. Enjoy.
—
You are receiving this because you authored the thread.
Reply to this em

[2020-09-03 11:19] jekkos opened #2942 "Bump version to 3.4.0"
If no blocking bug reports arrive, I'd bump versions to 3.4.0

(-) Bump composer file
(-) Bump package.json file
(-) Check Changelog if it contains all notes from the release page
(-) Bump bower file
(-) Bump deployment.json

[2020-09-03 12:24] JamesSwift opened #2943 "Buttons for Common Sale Items"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.com

[2020-09-03 15:00] odiea opened #2944 "Demo Server down."
502 Bad Gateway
nginx/1.14.0 (Ubuntu)

[2020-09-03 18:45] odiea commented on #2943
Currently that is not available

[2020-09-03 19:36] #2944 closed

[2020-09-03 22:22] jekkos commented on #2914
Ok I have version 4.1 running now. The database migration failed again so I had to start over with a fresh cleean database. Luckily I was able to recover some SQL from last time to migrate all users to the new schema.

Following still needs to be done

* Enable github login again. Currently it sends a redirect_uri for example.com for some reason.
* Import the git project and then the translations

[2020-09-04 00:06] chrishladky0075 commented on #2922
Can you send me a link to the new code?

On Thu., Aug. 20, 2020, 9:04 a.m. Chris Hladky, <chrishladky0075@gmail.com>
wrote:

[2020-09-04 06:50] jekkos commented on #2864
Ok should be good

[2020-09-04 06:51] #2941 closed

[2020-09-04 08:32] daN4cat commented on #2941
@jekkos the release note contained a wrong file name. Not sure whether you fixed that too?

[2020-09-04 08:34] daN4cat commented on #2914
Redirect should be GitHub to website after the authentication is done by GitHub.
Is GitHub containing the correct return URL?

[2020-09-04 11:05] #2864 closed

[2020-09-04 12:02] daN4cat commented on #2941
It seems fixed.

[2020-09-04 15:12] jekkos commented on #2914
Yes I think the issue is that the django server does not know what domain it should redirect oauth requests to (it's set to example.com now which obviously is not what is configured and authorized in github)

[2020-09-04 15:21] chrishladky0075 commented on #2922
perfect, thanks

On Fri, 4 Sep 2020 at 09:39, Steve Ireland <notifications@github.com> wrote:

[2020-09-04 20:36] daN4cat commented on #2914
Just wondering, nothing to do with nginx reverse proxy, right? Like some x-forward or similar. I have vague memory that once for Grafana authentication running on Kubernetes I needed to enable something on nginx ingress.

[2020-09-05 05:56] sdnnet3 opened #2945 "Docker index.php issue"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-09-05 12:01] jekkos commented on #2914
I think I have it figured now. Indeed some settings had to be done in the nginx reverse proxy (a reverse_pass and x-forwarded-for). But the issue was that the url generated used the wrong base domain. This setting was in the database (not in the settings file) and not obvious to find in the weblate docs.

It's fixed now and the login works again. However I still need to migrate a couple of extra t

[2020-09-05 17:33] #2908 closed

[2020-09-05 18:34] SteveIreland commented on #2922
The link to the bintray zip file is https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20200905182155.feature_cash_round_to_mult_5.e15166.zip

[2020-09-05 20:34] chrishladky0075 commented on #2922
Thank you

On Sat., Sep. 5, 2020, 1:34 p.m. Steve Ireland, <notifications@github.com>
wrote:

[2020-09-06 06:53] daN4cat commented on #2914
Weird setup. Worth reporting the bug so they fix and add it to a clear configuration setup.

[2020-09-08 14:56] bobby-lin commented on #2935
Hi @jekkos , I agree that the bug has low security impact.

At some time, hope the team can fix the negative amount.

[2020-09-09 07:24] blutme opened #2947 "detailed_receivings report"
- OSPOS version is: 3.3.2
- OSPOS git commit hash is:  bb309c.
- PHP version is: 7.3
- MySQL or MariaDB version is: MariaDB
- OS and version is: Raspbian
- WebServer is: Nginx
- Selected language is: Spanish
- (If applicable) Docker installation:
- (If applicable) Installation package for the LAMP/LEMP stack is:

I use “Receivings module” and received a single product and finish register then I re

[2020-09-09 12:45] odiea commented on #2947
Please test this out using the online Demo Server and see if the same issue shows.

[2020-09-09 14:56] chrishladky0075 commented on #2922
works perfectly, thank you so much

On Sat, 5 Sep 2020 at 15:34, Chris Hladky <chrishladky0075@gmail.com> wrote:

[2020-09-09 15:59] blutme commented on #2947
I did  that yesterday and in the demo it does not generate this problem.

[2020-09-09 17:35] odiea commented on #2947
You can look in the following issues to see if maybe yours is covered.
https://github.com/opensourcepos/opensourcepos/search?p=1&q=raspberry&type=Issues

[2020-09-09 20:23] #2657 closed

[2020-09-10 15:03] SteveIreland commented on #2889
I can take a look at this over the weekend unless someone would prefer to.

[2020-09-11 07:19] blutme commented on #2947
I can't find any information related to my problem.
I carefully review the database but there is no alteration on it that prevents the query. Unfortunately I don't have much knowledge of PHP and it is difficult for me to identify how the query is performed.
maybe, Does it have something to do with the fact that the database is mariadb and not mysql?
Thanks for your help.

[2020-09-11 08:31] andriux1990 commented on #2947
Hello I use mariadb all the time..just reviewed and it works as it should

[2020-09-11 12:47] odiea commented on #2929
No feed back after 2 weeks so I will close this issue

[2020-09-11 12:47] #2929 closed

[2020-09-12 07:03] daN4cat commented on #2914
Right, it's not a stable release. Unless it's really vital for a reason I would stay clear of unstable dev releases. But that's my personal view of course.

[2020-09-13 00:46] minhazulOO7 opened #2949 "Theme Darkly CSS Fix"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-09-13 02:35] SteveIreland commented on #2949
CSS styling changes involving layers of css (i.e. themes) are black holes that suck the life out of anyone who gets too close.

Having said that it does need to be addressed, but I'm wondering if the problem is not with the darkly theme, but with css color overrides that only took into consideration the default theme. Those changes need to be moved to a theme specification, but I'm not yet familia

[2020-09-13 02:59] minhazulOO7 commented on #2949
@SteveIreland thanks for replying! Yes those CSS loads as global/ default option. We need theme specific CSS so that every theme can be really used, not like blocking/ shading the content so that the user never uses it. I personally like darkly because of it's dark base. Easy to eyes and also usable for long time period work.

[2020-09-14 04:24] ekardian opened #2951 "about Permission of files after upgraded from 3.3.1 to 3.3.2"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-09-14 16:05] jekkos commented on #2914
You certanily have a point there. I guess it's a better idea to grab one of their stable releases instead.

[2020-09-14 16:08] jekkos commented on #2945
Sounds like you have cloned from github and not installed compose dependencies?

[2020-09-14 16:12] jekkos commented on #2949
I agree this should be applied in a generic way, indeed as you say most of the overrides were done with the default theme in mind, so they should move to an ospos specific stylesheet that is only loaded if this base template is selected.
It should not be that hard to do and might render other themes more usable as well.

[2020-09-14 16:21] jekkos commented on #2951
I have spotted the same behavior indeed. @WebShells as discussed before (not sure if you know where the discussion is) there stil is some incosistency in how the permissions are evaluated (due to checking on decimal values instead of using the bitwise mask).

If you still have the reference to the original PR then maybe add it here.

[2020-09-14 16:33] WebShells commented on #2951
How can i regenerate the issue? Change permissions after upgrade?

[2020-09-14 17:01] odiea commented on #2951
The current Demo displays this also

[2020-09-14 19:05] jekkos commented on #2951
I think the discussion in #2885 describes the issue here.. we didn't create an issue for it but @ekardian has done this instead now.

[2020-09-15 03:40] minhazulOO7 commented on #2949
@jekkos thanks for replying! Yes that's what I want to say. Default/ base theme with it's default/ base CSS, and other themes with their respective CSS. This would be really helpful for any person to select any theme they like to use without any manual editing. Although I can add one more thing, that is, if the styling can be selected as a drop-down menu on an individual settings page that would b

[2020-09-15 08:00] daN4cat commented on #2949
Isn't theme selection a drop down menu in settings already?
If some styling need to go together with that it's a matter of expanding that feature.
Unless I'm missing the point here.

[2020-09-15 08:05] daN4cat commented on #2951
Maybe there should be a quick 3.3.3 release before moving to 3.4.0?

[2020-09-15 11:35] minhazulOO7 commented on #2949
@daN4cat thanks for replying! Yes, talking about individual CSS style (text color, hover color, selected color, new item added highlight color, item updated highlight color, receive/ sales text color, text size, color, padding, Reports -> Graphical Reports text color, text size, padding etc. like this type of granular customization) as a drop-down menu in a individual (Office -> Configuration -> T

[2020-09-15 15:58] SteveIreland commented on #2949
Only because I want to learn what's going on under the covers.  Sort of a "pandora's box" type of curiosity.

[2020-09-16 01:49] hanisirfan commented on #2744
I don't know if this is related or not but I'm also having a problem importing CSV data. The import was successful and the data is indeed in the database but it still say "No Items to display.".  I've install all the necessary stuff (PHP extensions etc). Oh btw this is hosted locally using XAMPP.

[2020-09-16 07:02] objecttothis commented on #2744
@hanisirfan what is the version hash that you are using currently?  You should see it in the footer of each page to the right of the version number or under Office -> Configuration -> Setup & Config

[2020-09-16 07:59] hanisirfan commented on #2744
OSPOS Installation Info: 3.3.2 - bb309c

It's actually working fine now but before I tried about 2-3 fresh install before. Fresh install means that I delete all the files and drop the database and redo the installation based on the INSTALL.md instruction.

Out of topic:
Can we actually see "Receivings" report just like the other reports? Maybe per day report?

Thanks.

[2020-09-16 11:57] nathanzky commented on #2744
@hanisirfan I try to do fresh install and drop the database but Im still getting this error in item import. can you send me the steps on how you manage to do it and if you can share your items_csv format would be appreciated.

[2020-09-16 12:08] hanisirfan commented on #2744
@nathanzky I just follow this instructions.

(Local Install)
https://github.com/opensourcepos/opensourcepos/blob/master/INSTALL.md

I actually did it couple of times for it to work, I don't know why it doesn't works the first time.

For the CSV file, I downloaded from the system after I installed it. If you still want it maybe later I can share with you. I believe I'm using the latest stable versi

[2020-09-16 12:08] objecttothis commented on #2744
That build does not include my changes in the #2821 which have not yet been merged into the master because I'm waiting on code reviews by other contributors.  I recommend you download one of those builds from bintray and test that to see if it resolves the issue.

[2020-09-16 12:20] hanisirfan commented on #2744
For me, after doing couple of reinstall. It actually works and as I said before I don't know what could cause it. It's a bit weird because items doesn't show up in the view but actually exist in db. It's become more confusing after it will only show up in view after adding a sale for an item (only that item will be visible in items view but the rest isn't). I'm no expert, I could help find the cau

[2020-09-16 13:09] objecttothis commented on #2744
@nathanzky the latest stable version does not have my changes and bug fixes from #2821 in it yet.

[2020-09-16 18:29] gkapaino opened #2952 "thousands_separator not working"
a want all amount in number format but i checked on configaration thousands_separator, not working.

### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting a

[2020-09-17 00:36] odiea commented on #2952
Where is the info needed to help you out?

[2020-09-17 00:44] SteveIreland commented on #2949
I did a little precoding on this to see what kind of trouble I would encounter.  It actually shouldn't be too complicated.  My current idea is to include a css file that has the same name as the theme in the public/css folder that will contain settings/overrides for color and background color.  This seems conceptually simple enough.  If the file exists then it would be included immediately followi

[2020-09-17 03:19] ekardian commented on #2951
i changed with the suggested changes, like 750, 744, but reading the issues.. is like @jekkos said there in [#2885 ](url) , but all is working, sorry for my later answer, covid ********

[2020-09-17 03:33] ekardian commented on #2951
wellp guys.. i was changing the file perm, for generate other things , see the msg now
note. i was thinking? is not the language translation? u know? who know? XD

![issues_v3 3 2_migration_21](https://user-images.githubusercontent.com/6296036/93416907-c26c6580-f874-11ea-9b15-6ab9095ae79e.jpg)

[2020-09-17 08:56] jekkos commented on #2949
@SteveIreland indeed what you describe is what I also had in mind. We should indeed try to avoid to have any ambiguity in the styles, as you say. MIght be better to be explicit in the CSS itself on which style should override which one (as you say by using id then in the ospos them specific file in this case).

Also I think the scss might be worth exploring, but it might be for another story? Othe

[2020-09-17 10:53] DrumSlayers opened #2953 "[Docker] Builded zip from bintray doesn't contain /docker folder"
##

- OSPOS version is: 3.3.2
- (If applicable) Docker installation:  yes

### Issue

Hi,
I try to configure open source pos via Docker but I'm facing a issue.
I want to follow the steps provided by install.md, but the /docker folder is missing from everywhere except git project, and your install.md mention not to use the git.
So I am stuck here :/

I also tried to use the docker-compose but .env

[2020-09-17 21:38] jekkos commented on #2951
I know even if you have everything configured correctly there is some wrong reporting. It's kind of confusing and I think it should be fixed (as otherwise we'll get more worried users weighing in here). @WebShells any chance to take a look at this one?

[2020-09-17 21:39] jekkos commented on #2953
Hi @DrumSlayers you might be right, I have checked our build script and have now included the docker/ folder. The build should appear soon on bintray.

[2020-09-17 21:46] jekkos commented on #2942
I forgot about deployment.json. @daN4cat also suggested to release a 3.3.3 with permission fix and perhaps the docker files included in the zip, so maybe I should do a minor bump first.

[2020-09-17 21:52] #2952 closed

[2020-09-17 22:34] SteveIreland commented on #2942
It would be nice to include the tax calculation fix #2950 in 3.3.3 if possible.

[2020-09-18 00:02] odiea commented on #2942
@jekkos Please throw @SteveIreland a bone and include his fix. Thanks

[2020-09-18 11:50] WebShells commented on #2951
@jekkos will try to cover today, it shouldn't be an issue except if i want to change the way we are checking the file permissions.
Will try to get it done tonight.

[2020-09-18 14:44] jekkos commented on #2953
@DrumSlayers The [following zip](https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20200917214347.master.301345.zip) should have all the files included. Let me know if you have any further questions.

[2020-09-18 20:03] daN4cat commented on #2942
There are a couple of things I should find the time to fix.
Not sure how they managed to do but in my wife's shop they messed up a couple of things requiring me to manually fix in the database. All my plan was to do not do that anymore... :-(

[2020-09-19 11:27] #2915 closed

[2020-09-19 12:49] jekkos commented on #2915
Adding the multistore means adding a new table for store definition + linking sales and receivings and stock locations to it. Also permissions are local to a store, so quite some impact on the datamodel.

[2020-09-19 20:50] jekkos commented on #2914
After a couple hours of work I decided to drop the initial users as it was too much of a pain to migrate. I did switch to the stable branch now so hopefully next time I can just run their migrations without further ado.

The latest 4.2.2 is live now and I pushed some translations in flemish that i have updated. I kind of like the way it works now, you can add your translation and have different ki

[2020-09-20 09:31] #2953 closed

[2020-09-20 10:11] #2943 closed

[2020-09-20 14:25] DrumSlayers commented on #2953
It does work well, thank you!

[2020-09-20 21:14] jekkos commented on #2953
Ok indeed this file does not exist on the host before the container starts, so docker might create it as a folder then?

You suggest that adding an empty file on that location then solves this issue?

[2020-09-20 21:16] #2945 closed

[2020-09-21 06:48] DrumSlayers commented on #2953
Exactly. i saw on some forums that this is a usual comportment of Docker when biding volumes., kinda weird because i have never seen that

[2020-09-21 09:16] jekkos commented on #2953
Ok I have added an empty error.log file to the data dir. This should resolve the issue.

[2020-09-21 12:08] #2940 closed

[2020-09-22 13:05] WebShells commented on #2951
PR submitted pending revision and we are ready to go

[2020-09-24 14:35] andriux1990 opened #2955 "Discount percentage is rounded on receipts"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-09-24 15:34] odiea commented on #2955
If you have not made any changes to the default receipt you can change line 121.
[code]
And this will show the current discount correctly. Hope it helps.

[2020-09-24 16:55] andriux1990 commented on #2955
Thank you very much @odiea, this works, in fact in previous versions this worked fine. we can put this in the master

[2020-09-24 19:43] mambiux commented on #1009
Is there any way I can export detailed(expanded) to excel format, including all items for each sale?, been thinkering for days without success so far. Please help, and thank you, LOVE OSPOS

[2020-09-25 00:05] SteveIreland commented on #1009
I think this thread is cursed.

[2020-09-25 02:03] professormunki commented on #2892
sumUp provide an api and sdk for their hardware and internet payment gateway, they're quite a popular vendor in Ireland.
Adyen also make the relevant information available through their website.

These are emv readers, if you're not trying to use this type of gateway but rather a magnetic stripe 'store card' try the hardware manufacturer.

These are the only two gateways I've needed to look at so

[2020-09-25 09:05] jekkos commented on #2955
I just checked and wonder whether this should not be rendered according to what has been set as a precision? We have quantity precision, currency.. not sure where discount could belong to.

[2020-09-25 09:12] jekkos commented on #2892
Well yes it would fit perfectly on the third party plugin infrastructure @objecttothis started to work on. Basically when a sale complete you would send an event containing relevant sale data, and then have the payment processor attached through that interface to post process the sale.

[2020-09-25 11:34] objecttothis commented on #2892
@jekkos agreed that this would integrate well with the integrations enhancement.  We just need to get that sorted out and merged with the master.  The current implementation works (I'm using it in production), but it's basic and @jekkos and I think we may have found a better alternative event generator.  I will just need some help with the design and scaffolding of it.

[2020-09-25 15:05] chunter2 opened #2956 "Bulk item discount question"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-09-25 19:03] odiea commented on #2955
I looked in the way back machine and tried the following and this also appears to work.
[code]

[2020-09-25 21:50] odiea commented on #2955
The WABAC Machine or Wayback Machine is a fictional time machine from the segment "Peabody's Improbable History", a recurring feature of the 1960s cartoon series The Rocky and Bullwinkle Show.

[2020-09-25 22:51] odiea commented on #2955
Proof of concept. Only using the php echo $item['discount']

![2020-09-25 16_49_38-Window](https://user-images.githubusercontent.com/10962177/94322259-2cf56380-ff4f-11ea-98c2-b9fdf3e1665b.png)

[2020-09-27 12:24] #2930 closed

[2020-09-27 12:31] edwinhamers opened #2957 "Https proxy setting in .htaccess"
### Background information  & Issue

My hosting provider implemented a new loadbalancer setup that requires a "https" proxy configuration for Apache. They added 2 lines of code to the .htaccess:

[code]

with these lines Opensourcepos won't work anymore. The returned error is "Not Found - 404".

I understand this really is a hoster specific issue and can be solved by removing the code. But the new

[2020-09-27 12:42] edwinhamers commented on #2957
I use this hoster on other domains (with WordPress installs for example) and the https proxy code does work. It uses the default wordpress redirects.

[2020-09-27 12:44] edwinhamers commented on #2957
In the meantime i solved the issue above by changing the redirect code to this:
[code]

Maybe somebody can use this when encountering this issue... But remember that this will redirect all traffic to port 80 to port 443

[2020-09-29 09:46] #2917 closed

[2020-09-30 19:49] #2932 closed

[2020-10-02 02:01] ekardian commented on #2957
nice.. toma tu laik (take ur like XDDDDDDDDD)

[2020-10-02 23:49] jekkos commented on #2891
I have added another container that now serves the latest master

* demo.opensourcepos.org will always have the latest release version deployed. A deploy script checks github, fetches the version string and pulls the container from docker hub
* dev.opensourcepos.org will have the latest commit deployed (as we used to have on demo)

[2020-10-02 23:52] jekkos commented on #2891
The setup does use a separate mysql container for every install, this was a bit easier to configure. Personally I would have wanted to have two  schemas on one server but this scenario was not well supported in the mysql docker setup, so I took the easy route this time.

[2020-10-03 01:47] WebShells commented on #2951
Merged into master

[2020-10-03 08:26] akhilnasi opened #2958 "Barcode In ITEM KIT"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-03 16:15] ashrafwts opened #2959 "OSPOS SMS gateway integration on sales register"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-04 12:49] daN4cat commented on #2959
What's the question here?

[2020-10-04 12:56] odiea commented on #2959
@daN4cat good to see you again.

[2020-10-04 18:01] ashrafwts commented on #1173
I have already integrate the SMS Api on SMS_Lib.php. This has worked fine on Sales register also.

[2020-10-04 21:10] #2914 closed

[2020-10-04 21:10] #2891 closed

[2020-10-06 14:50] jekkos commented on #2958
You mean that you would like to have the generate barcode button in item kits as well? I think this one needs a refresher in my case. You could just print barcodes for the kit id's you generate in this case?

[2020-10-06 14:56] akhilnasi commented on #2958
yes ! But it should be the same as in the item module. when we enter the
item from the item module it asks for the barcode also ! But in the Item
Kit module no field for Barcode . I need a Barcode input field in the item
kit and that barcode should be generated !

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com

[2020-10-06 19:51] midsoft2010 opened #2960 "The Receipt size"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-10-06 21:07] jekkos commented on #2960
I think you can just adjust this in your page setup. If you have a receipt printer, change paper size to 80mm. Simple as that.

[2020-10-06 21:08] jekkos commented on #2958
Yes indeed or in this case an item number field in the item kit model. Doesn't sound like a very complex change.

[2020-10-06 21:10] jekkos commented on #2942
Good to release 3.3.3? Any objections?

[2020-10-07 00:57] andriux1990 commented on #2955
It works very well .. thank you very much

[2020-10-07 01:06] midsoft2010 commented on #2960
It seems like i cant change these parameters ![Screenshot (23)](https://user-images.githubusercontent.com/29373167/95275818-37b6cf00-0852-11eb-9f93-54d29121a238.png)

[2020-10-07 06:58] jekkos commented on #2960
No change it in the page setup of your print dialog instead

[2020-10-07 06:59] jekkos commented on #2955
Might be better to print it without the number format?

[2020-10-07 14:23] truchosky commented on #2417
how do you work with Kg and gr?, do you set the item price in gr, or is there any way to convert the gr (weight returns gr) to kg?

[2020-10-07 14:25] truchosky commented on #2135
hi guys, like @izeblood asked, how do you work with kg?

[2020-10-07 18:25] jekkos commented on #2135
You can use decimal precision if I'm not mistaken. Or just adapt the code, whatever works for you.

[2020-10-07 21:23] midsoft2010 commented on #2960
I got the receipt issue.. So how do you Make sales on credit and receive payments after the client or customer pays

[2020-10-08 01:48] truchosky commented on #2135
I noticed 02 "department" make the change for it self, if you set 02(\d{5})(\w{6}) the w takes the number and pass it to kg, worked flawless for me

[2020-10-08 07:22] jekkos commented on #2960
don't add any payments and add them later on?

[2020-10-08 13:44] Ahmad1Jaber opened #2961 "Databas.SQL is missing"
Database.sql is missing

[2020-10-08 14:19] odiea commented on #2961
You need to download from the install.md and get a zip file.
https://github.com/opensourcepos/opensourcepos/blob/master/INSTALL.md

[2020-10-08 15:08] andriux1990 opened #2962 "Error login Demo"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-08 19:44] jekkos commented on #2339
I was investigating some issue today, namely when changing the ospso_sales_items_taxes tax amount, it does not have any effect on the invoice.

It seems that this data is all saved in ospos_sales_tax table now. So I wonder, is the ospos_sales_item_taxes still used? @SteveIreland in this case you might have the best knowledge here. I think I remember we migrated away from this table? It does seem t

[2020-10-08 19:54] jekkos commented on #2914
Ok I have done some shell scripting and and sent a a 'call for translations' to all former weblate users. Let's wait a bit more and see if we can have some improved languages before releasing 3.3.3.

[2020-10-09 02:50] chunter2 commented on #2956
Is this the right place for questions?  Just looking for any kind of help.

Thanks

[2020-10-09 05:49] 34t614t1254y opened #2963 "How to install on docker?"
Hi,

I have tried to install it on docker using Synology NAS.

But I have no idea how to install it.

Whatever I did, it shows '[mpm_prefork:notice] [pid 1] AH00170: caught SIGWINCH, shutting down gracefully' and shut down.

Is there anyone help me with it?

[2020-10-09 09:05] sirajomusa19 commented on #520
I am stuck with importing items into ospos. Could someone kindly post the csv format as I couldnt get it anywhere on app. I appreciate your kind assistance.

[2020-10-09 10:40] jekkos commented on #520
You should be able to download the template from the import window. There is a link there which you can click .

[2020-10-09 10:43] jekkos commented on #2963
you might be better off asking on a synology forum in this case. I haven't tried their docker package yet, so I'm not sure on whether you will be able to start the compose from a UI. In any case you should be able to start it from the command line , once installed. But you might also need to install docker-compose then (and hence python) to run the full setup.

[2020-10-09 11:58] odiea commented on #2956
It is the correct place to ask but that feature is not available.

[2020-10-09 13:57] chunter2 commented on #2956
Could this be something that's added in the future?  This is for a thrift store.  They tag items with different color tags and each week a different color is discounted to a different percentage to keep things moving through the store.  They have a 4 week cycle.  Maybe there's another way to do this that I don't know about.  I'm really new to this software.

Thanks

[2020-10-09 14:05] sirajomusa19 commented on #520
I thank you a lot. I have found it.

[2020-10-09 14:44] odiea commented on #2956
It could be added but I would not hold your breath waiting for it. If you know a developer that could add it for you it would be a nice donation back to OSPOS. Yes my Wife also had a Thrift store so this does not have enough bells and whistles for that application.

[2020-10-09 14:56] chunter2 commented on #2956
I'm guessing there's no discount column in the database for an item?  Maybe when I get some time I'll do some investigating.  What software did your wife end up using?  And what did she find was missing from OSPOS?  Just out of interest sake.

[2020-10-09 15:02] odiea commented on #2956
Discounting items by tag color Date or Category. Employee setup for secure logins and I assume much more. She ended up using Traxia she also had over 300000 items.

[2020-10-10 07:36] 34t614t1254y commented on #2963
Thank you for your replay.

I'm gonna ask there.

[2020-10-10 07:36] #2963 closed

[2020-10-10 14:23] midsoft2010 commented on #2960
I only have 3 options i.e add payment, suspend and cancel, if i suspend i cant print the invoice content?

[2020-10-10 15:24] jekkos commented on #2960
OK you might not be able to complete the receipt without adding any payments indeed. Maybe you can add a 0 payment?

[2020-10-10 15:28] midsoft2010 commented on #2960
This is where it is tricky since you cant track debtors! But thanks for your feedback. Maybe i will request for that feature

[2020-10-11 16:24] #2961 closed

[2020-10-11 20:55] rocky8roy commented on #211
hi,
I can do this!
email me on rocky8roy@gmail.com to discuss on this

[2020-10-12 05:16] akhilnasi commented on #2958
yes ! But could you help me to solve this ? or could you tell me where should i change the code ?

[2020-10-12 19:20] bkrajendra commented on #2521
Release version: 3.3.2 - bb309c (no modification)

I'm still getting this issue while importing Items from CSV.
I guess the issue is related to how an ID is used for barcode generation.

For example, I imported 100+ Items through CSV. I kept barcode fld empty in CSV.
Latter when I generated the barcodes from the Item section (Allow Duplicate Barcodes is unchecked),
I got a duplicate for each ID wh

[2020-10-12 19:37] bkrajendra commented on #2521
I think it will be better if we replace it by
[code]

[2020-10-12 21:08] jekkos commented on #2521
Thanks for your suggestion @bkrajendra . The change is in master now. Feel free to validate! Also it seems that the libs we are using are outdated and actually might need upgrading..

[2020-10-12 21:10] jekkos commented on #2958
I supose you will need to take a look in the Item_kits controller and the view associated with that.

[2020-10-13 00:03] andriux1990 opened #2964 "Serious inventory error when deleting a sale"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-13 03:13] andriux1990 opened #2965 "New stock location contains items from previously deleted location"
if we delete a stock location and lego creates a new stock location ... the new stock location contains the items from the old stock location.

the new stock location should have quantities of items 0

[2020-10-13 06:44] jekkos commented on #2964
At first sight it looks like item quantities table is not being updated. To be verified in the code.

[2020-10-13 06:59] nathanzky commented on #2116
@gesangseto .. Thanks for the quick solution.. I was reading this thread and just scroll to the bottom of this page and found this..
Same issue I have with my Raspberry Pi installation. Not able to login.
edit config.php on /application/config
$config['index_page'] = 'index.php';

[2020-10-13 08:34] #2960 closed

[2020-10-13 15:32] andriux1990 commented on #2964
Thank you very much @jekkos  for seeing this error

[2020-10-13 16:31] vatchanti opened #2966 "Category not show dropdown list when enable it, and request to enable new item category module"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-13 19:28] jekkos commented on #2964
@andriux1990 Can you try latest version on dev server to see if this resolves your issue? Thanks

[2020-10-13 19:29] jekkos commented on #2966
Sorry but maybe be a bit more descriptive when creating issues. I have no idea what is wrong here.

[2020-10-13 19:31] jekkos commented on #2965
You mean you delete and create it without saving in between? Does the location have the same name?

[2020-10-13 19:32] jekkos commented on #2942
Ok Let's wait for this one bugfix before I release this one.

[2020-10-13 21:27] andriux1990 commented on #2964
Thanks @jekkos for solving the problem, now the quantities return to inventory

[2020-10-13 21:30] andriux1990 commented on #2965
I mean that I delete the location, and days later I create a new one with another name .. but the amounts I had remain and are shown in the new location

[2020-10-14 07:02] #2964 closed

[2020-10-14 07:03] jekkos commented on #2964
The issue was only with decimal quantities (due to the `intval` cast in the sale correction).

[2020-10-14 07:06] jekkos commented on #2965
Ok I'm quite surprised. I would expect a new location to have a different id then the created one. Two things I can check here
* Whether stock_location has AUTO_INCREMENT set on the ID field
* Whether we are overriding the ID field when inserting a new stock location

[2020-10-14 13:20] jekkos commented on #2965
Seems the autoincrement is set correctly. It could be a glitfch in the stock location model (had a quick look and it seems that might need a further look to verify if it works the way it should)

[2020-10-14 14:37] andriux1990 commented on #2965
ok .. thanks for watching .. the truth is uncomfortable creating a new location and noticing that it has quantities of the last location that was previously .. also developing something to show search suggestions note that locations that are already deleted are shown . I checked the configuration and had only one. but in development look at all the locations that have been created

[2020-10-14 19:27] jekkos commented on #2965
I had a closer look and indeed, the id is generated in the frontend. So this should not happen there as it does not know the exact database id it should use. In this case I thought removing the id from the field might help, but then you won't be able to create multiple fields in one go, as the input field name in the form is basically the same.

An option would be to use an array as form type and

[2020-10-15 07:03] saurabh261187 opened #2967 "Only full_group_by issue in detailed receivings report"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-15 08:44] jekkos commented on #2967
I'm surprised to see this issue popping up. You are using regular MySQL I supppose? I have just checked on demo and it does work fine on MariaDB. So it might be MySQL specific.

[2020-10-15 08:47] jekkos commented on #2942
@daN4cat always funny to see an increased amount of bugreports after we do a release. I guess you can never catch 'em all but doing a second minor one after certainly makes sense.

[2020-10-15 08:48] jekkos commented on #2942
Not a lot of extra activity on weblate, despite my email campaign... So let's just try to tackle these incoming bug reports and then release 3.3.3 after fixing those. @daN4cat you spoke about some fixes you wanted to include? Is it relevant to have those for 3.3.3? Thanks!

[2020-10-15 10:16] daN4cat commented on #2942
Let me look into that over the weekend if I find the time.
If not release 3.3.3 and I'll contribute any additional fix in 3.4.0.
Also I want work on a replacement of Mailchimp with Shopify.
Shopify integration would be handy also to control stock quantities between online and physical shop.
At the moment my wife's employees need to manually adjust quantities.

[2020-10-15 10:18] daN4cat commented on #2942
When I say Mailchimp replacement with Shopify is to use Shopify for email marketing campaigns now that they have that feature instead of Mailchimp.
It's a cost reduction story.

[2020-10-15 10:31] saurabh261187 commented on #2967
Also, when you click on the + sign in Detailed Recievings report to see the details of a particular Recieving , it shows only one product name , to see the rest of it, you need to go into details and view. This is also functioning differently in the OSPOS Demo Server and on a MYSQL based server.

[2020-10-15 10:37] saurabh261187 opened #2968 "Email CC or BCC"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-15 13:39] jekkos commented on #2968
to who would you want to send in cc? a fixed email? In that  case you can do a static configuration in CI itself I believe.

[2020-10-15 13:45] jekkos commented on #2968
you can change this in `application/config/email.php`. Fill in the `default_cc_address`

[2020-10-15 13:46] jekkos commented on #2968
Ok sorry no, this is file exists only in my private version. So it's not applicable to 3.3.2.

[2020-10-15 13:48] jekkos commented on #2942
Ok so that increases the priority on fleshing out this eventsauce thingy and have @objecttothis work merged into 3.4 master first.

[2020-10-15 13:49] saurabh261187 commented on #2968
So does the functionality exist or not ? Since it was available in the earlier versions ...

[2020-10-15 14:45] #2947 closed

[2020-10-15 20:01] jekkos commented on #2968
As an admin user I follow most of the emails going out of my install (well in fact these are sent to an external 'admin' mailbox in this case). Quite good to have this as these days it has become rather hard to get good delivery rates.. I run my own mailserver and this has worked fine for quite some years, until recently especially microsoft started to block all traffic not originating from any ot

[2020-10-15 20:26] daN4cat commented on #2968
You need to set SPF, DKIM and DMARC to your email and DNS entries. Those will increase the trust of your mail sender: https://www.csoonline.com/article/3254234/mastering-email-security-with-dmarc-spf-and-dkim.html
In that article they make it difficult but it is not that hard.

[2020-10-16 00:14] objecttothis commented on #2942
I recommend that we merge #2821 before #2619 (or the replacement for #2619 with eventsauce)

[2020-10-16 07:09] mobinalhassan commented on #2960
Does anyone know which thermal printer is best/compatible with Linux(Ubuntu 18.04.5 LTS)?

[2020-10-16 13:51] odiea commented on #2962
502 Bad Gateway
nginx/1.14.0 (Ubuntu)

[2020-10-16 17:09] midsoft2010 commented on #2960
Try epison or micros.. posiflex is fine but challenging to configure

On Fri, Oct 16, 2020, 10:10 Mobin <notifications@github.com> wrote:

[2020-10-16 20:18] jekkos commented on #2962
MIght be because of the server restart I did yesterday.. upgrading to ubuntu 20 now and will restart then after

[2020-10-17 19:43] jekkos commented on #2942
OK let's first merge the two outstanding fixes I have done before 3.3.3

[2020-10-17 20:43] daN4cat opened #2972 "Updating a Supplier entry shows a 0 under Category"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-10-17 21:00] daN4cat opened #2973 "Create Customer from Customer view, recreating the same Customer from Sales allows duplication"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-10-17 22:23] chunter2 opened #2974 "Question: How to re-import CSV item list"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-19 07:19] jekkos commented on #2973
@daN4cat how do you know that a user is creating the same customer again? It can be well possible that two customers have a similar name?

[2020-10-19 17:21] daN4cat commented on #2973
The email is unique. I don't understand why in Customer the form at submit time flags the email duplication error but the same form in Sales doesn't.
This is one of the problems they are facing. Also messes up things with buying allocated  two the forcing a manual fix at database level.

[2020-10-19 17:24] daN4cat commented on #2973
I don't have time to look into this until next weekend. Not sure if you can find the time to test and fix?

[2020-10-19 19:32] jekkos commented on #2973
Hm no sorry I have other things on my hands now, maybe later on but wanted to get this stock location fix finished first.

[2020-10-19 19:40] odiea commented on #2973
I am not able to duplicate this issue. I created a new customer. Then I went into the Register and tried to duplicate this customer and I received the following.
![2020-10-19 13_38_39-Window](https://user-images.githubusercontent.com/10962177/96503515-9bf16f80-1210-11eb-9065-68934ff952c6.png)

[2020-10-19 19:48] odiea commented on #2973
Am I not testing correctly? I used the same customer with the same customer email.

[2020-10-19 21:39] daN4cat commented on #2973
Thanks odiea for the check. I need to retest on my side and verify the database table.
It might be that the table migration didn't change something.

[2020-10-19 22:08] odiea commented on #2972
Yes. This one I can confirm.

[2020-10-20 03:45] ozzylamberth commented on #1017
I think that assigned a column in the ospos_items table of the database between cost_price and unit_price we put wholesale_price and through a dropdown btn put the 2 options that when selecting option 1 loads unit_price of any product and if you select option 2 load all the wholesale of each product

Creo que asignado una columna en la tabla ospos_items de la base de datos entre cost_price y unit_

[2020-10-20 12:22] jekkos commented on #2951
Did a quick test today on latst

[2020-10-20 14:30] daN4cat commented on #2951
I noticed that the company logo will not display in the config and receipts if the folder is set as per suggestion. Is that only my deployment issue?

[2020-10-20 14:39] jekkos commented on #2951
I was checking this one as well today, I still see these warning even after setting all permissions correctly. But then I realized I'm not on the correct version. The logo seems fine here though.

[2020-10-20 14:42] jekkos commented on #2951
There might still be one unnecessary message in the green case. I do sort of like these self test features.

![Screenshot from 2020-10-20 16-41-15](https://user-images.githubusercontent.com/576234/96602287-25796e00-12f3-11eb-
94d1-7f46f1d2ba06.png)

[2020-10-20 14:45] chunter2 opened #2975 "Rounding to the nearest 5 cents"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-10-20 18:57] khanmo97 opened #2976 "Multiple users"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-10-20 21:09] daN4cat commented on #2976
New features welcomed and go for a PR.

I guess what you are referring is to expand the privilege granting we have at the moment but maybe by adding roles. Use a role based access control.

[2020-10-20 21:21] khanmo97 commented on #2976
Yah exactly. That would be a good feature to add. A user role based account. Thanks man!

[2020-10-21 05:59] ekardian commented on #2951
this happened to me in the first test

[2020-10-21 06:14] daN4cat commented on #2951
Thanks, I'm not the only one.

[2020-10-21 09:14] jekkos commented on #2976
Ok so with 'role' you mean a predefined set of 'grants' in this case that you assign to a user?

[2020-10-21 09:17] jekkos commented on #2976
Like in this case as an example: role cashier, role inventory manager, role admin?
An easy way to implement this would be by defining what permissions a role consists of in the code and then you don't need to change anything in the datamodel. If a user has that role, you just give it all the grants to the permissions that this role has assigned.

[2020-10-21 09:20] jekkos commented on #2976
In the UI you can then

* add a dropdown (only visible to admin) in the employee edit form
* fill it the dropdown with the roles you have defined in an array
* preselect the permissions inside that role once the admin selects a role from this dropdown

[2020-10-21 11:53] daN4cat commented on #2976
Luckily we never went for Access Control Lists, the old group concept coming with AD.
We are quite granular and assign per user the singular access.
With roles we define the set of permissions and allocate roles to users.

https://en.m.wikipedia.org/wiki/Role-based_access_control

[2020-10-21 11:55] daN4cat commented on #2976
Yes, this will be definitely a great addition for the Authorization model.

When I find the time I want to separate the Authentication and support OpenID connect with external services like Google.
But we need a means to control that.

[2020-10-21 12:02] khanmo97 commented on #2976
Are you saying connect/login via google? That'll be tough to do, especially to keep it free. Can you guys recommend a good debugger for php?

[2020-10-21 15:18] Glex18 opened #2977 "Payment of the due of a client"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-21 16:42] odiea commented on #2962
Showing bad gateway again

[2020-10-21 17:52] jekkos commented on #2976
I'd go for xdebug. it works pretty well with phpstorm. If you want an easy setup you can just use the dev docker-compose in this proejct (it has xdebug preinstalled). I mostly edit my code and then spin up the container that then reflects the changes immediately.

[2020-10-21 18:50] jekkos commented on #2962
Ok think my server went out of memory. I have recently upgraded to ubuntu 20 (didn't have this issue before)..

[2020-10-21 21:15] jekkos commented on #2977
You can edit sale after and change due payment to the payment type that you received

[2020-10-21 21:21] Glex18 commented on #2977
@jekkos thank you.

[2020-10-21 21:21] #2977 closed

[2020-10-22 06:31] darkjedeye opened #2978 "Can use ip but not Domain name"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation

 (yes)

- [] Checked [open and closed issues](https://gi

[2020-10-22 15:33] jekkos opened #2979 "Upgrade to latest bower dependencies"
https://github.com/opensourcepos/opensourcepos/blob/3471c0f947593cd86ddece2942919e49c0d10964/bower.json#L36

Let's try and upgrade some libraries. Normally minor version bumps should not have any breaking changes and should update without too many issues. I'll run a `bower update` for this and then we can validate the build.

[2020-10-22 17:56] daN4cat commented on #2979
Anything new with the latest version?

[2020-10-22 19:00] chunter2 opened #2981 "Daily Sales still shows on sales complete page"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-10-22 20:04] midsoft2010 commented on #2960
Hello there Jekkos!

Am trying to import the following attached csv file on version 3.3.3 and am
getting an error that  no rows were imported?

On Fri, Oct 16, 2020 at 8:09 PM Midsoft Midlands <midsoft2010@gmail.com>
wrote:

[2020-10-22 21:14] chunter2 commented on #2981
Adding the following around the sales_takings line of the receipt.php file seems to have fixed it for me.  I think there may be more spots that this could go but the receipt.php was the one I noticed.
[code]

[2020-10-22 22:23] chunter2 commented on #2975
Just looking for any kind of help on this one.  Am I missing something or is it just currently not possible?

[2020-10-22 22:32] odiea commented on #2975
The current unstable master has a half five option in localization cash rounding that might work for you.

[2020-10-22 23:36] chunter2 commented on #2975
Somehow I missed that commit.  It's this one for reference.  https://github.com/opensourcepos/opensourcepos/commit/bf88f8fdae2b85a1952354cd4360dc000dd4292f
I applied it manually and it works perfectly.

Thanks for the help.

[2020-10-23 08:54] chrisvell88 opened #2983 "Credit Card Filter Not Available in Transaction Listing"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-23 09:48] chrisvell88 opened #2984 "How can you include Customer Details and Barcodes for serial numbers in receipt / invoice"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-23 09:50] chrisvell88 opened #2985 "Custom Fields for Customers"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-23 09:59] jekkos commented on #2984
You can do this by editing the receipt templates in the view folder (`receipt.php`)

[2020-10-23 10:01] jekkos commented on #2985
At this moment it is not. We did have a plan to add and extend the attributes to be used from customers as well, but to my knowledge no one is working on this.

[2020-10-23 10:10] chrisvell88 commented on #2984
Thanks 👍

[2020-10-23 10:11] chrisvell88 commented on #2985
Thanks for your reply,

Can you maybe add a field to store the VAT / TAX number of the customer?

Thanks,

[2020-10-23 10:21] chrisvell88 commented on #2984
Can you guide me from where I can get customer paramters to display on receipt? Is there documentation available?

Thanks,

[2020-10-23 10:29] jekkos commented on #2985
I use the account_number field for that if I'm not mistaken. So this together with the company name could represent a business customer.

[2020-10-23 10:30] jekkos commented on #2984
I'm afraid that the only documentation here is the code. You can use any variable that is available in the view that loads the receipt. Check the Sale.php controllor `load_sale` method for any candidates there.

[2020-10-23 10:50] chrisvell88 commented on #2984
Hi,

That would be very difficult to find / guess the fields from where I need to get data to modify receipt then. Can you guide me which field returns the Line item serial number and the transaction customer details such as Name, Address, Tel, Email?

Thanks,

[2020-10-23 10:50] chrisvell88 commented on #2985
we can use that yes. strongly recommend you add some custom fields to the customer table since it will bring more value to the product.

[2020-10-23 13:16] jekkos commented on #2985
Sure it will add value, but ospos is not a commercial product and I won't earn a penny adding it. I added most of the features at the time as I needed those as a user as well. So it's nice to be able to share this with others

[2020-10-23 13:29] jekkos commented on #2983
To add a new filter:
Not sure how this filter set is retrieved, but it should just read from the same array in which the payment types are defined. In that case all options should show.

To add a payment type:
Shouldn't be too hard to add this. Payment types are found in the Sale.php model. It might just be a matter of adding a new constant in there (and some translation lines to get a proper labe

[2020-10-23 17:42] andriux1990 commented on #2984
You have to edit the receipt and add these additional fields to the controller so that the receipt can display them

[2020-10-23 18:33] chunter2 commented on #2975
I think I may have found a bug with the above commit.  It looks like the daily sales report is not updating the amount due column for a cash transaction where it's rounding the the nearest 5 cents.  When I click on the receipt the Total shows the rounded amount.  So the change due column shows a plus or minus 1 or 2 cents if the tendered amount is the Total amount on the receipt.  Hopefully that m

[2020-10-23 21:49] odiea commented on #2983
I believe he needs to add this also to the filters at the top of  controller/Sales.php for it to show in the dropdown listings.

[2020-10-24 03:05] rovanxl commented on #1673
Did you ever get this resolved? I am having the same issue on a new install.

[2020-10-24 06:17] daN4cat commented on #1673
If you check config and system  status do you get some warning?

[2020-10-24 14:33] dedyf5 opened #2987 "Array and string offset access syntax with curly braces is deprecated in PHP 7.4"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-10-24 14:39] odiea opened #2988 "After updating to PHP Version: 7.4.9 I received the following error with error setting to 1 and going into configuration."
OSPOS Installation Info: 3.4.0 - dev
Language Code: en-US

Extensions & Modules:
» GD: Enabled ✓
» BC Math: Enabled ✓
» INTL: Enabled ✓
» OpenSSL: Enabled ✓
» MBString: Enabled ✓
» Curl: Enabled ✓

User Configuration:
.Browser: Opera
.Server Software: Apache/2.4.46 (Win64) PHP/7.4.9
.PHP Version: 7.4.9
![2020-10-24 08_26_18-Window](https://user-images.githubusercontent.com/10962177/97084418-1a1892

[2020-10-24 14:41] odiea commented on #2988
Duplicate so I will close my issue

[2020-10-24 17:26] odiea commented on #2962
A Database Error Occurred
Unable to connect to your database server using the provided settings.

Filename: core/CodeIgniter.php

Line Number: 518

[2020-10-24 18:43] bfrosty1 commented on #2985
what if i offered to pay for it?  When import a csv to setup customers I need tohave membership info and expiration of membership in date form and type of memebership life ,individual, or family.

[2020-10-24 19:47] daN4cat commented on #2987
Fixed in 3.3.3

[2020-10-24 19:47] #2987 closed

[2020-10-24 19:51] daN4cat commented on #2988
Latest master contains the fix to this issue.

[2020-10-24 20:47] odiea commented on #2988
I guess the current version on my server isn't the most current. Thanks for letting me know.

[2020-10-24 20:47] #2988 closed

[2020-10-24 21:16] rovanxl commented on #1673
I'm running OSPOS Installation Info: 3.3.2 - bb309c / Language Code: en-US. There are no warnings. Everything is green.

I am able to import customers thru csv but they do not show up under the customers list. I am also unable to select a customer in sales. I get a 500 error

[2020-10-24 23:22] odiea commented on #2962
It's back.
A Database Error Occurred
Unable to connect to your database server using the provided settings.

Filename: core/CodeIgniter.php

Line Number: 518

[2020-10-25 06:58] ozzylamberth opened #2989 "Wholesale options"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-25 07:33] data2base commented on #2957
Hi!

So i need to change the following code in order to load via https?

# redirect to public page
  <IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^public$
    RewriteCond %{REQUEST_URI} !^/.well-known/acme-challenge [NC]
    RewriteRule "^(.*)$" "/public/" [R=301,L]

  </IfModule>

[2020-10-25 07:33] data2base commented on #2957
`# redirect to public page
  <IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^public$
    RewriteCond %{REQUEST_URI} !^/.well-known/acme-challenge [NC]
    RewriteRule "^(.*)$" "/public/" [R=301,L]

  </IfModule>`

[2020-10-25 12:29] #2962 closed

[2020-10-25 12:44] chrisvell88 commented on #2984
I have tried doing so but could not manage. Can anyone help on this please?

[2020-10-25 12:45] chrisvell88 commented on #2983
Tried to add filter but not working. Can you direct me on how I can add payment type and the new filter please?

Thanks

[2020-10-25 18:14] odiea commented on #2989
Did you add the new model to the application/config/autoload.php file? You can open that file and at the bottom see how the other Models are loaded.

[2020-10-25 18:15] odiea commented on #2989
Or you can edit the register view and add it to that as a readonly.

[2020-10-25 18:24] ozzylamberth commented on #2989
Loading this variable does not allow me to visualize the project. There is another file I need to modify
![Uploading as.jpg…]()

[2020-10-25 18:29] ozzylamberth commented on #2989
For example I created the module but the following happens
![cass](https://user-images.githubusercontent.com/7409604/97115662-3e589980-16ce-11eb-863b-7e66ab4fa52c.jpg)

at the time of entering this happens

![Uploading c222s.jpg…]()

[2020-10-25 18:32] ozzylamberth commented on #2989
Although repeating a module so that it only takes the cost_price is like flooding the system. although it is the way that has happened while I find out how everything from a drop-down the unit_price and the cost_price. Depending on the sale to be made

[2020-10-25 18:37] ozzylamberth commented on #2989
![as](https://user-images.githubusercontent.com/7409604/97115816-5250cb00-16cf-11eb-971f-710afa0158b5.jpg)
![c222s](https://user-images.githubusercontent.com/7409604/97115846-9d6ade00-16cf-11eb-9061-6e7eb32f55b7.jpg)

[2020-10-25 18:40] odiea commented on #2989
It appears that you are missing the , (comma) after it.

[2020-10-25 18:46] ozzylamberth commented on #2989
I thought the same and I added the comma but it remains the same, it is like I need to indicate the call in another place, practically copy the entire path of the sale files to create wholesale, it should show the same screen

[2020-10-25 18:55] odiea commented on #2989
Did you exit then restart the program? That's about all I can suggest.

[2020-10-25 19:03] ozzylamberth commented on #2989
Ok suppose I create a drop-down in the sales interface where I make a query that takes me by default unit_price and for the second query take cost_price I would add it in register.php that would be the only file that I have to modify so the end user would not have the need to navigate between sessions to make sales if not only must select in the same session which one to manage..

Sorry for bother

[2020-10-25 19:07] odiea commented on #2989
You can try that but it would be easier to add the cost price to the Register view and change the price to the cost price

[2020-10-25 19:36] ozzylamberth commented on #2989
Ok friend and solutions and I can see the interface I needed to call the file Sales_lib.php now I will make the modifications and I will indicate at the end how I am to be able to carry out wholesale and retail sales..

[2020-10-26 03:53] andriux1990 commented on #2989
Hello @ozzylamberth  .. I have read all the messages and I do not understand very well your logic to have these wholesale and retail prices .. I would like to better understand your plan to do this

[2020-10-26 03:59] ozzylamberth commented on #2989
Hello, how are you andriux1990? I explain in Venezuela it is common for companies to carry out Wholesale and Retail sales. and the systems have the methodology that the POS has the option of wholesale and retail, automatically taking or changing the prices of the Items from retail price to wholesale price. It is used to not work assigning a discount to each customer.

[2020-10-26 04:17] andriux1990 commented on #2989
I understand now ... what is needed is more fields in the form dialog in the items to store more prices.
this is multiple prices for products.

I did something similar adapting the kits for this. to have several products with different prices and use only one product.

showing the cost price in register would be very easy to do. I'm also thinking of developing a feature for this.

Another easier m

[2020-10-26 04:23] ozzylamberth commented on #2989
The development normally goes by the client's demand and this works in this way Supplier Price, Wholesale Price and Unit Price. Since the POS is developed and works with unit_price I would like it to do it also with, for example, wholesale_price..

![de](https://user-images.githubusercontent.com/7409604/97133793-805efb00-1721-11eb-9ade-bdfe15e8c427.png)

[2020-10-26 04:27] ozzylamberth commented on #2989
It would be great if these options were made in the same Sales module directly in a drop-down with two options Option 1: Retail
Option 2: Wholesale.
Option 1 to take unit_price
Option 2: wholesale_price

[2020-10-26 04:44] andriux1990 commented on #2989
Thank you for your interest, in wanting to improve ospos .. I just tell you that you are not the only one working on this feature

[2020-10-26 04:49] ozzylamberth commented on #2989
The important thing is that ideas are contributed and something interesting comes from there. when finished upload the improvements. For example Ospos in the inventory list shows all the quantities regardless of whether they are at zero, I have already made the changes so that I only display the inventory with stock among other changes I only have that one to upload it only that I cannot understan

[2020-10-26 05:02] andriux1990 commented on #2989
Good that you have these changes. OSPOS is the #1 Open Source Point Of Sale

[2020-10-26 13:11] huasamacocl opened #2990 "how can print duplicate?"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-26 13:15] odiea commented on #2990
Use the program and you will soon find out

[2020-10-26 14:30] huasamacocl commented on #2990
Yes i know, but you can print at the same time? and how can add the customer address?

[2020-10-27 09:21] ozzylamberth commented on #2989
This is the file that gives me a headache Sale_lib.php.

line 712 to 756 specifically line 730 ...

if ($ price_mode == PRICE_MODE_STANDARD)
{
$ price = $ item_info-> unit_price;
$ cost_price = $ item_info-> cost_price;
}

How can I tell the Sales ImputText to change from this

$ price = $ item_info-> unit_price;

to this

$ price = $ item_info-> wholesale_price;

by the user's choice through a dr

[2020-10-28 01:06] chunter2 commented on #2975
Looks like there's another issues with this.  The rounding works when I switch to Cash as the payment type but when I put the amount tendered in and add the payment it switches the display back to the non rounded value for Total and Amount Due.  The receipt looks correct though.  I've since noticed that I think it has to do with the Payment Options Order under Localization in the Configuration.  I

[2020-10-28 12:28] jekkos commented on #2975
Ok this one needs further investigation / veritfication.

[2020-10-28 12:29] jekkos commented on #2922
Not sure if there is a bug in this change or if it's something else causing the issue described in #2975. Let's try to reproduce and fix (if needed)?

[2020-10-28 15:56] SteveIreland commented on #2922
Okay, will do.

[2020-10-28 18:10] jekkos commented on #2990
Yes sure, you can reprint after editing the customer details then it will show the updated address

[2020-10-28 18:12] jekkos commented on #2981
Thanks for posting this problem & solution. Will add this to master.

[2020-10-28 18:15] jekkos commented on #2978
I think I have seen this one before. It might have something to do with the trailing slash. Which url do you enter exactly @darkjedeye ?

[2020-10-28 18:30] jekkos commented on #2978
We have a rewriteCond check in the .htaccess to check and [break the infinite](https://github.com/opensourcepos/opensourcepos/blob/c0ac4b34001b5dfbb4c1041ebb1c2e6aa49427e6/.htaccess#L4) loop in this case.

[2020-10-28 18:41] jekkos commented on #2978
To check if .htaccess works add following line on top of the file

```Deny from all```

Then check if you get a forbidden. If not then probably your apache setup is wrong.

[2020-10-28 18:43] jekkos commented on #2951
Ok the messages do seem ok to me. I have done a quick test by uploading a logo on a correctly setup install (dockerized) and the uploaded files are readable after.

[2020-10-28 18:45] jekkos commented on #2951
@daN4cat can you check the process owner vs the file / folder permissions? In this case I guess the files inside the upload folder should be at least readable for the process owner.

[2020-10-28 20:07] jekkos commented on #2951
I think an easy way to see which user is currently running is to create a file in a temp folder then check the owner. Next to that the code here feels a little hard to maintain, I don't really think that it is nice to do these permission checks in the view here.
Some refactoring might be needed to store the list of files to check in an array, filename as key and permissions as value.

Then you can

[2020-10-28 20:24] jekkos commented on #2983
@chrisvell88 here a little gift from me. Can you try my branch and check if the filter works? I tried it locally and seemed fine.

[2020-10-28 20:28] jekkos commented on #2981
Should be fixed in latest master

[2020-10-28 20:28] #2981 closed

[2020-10-28 20:28] jekkos commented on #2967
Should be fixed in latest master. @saurabh261187 can you verify?

[2020-10-28 20:59] jekkos opened #2992 "Migration errors during clean install"
When setting up a docker-compose from scratch, I come across quite a few SQL warnings. This seems to indicate that the changes in the first two migrations were also applied in the database.sql. In fact there are two upgrade paths here

* Either you upgrade from a clean install, that means you run database.sql first, then all the migrations one-by-one
* Either you upgrade from an older version and

[2020-10-28 23:05] ozzylamberth opened #2993 "Agregar artículos a venta desde la sesión de inventario"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-29 00:38] chunter2 opened #2995 "Amount Due calculation in Daily Sales report"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-10-29 07:52] saurabh261187 commented on #2967
I downloaded opensourcepos.20201028215111.master.625fb5 version from the unstable build releases. Now the receiving report works, however, as stated above, when you click on the + sign in Detailed Recievings report to see the details of a particular Recieving , it shows only one product name, even if you have received multiple , to see the rest of it, you need to go into details and view. But some

[2020-10-29 08:16] jekkos commented on #2967
I have done another (untested) change and pushed it to a branch here. You can check the dev server in a couple of minutes to see if this resolves this last issue.

[2020-10-29 08:50] saurabh261187 commented on #2967
By dev server, you mean the official demo at https://demo.opensourcepos.org/ ? I suppose you use MariaDB ther rite ? So it should work, let me know when I can download an unstable build from bintray and test it on my server. if possible, kindly mark the one I should use.

[2020-10-29 09:01] saurabh261187 commented on #2967
This one ? opensourcepos.20201029084046.fix-detailed-receiving.1a9587.zip

[2020-10-29 09:43] jekkos commented on #2967
Yes correct. dev server is https://dev.opensourcepos.org

it has latest pushed commit normally, the demo runs the latest stable version

[2020-10-29 10:16] midsoft2010 commented on #2960
Hi jekkos! I have some upgrade i want to ask for and how much it will cost!

1. Customer accounts:

      These are account receivables, where i can sell to a customer with
credit and they will be paying little by little.(here i can receive money
from a specific customer when they bring money without editing the sale
transaction)

2. Customer credit limit:

   This is where i set a limit for credi

[2020-10-29 11:49] saurabh261187 commented on #2967
This issue still persists in opensourcepos.20201029084046.fix-detailed-receiving.1a9587.zip

[2020-10-29 14:33] jekkos commented on #2967
I have the impression that it does work when you use attributes. At least on my install it works. But even then it would be a valid bug.

[2020-10-29 16:15] chrisvell88 commented on #2983
Thanks @jekkos  will try it out

[2020-10-29 20:11] jekkos commented on #2983
https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20201028214239.add-credit-filtering.0c67f3.zip

[2020-10-29 20:21] jekkos commented on #2983
If you confirm it works fine I'll merge it.

[2020-10-29 20:38] jekkos commented on #2967
Ok did another commit to master, that should solve it. It'll be on dev server in a couple of minutes normally for you to verify. I checked locally and it seems fine (with and without attributes but on mariadb)

[2020-10-29 22:03] jekkos opened #2996 "Warning in domPdf after 7.4 upgrade"
I'm currently seeing this warning after upgrading to php 7.4 when generating PDFs

[code]

[2020-10-29 22:06] jekkos commented on #2996
This `magic quote` feature was already deprecated in PHP 5.3, so I'll just remove it.

[2020-10-29 22:11] #2968 closed

[2020-10-29 22:11] jekkos commented on #2968
Functionality in master, can be configured in email.php directly.

[2020-10-30 00:27] sathiskpv opened #2998 "How to add Sinhala language"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-30 06:35] #2996 closed

[2020-10-30 08:26] jekkos commented on #2998
HI, you should be able to add this language on [weblate](https://translate.opensourcepos.org). Let me know if any issues.

[2020-10-30 09:54] jekkos commented on #2889
Was fixed already some time ago so will close

[2020-10-30 09:54] #2889 closed

[2020-10-30 09:56] jekkos commented on #2538
WIll close this one, curerntly the setup works but has it's limitations. Improvements are described in #2819

[2020-10-30 09:56] #2538 closed

[2020-10-30 09:58] jekkos commented on #2973
@daN4cat any new insights on this one?

[2020-10-30 12:13] chrisvell88 commented on #2983
Thanks for the link. From all those files, which files do need actual replacing? Will test out and let you know outcome today.

[2020-10-30 13:01] odiea commented on #2983
@jekkos I think he wants you to go to his house and change it for him.

[2020-10-30 13:07] chrisvell88 commented on #2983
@odiea I think asking about something relatively simple and trivial im not asking too much. After all my contribution like all others are intended to help this product improving. Moreover, I think its better to just copy 1 or 2 files rather than replacing the whole file structure. So please I encourage you to avoid such frivolous comments.

[2020-10-30 15:35] daN4cat commented on #2973
Had no time to test further. Sorry.

[2020-10-30 16:54] jekkos commented on #2983
It's quite [a long list](https://github.com/opensourcepos/opensourcepos/commit/0c67f3a252ca9d3bea2ba76c9f00d5143193891e). But if you want I can deploy it on dev server so you can check there?

[2020-10-30 16:57] jekkos commented on #2983
Its on [dev server](https://dev.opensourcepos.org/home) now

[2020-10-30 18:06] odiea commented on #2993
Have you tried printing the barcode for the Item then scanning it at the Register. It works.
¿Ha intentado imprimir el código de barras del artículo y luego escanearlo en el Registro? Funciona.

[2020-10-30 19:13] ozzylamberth commented on #2993
Claro no existe problema en ello, pero que sucede cuando la tienda no posee las herramienta o la misma se daña.... Tendrían esa alternativa bueno es mi opinión

[2020-10-30 19:31] odiea commented on #2993
You can also set the search suggestions in configuration and that should show the product in the Register.
También puede establecer las sugerencias de búsqueda en la configuración y eso debe mostrar el producto en el Registro.

[2020-10-30 23:52] chunter2 opened #2999 "Item name and Retail price in Items summary report"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-10-31 15:31] crblack76 commented on #2135
Dear colleagues, I have loaded the variable
02 (\ d {5}) (\ w {6}) according to wiki in the ospos version that I have running 3.3.1
and so far I couldn't get it to work.
I have my doubts about it, I give you an example.
this is the encoded data
corresponding to my scale label.
20 (XXXXX) (XXXXXX)
Department - Item - Weight
Example:
20 00001 002551
![label](https://user-images.githubusercontent.com

[2020-10-31 22:31] jekkos commented on #2135
Your label seems to start with `20` and not `02`

So maybe try this `20(\w{5})(\d{6})`?

[2020-10-31 22:33] jekkos commented on #2999
Sure you can have that, you just need to adapt the code .. add the field in the SQL query, then add it in the report model, add the header and you should be good.

[2020-10-31 22:38] jekkos commented on #2983
@chrisvell88 any feedback?

[2020-10-31 22:39] #2990 closed

[2020-10-31 22:44] jekkos commented on #2995
Ok thanks for reporting this. Someone will need to take a look at the code to figure out if this works as expected.

[2020-11-01 02:03] ozzylamberth commented on #2993
Que tal amigos nuevamente por aqui. Se que los permisos se asignan a la DB en ospos_modules y ospos_permissions ya estoy claro en ello y se que los
Action buttons de CRUD su funciones se encuentra en controllers/Items.php lines 336 y en tabular_helper.php en la linea 432 pero no logro decirle que usuario puede tener acceso a eso botones en el CRUD de inventario es decir que solo el administrador p

[2020-11-01 02:40] ozzylamberth opened #3000 "Permisos para empleados y solución para lista de Artículos con existencia en 0"
Que tal amigos nuevamente por aqui. Se que los permisos se asignan a la DB en ospos_modules y ospos_permissions ya estoy claro en ello y se que los
Action buttons de CRUD su funciones se encuentra en controllers/Items.php lines 336 y en tabular_helper.php en la linea 432 pero no logro decirle que usuario puede tener acceso a eso botones en el CRUD de inventario es decir que solo el administrador p

[2020-11-01 15:10] odiea commented on #3000
Puedes probar esto. Vaya a application \ helpers\ tabular_helper y cambie la parte inferior de la función get_item_data_row por lo siguiente. Puede utilizar cualquier permiso que desee. Usé reports_taxes. Esto debería evitar que los iconos se muestren en la tabla de elementos.
You can try this. Go to application\helpers\tabular_helper and change the bottom of the function get_item_data_row to the

[2020-11-01 21:04] SteveIreland commented on #2975
After spending a couple of hours on this I finally remembered that this is not a bug, but something that was intentionally not addressed.

During the development of the original change to support cash rounding was where I first realized this was happening, and I convinced myself that, at that time, for that particular change, it was acceptable.  Not being a user in the country, it seemed arguable

[2020-11-02 07:27] chrisvell88 commented on #2983
@jekkos will give you feedback today

[2020-11-02 08:12] chrisvell88 commented on #2983
Hi @jekkos  I have tried it on our environment but caused the reports not to run since updating those files you send me.

[2020-11-02 10:14] jekkos commented on #2983
Not sure I'm following. This change breaks your reports again?

[2020-11-02 10:24] chrisvell88 commented on #2983
@jekkos  yes the filter is visible on the Sales -> Transaction Items Screen however when giving a date range to view report it does not show any data. Upon reverting to the original files all was back ok again so it based on the change.

[2020-11-02 10:27] jekkos commented on #2983
Ok so date filtering has stopped working on sales screen now then?

[2020-11-02 10:41] chrisvell88 commented on #2983
Yes...after you created credit card filter, the transaction listing report does not work

[2020-11-02 11:42] jekkos commented on #2983
Ok but it does work in latest master, I'll merge and well see then if it's all good , and fix after if needed.

[2020-11-02 11:43] chrisvell88 commented on #2983
I tested it on our environment. What are the credentials of the dev server link you provided so I can check from there as well?

[2020-11-02 12:20] jekkos commented on #2983
it's the same as in demo env admin/pointofsale

[2020-11-02 14:19] odiea commented on #2983
I downloaded and installed the latest unstable master and it appears to be just fine.

[2020-11-02 15:05] jekkos commented on #2983
Thanks for testing @odiea . In master now so I close.

[2020-11-02 15:05] #2983 closed

[2020-11-02 15:07] jekkos commented on #2965
@andriux1990 any update? I can't reproduce what you described as a last thing, seems all fine to me?

[2020-11-02 15:29] chunter2 commented on #2999
I think I'm close with this.  I've added
```			    'unit_price' => $row['unit_price'],```
to $tabular_data[] in the summary_items function of Reports.php and I've added
```		    array('unit_price' => $this->lang->line('reports_unit_price')),```
to the _get_data_columns() function of Summary_items.php as well as
```                MAX(items.unit_price) AS unit_price,```
to the _select function.

Th

[2020-11-02 16:29] odiea commented on #2999
Did you add this , 'sorter' => 'number_sorter'), after unit_price in the summary_items model report?

[2020-11-02 17:13] chunter2 commented on #2999
That was it.  So the line becomes
```array('unit_price' => $this->lang->line('reports_unit_price'), 'sorter' => 'number_sorter'),```
Is the normal way to get things like this added a pull request?  I guess if they should be added at all?

Thanks

[2020-11-02 18:25] jekkos commented on #2999
Yes indeed, you can proppose these changes in a pull request and then they can be included. Thanks.

[2020-11-03 03:06] SteveIreland commented on #2975
@chunter2 Since you reported the issue what are your thoughts?  Can you work with the system without any changes or do you feel this is a show stopper that prevents you from taking advantage of cash rounding as implemented?  (And I do recognize the secondary bug and will hopefully resolve that either as part of this major change or as a minor fix.)

[2020-11-03 03:39] chunter2 commented on #2975
@SteveIreland So I didn't end up turning rounding on because of the secondary issue. I think I would have left it on if it was just the daily sales report that was wrong. I'm now thinking the daily sales report issue may be the same as this one. https://github.com/opensourcepos/opensourcepos/issues/2995 Would that make sense?

[2020-11-03 14:17] SteveIreland commented on #2975
Yes, I'm sure that there are several down-line issues that should be corrected but I believe they can only be corrected with a minor database change so that the difference between cash rounding amount paid and the calculated sales amount due can be tracked and accounted for in subsequent reporting.

[2020-11-03 14:32] chunter2 commented on #2975
So then in my use case it would be great to have two separate fixes.  One for switching between Cash, Debit and Credit in the sales module when rounding is on and one for what you're calling the minor database change to fix the different reports.  Does that seem logical?

[2020-11-03 14:38] SteveIreland commented on #2975
I'll take a closer look at the first issue, but the main issue may be a small database change but since it's to the sales table there are SQL reporting queries that will be impacted it is NOT a trivial change.  I'm going to need @jekkos to approve the change before proceeding.

[2020-11-03 16:13] #2959 closed

[2020-11-03 17:59] chunter2 opened #3004 "Limit number of digits in quantity box of Sales module"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-11-04 14:42] jekkos commented on #2975
@SteveIreland I think it'd be best to save the data as not rounded and do the rounding in code, afterwards.. but as you say that might require

* extra complexity in SQL to apply this rounding to the amounts (like boolean logic in the select clause)?
* or apply the rounding afterwards in code, but that would mean that we need to apply this everywhere the sale data is used (which is probably a lot

[2020-11-04 23:12] ozzylamberth opened #3005 "Problema al realizar una venta"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-11-05 03:26] SteveIreland commented on #2975
@jekkos How about instead of touching the sales table I just add an extension to the sales table that is only used when the system is configured for cash rounding?  That way there isn't any impact to existing implementations that don't use cash rounding, and that would simplify the changes to the SQL statements when I DO need to account for cash rounding.

[2020-11-05 14:46] jekkos commented on #2975
We need to store how it was rounded as if someone changes the rounding strategy, we do not want to touch sales done in the past. This means that we should least keep track of the rounding mode (as it can change over time). So for historical sales, this stored mode has precedence over what is configured globally.

Currently I don't really know how the global rounding setting works, but it feels lik

[2020-11-05 18:12] odiea commented on #3005
You will need to create your own custom_invoice in application views sales.
Deberá crear su propia factura personalizada en las ventas de vistas de la aplicación.

[2020-11-06 02:10] SteveIreland commented on #2975
Currently, at the point of completion,  sales amount - amount tendered = change due.

With cash rounding triggered then we have sales amount - cash rounding adjustment - amount tendered = change due.

Cash rounding is triggered two ways.  If the cash decimals is greater than the cash decimals OR if the cash rounding code is HALF FIVE.  In both cases the payment type also has to be CASH.

Since the

[2020-11-06 05:08] mgmamac opened #3006 "OSPOS goes back to login page when sales items reaches ~120-140"
Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.com/op

[2020-11-06 15:59] chunter2 commented on #3004
Here's a screenshot of what's happening.  Would someone be able to point me in the direction of where I might be able to set the characteristics of the quantity box?
![quantity](https://user-images.githubusercontent.com/531129/98386828-a9836380-201e-11eb-9f1c-88e2c0c747cf.jpg)
Thanks

[2020-11-06 17:46] #2998 closed

[2020-11-06 18:55] odiea commented on #3004
I don't know if this would help you out. In application/views/Sales/Register.php locate and change the following line of code.
[code]
I just added the 'maxlength'=>2,to it.

[2020-11-06 19:30] chunter2 commented on #3004
That works perfectly.  Thanks.  I'm guessing this is still a bug but maybe the maxlength sould be a feature to be added where maxlength is configurable from the GUI?

[2020-11-06 22:05] chunter2 opened #3007 "Quantity in the Transaction Summary Report"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-11-07 13:42] daN4cat commented on #3007
It's quantity of items, yes.

[2020-11-07 14:47] SteveIreland commented on #2949
This issue is resolved.

**For Developers:** The system is obviously designed around the flatly theme.  When developers work on their changes they are designing for the flatly theme.  The recommended approach to assign color attributes is to use the bootstrap theme classes wherever possible, if you use bootstrap theme classes then overrides are not needed and your work is more likely to be usable

[2020-11-07 14:47] #2949 closed

[2020-11-07 17:13] jekkos commented on #3006
@mgmamac kind of hard to help based on this information.. you'll need to post some kinf of error log first. Maybe check your chrome network console to see if there are any status 500 responses and then post the response body here.

[2020-11-07 17:14] jekkos commented on #2949
Amen. thanks for the work here @SteveIreland.

[2020-11-07 17:35] minhazulOO7 commented on #2949
Thank you very much! 😇 @SteveIreland

[2020-11-07 17:41] jekkos commented on #3004
Not sure how you would distinguish this type of input otherwise. The default focus of this screen is the item_number  so if you open the screen then anything you scan will go right into this box.

I believe that if you enter any quantity, the screen refreshes and if you scan a barcode after, it should go in the correct place.

[2020-11-07 17:42] jekkos commented on #3004
Also if you think it could be imrpoved otherwise, feel free to make any suggestions

[2020-11-07 18:37] jekkos commented on #2975
indeed as discussed I think we can then just safe the outcome of this rule per line in the sales table?

Ok I had a quick look in the code and indeed it might be better as you say, this strategy is already more or less in place.. (as said before). An idea here might be to save this rounding amount as a record in the sales_payments table? In that case it could even be explicitly shown on a receipt

[2020-11-07 18:47] jekkos commented on #2965
Would be good if anyone else could do a quick test here so we can hopefully close..

[2020-11-07 18:48] jekkos commented on #2922
I'll close this one again let's stick to the discussion in #2975

[2020-11-07 18:48] #2922 closed

[2020-11-07 21:26] jekkos commented on #2972
Fix for this one is on master now, verified locally and seems fine.

[2020-11-07 21:37] jekkos commented on #2973
I briefly tried this one on demo and indeed, as @odiea confirms, we are not allowed to create a customer with same email address twice. Changed label to pending (until @daN4cat you find the time to have a further look).

[2020-11-07 22:02] SteveIreland commented on #2975
Okay, that sounds like a reasonably negotiated settlement.  :-)  I'll sign.

[2020-11-08 01:54] chunter2 commented on #3004
I think the focus on the item_number box is correct and more training needs to be done with our cashiers.  No problem there.  Adding the maxlength is just a work around so that the item can still be calculated.  Here's a screen shot of when the item quantity is less than what we're trying to sell but not huge.  You can see it calculates the total of the item anyways even though there's not enough.

[2020-11-08 14:42] SteveIreland commented on #2975
@chunter2 In Canada what are the rules when a sale has two payment transactions and only one is a cash payment?  Is the sale still eligible for cash rounding or does it fall into the category of "normal sale"?

[2020-11-08 15:02] chunter2 commented on #2995
Just to update this, here are some screenshots.  This one is the Daily Sales report.
![daily sales rounding](https://user-images.githubusercontent.com/531129/98468478-a1efc600-21a8-11eb-9bfc-3ce0e61d7452.jpg)
And this one is the receipt to go along with it.
![receipt](https://user-images.githubusercontent.com/531129/98468493-b207a580-21a8-11eb-8962-1f5ab24549a3.jpg)
You'll see the total of the rec

[2020-11-08 15:05] chunter2 commented on #2975
@SteveIreland I believe it falls back to "normal sale" since you can charge the pennies through debit or credit.

[2020-11-08 19:35] ozzylamberth commented on #3006
I have entered a total of 350 articles in the sales module in both versions 3.2 and 3.3 and it works without problem except a little slow in the CRUD

Eh ingresado un total de 350 articulos en modulo de venta tanto en la version 3.2 como en la 3.3 y funciona sin problema salvo un poco de lentitud en el CRUD

[2020-11-09 03:39] ekardian commented on #3005
![imagen](https://user-images.githubusercontent.com/6296036/98497793-79ed7a80-221b-11eb-824a-07ddb0e5618a.png)
Como dice @odiea ve a configuraqciones y personaliza tu factura

[2020-11-10 14:28] chunter2 commented on #2995
I just checked the Detailed Transaction Report and it looks correct as well.
![rounding3](https://user-images.githubusercontent.com/531129/98686456-992cfa80-2336-11eb-8995-539bddb14ce8.jpg)
I can't seem to find where the Amount Due in the Daily Sales Report is calculated in the code.  Can someone point me in the right direction?

Thanks

[2020-11-11 06:35] izeblood commented on #2989
This is what I raised before...long time ago...but nobody wants it...I don't know....

[2020-11-12 14:04] andriux1990 opened #3008 "Taxes to 0 on small sales"
Hello .. This is not an error.
I am looking for a way to not apply taxes to small sales .. for example if I sell a Coke, do not apply taxes. in a way that from the sales module, taxes can be set to 0 ..

thank you very much

[2020-11-12 18:07] jekkos commented on #3008
Maybe you can use the destination tax in some way here? Not sure if possible. @SteveIreland is our expert in these matters.

[2020-11-12 20:48] andriux1990 commented on #3008
@jekkos if i've been trying to do this .. i'm still looking for a way to do it.
@SteveIreland If you have an idea or suggestion I would really appreciate it.

[2020-11-12 21:07] andriux1990 opened #3009 "Tax name in: Taxes Summary Report"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-11-13 11:23] jekkos commented on #3009
Sure this one is not so hard to add, check the last addition by @chunter2 as example and try to add this yourself?

[2020-11-13 11:26] jekkos commented on #3008
I thought that maybe you can add a tax destination with 0 tax and then select that destination for this specific product.

[2020-11-13 14:51] chunter2 commented on #2999
Just for completeness this is fixed with this commit.  https://github.com/opensourcepos/opensourcepos/commit/36b0b281090d4c7e134478acb96896b322e2a6e3

[2020-11-13 15:58] #2955 closed

[2020-11-13 23:17] andriux1990 commented on #3009
@jekkos Ok .. I'll do it

[2020-11-13 23:25] andriux1990 commented on #3008
I already tried it ... and it works, but if I have two taxes and I want to charge only one tax, this would not work, because it applies to both taxes

[2020-11-13 23:26] chunter2 commented on #2995
@jekkos Could you point me in the right direction for this?

Thanks

[2020-11-13 23:54] jekkos commented on #2995
I'll have a look tomorrow in the code.. it might be somewhere in the sale_lib in this case.

[2020-11-14 08:59] saurabh261187 commented on #2967
The detailed receiving is sorted in opensourcepos.20201112184137.master.8571cd , in the unstable builds. However, now the Transaction Detailed sales report is not working. Same error HTTP 500. Kindly look into this.

[2020-11-14 19:07] jadoux opened #3010 "Panama Fiscal Printers"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-11-15 04:55] asakpke opened #3012 "Dashboard"
### Background information
- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.com/opensourcepos/opensourcepos/issues?utf8=%E2%9C%93&q=is%3Aissue) and no similar issue was already reported (please make sure you searched!)
- [x] Read [README](https://github.com/opensourcepos/opensourcepos/blob/master/README.md), [WHATS_NEW](https://gith

[2020-11-15 11:54] #3000 closed

[2020-11-15 13:29] SteveIreland commented on #3008
I like the suggestion of setting up multiple "house customers", each with a different tax destination code configured for the various configurations you want to support.

[2020-11-15 14:41] jekkos commented on #3008
@andriux1990 can't you setup one destination with two taxes and then the other with one only, then switch destination according yo your usecase

[2020-11-15 16:02] jekkos commented on #2967
@saurabh261187 can you try latest unstable master in a couple of mins?

[2020-11-15 16:04] jekkos commented on #2975
@SteveIreland any idea on an ETA for this one? Should we hold back 3.3.3? (I'm only planning to include one more feature and no more open issues at this time #2958 ).

[2020-11-15 17:03] #2956 closed

[2020-11-15 21:21] SteveIreland commented on #2975
I'm trying to finish up the changes today.  I expect to have it fully tested and in pull request form by next weekend.

[2020-11-15 22:10] jekkos commented on #2975
Ok take your time, thanks for the headsup

[2020-11-16 09:15] chrisvell88 opened #3013 "Search by Custom Attirbutes"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-11-16 12:20] odiea commented on #3013
It is already. Just use the dropdown and enable search attributes

[2020-11-16 15:04] rocky8roy commented on #2959
@ashrafwts if you want this feature kindly contact me on rocky8roy@gmail.com to discuss further
thank you

[2020-11-16 15:08] rocky8roy commented on #2890
@haeckse Hi
if you want this feature kindly contact me on rocky8roy@gmail.com to discuss further
thank you

[2020-11-16 15:09] rocky8roy commented on #2874
@objecttothis Hey
I can implement any feature you want
kindly contact me on rocky8roy@gmail.com to discuss further
thank you

[2020-11-16 15:31] rocky8roy commented on #1892
Hi
if you want this feature kindly contact me on rocky8roy@gmail.com to discuss further
thank you

[2020-11-16 15:37] rocky8roy commented on #1570
Hi
if you want this feature kindly contact me on rocky8roy@gmail.com to discuss further
I have already developed this for someone
thank you

[2020-11-16 16:00] chunter2 opened #3014 "Sort item suggestions by retail price in sales module"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-11-16 16:02] chunter2 commented on #2995
@jekkos Did you have a chance to take a look at this?  And should this be marked as a bug?

Thanks

[2020-11-16 16:38] jekkos commented on #2995
Not yet.. I'll try to have a look tonight.

[2020-11-16 19:13] chrisvell88 commented on #3013
Hi odiea,

Its not working well then. Please refer to attached screenshots. I have Brand selected to search. Typed HP in search and only got 2 results, one of which is not even branded HP. Moreover, in the last screenshot you can see the number of items containing brand HP and not being returned in search.

Can you kindly advice?
![brand](https://user-images.githubusercontent.com/49901801/99297136

[2020-11-16 19:20] odiea commented on #3013
![2020-11-16 12_18_53-Window](https://user-images.githubusercontent.com/10962177/99297830-04c70a00-2806-11eb-9c68-4f19e582bf68.png)

[2020-11-16 19:22] odiea commented on #3013
What you showed was the dropdown for the columns to be displayed not the search.

[2020-11-16 23:20] jekkos commented on #2995
Check the sales model Sale.php, line 198. At first sight it uses the same value as the total there, which is as follows `'ROUND(SUM(' . $sale_price . '), ' . $decimals . ') + ' . $sales_tax`.

[2020-11-16 23:29] jekkos commented on #2995
But that is for the sale_due. There is also a change_due, check Sale.php, line 200. It's defined as follows

`(MAX(payments.sale_payment_amount) - ($sale_total)) AS change_due`

[2020-11-16 23:30] jekkos commented on #2995
While sale_payment_amount is the following
`SELECT payments.sale_id AS sale_id,
					IFNULL(SUM(payments.payment_amount), 0) AS sale_payment_amount,`

[2020-11-17 08:35] jekkos commented on #3013
Maybe check #2764

[2020-11-17 11:29] jekkos commented on #3012
I agree, something like this would be nice. I feel it should be designed in a generic way so people can choose which reports to display.. for example by embedding some of the graphical reports in a tiled setup and have this configured through global config.

[2020-11-17 11:30] jekkos commented on #2995
Sop it seems that this change due is not rounded to `$decimals`, while initial sale_price is in fact rounded. Adding this might solve the issue here.

[2020-11-17 11:49] chunter2 commented on #2995
@jekkos There may be a problem with the change due as well, I haven't had a chance to look yet but I still think the Amount Due is incorrect.  It should be $30.40 in my example above, not $30.41.  I think the amount due should be calculated the same way as the total on the sales receipt.

[2020-11-17 11:55] mckaygerhard commented on #3010
i am at panama and i develop a integration with thos fiscal printers.. @jadoux

[2020-11-17 13:51] chrisvell88 commented on #3013
You have 3 screesnhots depicting all steps one by one @odiea

[2020-11-17 14:13] odiea commented on #3013
And you did not pay attention to what I stated or showed to you

[2020-11-17 15:59] jadoux commented on #3010
@mckaygerhard thanks, you can get in touch at 69931111

[2020-11-17 16:53] #3005 closed

[2020-11-17 17:08] odiea commented on #3013
1. Go to Items.
2. Click on Select then choose Search Attributes.
3. Add the attribute you are looking for in the search box.
Then the attribute you selected should show as expected.

[2020-11-17 17:17] chunter2 opened #3016 "Default register mode question"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-11-17 17:21] WebShells commented on #3016
Hello there, it's available there but i guess there is an issue with the functionality needs to be re-checked.
You can set it there from the configuration section.

[2020-11-17 17:33] odiea commented on #3016
@WebShells That appears to have gone missing in Configuration. What I ended up doing was to add the following line  in sale.lib in the public function clear_all() $this->clear_mode(); and it appears to work for me.

[2020-11-17 17:38] WebShells commented on #3016
@odiea it's not there under invoice section in configuration anymore? it was there in 3.3.2, but as i remember it had an issue in functionality.

[2020-11-17 17:43] odiea commented on #3016
@WebShells You are correct. I just looked in the wrong place for it.

[2020-11-17 18:52] chunter2 commented on #3016
I see it now.  I missed it because I disabled Invoicing and it's greyed out because of it.  It seems to be associated with Invoicing and maybe it shouldn't be?  Maybe that's what wasn't working before.

[2020-11-17 18:55] chunter2 commented on #3013
I wonder if maybe he wants to filter by attribute but still search that filtered list by item name.  Could that be the confusion?  I'm not sure that's possible but would be nice.

[2020-11-17 19:04] odiea commented on #3013
What I can see from the images is he never enabled Search Attributes in the Item Table. Yes it would be nice to have multiple searches available for the Items table.

[2020-11-17 20:43] #3010 closed

[2020-11-18 03:09] mckaygerhard commented on #3010
@jadoux  use telegram i will send you message.. if you dont have installed will lost the contact

[2020-11-18 06:27] ozzylamberth opened #3017 "Importar Orden de Compra"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-11-18 06:33] ozzylamberth commented on #3017
Por los momento importo desde excel creando una tabla temporal el cual recoge cost_price y unit_price para actualizar los precios de todos los artículos en la tabla ospos_items y para actualizar el inventario debo de conocer la existencia sumarla con el nuevo inventario y actualizar la tabla ospos_item_ quantity columna quantity haciendo referencia a item_id. De momento me funciona pero dejo aun l

[2020-11-18 17:26] jiMix27 opened #3018 "i got the same issue "Your system folder path does not appear to be set correctly. Please open the following file and correct this: index.php""
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-11-18 17:28] jiMix27 commented on #3018
and also no database.sql on the directory

[2020-11-18 17:29] jekkos commented on #3018
Sorry but if you would have read at least the FAQ in the README then[ you would have known what was going on. ](url)

[2020-11-18 17:29] #3018 closed

[2020-11-18 17:33] jekkos commented on #3014
should be easy to fix (by adapting an order by in the suggestions search query)

[2020-11-18 17:34] jekkos commented on #3009
@andriux1990 let me know if you need help.. would be good to have a PR for this. Thanks!

[2020-11-18 17:35] jekkos commented on #3004
I think at least you'd see a warning that your stock quantity is insufficient? That might already ring a bell no?

[2020-11-18 17:38] jekkos commented on #3006
I don't think there is anything we can do here unless you provide more information.

[2020-11-18 17:38] jekkos commented on #2999
Thanks and in master, will close.

[2020-11-18 17:38] #2999 closed

[2020-11-18 17:40] #2967 closed

[2020-11-18 17:40] jekkos commented on #2967
Verified myself and was fine, will close again.

[2020-11-18 17:41] #2972 closed

[2020-11-18 17:41] #2965 closed

[2020-11-18 17:42] jekkos commented on #2965
No further response, so let's assume all is fine. Will reopen if needed.

[2020-11-18 17:47] jiMix27 commented on #2182
I Try this and got this ERROR
An uncaught Exception was encountered
Type: Error

Message: Call to undefined function bcscale()

Filename: /var/www/html/opensourcepos/application/hooks/load_config.php

Line Number: 42

Backtrace:

File: /var/www/html/opensourcepos/public/index.php
Line: 315
Function: require_once

[2020-11-18 17:49] jekkos commented on #2182
Please read the FAQ and installation instructions

[2020-11-18 17:57] jiMix27 commented on #2182
i followed the installation instructions. then i got the error
This page isn’t workinglocalhost is currently unable to handle this request.
HTTP ERROR 500

I used this opensourcepos.20200903075833.3.3.2.bb309c.zip

[2020-11-18 18:18] jiMix27 commented on #3018
On Thu, Nov 19, 2020 at 1:30 AM jekkos <notifications@github.com> wrote:

thank you for the rply,  FAQ and i already downloaded the release (
opensourcepos.20200903075833.3.3.2.bb309c)

and then i created the database credentials and import the database.sql,
and go to browser localhost/ospos/public/index.php and i got the error
This page isn’t working HTTP ERROR 500 #2182

[2020-11-18 18:29] odiea commented on #3018
And did you edit the application/config/database.php file? Also fill out the Installation Information.

[2020-11-18 19:07] chunter2 commented on #3004
Yes, you get a warning but it doesn't calculate the total because the quantity must be overflowing something.  If you look at my first screenshot you'll see the second item has a huge quantity but a zero in the total for that item.  It basically skips it altogether.

[2020-11-18 22:44] jekkos commented on #2182
Ok probably you don't have php setup correctly, best is to enable logging to see what is going on

[2020-11-19 03:16] jiMix27 commented on #3018
On Thu, Nov 19, 2020 at 2:29 AM odiea <notifications@github.com> wrote:

i already put my database credential
host
user
pass
db name

[2020-11-19 12:01] saurabh261187 commented on #2967
This works. Thanks :D

[2020-11-19 12:14] saurabh261187 opened #3019 "Change in Email Bill format"
### Installation information

OSPOS version : opensourcepos.org · 3.3.3 - 2393c2.
Server Software: Apache/2.4.29
PHP Version: 7.2.24-0ubuntu0.18.04.7
MYSQL DB Version: 5.7.32-0ubuntu0.18.04.1

### Issue / Bug  / Question / New Feature

Before updating my ospos version from 3.3.2 to the above version from the unstable build opensourcepos.20201115225224.master.2393c2 , the Email bills in PDF format

[2020-11-19 14:42] odiea commented on #3019
It appears you are missing the invoice.css file.

[2020-11-19 15:25] C0deGyver opened #3020 "demo is down"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-11-19 21:28] jekkos commented on #3019
@odiea how did you conclude that?

[2020-11-19 21:32] odiea commented on #3019
It appears that there is no Invoice.css formatting.

[2020-11-19 22:29] C0deGyver commented on #3020
it is now back up

[2020-11-19 23:22] asakpke commented on #3012
I'm willing to work but I have not worked on v3 yet and I have available in weekends. Since 2015, a lot of things are changed. I need guidance, feedback, help etc.

[2020-11-20 11:42] rocky8roy commented on #2936
Hi
I can do this
Kindly contact me on rocky8roy@gmail.com to discuss further

[2020-11-20 11:57] jekkos commented on #3012
I think at the time @daN4cat had some nice ideas in using reportico for this. #1433 . I think he did some work using that tool outside of ospos.

[2020-11-20 13:13] haeckse commented on #2890
@jekkos  I want to inform you, that I have been asked to pay for the implementation of this feature request. I have filed this issue because I consider OSPOS to be a classic open-source project, and I saw ways for enhancements when installing OSPOS on a server for a friend's Pizzeria. I myself do not own a business, so I would not benefit from such enhancements.
If paying for new features is an in

[2020-11-20 16:23] jekkos commented on #2974
If you have the old items deleted then it might be fine. I think @objecttothis did quite some improvements to the import that is now open in a PR which I will try to review very soon

[2020-11-20 16:52] objecttothis commented on #2974
Yes, with my PR you will now be able to do an item update by including the item_id of the item you want to re-import, correct or add data to.

[2020-11-20 19:41] objecttothis commented on #2890
@haeckse Because of the nature of the project, OSPOS can be contributed to by anyone with the skillset required to do that.  People submit feature requests all the time and often the ones that get implemented are the ones that the developers themselves benefit from.  For example, I run a business that may benefit from this feature, so I don't mind submitting the Pull Request with the code for free

[2020-11-20 19:42] objecttothis commented on #2890
@haeckse to clarify, I would benefit from this feature but it isn't high on my list of features that I need anytime soon, so it would take me awhile to get to it.  My comment above was not meant as a promise to do the work.

[2020-11-20 20:25] emmanuelff opened #3023 "instalación ospos 3.3.2 en subdominio"
hi, i'm trying to install ospos in a subdomain, the provider is ipage, and i get the error 500 "Internal Server Error
The server encountered an internal error or misconfiguration and was unable to complete your request.

Please contact the server administrator, and inform them of the time the error occurred, and anything you might have done that may have caused the error.

More information about t

[2020-11-20 21:23] haeckse commented on #2890
@objecttothis Thanks for the clarification. Of course, any developer can offer paid services as a contractor for making amendments if it is permitted by the software license. But the intention should be clearly communicated from the very beginning, not after having emailed back and forth a couple of days. Maybe I got a bit too upset about it, but anyway, as mentioned, I personally do not need the

[2020-11-20 21:49] objecttothis commented on #2890
I see.  It sounds like the primary issue is that you thought that @rocky8roy offered to help with the enhancement for free but it was only after several exchanges that you realized that he was wanting to do the enhancement for a fee.  Sounds like a misunderstanding.  I don't think there is anything in the license that prevents people from charging for code contributions.  It's primarily there so t

[2020-11-21 11:58] rocky8roy commented on #1570
Hi
I have this feature ready.. if you want it kindly contact me on rocky8roy@gmail.com to discuss further
thank you

[2020-11-21 12:00] rocky8roy commented on #211
Hi
I have this feature ready.. if you want it kindly contact me on rocky8roy@gmail.com to discuss further
thank you

[2020-11-21 12:09] rocky8roy commented on #2890
thanks for your explanation!
just in case if anyone want this feature I can do it for a nominal fee and would love to PR too if client agrees
thank you!!!!!!

[2020-11-21 12:18] rocky8roy commented on #2285
@Jalani7575 Hi
kindly explain what exactly you are looking for?
you want to get individual dues of all customer on sale regiter so that you can ask customer to clear the dues?

[2020-11-21 12:21] rocky8roy commented on #24
Hi
any update on this?

[2020-11-21 12:22] rocky8roy commented on #24
if no-one has started working on this then I may consider working on it for a fee and would love to pr it
kindly let me know if anyone want this feature
contact me on rocky8roy@gmail.com to discuss further
thank you

[2020-11-21 15:37] objecttothis commented on #2890
@rocky8roy If someone wants to do this, it's fine, but so that there is no misunderstanding, please make sure that you specify at the beginning of your conversation that your work is paid.

[2020-11-21 17:05] tm-tomal opened #3025 "OSPOS LOGOUT ISSUE"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-11-21 17:20] odiea commented on #3025
You can try looking thru these to see if it helps.
https://github.com/opensourcepos/opensourcepos/search?q=auto+logout&type=issues

[2020-11-21 19:22] atifbuttonline commented on #3012
I am also interested in this DASHBOARD-Issue

[2020-11-22 08:15] edzofcit commented on #24
Interested. How much?

On Sat, Nov 21, 2020 at 8:23 PM rocky8roy <notifications@github.com> wrote:

--
Thanks,

Eddie F. Ybañez

[2020-11-22 08:57] daN4cat commented on #24
Please check what has been implemented with Due payment type and make it consistent.
Please read #1427.

[2020-11-22 17:12] SteveIreland commented on #2975
Just about ready to publish ... I have a few more changes, but ran into an interesting issue.   At the detail level I have be able to adjust the total sales and cash due numbers by the cash adjustment.  But none of the summary reports account currently factor in payments.  I cannot adjust "total sales" by the cash adjustment amount unless I add the additional overhead of creating a temporary table

[2020-11-22 18:09] SteveIreland commented on #2975
Here is what a receipt looks like in a cash rounding scenario. In this case the system rounded up to the nearest HALF-FIVE.  The cash adjustment is now being reflected as a payment type which is flagged as an adjustment so that it can be ignored in payment totals.

![image](https://user-images.githubusercontent.com/23066623/99911612-ab5a5180-2cc3-11eb-972d-8ed30b8703a8.png)

[2020-11-22 18:30] SteveIreland commented on #2975
And here is how it currently looks in the payment summary.  While it appears to balance under the transaction amount column, it doesn't under the payments column, but then because we randomly threw in an upcharge due to cash rounding it seems like it's got to be out of balance somewhere.   I recall this query is used for other purposes so I'm not sure what the effect down-line will be.

![image](h

[2020-11-22 18:32] odiea commented on #2975
@SteveIreland The payment summary is also used in Cashups.

[2020-11-22 19:07] SteveIreland commented on #2975
Pull request #3026 has been submitted for testing.  But I suspect there are a couple of issues that will need to be addressed before it's ready.

[2020-11-22 19:09] SteveIreland commented on #2975
Also, identifying and migrating earlier "cash sales" hasn't been started yet.

[2020-11-22 19:15] asakpke commented on #3012
I'm running Free Web Development (FWD) sessions online weekly, Saturday 10 PM to 12 AM (Pakistan standard time GMT+5) https://meet.google.com/bgj-kjcs-vwq 📞 03005393652 Videos ▶️/asakpke.

My plan is to continue OSPOS development in my FWD sessions & grab IT literates involved in OSPOS development. This session is mainly in Urdu/Hindi language but English speakers are welcome to join & we will swi

[2020-11-23 12:16] rocky8roy commented on #24
It will cost $750 and I will do this on priority as so many people want it
how people are going to pay?
will there be single payment which someone will do or individuals are going to pay in parts?

[2020-11-23 12:18] rocky8roy commented on #24
yes I have checked it thanks for your comment
if anyone want to add something that how they want this debt function to be implemented then they are welcome to do that.. I will consider their comments and try to implement it in best way

[2020-11-23 12:18] WebShells commented on #24
@opensourcepos/org 🤔 😅

[2020-11-23 12:19] rocky8roy commented on #24
I have already implemented this sms feature on sale
if you want it kindly contact on rocky8roy@gmail.com to discuss further

[2020-11-23 12:29] rocky8roy opened #3027 "SMS on sale complete module is available now for usd 99 only"
Hi,
I have seen many people asking for this feature
I have implemented it and If anyone want it kindly contact me on rocky8roy@gmail.com to discuss further
I will implement it and integrate it in your ospos script for a fee.
thank you!

[2020-11-23 13:20] odiea commented on #24
I sure hope that you are quoting prices in Honduran limpere.
It will cost $750 and I will do this on priority as so many people want it
how people are going to pay?
will there be single payment which someone will do or individuals are going to pay in parts?

[2020-11-23 13:23] rocky8roy commented on #24
No Its in USD
Cost will be 750 USD

[2020-11-23 13:29] odiea commented on #24
I guess I am just checking to see what planet your from. This is open source so good luck.

[2020-11-23 13:42] rocky8roy commented on #24
I hope you also understand that this feature require time and a lot of programming
I guess because of its complexity this feature is pending even after 5 years

[2020-11-23 13:49] WebShells commented on #24
Or for the fact that there are contributors to this project who works depending on their availability.
That doesnt mean the feature needs 5 years to accomplish, please keep pricing reasonable.

[2020-11-23 13:58] WebShells commented on #24
**As a notice:** @opensourcepos/org team **doesn't hold any responsibility** for any task or job assigned or accomplished by any **third-party freelancers**.
Please notice that the process **isn't verified** by any of the project developers nor team members thus you should do it at your own responsibility.
In case the job wasn't accomplished as agreed on @opensourcepos/org will **not hold any resp

[2020-11-23 15:00] odiea commented on #3027
As a notice: @opensourcepos/org team doesn't hold any responsibility for any task or job assigned or accomplished by any third-party freelancers.
Please notice that the process isn't verified by any of the project developers nor team members thus you should do it at your own responsibility.
In case the job wasn't accomplished as agreed on @opensourcepos/org will not hold any responsibility about i

[2020-11-23 15:02] odiea opened #3028 "Third Party Freelancers Notice"
Thanks @WebShells
As a notice: @opensourcepos/org team doesn't hold any responsibility for any task or job assigned or accomplished by any third-party freelancers.
Please notice that the process isn't verified by any of the project developers nor team members thus you should do it at your own responsibility.
In case the job wasn't accomplished as agreed on @opensourcepos/org will not hold any resp

[2020-11-23 15:22] rocky8roy commented on #24
ok considering open source project and other factors I am changing the final cost to 550 USD
This is the final price
If anyone want this feature can contact me on rocky8roy@gmail.com
thank you

[2020-11-23 15:41] objecttothis commented on #24
It's also important to note that in order for any modules to be included in the master, whether done by regular contributors or freelancers, it must pass code review and be deemed useful for the community.  All this really means is that code that is poorly written and/or designed won't be merged into the master without modifications and as much as one person might want it, modules such as race car

[2020-11-24 05:29] #2966 closed

[2020-11-24 17:40] jekkos commented on #3028
Maybe this is something we should add to the README.md? Or Contributors file?

[2020-11-24 17:44] odiea commented on #3028
Currently this is a just a warning for people that want others to do their changes.

[2020-11-24 17:45] jekkos commented on #3004
Ok it might not behave as expected then. I will have look.

[2020-11-24 19:13] WebShells commented on #3028
I think we can pin it in the issues section. Maybe we should rephrase to cover several sections.

[2020-11-24 19:20] odiea commented on #3028
@WebShells I like your idea about pinning it.

[2020-11-24 21:13] jekkos commented on #2843
Fix is in master now.

[2020-11-24 21:13] #2843 closed

[2020-11-24 21:25] jekkos commented on #3004
I just tried to reproduce this one and indeed, it seems to overflow if you enter more than 14 digits. This is exactly the default precision of a `[float in PHP](https://www.php.net/manual/en/language.types.float.php)`
f

[2020-11-24 21:35] jekkos commented on #3004
Also did a double check on what kind of precision that might be needed to make this work in regions with hyperinflation.. in Zimbabwe 1^22 currency units were exchanged for 1 dollar around 2009.. so we might need to review and do a proper fix in the future.

[2020-11-25 06:08] darkjedeye commented on #2978
Managed to get it sorted... was my own stupidity... had it directed to port 82, and neglected to set the ports option in apache2

[2020-11-25 08:11] WebShells commented on #3028
Lets fix a final statement that wouldn't put us in any responsibilities in case of any issues in any third party job. Will handle it

[2020-11-25 10:28] seanrs opened #3031 "Can't Refund"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-11-25 11:01] WebShells commented on #3006
Issue confirmed

[2020-11-25 11:10] WebShells commented on #3031
Please fill in issue template and describe the problem in details so we can better support you.

[2020-11-25 11:30] WebShells commented on #3006
ERROR --> Severity: Warning --> session_start(): Failed to decode session object. Session has been destroyed /maindir/vendor/codeigniter/framework/system/libraries/Session/Session.php 143

[2020-11-25 11:36] WebShells commented on #3006
I think it's related to session regeneration destroy  ?

[2020-11-25 11:56] darkjedeye opened #3032 "Can't add new items"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-11-25 12:09] odiea commented on #3020
A Database Error Occurred
Unable to connect to your database server using the provided settings.

Filename: core/CodeIgniter.php

Line Number: 518

[2020-11-25 18:28] odiea opened #3033 "Receivings return has inaccurate info."
I created a Receiving with 1 Item. You can see by the image what is happening when I try to Return that Receiving.  I believe this is also happening with earlier versions.

OSPOS Installation Info: 3.3.3 - e72dc7
Language Code: en-US

Extensions & Modules:
» GD: Enabled ✓
» BC Math: Enabled ✓
» INTL: Enabled ✓
» OpenSSL: Enabled ✓
» MBString: Enabled ✓
» Curl: Enabled ✓

User Configuration:
.Brows

[2020-11-25 18:53] jekkos commented on #3020
OK thanks for bringing this to my attention @odiea . I checked the logs and saw that both databases had disappeared.. pretty weird. The logs seemed to indicate that the sql severs did crash and a recovery was needed.

I checked and the default user has rights to drop tables but also the whole db. I will enable some more logging now to investigate further if it happens again.

[2020-11-25 18:56] jekkos commented on #3033
The total seems off ?

[2020-11-25 18:58] odiea commented on #3033
Yes it does. Sorry I should have noted that in the issue.

[2020-11-25 19:11] rocky8roy commented on #3023
hi
I can provide installation support for a fee!
if you are interested then you can contact me on rocky8roy@gmail.com

[2020-11-25 19:19] jekkos commented on #3006
@WebShells were you able to reproduce this issue on your install then?

[2020-11-25 19:20] jekkos commented on #3033
Ok think I have found the culprit. Good find.

[2020-11-25 19:21] jekkos commented on #3033
Should be fixed in master now.

[2020-11-25 20:10] #3033 closed

[2020-11-26 01:35] seanrs commented on #3031
Can't add refund in Invoice

[2020-11-26 03:46] jadoux commented on #1012
I have the same requirements, I am assuming that more fields are added in the code that require to be changed by now, I see multiple 'sale_id' lines in the same php, do we have to change them all now?

[2020-11-26 12:41] #3032 closed

[2020-11-27 17:09] jekkos commented on #3031
@seanrs How do you mean add a refund? Return the whole invoice?

[2020-11-27 18:49] odiea commented on #3031
It appears that hew would like to add more then 2 payments to his Invoices?

[2020-11-28 04:54] seanrs commented on #3031
For example, when you go to Sales, then select Invoice and then add items. Let say, you add 1 item, and it costs 10 USD, then on amount tendered type 5 USD and click add payment, then click on invoice. Go to Daily Sales and find that invoice, click on update and you will see refund type below the payment type. Now, i will choose another payment type and put 8 USD, which is 3 USD over, then click u

[2020-11-29 02:31] robbytriadi commented on #2843
@jekkos thank you :)

[2020-11-29 02:48] robbytriadi commented on #2844
I use version 3.2.3 - 4484a4. Inventory date doesn't update when sale or receiving date updated
![image](https://user-images.githubusercontent.com/49820621/100530708-ef030d00-3227-11eb-9fdb-69f17240d1e3.png)

Thank you

[2020-11-29 06:20] jkunaraj opened #3034 "datetimepicker issue in "Detailed Receivings Report""
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-11-29 09:58] jekkos commented on #2844
@robbytriadi can you try latest master build? On my side this is working as it should.

![Screenshot from 2020-11-29 10-57-45](https://user-images.githubusercontent.com/576234/100538711-c253f300-3231-11eb-9e50-fa144654801c.png)

[2020-11-29 13:06] robbytriadi commented on #2844
@jekkos I've tried and its works. Thank you for fix this.
What I mean is if the date in receiving reports or sales (both report and daily sales are updated), the date in inventroy table isn't update

[2020-11-29 18:29] daN4cat commented on #3034
Nice picture, just missing the subtitles....

[2020-11-29 19:29] jekkos commented on #3034
I wanted to reply with a picture I took from the situation in latest master

[2020-11-29 19:30] jekkos commented on #3034
![Screenshot from 2020-11-29 10-57-45](https://user-images.githubusercontent.com/576234/100551550-a8420100-3281-11eb-992c-58c7588fab61.png)

[2020-11-29 22:57] #3034 closed

[2020-11-30 02:18] seanrs opened #3035 "Date, Quantity, and Money Amount Need to Improve Their Alignments"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-11-30 03:26] truchosky opened #3036 "Cashup multiple users?"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-11-30 13:52] maravento commented on #308
Someone could indicate the link to the instructions of the program where it appears clearly "how a client can access the application (server in local network) from the browser" (I have searched and it does not appear anywhere)

[2020-11-30 14:07] maravento opened #3037 "How ospos works on a local server"
Issue [# 308](https://github.com/opensourcepos/opensourcepos/issues/308) asks the question "ospos on the local network". The answers provided are not clear or definitive, nor is there a link to the manual explaining this problem, however it has been closed.
In this case, I am forced to ask the similar question:
**Case**:
opensourcepos is installed on a computer within a class C local network (192.

[2020-11-30 14:22] maravento commented on #3037
I already read the specs. It is made in php (it is a web page) so it can be accessed from any client (with any operating system) to the server by the browser. Thank you

[2020-11-30 14:22] #3037 closed

[2020-11-30 14:24] odiea commented on #308
Open the browser then input the address/ followed by whatever you named this/ then public and it should work.

[2020-11-30 22:02] jekkos commented on #2844
how do you mean? the inventory table is updated every time a quantity changes.

[2020-11-30 22:05] jekkos commented on #2844
![Screenshot from 2020-11-30 23-05-09](https://user-images.githubusercontent.com/576234/100671286-88353f00-3360-11eb-9855-d19b377edbe1.png)

[2020-12-01 01:41] robbytriadi commented on #2844
@jekkos if you change the date of POS 1 in Daily sales or report (ex: transactions), the date of POS 1 in inventory table doesn't change. So, the date in sales report and inventory will be different

[2020-12-01 07:56] #2957 closed

[2020-12-01 20:51] jekkos commented on #2844
Ok I see what you mean.

[2020-12-01 21:42] jekkos commented on #2844
@robbytriadi I did a fix for this, you can find a build on bintray soon.

[2020-12-01 21:57] #2984 closed

[2020-12-02 01:21] robbytriadi commented on #2844
@jekkos thank you

[2020-12-02 09:40] jekkos commented on #3036
@truchosky interesting are you using ospos with multiple cashiers at the same time? It sounds like this one should be easy to fix (just add employeeId to the query to find totals).

[2020-12-02 12:14] truchosky commented on #3036
Exactly, at the same time

El mié., 2 dic. 2020 6:41, jekkos <notifications@github.com> escribió:

[2020-12-02 12:40] chunter2 commented on #3016
@jekkos Could you take a look at this?  I think this is a bug because disabling Invoicing shouldn't disable the Default Register Mode.  It should only limit what's selectable.  Maybe that option should go under General instead of Invoice.

Thanks

[2020-12-02 12:42] chunter2 commented on #3007
This is fixed with this commit.  https://github.com/opensourcepos/opensourcepos/commit/20d78224a4429f430d239a1cfa785da41b3c26a1

[2020-12-02 13:36] #3007 closed

[2020-12-02 21:01] jekkos commented on #3028
OK I have pinnned the issue now it's clearly visible.

[2020-12-02 22:38] truchosky commented on #3035
a picture is better, besides if this is some kind of improvement in view side you can do your self

[2020-12-04 22:48] jekkos commented on #3004
Fixed and in master. Will close.

[2020-12-04 22:48] #3004 closed

[2020-12-04 22:49] jekkos commented on #2844
@robbytriadi in master now (for your convenience)

[2020-12-04 22:49] #2844 closed

[2020-12-04 23:20] jekkos commented on #3016
@chunter2 I did a fix for this one. It should be on the dev server soon. Could you check if it works as expected? Thanks.

[2020-12-05 00:54] chunter2 commented on #3016
@jekkos I just tried applying your commit to my test system and it seems to work but maybe not the way I expected.  It only seems to take affect once I've done a sale or return.  For example, if I go and set it in config to Return and then go to the sales module it still shows as Sale.  If I choose Return in the sales module but then click on other modules and come back it stays on Return.  Same t

[2020-12-05 01:47] robbytriadi commented on #2844
@jekkos thank you. Is it the updated one? https://bintray.com/jekkos/opensourcepos/download_file?file_path=opensourcepos.20201205004429.fix-default-register-mode.943856.zip

[2020-12-05 09:43] jekkos commented on #3016
Yes I think the mode is only set if there is no mode yet in the session, as you describe.. so indeed if you were in the process of adding items to the register, it should stay in that mode, and only select the default one after the session state was cleared. Does that make sense?

[2020-12-05 09:44] jekkos commented on #2844
You can download latest master branch instead @robbytriadi

[2020-12-05 16:39] chunter2 commented on #3016
@jekkos Looks like this isn't working correctly.  The complete button won't show up when you add a payment for the full amount.  If you switch to return the complete button comes up and then you can switch back to sale and the complete button stays and you can finish the transaction.

[2020-12-05 19:40] SteveIreland commented on #3016
I've confirmed this last issue.  It is behaving like an Invoice.  If a customer the "Invoice" button is presented.

[2020-12-06 16:44] robbytriadi commented on #2844
@jekkos its works! thanks a lot!

[2020-12-06 22:24] jekkos commented on #3019
@saurabh261187 can you try master build and report back if this fixes the issue?

It might be that in certain setups the css file was not found (as I think that base_url did not include the public part in the URL). In fact if the css lookup happens relative to the current page it should be fine. It's also consistent with the CSS href's in the header.php now.

[2020-12-08 18:07] odiea commented on #3031
Now I understand. When an overpayment is done thru the update modal and an overpayment is made it is not updating the refunding amount where the Daily Sales table ,Invoice and Receipt are showing the Refund amount or Change due amount
,

[2020-12-09 14:09] SteveIreland commented on #3031
I'm working in this arena anyway, so I'll incorporate it.

[2020-12-09 18:49] #3027 closed

[2020-12-09 18:50] jekkos commented on #3027
Sorry I close, our issue tracker is not a free advertisement channel

[2020-12-09 20:08] odiea opened #3041 "Unknown Change Due in Daily Sales or Takings after updating."
OSPOS Installation Info: 3.3.3 - e72dc7
Language Code: en-US

OSPOS Timezone is Different from your Local Timezone.

Local Timezone:
America/Denver

OSPOS Timezone:
America/New_York

Extensions & Modules:
» GD: Enabled ✓
» BC Math: Enabled ✓
» INTL: Enabled ✓
» OpenSSL: Enabled ✓
» MBString: Enabled ✓
» Curl: Enabled ✓

User Configuration:
.Browser: Chrome
.Server Software: Apache/2.4.33 (Win64) O

[2020-12-09 21:00] SteveIreland commented on #3041
I'll take a look at this one too.

[2020-12-09 21:02] odiea commented on #3041
I did not update anything I just clicked on Submit. Thanks for all you help.

[2020-12-10 02:04] SteveIreland commented on #3041
I was able to replicate the issue tonight and also confirmed that it is just a reporting issue and that the changes are not reflected in the database.  This looks like something I should be able to include in my cash rounding fix which, if there are no crises, should be in its final form this weekend.

[2020-12-10 03:49] chunter2 commented on #2995
@SteveIreland Could you possibly take a look at this too? I think it has to do with rounding like the issues you're working on.

Thanks

[2020-12-10 19:04] odiea commented on #3041
@SteveIreland as a non programmer I resolved this issue by adding in Tabular_helper  $change_due = ($sale->amount_due - $sale->amount_tendered); in function get_sale_data_row($sale). You can probably come up with a better idea.

[2020-12-12 16:20] jekkos commented on #3016
Ok I was just thinking, does it make sense to have this feature in the end? I mean I think the default case here will always be doing a sales receipt no? I seldomly find myself selecting something else, and when I do then it's always for a one time occurence..

I feels that it would need some time investment to polish it otherwise.. as @SteveIreland points out the dropdown should be refreshed usin

[2020-12-12 23:04] chunter2 commented on #3016
@jekkos I agree with your comment.  For my use-case it should always default to sales.  We just ran into a problem when we processed a return and then processed the next transaction assuming it was set to sale and it was still set to return.  The negative signs everywhere should have been obvious but were missed.  :)  I'm good with removing the option all together as long as it defaults to sale ea

[2020-12-13 00:54] SteveIreland commented on #3016
The "retain mode" option was intended to be a convenience for sites primarily use invoicing.   The client I was supporting at that time was about a 50/50 mix of POS and Invoicing.  They didn't complain about the behavior, but I don't think it would be a problem if the default was always POS.  After all, it is a POS system.

[2020-12-13 12:59] odiea commented on #2989
Is this Wholesale price always the same percent of cost price markup?

[2020-12-13 16:29] jekkos commented on #3016
@SteveIreland Ok I see where this is coming from. In this case it might make more sense to stick to the last mode used within the session instead? We could opt to remove the clear in the sale_lib after a sale is completed so that in case you are doing a batch of invoices or something, you just stay where you left? I think that at least would make more sense then having an option in the config for

[2020-12-13 19:10] chunter2 commented on #3016
@jekkos I would vote with @SteveIreland to always set it back to sale by default.  That's what I was hoping that setting would do for me.

[2020-12-14 03:44] andriux1990 commented on #3023
Your @emmanuelff .. you are violating the ospos license.
https://bagents.net/webba
https://nicapos.bagents.net/login

They are violating the license

[2020-12-14 11:20] #3023 closed

[2020-12-15 08:13] #2973 closed

[2020-12-15 08:49] jekkos commented on #3019
I have done a quick test locally and PDF generation seems fine now. I close.
[Invoice.pdf](https://github.com/opensourcepos/opensourcepos/files/5694469/Invoice.pdf)

[2020-12-15 11:50] daN4cat commented on #2973
Not sure how come I could reproduce this but not anymore, at the moment it's not an issue.

[2020-12-15 12:27] daN4cat opened #3042 "Add item, add payment, edit item discount, transaction is completed with an amount due"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-12-15 13:03] jekkos commented on #3042
@daN4cat in case you add a discount after payments are added, I would say that it would make sense to have an amount due only if they pay cash.
If they are paying using 100% credit or debit card, I suppose it does not make sense to give them an amount due, unless a customer eg asks to have some cash on top of his payment. This latter case sometimes does happen as people find it easier or cheaper t

[2020-12-15 16:40] daN4cat commented on #3042
I prefer to reset the payments to none to avoid the issue.

[2020-12-15 20:15] jekkos commented on #3042
Not sure if that makes sense. Why don't they just remove the payment manually then? I think you can't really make too much assumptions here, the discount should have been applied before the payment addition.

If the payments are wrong after adding a discount they could also just remove the payments manually and add them again?

[2020-12-16 01:10] SteveIreland commented on #3042
So, the concept of change the price, discount, or quantity after the payment has been received wasn't something I ever expected.  My assumption has always been that the payment transactions would be cleared and re-added.  I definitely need for this to be the case for the way I'm currently handling cash rounding transaction.

I vote for automatically removing payments if there are any changes that

[2020-12-16 01:38] chunter2 commented on #3042
I believe this is where I first ran into issues with @SteveIreland 's initial cash rounding to the nearest 5 cent commit.  I believe the complete button showed up even though amount due was negative.  And this may be part of his fix?

[2020-12-16 09:55] daN4cat commented on #3042
@jekkos the reality is that now with discounting full steam due covid-19 mess I see plenty of errors. There is no way to control it and it's better to reset  than figure out rules. It's also dangerous to emit a receipt stating an amount due because customers can come back and claim money they didn't receive. CCTV footage will be on their side because there was no cash handling.
It complicates the

[2020-12-16 09:58] daN4cat commented on #3042
Also, sales assistants focus on customers during the transaction and expect few clicks to do it for them.
Alternative would be to block the editing of items with a payment set. But that constraints the matter.

[2020-12-16 11:15] daN4cat commented on #3042
I've committed the change to empty payments on item edit change.
Receivings doesn't have any similar behaviour so there is no reason to empty payments.
However, should we add a similar multipayment story we would need to add to Receivings too.

[2020-12-16 11:17] jekkos commented on #3042
@daN4cat the order of action still sounds a bit weird.. we would only ask a customer to pay after we know what the total amount is, and then ask for the payment method preference.

But I agree we should limit the room for error.
* If we force them to clear payments manually, then intuitively they know they need to add the payment again after edit (as they removed it first)
* If we clear the paymen

[2020-12-16 11:20] daN4cat commented on #3042
That's the purpose, if it's greyed out pay attention to the new total.

I committed the reset. Believe me, as much as you can remind people, they will not follow the process you have in mind and it's better to follow them and prevent the mistakes.

Also @SteveIreland says that without this step his part won't work properly.

[2020-12-16 11:21] #3042 closed

[2020-12-16 12:12] georgegoldman commented on #923
thanks so much

[2020-12-16 12:48] chunter2 commented on #3042
I like this change but have another use-case I run into that I don't know how to fix.  In my case the cashiers don't click the complete button until they've processed the debit or credit through the payment terminal.  Once that's approved they click complete.  The problem is if the client doesn't want a receipt from ospos they forget to click complete.  Then they start scanning for the next client

[2020-12-16 13:08] jekkos commented on #3042
@chunter2 in this case you suggest that the first option would be better?

That was also my first point, we can't make too much assumption on what a user is doing (or doing wrong). So it's probably more defensive to block the input.

[2020-12-16 13:47] daN4cat commented on #3042
To do not press the complete button has nothing to do with this change.
No matter previous or current, if you don't click complete you can keep adding as much as you like and still don't press complete.

[2020-12-16 13:47] chunter2 commented on #3042
@jekkos Could we have both?  The problem is when the cashiers don't look at the screen.  So maybe keep this commit for everything but the item input box?  And for that box display an error/warning when something is entered to either complete the sale or remove the payment?

[2020-12-16 13:49] daN4cat commented on #3042
That doesn't solve the problem of not clicking complete.

[2020-12-16 13:49] chunter2 commented on #3042
@daN4cat Yes, I agree we still need this commit.

[2020-12-16 13:52] daN4cat commented on #3042
@jekkos to answer your question, they sell one discounted item and process the payment reading the new price from the tag. That's why they mix up sequences. If we had one integrated pos and payment, we would not have this issue.

[2020-12-16 14:01] chunter2 commented on #3042
Maybe I should be creating a new issue.  Basically I want the barcode scanner to stop working if a payment was entered.  And yes, one integrated pos and payment system would fix this.  :)

[2020-12-16 14:59] daN4cat commented on #3042
@chunter2 that's a different issue. Please create a new one for that request, however I must say that often there are last minute sales when they get to the desk. Usually small accessories and those can be easily added after they added the payment whilst talking with the customer.

[2020-12-16 15:04] daN4cat opened #3043 "Add item to sales register, add payment, remove item like empty. Add a new item, old payment still set."
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-12-16 15:16] daN4cat commented on #3043
I also add the case when you switch mode, a payment should be reset if doing that because add a return will alter the total and payment needs to be amended.

[2020-12-16 15:36] #3043 closed

[2020-12-16 15:36] daN4cat commented on #3043
Fix committed to master.

[2020-12-16 15:40] #3025 closed

[2020-12-16 18:36] daN4cat opened #3044 "Click quickly twice submit button and entries are duplicated"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-12-16 18:46] daN4cat commented on #3044
We should disable the double click on Submit, they probably double click it causing the problem.

[2020-12-16 18:47] daN4cat commented on #3044
@jekkos I assigned this to you because you worked on the forms, I can't remember how they work and how we could avoid this double click.

[2020-12-16 20:24] daN4cat commented on #3044
Some hints: https://stackoverflow.com/questions/8165018/duplicate-data-insert-in-codeigniter/8165979#8165979

[2020-12-16 20:39] jekkos commented on #3044
I would expect the form to close when clicking submit. Only when you hit the new button it will stay open as a user is probably inserting a batch of new products.

[2020-12-16 20:42] daN4cat commented on #3044
It's not like that, try and double click submit button and see what happens.

[2020-12-16 20:45] jekkos commented on #3044
Do you have csrf enabled? I would expect this to block a double submit.

[2020-12-16 20:47] jekkos commented on #3044
![Screenshot from 2020-12-16 21-47-06](https://user-images.githubusercontent.com/576234/102404669-5078f900-3fe8-11eb-8f74-0748de7a0a07.png)

did a quick test on demo, and indeed, second request is blocked as the token is invalid..

[2020-12-16 20:53] jekkos commented on #3044
![Screenshot from 2020-12-16 21-53-07](https://user-images.githubusercontent.com/576234/102405256-26740680-3fe9-11eb-9908-b10fae795a05.png)
same behavior for customers

[2020-12-16 20:55] daN4cat commented on #3044
yes, csrf is enabled but I still get the issue.

[2020-12-16 21:01] daN4cat commented on #3044
The two submit in y case have different csrf values

[2020-12-16 21:07] daN4cat commented on #3044
I've just created a double entry in demo.opensourcepos.org:

![Screenshot from 2020-12-16 21-06-10](https://user-images.githubusercontent.com/636048/102406613-be222680-3fe2-11eb-8a8c-7876bfd12d6a.png)

[2020-12-16 21:08] daN4cat commented on #3044
I can reproduce exactly the same issue with demo. Just double click on submit.

[2020-12-16 21:14] odiea commented on #3044
Here is what I got testing. @daN4cat is correct with this being an issue.

![2020-12-16 14_11_32-Window](https://user-images.githubusercontent.com/10962177/102407082-c0678f00-3fa8-11eb-9cd8-b27bc5e4d9f1.png)
![2020-12-16 14_11_14-Window](https://user-images.githubusercontent.com/10962177/102407096-c6f60680-3fa8-11eb-98a7-928eae7c631e.png)

[2020-12-16 21:14] daN4cat commented on #3044
Got more about the issue, make sure the names are short like two letters.

[2020-12-16 21:31] jekkos commented on #3044
I tested on mozilla and couldn't create a duplicate... I tried to click really fast.. curious

[2020-12-16 21:35] daN4cat commented on #3044
just put 1 letter for name and surname

[2020-12-16 21:38] jekkos commented on #3044
I would try to add something in the manage_tables to check the dialog state so that it disables the second submit..

[2020-12-16 21:41] daN4cat commented on #3044
Yes please, this is causing issues. Thanks.

[2020-12-16 21:51] jekkos commented on #3044
@daN4cat check my PR I think that solves your issue.

[2020-12-17 00:43] chunter2 commented on #3042
@daN4cat I'm not quite following your use case.  Do they then add a second payment to cover the item that was just added after the first payment was added?  If for example they choose debit on the first payment do they just choose debit again for the second payment?

[2020-12-17 10:38] daN4cat commented on #3044
Tested and works as expected. Brilliant! Thanks a lot, this now solves and explains the double entries.
I merged the PR and I'm going to close this.

[2020-12-17 11:29] chunter2 commented on #3043
@daN4cat I just tried out this commit and it looks like it works for deleting an item but for changing the mode it removed the payment but the complete button still shows up.

[2020-12-17 12:50] daN4cat commented on #3042
@chunter2 yes, you get extra to add and if you add with the same payment method it adds up to the previous one. I don't see an issue here with this flow, I mean there is no potential for mistake unless, again, you don't click "complete". But that's anyway something you need to do.

[2020-12-17 13:02] chunter2 commented on #3042
@daN4cat One inconsistency of this then is the following.  Say you scan item x, then add a payment and then change the quantity for item x.  The payment gets removed.  If you scan item x, then add a payment and then scan item x again to increase the quantity the payment doesn't get removed.

[2020-12-17 13:57] daN4cat commented on #3042
The original issue here was when you discount not add. However the edit item is one so you get the same effect no matter what you touch.
Having said that, people can do what they want, I'm just trying to minimise the obvious mistakes.

[2020-12-17 14:12] daN4cat commented on #2670
@andriux1990 have you managed to get this to work? Would be nice to have a register with ajax and no page refresh....

[2020-12-17 14:36] andriux1990 commented on #2670
@daN4cat  Yes.. I made it work

[2020-12-17 14:36] daN4cat commented on #2670
@andriux1990 any chance to contribute it here?

[2020-12-17 14:40] andriux1990 commented on #2670
Yes .. I'm not at home right now .. I'll share the file with you in a few hours

[2020-12-17 14:48] daN4cat commented on #2670
Thanks a lot!

[2020-12-17 14:53] chunter2 opened #3046 "Disable item box in sales module if payment is added"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-12-17 16:28] daN4cat commented on #3016
I assume this is fine and close this.

[2020-12-17 16:28] #3016 closed

[2020-12-18 09:36] jekkos commented on #1980
It seems that this can be enabled by editing the cookiepath in config.php

https://stackoverflow.com/questions/60634341/codeigniter-3-samesite-attribute-for-csrf-protection

$config['cookie_path']      = '/; SameSite=None';

I'm seeing the following message now locally in FF

Cookie “csrf_cookie_ospos_v3” will be soon rejected because it has the “SameSite” attribute set to “None” or an invalid val

[2020-12-18 10:24] jekkos commented on #1980
Ok this last approach does not work and causes some issues. I have added a method override that now adds the SameSite attribute. Should be harmless for browser that don't support it yet.

[2020-12-18 11:41] jfdesignnet commented on #2680
hi @wizz269, may i ask how you do it on ubuntu server please ?

i've run `SET GLOBAL sql_mode=(SELECT REPLACE(@@sql_mode,'ONLY_FULL_GROUP_BY',''));` on mysql prompt and refresh the page, new item edit dialog box still blank.

also try the sql_mode setting as : `sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION`
on my.cnf, restart mysql serv

[2020-12-18 12:06] kasunSL commented on #1012
IT WORKES!!! i found 3 entries in line 996,793,679. after removing all the 'POS', it works like charm. thankyou @ikikika for heads-up

[2020-12-18 12:07] kasunSL commented on #1012
IT WORKES!!! i found 3 entries in line 996,793,679. after removing all the 'POS', it works like charm. thankyou @ikikika for heads-up

[2020-12-18 13:49] objecttothis commented on #1498
@daN4cat perhaps this allows you to re-enable CSRF check on the login? #1535

[2020-12-18 16:46] jekkos commented on #2680
Can you try our latest unstable master build? I don't think there should be any issue there.

[2020-12-18 17:27] jfdesignnet commented on #2680
hi @jekkos, thanks for replying.
forgive my ignorance, do you mean the latest unstable version from bintray?
i've been tried the opensourcepos.20201217125820.master.7eb310.zip version, still have the same problem, blank new item dialog box. tried the only_full_group_by disabled too.

fyi, on 20.04 focal it works out of the box with default php and mysql, but with 16.04 xenial and 18.04 bionic the

[2020-12-19 08:59] daN4cat commented on #2670
@andriux1990 hope you haven't forgotten about this...

[2020-12-19 13:32] andriux1990 commented on #2670
@daN4cat of course I have not forgotten

[2020-12-19 13:33] andriux1990 commented on #2670
[registerajax.zip](https://github.com/opensourcepos/opensourcepos/files/5719474/registerajax.zip)

[2020-12-19 20:47] daN4cat commented on #2670
Thanks

[2020-12-20 11:53] jekkos commented on #1278
@daN4cat I found some references to apigen docs on your github in the wiki, but link seems broken. Do you still have it somewhere or will I remove it ?

[2020-12-20 17:26] nifrasinnovent opened #3048 "Requires user permission to see only today's data"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-12-20 18:09] daN4cat commented on #3044
@jekkos, there is an issue with this fix and here how it fails:

- go to customer, items or suppliers
- edit one entry
- now empty one of the mandatory boxes to cause an error
- click submit to cause the error notification to pop up
- click the X on the form on the top right to close the box (no change)
- reopen the same entry
- click submit as not changes
- the form will not close

[2020-12-20 21:10] jekkos commented on #3044
@daN4cat I have pushed a fix for this to master. Verified locally and looks fine on my end.

[2020-12-20 21:15] jekkos commented on #3006
Bump @WebShells ?

[2020-12-20 21:23] objecttothis commented on #2974
This needs to stay open until we merge #1412 #3029

[2020-12-21 08:17] daN4cat commented on #1278
Uhm, forgot about that. It's better to remove any link.

[2020-12-21 12:01] daN4cat commented on #3044
@jekkos still the same problem.

[2020-12-21 13:11] jekkos commented on #3044
Ok indeed the fix did not work.

It seems that the 'critical section' of this code also contained the jquery validation logic, apart from it's outcome. So even if the validation was wrong I think it flagged the form as submitted. I had a look inside the jquery validation code and am using some internal plugin flag to check if the form was already submitted. If a request is pending a subsequent one

[2020-12-21 13:16] jekkos commented on #3044
I tested this locally and for now was not able to do any double submit. Also the form still works if you edit something, try to save, close, open and then submit again.

[2020-12-21 13:47] daN4cat commented on #3044
OK, great. I initially posted a comment but wanted to test more bcause not 100% sure Ive uploaded the correct file for my test.
I now give a try to the new one.

[2020-12-21 13:54] daN4cat commented on #3044
Yes, it's now fine. Thanks

[2020-12-21 13:54] #3044 closed

[2020-12-21 14:19] jekkos commented on #841
According to the docs, the bootstrap dom elements should be backwards compatible, so I guess it's a matter of bumping dependencies and then going over all components to see if things are fine

[2020-12-21 16:03] jekkos commented on #3044
Ok great to hear, it did took me a bit longer than expected. Glad to hear it's fixed.

[2020-12-21 16:04] jekkos commented on #3044
Can you approve? Otherwise i'll just merge.

[2020-12-21 17:05] jfdesignnet commented on #2680
silly me, found the problem.
because it's on vps, i cannot check the http output on localhost, and cloudflare always redirect them to https and brings out these issue. i didn't realize until i troubleshoot this on my local network which i did today. fix with this #1867

now it works good all on ubuntu version i tried 16, 18 and 20 with or without docker.
i'm sorry for the troubles, and thank you v

[2020-12-21 20:15] daN4cat commented on #2670
@andriux1990 I cannot find the zip file, have you removed it?

[2020-12-22 07:29] shifasiddeqque opened #3050 "OSPOS Version Upgrade 3.0.2 to 3.3.1"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-12-22 08:21] daN4cat commented on #3050
Where did you get version 3.3.1?

[2020-12-22 10:02] jekkos commented on #3050
Are you certain you are editing the correct php.ini file? There might me mulitple depending on how you have PHP setup. Check the location in phpinfo to see if you got it right.

[2020-12-22 10:50] shifasiddeqque commented on #3050
thank you for the quick Response, Now that error is gone but i am still not able to login, the loader keeps on moving without any luck
![image](https://user-images.githubusercontent.com/14173981/102880630-a67af000-4471-11eb-9e96-23cfd3dd91a2.png)

[2020-12-22 13:57] harshasuraweera opened #3051 "PHP 8.0 error when loading https://localhost/poss/public/index.php"
- PHP version is: 8.0.0

Please write your issue here. If a bug, please make sure to provide as much information as possible including configuration settings (e.g. Decimals set, Tax mode), language, and steps to reproduce the bug.
![errors](https://user-images.githubusercontent.com/54607738/102895984-ae478e00-448b-11eb-9091-34842a46425f.PNG)

[2020-12-22 14:19] odiea commented on #3051
Are you using PHP 8 if so downgrade to a 7 version?

[2020-12-22 17:26] objecttothis commented on #1980
Agreed. We can reopen later if we want to figure out how to close it further.

[2020-12-22 20:06] #3008 closed

[2020-12-22 22:48] daN4cat commented on #1980
Not sure I follow, why was this closed?

[2020-12-23 10:18] shifasiddeqque commented on #2940
Error Number: 1062

Duplicate entry '196901-0-2.5% Cgst' for key 'PRIMARY'

INSERT INTO `ospos_sales_taxes` (`sale_id`, `tax_type`, `tax_group`, `sale_tax_basis`, `sale_tax_amount`, `print_sequence`, `name`, `tax_rate`, `sales_tax_code`, `rounding_code`) VALUES ('196901', '0', '2.5% Cgst', '39.00000', 0.95, 8, 'Cgst', '2.500', '', 1)

waiting to get help
Please help

[2020-12-23 10:26] shifasiddeqque commented on #3050
Please do needful,
now i am getting
Error Number: 1062

Duplicate entry '196901-0-2.5% Cgst' for key 'PRIMARY'

INSERT INTO `ospos_sales_taxes` (`sale_id`, `tax_type`, `tax_group`, `sale_tax_basis`, `sale_tax_amount`, `print_sequence`, `name`, `tax_rate`, `sales_tax_code`, `rounding_code`) VALUES ('196901', '0', '2.5% Cgst', '39.00000', 0.95, 8, 'Cgst', '2.500', '', 1)

 @jekkos @daN4cat
Please he

[2020-12-23 11:56] daN4cat commented on #3050
@shifasiddeqque have you restarted from a copy of your database? Not sure whether trying twice the same operation caused that or not. It's better to restart from an original copy of the database and see if you reproduce.
If yes, it looks like you inserted twice the same item. No sure how but that error means that to me.

[2020-12-23 12:00] daN4cat commented on #3051
PHP 8.0 is not supported yet. It will requires changes for sure, starting from Code Igniter.

[2020-12-23 12:06] harshasuraweera commented on #3051
It worked thank you. 🙂

[2020-12-23 12:07] harshasuraweera commented on #3051
Solved with 7.4 Thank you

[2020-12-23 12:24] daN4cat commented on #3051
Please leave it open because OSPOS and CI3 don't work with PHP8.0 at the moment: https://github.com/bcit-ci/CodeIgniter/issues/6006

[2020-12-23 12:26] daN4cat commented on #3051
I set OSPOS version 4 because that means we need to swithc to CI4, Bootstrap 4 and who knows what else (e.g. Angular/React/View Frontend, REST API)...

Wonder if it would make sense to change framework to do all those changes because the upgrade to BS3 and CI3 meant a lot of work!

[2020-12-23 16:41] odiea commented on #3051
I found this on the CI4 site.
Codeigniter 4.0.4 does not support PHP 8 The community are working on update will should likely be Codeigniter 4.1 and all php8 error is getting fixed.

[2020-12-23 18:32] odiea commented on #3019
@jekkos I just tried sending an Invoice.pdf and it still appears to be an issue. I am using the current bower update branch.
[Invoice-INV-20000599.pdf](https://github.com/opensourcepos/opensourcepos/files/5736600/Invoice-INV-20000599.pdf)

[2020-12-23 18:33] objecttothis commented on #1980
Sorry, perhaps I closed the wrong issue.  Maybe #1498 is the one that needs to be closed.  I was closing it because I thought the issue was resolved with PR #3047 fixing the issue.  Sorry for the confusion.

[2020-12-23 21:44] jekkos commented on #3019
Ok I'm no certain but think bower-update was branched some time ago.. so it might not contain this fix yet.

[2020-12-23 21:45] jekkos commented on #3019
Might be better to verify on master instead? At least I addded evidence after testing and closing.

[2020-12-23 21:59] odiea commented on #3019
@jekkos Did you try sending yourself an Invoice.

[2020-12-24 05:16] shifasiddeqque commented on #3050
@daN4cat Yes i have started from my existing Database.... But that db is working fine with old OSPOS(previous version), I have Updated Code only and retained the old db(added only new required tables and columns), and yes if i check in db , there are 2 enteries for same item ( but i have 1000's of such enteries which is working fine with old code base)......
i can't start from fresh db( which is w

[2020-12-24 05:57] sirajomusa19 commented on #308
I have installed OSPOS on my local machine. The installation is working well. However, after some time, it turns out to be unacceptably slow. I followed some suggestions and as a result changed the host file on windows to disable ipv6, I also commented "LoadModule cgi_module modules/mod_cgi.so"  in httpd.conf.  At first, it improved, but after a day, it seemed to have gone back to the earlier stat

[2020-12-24 05:57] shifasiddeqque commented on #3050
Actually i have 2 enteries one for CGST and 1 for Cgst (both are different) and i have added name to primary as well but no luck...
![image](https://user-images.githubusercontent.com/14173981/103064830-004af980-45db-11eb-87fe-2c16e994ed69.png)

[2020-12-24 14:34] nira168 opened #3052 "Print Shipping address slip"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [] Reporting an issue of an unmodified OSPOS installation
- [] Checked [open and closed issues](https://github.com/

[2020-12-24 22:58] #3013 closed

[2020-12-25 11:07] jekkos commented on #3019
Yes emails are not configured currently on dev server..

[2020-12-25 11:09] jekkos commented on #3019
I checked the generated pdf file in the tmp folder on the docker container instead. So that is the file that is attached to the email.

I did not check the email receipt yet though.

[2020-12-25 15:36] #2978 closed

[2020-12-25 20:49] #3014 closed

[2020-12-25 21:20] #1980 closed

[2020-12-26 17:54] #3052 closed

[2020-12-28 10:49] jekkos opened #3053 "Add upptime widgets to monitor demo/dev status"
This morning I found this [setup](https://upptime.js.org/docs/get-started/). I'm [setting up a page](https://status.opensourcepos.org/) that will monitor three installs/deploys

* demo
* dev
* weblate

Once a server is down, an issue will be automatically created to investigate. Also nice thing is that some statistics will be kept on the uptime of the different servers.

[2020-12-28 12:00] jekkos commented on #3053
I still need to complete the SSL termination on `status.opensourcepos.org` but beside that things are looking fine. I've also setup email notification in case anything goes down. So once this works @odiea this monitoring duty will be fully automated.

[2020-12-28 17:03] daN4cat commented on #3019
@odiea, @jekkos, shall we close this one? It's tagged 3.3.3.

[2020-12-28 17:04] daN4cat commented on #2995
I'm lost here with the last few bugs, are all of these solved with Steve's PR?

[2020-12-28 17:58] #2979 closed

[2020-12-28 18:02] odiea commented on #3019
@daN4cat I am still having issues with the way the pdf is looking after being sent. It appears not to have the invoice_email.css working.

[2020-12-28 19:39] odiea commented on #3019
This is the fix I now have to use for Invoice Emails to show properly. I don't know if they have changed their security setup?
In dompdf/dompdf/scr options I changed lines 160 and 182 to true.
In Invoice_email I had to revert back to the original css
[code]
 and then changed the logo to the receipt logo due to the logo not showing
[code]

[2020-12-28 19:49] midsoft2010 opened #3054 "Adding a sale quantity with a decimal on sale screen"
### Background information

__IMPORTANT: If you choose to ignore this issue report template, your issue will be closed as we cannot help without the requested information.__

Please make sure you tick (add an x between the square brackets with no spaces) the following check boxes:

- [x] Reporting an issue of an unmodified OSPOS installation
- [x] Checked [open and closed issues](https://github.co

[2020-12-28 19:50] midsoft2010 commented on #3054
Am using 3.3.2 and also cant receive items with decimals. someone give me a way through here?

[2020-12-28 19:57] odiea commented on #3054
Have you tried going into configuration/localization and changing Quantity Decimals?

[2020-12-28 20:03] jekkos commented on #2995
Yes I think @SteveIreland was looking into this. Last thing I heard was that he said the PR wasn't functionally 100% done yet. So not sure maybe we can go ahead and release 3.3.3, then do another minor one with his changes after (and address any additional feedback we will get in that one).

[2020-12-28 20:39] daN4cat opened #3055 "Sales register not working properly with due amount and missing customer"
Before releasing 3.3.3 I need to fix this issue.

This code is two years old but it was not right, I'm fixing it.

@jekkos bear with me.

[2020-12-28 20:43] daN4cat commented on #3019
@jekkos could you please fix this? I'm fixing an issue with sales register that I found testing this evening.

[2020-12-28 21:19] jekkos commented on #3019
@odiea thanks for the fix suggestion, great work. I've created a branch with those fixes.

[2020-12-28 21:36] jekkos commented on #3019
[Invoice1.pdf](https://github.com/opensourcepos/opensourcepos/files/5748820/Invoice1.pdf)

[2020-12-28 21:37] jekkos commented on #3019
The number box seems a bit off still

[2020-12-28 21:37] jekkos commented on #3019
@odiea good that you have the image back in there, I'll need to take a look to see how we can embed the correct image format.

[2020-12-28 21:38] odiea commented on #3019
The following also needs updated for the company logo to show.
[code]

[2020-12-28 21:40] odiea commented on #3019
I tried this in a previous version and it works great.

[2020-12-28 23:01] daN4cat commented on #3055
I fixed this issue, however there is another one with mixed mode sale and return.
The payment disappear switching modes and it's set to complete.
This issue was before my change to clear the payment when changing mode, it was never right.
I'll see if I can fix tomorrow.